//字色
$white: #f00
$light-gray: #eee
$gray: #ccc
$dark-gray: #999
$light-black: #555
$dark-black: #111

//主色系與輔助色
$m-color-y: #fde38f
$m-color: #005C9A //藍
$md-color: #00406B //深藍
$ml-color: #007CC6 //淺藍
$m-g: #4DA896 //首頁綠
$mll-color: #eff8fe
$sbox-c: #91B1C7 //陰影藍
$m-org: #DE8D00//icon橘
$sub-color: #c19b57//土黃
$off-color: #b88862//無狀態顏色
$cover-color: #220900

//== 地景網 ==
$t-mcolor: #51423D
$t-supc: #B0BD75

//物件色系
$btn-submit: #ac1a2f//紅
$btn-submit-hover: #971527//深紅

//漸層文字
=grad-txt
    background: -webkit-linear-gradient(top,#99432b,#ffaf2e 40%,#fcff96 48%,#fcffff,#fcff96 52%,#ffaf2e 60%,#99432b)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

=grad-tit
    background: -webkit-linear-gradient(top,#99432b 15%,#ffaf2e 30%,#fcff96 45%,#fcffff,#fcff96 55%,#ffaf2e 70%,#99432b 85%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

//框框線條漸層
=grad-border
    border: 2px solid
    //border-image: linear-gradient(215deg,$m-color02 ,#f5ed8d,) 10
    border-image: linear-gradient(145deg,#775729 10%,#eee33d 20%,#775729 30%) 10
    
//漸層
=grad-b
    background: -webkit-linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0))
    background: -o-linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0))
    background: -moz-linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0))
    background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0))

=grad-his-timeLine
    background: -webkit-linear-gradient(left,rgba(0,0,0,0.5),rgba(0,0,0,0) 10%,rgba(0,0,0,0) 90%,rgba(0,0,0,0.5)) rgba($m-color,0.7)
    background: -o-linear-gradient(left,rgba(0,0,0,0.5),rgba(0,0,0,0) 10%,rgba(0,0,0,0) 90%,rgba(0,0,0,0.5)) rgba($m-color,0.7)
    background: -moz-linear-gradient(left,rgba(0,0,0,0.5),rgba(0,0,0,0) 10%,rgba(0,0,0,0) 90%,rgba(0,0,0,0.5)) rgba($m-color,0.7)
    background: linear-gradient(left,rgba(0,0,0,0.5),rgba(0,0,0,0) 10%,rgba(0,0,0,0) 90%,rgba(0,0,0,0.5)) rgba($m-color,0.7)
    background: rgba(0,92,154,0.7)

=grad-mask
    background: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7))
    background: -o-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7))
    background: -moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7))
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7))

=grad-year-line
    background: -webkit-linear-gradient(#D8D8D8,transparent)
    background: -o-linear-gradient(#D8D8D8,transparent)
    background: -moz-linear-gradient(#D8D8D8,transparent)
    background: linear-gradient(#D8D8D8,transparent)

=transparent-bg
    background: -webkit-linear-gradient(90deg,rgba(#F7F7F7,0.5),rgba(#F7F7F7,1))
    background: -o-linear-gradient(90deg,rgba(#F7F7F7,0.5),rgba(#F7F7F7,1))
    background: -moz-linear-gradient(90deg,rgba(#F7F7F7,0.5),rgba(#F7F7F7,1))
    background: linear-gradient(90deg,rgba(#F7F7F7,0.5),rgba(#F7F7F7,1))

