//===== input 輸入框 =====
.input-area
    margin: 0 0 30px
    label
        font-size: 110%
        color: #555
        margin: 0 0 5px
        display: inline-block
        span.mark
            color: #D2222B
        span.pwd-mark
            font-size: 70%
            color: #D2222B
.input-box
    width: 100%
    position: relative
    label.error
        color: #fff
        padding: 5px 10px
        line-height: 25px
        margin: 0
        background: #CB3D3D
        +position(50%, 3px, null, null,2)
        transform: translateY(-50%)

.input-sty
    font-size: 110%
    color: #555
    width: 100%
    line-height: 44px
    padding: 0 10px
    border: 1px solid #999
    background: #F7F7F7
    box-sizing: border-box
    &::placeholder
        color: #bbb
.input-sty.error
    border: 1px solid #CB3D3D

.input-area2
    margin: 0 0 20px
    .input-sty
        font-size: 100%
        line-height: 38px
        background: #fff

//===== input 輸入框(fin) =====
//===== input 點選框框共用設定 =====
.label-item-wrap
    +flex($flex-s,$c)

.label-item
    cursor: pointer
    padding: 5px
    margin: 0 5px
    +flex($flex-s,$c)
    span
        font-size: 86%
        margin: 0 0 0 5px
//===== input 點選框框共用設定(fin) =====
//===== input 單選框框 =====
.radio-box
    width: 14px
    height: 14px
    padding: 2px 0 0 2px
    border: 1px solid #009aff
    border-radius: 50%
    //background: #fff
    position: relative
    box-sizing: border-box
    +dvm

input[type="radio"]:checked + .radio-box::after
    content: ''
    width: 8px
    height: 8px
    border-radius: 50%
    background: #009aff
    display: block
    //+position(2px, null,null,2px,1)
    
input[type="radio"]
    opacity: 0
//===== input 單選框框(fin) =====
//===== input 復選框框 =====
.check-box-area
    label
        +flex($sb,$flex-s)
        cursor: pointer
.check-box
    width: 13px
    height: 13px
    border: 2px solid $m-color
    border-radius: 2px
    margin-top: 3px
    cursor: pointer
    background: $m-color
    +dvm

input[type="checkbox"]:checked + .check-box::after
    content: '\f00c'
    font-size: 15px
    color: #fff
    transform: translateY(-1px)
    display: block
    // +dvm

.check-box + span
    color: $m-color
    margin: 0 0 0 3px
    transition: .2s
    line-height: 22px
    // +dvm
    display: inline-block
    width: calc(100% - 20px)
    &:hover
        color: darken($m-color,10%)

//===== input 復選框框(fin) =====
//===== switch 開關 =====
.switch
    position: relative
    +dvm
    width: 65px
    height: 30px
    input
        opacity: 0
        width: 0
        height: 0
        &:checked+.slider
            background: #329a04
        &:checked+.slider:after
            content: "on"
            right: 35px
        &:focus+.slider
            box-shadow: 0 0 5px #111111
        &:checked+.slider:before
            -webkit-transform: translateX(35px)
            -ms-transform: translateX(35px)
            transform: translateX(35px)

.slider
    position: absolute
    cursor: pointer
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: #999999
    transition: .4s
    -webkit-transition: .4s
    border-radius: 50px
    padding: 3px
    &:before
        position: absolute
        content: ""
        height: 24px
        width: 24px
        background: #ffffff
        transition: .4s
        -webkit-transition: .4s
        border-radius: 30px
        left: 3px
        bottom: 3px
    &:after
        position: absolute
        content: "off"
        color: #ffffff
        line-height: 25px
        padding: 0 0 0 5px
        right: 15px
//===== switch 開關(fin) =====

//===== 一些設定 =====
//自動選填後會上的色
input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active
    // -webkit-box-shadow: 0 0 0px 1000px rgba(0,0,0,1) inset
    transition: background-color 5000s ease-in-out 0s
    -webkit-text-fill-color: #555

//暗碼CSS
.pasw
    -webkit-text-security: disc
//===== 一些設定(fin) =====

//===== 按鈕設定 =====
.btn-area
    text-align: center
    margin: 35px 0 0

.btn
    font-size: 110%
    color: #fff
    line-height: 20px
    padding: 12px 18px
    background: $m-color
    +dvm
    cursor: pointer
    transition: .2s
    box-sizing: border-box
    &:hover
        background: darken($m-color,10%)
    i
        font-size: 120%
        display: inline-block
        vertical-align: middle
    span
        +dvm

.btn-submit
    position: relative
    input
        width: 100%
        +position(0,0,0,0,1)
        opacity: 0
        cursor: pointer
//===== 按鈕設定(fin) =====

//===== 下拉單 =====
.sel-sty
    font-size: 100%
    color: #555
    line-height: 38px
    width: 100%
    padding: 0 10px
    border: 1px solid #999
    background: url(../img/icon_sel2.png) no-repeat right 10px center #fff
    box-sizing: border-box
//===== 下拉單(fin) =====

.sub-filter-btn
    +dvm
    position: relative
    cursor: pointer
    input
        position: absolute
    label
        color: #d89f1f
        border-radius: 10px
        padding: 3px 10px
        display: block
        cursor: pointer
        transition: .2s
        &:hover
            color: #fff
    input[type="radio"]:checked + label
        color: #fff
        background: #d89f1f

.check-box2
    width: 13px
    height: 13px
    margin: 0 3px
    border: 2px solid #d1c0a5
    border-radius: 2px
    transition: .2s
    cursor: pointer
    +dvm

input[type="checkbox"]:checked + .check-box2::after
    content: '\f00c'
    font-size: 15px
    color: #d1c0a5
    transition: .2s

.check-box-c
    width: 30px
    height: 30px
    border: 2px solid #fff
    border-radius: 50%
    box-sizing: border-box
    position: relative

//複選
input[type="checkbox"]:checked + .check-box-c::after
    content: ''
    width: 30px
    height: 30px
    display: block
    background: url(../img/icon_c.png) no-repeat center center
    background-size: contain
    transition: .2s
    +position(-2px, null, null, -2px, null)

//單選
input[type="radio"]:checked + .check-box-c::after
    content: ''
    width: 30px
    height: 30px
    display: block
    background: url(../img/icon_c.png) no-repeat center center
    background-size: contain
    transition: .2s
    +position(-2px, null, null, -2px, null)

//input 範例元件
.ex-inp-wrap
    margin: 10px 20px
    border: 1px solid #009aff
    border-radius: 5px

.ex-tit
    font-size: 18px
    color: #fff
    padding: 5px
    background: #009aff

.ex-box
    padding: 5px
    p
        margin: 5px 0
    i
        color: #009aff
