@media screen and (max-width:1650px)
    //=== 文學展示 展覽分區文章內頁 ===
    //上下篇
    .ex-edit-wrap
        .ex-edit-area
            position: unset
    .article-page-wrap
        width: 70px
        top: 160px
        right: 5px
    .article-page-box
        width: 70px
    .prev-box
        padding: 0 5px 5px
    .next-box
        padding: 5px 5px 0

    //=== error Page ===
    .error-page
        .build-cont
            background: url(../img/coming_soon.png) no-repeat right 5% bottom
@media screen and (max-width:1440px)
    //NAV
    .n-item
        padding: 15px
    // .nav-sup
    //     padding-right: 220px
    //banner
    .banner-cont
        width: 100%

    //== 地圖推廣sw ==
    .travel-enter-area
        right: 20px
    
    //主要內容
    .main-cont
        width: 100%

    //=== 內頁共用設定 ===
    .page-tab-area
        .main-cont
            // height: 130px
            // padding: 30px 10px 0
    .exhibition-article-tag-list
        width: 90%
    
    .edit-area
        width: 90%
        margin: 0 auto 20px


    //=== 台灣文學史 內頁 ===
    .history-time-swiper-box
        width: calc(100% - 24px)
        margin: 0 auto 20px

    //=== 共創平台 內頁 ===
    .article-cont-banner
        height: 400px
        h2
            padding: 15px

    //=== 主題之旅 內頁 ===
    // .route-img-light-box
    //     width: 800px

    //=== 文學展示 展覽分區文章內頁 ===
    //輪播圖片
    .exhibition-article-swiper
        .swiper-button-prev
            left: -10px
        .swiper-button-next
            right: -10px

    //=== 會員中心 - 集章任務內頁 1440 ===
    .freebee-light-area
        // height: 750px
        padding: 30px
        .btn-area
            margin: 40px 0 0
    .freebee-light-cont
        max-height: 400px

@media screen and (max-width:1300px)
    //NAV
    .sub-nav-list
        .sub-literaryList
            padding-right: 485px//355
        .sub-literaryList2
            padding-right: 530px//440
        .sub-literaryList3
            padding-right: 425px//440
        .sub-themeList
            padding-right: 340px//255
        .sub-themeList2
            padding-right: 380px//340
        .sub-makerList
            padding-right: 275px//240

    .n-item
        padding: 15px 12px
        span
            font-size: 110%
    .nav-item.en
        .n-item
            padding: 12px 10px
    .ind-writer-area
        margin: 0 0 120px

    //=== error Page ===
    .error-page
        .build-cont
            background: url(../img/coming_soon.png) no-repeat right bottom
    
    //=== v4展場地圖 1300 ===
    .exb-map-close
        top: -25px
        right: 10px

    //=== 作家行跡 v5 1300 ===
    .track-nav
        padding: 10px 15px

@media screen and (max-width:1200px)
    .src-box
        width: 190px
        margin: 0
    // .logo
    //     width: 280px
    //=== nav ===
    .nav-sup
        display: none
    .nav-area
        nav
            padding: 0 5px 
    .hamburger
        display: block
        outline: none
    .nav-item.en
        span
            br
                display: none
        .n-nav-sup
            a,.n-nav-three
                padding: 15px 0
            .n-nav-three
                padding: 15px 0 0
    .nav-item
        width: 100%
        max-height: calc(100vh - 102px)
        padding: 10px 0
        background: rgba(#04304e,.7)
        +position(58px,null,null,0,1)
        display: none
        overflow-y: auto
        -webkit-overflow-scrolling: touch
    .n-item
        color: #fff
        text-align: center
        width: 100%
        padding: 17px 0 0
        display: block
        &:hover
            color: #5cf9dc
            box-shadow: none
        >span
            padding: 0 0 17px
            &:nth-child(2)
                padding: 0 0 5px

    .n-nav-sup
        background: rgba(#082c44,0.8)
        // padding: 10px 0
        a,.n-nav-three
            color: #fff
            padding: 12px 0
            display: block
            transition: .2s
            &:hover
                color: #ddd
        .n-nav-three
            padding: 12px 0 0
    //=== nav end===

    //作家行跡
    .ind-writer-area
        margin: 0 0 100px
    .writer-txt
        padding: 30px

    //== 新地圖 1200 ==
    .story-cont-box-bg
        border-right: 7px solid #6A767F
    .story-cont-box
        border-right: 7px solid #5D6C75
    .story-arr-box
        .arr
            width: 30px
            height: 30px
            line-height: 30px
        .arr-l
            left: -15px
        .arr-r
            right: -5px
    //=== 內頁共用 ===
    // .page-tab-area
    //     .main-cont
    //         padding: 10px 10px 0

    //=== 共創平台 列表 ===
    .article-banner-img
        // width: 50%
    .article-banner-box
        width: 54%

    //=== 作家行跡 內頁 ===
    .writer-list
        .writer-cont
            margin: 0 0 60px

    //=== error Page ===
    .error-page
        .build-cont
            text-align: left
            .error-info
                transform: translateX(0)
    //=== 主題之旅 內頁 ===
    .route-close-btn
        right: 0
        top: -40px
    .route-img-light-box
        width: 96%
        img
            width: 100%
    
    //=== 數位遊戲 1200===
    .game-box
        width: 48%
    .game-media
        height: 0
        padding-bottom: 55%

    //=== 作家行跡 v5 1200 ===
    .writer-track-info-img
        width: 49%
    .writer-track-info-cont
        width: 49%

    .track-nav
        padding: 10px

@media screen and (max-width:1024px)
    //=== lightBox 設定 ===
    .light-wrap
        width: 95%

    //banner
    .banner-area
        height: 500px
        background-position-x: -160px
        //background-position-x: 35%
    .banner-info
        padding: 140px 0 0
        p
            font-size: 100%
            line-height: 26px
            margin: 0 0 10px
    .banner-tit
        font-size: 260%
    .banner-sup-tit
        font-size: 160%
        margin: 0 0 10px
    
    //ind-cont
    .main-area
        padding: 50px 0 0

    //作家行跡
    .ind-writer-area
        margin: 0 0 80px
    .writer-cont
        align-items: $flex-s
    .writer-img
        padding: 0
    .writer-img-box
        &:hover
            box-shadow: 5px 5px 0 $sbox-c
    .writer-cont-right
        .writer-img
            padding: 0
        .writer-img-box
            &:hover
                box-shadow: -5px 5px 0 $sbox-c
        // .writer-info
        //     top: 0
        //     transform: translateY(0)

    //== 地圖推廣sw 1024 ==
    .travel-enter-area.fixed
        bottom: 85px
        // position: fixed

    //=== 會員中心 - 集章任務內頁 1024 ===
    .member-medal-box
        width: 25%

    //footer
    .footer-logo
        width: 100%
        margin: 0 0 10px
        +flex($flex-s,$flex-e)
    .footer-info-area
        width: 100%
    // .qrcode-cont
    //     width: 100%
    //     margin: 0 0 10px
    .gotop
        width: 60px
        height: 60px
        i
            font-size: 140%
    
    //=== 內頁共用 ===
    .page-cont
        width: 74%
    .page-side
        width: 24%

    .back-btn
        margin: 5px 0 0
        position: relative
        bottom: 0
        left: 0

    //=== 共創平台 列表 ===
    .creat-article-box
        width: calc(96% / 2)

    //=== 共創平台 內容頁 ===
    .recom-cont
        width: 100%
        margin: 10px 0 0

    //=== 討論交流 留言內容頁 ===
    .comm-info-box
        width: 100%
        margin: 0 0 10px

    //=== 台灣文學史 時間軸列表 ===
    .history-timeline-list
        .literary-box,.literary-box-cube
            width: 25%

    //=== 台灣文學史 內頁 ===
    .history-timeline-tit-box
        min-height: auto

    //=== 會員註冊 ===
    .register-area
        width: 100%
    .register-cont
        padding: 30px 50px
    .form-column2
        &:first-child
            padding-right: 50px
        &:last-child
            padding-left: 50px

    //=== 作家行跡 內頁 ===
    .writer-list
        .writer-img
            width: 55%
        .writer-cont
            justify-content: $flex-s
            margin: 0 0 30px
        .writer-info
            width: 100%
            h3
                padding-left: 10px
                // transform: translateY(0)
            .collect-tag
                padding-left: 10px
        .writer-txt
            &:after
                display: none
        .writer-cont-right
            flex-flow: wrap
            justify-content: $flex-e
            // .writer-img
            //     position: relative
            //     top: 0
            //     transform: translateY(0)
            .writer-info
                // position: relative
                // top: 0
                // transform: translateY(0)
                h3
                    padding-right: 10px
                .collect-tag
                    padding-right: 10px
            // .writer-txt
            //     text-align: left
    
    //=== 文學展示 列表 ===
    .exhibition-box
        width: 49%

    //=== 文學展示 內頁 ===
    //展覽分區Ａ型
    .exhibition-part-a-tit
        padding: 5px 15px
    
    //展覽分區B
    .exhibition-part-b-box
        width: 49%
    .exhibition-part-b-img
        width: 200px
    .exhibition-part-b-cont
        width: calc(100% - 210px)
    
    .article-page-box
        opacity: 1
    .ex-inner-edit-area
        width: calc(100% - 60px)
        margin: 0 0 20px
    .exhibition-article-tag-list
        width: calc(100% - 60px)
        margin: 0 0 10px

    //=== 交通資訊 ===
    .map-contant
        .m-box
            margin: 0 15px
            padding: 0 15px
    
    //=== 新地圖 ===
    .story-theme-img-box
        width: 90%

    //=== 會員中心 - 編輯 1024 ===
    .member-side
        width: 180px
    .member-cont
        width: calc(100% - 180px)

    //=== 會員中心 - 部落格列表 1024 ===
    .member-blog-list
        // border-top: 1px solid #ddd
        li.tit-box
            display: none
        li
            margin: 0 0 25px
            padding: 0
            align-items: $flex-s
            // background: rgba(#8fcdbb,0.2)
            >div
                padding: 0
                span
                    display: block
                    padding: 10px
        .mb-tit
            // margin: 0 0 10px
            color: #fff
            padding: 5px 10px
            background: $m-color
            display: block
        .box01
            width: 100%//calc(100% - 180px)
            a
                display: inline-block
                padding: 10px
        .box02,.box03,.box04
            width: calc(100%/3)
            // margin: 10px 0 0
            // padding: 10px 0 0
            // border-top: 1px dashed #ddd
        .box05,.box06
            width: 50%
        .opera
            padding: 9px
        .no-data
            padding: 10px
            border-top: 1px solid #ddd
    
    //=== v4展場地圖 1024 ===
    .exb-tit
        font-size: 15px

    //=== 作家行跡 v5 1024 ===
    .writer-track-info-img
        width: 600px
    .writer-track-info-cont
        width: 100%
        margin-top: -80px
        h2
            transform: translateX(0)

    //= 行跡下拉單 =
    .writer-track-nav-mb-sel
        display: block
    .writer-track-nav-list
        width: 100%
        display: block
        +position(44px,null,null,0,2)
        border-radius: 8px
        border: 1px solid $m-g
        background: #fff
        box-sizing: border-box
        display: none
    .track-nav
        &:hover
            background: rgba($m-g,0.1)

    //= 著作區域 =
    .writer-track-book-box
        width: calc((100% - 120px)/5)
        margin-right: 30px
        margin-bottom: 30px
    .writer-track-more-book
        width: calc((100% - 120px)/5)

    //= 作者聲影 =
    .writer-track-video-box
        width: calc((100% - 60px)/4)
        margin-right: 20px
        margin-bottom: 20px
    .writer-track-more-book.video
        width: calc((100% - 60px)/4)

    //= 著作資料內頁 =
    .writer-book-img-box
        width: 300px
    .writer-book-cont
        width: calc(100% - 320px)





@media screen and (max-width:768px)
    .gotop
        width: 50px
        height: 50px
        i
            font-size: 110%
        span
            font-size: 80%
            margin: 0
    .lang-sel-box
        width: 100px
    //=== lightBox 設定 ===
    // .light-cont
    //     padding: 30px 0
    .light-scroll-cont
        padding: 0 30px
    
    .log-btn
        font-size: 100%
        padding: 5px 15px
    .lang-sel
        font-size: 100%
        padding: 5px 12px
    //banner
    .banner-area
        height: 350px
        background-position-x: -50px
    .banner-tit
        font-size: 220%
        letter-spacing: 8px
    .banner-sup-tit
        font-size: 140%
    .banner-info
        padding: 50px 0 0
        p
            font-size: 95%
            line-height: 22px
    .banner-cont
        padding: 0 20px
    .banner-btn
        font-size: 95%

    .main-area
        padding: 30px 0 0
    .ind-tit-box
        margin: 0 0 30px
        h2
            font-size: 200%
    .ind-en-tit
        width: calc(100% - 150px)
    .ind-en-tit2
        width: calc(100% - 177px)
    .literary-banner
        margin: 0 0 50px
    .literary-tit
        font-size: 80%
    
    //作家行跡
    .ind-writer-area
        margin: 0 0 50px
        // .writer-txt
        //     &:after
        //         display: none
    .writer-cont
        margin: 0 0 30px
        justify-content: $flex-s
    
    .writer-img
        width: 43%
    .writer-info
        width: 57%
        h3
            font-size: 200%
            padding-left: 15px
        .collect-tag
            padding-left: 15px
    .writer-txt
        padding: 15px 20px
        p
            font-size: 100%
            line-height: 24px
    .writer-cont-right
        // justify-content: $flex-e
        // justify-content: $c
        // .writer-img
            // position: relative
            // top: 0
            // transform: translateY(0%)
        .writer-info
            h3
                padding-right: 15px
            .collect-tag
                padding-right: 15px
        // .writer-txt
        //     text-align: left
    .track-wrap
        .map-area-tit
            padding: 0 15px
    //主題之旅
    .ind-theme-area
        margin: 0 0 50px
    .ind-theme-box
        width: 100%
        margin: 0 0 20px
        &:last-child
            margin: 0
        h3
            font-size: 130%
        p
            font-size: 100%
            line-height: 22px

    //文學展示
    .ind-exhibition-area
        padding: 80px 0 120px
        // padding: 80px 0 50px
    .exhibition-banner
        width: 180px
        padding: 0 0 30px
        .swiper-slide-active
            .ind-exhibition-txt
                margin: 25px 0 0
    .ind-exhibition-txt
        font-size: 100%
        line-height: 22px


    //=== 內頁共用 ===
    .page-tab-area
        .main-cont
            height: unset
    // .page-nav-area
    //     // margin: 5px 0 0
    //     position: relative
    //     left: 0
    //     transform: translateY(0)
    .page-nav-box
        margin: 5px 10px 0
    .page-top-area
        .main-cont
            padding: 15px 10px
    .page-cont
        width: 100%
        margin: 0 0 20px
    .page-side
        width: 100%

    //=== 共創平台 列表 ===
    .article-banner-img
        width: 100%
        padding-bottom: 52.5%
    .article-banner-box
        width: 100%
        padding: 15px

    //=== 共創平台 內容頁 ===
    .article-cont-banner
        height: 350px
        h2
            font-size: 200%
            line-height: 46px
    
    //=== 討論交流 ===
    // .communicate-btn-cont
    //     padding: 0 0 20px

    //=== 台灣文學史 時間軸列表 ===
    .his-timeline-swiper-cont
        width: 75%
        >div
            width: 100%
    .his-timeline-img-box
        margin: 0 0 10px

    .history-timeline-list
        .literary-box,.literary-box-cube
            width: calc(100%/3)

    //=== 會員註冊 ===
    .register-cont
        padding: 30px 20px
    .form-column2
        &:first-child
            padding-right: 20px
        &:last-child
            padding-left: 20px

    //=== 忘記密碼 ===
    .pwd-img-box
        width: 100%
        margin: 0 0 10px
    .forget-box
        width: 90%

    //=== 全站搜尋 ===
    .search-box
        width: 100%
    
    //=== 文學展示 列表 ===
    .exhibition-box
        width: 100%

    //=== 文學展示 內頁 ===
    .exhibition-banner-box
        margin: 0 0 20px
        h2
            left: 0
    .exhibition-sub-banner
        width: 100%
        position: relative
        left: 0
        bottom: 0
    // .exhibition-sub-share
        // margin: 10px 0 0
        // +position(20px,0,null,null,1)
    .exhibition-sub-banner.no-bg
        h2
            font-size: 175%
            line-height: 1.2
            padding: 10px
        .exhibition-btn-box
            width: calc(100% - 36.1%)
    .exhibition-sub-img
        width: 33.383%
        padding-bottom: 33.383%
    .exhibition-btn-box
        .ex-btn-box
            min-height: 54px
        .ex-btn
            font-size: 126%
            line-height: 2.2
            margin: 10px 0 0 10px


    //=== 文學展示 內頁 ===
    //展覽分區Ａ型
    .exhibition-part-a-group
        width: calc((100% - 30px)/3)
    .exhibition-part-a-box
        width: calc((100% - 30px)/3)
    
    //展覽分區B
    .exhibition-part-b-box
        width: 100%
        margin: 0 0 20px
        &:last-child
            margin: 0

    //=== 文學展示 展覽分區文章內頁 ===
    .exhibition-article-tit
        font-size: 170%
        margin: 10px 0 0 10px
        padding: 0 0 30px
        line-height: 1.2
    
    //=== 主題之旅 列表 ===
    // .theme-banner-img
    //     height: 350px
    .theme-banner-tit
        width: calc(100% - 30px)
        bottom: 10px
        left: 15px
    .theme-box
        width: 49%
    .theme-info
        padding: 10px 10px 5px

    //=== 主題之旅 內頁 ===
    .route-wrap
        margin: 0 0 0 20px
    .route-cont
        width: calc(100% - 230px)

    //=== 交通資訊 ===
    .map-contant
        span
            display: block
        .m-box
            margin: 10px 0
            padding: 0
            border-left: 0
            border-right: 0
    
    //=== error Page ===
    .error-page
        .main-cont
            background: url(../img/bg_404.png) no-repeat center bottom
        .build-cont
            padding: 30px 20px 82%
            background: url(../img/coming_soon.png) no-repeat center bottom/contain
    //=== signal page ===
    .page-tit
        font-size: 140%
    footer
        font-size: 90%
    //for story map
    .vco-storyslider .vco-slider-background
        opacity: 1 !important
    
    //=== 數位遊戲 768===
    .game-box
        width: 100%
        &:nth-child(even)
            transform: translateY(0px)
        &:last-child
            margin: 0
    .game-list-area
        padding: 0

    //=== 會員中心 - 編輯 768 ===
    .member-side
        width: 100%
        padding: 0
        h2.tit
            font-size: 28px
            text-align: center
            margin: 0 0 20px
    .member-side-nav
        margin: 0 0 15px
        +flex($c,$c)
        a
            font-size: 16px
            padding: 0
        .item
            margin: 0 10px
        .item.act
            border-bottom: 2px solid $m-color
            &:after
                display: none
    .member-cont
        width: 100%
    .member-info-column
        .input-area
            width: 100%
    
    //=== 會員中心 - 收藏列表 768 ===
    .member-collect-area
        justify-content: $sb
    .member-collect-box
        width: 48%
        margin-right: 0

    //=== 會員中心 - 部落格列表 768 ===
    // .member-blog-list
    //     .box01
    //         width: 100%
    //     // .box02,.box03
    //     //     margin: 10px 0 0
    //     //     padding: 10px 0 0
    //     //     border-top: 1px dashed #ddd
    //     .box02,.box03
    //         width: 50%
    
    //== 地圖推廣 768 ==
    .travel-enter-sw-box
        .swiper-button-prev,.swiper-button-next
            top: 33px
    .travel-enter-area
        width: 120px
        bottom: 10px
        right: 10px
    .travel-enter-slide-img
        width: 90px
        height: 90px
    .travel-enter-slide-txt
        width: 100%
    .travel-enter-area.fixed
        bottom: 75px
    .travel-enter-area.close
        right: -140px
        // right: -130px
    // .travel-enter-area
        // width: calc(100% - 70px)
        // height: 105px
        // +flex($flex-s,$c)
        // right: auto
        // left: 20px
        // bottom: 10px
        // .top-box
        //     margin-right: 35px
        // .logo-box
        //     width: 130px
    // .travel-enter-sw-box
    //     width: 120px
    //     .swiper-button-prev,.swiper-button-next
    //         top: 50%
    //         transform: translateY(-50%)
    //     .swiper-button-prev
    //         left: -25px
    //     .swiper-button-next
    //         right: -25px
    // .travel-enter-slide-img
    //     width: 100%
    //     height: 50px
    //     border-radius: 20px
    //     margin: 0 auto 5px
    // .travel-enter-slide-txt
    //     width: 100%

    //=== 會員中心 - 集章任務內頁 768 ===
    .member-medal-box
        width: calc(100%/3)

    .member-freebee-box
        width: calc((100% - 40px)/2)
        &:nth-child(3n)
            margin-right: 40px
            &:after
                display: block
        &:nth-child(2n)
            margin-right: 0
            &:after
                display: none
        &:last-child
            &:after
                display: none

    .freebee-light-area
        width: 90%
        // padding: 40px 30px

    //=== v4展場地圖 768 ===
    .exhibition-map-area
        padding: 0 0 10px
    .exb-event
        display: none
    .exb-event-mb-area
        display: block
    .exb-map-info-img
        width: 200px
        height: 200px
    .exb-map-info-tit
        font-size: 32px
    .exb-map-info-txt
        padding: 30px
        // max-height: calc(95vh - 400px)
    .exhibition-floor-area
        padding: 20px 0
        margin: 0 -20px
        background: rgba(#fff,0.8)
        box-shadow: 0px -3px 5px #ccc
        position: sticky
        bottom: 0
        z-index: 5

    //=== 作家行跡 v5 768 ===
    //= 列表搜尋 =
    .writer-src-box
        margin: 0 0 5px
        width: 100%
        .text-src
            width: calc(100% - 220px)
    //= 內頁 =
    .writer-track-info-area
        padding: 30px
    .writer-track-info-img
        width: 100%
        height: 0
        padding-bottom: 70%
    .writer-track-info-cont
        h2
            margin: 0 0 30px
    //= 大事紀 =
    .writer-track-year-area
        padding-left: 15px
    .writer-track-year-box
        .cont
            width: 100%
    .writer-track-year-more
        padding-left: 50px
    //= 著作區域 =
    .writer-track-book-box
        width: calc((100% - 40px)/3)
        margin-right: 20px
        margin-bottom: 20px
        &:nth-child(5n)
            margin-right: 20px
            margin-bottom: 20px
        &:nth-child(3n)
            margin-right: 0
    .writer-track-more-book
        width: calc((100% - 40px)/3)

    //= 作者聲影 =
    .writer-track-video-box
        width: calc((100% - 20px)/2)
        &:nth-child(4n)
            margin-right: 20px
        &:nth-child(2n)
            margin-right: 0
    .writer-track-more-book.video
        width: calc((100% - 20px)/2)

    .track-video-play-cont
        width: 95%

    //= 著作資料內頁 =
    .writer-book-img-box
        width: 100%
        position: relative
        top: 0
    .writer-book-img
        width: 300px
        margin: 0 auto
    .writer-book-name.img
        display: none !important
    .writer-book-cont
        width: 100%

@media screen and (max-width:700px)
    //=== 新地圖部分 ===
    .map-area-box
        height: auto
        // flex-direction: column-reverse
    .map-box
        height: auto
        background: #AAB8C6
    .map
        height: 350px
    .map-open-box
        width: 100%
    .story-cont-box-bg
        width: 100%
        height: 350px
    
    //== 新地圖 700 ==
    .them-btn-box
        span
            padding: 3px 0
    .them-btn
        font-size: 15px
        padding: 3px 8px
        margin: 0 5px 0 0
        &:last-child
            margin: 0
    .map-legend-box
        .legend-name
            font-size: 12px
    .map-event-side-area
        width: calc(100% - 20px)
        margin: 10px auto
        position: relative
        right: 0
        bottom: 0
    .map-event-side-box
        max-height: 120px
    .story-cont-box-bg
        border-right: 0px solid #6A767F
    .story-cont-box
        border-right: 0px solid #5D6C75
    .story-arr-box
        .arr-l
            left: 0px
        .arr-r
            right: 0px

@media screen and (max-width:690px)
    //=== 時間軸部分 ===
    .tl-skinny .tl-slidenav-previous .tl-slidenav-title,.tl-skinny .tl-slidenav-previous .tl-slidenav-description
        display: block
        margin: 0
        width: 45px
    .tl-skinny .tl-slidenav-next .tl-slidenav-title,.tl-skinny .tl-slidenav-next .tl-slidenav-description
        display: block
        margin: 0
        width: 45px
        transform: translateX(-10px)
    .tl-skinny .tl-media .tl-media-content-container .tl-credit
        padding: 0 5px
        margin: 5px 0 0
        box-sizing: border-box
    
    //=== 地圖部分 ===
    // .map-area-box
    //     height: 750px
    // .vco-menubar
    //     top: 351px
    .vco-map
        width: 100%
        height: 300px !important
        //+position(350px,null,null,0,1)
    .vco-layout-portrait .vco-storyslider
        box-shadow: none
        margin: -1px 0 0
    .vco-storyslider
        height: 350px !important
        //+position(0,null,null,0,1)
        box-sizing: border-box
    .vco-media-content-container
        padding: 0 10px
        box-sizing: border-box
    .vco-skinny .vco-media .vco-media-content-container .vco-credit
        padding: 0 5px
        box-sizing: border-box
    
    // .vco-slide
    //     overflow: unset

@media screen and (max-width:650px)
    .leaflet-top .leaflet-control
        margin-top: 30px

    //=== 集章任務lightbox ===
    .light-step-cont
        width: 100%
    .light-step-img.cstep2
        padding-top: 5%
    .light-step-img.cstep3
        padding-top: 5%
    .light-step-img.cstep4
        padding-top: 15%

        

@media screen and (max-width:600px)
    .nav-info-area
        +flex($flex-e,$c)
    .nav-slogn
        display: none

    .logo
        width: 140px
    .nav-cont
        width: 57%
    .src-box
        width: calc(100% - 45px)
    .input-src
        padding: 3px 6px
    .src-btn
        padding: 4px 6px
    .hamburger
        padding: 10px 0 4px 8px

    .log-btn
        padding: 5px 10px
    // .lang-sel-box
    //     width: 100px
    .lang-sel
        padding: 5px 10px
    
    .nav-item
        max-height: calc(100vh - 77px)
        top: 42px
    
    //banner
    .banner-cont
        padding: 0 20px
    
    //作家行跡
    .ind-writer-area
        .writer-txt
            &:after
                display: none
    .writer-img
        width: 100%
    .writer-info
        width: 100%
        // h3
        //     // transform: translateY(0px)
    .writer-cont-right
        flex-flow: wrap
        // .writer-info
        //     position: relative

    
    //=== 內頁共用 ===
    .page-nav-area
        font-size: 84%
    .page-nav-box
        margin: 5px 5px 0
    .inner-single-page
        &:before
            height: 250px
    
    //=== 共創平台 列表 ===
    .creat-article-list
        padding: 0 5px
        justify-content: center
    .creat-article-box
        width: 100%
        margin: 0 0 20px
    

    //=== 共創平台 內容頁 ===
    .recom-cont
        width: calc(100% - 190px)
        margin: 0

    //=== 共創平台 內容頁 ===
    .creat-src-box
        margin: 0 0 10px
    .creat-src
        input
            line-height: 36px
    .creat-src-btn
        line-height: 38px
    .article-banner-area
        padding: 20px 0
    .article-build
        padding: 0
    .article-cont-area
        padding-top: 10px
    .article-cont-banner
        height: 300px
        h2
            font-size: 188%
            line-height: 30px
            padding: 10px
    .article-cont-info
        padding: 10px
    .article-banner-info
        .date
            font-size: 12px
        .tit
            font-size: 140%
            line-height: 26px
    .creat-article-cont
        .date
            font-size: 12px
        .tit
            font-size: 140%
            height: auto

    //=== 討論交流 ===
    .communicate-cont-area
        h2
            font-size: 140%
            padding: 0 0 5px
    .communicate-list
        border-top: 1px solid #999
        .mb-tit
            font-size: 90%
            font-weight: 600
            display: block
            border-bottom: 1px dashed #999
            margin: 0 0 3px
            padding: 0 0 3px
        li:nth-child(odd)
                background: $mll-color
        li.tit
            display: none
        .list
            padding: 10px 0
            +flex($flex-s,$flex-s)
            >div
                &:nth-child(1)
                    width: 100%
                    margin: 0 0 5px
                    padding: 0 5px 5px
                    border-bottom: 1px dashed #999
                &:nth-child(2)
                    width: calc((100% - 100px)/2)
                &:nth-child(3)
                    width: calc((100% - 100px)/2)
    .communicate-btn
        line-height: 60px

    //=== 討論交流 留言內容頁 ===
    .communicate-cont
        padding: 0
    //回應輸入
    .enter-btn-box
        >div
            width: 140px

    //=== 台灣文學史 時間軸列表 ===
    .history-swiper
        padding: 60px 0 80px
        .swiper-button-next, .swiper-button-prev
            top: auto
            margin-top: 10px
    .his-timeline-swiper-cont
        width: 90%

    .history-timeline-list
        .literary-box,.literary-box-cube
            width: 50%
    
    .creat-article-change
        >div
            width: 100%
        .unact
            margin: 5px 0 0
    //=== 台灣文學史 內頁 ===
    .more-article-link-box
        width: 100%
        &:first-child
            border-right: none
            border-bottom: 2px dotted #BBB
            padding: 0 0 15px
            margin: 0 0 15px
        &:last-child
            padding: 0

    //=== 會員登入頁 ===
    .login-area
        width: 100%
    .login-cont
        padding: 30px

    //=== 忘記密碼 ===
    .forget-box
        width: 100%

    //=== 全站搜尋 ===
    .src-area-box
        justify-content: space-between
        text-align: center
        .src-area
            width: 49%
            margin: 0 0 5px
    .src-area-sup-box
        justify-content: space-between
        text-align: center
        .src-area-sup
            width: 49%
            margin: 0 0 5px



    //=== 作家行跡 內頁 ===
    .writer-list
        .writer-img
            width: 100%

    //=== 作家行跡 地圖內頁 ===
    .map-area
        .map-cont
            width: calc(100% - 20px)
            height: 45%
            +position(20px,null,auto,10px,1)
            overflow-y: scroll
        .swiper-button-prev,.swiper-button-next
            font-size: 112%
            width: 30px
            height: 30px
            line-height: 30px
        .swiper-button-prev
            left: 3px
        .swiper-button-next
            right: 3px
    .map-info
        padding: 20px 35px

    //=== 地圖 ===
    .track-wrap
        .map-area-tit
            top: 42px
    
    .them-btn-area
        top: 42px
    
    //=== 文學展示 內頁 ===
    .exhibition-sub
        width: 100%
    .exhibition-sub-banner.no-bg
        .exhibition-sub-share
            width: 100%
            text-align: right
            position: static
    .share-btn-box
        justify-content: flex-end
    .exhibition-btn-box
        // width: calc(100% - 120px)
        margin: 0 0 0 10px
        display: block
        .ex-btn-box
            width: 100%
        .ex-btn
            text-align: center
            display: block
            margin: 0
            &:first-child
                margin: 0 0 10px

    //展覽分區Ａ型
    .exhibition-part-a-group
        width: calc((100% - 20px)/2)
    .exhibition-part-a-box
        width: calc((100% - 20px)/2)

    //=== 文學展示 展覽分區文章內頁 ===
    .exhibition-article-tit
        padding: 0
    //輪播圖片
    .light-ex-img-wrap
        width: 90%

    //=== 主題之旅 列表 ===
    // .theme-banner-img
    //     height: 300px
    .theme-box
        width: 100%

    //=== 主題之旅 內頁 ===
    .route-wrap
        margin: 0 0 0 10px
    .rotute-box
        padding: 15px 0 30px 15px
    .route-tit
        font-size: 120%
        &:before
            left: -23px
    .route-cont
        width: calc(100% - 180px)
    .route-img
        width: 150px
        height: 160px
        border: 6px solid #DDD
    .route-img-sub
        width: 150px
        height: 160px
        border: 6px solid #DDD

    //=== 交通資訊 ===
    .traffic-list-icon
        width: 100px
    .traffic-list-box
        width: calc(100% - 120px)

    //=== error Page ===
    .error-page
        .main-cont
            background: url(../img/bg_error.png) no-repeat top 30px center
        // .build-cont
        //     background: url(../img/coming_soon.png) no-repeat center bottom/
    .error-num
        font-size: 200px
        text-align: center
    .error-txt
        font-size: 300%
        margin: -20px 0 10px
    .build-txt
        margin: 0 0 10px
    
    // .turn-page-info
    //     text-align: center
    //     span
    //         display: block
    //         margin: 0 0 10px
    //     .btn
    //         margin: 0
    
    //=== 作者與作家列表 ===
    .portfolio-tit-box
        padding: 10px
        // margin: 0 0 10px
        +flex($flex-s,$flex-e)
    .portfolio-img
        left: 0
        position: relative
        margin: 0 0 20px
    .portfolio-info
        width: 100%
        padding: 0
    .portfolio-list-box
        p
            padding: 0
            min-height: auto

    //=== 作家行跡 v5 600 ===
    .writer-track-nav-area
        top: 42px


@media screen and (max-width:480px)
    body
        font-size: 90%
    
    //=== input area ===
    .input-area
        margin: 0 0 15px

    //=== lightBox 設定 ===
    .light-cont
        padding: 20px 0
    .light-scroll-cont
        padding: 0 20px
    .mbno-600
        display: none
    .login-user
        margin: 0 5px 0 0
        a
            display: inline-block
            vertical-align: middle
            min-width: 50px
            max-width: 145px
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap
    .log-btn
        padding: 4px 10px
        box-sizing: border-box
    .lang-sel-box
        width: 82px
    .fb-btn
        padding: 4px 12px
    .lang-sel
        padding: 0 6px
        line-height: 30px
        height: 34px
        box-sizing: border-box
        border: 0
        outline: none
        background: url(../img/icon_sel.png) no-repeat right 5px center $md-color


    //banner
    .banner-area
        height: auto
        margin: 0
        background: #0061a5 url(../img/banner.jpg) no-repeat center top -20px
        background-size: 220%
    .banner-cont
        padding: 15px 15px 70px 15px 
    .banner-tit
        font-size: 200%
    .banner-sup-tit
        font-size: 130%
    .banner-info
        padding-top: 130px
        p
            font-size: 100%
        br
            display: none   
    .scroll-down
        width: 40px
        height: 40px
        span
            font-size: 10px
    .scroll-arr
        width: 40px
        height: 40px
        img
            width: 8px
            transform: translateY(-3px)
    @keyframes scrollAni
        from
            transform: translateY(-3px)
        to
            transform: translateY(3px)

    //
    .word-cloud-area
        height: 400px
    .word-cloud-box
        height: 400px
    
    //.main-cont 主要內容 480
    .main-area
        padding: 20px 0 0
    .main-cont
        padding: 0 10px

    //ind-
    .ind-tit-box
        margin: 0 0 15px
        h2
            font-size: 160%
            padding: 0
            margin: 0 0 3px
    .ind-en-tit
        font-size: 100%
        width: calc(100% - 103px)
        a
            font-size: 110%
            padding: 5px 4px
        span
            padding: 0 0 0 10px
    .ind-en-tit2
        width: calc(100% - 127px)
    
    .literary-banner
        margin: 0 0 30px
        

    //作家行跡
    .page-wrap.track-wrap
        padding: 20px 0 0
    .ind-writer-area
        margin: 0
    .writer-cont
        margin: 0 0 -30px
    .writer-info
        width: 100%
        transform: translateY(-52px)
        position: relative
        z-index: 2
        h3
            padding: 4px 10px
            background: rgba(255,255,255,.6)
            // transform: translateY(0)
        .collect-tag
            margin-top: 10px
    .writer-txt
        padding: 15px
    // .writer-cont-right
    //     .writer-info
    //         transform: translateY(-52px)
    //         z-index: 2
    //         h3
    //             padding: 4px 10px
    //             background: rgba(255,255,255,.6)
    //             // transform: translateY(0)
    //     .writer-img
    //         position: relative
    
    //主題之旅
    .ind-theme-area
        margin: 0 0 40px
    .ind-theme-txt
        padding: 15px
    .route-tag
        br
            display: none

    //== 新地圖事件 ==
    .map-event-side-list
        li
            &:hover
                color: #555
            
    //== 地圖推廣 480 ==
    // .travel-enter-area
    //     .logo-box
    //         width: 100px
    // .travel-enter-slide-img
    //     height: 40px

    //footer
    footer
        padding: 20px 0 10px
    .footer-info
        width: 100%
        margin: 0 0 10px
    .web-info-box
        text-align: left
    // .qrcode-cont
    //     margin: 0 0 20px

    //== 內頁共用 ==
    .page-nav-area
        // margin: 10px 0 0
        font-size: 100%
    .page-nav-box
        font-size: 110%
        font-weight: 600
        width: calc((100% - 12px)/3)
        text-align: center
        padding: 8px 0 3px
        margin: 0 2px
        box-shadow: inset 0 -10px 0 #E6E6E6
        &.act
            font-size: 120%
            box-shadow: inset 0 -10px 0 #D9E6EF
    .page-wrap
        padding: 20px 0 50px
    .page-wrap-build
        padding: 0
    .inner-single-page
        padding-bottom: 50px
        &:before
            height: 250px

    //內頁單行留白
    .one-line-wrap
        padding: 20px 0
    .history-tag-area
        width: 94%
    // .history-tag-list
    //     width: 94%
    .edit-area
        width: 94%
        padding: 15px 15px 20px
    .exhibition-article-tag-list
        width: 94%
        margin: 0 auto 10px

    //=== 共創平台 列表 ===
    .creat-src
        width: calc(100% - 130px)
    .creat-src-btn
        width: 130px

    //=== 共創平台 內容頁 ===
    // .article-maker
        // width: 100%
        // margin: 0 0 10px
    .recom-img
        width: 100%
    .recom-cont
        width: 100%
        margin: 10px 0 0

    //=== 討論交流 留言內容頁 ===
    .comm-info-box
        margin: 5px 0
        .comm-msg
            margin: 0 10px 0 0
    .communicate-txt-box
        padding: 15px
    .communicate-reply-box
        padding: 0 0 10px 10px
    //回應輸入
    .reply-time
        width: 100%
        margin: 5px 0 0
        text-align: right
    .enter-btn-box
        width: 100%
        margin: 5px 0 0
        justify-content: space-between
        >div
            width: 49%
    .cancel-btn
        margin: 0
    
    //=== 會員登入頁 ===
    .login-area
        h2
            font-size: 175%
            margin: 0 0 5px
    .login-cont
        padding: 20px

    //=== 會員註冊 ===
    .register-cont
        padding: 30px 20px
    .form-column2
        width: 100%
        &:first-child
            margin: 0 0 20px
            padding-right: 0
            border-right: 0
        &:last-child
            padding-left: 0
    .register-btn-area
        .robet-box
            width: 100%
            margin: 0 0 10px
        .btn
            width: 100%
            text-align: center
    .to-register-box
        font-size: 110%
    //=== 第三方登入會員頁 ===
    .member-third-box
        top: -30px

    //=== 全站搜尋 ===
    .src-tab-box
        .src-tab
            line-height: 36px

    //=== 作家行跡 內頁 ===
    .writer-list
        .writer-txt
            padding: 15px
        .writer-cont
            margin: 0 0 -30px
        // .writer-cont-right
        //     .writer-info
        //         transform: translateY(-52px)

    //=== 文學展示 列表 ===
    .exhibition-img
        width: 140px
        padding-bottom: 140px
    .exhibition-cont
        width: calc(100% - 160px)
        .cont
            padding: 6px 10px 0 0
            &:after
                width: calc(100% + 150px)
        .tit
            line-height: 24px
        .cont .txt
            height: 36px
            line-height: 18px
            +ctline(2)

    //=== 文學展示 展覽分區文章內頁 ===
    .exhibition-tit
        font-size: 160%
        margin: 0 0 5px
    .exhibition-article-tit
        font-size: 166%
        padding: 0 10px
        margin: 0
        
    //=== 文學展示 展覽分區文章內頁 ===
    .ex-page-wrap
        padding-bottom: 0
    .ex-edit-wrap
        padding: 0 0 140px
    .ex-inner-edit-area
        margin: 0 auto 10px

    .exhibition-sub-img
        width: 38.383%
        padding-bottom: 38.383%
    .exhibition-sub-banner.no-bg
        h2
            width: 100%
            font-size: 166%
            margin: 0 0 10px
        .exhibition-sub
            flex-direction: column
            align-items: center
        .exhibition-btn-box
            width: 100%
            justify-content: space-between
            display: flex
        .exhibition-sub-share
            position: static
    .exhibition-sub-banner.no-bg
        .ex-tit-box
            margin: 0 0 10px
            h2
                margin: 0
    .exhibition-btn-box
        .ex-btn-box
            min-height: 0
            +flex($sb,$c)
        .ex-btn
            width: 48%
            &:first-child
                margin: 0
    .share-btn-box
        justify-content: flex-end

    //輪播圖片
    .exhibition-article-swiper
        .swiper-button-prev
            left: -5px
        .swiper-button-next
            right: -5px

    //輪播圖片
    .light-ex-img-wrap
        width: 95%

    //上下篇
    .article-page-wrap
        width: calc(100% - 20px)
        top: auto
        right: 10px
        bottom: 50px
    .article-page-box
        width: 100%
        border: 1px solid #ccc
        opacity: 1
        +flex($c,$c)
        >a
            &:nth-child(2)
                border-left: 1px dashed #ccc
                border-top: 0px
    .prev-box,.next-box
        width: 50%
        padding: 5px
        box-sizing: border-box
        span i
            display: inline-block
    .page-arrow
        display: none
    .page-info
        position: relative
        +flex($flex-s,$c)
        span
            width: calc(100% - 45px)
        span.name
            margin: 0
            line-height: 20px
    .prev-box
        border-bottom: 0px
        position: relative
        span
            text-align: left
        span.name
            +position(50%,0,null,null,1)
            transform: translateY(-50%)
    .next-box
        span
            text-align: right
        .page-info
            +flex($sb,$c)
    .img-box
        width: 40px
    
    //=== 主題之旅 列表 ===
    // .theme-banner-img
    //     height: 250px
    .theme-banner-tit
        width: calc(100% - 20px)
        bottom: 5px
        left: 10px

    //=== 主題之旅 內頁 ===
    .rotute-box
        padding: 15px
    .route-cont
        width: 100%
    .route-img
        width: 150px
        height: 150px
        position: relative
        top: 0
        margin: 0 0 10px
    .route-img-sub
        display: none

    //=== 交通資訊 ===
    .traffic-list-icon
        width: 100%
        margin: 0 0 20px
    .traffic-list-box
        width: 100%

    //=== error Page ===
    .error-page
        .main-cont
            padding: 100px 20px 30px
        // .build-cont
        //     padding: 100px 20px 30px
    .error-num
        font-size: 150px

    //=== 作者與作家列表 ===
    // .portfolio-img
    //     width: 150px
    //     height: 150px
    .portfolio-list-box
        padding: 15px

    //=== 時間軸部分 ===
    .tl-skinny .tl-slide .tl-slide-content-container .tl-slide-content .tl-media
        padding: 20px 10px 15px
        box-sizing: border-box
        img
            width: 100% !important
    // .tl-skinny .tl-slide .tl-slide-content-container .tl-slide-content
    //     padding: 0 50px !important

    //=== 文學史內容 ===
    .history-tit
        margin: 0
        .page-tit
            margin: 0 0 10px
    .down-btn
        line-height: 18px
        padding: 6px 13px
        margin: 0 0 10px 8px
    //** 調編輯器圖片大小
    .edit-box
        img
            max-width: 90%
            height: auto !important
        // img[height]
        //     min-height: 300px
        // img[width]
        //     min-width: 70%
        img.for-icon
            max-width: 56px
        iframe
            min-width: 70%
        iframe[height]
            min-height: 300px
        iframe[width]
            min-width: 70%

        //0511新增
        .parallel-layout
            flex-wrap: wrap
            div
                width: 100% !important
                margin: 0 0 10px

    //=== 數位遊戲 480===
    .game-box
        margin: 0 0 30px

    //=== 會員中心 - 編輯 480 ===
    .member-side-nav
        margin: 0 0 15px
        .item
            margin: 0 7px
            a
                font-size: 15px
    .member-nav-sel
        display: block
    .member-top-nav-box
        padding: 0 10px 10px
        width: 100%
        border-top: 1px solid #999
        +position(40px,null,null,0,3)
        box-sizing: border-box
        display: none
        a
            font-size: 14px
            width: 100%
            padding: 10px 5px
            border-right: none
            border-bottom: 1px dashed #999
            margin: 0
            box-sizing: border-box
        // padding: 15px 5px 5px 5px
        // a
        //     font-size: 14px
        //     margin-bottom: 10px
    .member-info-cont
        padding: 15px

    //=== 會員中心 - 收藏列表 480 ===
    .member-collect-box
        width: 100%

    //=== 會員中心 - 集章任務 480 ===
    .member-mission-total-box
        padding-bottom: 80px
        background: url(../img/bg_mission.png) no-repeat left bottom ,#B9F2D2
        .tit
            margin: 0 0 10px
    .member-mission-list
        .box02
            width: calc(100% - 140px)//180
        .box03
            width: 85px
        .box04
            width: 55px

    //=== 會員中心 - 集章任務內頁 480 ===
    .member-medal-box
        width: 50%
    .freebee-light-area
        width: 95%
        padding: 30px 15px
        // height: 600px
        .tit
            padding-bottom: 20px
            margin-bottom: 20px
        .btn-area
            margin: 30px 0 0
    .freebee-light-cont
        max-height: 300px
        margin: 0 0 20px

    //=== v4展場地圖 480 ===
    .exb-map-info-area
        // max-height: 80vh
        top: 54%
    .exb-map-info-cont
        max-height: 80vh
    .exb-map-info-tit
        font-size: 24px
        margin: 10px 0 20px
    .exb-map-info-img
        width: 200px
        height: 200px
    .exb-map-tag
        right: -30px
        transform: translate(0, -50%)
    .exb-map-info-txt
        padding: 20px
        // max-height: calc(95vh - 350px)
    .exb-event-mb-cont
        width: 90%
    .exhibition-floor-area
        padding: 10px 0
        margin: 0 -10px

    //=== 作家行跡 v5 480 ===
    //= 列表搜尋 =
    .writer-src-box
        .writer-sel
            width: calc(100% - 90px)
            border-radius: 0 3px 3px 0
        .text-src
            width: 100%
            margin-top: 5px
            border-radius: 3px
            border-left: 1px solid $m-color
    .writer-src-box.src
        margin: 20px 0 0
        .text-src
            width: calc(100% - 90px)
            border-radius: 3px 0 0 3px
        .creat-src-btn
            margin: 5px 0 0
    //= 內頁 =
    .writer-track-info-img
        width: 100%
        height: 0
        padding-bottom: 70%
    .writer-track-info-cont
        margin-top: -66px
        h2
            font-size: 26px
    //= 著作資料內頁 =
    .writer-book-name-box
        padding: 20px 0
    .writer-book-name
        font-size: 24px



@media screen and (max-width:414px)
    .exhibition-banner
        padding: 0 0 20px
        .swiper-slide-active
            .ind-exhibition-img
                transform: scale(1.1)

    //主題之旅
    .ind-theme-box > div,.ind-theme-box > a
        width: 100%

    //=== 台灣文學史 時間軸列表 ===
    .history-timeline-list
        .literary-box,.literary-box-cube
            width: 100%

    //=== 忘記密碼 ===
    .pwd-img-box
        justify-content: flex-start
        .tit
            width: 100%
            margin: 0 0 10px
    .pwd-img
        margin: 0 10px 0 0
    .pwd-img-input
        width: 100%

    //=== 作家行跡 標籤搜尋頁 ===
    .writer-src-tag-tit
        font-size: 125%
        line-height: 24px
    .writer-src-tag-img
        width: 70px
    .writer-src-tag-cont
        width: calc(100% - 80px)

    //=== 文學展示 內頁 ===
    //展覽分區B
    .exhibition-part-b-img
        width: 150px
    .exhibition-part-b-cont
        width: calc(100% - 160px)
    .exhibition-part-b-cont
        .tit
            margin: 0 0 5px
        .cont
            margin: 0 0 10px

    //=== 集章任務lightbox ===
    .light-step-tit
        margin: 0 auto 25px
    .light-step-img.cstep1
        img
            width: 80%
    .light-step-img.cstep2
        padding-top: 15%
    .light-step-img.cstep3
        padding-top: 10%
    .light-step-img.cstep4
        padding-top: 20%

@media screen and (max-width:375px)
    //=== 會員中心 - 編輯 375 ===
    .member-side-nav
        .item
            margin: 0 4px


// 桌機版的高度太小時
// media screen and (max-height: 760px) and (min-width: 440px)
//     .scroll-down
//         position: fixed
        
@media screen and (max-height: 800px) and (orientation: landscape) 
    .route-img-light-box
        width: auto
        height: 80%
        img
            height: 100%
// 桌機版的高度太小時
@media screen and (max-height: 760px) and (min-width:700px)
    .map-area-box
        height: 680px
    .story-cont-box-bg
        height: 680px