.travel-bg
    background: url(../img/bg_go.jpg) center top
.light-txt-wrap.travel-light
    border-radius: 5px
    overflow: hidden
    .light-txt-cont
        color: $t-mcolor
        border-color: $t-supc
        background: #f5efe7
    .btn
        background: $t-supc
        &:hover
            background: darken($t-supc,10%)
.travel-nav-area
    padding: 25px 10px
    background: url(../img/bg_go.jpg) center top,rgba(#FAF4E6,0.3)
    box-shadow: 3px 0 15px #b9b9b9
    position: sticky
    top: 0
    z-index: 5
    &:before
        content: ''
        width: 100%
        height: 100%
        background: url(../img/leaf_top.png) center top no-repeat
        display: block
        +position(0,null,null,0,2)
    &:after
        content: ''
        width: 100%
        height: 100%
        background: rgba(#FAF4E6,0.3)
        display: block
        +position(0,null,null,0,1)
.travel-nav-cont
    width: 100%
    max-width: 1110px
    margin: 0 auto
    // padding: 10px
    +flex($sb,$c)
    position: relative
    z-index: 6
.travel-logo
    height: 30px
    transition: .2s
    &:hover
        opacity: 0.8
    img
        transform: translateY(-23px)
.travel-nav
    font-size: 18px
    +flex($c,$c)
    .item
        color: $t-mcolor
        font-weight: 500
        margin: 0 20px
        padding: 8px 0
        line-height: 24px
        transition: .2s
        position: relative
        &:hover
            color: $t-supc
            .tsup-nav
                display: block
    .item-mc
        cursor: pointer
    .icon
        width: 20px
        height: 20px
        +position(12px,12px,null,null,3)
        display: none
    .travel-user-mb
        width: 100%
        display: none
        a
            display: block
.tsup-nav
    width: 100%
    padding: 25px
    border-top: 5px solid $t-supc
    border-radius: 5px
    // background: url(../img/bg_go.jpg) center center
    background: #f5efe7
    box-shadow: 0 0 5px #999
    +position(40px,null,null,0,2)
    display: none
    &:before
        content: ''
        width: 0
        height: 0
        border-style: solid
        border-width: 0 10px 13px 10px
        border-color: transparent transparent $t-supc transparent
        display: block
        +position(-15px,null,null,5px,2)
    a
        color: $t-mcolor
        margin: 0 0 20px
        display: block
        transition: .2s
        &:last-child
            margin: 0
        &:hover
            color: $t-supc
.travel-user
    +flex($c,$c)
    .travel-search
        margin: 0 10px 0 0
        +tcursor
        &:hover
            opacity: 0.8
    .travel-btn
        color: $t-mcolor
        padding: 8px 15px
        border: 1px solid $t-mcolor
        border-radius: 20px
        +tcursor
        a
            color: $t-mcolor
            line-height: 18px
            +tcursor
            &:hover
                color: $t-supc
                // color: lighten($t-mcolor,10%)
        // &:hover
        //     color: #fff
        //     background: $t-mcolor
.travel-user-box
    margin-right: 10px
.travel-lang-sel,.travel-sel
    color: $t-mcolor
    font-size: 15px
    line-height: 18px
    margin-right: 10px
    padding: 8px 30px 8px 15px
    border: 1px solid $t-mcolor
    border-radius: 20px
    background: url(../img/travel_sel_arr.svg) no-repeat right 10px center
    box-sizing: border-box
.more-link
    color: $t-mcolor
    font-size: 15px
    line-height: 18px
    margin-right: 10px
    padding: 8px 15px
    border: 1px solid $t-mcolor
    border-radius: 20px
    box-sizing: border-box
    display: inline-block
    transition: .2s
    &:hover
        color: #fff
        background: $t-mcolor

.travel-sel-box
    position: relative
.travel-sel-item-box
    width: 100%
    border: 1px solid $t-mcolor
    border-radius: 10px
    +position(36px,null,null,0,21)
    background: #f4ede3
    display: none
    .item
        font-size: 15px
        padding: 5px 15px
        border-bottom: 1px solid $t-mcolor
        &:last-child
            border-bottom: none


.travel-ham
    padding: 5px
    height: 34px
    // margin-left: 10px
    display: none
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
        background: $t-mcolor
.travel-ham.is-active .hamburger-inner, .travel-ham.is-active .hamburger-inner:after, .travel-ham.is-active .hamburger-inner:before
    background: $t-mcolor
.icon-plus
    background: url(../img/plus.svg) center center/cover
.icon-minus
    background: url(../img/minus.svg) center center/cover

//=== 共用 ===
.travel-area
    color: $t-mcolor
    padding: 0 20px
    position: relative
.travel-cont
    max-width: 1110px
    margin: 0 auto
    position: relative
    z-index: 2
.travel-cont-box
    padding: 20px 0 50px
.travel-tit
    // color: $t-mcolor
    text-align: center
    margin: 0 0 35px
    span
        font-size: 18px
        line-height: 1.5
    h2
        font-size: 36px
        font-weight: 500
        line-height: 1.5
        margin: 12px 0 0
.travel-tit-box
    text-align: center
    .travel-tit
        position: relative
        display: inline-block
    .butterfly01
        width: 55px
        height: 88px
        background: url(../img/l_butterfly.png) center center/cover
        +position(0,null,null,-95px,2)
    .butterfly02
        width: 62px
        height: 88px
        background: url(../img/r_butterfly.png) center center/cover
        +position(0,-102px,null,null,2)
//=== search ===
.travel-search-area
    width: 730px
    margin: 20px auto 0
    padding: 10px
    border-radius: 30px
    background: #fff
    box-sizing: border-box
    +flex($sb,$c)
    input
        font-size: 14px
        color: $t-mcolor
        line-height: 24px
        width: calc(100% - 45px)
        padding: 5px 10px
        box-sizing: border-box
    .travel-search
        +tcursor
        &:hover
            opacity: 0.8

.travel-edit-box
    img
        width: auto
        max-width: 100%
        margin: 0 0 15px
        border-radius: 10px

//=== banner ===
.travel-banner-area.off
    display: none
.travel-banner-area
    margin: 45px 0 60px
    position: relative
    &:before
        content: ''
        width: 100%
        height: 200px
        transform: translateY(-50%)
        +position(50%,null,null,0,1)
        background: rgba($t-supc,0.4)
        display: block
.travel-banner-cont
    width: 1110px
    margin: 0 auto
    background: #f7f7f7
    position: relative
    z-index: 2
    .book-top
        width: calc(100% + 2px)
        +position(-1px,null,null,-1px,3)
        img
            width: 100%
    .book-bottom
        width: calc(100% + 2px)
        +position(null,null,-1px,-1px,3)
        img
            width: 100%
.travel-banner-arrow
    position: relative
    .swiper-button-prev,.swiper-button-next
        width: 40px
        height: 20px
        margin-top: 0
        transform: translateY(-50%)
    .swiper-button-prev
        background: url(../img/wh_arrow_l.svg) center center no-repeat
        background-size: contain
        +position(50%,null,null,-60px,4)
    .swiper-button-next
        background: url(../img/wh_arrow_r.svg) center center no-repeat
        background-size: contain
        +position(50%,-60px,null,null,4)

.travel-banner
    overflow: hidden
    .travel-banner-img
        padding-bottom: 45%
        position: relative
        display: block
        img
            width: 100%
            height: 100%
            object-fit: cover
            +position(0,null,null,0,1)
    .swiper-pagination
        bottom: 50px
    .swiper-pagination-bullet
        border: 2px solid #fff
        background: none
        opacity: 1
    .swiper-pagination-bullet-active
        background: #fff

//=== 推薦你來體驗 ===
.travel-bg01
    overflow: hidden
.bg-pattern
    width: 255px
    height: 221px
    +position(30px,null,null,null,1)
    background: url(../img/bg_pattern.png) center center/cover
.pattern01
    left: -20px
.pattern02
    right: -20px
.travel-recommon-area
    +flex($sb,$c)
.travel-recommon-cont
    width: 32.5%
.travel-recommon-box
    padding-bottom: 82%
    border-radius: 10px
    overflow: hidden
    position: relative
    &:hover
        img.bg
            transform: scale(1.05)
    img.bg
        width: 100%
        height: 100%
        object-fit: cover
        +position(0,null,null,0,1)
        transition: .3s
.travel-recommon-tit
    color: #fff
    line-height: 1.5
    +position(35px,null,null,35px,2)
    h3
        font-size: 36px
        font-weight: 500
        margin: 0 0 12px
    span
        font-size: 18px
        display: block
        margin: 0 0 30px
    .icon
        width: 40px
        img
            position: relative

//===  ===
.travel-new-bg-bottom
    height: 50px
    background: url(../img/bg_new_ind.png) center bottom/cover no-repeat
//=== 更多的精選內容 ===
.travel-bg02
    background: url(../img/bg_trecommon01.jpg) center top repeat-x,url(../img/bg_trecommon02.jpg) center top
    // background: url(../img/bg2.png) bottom center/contain
    // background-repeat: repeat-x
    overflow: hidden
.cloud
    width: 153px
    height: 40px
    background: url(../img/cloud.png) center center/cover
.cloud01
    +position(47%,null,null,-15px,1)
.cloud02
    +position(33%,-60px,null,null,1)
.travel-theme-banner
    padding: 10px
    margin: 0 0 20px
    border-radius: 10px
    background: #fff
    +flexs($sb,$str)
    position: relative
.travel-theme-tab
    font-size: 14px
    line-height: 20px
    color: #fff
    padding: 8px 20px
    border-radius: 0 25px 25px 0
    background: url(../img/bg_tag.jpg) left center
    +position(35px,null,null,0,2)
.travel-theme-banner-img
    width: 450px
    min-height: 253px
    border-radius: 10px
    overflow: hidden
    display: block
    transition: .2s
    &:hover
        opacity: 0.8
    // .img
    //     padding-bottom: 56%
    //     position: relative
    img
        width: 100%
        height: 100%
        object-fit: cover
        // +position(0,null,null,0,1)
.travel-theme-banner-cont
    width: calc(100% - 485px)
    padding-top: 10px
    padding-right: 10px
    +flexs($flex-s,$sb)
    box-sizing: border-box
.travel-theme-txt
    color: $t-mcolor
    margin: 0 0 10px
    display: block
    transition: .2s
    &:hover
        opacity: 0.8
    .date
        font-size: 14px
        line-height: 1.2
        margin: 0 0 10px
    .tit
        font-size: 24px
        font-weight: 500
        line-height: 1.5
        margin: 0 0 20px
        +ctline(2)
    .txt
        font-size: 16px
        line-height: 1.5
        +ctline(3)
        // max-height: 63px
.travel-tag-area
    +flex($flex-s,$c)
    a
        font-size: 14px
        line-height: 20px
        color: $t-mcolor
        padding: 5px 10px
        // padding: 8px 15px
        margin: 0 10px 10px 0
        display: inline-block
        border: 1px solid $t-mcolor
        border-radius: 25px
        transition: .2s
        &:hover
            color: #fff
            background: $t-mcolor
    a.act
        color: #fff
        background: $t-mcolor

.travel-theme-area
    margin: 0 0 35px
    +flex($flex-s,$str)
.travel-theme-box
    width: calc((100% - 40px)/3)
    margin-right: 20px
    padding: 10px
    border-radius: 10px
    background: #fff
    // +flexs($flex-s,$sb)
    position: relative
    box-sizing: border-box
    &:nth-child(3n)
        margin-right: 0
    .travel-theme-txt
        padding: 0 5px
.travel-theme
    width: 100%
    .travel-theme-txt .tit
        margin: 0
.travel-theme-box-img
    margin: 0 0 15px
    padding-bottom: 58%
    border-radius: 10px
    display: block
    position: relative
    overflow: hidden
    transition: .2s
    &:hover
        opacity: 0.8
    img
        width: 100%
        height: 100%
        object-fit: cover
        +position(0,null,null,0,1)
.travel-theme-more
    font-size: 18px
    line-height: 28px
    text-align: right
    a
        display: inline-block
        +flex($flex-e,$c)
        transition: .2s
        &:hover
            opacity: 0.8
    span
        color: $t-mcolor
        font-weight: 500
        display: block
        margin-right: 10px

.travel-morelike-sw-area
    width: 100%
    margin: 0 auto
.travel-morelike-sw
    .swiper-slide
        width: calc((100% - 40px)/3)
        margin-right: 20px
        height: auto
        &:nth-child(3n)
            margin-right: 0
        .travel-theme-box
            width: 100%
            height: 100%
            margin-right: 0

//=== 關於我們 ===
.travel-bg03
    background: url(../img/bg_tabout01.jpg) center top/contain no-repeat,url(../img/bg_tabout03.png) center bottom/contain no-repeat,url(../img/bg_tabout02.jpg) center top,
    .travel-cont
        padding: 10% 0 22%
.cloud03
    +position(18%,null,null,10%,1)
.cloud04
    +position(18%,10%,null,null,1)
.travel-about
    font-size: 18px
    line-height: 28px
    // color: $t-mcolor
    text-align: center
    width: 730px
    margin: 0 auto 30px
.travel-about-btn-area
    +flex($c,$c)
    .travel-m-btn
        width: 270px
        padding: 17px 20px
        margin: 0 10px 10px
        background: none
        box-sizing: border-box
        display: block
        +flex($sb,$c)
        span
            display: block
.travel-m-btn
    font-size: 18px
    color: $t-mcolor
    border: 1px solid $t-mcolor
    padding: 10px 20px
    border-radius: 40px
    display: inline-block
    +tcursor
    box-sizing: border-box
    &:hover
        color: #fff
        background: $t-mcolor

.travel-orange-btn
    color: #fff
    border: 1px solid #D5572B
    background: #D5572B
    &:hover
        border: 1px solid darken(#D5572B,10%)
        background: darken(#D5572B,10%)

//=== 內頁共用 ===
.travel-bread-area
    font-size: 12px
    line-height: 18px
    max-width: 1110px
    margin: 0 auto
    padding: 15px 0
    a
        color: $t-mcolor
        transition: .2s
        &:hover
            color: $t-supc
    span
        color: $t-supc

.travel-pagination-area
    +flex($c,$c)
    text-align: center
    margin: 30px 0 60px
    a
        color: $t-mcolor
        font-size: 14px
        width: 30px
        height: 30px
        line-height: 30px
        display: block
        transition: .2s
        &:hover
            opacity: 0.8
    a.num
        margin: 0 5px
        border: 1px solid $t-mcolor
        border-radius: 50%
        &:hover
            color: #fff
            background: $t-mcolor
    a.act
        color: #fff
        background: $t-mcolor

.page-top-cover
    position: relative
    padding-top: 50px
    &:before
        content: ''
        width: 100%
        height: 200px
        +position(0,null,null,0,1)
        background: rgba($t-supc,0.4)
        display: block

.last-btn-area
    margin-bottom: 35px

//== 代表標籤 ==
.travel-quote-tag-area
    padding: 30px 20px 15px
    margin: 0 0 45px
    border-radius: 10px
    background: #fff
    box-shadow: 0px 4px 24px rgba(81, 66, 61, 0.06)
.travel-quote-tag-tit
    line-height: 1.2
    margin: 0 0 20px
    +flex($sb,$c)
    .tit
        font-size: 18px
        font-weight: 500
    .more-btn
        font-size: 16px
        color: #fff
        padding: 8px 15px
        border-radius: 25px
        background: $t-mcolor
        +tcursor
        i
            margin-right: 5px
        &:hover
            opacity: 0.8
.travel-quote-tag-cont
    height: 32px
    overflow: hidden
    // a
    //     padding: 5px 10px
.travel-quote-tag-cont.act-open
    height: auto

//=== 主題內頁 ===
.travel-page-tit-area
    max-width: 900px
    margin: 0 auto
    padding: 40px 0
    // padding: 70px 0 40px
    h2
        font-size: 36px
        font-weight: 500
        // color: $t-mcolor
        line-height: 1.5
        text-align: center
        // margin: 0 0 25px
        padding: 0 20px
    .tit-sup
        font-size: 18px
        text-align: center
        margin: 25px 0 0
        span
            color: $t-supc
            display: inline-block
            margin: 0 5px
    .tit-sup-up
        font-size: 18px
        text-align: center
        margin: 0 0 25px
    .tit-sup-note 
        text-align: center
        margin: 10px 0 0
.travel-page-info
    font-size: 14px
    margin: 25px 0 0
    +flex($c,$c)
    .info
        line-height: 20px
        padding: 0 10px
        border-right: 1px solid $t-mcolor
        +flex($flex-s,$c)
        .icon
            margin-right: 3px
        // &:nth-last-child(2)
        &:last-child
            border-right: 0
    .art
        color: $t-supc
        margin-left: 5px

.travel-page-main-banner
    max-width: 1110px
    height: 330px
    margin: 0 auto
    border-radius: 10px
    overflow: hidden
    position: relative
    z-index: 2
    img
        width: 100%
        height: 100%
        object-fit: cover
.travel-page-banner-area
    padding: 20px 0
    margin: 0 0 50px
    // margin: 0 0 100px
    background: rgba($t-supc,0.4)
    position: relative
    .travel-banner-cont
        background: none
    &:before
        content: ''
        display: block
        height: 20px
        width: 100%
        background: rgba($t-supc,0.4)
        +position(-20px,null,null,0,1)
.travel-page-banner
    overflow: hidden
.travel-page-img
    border-radius: 10px
    overflow: hidden
    padding-bottom: 58%
    position: relative
    +tcursor
    &:hover
        opacity: 0.8
    img
        width: 100%
        height: 100%
        object-fit: cover
        +position(0,null,null,0,1)
.travel-page-img.act
    position: relative
    &:before
        content: ''
        width: 100%
        height: 100%
        border: 2px solid #fff
        border-radius: 10px
        +position(0,null,null,0,2)
        display: block
        box-sizing: border-box

.travel-page-cont
    +flex($sb,$flex-s)
    .btn-area
        width: 770px//730
        margin: 0 0 45px
.travel-page-txt-cont
    width: 770px//730
.travel-page-tit
    font-size: 24px
    font-weight: 500
    // color: $t-mcolor
    margin: 0 0 20px
.travel-page-txt
    font-size: 18px
    // color: $t-mcolor
    margin: 0 0 60px
    .def
        line-height: 1.5
        margin: 0 0 45px
        &:last-child
            margin: 0

.travel-page-side
    width: 280px
    // margin: 0 15px 0 60px
    padding: 0 0 45px
    position: sticky
    top: 105px
.travel-page-side-box
    margin: 0 0 20px
    &:last-child
        margin: 0
.travel-page-score-total
    padding: 0 20px
    +flex($flex-s,$c)
    .icon
        width: 30px
        img
            width: 100%
    .score
        font-size: 24px
        margin-left: 10px
    i
        color: #feb400
.travel-side-route-box
    font-size: 18px
    padding: 20px 10px 20px 20px
    border-bottom: 1px dashed $t-mcolor
    +tcursor
    +flex($sb,$c)
    .name
        font-size: 18px
        width: calc(100% - 25px)
        transition: .2s
    .arr
        transition: .2s
    &:last-child
        border-bottom: 0
    &:hover
        background: rgba(#fff,0.3)
        .arr
            transform: translateX(5px)
.travel-page-side-btn
    .travel-m-btn
        width: 100%
        text-align: center
        margin: 0 0 10px
        &:last-child
            margin: 0
    .travel-m-btn.act
        color: #fff
        background: $t-supc
        border-color: $t-supc
.travel-page-tool
    position: sticky
    top: 105px
    margin: 20px 0 0
    +flex($c,$c)
    .icon
        width: 24px
        height: 24px
        margin: 0 10px
        // margin: 0 0 20px
        +tcursor
    .i-heart
        background: url(../img/t_collect.svg) center center/cover
        &:hover
            background: url(../img/t_collect_on.svg) center center/cover
    .i-link
        background: url(../img/t_copylink.svg) center center/cover
        &:hover
            background: url(../img/t_copylink_on.svg) center center/cover
    .i-fb
        background: url(../img/t_fb.svg) center center/cover
        &:hover
            background: url(../img/t_fb_on.svg) center center/cover
    .i-line
        background: url(../img/t_line.svg) center center/cover
        &:hover
            background: url(../img/t_line_on.svg) center center/cover
    .i-thumb
        background: url(../img/t_fb_thumb.svg) center center/cover
        &:hover
            background: url(../img/t_fb_thumb_on.svg) center center/cover
.travel-page-tool.mb-fix-bot
    width: calc(100% + 40px)
    margin: 20px -20px 0 -20px
    // padding: 10px 0
    // border-top: 1px dashed $t-mcolor
    background: #f5efe7
    position: sticky
    bottom: -1px
    z-index: 3
    display: none
    order: 4
    .mb-list-area
        width: 100%
        +position(null,0,62px,null,2)
    .mb-icon-box
        width: 100%
        padding-right: 10px
        margin: 0 0 15px
        +flex($flex-e,$c)
        box-sizing: border-box
        .icon
            width: 32px
            height: 32px
    .mb-list-box
        display: none
    .mb-list
        padding: 20px
        background: rgba(#fff,0.8)
        transition: .2s
        .btn
            font-size: 14px
            color: $t-mcolor
            width: 100%
            padding: 12px 10px
            text-align: center
            border: 1px solid $t-mcolor
            border-radius: 25px
            background: #fff
            margin: 0 0 15px
            +tcursor
            &:last-child
                margin: 0
            &:hover
                color: #fff
                background: $t-mcolor
        .close
            color: #fff
            border-color: #B1B1B1
            background: #B1B1B1
            &:hover
                color: #fff
                background: darken(#B1B1B1,10%)
    .mb-btn-box
        padding: 10px 20px
        background: $t-mcolor
        +flex($c,$c)
        i
            margin: 0 5px
        .btn
            font-size: 13px
            color: $t-mcolor
            width: calc((100% - 40px)/3)
            margin-right: 20px
            text-align: center
            padding: 12px 10px
            border-radius: 25px
            background: #f5efe7
            +flex($c,$c)
            +tcursor
            // .icon
            //     width: 15px
            //     height: 15px
            //     margin: 0 5px
            span
                display: inline-block
            &:hover
                color: #fff
                background: $t-supc
            &:last-child
                margin-right: 0
        .btn.w50
            width: calc((100% - 10px)/2)
            margin-right: 10px
            &:last-child
                margin-right: 0
        .travel-orange-btn
            color: #fff
            background: #D5572B
            &:hover
                background: darken(#D5572B,10%)
        .btn.w100
            width: 100%
        .btn.act
            color: #fff
            background: $t-supc

.travel-route-area
    margin: 0 0 45px 20px
.travel-route-box
    margin: 0 0 50px
    border-radius: 10px
    background: url(../img/bg_route.png)
    +flex($flex-s,$flex-s)
    position: relative
    .icon-scale
        width: 60px
        height: 60px
        border-radius: 0 10px 0 90%
        background: url(../img/icon_t_src.svg) 24px 15px no-repeat,#fff
        +position(0,0,null,null,2)
        +tcursor
        &:hover
            background: url(../img/icon_t_src.svg) 24px 15px no-repeat,#f7f7f7
    &:last-child
        margin: 0
.travel-route-img
    width: 350px
    height: 200px
    border-radius: 10px
    transform: translate(-20px,-20px)
    overflow: hidden
    img
        width: 100%
        height: 100%
        object-fit: cover
.travel-route-cont
    font-size: 14px
    color: #fff
    width: calc(100% - 370px)
    padding: 20px 0 10px
    .tit
        font-size: 18px
        margin: 0 0 5px
        font-weight: bold
        padding-right: 45px
    .address
        margin: 0 0 20px
        font-weight: bold
        padding-right: 25px
    .cont
        +ctline(3)
.travel-route-article-area
    margin: 0 0 30px
    +flex($flex-s,$str)

.route-map-area
    width: 100%
    height: 400px
    margin: 0 0 45px
    border-radius: 10px
    overflow: hidden

.travel-route-article-box
    width: 50%
    box-sizing: border-box
    .tit
        font-size: 14px
        margin: 0 0 35px
    &:first-child
        padding: 0 30px 30px 0
        border-right: 1px dashed $t-mcolor
    &:last-child
        padding: 0 0 30px 30px
.route-article
    margin: 0 0 10px
    +flex($sb,$c)
    .icon
        width: 48px
        height: 48px
        border-radius: 50%
        overflow: hidden
        img
            width: 100%
            height: 100%
            object-fit: cover
    .name
        font-size: 24px
        width: calc(100% - 70px)
.route-article-cont
    font-size: 14px
    line-height: 1.5

//== 留言區 ==
.travel-pagebg02
    overflow: hidden
    background: url(../img/bg_tpage02.png) center bottom/contain no-repeat, url(../img/bg_gpaper.png) center top
    .travel-cont
        padding: 60px 0
    .travel-page-cont
        margin: 120px 0 0
        // margin: 0 0 120px
        // justify-content: $sb
.travel-page-common-area
    border-radius: 10px
    background: #fff
.travel-page-common-user
    padding: 25px
    +flex($sb,$flex-s)
    .user-img
        width: 48px
        height: 48px
        border-radius: 50%
        overflow: hidden
        img
            width: 100%
            height: 100%
            object-fit: cover
.travel-page-common-user.unlog
    align-items: $c
.travel-page-common-cont
    width: calc(100% - 60px)
.travel-page-common-note
    font-size: 18px
    line-height: 1
    color: #000
    a
        color: $t-supc
        transition: .2s
        &:hover
            color: darken($t-supc,10%)
.travel-page-common-input
    border: 1px solid $t-mcolor
    border-radius: 10px
    padding: 0 10px
    +flex($flex-s,$c)
    box-sizing: border-box
    background: #fff
    input
        font-size: 14px
        line-height: 18px
        color: $t-mcolor
        width: calc(100% - 25px)
        padding: 14px 10px 14px 0
        box-sizing: border-box
        background: none
        &::placeholder
            color: #999
    .sumbit
        +tcursor
        &:hover
            transform: translateX(5px)
.travel-page-robot-box
    margin: 5px 0 0
.page-common-star-box
    margin: 0 0 3px
    +flex($flex-s,$c)
    .star
        margin-left: 5px
        position: relative
.star-input
    width: 100%
    height: 100%
    +position(0,null,null,0,2)
.star-c
    width: 18px
    height: 18px
    cursor: pointer
    &:after
        content: '\f005'
        color: #999
        display: block
input.star-input:checked + .star-c::after
    color: #feb400

.travel-page-common-user.req
    padding: 25px
    border-bottom: 1px dashed $t-mcolor
    &:last-child
        border-bottom: 0
.page-common-req
    +flex($sb,$flex-s)
    .info
        width: calc(100% - 90px)
    .name-box
        margin: 0 0 10px
        +flex($flex-s,$c)
        .name
            font-size: 18px
            font-weight: 500
            line-height: 1
            margin-right: 10px
        .star-box
            i
                color: #999
            i.on
                color: #feb400
    .cont
        font-size: 14px
        line-height: 1.5
    .date
        font-size: 14px
        color: #999
.travel-page-recommon
    width: 320px
    // width: 285px
    .travel-recommon-cont
        width: 100%
    .travel-recommon-box
        display: block
        height: 355px
        padding-bottom: 0
//== 猜你應該會喜歡的內容 ==
.travel-page-more-cont
    >.tit
        font-size: 24px
        font-weight: 500
        margin: 0 0 25px
        text-align: center
    .travel-theme-area
        margin: 0

.travel-route-popup-area
    width: 770px
    height: 660px
    background: url(../img/bg_go.jpg) center top
    position: fixed
    top: 50%
    left: 50%
    z-index: 21
    transform: translate(-50%,-50%)
    display: none
.route-popup-close
    width: 36px
    height: 36px
    background: url(../img/t_popup_close.svg) center center/cover
    +position(20px,20px,null,null,2)
    +tcursor
    &:hover
        transform: rotate(-90deg)
.route-popup-img
    // height: 440px
    height: 330px
    img
        width: 100%
        height: 100%
        object-fit: cover
.route-popup-cont
    // height: 220px
    height: 330px
    font-size: 18px
    padding: 35px 60px
    overflow: hidden
    box-sizing: border-box
    .tit
        font-size: 24px
        margin: 0 0 15px
        text-align: center
        +flex($c,$c)
        .icon
            margin-right: 10px
    .address
        margin: 0 0 25px
        text-align: center
    .about
        margin: 50px 0 20px
    .data-from
        a
            color: #555
            text-decoration: underline
            transition: .2s
            &:hover
                color: $t-supc

//=== 部落格內頁 ===
.blog-tit-area
    height: 330px
    margin: 0 0 50px
    // margin: 0 0 100px
    background: url(../img/blog_banner.png) center center
    position: relative
    overflow: hidden
    .bg-img
        width: 100%
        height: 100%
        object-fit: cover
        +position(0,null,null,0,1)
    &:before,&:after
        content: ''
        display: block
        width: 100%
        height: 100%
        +position(0,null,null,0,2)
    &:before
        +grad-mask
    &:after
        background: url(../img/blog_bike.png) left bottom -1px no-repeat,url(../img/blog_house.png) right bottom -1px no-repeat
        background-size: 15%
        z-index: 3
    .cloud
        width: 92px
        height: 24px
.cloud05
    +position(150px,null,null,-10px,3)
.cloud06
    +position(160px,-10px,null,null,3)
.blog-tit
    color: #fff
    width: 100%
    padding: 0 20px
    box-sizing: border-box
    +position(50%,null,null,50%,4)
    transform: translate(-50%,-50%)
    h2
        font-size: 36px
        line-height: 1.5
        text-shadow: 0 0 5px #555
        margin: 0 auto 60px
        text-align: center
        max-width: 900px
        box-sizing: border-box
    .travel-page-info
        .info
            border-color: #fff
        span.art
                color: #fff

.travel-theme-side-area
    +flex($flex-s,$str)
.travel-theme-side-box
    width: 100%
    height: 150px
    border-radius: 10px
    margin: 0 0 20px
    position: relative
    display: block
    overflow: hidden
    &:before
        content: ''
        display: block
        width: 100%
        height: 100%
        +position(0,null,null,0,2)
        +grad-mask
    &:last-child
        margin: 0
    &:hover
        img
            transform: scale(1.05)
    img
        width: 100%
        height: 100%
        object-fit: cover
        transition: .2s
    .tit
        font-size: 18px
        line-height: 1.5
        color: #fff
        padding: 0 10px
        +position(null,null,10px,0,3)
        +ctline(2)

//=== 主題列表 ===
.travel-theme-banner-sw-area
    margin-top: 0
.travel-theme-banner-sw-cont
    background: none
.travel-theme-banner-sw
    padding: 0
    border-radius: 10px
    overflow: hidden
    .swiper-slide
        padding-bottom: 0
        border-radius: 10px
        overflow: hidden
    .swiper-pagination
        bottom: 10px
.travel-theme-banner-sw-img
    height: 330px
    display: block
    position: relative
    transition: .2s
    img
        width: 100%
        height: 100%
        object-fit: cover
    .tit-box
        width: 95%
        text-align: center
        +position(null,null,40px,2.5%,2)
    .tit
        font-size: 24px
        color: #fff
        // width: 95%
        padding: 5px 10px
        text-align: center
        background: rgba(#000,0.6)
        // +position(null,null,40px,50%,2)
        // transform: translateX(-50%)
        box-sizing: border-box
        display: inline-block
    &:hover
        opacity: 0.9

.travel-theme-cube-list
    +flex($flex-s,$str)
.travel-theme-cube-box
    color: $t-mcolor
    width: calc((100% - 30px)/3)
    padding: 10px
    margin: 0 15px 30px 0
    border-radius: 10px
    overflow: hidden
    background: #fff
    display: block
    box-sizing: border-box
    box-shadow: 0px 4px 24px rgba(81, 66, 61, 0.06)
    &:hover
        .travel-theme-cube-img,.travel-theme-cube-cont
            opacity: 0.8
    &:nth-child(3n)
        margin-right: 0
.travel-theme-cube-img
    border-radius: 10px
    overflow: hidden
    transition: .2s
    .img
        padding-bottom: 58%
        position: relative
        img
            width: 100%
            height: 100%
            object-fit: cover
            +position(0,null,null,0,1)
.travel-theme-cube-cont
    transition: .2s
    .date
        font-size: 14px
        line-height: 1.2
        margin: 10px 0
    .tit
        font-size: 24px
        line-height: 1.2
        font-weight: 500
        +ctline(2)

//=== 路線列表 ===
.travel-route-theme-box
    padding: 10px
    border-radius: 10px
    margin: 0 0 25px
    background: #fff
    box-shadow: 0px 4px 24px rgba(81, 66, 61, 0.06)
    +flex($sb,$flex-s)
    box-sizing: border-box
.travel-route-theme-img
    width: 500px
    padding-bottom: 280px
    border-radius: 10px
    overflow: hidden
    position: relative
    transition: .2s
    img
        width: 100%
        height: 100%
        object-fit: cover
        +position(0,null,null,0,1)
    &:hover
        opacity: 0.8
.travel-route-theme-cont
    width: calc(100% - 520px)
    .travel-page-info
        margin: 5px 0 0
        justify-content: flex-start
        .info
            &:first-child
                padding-left: 0
        .share-btn-box
            margin-left: 10px
            padding: 5px 0
.travel-src-tag
    align-items: $str
    .travel-route-theme-cont
        +flexs($flex-s,$sb)
.travel-route-theme-date
    margin: 10px 0
    +flex($sb,$c)
    .date
        font-size: 14px
        line-height: 1.2
.travel-route-theme-icon-area
    +flex($flex-e,$c)
.travel-route-theme-icon-box
    +flex($flex-s,$c)
    .icon
        width: 20px
        margin-right: 5px
        img
            width: 100%
        span
            font-size: 16px
            line-height: 1.2
.icon-heart
    width: 20px
    height: 20px
    margin: 0 5px 0 10px
    background: url(../img/icon_heart.svg) no-repeat center center/contain
    +tcursor
.icon-heart.on
    background: url(../img/icon_heart_on.svg) no-repeat center center/contain
.travel-route-theme-txt
    color: $t-mcolor
    line-height: 1.5
    margin: 0 0 15px
    display: block
    transition: .2s
    .tit
        font-size: 24px
        font-weight: 500
        margin: 0 0 15px
        +ctline(2)
    .cont
        font-size: 16px
        +ctline(2)
        // max-height: 42px
    &:hover
        opacity: 0.8

//=== 標籤搜尋結果頁 ===
.travel-route-theme-src-list
    .travel-page-tit
        width: 100%
    .travel-route-theme-box
        .travel-route-theme-txt
            .cont
                +ctline(3)
                // max-height: 63px

//=== 家族走走 ===
.travel-family-place-sel-box
    width: 90%
    margin: 0 auto 30px
    .tit
        font-size: 20px
        font-weight: 500
        margin: 0 0 10px
        text-align: center
    .travel-sel
        width: 100%
        margin-right: 0
.travel-family-area
    background: url(../img/bg_family_map_cont.png) top center
.travel-family-boder
    img
        width: 100%
.travel-family-boder + .footer-top-cover
    padding-bottom: 23%
    margin-top: -30px

.travel-family-place-sel-box
    display: none
.travel-family-map
    // padding: 150px 0
    padding: 13.5% 0
    position: relative
    .taiwan
        width: 83%
        margin: 0 auto

.travel-family-museum-box
    width: 12.7%
    // width: 140px
.travel-family-sw-box
    // width: 140px
    position: relative
    .swiper-button-prev,.swiper-button-next
        width: auto
        height: auto
        margin-top: 0
        transform: translateY(-50%)
        background: none
        i
            color: $t-mcolor
            font-size: 26px
    .swiper-button-prev
        left: -20px
    .swiper-button-next
        right: -20px
.travel-family-sw
    overflow: hidden
    .swiper-slide
        height: auto
        position: relative
        // img
        //     max-width: 100%
        //     height: 100%
        //     // max-height: 100%
        //     margin: 0 auto
        //     object-fit: contain
.d-camera
    border-radius: 3px
    width: 26px
    height: 26px
    text-align: center
    line-height: 28px
    // background: #fff
    background: rgba(#fff,0.7)
    +position(0,0,null,null,5)
    // opacity: 0.7
    +tcursor
    &:hover
        background: rgba(#fff,1)
    i
        font-size: 20px
        color: #51423D
.museum-slide-box
    position: relative
.museum-slide
    display: block
.museum-slide-img
    padding-bottom: 50%
    position: relative
    img
        width: 100%
        height: 100%
        max-width: 100%
        max-height: 100%
        // margin: 0 auto
        object-fit: contain
        +position(50%,null,null,50%,1)
        // position: relative
        // top: 50%
        transform: translate(-50%,-50%)
.travel-family-sw-place
    font-size: 18px
    font-weight: 500
    text-align: center
    margin: 0 0 5px
.travel-family-sw-museum
    font-size: 14px
    color: $t-mcolor
    font-weight: 500
    text-align: center
    margin: 5px 0 0
.museum-dot
    width: 8px
    height: 8px
    border-radius: 50%
    background: $t-mcolor
    position: absolute
    z-index: 2
.museum-line
    border-top: 1.5px dashed $t-mcolor
    position: absolute
    z-index: 2
    transform-origin: left

//1台北市(id:2) 2宜蘭(id:17) 3台中(id:7) 4南投(id:9) 5嘉義(id:11) 6屏東(id:14) 7高雄(id:13) 8台南(id:12) 9雲林(id:10) 10金門(id:18) 11彰化(id:8) 12苗栗(id:6) 13新竹(id:5) 14桃園(id:4)
//1基隆 2臺北 3新北 4桃園 5新竹 6苗栗 7臺中 8彰化 9南投 10雲林 11嘉義 12臺南 13高雄 14屏東 15臺東 16花蓮 17宜蘭 18金門 19澎湖 20小琉球 21馬祖 22蘭嶼 23綠島
// 1台北市(id:2)
.museumArea2
    +position(null,52%,82%,null,3)
.museum-dot2
    top: 25.3%
    left: 27.7%
.museum-line2
    top: 25.8%
    left: 27.7%
    width: 14%
    transform: rotate(-25deg)
// 2宜蘭(id:17)
.museumArea17
    +position(null,40%,69%,null,3)
.museum-dot17
    top: 31.1%
    left: 39.8%
.museum-line17
    top: 31.4%
    left: 40.5%
    width: 13%
    transform: rotate(2.5deg)
// 3台中(id:7)
.museumArea7
    +position(null,26%,57.5%,null,3)
.museum-dot7
    top: 44.6%
    left: 33.4%
.museum-line7
    top: 45%
    left: 34%
    width: 34%
    transform: rotate(-3deg)
// 4南投(id:9)
.museumArea9
    +position(44%,20%,null,null,3)
.museum-dot9
    top: 51.3%
    left: 40.8%
.museum-line9
    top: 51.6%
    left: 41%
    width: 26.5%
    transform: rotate(2.1deg)
// 5嘉義(id:11)
.museumArea11
    +position(null,12%,24%,null,3)
.museum-dot11
    top: 60.9%
    left: 42.2%
.museum-line11
    top: 61.3%
    left: 43%
    width: 35%
    transform: rotate(9deg)
// 6屏東(id:14) 
.museumArea14
    +position(77%,8%,null,null,3)
.museum-dot14
    top: 71.6%
    left: 60.1%
.museum-line14
    top: 72.1%
    left: 61%
    width: 21%
    transform: rotate(21.5deg)
// 7高雄(id:13)
.museumArea13
    +position(80%,29%,null,null,3)
.museum-dot13
    top: 72.4%
    left: 51.8%
.museum-line13
    top: 73%
    left: 52.3%
    width: 11.5%
    transform: rotate(48deg)
// 8台南(id:12)
.museumArea12
    +position(77%,51%,null,null,3)
.museum-dot12
    top: 70%
    left: 44.1%
.museum-line12
    top: 70.5%
    left: 44.5%
    width: 5%
    transform: rotate(102deg)
// 9雲林(id:10)
.museumArea10
    +position(69%,null,null,19%,3)
.museum-dot10
    top: 59.8%
    left: 34.1%
.museum-line10
    top: 60.2%
    left: 34.3%
    width: 9.5%
    transform: rotate(130deg)
// 10金門(id:18)
.museumArea18
    +position(70%,null,null,2%,3)
.museum-dot18,.museum-line18
    display: none
// 11彰化(id:8)
.museumArea8
    +position(53%,null,null,10%,3)
.museum-dot8
    top: 56.2%
    left: 30.4%
.museum-line8
    top: 56.5%
    left: 31%
    width: 11%
    transform: rotate(189deg)
// 12苗栗(id:6)
.museumArea6
    +position(36%,null,null,2%,3)
.museum-dot6
    top: 42.9%
    left: 26.6%
.museum-line6
    top: 43.3%
    left: 27%
    width: 16%
    transform: rotate(199deg)
// 13新竹(id:5)
.museumArea5
    +position(null,null,69%,2%,3)
.museum-dot5
    top: 36%
    left: 26.8%
.museum-line5
    top: 36.3%
    left: 27%
    width: 18.5%
    transform: rotate(192deg)
// 14桃園(id:4)
.museumArea4
    +position(null,null,84%,13%,3)
.museum-dot4
    top: 30.6%
    left: 25.6%
.museum-line4
    top: 31%
    left: 26%
    width: 13.5%
    transform: rotate(240deg)
// 15花蓮(id:19)
.museumArea19
    +position(null,null,77%,68%,3)
.museum-dot19
    top: 40.6%
    left: 47.6%
.museum-line19
    top: 41%
    left: 48%
    width: 25%
    transform: rotate(323deg)


//=== 家族走走內頁 ===
.museum-cont-tit-box
    height: 200px
    margin: 0 0 50px
    // margin: 0 0 20px
    background: url(../img/bg_tit_page.jpg) center center
    position: relative
    img
        width: 100%
        max-width: 300px
        max-height: 150px
        +position(50%,null,null,50%,1)
        transform: translate(-50%,-50%)

.travel-page-outlink-area
    margin: 0 0 10px
    a
        color: $t-supc
        margin: 0 10px 10px 0
        display: inline-block
        transition: .2s
        &:hover
            color: darken($t-supc,10%)
            span
                border-bottom: 1px solid darken($t-supc,10%)
        span
            border-bottom: 1px solid $t-supc
.travel-page-video-box
    margin: 50px 0
    border-radius: 10px
    padding-bottom: 56%
    overflow: hidden
    position: relative
    iframe
        width: 100%
        height: 100%
        +position(0,null,null,0,2)

.travel-page-recommon-list
    margin: 0 0 60px
    .item
        margin: 10px 0
        +flex($flex-s,$c)
    .icon
        width: 20px
        margin: 0 5px 0 0
    a
        width: calc(100% - 25px)
        color: #6A7A22
        display: inline-block
        text-decoration: underline
        transition: .2s
        &:hover
            color: darken(#6A7A22,10%)
.recommon-museum-box
    padding: 40px 20px
    border-bottom: 2px dashed #999
    display: block
    transition: .2s
    box-sizing: border-box
    &:last-child
        border-bottom: none
    &:hover
        opacity: 0.8
.recommon-museum-img
    margin: 0 0 20px
    position: relative
    img
        width: 80%
        margin: 0 auto
        max-width: 180px
        max-height: 100px
.recommon-museum-name
    color: $t-mcolor
    font-size: 24px
    line-height: 1.2
    font-weight: 500
    text-align: center

//=== 最新消息列表 ===
.travel-news-type-area
    margin: 0 0 25px
    +flex($flex-e,$c)
.travel-news-type-box
    +flex($flex-e,$c)
    .tit
        font-size: 15px
        font-weight: 500
        margin-right: 10px
.travel-news-list
    +flex($flex-s,$str)
.travel-news-box
    width: calc((100% - 40px)/3)
    margin: 0 20px 20px 0
    padding: 10px
    border-radius: 10px
    background: #fff
    box-shadow: 0px 4px 24px rgba(81, 66, 61, 0.06)
    position: relative
    box-sizing: border-box
    &:nth-child(3n)
        margin-right: 0
    .travel-page-info
        margin: 5px 0 0
        justify-content: flex-start
        .info
            &:first-child
                padding-left: 0
        .share-btn-box
            margin-left: 10px
            padding: 5px 0
    .travel-theme-txt
        .tit
            margin: 0 0 10px
            // min-height: 72px
            display: block
.travel-news-img
    margin: 0 0 15px
    padding-bottom: 59%
    position: relative
    transition: .2s
    display: block
    &:hover
        opacity: 0.8
    img
        width: 100%
        height: 100%
        object-fit: cover
        +position(0,null,null,0,1)
.travel-news-date
    margin: 10px 0
    +flex($sb,$c)
    .data
        font-size: 14px

//=== 最新消息內頁 ===
.travel-page-txt-banner
    margin: 30px 0
    border-radius: 10px
    overflow: hidden
    img
        width: 100%

//=== 部落格列表 ===
.blog-type-area
    justify-content: $sb
    .travel-m-btn
        padding: 5px 20px

.travel-blog-list
    &:after
        content: ''
        display: block
        clear: both
.blog-sizer
    width: calc((100% - 40px)/3)
.blog-gutter-sizer
    width: 20px
.travel-blog-box
    width: calc((100% - 40px)/3)
    margin: 0 20px 20px 0
    padding: 10px
    border-radius: 10px
    background: #fff
    box-shadow: 0px 4px 24px rgba(81, 66, 61, 0.06)
    position: relative
    box-sizing: border-box
    float: left
    &:nth-child(3n)
        margin-right: 0
    .travel-page-info
        margin: 5px 0 0
        justify-content: flex-start
        .info
            &:first-child
                padding-left: 0
        .share-btn-box
            margin-left: 10px
            padding: 5px 0
    .travel-theme-txt
        .tit
            margin: 0 0 10px
            display: block
        .txt
            -webkit-line-clamp: 5
            // max-height: 105px
.travel-blog-img
    margin: 0 0 15px
    display: block
    img
        width: 100%
.travel-blog-date
    margin: 10px 0
    +flex($sb,$c)
    font-size: 14px
    .name-box
        +flex($flex-e,$c)
    span
        color: $t-supc

//=== 部落格內頁 ===
.travel-blog-txt
    line-height: 1.5
    .tit
        font-size: 24px
        font-weight: 500
        margin: 0 0 20px
    p
        font-size: 16px
        margin: 0 0 50px
    .link-box
        color: $t-supc
        text-decoration: underline
        margin: 0 0 20px
        display: inline-block
        transition: .2s
        &:hover
            color: darken($t-supc,10%)
    .blog-img
        border-radius: 10px
        margin: 0 0 20px
        overflow: hidden
        img
            max-width: 100%
            display: inline-block
        .note
            font-size: 14px
            padding: 0 0 3px
            border-bottom: 1px solid $t-supc
            display: inline-block
        a.note
            color: $t-mcolor
            transition: .2s
            &:hover
                color: $t-supc
    .blog-img.center
        text-align: center
    .blog-img.right
        text-align: right
.quote-box
    +flex($c,$c)
    margin: 0 0 50px
    &:before
        content: ''
        display: block
        width: 55px
        height: 88px
        margin-right: 15px
        background: url(../img/l_butterfly.png) center center/cover
    &:after
        content: ''
        display: block
        width: 62px
        height: 88px
        margin-left: 15px
        background: url(../img/r_butterfly.png) center center/cover
    .cont
        font-size: 24px
        font-weight: 500
        max-width: calc(100% - 150px)
        text-align: center

//=== 部落格編輯 ===
.travel-blog-edit-tit-area
    max-width: none
    padding: 70px 0 10px
    margin: 0 0 20px
    border-bottom: 2px solid $t-mcolor
    h2
        text-align: left
        padding: 0
.travel-blog-edit-cont
    +flex($sb,$flex-s)
    .btn-area
        width: calc(100% - 325px)
        // text-align: center
        +flex($c,$c)
        margin: 0 0 45px
        .travel-m-btn
            margin: 0 10px
.travel-blog-edit-txt-cont
    width: calc(100% - 325px)
    padding-right: 25px
    border-right: 1px solid #bbb
    box-sizing: border-box
.blog-edit-tit
    font-size: 18px
    font-weight: 500
    margin: 0 0 15px
.travel-blog-edit-side
    width: 300px
    position: sticky
    top: 105px
    padding: 0 0 45px
    background: url(../img/bg_go.jpg) center center
.blog-edit-btn-area
    padding: 0 0 10px
    margin: 0 0 20px
    border-bottom: 1px solid #999
    +flex($sb,$c)
    .mb-btn
        display: none
.blog-edit-btn
    font-size: 15px
    color: #fff
    width: 48%
    border-radius: 50px
    padding: 10px
    margin: 0 0 10px
    background: $t-mcolor
    +tcursor
    box-sizing: border-box
    +flex($c,$c)
    &:hover
        background: darken($t-mcolor,10%)
    .icon
        width: 25px
        margin-right: 5px
        img
            width: 100%
.blog-edit-cancle-btn
    color: #fff
    padding: 10px 15px
    border-radius: 50px
    background: #999
    +tcursor
    +flex($sb,$c)
    &:hover
        background: darken(#999,10%)
    span
        font-size: 15px
        display: inline-block
//== 部落格編輯 input項目 ==
.blog-edit-box
    margin: 0 0 25px
    .blog-edit-tit
        +flex($flex-s,$flex-e)
        label
            display: block
        span.note
            font-size: 14px
            color: #999
            margin-left: 10px
    .blog-edit-sort-tit
        +flex($sb,$c)
    label.error,.req-note
        color: #fff
        padding: 5px 10px
        border-radius: 3px
        background: #D94F4F//#e83e3e
        margin: 0
        display: inline-block
.blog-input-sty
    font-size: 16px
    color: $t-mcolor
    width: 100%
    line-height: 1.2
    margin: 0 0 10px
    padding: 10px
    border-radius: 3px
    background: #fff
    box-sizing: border-box
    &:last-child
        margin: 0
.blog-input-sty:nth-child(1) + label.error
    margin: 0 0 10px 
.blog-submit-btn
    position: relative
    overflow: hidden
    input
        width: 100%
        height: 100%
        +position(0,null,null,0,1)
        opacity: 0
.blog-edit-check-box
    +flex($flex-s,$c)
.blog-edit-check
    position: relative
    display: inline-block
    margin: 0 10px 10px 0
    cursor: pointer
    &:hover
        span
            color: $t-supc
    input
        +position(0,null,null,0,1)
    input:checked + .check-box::after
        content: '\f00c'
        font-size: 15px
        color: $t-mcolor
        transform: translateY(-1px)
        display: block
    .check-box
        width: 16px
        height: 16px
        border-radius: 0
        border: 1px solid $t-mcolor
        margin: 0 3px 0 0
        background: transparent
        +dvm
    span
        width: auto
        font-size: 15px
        font-weight: 500
        color: $t-mcolor
        +dvm
.blog-edit-img
    border: 1px solid #ddd
    border-radius: 10px
    margin: 0 0 10px
    padding-bottom: 30%
    background: url(../img/bg_add_img.svg) no-repeat center center/25% #eee
    position: relative
    input
        width: 100%
        height: 100%
        +position(0,null,null,0,3)
        opacity: 0
    img
        width: 100%
        height: 100%
        object-fit: contain
        +position(0,null,null,0,1)
    label.error
        transform: translate(10px,10px)
    .preview-box
        width: 100%
        height: 100%
        +position(0,null,null,0,2)
.sort-box
    +flex($flex-e,$c)
    .sort
        margin-right: 10px
    .icon
        width: 30px
        height: 30px
        line-height: 30px
        text-align: center
        border-radius: 3px
        background: #D9D9D9
        box-sizing: border-box
        +tcursor
        &:hover
            background: darken(#D9D9D9,10%)
.blog-edit-textarea
    font-size: 16px
    line-height: 1.2
    width: 100%
    height: 150px
    border-radius: 3px
    padding: 10px
    resize: none
    background: #fff
    box-sizing: border-box
.blog-edit-textarea + label.error
    margin: 10px 0 0
.blog-edit-sel-box
    margin: 10px 0 0
    +flex($flex-s,$c)
    .tit
        font-size: 15px
        margin-right: 10px
    .travel-sel-place
        order: 1
    .note-box
        margin: 5px 0 0
        +flex($flex-s,$c)
        order: 2
        span
            font-size: 14px
            color: #999
            margin-right: 10px
            display: block

//=== 線上解謎 ===
.travel-game-area
    margin: 0 0 20px
    +flex($sb,$str)
.travel-game-box
    width: 48%
    padding: 10px
    margin: 0 0 20px
    border-radius: 10px
    background: #fff
    box-shadow: 0px 4px 24px rgba(81, 66, 61, 0.06)
    box-sizing: border-box
    .img-area
        border-radius: 10px
        padding-bottom: 55%
        overflow: hidden
        position: relative
        display: block
        +tcursor
        &:hover
            opacity: 0.8
        img
            width: 100%
            height: 100%
            object-fit: cover
            +position(0,null,null,0,1)
    .video-area
        border-radius: 10px
        padding-bottom: 55%
        overflow: hidden
        position: relative
        iframe
            width: 100%
            height: 100%
            +position(0,null,null,0,1)
.travel-download-btn-cont
    .tit
        font-size: 24px
        line-height: 1.5
        font-weight: 500
        margin: 10px 0 5px
    .cont
        font-size: 16px
        line-height: 1.5
    .btn-box
        text-align: center
        margin: 20px auto 0
    .btn
        font-size: 16px
        color: #fff
        padding: 15px 20px
        border-radius: 50px
        background: $t-supc
        display: inline-block
        +tcursor
        &:hover
            background: darken($t-supc,10%)

//=== 學習單 ===
.worksheet-area
    margin: 0 0 50px
    +flex($flex-s,$str)
.worksheet-box
    width: calc((100% - 40px)/3)
    margin-right: 20px
    margin-bottom: 20px
    padding: 10px
    border-radius: 10px
    background: #fff
    box-shadow: 0px 4px 24px rgba(81, 66, 61, 0.06)
    box-sizing: border-box
    &:nth-child(3n)
        margin-right: 0
.about-worksheet-link-area
    .icon-tit
        margin: 20px 0 10px
        position: relative
        .icon
            width: 25px
            padding: 0 10px
            margin: 0 auto
            background: #fff
            position: relative
            z-index: 2
            img
                width: 100%
        &:after
            content: ''
            width: 100%
            height: 1px
            background: #ddd
            +position(50%,null,null,0,1)
            transform: translatY(-50%)
    .tit
        font-size: 16px
        font-weight: 500
        text-align: center
.about-worksheet-list
    padding: 10px 0
    li
        padding: 5px 0
        border-bottom: 1px dashed #bbb
        +flex($sb,$c)
        &:last-child
            border-bottom: none
    a
        font-size: 16px
        color: $t-supc
        width: calc(100% - 20px)
        font-weight: 500
        transition: .2s
        display: inline-block
        +ct
        &:hover
            color: darken($t-supc,10%)

//=== 活動月曆地圖 ===
.travel-event-list-area
    color: $t-mcolor
    width: 45%
    padding: 20px
    border-radius: 20px
    background: rgba(#fff,0.8)
    +position(5%,0,null,null,2)
    // transform: translateY(-50%)
    box-sizing: border-box
    display: none
    .event-tit
        font-size: 18px
        margin: 0 0 15px
    .travel-about-btn-area
        justify-content: $flex-e
    .travel-m-btn
        font-size: 16px
        width: 230px
        padding: 13px 20px
        margin: 0
.travel-event-list-area.act
    display: block
.travel-event-list
    margin: 0 0 15px
    .list-box
        color: $t-mcolor
        padding: 15px
        margin: 0 0 10px
        border-radius: 10px
        display: block
        background: #C9D09D
        transition: .2s
        &:hover
            background: darken(#C9D09D,10%)
        &:last-child
            margin: 0
        .date
            font-size: 13px
            color: #768327
            margin: 0 0 3px
        .tit
            font-size: 15px
            +ctline(2)
    .list-box.act
        background: #E1CA77
        position: relative
        &:hover
            background: darken(#E1CA77,10%)
        .date
            color: #AF9432
        &:before
            content: ''
            display: block
            width: 20px
            height: 30px
            background: url(../img/event_tab.svg) no-repeat center center/cover
            +position(-5px,25px,null,null,2)

.travel-event-map-cont
    max-width: 1200px
    .taiwan
        margin: 0
.travel-event-more-area
    width: 100%
    height: 100%
    +position(0,null,null,0,1)
.event-dot-box
    position: absolute
    z-index: 2
    .tit
        font-size: 16px
        color: $t-mcolor
        +tcursor
        &:hover
            color: #f12323
            // color: darken($t-mcolor,10%)
    &:before,&:after
        content: ''
        display: block
        transition: .2s
    &:before
        transform: translate(calc(50% - 1px),20px)
        border-left: 1.5px dashed $t-mcolor
    &:after
        width: 10px
        height: 10px
        border-radius: 50%
        margin: 0 auto
        background: $t-mcolor
.event-dot-box.act
    color: #f12323
    .tit
        color: #f12323
    &:before
        border-color: #f12323
    &:after
        background: #f12323
// .eline1
//     width: 5%
//     border-top: 1.5px dashed #ff0000
//     transform: rotate(90deg) translateY(20px)
//     transform-origin: left
//     position: absolute

.len01
    .tit
        transform: translateY(-55px)
    &:before
        height: 50px
.len02
    .tit
        transform: translateY(-65px)
    &:before
        height: 60px
.len03
    .tit
        transform: translateY(-75px)
    &:before
        height: 70px

.edot1
    left: 24%
    bottom: 74%
.edot2
    left: 20.5%
    bottom: 72%
.edot3
    left: 27%
    bottom: 70%
.edot4
    left: 15.5%
    bottom: 65%
.edot5
    left: 19%
    bottom: 60.5%
.edot6
    left: 23%
    bottom: 55%
.edot7
    left: 28%
    bottom: 53%
.edot8
    left: 23%
    bottom: 43%
.edot9
    left: 34%
    bottom: 48%
.edot10
    left: 28%
    bottom: 39%
.edot11
    left: 32%
    bottom: 35%
.edot12
    left: 37%
    bottom: 29%
.edot13
    left: 43%
    bottom: 35%
.edot14
    left: 49%
    bottom: 27%
.edot15
    left: 54%
    bottom: 36%
.edot16
    left: 44%
    bottom: 51%
.edot17
    left: 34%
    bottom: 66%
.edot18
    left: 0%
    bottom: 53.5%
.edot19
    left: 15.5%
    bottom: 27.5%
.edot20
    left: 52%
    bottom: 20%
.edot21
    left: 3%
    bottom: 69%
.edot22
    left: 76%
    bottom: 29.5%
.edot23
    left: 63.8%
    bottom: 37%
        


// .event-dot
//     width: 10px
//     height: 10px
//     border-radius: 50%
//     background: $t-mcolor
//     position: absolute
//     z-index: 2

// .event-line
//     border-top: 1.5px dashed $t-mcolor
//     position: absolute
//     z-index: 2
//     transform-origin: left

//=== 活動月曆列表 ===
.travel-event-type-area
    justify-content: $flex-s
    margin: 0 0 15px
    .travel-news-type-box
        margin: 0 0 10px
.travel-event-box
    margin: 0 0 25px
    +flex($sb,$c)
    .travel-route-theme-box
        width: calc(100% - 100px)
        margin: 0
        position: relative
    .travel-event-theme-txt
        position: relative
        .travel-route-theme-icon-box
            +position(6px,5px,null,null,3)
            .icon
                margin: 0
        .tit
            padding-right: 30px
.travel-event-date
    width: 100px
    text-align: center
    .year
        font-size: 16px
        margin: 0 0 5px
    .date
        font-size: 28px
        margin: 0 0 5px
    .s-date
        &:after
            content: ''
            width: 2px
            height: 20px
            margin: 5px auto 0
            display: block
            background: $t-mcolor
    .mb-line
        display: none

//=== 活動月曆內頁 ===
.travel-event-area
    .btn-area
        margin: 45px 0
.travel-side-date-box
    +flex($flex-s,$c)
    .year
        font-size: 20px
        color: #999
        width: 100%
        margin: 0 0 5px
    .date
        font-size: 38px
    .s-date
        +flex($flex-s,$c)
        &:after
            content: ''
            display: block
            width: 10px
            height: 2px
            margin: 0 10px
            background: $t-mcolor

//=== 關於筆尖地圖 ===
.travel-about-area
    padding: 70px
    margin: 0 0 30px
    border-radius: 10px
    background: #fff
    box-shadow: 0px 4px 24px rgba(81, 66, 61, 0.06)

//=== 全站搜尋 ===
.travel-search-key-area
    padding: 50px 40px 30px
    margin: 0 0 30px
    border-radius: 10px
    box-shadow: 0px 4px 24px rgba(81, 66, 61, 0.06)
    background: #fff
.travel-search-key
    border-bottom: 1px solid #999
    padding-bottom: 10px
    margin: 0 0 10px
    +flex($sb,$c)
    input
        color: $t-mcolor
        font-size: 18px
        width: calc(100% - 95px)
        padding: 5px
        box-sizing: border-box
        &:placeholder
            color: #bbb
.search-submit
    font-size: 16px
    color: #fff
    padding: 7px 15px
    border-radius: 50px
    background: $t-mcolor
    +tcursor
    i
        margin-left: 5px
    &:hover
        background: darken($t-mcolor,10%)

.travel-search-key-txt
    font-size: 18px
    text-align: center
    span
        color: $t-supc
        font-weight: 500
        margin: 0 5px
        display: inline-block
.travel-src-tab-box
    margin: 0 0 30px
    text-align: center
    +flex($c,$c)
    .tab
        font-size: 15px
        padding: 5px 10px
        border-radius: 50px
        margin: 0 5px
        box-sizing: border-box
        +tcursor
        &:hover
            color: #fff
            background: $t-mcolor
    .tab.act
        color: #fff
        background: $t-mcolor
        


//=== footer ===
.footer-top-cover
    padding-bottom: 18%
    background: url(../img/bg_tpage02.png) center bottom/contain no-repeat, url(../img/bg_gpaper.png) center top
.travel-footer-area
    padding: 60px 20px
    background: url(../img/bg_tfooter01.jpg) center top
    position: relative
    .travel-cont
        font-size: 18px
        color: #fff
        padding: 0
        +flex($sb,$flex-e)
.travel-footer-area.bg2
    background: url(../img/bg_tfooter02.jpg) center top
.tlogo-w
    margin: 0 0 40px
    display: none
.travel-footer-info
    margin: 0 0 30px
    a
        color: #fff
        padding: 5px 0
        display: inline-block
        transition: .2s
        &:hover
            color: $t-mcolor
.travel-footer-about
    +flex($flex-s,$flex-s)
    .tm-logo
        margin-left: 10px
        display: inline-block
        transition: .2s
        &:hover
            opacity: 0.8
.travel-footer-social
    margin: 0 0 65px
    +flex($flex-e,$flex-s)
    .icon
        display: block
        transition: .2s
        &:first-child
            margin-right: 25px
        &:hover
            opacity: 0.8
.tcopyright
    font-size: 14px

.travel-gotop
    width: 60px
    height: 60px
    font-size: 26px
    color: #fff
    border-radius: 50%
    line-height: 60px
    text-align: center
    background: $t-mcolor
    position: fixed
    bottom: -100px
    right: 20px
    z-index: 3
    +tcursor
    &:hover
        opacity: 0.8
.gotop-fix
    position: absolute