@media screen and (max-width:1300px)
    //== 首頁 1300 ==
    .travel-banner-cont
        width: calc(100% - 120px)
    .travel-banner-arrow
        .swiper-button-prev
            left: -50px
        .swiper-button-next
            right: -50px

    //== 主題內頁 1300 ==
    .travel-page-main-banner
        width: calc(100% - 120px)

@media screen and (max-width:1200px)
    .travel-ham
        display: block
    //== nav 1200 ==
    .travel-logo
        img
            width: 50px
            transform: translate(10px,-10px)
    .travel-ham
        display: block
    .travel-nav-cont
        width: 100%
        max-width: none
    .travel-nav-area
        padding: 10px 20px
    .travel-nav
        width: calc(100% + 40px)
        // width: calc(100% + 20px)
        border-top: 1px solid $t-mcolor
        +position(50px,null,null,-20px,2)
        // +position(50px,null,null,-10px,2)
        // background: url(../img/bg_go.jpg) center top
        background: #f5efe7
        box-shadow: 3px 0 5px #999
        display: none
        .item
            width: 100%
            margin: 0
            padding: 0
            text-align: center
            span
                padding: 10px 0
                display: block
            &:hover
                .tsup-nav
                    display: none
        .icon
            display: block
        .travel-user-mb
            display: block
    .travel-user-box
        display: none
    .tsup-nav
        padding: 0
        position: relative
        border-radius: 0
        top: 0
        border-top: 0
        // display: block
        box-shadow: none
        &:after
            content: ''
            display: block
            width: 100%
            height: 100%
            background: rgba(#a5c9c8,0.5)
            +position(0,null,null,0,1)
        a
            margin: 0
            position: relative
            z-index: 2
        &:before
            display: none
    //== 主題內頁 1200 ==
    .travel-page-cont
        .btn-area
            width: calc(100% - 275px)
    .travel-page-txt-cont
        width: calc(100% - 275px)
    .travel-page-side
        width: 250px
        top: 75px
        // width: 220px
        // margin: 0 0 0 20px
    .travel-page-recommon
        width: 260px

    //=== 家族走走內頁 1200 ===
    .recommon-museum-box
        padding: 20px
    .recommon-museum-img
        img
            max-width: 140px
    
    //=== 部落格編輯 1200 ===
    .travel-blog-edit-side
        top: 75px

    //=== 活動月曆地圖 1200 ===
    .travel-event-more-area
        padding: 5% 0
        position: relative
    .travel-event-list-area
        width: 50%
        top: 20%

@media screen and (max-width:1024px)
    //== 首頁 -  推薦你來體驗 1024 ==
    .travel-recommon-tit
        top: 20px
        left: 20px
    //== 首頁 - 更多的精選內容 1024 ==
    .travel-theme-banner-img
        width: 400px
    .travel-theme-banner-cont
        width: calc(100% - 420px)

    .travel-theme-box
        width: calc((100% - 20px)/3)
        margin-right: 10px

    //== 主題內頁 1024 ==
    .travel-page-tit-area
        h2
            padding: 0
    
    .travel-route-img
        width: 50%
    .travel-route-cont
        width: calc(50% - 20px)

    .travel-route-article-box
        &:first-child
            padding: 0 20px 20px 0
        &:last-child
            padding: 0 0 20px 20px

    .travel-route-popup-area
        width: 750px

    //=== 路線列表 1024 ===
    .travel-route-theme-img
        width: 49%
    .travel-route-theme-cont
        width: 49%

    //=== 最新消息列表 1024 ===
    .travel-news-box
        width: calc((100% - 20px)/2)
        margin-right: 20px
        &:nth-child(3n)
            margin-right: 20px
        &:nth-child(2n)
            margin-right: 0

    //=== 活動月曆地圖 1200 ===
    .travel-event-more-area
        padding: 10% 0
    .travel-event-list-area
        width: 50%
    .len01
        .tit
            transform: translateY(-45px)
        &:before
            height: 40px
    .len02
        .tit
            transform: translateY(-55px)
        &:before
            height: 50px
    .len03
        .tit
            transform: translateY(-65px)
        &:before
            height: 60px

@media screen and (max-width:900px)
    //=== 家族走走 900 ===
    .museumArea3
        right: 22%
        bottom: 57%
    .museumArea5
        right: 9%

@media screen and (max-width:850px)
    //=== 活動月曆地圖 850 ===
    .travel-event-more-area
        padding: 15% 0
    .event-dot-box:after
        width: 8px
        height: 8px
    .len01
        .tit
            transform: translateY(-35px)
        &:before
            height: 30px
    .len02
        .tit
            transform: translateY(-45px)
        &:before
            height: 40px
    .len03
        .tit
            transform: translateY(-55px)
        &:before
            height: 50px

@media screen and (max-width:768px)
    // //== nav 768 ==
    // .travel-ham
    //     display: block
    .travel-nav-area
        padding: 10px
    .travel-nav
        width: calc(100% + 20px)
        left: -10px
    // .travel-nav
    //     width: calc(100% + 20px)
    //     border-top: 1px solid $t-mcolor
    //     +position(50px,null,null,-10px,2)
    //     background: url(../img/bg_go.jpg) center top
    //     box-shadow: 3px 0 5px #999
    //     .item
    //         width: 100%
    //         margin: 0
    //         padding: 0
    //         text-align: center
    //         span
    //             padding: 10px 0
    //             display: block
    //         &:hover
    //             .tsup-nav
    //                 display: none
    //     .icon
    //         display: block
    // .tsup-nav
    //     padding: 0
    //     position: relative
    //     border-radius: 0
    //     top: 0
    //     border-top: 0
    //     // display: block
    //     box-shadow: none
    //     &:after
    //         content: ''
    //         display: block
    //         width: 100%
    //         height: 100%
    //         background: rgba(#a5c9c8,0.5)
    //         +position(0,null,null,0,1)
    //     a
    //         margin: 0
    //         position: relative
    //         z-index: 2
    //     &:before
    //         display: none
    //== 首頁 768 ==
    .travel-search-area
        width: 95%
    .travel-banner-area
        &:before
            height: 120px
    .travel-tit
        span
            font-size: 16px
        h2
            font-size: 30px
    .travel-recommon-tit
        h3
            font-size: 30px
        span
            font-size: 16px
    // //== 首頁 - 推薦你來體驗 768 ==
    // .travel-recommon-tit
    //     top: 35px
    //     left: 35px
    // .travel-recommon-cont
    //     width: 100%
    //     margin: 0 0 20px
    //     &:last-child
    //         margin: 0
    // //== 首頁 - 更多的精選內容 768 ==
    // .travel-theme-banner-img
    //     width: 100%
    // .travel-theme-banner-cont
    //     width: 100%
    //     padding: 10px 10px 0
    // .travel-theme-box
    //     width: 100%
    //     margin: 0 0 20px
    .travel-theme-txt
        .tit
            font-size: 22px
            margin: 0 0 10px
    // .travel-tag-area
    //     a
    //         padding: 5px 10px
    //== 首頁 - 關於我們 768 ==
    .cloud03
        left: 20px
    .cloud04
        right: 20px
    .travel-about
        font-size: 16px
    .travel-about-btn-area
        // display: block
        .btn
            font-size: 16px
            padding: 12px 20px
            margin: 0 auto
            &:first-child
                margin: 0 auto 20px
        .travel-m-btn
            padding: 10px 20px
    .travel-about
        width: 95%

    //== 內頁共用 768 ==
    .page-top-cover
        padding-top: 30px
        &:before
            height: 120px
            
    .travel-quote-tag-area
        margin: 0 0 30px
    .travel-quote-tag-tit
        margin: 0 0 10px
        .more-btn
            font-size: 14px
            padding: 5px 10px

    //== 主題內頁 768 ==
    .travel-page-tit-area
        padding: 30px 0 20px
        h2
            font-size: 28px
            // margin: 0 0 15px
        .tit-sup
            font-size: 16px
            margin: 10px 0 0
        .tit-sup-up
            font-size: 16px
            margin: 0 0 10px
    .travel-page-info
        margin: 15px 0 0
    .travel-page-banner-area
        padding: 10px 0
        // margin: 0 0 50px

    .travel-page-cont
        .btn-area
            width: 100%
            order: 3
    .travel-page-txt-cont
        width: 100%
        // width: calc(100% - 30px)
        // order: 0
    .travel-page-side
        width: 100%
        margin: 0
        // order: 2
        position: static
        top: 0
    .travel-page-tit
        margin: 0 0 10px
    .travel-page-side-box.routelist
        display: none
    .travel-page-tool
        // margin-left: 5px
        // transform: translateX(10px)
        top: 70px
        // order: 1
    .mb-side
        padding: 0 0 10px
    .travel-page-side-btn.pc-show,.travel-page-tool.pc-show
        display: none
    .travel-page-tool.mb-fix-bot
        display: block

    .travel-route-article-area
        margin: 0 0 20px
    .travel-route-article-box
        width: 100%
        .tit
            margin: 0 0 20px
        &:first-child
            padding: 0 0 20px
            border-right: 0
            border-bottom: 1px dashed $t-mcolor
        &:last-child
            padding: 20px 0 0

    .travel-pagebg02
        .travel-page-cont
            margin: 60px 0 0
        .travel-page-txt-cont
            width: 100%
            margin: 0 0 20px
    .travel-page-recommon
        width: 350px
    
    .travel-route-popup-area
        width: 95%
    .route-popup-cont
        font-size: 16px
        padding: 30px
        .tit
            font-size: 20px

    //== 部落格內頁 768 ==
    .blog-tit-area
        // margin: 0 0 50px
        &:after
            background-size: 20%
    .blog-tit
        h2
            font-size: 30px
            margin: 0 0 30px

    .travel-theme-side-box
        width: 49%
        margin: 0 2% 20px 0
        &:nth-child(2n)
            margin: 0 0 20px 0

    //=== 主題列表 768 ===
    .travel-theme-banner-sw-img
        .tit
            // width: 95%
            font-size: 22px
    .travel-theme-cube-box
        width: calc((100% - 10px)/2)
        margin-right: 10px
        margin-bottom: 20px
        // width: 100%
        // margin: 0 0 20px
        &:nth-child(3n)
            margin-right: 10px
        &:nth-child(2n)
            margin-right: 0
    .travel-theme-cube-cont
        .tit
            font-size: 22px

    //=== 路線列表 768 ===
    .travel-route-theme-list
        +flex($sb,$str)
    .travel-route-theme-box
        width: 49%
        padding: 10px
        margin-bottom: 20px
    .travel-route-theme-img
        width: 100%
        margin: 0 0 10px
        padding-bottom: 56%
    .travel-route-theme-cont
        width: 100%
    .travel-route-theme-txt
        .tit
            font-size: 22px

    //=== 家族走走 768 ===
    .travel-family-place-sel-box
        display: block
    .museum-dot,.museum-line
        display: none
    .travel-family-map
        padding: 50px 0
    .travel-family-museum-box
        width: 85%
        top: 50%
        left: 50%
        bottom: auto
        right: auto
        transform: translate(-50%,-50%)
        // display: none
        opacity: 0
    .travel-family-museum-box.open
        opacity: 1
        z-index: 5
        .swiper-button-prev,.swiper-button-next
            z-index: 20
    .travel-family-sw-box
        .swiper-button-prev,.swiper-button-next
            i
                font-size: 65px
        .swiper-button-prev
            left: -35px
        .swiper-button-next
            right: -35px
    .museum-slide-img
        img
            width: 80%
            max-height: 70%
    .travel-family-sw-place
        font-size: 22px
    .travel-family-sw-museum
        font-size: 18px

    //=== 家族走走內頁 768 ===
    .museum-cont-tit-box
        height: 120px
        img
            max-width: 250px
            max-height: 90px
    .travel-page-video-box
        margin: 30px 0
    .recommon-museum-name
        font-size: 22px

    //=== 最新消息列表 768 ===
    .travel-news-box
        width: calc((100% - 10px)/2)
        margin-right: 10px
        &:nth-child(3n)
            margin-right: 10px
        &:nth-child(2n)
            margin-right: 0
    // .travel-news-box
    //     width: 100%
    //     margin: 0 0 20px
    //     &:nth-child(3n)
    //         margin-right: 0
    //     &:nth-child(2n)
    //         margin-right: 0
    //     .travel-theme-txt
    //         .tit
    //             min-height: auto

    //=== 部落格列表 768 ===
    .blog-sizer
        width: calc((100% - 10px)/2)
    .blog-gutter-sizer
        width: 10px
    .travel-blog-box
        width: calc((100% - 10px)/2)
        margin-right: 10px
        margin-bottom: 10px
        &:nth-child(3n)
            margin-right: 0
        &:nth-child(2n)
            margin-right: 10px
    // .blog-sizer
    //     width: 100%
    // .blog-gutter-sizer
    //     width: 0px
    // .travel-blog-box
    //     width: 100%

    //=== 部落格內頁 768 ===
    .travel-blog-txt
        .tit
            margin: 0 0 10px
        p
            margin: 0 0 30px
        .link-box
            margin: 0 0 10px
        .img-box
            margin: 0 0 10px
    .quote-box
        margin: 0 0 30px

    //=== 部落格編輯 768 ===
    .travel-blog-edit-cont
        .btn-area
            width: 100%
            // border-top: 1px solid #999
            padding: 20px 0 40px
            margin: 0
    .travel-blog-edit-txt-cont
        width: 100%
        padding-right: 0
        border-right: none
        border-bottom: 1px solid #bbb
        margin: 0 0 10px
    .travel-blog-edit-side
        width: 100%
        top: auto
        bottom: 0px
        padding: 10px 0 0
        // margin: 0 0 20px
        // background: #f7f0e8
    .blog-edit-btn-area
        margin: 0
        padding: 0
        border: none
        .mb-btn
            display: flex
    .blog-edit-btn
        width: 32%
    .blog-edit-cancle-btn.pc-btn
        display: none

    //=== 線上解謎 768 ===
    .travel-game-box
        width: 49%
        // width: 100%
    .travel-download-btn-cont
        .tit
            font-size: 22px

    //=== 學習單 768 ===
    .worksheet-box
        width: calc((100% - 10px)/2)
        margin-right: 10px
        &:nth-child(3n)
            margin-right: 10px
        &:nth-child(2n)
            margin-right: 0
        // width: 100%
        // margin: 0 0 20px

    //=== 活動月曆地圖 768 ===
    .travel-event-more-area
        padding: 50px 0
        background: url(../img/event_taiwan.svg) no-repeat center center/contain
    .event-dot-box
        display: none
    .travel-event-map
        display: none
        // background: url(../img/event_taiwan.svg) no-repeat center center/contain
        // .taiwan
        //     display: none
    .travel-event-list-area
        width: 100%
        margin: 0 auto 
        // right: 5%
        position: relative
        top: 0
        transform: translateY(0)

    //=== 活動月曆列表 768 ===
    .travel-event-area
        +flex($sb,$str)
    .travel-event-box
        width: 49%
        .travel-route-theme-box
            width: 100%
    .travel-event-date
        width: 100%
        margin: 0 0 10px
        +flex($c,$c)
        .year
            width: 100%
        .date
            margin: 0
        .s-date
            // +flex($flex-s,$c)
            &:after
                display: none
                // width: 20px
                // height: 2px
                // margin: 0 5px
        .mb-line
            width: 20px
            height: 2px
            margin: 0 10px
            background: $t-mcolor
            display: block

    //=== 活動月曆內頁 768 ===
    .travel-event-area
        .btn-area
            margin: 0 0 45px
    .travel-side-date-box
        .date
            font-size: 34px

    //=== 關於筆尖地圖 768 ===
    .travel-about-area
        padding: 40px

    //=== 全站搜尋 768 ===
    .travel-search-key
        input
            font-size: 16px
    .travel-search-key-txt
        font-size: 16px

    //== footer 768 ==
    .travel-footer-area
        .travel-cont
            font-size: 16px
    
    .travel-gotop
        right: 10px

@media screen and (max-width:767px)
    //== 首頁 - 推薦你來體驗 767 ==
    .travel-recommon-tit
        top: 35px
        left: 35px
    .travel-recommon-cont
        width: 100%
        margin: 0 0 20px
        &:last-child
            margin: 0
    //== 首頁 - 更多的精選內容 767 ==
    .travel-theme-banner-img
        width: 100%
    .travel-theme-banner-cont
        width: 100%
        padding: 10px 10px 0
    .travel-theme-box
        width: 100%
        margin: 0 0 20px
    
    //== 文章內頁猜你喜歡 ==
    .travel-morelike-sw-area
        width: 80%


@media screen and (max-width:600px)
    //== nav ==
    .travel-ham
        padding: 0
        height: 24px
    //== banner 600 ==
    .travel-banner
        .swiper-pagination
            bottom: 20px
    .travel-theme-banner-sw-img
        .tit-box
            bottom: 50px
    //== footer 600 ==
    .travel-footer-box
        width: 100%
        &:first-child
            margin: 0 0 20px
    .tlogo-w
        margin: 0 0 30px
    .travel-footer-info
        margin: 0 0 20px
    .travel-footer-social
        justify-content: $flex-s
        margin:0 0 20px

@media screen and (max-width:480px)
    //== 首頁 480 ==
    .travel-search-area
        width: 100%
    .travel-banner-area
        margin: 30px 0
        &:before
            height: 70px
    .travel-banner-cont
        width: calc(100% - 60px)
    .travel-banner-arrow
        .swiper-button-prev,.swiper-button-next
            width: 20px
            height: 10px
        .swiper-button-prev
            left: -25px
        .swiper-button-next
            right: -25px
    
    //=== 共用 480 ===
    .travel-area
        padding: 0 10px
    .travel-cont
        padding: 20px 0 50px
    .travel-detail-cont
        padding: 20px 0 0
    .travel-tit
        h2
            font-size: 24px
    .travel-tit-box
        .butterfly01
            left: -80px
        .butterfly02
            right: -80px
    
    .travel-about
        width: 100%
    
    //== 更多的精選內容 480 ==
    .travel-theme-txt
        .tit
            font-size: 20px
    //== 內頁共用 480 ==
    .travel-bread-area
        padding: 10px 0
    .travel-pagination-area
        margin: 20px 0 0
    .page-top-cover
        &:before
            height: 70px

    .travel-quote-tag-area
        padding: 15px 10px

    .last-btn-area
        margin-bottom: 0

    //=== 主題列表 480 ===
    .travel-theme-banner-sw-img
        .tit
            font-size: 20px
    .travel-theme-cube-box
        width: 100%
        &:nth-child(3n)
            margin-right: 0

    //== 主題內頁 480 ==
    .travel-page-tit-area
        // padding: 15px 0
        h2
            font-size: 26px
    .travel-page-main-banner
        width: calc(100% - 60px)

    .travel-page-cont
        .btn-area
            margin: 0
    // .travel-page-tool
    //     transform: translateX(3px)

    .travel-page-tool.mb-fix-bot
        margin: 60px -10px 0 -10px
        .mb-list-area
            bottom: 60px
        .mb-icon-box
            margin: 0 0 10px
        .mb-list
            padding: 10px
            .btn
                margin: 0 0 10px
        .mb-btn-box
            padding: 10px
            .btn
                width: calc((100% - 20px)/3)
                margin-right: 10px

    .travel-route-area
        margin: 0 0 45px 10px
    .travel-route-box
        .icon-scale
            top: -10px
            right: 10px
    .travel-route-img
        width: 100%
        transform: translate(-10px,-10px)
    .travel-route-cont
        width: 100%
        padding: 5px 15px 15px 15px

    .travel-route-popup-area
        height: 550px
    .route-popup-img
        // height: 300px
        height: 250px
    .route-popup-cont
        height: 300px
        // height: 250px
        padding: 20px
        .tit
            margin: 0 0 10px
        .address
            margin: 0 0 15px

    .travel-morelike-sw-area
        width: 85%

    //=== 部落格列表 480 ===
    .blog-sizer
        width: 100%
    .blog-gutter-sizer
        width: 0px
    .travel-blog-box
        width: 100%
        &:nth-child(3n),&:nth-child(2n)
            margin-right: 0

    //== 部落格內頁 480 ==
    .blog-tit-area
        &:after
            background-size: 30%
    .blog-tit
        padding: 0 10px

    .travel-theme-side-box
        width: 100%
        margin: 0 0 10px 0
        &:nth-child(2n)
            margin: 0 0 10px 0

    //=== 主題列表 480 ===
    .travel-theme-banner-sw-area
        margin-top: 0
    .travel-theme-cube-cont
        .tit
            font-size: 20px

    //=== 路線列表 480 ===
    .travel-route-theme-box
        width: 100%
    .travel-route-theme-date
        margin: 5px 0
    .travel-route-theme-txt
        margin: 0 0 10px
        .tit
            font-size: 20px
            margin: 0 0 10px

    //=== 家族走走 480 ===
    .travel-family-area
        .travel-cont
            padding: 0
    .travel-family-sw-box
        .swiper-button-prev,.swiper-button-next
            i
                font-size: 55px
        .swiper-button-prev
            left: -30px
        .swiper-button-next
            right: -30px
            
    //=== 家族走走內頁 480 ===
    .museum-cont-tit-box
        height: 70px
        margin: 0
        img
            max-width: 160px
            max-height: 50px
    .travel-page-video-box
        margin: 20px 0
    .recommon-museum-name
        font-size: 18px

    //=== 最新消息列表 480 ===
    .travel-news-box
        width: 100%
        margin: 0 0 20px
        &:nth-child(3n)
            margin-right: 0
        &:nth-child(2n)
            margin-right: 0

    //=== 部落格編輯 480 ===
    .travel-blog-edit-tit-area
        margin: 0
    .travel-blog-edit-cont
        .btn-area
            padding: 20px 0 0
            .travel-m-btn
                width: 100%
                margin: 0
            .blog-submit-btn
                margin-top: 10px

    //=== 線上解謎 768 ===
    .travel-game-box
        width: 100%

    //=== 線上解謎 480 ===
    .travel-game-area
        margin: 0
    .travel-download-btn-cont
        .tit
            font-size: 20px

    //=== 學習單 480 ===
    .worksheet-area
        margin: 0
    .worksheet-box
        width: 100%
        margin: 0 0 20px
        &:nth-child(3n)
            margin-right: 0
    
    //=== 活動月曆地圖 480 ===
    .travel-event-list-area .travel-m-btn
        width: 100%

    //=== 活動月曆列表 480 ===
    .travel-event-box
        width: 100%

    //=== 活動月曆內頁 480 ===
    // .travel-event-area
    //     .travel-cont
    //         padding: 20px 0 0
    .travel-side-date-box
        .date
            font-size: 30px

    //=== 關於筆尖地圖 480 ===
    .travel-about-area
        padding: 20px
        margin: 0

    //=== 全站搜尋 480 ===
    .travel-search-key-area
        padding: 30px 20px 20px
        margin: 0 0 20px
    .travel-src-tab-box
        margin: 0 0 15px
        justify-content: $sb
        .tab
            width: 49%
            margin: 0 0 5px

    //=== footer 480 ===
    .travel-footer-area
        padding: 30px 10px

    .travel-gotop
        font-size: 22px
        width: 40px
        height: 40px
        line-height: 40px