.edit-box
    img.for-icon
        max-width: 56px
        height: auto
        display: inline-block
        vertical-align: bottom
        margin: 0 5px 0 0
    img.for-line
        max-width: 100%
        width: 100%
        height: auto
    //04/14/21 永清新增
    .hr-yellow
        width: 100%
        height: 5px
        background-color: #f7b52a
        border: none
        display: block
    input[type="button"]
        font-size: 16px
        line-height: 24px
        height: 30px
        -webkit-appearance: button
        border: 1px solid rgb(118, 118, 118)
        border-radius: 2px
    input[type="checkbox"]
        -webkit-appearance: checkbox
    input[type="radio"]
         -webkit-appearance: radio
    a
        word-break: break-word
        cursor: pointer
        transition: 0.2s
        color: #00aff0
        &:hover
            color: #FFFFFF
            background: #00aff0

    //04/15/21 客戶需要自定義用的css，客戶定義的class name一律以 cum起頭 底線連接詞，以區分我們的寫法
    .cum_box
        .cum_a
            margin: 0px
            padding: 5px
            line-height: 1
            color: #00aff0
            text-decoration: none
            display: inline-block
            transition: .3s
            &:hover
                color: #FFFFFF
                background: #00aff0
                text-decoration: none
    //0511新增
    .parallel-layout
        display: flex
        justify-content: space-between
        flex-wrap: nowrap
        margin: 0 0 12px
        div
            margin: 0 10px
            box-sizing: border-box


@media screen and (max-width:480px)
    .edit-box
        //0511新增
        .parallel-layout
            flex-wrap: wrap
            div
                width: 100% !important
                margin: 0 0 10px