mixin exbMapInfoArea(Data)
    .exb-map-info-area(id=Data.id style="display:none;")
        .exb-map-close.light-close-btn
            img(src="img/icon_close.svg", alt="")
            //- span 關閉
        .exb-map-info-cont.light-scroll
            .exb-map-info-img
                .exb-map-tag #{Data.tag}
                img(src="img/exb_map.jpg", alt="")
            .exb-map-info-tit 寫字療疾──臺灣文學中的疾與療 #{Data.tag}
            //- .exb-map-info-txt.light-scroll
            .exb-map-info-txt
                .tit 寫字療疾──臺灣文學中的疾與療 #{Data.tag}
                .edit-box
                    img(src="img/exb_map1.jpg", alt="" style="width:auto;")
                    p(style="font-size:20px") 發燒、咳嗽、肌肉酸痛等常見症狀，在新冠肺炎（COVID-19）蔓延後更加讓人緊張，細小的徵候竟然可以連結至全球大疫，疾病影響個人也侵襲世界。
                    p(style="font-size:20px") 臺灣位處亞熱帶，氣候悶熱而潮濕。17世紀郁永河渡海來臺灣採礦時，聽說「此地土水害人」，19世紀後來臺的殖民者也碰上棘手的風土病問題。1895年日軍出兵接收臺灣，卻有半數兵力染上瘧疾與霍亂等傳染病，臺灣因此被冠上「瘴癘之地」的稱號。也因此日本殖民者引進西方學說，開啟一系列以衛生為名的公共建設。
                    p(style="font-size:20px") 文學將疾病化作隱喻，於描寫身體苦痛之際，也刻劃肉身之外的社會壓迫。文學也讓患者提筆寫下疾病帶來的磨難，挺身破除汙名。文學更記錄陪伴病者與長者的家屬、看護與醫護人員，於疾病帶來的湍流中彼此碰撞，磨合成圓滑的鵝卵石。
                    p(style="font-size:20px") 曾經出現在臺灣的許多疾病，有些隨著衛生條件改善而消失，有些仍存在於生活周遭。病與人的關係細細地刻入文學裡，書寫成為醫療以外的療癒，使我們更有勇氣面對，一同寫字療疾。
                    img(src="img/exb_map2.jpg", alt="" style="width:auto;display:block;margin:0 auto 5px;")
                    span(style="color:#00AFF0;text-align:center;display:block;") ◊〈閻王請醫生〉
                    p(style="text-align:center") <span style="color:#00AFF0;">許丙丁</span>（1899－1977）描述閻王生了重病，十殿內的所有名醫都未能醫治，遂令下屬前往人間聘請醫生前來地獄。由於作者尚未完成作品，因此小說並無結局。（許丙丁捐贈／國立臺灣文學館典藏）
                
// === 展覽地圖v4 add ===
// 展示室A
-const exbMapInfoArea1={'id':'exbMapInfoArea1','tag':'展示室A'};
+exbMapInfoArea(exbMapInfoArea1)
// 展示室B
-const exbMapInfoArea2={'id':'exbMapInfoArea2','tag':'展示室B'};
+exbMapInfoArea(exbMapInfoArea2)
// 展示室C
-const exbMapInfoArea3={'id':'exbMapInfoArea3','tag':'展示室C'};
+exbMapInfoArea(exbMapInfoArea3)
// 展示室D
-const exbMapInfoArea4={'id':'exbMapInfoArea4','tag':'展示室D'};
+exbMapInfoArea(exbMapInfoArea4)
// 演講廳
-const exbMapInfoArea5={'id':'exbMapInfoArea5','tag':'演講廳'};
+exbMapInfoArea(exbMapInfoArea5)
// 文學沙龍
-const exbMapInfoArea6={'id':'exbMapInfoArea6','tag':'文學沙龍'};
+exbMapInfoArea(exbMapInfoArea6)
// 圖書室
-const exbMapInfoArea7={'id':'exbMapInfoArea7','tag':'圖書室'};
+exbMapInfoArea(exbMapInfoArea7)
// 文學樂園
-const exbMapInfoArea8={'id':'exbMapInfoArea8','tag':'文學樂園'};
+exbMapInfoArea(exbMapInfoArea8)
// 國際會議廳
-const exbMapInfoArea9={'id':'exbMapInfoArea9','tag':'國際會議廳'};
+exbMapInfoArea(exbMapInfoArea9)
// 展示室E
-const exbMapInfoArea10={'id':'exbMapInfoArea10','tag':'展示室E'};
+exbMapInfoArea(exbMapInfoArea10)
// === 展覽地圖v4 add end ===