footer
    .main-cont
        .footer-logo
            a(href="https://www.nmtl.gov.tw/" target="_blank").f-logo
                img(src="img/logo_his.svg", alt="")
            .f-logo-txt
                | 700 臺南市中西區中正路1號<br>
                i(class="far fa-phone-rotary")
                |（06）221-7201
        .footer-info-area
            .footer-info
                //- .qrcode-cont
                    //- .qrcode
                    //-     img(src="img/qrcode.jpg", alt="")
                    //- .qr-info
                    //-     span
                    //-         i(class="far fa-phone-rotary")
                    //-         |（06）221-7201
                    //-     span
                    //-         | 700 臺南市中西區中正路1號
                        //- span
                        //-     i(class="far fa-phone-office")
                        //-     |（06）222-6115
                        //- span
                        //-     i(class="far fa-envelope")
                        //-     | info@tlvm.com.tw
                .web-link-cont
                    .web-link-box
                        a(href="about.html") 關於本站
                        a(href="traffic_page.html") 交通資訊
                        a(href="###") 聯絡我們
                        .web-link#privacyBtn 隱私權及安全政策
                        .web-link#questBtn 線上問卷
                        // v4 add
                        a(href="medal_info_v4.html") 集章任務說明
                        // v4 add end
                    .copyright © 2020 VIRTUAL MUSEUM OF TAIWAN LITERATURE
            .web-info-box
                .web-info
                    span 瀏覽人次
                    span 5915
                .web-info
                    span 更新日期
                    span 2020/05/30
    .gotop#goTop
        i(class="fas fa-arrow-up")
        span TOP
    // 地圖推廣入口
    //- .travel-enter-area#travelEnterAreaPos
    .travel-enter-area.close#travelEnterArea
        .switch-btn-box#travelEnterBtn
            .icon <i class="fas fa-chevron-right"></i>
            //- .txt 筆尖上的地圖
        .c-step-side-box#cStepSideBtn
            .c-step-side-img
                img(src="img/c_step_side.svg", alt="")
            .c-step-side-txt <i class="fas fa-comment-alt-exclamation"></i><span>集章任務開跑</span>
        //- a(href="travel.html").top-box
        //-     .click-box
        //-         img(src="img/click_btn.svg", alt="")
        //-     .logo-box
        //-         img(src="img/travel_logo.svg", alt="")
        //- .travel-enter-sw-box
        //-     .swiper-container.travel-enter-sw#travelEnterSw
        //-         .swiper-wrapper
        //-             .swiper-slide
        //-                 a(href="travel_event_cont.html").travel-enter-slide
        //-                     .travel-enter-slide-img
        //-                         img(src="img/travel_pro.png", alt="")
        //-                     .travel-enter-slide-txt 可讀·性—臺灣性別文學變裝特展
        //-             .swiper-slide
        //-                 a(href="travel_event_cont.html").travel-enter-slide
        //-                     .travel-enter-slide-img
        //-                         img(src="img/travel_pro.png", alt="")
        //-                     .travel-enter-slide-txt 可讀·性—臺灣性別文學變裝特展2
        //-             .swiper-slide
        //-                 a(href="travel_event_cont.html").travel-enter-slide
        //-                     .travel-enter-slide-img
        //-                         img(src="img/travel_pro.png", alt="")
        //-                     .travel-enter-slide-txt 可讀·性—臺灣性別文學變裝特展3
        //-     .swiper-button-prev#travelEnterPrev <i class="fas fa-chevron-left"></i>
        //-     .swiper-button-next#travelEnterNext <i class="fas fa-chevron-right"></i>
    //- 隱私權與安全政策
    .light-wrap#privacyBox
        .light-tit
            h2 隱私權與安全政策
            .light-close-btn <i class="fas fa-times"></i>
        .light-cont.scroll-cont
            .light-scroll-cont
                h3 一、隱私權保護政策
                p  個人隱私權已是使用者於網路世界瀏覽中主要之顧慮，國立臺灣文學館（以下簡稱本館）特創設隱私權保護政策，以下將對： 『個人資料的蒐集與使用方式』、『Cookies、IP address』、『對個人資料之保護與利用』加以說明與宣示：
                .tit (一) 個人資料的蒐集與使用方式：
                p 為了在本網站上提供您最佳的網站服務，依不同頁面會請您提供相關個人的資料，其範圍如下：本網站在您使用電子報訂閱、團體導覽預約、活動報名、加入文學之友與刊登研討會訊息等系統功能表單時，會保留您所提供的姓名、電子郵件地址、連絡方式及使用時間等。
                .tit (二) Cookies and IP Address：
                p 當使用者到本網站瀏覽時，伺服器會自行記錄相關行徑，包括您使用連線設備的IP位址、使用時間、使用的瀏覽器、瀏覽及點選資料記錄等，做為我們增進網站服務的參考依據，此記錄為內部應用，決不對外公佈。
                .tit (三) 對個人資料之保護與利用：
                p 本網站主機均設有防火牆、防毒系統等相關的各項資訊安全設備及必要的安全防護措施，加以保護網站及您的個人資料。我們採用嚴格的保護措施，只由經過授權的人員才能接觸您的個人資料，相關處理人員皆簽有保密合約，如有違反保密義者，將會受到相關的法律處分。
                p 本網站雖將盡最大之努力以維護使用者之個人資料（不濫用與 不揭露），但因網路資料之傳輸無法確保百分之百的安全性， 因此本網站無法確信或擔保使用者所傳來或我們傳送予使用者 的資料完全安全。關於上述之風險，必須請使用者自行負擔。
                p 除非取得您的同意或其他法令之特別規定，本網站絕不會將您的個人資料揭露於第三人或使用於蒐集目的以外之其他用途。
                h3 二、資訊安全政策
                p 國立臺灣文學館(以下簡稱本館)尊重並保護您在使用網際網路時的安全及隱私保護利，為了幫助您瞭解「國立臺灣文學館全球資訊網」如何保護您在使用本網站各項服務的安全、及如何蒐集、應用及保護您所提供的個人資訊，請您詳細閱讀「國立臺灣文學館全球資訊網」的隱私保護及安全政策。請您仔細閱讀以下各項說明， 也歡迎您告訴我們您的想法，若有任何意見或疑 問，請E-mail至 twp@nmtl.gov.tw
                p 任何未經授權而企圖上載或更改本館所提供的各項服務及相關資訊的行為，都是嚴厲禁止而且可能觸犯法律。為了網站安全的目的和確保這項服務能夠繼續服務所有的網路使用者，本網站提供了以下的安全保護措施：
    //- 線上問卷
    .light-wrap#questBox
        .light-tit
            h2 線上問卷
            .light-close-btn <i class="fas fa-times"></i>
        .light-cont.scroll-cont
            .light-scroll-cont
                .quest-list-box
                    .quest-list-tit 問卷主題
                    .quest-box
                        a(href="###" target="_blank") <i class="fas fa-pen-square"></i> 日本文學之興趣調查
                    .quest-box
                        a(href="###" target="_blank") <i class="fas fa-pen-square"></i> 臺灣文學虛擬博物館滿意度調查
                    .quest-box
                        a(href="###" target="_blank") <i class="fas fa-pen-square"></i> 現代文學調查
    // 集章步驟
    .light-step-wrap.close#lightStepWrap
        .light-step-close-box
            .light-step-close#lightStepClose
                img(src="img/c_step_close.svg")
        .light-step-area
            .light-step-cont
                .light-step-tit
                    .stpe-tit-d
                        img(src="img/c_step_d.svg")
                    .tit1
                        span 集章任務開跑
                        .arr
                            img(src="img/c_step_arr.svg")
                .light-step-nav
                    .step-box.act#stepC1 STEP.1
                    .step-box#stepC2 STEP.2
                    .step-box#stepC3 STEP.3
                    .step-box#stepC4 STEP.4
                .light-step-sw-area
                    .light-step-sw
                        .swipe#lightStepSw
                            .swiper-wrapper
                                .swiper-slide
                                    .light-step-sw-box
                                        .tit 註冊會員或會員登入
                                        .light-step-img.cstep1
                                            img(src="img/c_step1.png")
                                .swiper-slide
                                    .light-step-sw-box
                                        .tit 前往「會員中心」，查看徽章收集進度
                                        .light-step-img.cstep2
                                            img(src="img/c_step2.jpg")
                                .swiper-slide
                                    .light-step-sw-box
                                        .tit 完成各項集章任務，獲得更多徽章
                                        .light-step-img.cstep3
                                            img(src="img/c_step3.svg")
                                .swiper-slide
                                    .light-step-sw-box
                                        .tit 累積更多徽章，兌換更多獎勵吧！
                                        .light-step-img.cstep4
                                            img(src="img/c_step4.svg")

