.footer-top-cover
.travel-footer-area.bg2
    .travel-cont
        .travel-footer-box
            .tlogo-w
                img(src="img/go_wlogo.svg", alt="")
            .travel-footer-info 網站客服 hikingnote@gmail.com
            .travel-footer-info
                -const footerLink=[{'name':'關於我們','link':'travel_about.html'},{'name':'合作夥伴','link':'Partner.html'},{'name':'行銷合作','link':'Marketing.html'},{'name':'服務條款','link':'Service.html'}]
                each n in footerLink
                    a(href=n.link) #{n.name}
                    span ｜
                a(href="privacy.html") 隱私權政策
            .travel-footer-about
                span 相關連結
                a(href="index.html").tm-logo
                    img(src="img/logo.svg", alt="")
        .travel-footer-box
            .travel-footer-social
                a(href="###").icon
                    img(src="img/icon_gofb.svg", alt="")
                a(href="###").icon
                    img(src="img/icon_goyt.svg", alt="")
            .tcopyright © 2021 literature, Inc.
    .travel-gotop#travelGoTop <i class="fas fa-arrow-to-top"></i>