head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    //- 設定給手機device用
    meta(name="viewport", content="width=device-width,initial-scale=1.0, user-scalable=no")
    meta(name="title" content="臺灣文學虛擬博物館")
    meta(name="description" content="科技、人文、友善體驗")
    meta(name="Copyright" content="© 2020")
    //- FB分享設定
    meta(property="og:title" content="臺灣文學虛擬博物館")
    meta(property="og:site_name" content="科技、人文、友善體驗")
    meta(property="og:url" content="自定義分享連結的網址")
    meta(property="og:description" content="科技、人文、友善體驗")
    meta(property="og:image" content="呈現的圖片至少要1200x630")
    meta(property="og:type" content="website")
    //- https://developers.facebook.com/tools/debug (Facebook測試的og屬性的地方)
    title 臺灣文學虛擬博物館
    //- 頁籤icon
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    //- JS
    script(src="js/jquery-1.11.0.min.js")
    script(src="js/jquery-3.1.1.min.js")
    //- 驗證
    script(src="js/jquery.validate.min.js")
    script(src="js/additional-methods.min.js")
    script(src="js/messages_zh_TW.js")
    //- 輪播swiper
    script(src="js/swiper.min.js")
    //- 自定義滾輪
    script(src="js/jquery.mCustomScrollbar.concat.min.js")
    //- 日期選擇器
    //- script(src="js/datepicker.min.js")
    //- script(src="js/i18n/datepicker.en.js")
    //- script(src="js/i18n/datepicker.zh.js")
    //- 共用ＪＳ
    script(src="js/common.js")

    //-時間軸
    script(type="text/javascript" src="js/timeline/timeline-min.js")
    link(rel="stylesheet" href="css/timeline/timeline.css")

    //- CSS
    //- FONT文字
    link(rel="stylesheet", href="css/all.min.css")
    //- 漢堡CSS https://jonsuh.com/hamburgers/
    link(rel="stylesheet", href="css/hamburgers.min.css")
    //- 滾輪自定義
    link(rel="stylesheet", href="css/jquery.mCustomScrollbar.min.css")
    //- swiper
    link(rel="stylesheet", href="css/swiper.min.css")
    //- 日期選取器
    //- link(rel="stylesheet", href="css/datepicker.min.css")

    //- 地圖css
    link(rel="stylesheet" href="css/storymap/storymap.css")

    link(rel="stylesheet", href="css/sty.css?v2")

    //- 地圖
    //- link(rel="stylesheet" href="https://cdn.knightlab.com/libs/storymapjs/latest/css/storymap.css")
    //- script(type="text/javascript" src="https://cdn.knightlab.com/libs/storymapjs/latest/js/storymap-min.js")
