//-var mailData={tit:'我是標題',cont:'我是內文',date:'2020/03/26'};
mixin mailBox(mailData)
    .mail-box
        if mailData.new
            .mail-tag new
        .mail-tit= mailData.tit
        .mail-txt= mailData.cont
            .mail-date= mailData.date

//- 首頁標題 index 
mixin indexTit(Data)
    .ind-tit-box
        h2 #{Data.tit}
        .ind-en-tit(class=`${ Data.isF ? "ind-en-tit2" : ""}`)
            span #{Data.titEn}
            a(href=Data.moreLink) 瀏覽更多

//- var breadList={'linkList':[{'name':'ABC','link':'123.html'}],'actPage':'共創平台'}
mixin breadBox(Data)
    .bread-box
        a(href="index.html") 首頁
        span /
        if Data.linkList
            each n,i in Data.linkList
                a(href=n.link) #{n.name}
                span /
        .act-page #{Data.actPage}

//- const subNavList=[{'name':'共創平台','icon':'<i>','link':'index.html'}]
mixin subNav(Data)
    .page-nav-area
        each n,i in Data
            if !n.link
                .page-nav-box.act !{n.icon} #{n.name}
            else
                a(href=n.link).page-nav-box !{n.icon} #{n.name}

mixin subNav(Data)
    .page-nav-area
        each n,i in Data
            if n.act
                a(href=n.link).page-nav-box.act !{n.icon} #{n.name}
            else
                a(href=n.link).page-nav-box !{n.icon} #{n.name}

//- 共創平台文章
//- const creatArtImg01={"background": "url(img/.jpg) no-repeat center center/cover"};
//- const creatArt01={'img':creatArtImg01,'date':'2019/01/03','tit':'鄭清鴻：那一年，他們用文學環島──張深切與「臺灣文藝聯盟」的故事','txt':'2007年，單車環島電影《練習曲》上映後，臺灣掀起一波「環島熱」，不管是搭火車、開車、騎機車...','maker':'鄭清鴻'}
mixin creatArt(Data)
    .creat-article-box
        a.creat-article-img(style=Data.img href="create_platform_cont.html")
            img(src="img/art_list01.jpg", alt="")
        .creat-article-cont
            // v5 add
            .coll-heart-icon-box.collectHBtn
                .coll-heart
            // v5 add end
            .date #{Data.date}
            a(href="create_platform_cont.html").tit #{Data.tit}
            a.cont(href="create_platform_cont.html")
                p #{Data.txt}
            // v5 add
            .collect-tag <i class="fas fa-heart"></i> 66
            // v5 add end
            .tag-box.gin-tag-box
                a.tag(href="###") #文學
                a.tag(href="###") #女性
                a.tag(href="###") #音樂
        .share-btn-area
            .share-btn-box
                .sbtn
                    i(class="far fa-check")
                    | 讚 <span>234</span>
                .sbtn 分享
            .maker ——— #{Data.maker}

//- 頁碼
mixin pagination
    .pagination-area
        a(href="###").lim-btn <i class="far fa-arrow-to-left"></i>
        a(href="###").pre-btn <i class="far fa-arrow-left"></i>
        .page-box
            a(href="###").act 1
            a(href="###") 2
            a(href="###") 3
            a(href="###") 4
            a(href="###") 5
        a(href="###").next-btn <i class="far fa-arrow-right"></i>
        a(href="###").lim-btn <i class="far fa-arrow-to-right"></i>

//- 返回上一頁
mixin backPage(data)
    a(href=data.link).back-btn <i class="far fa-angle-left"></i> #{data.name}

//- 回覆輸入匡
mixin replyEnter(data)
    form(action="###")
        .reply-enter-tit !{data.tit}
        .textarea-box
            textarea#reply.reply-sty(name="reply" maxlength="1000" placeholder="請輸入內容...")
        .reply-enter-btn-box
            .enter-note 字數限制1000字元
            .enter-btn-box
                .cancel-btn#cancelReply 取消
                .submit-btn 確認送出
                    input(type="submit")

//- 臺灣文學史 內頁swiper
//- const hisImg01={"background": "url(img/his_timeline01.png) no-repeat center center/cover"};
//- const hisTime01={'img':hisImg01,'date':'1063/01/01','tit':'陳第來臺，撰〈東番記〉 ','txt':'陳第隨沈有容來臺，〈東番記〉為最早實地踏查平埔族人生活之文獻。'}
mixin historyTimeLine(data)
    .his-timeline-swiper-cont
        .his-timeline-img-box
            .his-timeline-img(style=data.img)
                img(src="img/his_timeline01.png", alt="")
            .his-timeline-img-txt 沈有容《閩海贈言》
        .his-timeline-cont
            .his-timeline-txt
                .date #{data.date}
                a(href="###").tit #{data.tit}
                .txt #{data.txt}
            .his-timeline-tag-box
                a(href="###") #臺灣文學
                a(href="###") #文化
                a(href="###") #臺灣

//- 臺灣文學史 時間區塊
//- const hisTimeImg01={"background": "url(img/his01.png) no-repeat center center/cover"};
//- const hisTimeTime01={'img':hisImg01,'date':'1603 - 1895','tit':'陳第來臺，撰〈東番記〉'}
mixin historyTimeBox(data)
    a(href="history_cont_p2.html").literary-box
        .literary-img(style=data.img)
            img(src="img/his01.jpg", alt="")
        .literary-tit
            span.tit #{data.tit}
            span.date #{data.date}
//- 臺灣文學史 時期列表 時間區塊
mixin historyTimeListBox(data)
    .literary-box-cube
        // v5 add
        .coll-heart-icon-box.collectHBtn
            .coll-heart
        // v5 add end
        a(href="history_cont_p2.html").literary-img-area
            .literary-img(style=data.img)
                img(src="img/his01.jpg", alt="")
            .literary-tit
                span.tit #{data.tit}
                span.date #{data.date}
        // v5 add
        .collect-tag <i class="fas fa-heart"></i> 66
        // v5 add end
        .literary-tag
            a(href="history_src_tag_list.html") #殖民
            a(href="history_src_tag_list.html") #古典
            a(href="history_src_tag_list.html") #漢文
//- 臺灣文學史 時間扁區塊
mixin historyTimeHBox(data)
    a(href="history_cont_p2.html").literary-box
        .literary-img(style=data.img)
        .literary-tit
            span.tit #{data.tit}
            span.date #{data.date}
//- 推薦文章
//- const recomLinkImg01={"background": "url(img/his01.png) no-repeat center center/cover"};
//- const recomLink01={'img':recomLinkImg01,'tit':'台灣當代影像：持攝影機的男人－劉吶鷗'}
mixin recomLinkBox(data)
    a(href="###").recom-link-box
        .recom-img(style=data.img)
            img(src="img/recom_img01.png", alt="")
        .recom-cont
            .recom-tit #{data.tit}
            .recom-txt 與其形容它們是配件，在某種意義上，它們算是與作家一同見證了臺灣文壇的發展與演進，特別是首飾的擁有人...

//- input輸入匡
//- const inputArea01={'type':'text','tit':'主題標題：','idName':'title','placeholder':'請輸入標題','notReq':ture,'isMark':ture}
mixin inputArea(data)
    .input-area.input-area2
        label(for=data.idName) #{data.tit}
            if data.isMark
                span(class="mark") *
            else if data.isPs
                span(class="mark") *
                span(class="pwd-mark") #{data.isPs}
            else if data.isPsNoReq
                br
                span(class="pwd-mark") #{data.isPsNoReq}
        .input-box
            input.input-sty(type=data.type id=data.idName name=data.idName placeholder=data.placeholder class=`${ data.notReq ? '':'required'}` class=`${ data.isPwd ? 'pwdV pwdV2 pwdVL':''}`)

//- 搜尋關鍵字列表框框
//- const srcImg01={"background": "url(img/his01.png) no-repeat center center/contain"}
//- const srcLink01={'img':srcImg01,'tit':'多音交響的母語文學','txt':'隨著戰後1980年代政治的解嚴，以及文化主體意志的深化與高漲，將文學回歸本土文化或以母語表達的熱忱促成「母語文學」的興起。語言和文化、族群意識有著密不可分的關係，「母語文學」的興起除了展現各族群...'}
mixin srcBox(data)
    .search-box
        a.search-img(href="###" style=data.img)
            img(src="img/default_src.jpg" alt="無圖片")
        .search-cont
            a(href="###").tit #{data.tit}
            a(href="###").cont #{data.txt}
            .gin-tag-box
                a(href="###") #文學
                a(href="###") #女性
                a(href="###") #音樂
//- 搜尋關鍵字列表框框(作家平台搜尋)
mixin srcWriterBox(data)
    .search-box
        a.search-img(href="###" style=data.img)
            img(src="img/default_src.jpg" alt="無圖片")
        .search-cont
            a(href="###").tit #{data.tit}
            a(href="###").cont #{data.txt}
            //- .gin-tag-box
            //-     a(href="###") #文學
            //-     a(href="###") #女性
            //-     a(href="###") #音樂

//- 作家行跡列表
//- .writer-img-box(style="background: url(img/writer01.jpg) no-repeat center center/cover")
//- const writerImg01={"background": "url(img/writer01.jpg) no-repeat center center/cover"}
//- const writerInfo01={'img':srcImg01,'tit':'葉石濤大事記','txt':'葉石濤，出身台灣台南市白金町。台灣當代文學作家，創作以小說與評論為主，散文及翻譯為輔。葉石濤橫跨日治與戰後兩個世代，小學前曾接受兩年漢文私塾教育，畢業於臺南州立第二中學校，歷任日本作家西川滿主持之《文藝台灣》的助理編輯。'}
mixin writerBox(data)
    .writer-cont(class=`${ data.isRight ? 'writer-cont-right':''}`)
        .writer-img
            if data.isColl
                // v5 add
                .coll-heart-icon-box.collectHBtn
                    .coll-heart
                // v5 add end
            a(href="writer_cont.html" style=data.img).writer-img-box
                img(src="img/writer01.jpg", alt="")
        .writer-info
            h3 #{data.tit}
            if data.isColl
                // v5 add
                .collect-tag <i class="fas fa-heart"></i> 66
                // v5 add end
            .writer-txt
                p #{data.txt}
//- 故事地圖列表
mixin writerStoryBox(data)
    .writer-cont(class=`${ data.isRight ? 'writer-cont-right':''}`)
        .writer-img
            // v5 add
            .coll-heart-icon-box.collectHBtn
                .coll-heart
            // v5 add end
            a(href="writer_story_cont.html" style=data.img).writer-img-box
                img(src="img/writer01.jpg", alt="")
        .writer-info
            h3 #{data.tit}
            // v5 add
            .collect-tag <i class="fas fa-heart"></i> 66
            // v5 add end
            .writer-txt
                p #{data.txt}

//- 作家行跡 標籤收尋項目
//- const writerSrcTagInfo01={'img':'tag_src_default.jpg','tit':'葉石濤大事記 > <span>1965年求學</span>','txt':'辭教職，就讀省立台南師專特師科。'}
mixin writerSrcTagBox(data)
    .writer-src-tag-box
        a(href="###").writer-src-tag-img
            img(src="img/"+`${data.img}`, alt="")
        .writer-src-tag-cont
            a(href="###").tit !{data.tit}
            a(href="###").cont #{data.txt}
            .gin-tag-box
                a(href="###") #文學
                a(href="###") #女性
                a(href="###").act #臺灣文學
                a(href="###") #音樂

//- 地圖內頁 詳細資訊
//- const mapInfoBox01={'img':'map_img01.jpg','note':'資料來源：國立臺灣文學館館藏','tit':'1925年出生','txt':'葉石濤（1925年11月1日－2008年12月11日），出身台灣台南市白金町（打銀街）。台灣當代文學作家。'}
mixin mapInfoBox(data)
    .map-info
        .mpa-tit #{data.tit}
        .map-img
            img(src="img/"+`${data.img}`, alt="")
            .note #{data.note}
        p #{data.txt}
        .gin-tag-box
            a.tag(href="###") #文學
            a.tag(href="###") #女性
            a.tag(href="###") #音樂

//- 文學展示列表
//- const exImg01={"background": "url(img/writer01.jpg) no-repeat center center/cover"}
//- const exInfo01={'img':exImg01,'tit':'逆旅．一九四九：臺灣戰後移民文學展','txt':'這個展覽，獻給1949年以為只是暫時退守的外省軍士、眷屬，以及他們的後代，還有與他們共同生活七十年的所有族群。展名「逆旅」有兩層意思。一是當...'}
//- (style=data.img)
mixin exListBox(data)
    .exhibition-box
        // v5 add
        .exhibition-img-box
            .coll-heart-icon-box.collectHBtn
                .coll-heart
            a(href="exhibition_cont_p2.html" style=data.img).exhibition-img
                img(src="img/ex_img01.jpg", alt="")
        // v5 end
        .exhibition-cont
            a(href="exhibition_cont_p2.html").tit #{data.tit}
            .cont
                a(href="exhibition_cont_p2.html").txt #{data.txt}
                // v5 add
                .collect-tag <i class="fas fa-heart"></i> 66
                // v5 end
                .share-btn-box
                    a(href="###")
                        i(class="far fa-check")
                        | 讚 <span>234</span>
                    a(href="###") 分享

//-展覽分區A
//- const exPartAImg01={"background": "url(img/writer01.jpg) no-repeat center center/cover"}
//- const exPartAInfo01={'img':exPartAImg01,'tit':'前言'}
mixin exPartABox(data)
    a(href="exhibition_article_cont.html").exhibition-part-a-box
        .exhibition-part-a-tit #{data.tit}
        .exhibition-part-a-img(style=data.img)
            img(src="img/excont_img01.jpg", alt="")

//-展覽分區A2
//- const exPartAImg01={"background": "url(img/writer01.jpg) no-repeat center center/cover"}
//- const exPartAInfo01={'img':exPartAImg01,'tit':'前言'}
mixin exPartABox2(data)
    .exhibition-part-a-group
        a(href="exhibition_article_cont.html").exhibition-part-a-box
            .exhibition-part-a-tit #{data.tit}
            .exhibition-part-a-img(style=data.img)
                img(src="img/excont_img01.jpg", alt="")
        .exhibition-part-a-tag
            -const tagList=['大事記','政治']
                each n,i in tagList
                    a(href="###") ##{n}

//-展覽分區B
//- const exPartBImg01={"background": "url(img/writer01.jpg) no-repeat center center/cover"}
//- const exPartBInfo01={'img':exPartAImg01,'tit':'前言','txt':'與其形容它們是配件，在某種意義上，它們算是與作家一同見證了臺灣文壇的發展與演進，特別是首飾的擁有人——作家胡品清，她對臺法之間的學術貢獻，以及文學作品的翻譯與指導，所','date':'2019/01/01'}
mixin exPartBBox(data)
    a(href="exhibition_article_cont.html").exhibition-part-b-box
        .exhibition-part-b-img(style=data.img)
            img(src="img/excont_img01.jpg", alt="")
        .exhibition-part-b-cont
            .tit #{data.tit}
            .cont
                p #{data.txt}
            //- .date #{data.date}

mixin exPartBBox2(data)
    .exhibition-part-b-box
        a(href="exhibition_article_cont.html" style=data.img).exhibition-part-b-img
            img(src="img/excont_img01.jpg", alt="")
        .exhibition-part-b-cont.exhibition-part-b-cont2
            a(href="exhibition_article_cont.html").exhibition-part-b-txt
                .tit #{data.tit}
                .cont
                    p #{data.txt}
            .exhibition-part-b-tag
                -const tagList=['大事記','政治']
                each n,i in tagList
                    a(href="###") ##{n}
        
//- 主題之旅 Banner
//- const themeBannerImg01={"background": "url(img/theme_banner01.jpg) no-repeat center center/cover"}
//- const themeBanner01={'img':themeBannerImg01,'tit':'浪漫Duke帶你找到屬於你的浪漫'}
mixin themeBanner(data)
    a(href="theme_cont.html").theme-banner-box
        .theme-banner-tit #{data.tit}
        .theme-banner-img(style=data.img)
            //- img(src="img/theme_banner01.jpg", alt="")

//- 主題之旅 列表
//- const themeImg01={"background": "url(img/theme_img01.jpg) no-repeat center center/cover"}
//- const theme01={'img':themeImg01,'tit':'浪漫Duke帶你找到屬於你的浪漫','date':'2019/01/09'}
mixin themeBox(data)
    .theme-box
        .theme-img(style=data.img)
            img(src="img/theme_img01.jpg", alt="")
        .theme-info
            .date #{data.date}
            .tit #{data.tit}
            .route-btn-list
                a(href="theme_cont.html") 浮生半日遊
                a(href="theme_cont.html") 一日輕旅行
            if data.hasTag
                .theme-tag
                    a(href="theme_src_tag_list.html") #好玩的地方
                    a(href="theme_src_tag_list.html") #一起出發

//- 主題之旅 路線
//- const routeImg01={"background": "url(img/route_img01.jpg) no-repeat center center/cover"}
//- const route01={'img':routeImg01,'idNum':'1','tit':'臺南州廳（國立臺灣文學館）','txt':'國立臺灣文學館館址在清代原為御史衙署用地，故這一帶舊名諧音牛屎埕。日治初期成為臺灣銀行宿舍，至1910年臺南廳長松木茂俊上陳總督府請建臺南廳舍，1915年完工，由總督府營繕課技師森山松之助設計，隔年臺南廳辦公室從原按察使銜分巡臺灣兵備道(今永福國小)移入新廳舍，迨1918年至1920年才逐漸增建兩翼。二戰期間遭戰火波及，馬薩頂以及衛塔等幾近全毀，僅存外牆獨矗荒廢了四年。戰後簡略修復後為空軍供應司令部使用，後來1969年原位在今建興國中的臺南市政府進駐，直至1997年遷至五期重劃區。隔年市政府將此處移交給文建會，自此開始臺灣文學館的籌劃，並於2003年正式開館，定名為國立臺灣文學館。國立臺灣文學館是臺灣首座國家級文學館，主要蒐集、整理、典藏與研究臺灣近代文學史料。'}
mixin routeBox(data)
    .rotute-box
        .route-tit #{data.tit}
        .route-img(style=data.img)
        .route-cont
            //- .route-txt.routeInfo(id="routeInfo"+`${data.idNum}`)
            .route-txt.routeInfo
                p #{data.txt}
            //- .route-txt.routeNote(id="routeNote"+`${data.idNum}` style="display:none;")
            .route-txt.routeNote(style="display:none;")
                p 文學筆記文學筆記文學筆記文學筆記文學筆記文學筆記文學筆記文學筆記文學筆記文學筆記，國立臺灣文學館館址在清代原為御史衙署用地，故這一帶舊名諧音牛屎埕。日治初期成為臺灣銀行宿舍，至1910年臺南廳長松木茂俊上陳總督府請建臺南廳舍，1915年完工，由總督府營繕課技師森山松之助設計，隔年臺南廳辦公室從原按察使銜分巡臺灣兵備道(今永福國小)移入新廳舍，迨1918年至1920年才逐漸增建兩翼。
            .route-tab-box
                .route-tab.routeInfoBtn.act 景點介紹
                .route-tab.routeNoteBtn 文學筆記
                //- .route-tab.routeInfoBtn.act(id="routeInfoBtn"+`${data.idNum}`) 景點介紹
                //- .route-tab.routeNoteBtn(id="routeNoteBtn"+`${data.idNum}`) 文學筆記
        .route-img-sub

//- 文學展示 swiper
//- const exBannerImg01={"background": "url(img/liter01.jpg) no-repeat center center/cover"}
//- const exBannerInfo01={'img':exBannerImg01,'tit':'小露台、大觀園韓良露捐贈展'}
mixin exBannerBox(data)
    a(href="exhibition_cont_p2.html").ind-exhibition-box
        .ind-exhibition-img(style=data.img)
            img(src="img/liter01.jpg", alt="")
        .ind-exhibition-txt #{data.tit}

//- 文學展示 內頁圖片swiper
//- const exArtImg01={"background": "url(img/liter01.jpg) no-repeat center center/cover"}
//- const exArtInfo01={'img':exArtImg01,'imgUrl':'img/liter01.jpg','tit':'小露台、大觀園韓良露捐贈展'}
mixin exArtSwiperBox(data)
    .exArt-img-box
        .exArt-img(style=data.img)
            img(src=data.imgUrl alt="")
        .exArt-txt #{data.tit}

//- 作者與作家列表
mixin portfolioList(data)
    li
        div <i class="fal fa-book"></i> #{data.tit}
        div #{data.date}

//- 遊戲列表
//- const creatArtImg01={"background": "url(img/.jpg) no-repeat center center/cover"};
//- const creatArt01={'img':creatArtImg01,'date':'2019/01/03','tit':'鄭清鴻：那一年，他們用文學環島──張深切與「臺灣文藝聯盟」的故事','txt':'2007年，單車環島電影《練習曲》上映後，臺灣掀起一波「環島熱」，不管是搭火車、開車、騎機車...','maker':'鄭清鴻'}
//- "https://www.youtube.com/embed/tkFH1RuoXLg"
mixin gameBox(Data)
    .game-box
        if !Data.img
            .game-media
                iframe(src=Data.link title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        else
            a.game-media(style=Data.img href=Data.link target="_blank")
        .game-cont
            .tit #{Data.tit}
            .cont #{Data.cont}
        .game-pdf
            a.game-pdf-btn(href="###")
                <i class="fas fa-download"></i> 遊戲說明.pdf

//- 地景網
//- 推薦你來體驗
mixin travelRecommon(Data)
    a(href=Data.link).travel-recommon-cont
        .travel-recommon-box
            .travel-recommon-tit
                h3 #{Data.tit}
                span #{Data.sup}
                .icon
                    img(src="img/wh_arrow_r.svg", alt="")
            img(src="img/"+Data.img, alt="").bg

//- 更多的精選內容
mixin travelThemeBox(Data)
    .travel-theme-box
        .travel-theme-tab 自己走走
        a(href="###").travel-theme
            .travel-theme-box-img
                img(src="img/"+Data.img, alt="")
            .travel-theme-txt
                .date #{Data.date}
                .tit #{Data.tit}
        .travel-tag-area
            each n in Data.tagList
                a(href="###") ##{n}

//- 地景網側邊路徑
mixin travelSideRouteBox(Data)
    .travel-side-route-box(id=Data.id)
        .name #{Data.name}
        .arr
            img(src="img/brown_arrow_r.svg", alt="")

//- 地景網路徑
mixin travelRouteBox(Data)
    .travel-route-box
        .icon-scale(id=Data.id)
        .travel-route-img
            img(src="img/"+Data.img, alt="")
        .travel-route-cont
            .tit #{Data.tit}
            .address #{Data.address}
            .cont #{Data.cont}

//- 地景網使用者留言
mixin pageCommonReq(Data)
    .travel-page-common-user.req
        .user-img
            img(src="img/"+Data.img, alt="")
        .travel-page-common-cont
            .page-common-req
                .info
                    .name-box
                        .name #{Data.name}
                        .star-box <i class="fas fa-star on"></i> <i class="fas fa-star on"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                    .cont #{Data.cont}
                .date #{Data.date}

//- 地景網路徑pupup
mixin travelRoutePopup(Data)
    .travel-route-popup-area(id=Data.id)
        .route-popup-close
        .route-popup-img
            img(src="img/"+Data.img, alt="")
        .route-popup-cont
            .tit
                .icon
                    img(src="img/icon_place.svg", alt="")
                span #{Data.tit}
            .address 地址：#{Data.address}
            .cont #{Data.cont}

//- 會員中心 收藏項目
mixin memberCollectBox(Data,link)
    .member-collect-box
        .member-heart
            <i class="fas fa-heart"></i>
            span 取消收藏
        .member-collect-img
            img(src="img/"+Data.img, alt="")
        a(href=link).member-collect-cont
            .member-collect-tit #{Data.tit}
            .member-collect-txt #{Data.txt}
            .member-collect-note
                .view 358 次點閱
                if Data.hasStar
                    .star
                        <i class="fas fa-star"></i>
                        span 4.5

//- 會員中心 收藏項目
mixin memberBlogItem(Data)
    li
        .box01
            .mb-tit 標題
            a(href="travel_blog_cont.html")  #{Data.tit}
        .box02
            .mb-tit 集章資格
            if Data.pass
                span(class="green") <i class="fas fa-check-circle"></i>
            else if Data.unpass
                span(class="red") <i class="fas fa-times-circle"></i>
            else if Data.passing
                span 審核中
        .box03
            .mb-tit 點閱 
            span.num 234
        .box04
            .mb-tit 收藏
            span.num 124
        .box05
            .mb-tit 發佈日期
            span 2022/04/23
        .box06
            .mb-tit 操作
            .opera
                a(href="travel_blog_edit.html").edit <i class="fas fa-edit"></i>
                a(href="###").del <i class="fas fa-times"></i>
//- 會員中心 收藏項目
mixin memberMissionItem(Data)
    li
        .box01 #{Data.num}
        .box02 #{Data.tit}
        .box03 <span class="num">2</span><span> / 38</span>
        .box04
            a(href="member_mission_cont_v4.html") 查看
//- 會員中心 徽章項目
mixin memberMedalItem(Data)
    .member-medal-box(class=Data.isOn?'finish':'')
        .tit #{Data.tit}
        .progress #{Data.pro}
        .img-box
            .img
                img(src="img/"+Data.img, alt="")
        .txt #{Data.txt}
//- 會員中心 獎品項目
mixin memberFreebeeItem(Data)
    .member-freebee-box
        .img-box
            img(src="img/"+Data.img, alt="")
        .tit #{Data.tit}
        .txt !{Data.txt}

//- 展覽地圖
mixin exbEvent(Data)
    .exb-event(id=Data.id class=`${ Data.evClass ? Data.evClass : ""}`)
        .exb-event-img
            img(src="img/"+Data.img, alt="")
            .exb-tit-box
                .exb-tit #{Data.tit}
//- 展覽地圖 手機
mixin exbEventMb(Data)
    .exb-event-mb(id=Data.id)
        .exb-event-mb-img
            img(src="img/"+Data.img, alt="")
            .exb-event-mb-tag #{Data.tag}
        .exb-event-mb-tit #{Data.tit}

//- 會員收藏中心nav
mixin memberTopNavBox(tit,isAct)
    // v5 add
    .member-top-nav-area
        .member-nav-sel#memberNavSel #{tit}
        .member-top-nav-box#memberTopNavBox
            a(href="member_collect_route.html" class=isAct==1?'act':'') 自己走走
            a(href="member_collect_blog.html" class=isAct==2?'act':'') 部落格
            a(href="member_collect_event.html" class=isAct==3?'act':'') 活動月曆
            a(href="member_collect_news.html" class=isAct==4?'act':'') 最新資訊
            a(href="member_collect_history.html" class=isAct==5?'act':'') 台灣文學史
            a(href="member_collect_article.html" class=isAct==6?'act':'') 作家行跡
            a(href="member_collect_story.html" class=isAct==7?'act':'') 故事地圖
            a(href="member_collect_exhibition.html" class=isAct==8?'act':'') 文學展示
            a(href="member_collect_create.html" class=isAct==9?'act':'') 共創文章
    // v5 add end

//- 作家行跡 v5
//- 作家行跡年份表
mixin writerTrackYearBox(data,imgZoom)
    .writer-track-year-box(class=data.img?'':'noimg')
        .year #{data.year}
        .cont
            if data.img
                .img(class=imgZoom?'imgZoom':'')
                    img(src="img/"+data.img, alt="")
            .info 
                .txt-box
                    .txt #{data.txt}
                    .tag-box
                        each i in data.tags
                            a(href="###").tag ##{i}
                .note #{data.note}

//- 作家行跡著作列表
mixin writerTrackBookBox(data,url)
    a(href=url).writer-track-book-box
        .img
            img(src="img/"+data.img, alt="")
        .tit #{data.tit}
        if data.cont
            .cont #{data.cont}
//- 作家行跡著作列表(閱讀)
mixin writerTrackBookOnlineBox(data,url)
    a(href=url target="_blank").writer-track-book-box
        .img
            img(src="img/"+data.img, alt="")
        .tit #{data.tit}
        if data.cont
            .cont #{data.cont}
//- 作家行跡著作列表(圖片)
mixin writerTrackImgBox(data)
    a(href='img/'+data.img target="_blank").writer-track-book-box
        .img
            img(src="img/"+data.img, alt="")
        .tit #{data.tit}
        if data.cont
            .cont #{data.cont}
//- 作家行跡作者聲影
mixin writerTrackVideoBox(data)
    .writer-track-video-box
        .video-img.videoOpen(data-videoid=data.videoId)
            img(src="http://img.youtube.com/vi/"+data.videoId+"/sddefault.jpg", alt="")
        .video-tit #{data.tit}
        .video-note #{data.note}
mixin writerTrackVideoBoxUrl(data)
    a(href="###" target="_blank").writer-track-video-box
        .video-img.urlVideo
            img(src="img/default_video.jpg", alt="")
        .video-tit #{data.tit}
        .video-note #{data.note}

//- 作家行跡麵包
mixin writerBread(data)
    .writer-bread
        a(href="writer_cont_v5.html") 葉石濤
        each i in data.links
            span.spa /
            a(href=i.link) #{i.txt}
        span.spa /
        span.act #{data.act}