.nav-area#navArea
    .nav-info-area
        .nav-slogn 科技．人文．友善體驗
        .nav-user-area
            .nav-user#loginBox
                .login-user
                    span.mbno-600 親愛的會員
                    a(href="member_info.html") 周子瑜
                    | 您好
                .log-btn.logout-btn#loginOut 登出
            .login-btn-box#unLoginBox(style="display:none;")
                a(href="register.html").log-btn.regis-btn 註冊會員
                a(href="login_page.html").log-btn 會員登入
            a(href="###" target="_blank").log-btn.fb-btn
                i(class="fab fa-facebook-f")
            .lang-sel-box
                select#lang.lang-sel(name="lang")
                    option(value="" disabled selected) 語言
                    option(value="zh") 繁中
                    option(value="en") English
    .nav-fix-box#navFixBox
        nav
            h2.ht
                span 臺灣文學虛擬博物館 導航列
            a(href="index.html").logo
                img(src="img/logo.svg", alt="臺灣文學虛擬博物館")
            .nav-cont
                //有英文版要加.en => .nav-item.en#navItem 
                .nav-item#navItem 
                    //- {'name':'虛擬實境','enName':'Virtual Reality','link':'###'}
                    -const nav=[{'name':'筆尖上的地圖','enName':'Virtual Reality','link':'travel.html'}, {'name':'臺灣文學史','enName':'Literary History','link':'history_list_p2.html'}, {'id':'navLiteraryBtn','name':'文學踏查','enName':'Literary Tour','subNav':[{'name':'作家行跡','enName':'Writer\'s history','link':'writer_list.html'},{'name':'故事地圖','enName':'Story map','link':'writer_story_list.html'},{'name':'主題之旅','enName':'Theme tour','link':'theme_list.html'},{'name':'實境解謎','enName':'Real Escape','supLink':[{'name':'小封神藏寶圖系列1','link':'###'},{'name':'小封神藏寶圖系列2','link':'###'}]}]}, {'name':'數位3D','enName':'Digital 3D','link':'http://211.75.82.187/WS/3dmodel.php','isOut':true}, {'id':'navThemeBtn','name':'主題平台','enName':'Theme Platform','link':'###','subNav':[{'name':'作家平台','enName':'Writer\'s platform','link':'https://literature.sds.com.tw/','isOut':true},{'name':'文學展示','enName':'Literary Exhibition','link':'exhibition_list_p2.html'},{'name':'展場地圖','enName':'Map','link':'exhibition_map.html'}]}, {'id':'navMakerBtn','name':'共創平台','enName':'Maker Space','subNav':[{'name':'共創文章','enName':'Maker Articles','link':'create_platform.html'},{'name':'交流討論','enName':'Forum','link':'create_qa_list.html'}]}, {'name':'拾藏文學','enName':'Collecting Literature','link':'###'} ]; //-n 是值 i 是KEY
                    //英文版 -const nav=[{'name':'Virtual Reality','enName':'','link':'###'}, {'name':'Literary History','enName':'','link':'history_list_p2.html'}, {'id':'navLiteraryBtn','name':'Literary Tour','enName':'','subNav':[{'name':'Writer\'s history','enName':'','link':'writer_list.html'},{'name':'Story map','enName':'','link':'writer_story_list.html'},{'name':'Theme tour','enName':'','link':'theme_list.html'},{'name':'Real Escape','enName':'','link':'###'}]}, {'name':'Digital 3D','enName':'','link':'http://211.75.82.187/WS/3dmodel.php','isOut':true}, {'id':'navThemeBtn','name':'Theme Platform','enName':'','link':'###','subNav':[{'name':'Writer\'s platform','enName':'','link':'https://literature.sds.com.tw/','isOut':true},{'name':'Literary Exhibition','enName':'','link':'exhibition_list_p2.html'},{'name':'Virtual Reality(laiho)','enName':'','link':'###'}]}, {'id':'navMakerBtn','name':'Maker Space','enName':'','subNav':[{'name':'Maker Articles','enName':'','link':'create_platform.html'},{'name':'Forum','enName':'','link':'create_qa_list.html'}]}, {'name':'Collecting Literature','enName':'','link':'###'} ]; //-n 是值 i 是KEY
                    each n,i in nav
                        //- 如果有子項目才會使用
                        if !n.subNav
                            if n.isOut
                                a.n-item(href=n.link id=n.id target="_blank")
                                    span #{n.name}
                                    //- span.en #{n.enName}
                            else
                                a.n-item(href=n.link id=n.id)
                                    span #{n.name}
                                    //- span.en #{n.enName}
                        else
                            .n-item(id=n.id opSupNav)
                                span #{n.name}
                                //- span.en #{n.enName}
                                .n-nav-sup
                                    each val,i in n.subNav
                                        if val.isOut
                                            a(href=val.link target="_blank")
                                                span #{val.name}
                                                //- span.en #{val.enName}
                                        else
                                            if val.link
                                                a(href=val.link)
                                                    span #{val.name}
                                                    //- span.en #{val.enName}
                                            else
                                                .n-nav-three-box
                                                    each vala,i in val.supLink
                                                        if i==0
                                                            a(href=vala.link)
                                                                span.tit #{val.name}
                                                                span.cont #{vala.name}
                                                        else
                                                            a(href=vala.link)
                                                                span.cont #{vala.name}
                                                //- .n-nav-three
                                                //-     span #{val.name}
                                                //-     .n-nav-three-box
                                                //-         each vala,i in val.supLink
                                                //-             a(href=vala.link) #{vala.name}
                .src-box
                    input.input-src(type="text" placeholder="搜尋...")
                    .src-btn
                        i(class="fas fa-search")
                //- 漢堡
                button(class="hamburger hamburger--squeeze" type="button" id="hamBtn")
                    span(class="hamburger-box")
                        span(class="hamburger-inner")
        .sub-nav-list
            //- 文學踏查
            .nav-sup.sub-literaryList#navLiteraryList
                -const subN01=[{'name':'作家行跡','enName':'Writer\'s history','link':'writer_list.html'},{'name':'故事地圖','enName':'Story map','link':'writer_story_list.html'},{'name':'主題之旅','enName':'Theme tour','link':'theme_list.html'},{'name':'城市解謎','enName':'Real Escape','supLink':[{'name':'小封神藏寶圖系列1','link':'###'},{'name':'小封神藏寶圖系列2','link':'###'}]}];
                //- -const subN01=[{'name':'作家行跡','enName':'Writer\'s history','link':'writer_list.html'},{'name':'故事地圖','enName':'Story map','link':'writer_story_list.html'},{'name':'主題之旅','enName':'Theme tour','link':'theme_list.html'},{'name':'城市解謎1','enName':'Real Escape 1','link':'###'},{'name':'城市解謎2','enName':'Real Escape 2','link':'###'}];
                each n,i in subN01
                    if n.link
                        a(href=n.link)
                            span #{n.name}
                            //- span.en #{n.enName}
                    else
                        .nav-three
                            span #{n.name}
                            .nav-three-box
                                each val,i in n.supLink
                                    a(href=val.link) #{val.name}
            //- 主題平台
            .nav-sup.sub-themeList#navThemeList
                -const subN02=[{'name':'作家平台','enName':'Writer\'s platform','link':'https://literature.sds.com.tw/','isOut':true},{'name':'文學展示','enName':'Literary Exhibition','link':'exhibition_list_p2.html'},{'name':'展場地圖','enName':'Map','link':'exhibition_map.html'}];//{'name':'虛擬實境 11','enName':'Virtual Reality(laiho)','link':'###'}
                each n,i in subN02
                    if n.isOut
                        a(href=n.link target="_blank")
                            span #{n.name}
                            //- span.en #{n.enName}
                    else
                        a(href=n.link)
                            span #{n.name}
                            //- span.en #{n.enName}
            //- 共創平台
            .nav-sup.sub-makerList#navMakerList
                -const subN03=[{'name':'共創文章','enName':'Maker Articles','link':'create_platform.html'},{'name':'交流討論','enName':'Forum','link':'create_qa_list.html'}];
                each n,i in subN03
                    a(href=n.link)
                        span #{n.name}
                        //- span.en #{n.enName}
#fixNav
//-lightbox 範圍
.mask#stepMask
.mask#mask
.light-txt-wrap#lightTxtWrap
    .light-txt-cont
        .light-txt#lightTxt 訊息
        .btn#lightTxtClose 確定

