.travel-nav-area
    .travel-nav-cont
        a(href="travel.html").travel-logo
            img(src="img/go_logo.svg", alt="")
        .travel-nav#travelNav
            -const travelNav=[{'name':'品牌介紹','href':'travel_about.html'},{'name':'自己走走','links':[{'name':'主題路線','href':'travel_theme_list.html'},{'name':'線上解謎','href':'travel_game_list.html'}]},{'name':'一起走走','links':[{'name':'最新資訊','href':'travel_news_list.html'},{'name':'活動月曆','href':'travel_event_map.html'}]},{'name':'家族走走','href':'travel_family_list.html'},{'name':'部落格','href':'travel_blog_list.html'},{'name':'學習單','href':'travel_worksheet_list.html'}]
            each n in travelNav
                if n.href
                    a(href=n.href).item
                        span #{n.name} 
                else
                    .item.item-mc
                        span #{n.name}
                        .icon.icon-plus
                        .tsup-nav
                            each val in n.links
                                a(href=val.href)
                                    span #{val.name}
            .travel-user-mb
                //未登入
                a(href="register.html").item
                    span 註冊
                a(href="login.html").item
                    span 登入
                //已登入
                a(href="member_info.html").item
                    span 會員中心
                a(href="###").item
                    span 登出
        .travel-user
            a(href="travel_search.html").travel-search
                img(src="img/icon_search.svg", alt="")
            .travel-btn.travel-user-box
                a(href="login_page.html") 登入 
                | | 
                a(href="register.html") 註冊
            .travel-lang-box
                select(class="travel-lang-sel" id="lang" name="lang")
                    option(value="" disabled="" selected="") 語言
                    option(value="zh") 中文
                    option(value="en") English
                    //- travel_sel_arr
            //- 漢堡
            button(class="hamburger hamburger--squeeze travel-ham" type="button" id="travelHam")
                span(class="hamburger-box")
                    span(class="hamburger-inner")
//-lightbox 範圍
.mask#mask
.light-txt-wrap.travel-light#lightTxtWrap
    .light-txt-cont
        .light-txt#lightTxt 訊息
        .btn#lightTxtClose 確定

script(src="js/travel_common.js") 
//- script.
    //- var travelHamSwitch = false;
    //- $(document).ready(function(){
    //-     var $travelHam = $("#travelHam");
    //-     var $travelNav = $('#travelNav');
    //-     var windowW = $(window).width();

    //-     if (windowW < 1200) {//768
    //-         $travelNav.css({ 'display': 'none' });
    //-     } else {
    //-         $travelNav.css({ 'display': 'flex' });
    //-     }
    //-     $travelHam.on("click", function (e) {
    //-         if (travelHamSwitch) {
    //-             $travelHam.removeClass("is-active");
    //-             //- $travelNav.css({ 'display': 'flex' });
    //-             $travelNav.slideUp();
    //-             travelHamSwitch = false;
    //-         } else {
    //-             $travelHam.addClass("is-active");
    //-             //- $travelNav.css({ 'display': 'none' });
    //-             $travelNav.slideDown();
    //-             travelHamSwitch = true;
    //-         }
    //-     });

    //-     var $opTravelSupNav = $('.item-mc');
    //-     $opTravelSupNav.on('click', function () {
    //-         windowWAct = $(window).width();
    //-         if (windowWAct < 1200) {//768
    //-             var $travelSupNav = $(this).children('.tsup-nav');
    //-             var $icon=$(this).children('.icon');
    //-             if($travelSupNav.is(':visible')){
    //-                 $icon.removeClass('icon-minus');
    //-                 $travelSupNav.slideUp();
    //-             }else{
    //-                 $icon.addClass('icon-minus');
    //-                 $travelSupNav.slideDown();
    //-             }
    //-         }
    //-     });
    //- });
    //- $(window).resize(function () {
    //-     var windowW = $(window).width();

    //-     if (windowW < 1200) {//768
    //-         travelHamSwitch ? $('#travelNav').show() : $('#travelNav').hide();
    //-     } else {
    //-         $('#travelNav').css({ 'display': 'flex' });
    //-         $('#travelHam').removeClass("is-active");
    //-         travelHamSwitch = false;
    //-         //- $('.n-nav-sup').removeAttr('style');
    //-         $('.tsup-nav').removeAttr('style');
    //-         $('.item-mc').find('.icon').removeClass('icon-minus');
    //-     }
    //- });