//- 地景網
//- 麵包屑
mixin travelBread(Data)
    .travel-bread-area
        a(href="travel.html") 首頁
        |  / 
        each n in Data.links
            a(href=n.url) #{n.name}
            |  / 
        span #{Data.actName}
//- 推薦你來體驗
mixin travelRecommon(Data)
    a(href=Data.link).travel-recommon-cont
        .travel-recommon-box
            .travel-recommon-tit
                h3 #{Data.tit}
                span #{Data.sup}
                .icon
                    img(src="img/wh_arrow_r.svg", alt="")
            img(src="img/"+Data.img, alt="").bg

//- 更多的精選內容
mixin travelThemeBox(Data,linkTo,tagTo)
    .travel-theme-box
        if Data.hasTag
            .travel-theme-tab 最新資訊
        a(href=linkTo).travel-theme
            .travel-theme-box-img
                img(src="img/"+Data.img, alt="")
            .travel-theme-txt
                .date #{Data.date}
                .tit #{Data.tit}
        if !Data.notTag
            .travel-tag-area
                each n in Data.tagList
                    a(href=tagTo) ##{n}

//- 地景網側邊路徑
mixin travelSideRouteBox(Data)
    .travel-side-route-box(id=Data.id)
        .name #{Data.name}
        .arr
            img(src="img/brown_arrow_r.svg", alt="")

//- 地景網路徑
mixin travelRouteBox(Data)
    .travel-route-box
        .icon-scale(id=Data.id)
        .travel-route-img
            img(src="img/"+Data.img, alt="")
        .travel-route-cont
            .tit #{Data.tit}
            .address #{Data.address}
            .cont #{Data.cont}

//- 地景網使用者留言
mixin pageCommonReq(Data)
    .travel-page-common-user.req
        .user-img
            img(src="img/"+Data.img, alt="")
        .travel-page-common-cont
            .page-common-req
                .info
                    .name-box
                        .name #{Data.name}
                        if Data.hasStar
                            .star-box <i class="fas fa-star on"></i> <i class="fas fa-star on"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                    .cont
                        if Data.isCover
                            .reply-alert 此內容可能違反規定或涉嫌洗版，已將內容屏蔽
                        else
                            | #{Data.cont}
                .date #{Data.date}

//- 地景網路徑pupup
mixin travelRoutePopup(Data)
    .travel-route-popup-area(id=Data.id)
        .route-popup-close
        .route-popup-img
            img(src="img/"+Data.img, alt="")
        .route-popup-cont
            .tit
                .icon
                    img(src="img/icon_place.svg", alt="")
                span #{Data.tit}
            .address 地址：#{Data.address}
            .cont #{Data.cont}
            .about 地景相關出版品/文宣品：《周夢蝶詩文集 卷一：孤獨國∕還魂草∕風耳樓逸稿》，2010
            .data-from 資料出處：常設展資料、台灣文學基地官方網頁：<a href="###" target="_blank">https://tlb.nmtl.gov.tw/</a> 《周夢蝶詩文集 卷一：孤獨國∕還魂草∕風耳樓逸稿》，2010


//- 地景網主題方塊
mixin travelThemeCubeBox(Data)
    a(href="travel_route_list.html").travel-theme-cube-box
        .travel-theme-cube-img
            .img
                img(src="img/"+Data.img, alt="")
        .travel-theme-cube-cont
            .date #{Data.date}
            h3.tit #{Data.tit}

//- 地景網頁碼
mixin travelPaginationArea()
    .travel-pagination-area
        a(href="###") <i class="fas fa-angle-double-left"></i>
        a(href="###") <i class="fas fa-angle-left"></i>
        a(href="###" class="num act") 1
        a(href="###" class="num") 2
        a(href="###" class="num") 3
        a(href="###" class="num") 4
        a(href="###" class="num") 5
        a(href="###") <i class="fas fa-angle-right"></i>
        a(href="###") <i class="fas fa-angle-double-right"></i>

//-地景網 代表標籤
mixin travelQuoteTagArea(link)
    .travel-quote-tag-area
        .travel-quote-tag-tit
            .tit 代表標籤
            .more-btn#travelQuoteTagMoreBtn <i class="fas fa-arrow-down"></i> 顯示全部標籤
        .travel-quote-tag-cont#travelQuoteAllTagBox
            .travel-tag-area#travelQuoteAllInnerTagBox
                -const tagList=['文學','小說','自由戀愛','貓狗文學','葉石濤','文學主義','性別文學','人文主義','大海']
                each n in tagList
                    a(href=link) ##{n}

//-地景網 路線主題
mixin travelRouteThemeBox(Data)
    .travel-route-theme-box
        a(href="travel_route_cont.html").travel-route-theme-img
            img(src="img/"+Data.img, alt="")
        .travel-route-theme-cont
            .travel-route-theme-date
                .date 2020.11.20
                .travel-route-theme-icon-area
                    .travel-route-theme-icon-box
                        .icon
                            img(src="img/icon_star.svg", alt="")
                        sapn 4.5
                    .travel-route-theme-icon-box
                        .icon.icon-heart
            a(href="travel_route_cont.html").travel-route-theme-txt
                .tit #{Data.tit}
                .cont #{Data.cont}
            .travel-tag-area
                -const tagList=['文學','小說','自由戀愛']
                each n in tagList
                    a(href="travel_route_src_tag_list.html") ##{n}
            .travel-page-info
                .info 358 次點閱
                .info
                    .icon
                        img(src="img/icon_info_collect.svg", alt="")
                    .txt 54
                .share-btn-box
                    a(href="###" class="sbtn")
                        i(class="far fa-check")
                        | 讚 <span>234</span>
                    a(href="###" class="sbtn") 分享

//-地景網 標籤搜尋
mixin travelRouteSrcTagBox(goLink,tagGoLink,Data)
    .travel-route-theme-box.travel-src-tag
        a(href=goLink).travel-route-theme-img
            img(src="img/"+Data.img, alt="")
        .travel-route-theme-cont
            .travel-src-tag-top
                .travel-route-theme-date
                    .date 2020.11.20
                a(href=goLink).travel-route-theme-txt
                    .tit #{Data.tit}
                    .cont #{Data.cont}
            .travel-tag-area
                a(href=tagGoLink).act #文學
                -const tagList=['小說','自由戀愛']
                each n in tagList
                    a(href=tagGoLink) ##{n}

//-地景網 家族地圖館舍
mixin travelFamilySwArea(Data)
    .museum-dot(class="museum-dot"+Data.areaNum)
    .museum-line(class="museum-line"+Data.areaNum)
    .travel-family-museum-box.museum-sw-box(class="museumArea"+Data.areaNum, data-num=Data.areaNum)
        .travel-family-sw-box
            .travel-family-sw-place #{Data.place}
            .swiper-containe.travel-family-sw(id="travelFamilySw"+Data.areaNum)
                .swiper-wrapper
                    each n in Data.museums
                        .swiper-slide
                            //- img(src="img/"+n.img, alt="")
                            //- .travel-family-sw-museum #{n.name}
                            a(href="###" target="_blank").d-camera <i class="fad fa-camera-retro"></i>
                            a(href="travel_family_cont.html").museum-slide
                                .museum-slide-img-box
                                    .museum-slide-img
                                        img(src="img/"+n.img, alt="")
                                .travel-family-sw-museum !{n.name}
            .swiper-button-prev(id="familySwPrev"+Data.areaNum) <i class="fas fa-caret-left"></i>
            .swiper-button-next(id="familySwNext"+Data.areaNum) <i class="fas fa-caret-right"></i>
            //- .travel-family-sw-museum 臺灣文學基地
//-地景網 家族地圖館舍
mixin travelFamilyMuseumBox(Data)
    .museum-dot(class="museum-dot"+Data.areaNum)
    .museum-line(class="museum-line"+Data.areaNum)
    .travel-family-museum-box(class="museumArea"+Data.areaNum)
        .travel-family-sw-place #{Data.place}
        .museum-slide-box
            a(href="###" target="_blank").d-camera <i class="fad fa-camera-retro"></i>
            a(href="travel_family_cont.html").museum-slide
                .museum-slide-img-box
                    .museum-slide-img
                        img(src="img/"+Data.img, alt="")
                .travel-family-sw-museum !{Data.name}

//-地景網 推薦其他館舍
mixin recommonMuseumBox(Data)
    a(href="travel_family_cont.html").recommon-museum-box
        .recommon-museum-img
            img(src="img/"+Data.img, alt="")
        .recommon-museum-name #{Data.name}

//-地景網 最新消息
mixin travelNewsBox(Data)
    .travel-news-box
        .travel-theme-tab 最新資訊
        a(href="travel_news_cont.html").travel-news-img
            img(src="img/"+Data.img, alt="")
        .travel-news-date
            .date 2022.02.01
            .icon.icon-heart
        a(href="travel_news_cont.html").travel-theme-txt
            .tit #{Data.tit}
            .txt #{Data.txt}
        .travel-tag-area
            -const tagList=['文學','小說','自由戀愛']
            each n in tagList
                a(href="travel_news_src_tag_list.html") ##{n}
        .travel-page-info
            .info 358 次點閱
            .info
                .icon
                    img(src="img/icon_info_collect.svg", alt="")
                .txt 54
            .share-btn-box
                a(href="###" class="sbtn")
                    i(class="far fa-check")
                    | 讚 <span>234</span>
                a(href="###" class="sbtn") 分享

//-地景網 部落格
mixin travelBlogBox(Data)
    .travel-blog-box
        //- .travel-theme-tab 最新資訊
        a(href="travel_blog_cont.html").travel-blog-img
            img(src="img/"+Data.img, alt="")
        .travel-blog-date
            .date 2022.02.01
            .name-box
                .name by <span>梁祝瑛</span>
                .icon.icon-heart
        a(href="travel_blog_cont.html").travel-theme-txt
            .tit #{Data.tit}
            .txt #{Data.txt}
        .travel-page-info
            .info 358 次點閱
            .info
                .icon
                    img(src="img/icon_info_collect.svg", alt="")
                .txt 54
            .share-btn-box
                a(href="###" class="sbtn")
                    i(class="far fa-check")
                    | 讚 <span>234</span>
                a(href="###" class="sbtn") 分享

//-地景網 部落格
mixin blogEditBtn(Data)
    .blog-edit-btn(id=Data.btnId)
        .icon
            img(src="img/"+Data.img, alt="")
        span #{Data.txt}

//-地景網 線上解謎
mixin travelGameBox(Data)
    .travel-game-box
        if Data.img
            a(href="###", target="_blank", rel="noopener noreferrer").img-area
                img(src="img/"+Data.img, alt="")
        else
            .video-area
                iframe(src="https://www.youtube.com/embed/"+Data.videoId title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        .travel-download-btn-cont
            .tit #{Data.tit}
            .cont #{Data.cont}
            .btn-box
                a(href="###").btn 解說遊玩.pdf <i class="fas fa-arrow-to-bottom"></i>

//-地景網 學習單
mixin worksheetBox(Data)
    .worksheet-box
        .travel-download-btn-cont
            .tit #{Data.tit}
            .cont #{Data.cont}
            .btn-box
                a(href="###").btn 下載學習單 <i class="fas fa-arrow-to-bottom"></i>
        .about-worksheet-link-area
            .icon-tit
                .icon
                    img(src="img/icon_worksheet_book.svg", alt="")
            .tit 相關文章
            ul.about-worksheet-list
                each n in Data.list
                    li
                        <i class="fas fa-map-marker-alt"></i>
                        a(href="travel_route_cont.html") #{n}

//-地景網 活動月曆
mixin travelEventBox(Data)
    .travel-event-box
        .travel-event-date
            .event-date
                .year 2022
                .date.s-date 02/10
            .mb-line
            .event-date
                .year 2022
                .date 02/20
        .travel-route-theme-box
            a(href="travel_event_cont.html").travel-route-theme-img
                img(src="img/"+Data.img, alt="")
            .travel-route-theme-cont
                //- .travel-route-theme-date
                //-     .date 2020.11.20
                //-     .travel-route-theme-icon-area
                //-         .travel-route-theme-icon-box
                //-             .icon.icon-heart
                .travel-event-theme-txt
                    .travel-route-theme-icon-box
                        .icon.icon-heart
                    a(href="travel_event_cont.html").travel-route-theme-txt
                        .tit #{Data.tit}
                        .cont #{Data.cont}
                .travel-tag-area
                    -const tagList=['文學','小說','自由戀愛']
                    each n in tagList
                        a(href="travel_event_src_tag_list.html") ##{n}
                .travel-page-info
                    .info 358 次點閱
                    .info
                        .icon
                            img(src="img/icon_info_collect.svg", alt="")
                        .txt 54
                    .share-btn-box
                        a(href="###" class="sbtn")
                            i(class="far fa-check")
                            | 讚 <span>234</span>
                        a(href="###" class="sbtn") 分享


//-地景網 活動月曆地圖列表
mixin travelEventListBox(Data)
    a(href="travel_event_cont.html" class=Data.hasTag?'act':'').list-box
        .date #{Data.date}
        .tit #{Data.tit}

//-地景網 活動月曆地圖列表
mixin travelEventListArea(Data,num)
    .travel-event-list-area(id="eventArea"+num)
        .event-tit <span>#{Data}</span> / 相關活動
        .travel-event-list
            -const travelEventList01={'hasTag':true,'date':'2022/06/02 - 2022/06/30','tit':'飽讀食書－－臺灣珍味文學展'}
            +travelEventListBox(travelEventList01)
            -const travelEventList02={'date':'2022/06/12 - 2022/06/20','tit':'2022 最新展覽資訊，請參考臺文館最新活動資訊'}
            +travelEventListBox(travelEventList02)
            -const travelEventList03={'date':'2022/09/01 - 2022/09/08','tit':'《一起去地球吧！》國立臺灣文學館裝置藝術特展'}
            +travelEventListBox(travelEventList03)
        .travel-about-btn-area
            a(href="travel_event_list.html").travel-m-btn
                span 查看更多資訊
                <i class="fal fa-long-arrow-right"></i>
