﻿@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "帳號管理";
    ViewBag.Title2 = "新增帳號";
}

<h1>@ViewBag.Title</h1>

<h2>@ViewBag.Title2</h2>
<!-- <div class="input-box">
    <a href="#" class="btn btn-submit">
        <i class="fas fa-plus"></i>
        新增帳號
    </a>
</div> -->
<form action="@Url.Action("AddAccount")" method="post" id="form">
    @*防偽造*@
    @Html.AntiForgeryToken()
    <div class="input-box input-box-w">
        <label for="account">*帳號</label>
        <input type="text" class="input-sty required" name="account" id="account" value="">
    </div>
    <div class="input-box">
        <label for="pwd">*密碼</label>
        <input type="password" class="input-sty required" name="pwd" id="pwd" value="">
    </div>
    <div class="input-box">
        <label for="pwdCheck">*確認密碼</label>
        <input type="password" class="input-sty required" name="pwdCheck" id="pwdCheck" value="">
    </div>
    <div class="input-box input-box-w">
        <label for="purview">權限設定</label>
        <div class="check-list">
            <label for="tag1">
                <input type="checkbox" name="tag1" id="tag1" value="1" title="最少需選擇一個">
                <div class="check-box"></div>
                <span>帳號管理</span>
            </label>
            <label for="tag2">
                <input type="checkbox" name="tag2" id="tag2" value="1" title="最少需選擇一個">
                <div class="check-box"></div>
                <span>會員管理</span>
            </label>
            <label for="tag3">
                <input type="checkbox" name="tag3" id="tag3" value="1" title="最少需選擇一個">
                <div class="check-box"></div>
                <span>臺灣文學史管理</span>
            </label>
            <label for="tag4">
                <input type="checkbox" name="tag4" id="tag4" value="1" title="最少需選擇一個">
                <div class="check-box"></div>
                <span>作家行跡管理</span>
            </label>
            <label for="tag5">
                <input type="checkbox" name="tag5" id="tag5" value="1" title="最少需選擇一個">
                <div class="check-box"></div>
                <span>共創平台管理</span>
            </label>
            <label for="tag6">
                <input type="checkbox" name="tag6" id="tag6" value="1" title="最少需選擇一個">
                <div class="check-box"></div>
                <span>主題之旅管理</span>
            </label>
            <label for="tag7">
                <input type="checkbox" name="tag7" id="tag7" value="1" title="最少需選擇一個">
                <div class="check-box"></div>
                <span>文學展示管理</span>
            </label>
            <label for="tag8">
                <input type="checkbox" name="tag8" id="tag8" value="1" title="最少需選擇一個">
                <div class="check-box"></div>
                <span>靜態檔上傳</span>
            </label>
            <label for="tag9">
                <input type="checkbox" name="tag9" id="tag9" value="1" title="最少需選擇一個">
                <div class="check-box"></div>
                <span>作者與著作管理</span>
            </label>
            <label for="tag10">
                <input type="checkbox" name="tag10" id="tag10" value="1" title="最少需選擇一個">
                <div class="check-box"></div>
                <span>延伸閱讀管理</span>
            </label>
            <label for="tag11">
                <input type="checkbox" name="tag11" id="tag11" value="1" title="最少需選擇一個">
                <div class="check-box"></div>
                <span>標籤管理</span>
            </label>
            <label for="tag12">
                <input type="checkbox" name="tag12" id="tag12" value="1" title="最少需選擇一個">
                <div class="check-box"></div>
                <span>其他管理</span>
            </label>
            <label for="tag13">
                <input type="checkbox" name="tag13" id="tag13" value="1" title="最少需選擇一個">
                <div class="check-box"></div>
                <span>GA數據</span>
            </label>
            <label for="tag14">
                <input type="checkbox" name="tag14" id="tag14" value="1" title="最少需選擇一個">
                <div class="check-box"></div>
                <span>數位遊戲管理</span>
            </label>
            <label for="tag15">
                <input type="checkbox" name="tag15" id="tag15" value="1" title="最少需選擇一個">
                <div class="check-box"></div>
                <span>人流數據</span>
            </label>
            <label for="tag16">
                <input type="checkbox" name="tag16" id="tag16" value="1" title="最少需選擇一個">
                <div class="check-box"></div>
                <span>即時監控面板</span>
            </label>
        </div>
    </div>


    <div class="input-box input-box-w">
        <label for="note">備註</label>
        <input type="text" class="input-sty" name="note" id="note" value="">
    </div>

    <div class="btn-area">
        <a href="@Url.Action("AdminManage")" class="btn btn-cancel"><i class="fa fa-chevron-left"></i> 取消</a>
        <div class="btn btn-submit">
            <i class="fa fa-check"></i> 確認送出
            <input type="submit" class="btn">
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        var message = '@ViewBag.Error';
        if (message == "完成") {
            alert("完成");
            top.location.href = "@Url.Action("AdminManage")";
        } else if (message.length > 0) {
            alert("@ViewBag.Error");
        }

        $.validator.addMethod("strongcheck1", function (value) {
            return /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@@$!%*?&])[A-Za-z\d$@@$!%*?&]/.test(value);
        });
        $.validator.addMethod("lengthcheck1", function (value) {
            return /.{8,}/.test(value);
        });
        $.validator.addMethod("theSameAcc", function (value, element) {
            if ($('#account').val().length <= 0) return true;

            if (value) {
                return value.match($('#account').val()) == null; // 輸入內容中不可有空白字元
            } else {
                return false;
            }
        });
        $.validator.addMethod("reverseAcc", function (value, element) {
            if ($('#account').val().length <= 0) return true;

            if (value) {
                return value.match($('#account').val().split("").reverse().join("")) == null; // 輸入內容中不可有空白字元
            } else {
                return false;
            }
        });
        $.validator.addMethod("charac3", function (value, element) {
            if (value) {
                var count = 1;
                for (var i = 0; i < value.length; i++) {
                    count = 1;
                    for (var ii = i + 1; ii < value.length; ii++) {
                        if (value[i] == value[ii])
                            count++;

                        if (count >= 3)
                            return false;

                        if (ii >= i + 2) break;
                    }
                }

                return true;
            } else {
                return false;
            }
        });

        var validator = $("#form").validate({
            rules: {
                pwd: {
                    required: true,
                    strongcheck1: true,
                    lengthcheck1: true,
                    theSameAcc: true,
                    reverseAcc: true,
                    charac3: true
                },
                pwdCheck: {
                    equalTo: "#pwd",
                },
            },
            messages: {
                pwd: {
                    strongcheck1: "需含有大寫字母、小寫字母、數字及符號",
                    lengthcheck1: "最少8個字",
                    theSameAcc: "不得與帳號相同",
                    reverseAcc: "不得與帳號顛倒",
                    charac3: "不得連續3個重覆字元"
                }
            },
            submitHandler: function (form) {
                var checked = false;
                $('input:checkbox:checked').each(function (evt) {
                    checked = true;
                });

                if (!checked) {
                    alert("您至少要選擇一個權限");
                    return;
                }
                form.submit();
            }
        });
    });
</script>
