﻿@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "作者與著作管理";
    ViewBag.Title2 = "新增作者與著作";
}

<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 800px; /* Could be more or less, depending on screen size */
    }
</style>
<h1>@ViewBag.Title</h1>

<h2>@ViewBag.Title2</h2>
<form action="@Url.Action("AddAuthor")" method="post" id="form">
    @*防偽造*@
    @Html.AntiForgeryToken()
    <div class="input-box">
        <label for="authorName">*作者名稱</label>
        <input type="text" class="input-sty required" name="authorName" id="authorName" value="">
    </div>
    <div class="input-box input-box-en">
        <label for="authorNameEn">作者名稱(英)</label>
        <input type="text" class="input-sty" name="authorNameEn" id="authorNameEn" value="">
    </div>

    <div class="input-box input-box-w">
        <label for="editor">作者簡介</label>
        <textarea name="editor" id="editor" placeholder="內文說明..." class="input-sty desc-info"></textarea>
    </div>
    <div class="input-box input-box-w input-box-en">
        <label for="editorEn">作者簡介(英)</label>
        <textarea name="editorEn" id="editorEn" placeholder="內文說明..." class="input-sty desc-info"></textarea>
    </div>

    <div class="input-box input-box-w">
        <label for="">作者照片</label>
        <div class="note">圖像尺寸 500 × 500，支援jpg、gif、png等格式 </div>
        <div class="upload-img">
            <div class="head-box upload-box-sty">
                <input type="file" id="uploadpic" name="uploadpic" class="upload-pic" onchange="initcrop();" onclick="this.value=null;">
                <div class="del-photo" title="刪除" alt="刪除" onclick="delpic('cropimg','pic_del')"></div>
                <div id="previews" class="upload-click-area" onclick="upload_click(this)">
                    <img id="cropimg" src="/img/default_src.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <a id="cropit" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;"><i class="fa fa-chevron-left"></i>裁切</a>
            <a id="cropmove" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;margin-left:65px;"><i class="fa fa-arrows-alt"></i></a>
            <a id="cropcut" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;margin-left:105px;"><i class="fa fa-crop-alt"></i></a>
            <a id="closeit" href="#" class="btn btn-cancel" style="margin-left:762px;"><i class="fa fa-window-close"></i></a>
            <div id="cropper-example-2" style="height:800px;width:800px;">
                <img id="orimg" alt="Picture" />
            </div>
        </div>
    </div>

    <input type="hidden" name="pic" id="pic" value="" />
    <input type="hidden" name="pic_del" id="pic_del" value="0" />

    <h2>著作列表</h2>
    <ul class="operat-list" id="bookList">
    </ul>
    <div class="btn-area">
        <div class="btn btn-submit" id="bookAddBtn">
            <i class="far fa-plus"></i> 新增著作
        </div>
    </div>


    <div class="btn-area">
        <a href="@Url.Action("AuthorList")" class="btn btn-cancel"><i class="fa fa-chevron-left"></i> 取消</a>
        <div class="btn btn-submit">
            <i class="fa fa-check"></i> 確認送出
            <input type="submit" class="btn">
        </div>
    </div>
</form>

<!-- 此為表單驗證用，注意需更改#name與標單的id相同 -->
<script type="text/javascript">
    $(function () {
        //dataPicker();
        var indexofbook = 0;

        var message = '@ViewBag.Error';
        if (message == "完成") {
            alert("完成");
            top.location.href = "@Url.Action("AuthorList")";
        } else if (message.length > 0) {
            alert("@ViewBag.Error");
        } else {
            var validator = $("#form").validate({
                /*
                invalidHandler: function (event, validator) {
                    if (document.getElementById('uploadpic').value == "" && tempuploadpic['uploadpic'])
                        document.getElementById('uploadpic').value = tempuploadpic['uploadpic'];
                },*/
                submitHandler: function (form) {
                    //resetForm();
                    form.submit();
                }
            });
        }

        //著作新增
        $('#bookAddBtn').on('click', function () {
            $('#bookList').append('<li>' +
                '<div class="operat-box">' +
                '<span>作品名稱：</span>' +
                '<div class="operat-input-box">' +
                '<input type="text" class="input-sty" id="bookName" name="bookName">' +
                '</div>' +
                '</div>' +
                '<div class="operat-box">' +
                '<span class="en-color">作品名稱(英)：</span>' +
                '<div class="operat-input-box">' +
                '<input type="text" class="input-sty" id="bookNameEn" name="bookNameEn">' +
                '</div>' +
                '</div>' +
                '<div class="operat-box">' +
                '<span>發表時間：</span>' +
                '<div class="operat-input-box">' +
                '<input id="publishTime' + indexofbook + '" type="text" class="input-sty" name="publishTime" value="">' +
                '</div>' +
                '</div>' +
                '<div class="operat-btn delbook" title="刪除" alt="刪除">' +
                '<i class="fas fa-times-square"></i>' +
                '</div></li>');
            /*
            $(('#publishTime' + indexofbook)).datepicker({
                language: "en",
                position: "top left",
                minView: 'months',
                dateFormat: "yyyy/mm",
                autoClose: true
            });*/
            indexofbook++;
        });
        //刪除著作
        $(document).on('click', '.delbook', function () {
            $(this).parent().remove();
        });
    });
    function dataPicker() {
        $('.datepicker-here').datepicker({
            language: "en",
            position: "top left",
            minView: 'months',
            dateFormat: "yyyy/mm",
            autoClose: true
        });
    }

    var uploadpic;
    var tempuploadpic = [];
    var image;
    var modal;
    var cropper;

    function initcrop() {
        uploadpic = document.getElementById('uploadpic');
        image = document.getElementById('orimg');
        modal = document.getElementById("myModal");

        $('#cropit').on('click', function () {
            var croppedImageDataURL = cropper.getCroppedCanvas({ width: 500, height: 500 }).toDataURL("image/png");
            $('#cropimg').attr('src', croppedImageDataURL);
            $('#pic').val(croppedImageDataURL);

            cropper.destroy();
            image.src = '';
            try {
                document.getElementById('pic_del').value = "0";
            } catch (e) { }
            tempuploadpic['uploadpic'] = uploadpic.value;
            modal.style.display = "none";
        });
        $('#cropmove').on('click', function () {
            cropper.setDragMode("move");
        });

        $('#cropcut').on('click', function () {
            cropper.setDragMode("crop");
        });

        $('#closeit').on('click', function () {
            cropper.destroy();
            image.src = '';
            modal.style.display = "none";
        });

        if (uploadpic.files && uploadpic.files[0]) {
            if (uploadpic.files[0].type.match(/^image\//)) {
                var reader = new FileReader();
                reader.onload = function (evt) {
                    image.src = evt.target.result;
                    cropper = new Cropper(image, {                        
                        aspectRatio: 1 / 1,
                        viewMode: 1,
                        crop(event) {
                            console.log(event.detail.x);
                            console.log(event.detail.y);
                            console.log(event.detail.width);
                            console.log(event.detail.height);
                            console.log(event.detail.rotate);
                            console.log(event.detail.scaleX);
                            console.log(event.detail.scaleY);
                        },
                    });
                    modal.style.display = "block";
                };
                reader.readAsDataURL(uploadpic.files[0]);
            }
            else {
                alert("Invalid file type! Please select an image file.");
            }
        }
        else {
            alert('No file(s) selected.');
        }
    }

    function delpic(pic, del) {
        document.getElementById(pic).src = "";
        document.getElementById(del).value = "1";
    }
</script>
