﻿@model VirtualMuseum.Models.Backend.CollectViewModel

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "靜態檔上傳";
    ViewBag.Title2 = "修改檔案";
}

<h1>@ViewBag.Title</h1>

<h2>@ViewBag.Title2</h2>

<form action="@Url.Action("EditCollect")" id="form" method="post">
    @*防偽造*@
    @Html.AntiForgeryToken()
    <div class="input-box">
        <label for="title">*名稱</label>
        <input type="text" class="input-sty required" name="title" id="title" value="@Model.Name_tw">
    </div>
    <div class="input-box input-box-en">
        <label for="titleEn">名稱(英)</label>
        <input type="text" class="input-sty" name="titleEn" id="titleEn" value="@Model.Name_en">
    </div>

    <div class="input-box">
        <label for="titleEn">連結目標</label>
        <a target="_blank" href="@Model.Link_tw" class="to-link">@Model.Link_tw</a>
    </div>
    <div class="input-box input-box-en">
        <label for="titleEn">連結目標(英)</label>
        <a target="_blank" href="@Model.Link_en" class="to-link">@Model.Link_en</a>
    </div>
    <h2>上傳檔案</h2>
    <div class="note">打包檔案注意事項：所有資源檔案請使用相對路徑連結，預設頁面為static.html/static-en.html，僅提供html檔案頁面上傳</div>
    <div class="input-box">
        <label for="uploadFile">上傳檔案</label>
        <div class="note">請使用zip檔案</div>
        <div class="upload-form-file">
            <div class="form-file">
                <input type="file" name="uploadFile" id="uploadFile" accept=".zip" uploadfile>
                <i class="fad fa-cloud-upload-alt"></i> 選擇檔案
            </div>
            <span id="fileNameBox" class="file-name"></span>
        </div>
    </div>

    <input type="hidden" name="zip1" id="zip1" value="" />
    <input type="hidden" name="filename1" id="filename1" value="" />

    <div class="input-box input-box-en">
        <label for="uploadFile2">上傳檔案(英)</label>
        <div class="note">請使用zip檔案</div>
        <div class="upload-form-file">
            <div class="form-file">
                <input type="file" name="uploadFile2" id="uploadFile2" accept=".zip" uploadfile>
                <i class="fad fa-cloud-upload-alt"></i> 選擇檔案
            </div>
            <span id="fileNameBox2" class="file-name"></span>
        </div>
    </div>
    <input type="hidden" name="zip2" id="zip2" value="" />
    <input type="hidden" name="filename2" id="filename2" value="" />

    <input type="hidden" name="Coid" id="Coid" value="@Model.Coid" />

    <div class="input-box">
        <label for="show">是否顯示</label>
        <div class="check-list">
            <label for="yes">
                @if (Model.Display_tw == 1)
                {
                    <input type="radio" name="show" id="yes" value="1" title="至少選擇一個" checked class="required">
                }
                else
                {
                    <input type="radio" name="show" id="yes" value="1" title="至少選擇一個" class="required">
                }
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="no">
                @if (Model.Display_tw == 2)
                {
                    <input type="radio" name="show" id="no" value="2" title="至少選擇一個" checked class="radio-box required">
                }
                else
                {
                    <input type="radio" name="show" id="no" value="2" title="至少選擇一個" class="radio-box required">
                }
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <div class="input-box input-box-en">
        <label for="show">是否顯示(英)</label>
        <div class=" check-list">
            <label for="yesEn">
                @if (Model.Display_en == 1)
                {
                    <input type="radio" name="showEn" id="yesEn" value="1" title="至少選擇一個" checked class="required">
                }
                else
                {
                    <input type="radio" name="showEn" id="yesEn" value="1" title="至少選擇一個" class="required">
                }
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="noEn">
                @if (Model.Display_en == 2)
                {
                    <input type="radio" name="showEn" id="noEn" value="2" title="至少選擇一個" checked class="radio-box required">
                }
                else
                {
                    <input type="radio" name="showEn" id="noEn" value="2" title="至少選擇一個" class="radio-box required">
                }
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <div class="btn-area">
        <a href="@Url.Action("CollectList")" class="btn btn-cancel"><i class="fa fa-chevron-left"></i> 取消</a>
        <div class="btn btn-submit">
            <i class="fa fa-check"></i> 確認送出
            <input type="submit" class="btn">
        </div>
    </div>
</form>

<!-- 此為表單驗證用，注意需更改#name與標單的id相同 -->
<script type="text/javascript">
    $(function () {
        var message = '@ViewBag.Error';
        if (message == "完成") {
            alert("完成");
            top.location.href = "@Url.Action("CollectList")";
        } else if (message.length > 0) {
            alert('@ViewBag.Error');
        } else {
            var validator = $("#form").validate({
                submitHandler: function (form) {
                    if (document.getElementById('uploadFile').files.length > 0 ||
                        document.getElementById('uploadFile2').files.length > 0) {
                        if (document.getElementById('uploadFile').files.length > 0) {

                            getFile(document.getElementById('uploadFile').files[0]).then((customJsonFile) => {
                                //customJsonFile is your newly constructed file.
                                var filename = customJsonFile["fileName"].toString().substring(customJsonFile["fileName"].toString().lastIndexOf(".") + 1,
                                    customJsonFile["fileName"].length);
                                $('#filename1').val(filename);
                                $('#zip1').val(customJsonFile["base64StringFile"]);
                                if (document.getElementById('uploadFile2').files.length > 0) {
                                    getFile(document.getElementById('uploadFile2').files[0]).then((customJsonFile) => {
                                        //customJsonFile is your newly constructed file.
                                        var filename = customJsonFile["fileName"].toString().substring(customJsonFile["fileName"].toString().lastIndexOf(".") + 1,
                                            customJsonFile["fileName"].length);
                                        $('#filename2').val(filename);
                                        $('#zip2').val(customJsonFile["base64StringFile"]);
                                        //resetForm();
                                        form.submit();
                                    });
                                } else {
                                    //resetForm();
                                    form.submit();
                                }
                            });
                        } else {
                            if (document.getElementById('uploadFile2').files.length > 0) {

                                getFile(document.getElementById('uploadFile2').files[0]).then((customJsonFile) => {
                                    //customJsonFile is your newly constructed file.
                                    var filename = customJsonFile["fileName"].toString().substring(customJsonFile["fileName"].toString().lastIndexOf(".") + 1,
                                        customJsonFile["fileName"].length);
                                    $('#filename2').val(filename);
                                    $('#zip2').val(customJsonFile["base64StringFile"]);
                                    //resetForm();
                                    form.submit();
                                });
                            } else {
                                //resetForm();
                                form.submit();
                            }
                        }

                    } else {
                        //resetForm();
                        form.submit();
                    }
                }
            });
        }
    });
</script>
