﻿@using PagedList.Mvc;
@using PagedList;
@model VirtualMuseum.Models.Backend.CreateViewModel

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "共創平台管理";
    ViewBag.Title2 = "編輯文章";
    ViewBag.Action = "CreateEdit";
}

<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 800px; /* Could be more or less, depending on screen size */
    }
</style>

<h1>@ViewBag.Title</h1>

<h2>@ViewBag.Title2</h2>

<form action="@Url.Action("EditCreate")" method="post" id="form">
    @*防偽造*@
    @Html.AntiForgeryToken()
    <div class="input-box">
        <label for="title">*標題名稱</label>
        <input type="text" class="input-sty required" name="title" id="title" value="@Model.title">
    </div>
    <div class="input-box input-box-en">
        <label for="titleEn">標題名稱(英)</label>
        <input type="text" class="input-sty" name="titleEn" id="titleEn" value="@Model.titleEn">
    </div>
    <div class="input-box">
        <label for="author">*作者</label>
        <input type="text" class="input-sty required" name="author" id="author" value="@Model.author">
    </div>
    <div class="input-box input-box-en">
        <label for="authorEn">作者(英)</label>
        <input type="text" class="input-sty" name="authorEn" id="authorEn" value="@Model.authorEn">
    </div>
    <input type="hidden" name="Createid" id="Createid" value="@Model.Createid" />

    <div class="input-box">
        <label for="uploadpic1">文章封面圖片</label>
        <div class="note">圖像尺寸 1200 × 630，支援jpg、gif、png等格式</div>
        <div class="upload-img">
            <div class="head-box upload-box-sty">
                <input type="file" name="uploadpic1" id="uploadpic1" class="upload-pic"
                       onchange="initcrop(1);" onclick="this.value=null;">
                <div id="previews1" class="upload-click-area" onclick="upload_click(this)">
                    <img id="cropimg1" src="@(Model.pic1==null||Model.pic1.Length<=0?"/img/default_src.jpg":Model.pic1)" alt="img1">
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="pic1" id="pic1" value="" />

    <div class="input-box input-box-en">
        <label for="uploadpic2">文章封面圖片(英)</label>
        <div class="note">圖像尺寸 1200 × 630，支援jpg、gif、png等格式 </div>
        <div class="upload-img">
            <div class="head-box upload-box-sty">
                <input type="file" id="uploadpic2" name="uploadpic2" class="upload-pic" onchange="initcrop(2);" onclick="this.value=null;">
                <div class="del-photo" title="刪除" alt="刪除" onclick="delpic('cropimg2','pic2_del')"></div>
                <div id="previews2" class="upload-click-area" onclick="upload_click(this)">
                    <img id="cropimg2" src="@(Model.pic2==null||Model.pic2.Length<=0?"/img/default_src.jpg":Model.pic2)" alt="img2">
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="pic2" id="pic2" value="" />
    <input type="hidden" name="pic2_del" id="pic2_del" value="0" />

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <a id="cropit" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;"><i class="fa fa-chevron-left"></i>裁切</a>
            <a id="cropmove" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;margin-left:65px;"><i class="fa fa-arrows-alt"></i></a>
            <a id="cropcut" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;margin-left:105px;"><i class="fa fa-crop-alt"></i></a>
            <a id="closeit" href="#" class="btn btn-cancel" style="margin-left:762px;"><i class="fa fa-window-close"></i></a>
            <div id="cropper-example-2" style="height:800px;width:800px;">
                <img id="orimg" alt="Picture" />
            </div>
        </div>
    </div>

    <div class="input-box input-box-w">
        <label for="editor">內文</label>
        <textarea name="editor" id="editor" placeholder="內文說明..." class="input-sty desc-info">@Model.editor</textarea>
    </div>

    <div class="input-box input-box-w input-box-en">
        <label for="editorEn">內文(英)</label>
        <textarea name="editorEn" id="editorEn" placeholder="內文說明..." class="input-sty desc-info">@Model.editorEn</textarea>
    </div>

    <!-- 引用標籤 -->
    <div class="input-box input-box-w">
        <label for="">引用標籤</label>
        <div class="tag-area">
            <div class="btn btn-submit" id="openTagBtn">
                <i class="fad fa-tags"></i> 選擇中文
            </div>
            <div class="tag-box">
                <ul class="tag" id="tagArea"></ul>
                <div class="no-data">尚未選擇標籤。</div>
            </div>
        </div>
        <div class="tag-area">
            <div class="btn btn-org" id="openTagEnBtn">
                <i class="fad fa-tags"></i> 選擇英文
            </div>
            <div class="tag-box">
                <ul class="tag" id="tagEnArea"></ul>
                <div class="no-data">尚未選擇標籤。</div>
            </div>
        </div>
    </div>

    <!-- lightbox 含表單組件的視窗，可送出表單，但請注意表單位置 -->
    <!-- 中文標籤 -->
    <div class="lg-box lg-big-box" id="lgTagBox" style="display:none;">
        <div class="lg-tit">引用標籤</div>
        <div class="lg-cont lg-add">
            <div class="input-box input-box-w">
                <div class="tag-src-area">
                    <label for="">引用標籤</label>
                    <div class="tag-src-box">
                        <input type="text" class="tag-input w150" autocomplete="off" id="tagSrc">
                        <div class="tag-btn src" id="tagSrcBtn">搜尋</div>
                        <div class="tag-btn" id="tagSrcCleanBtn">清除</div>
                    </div>
                </div>
                <div class="check-list" id="tagCheckList">
                    @if (Model.tags_tw != null)
                    {
                        foreach (var temp in Model.tags_tw)
                        {
                            if (temp.tagname != null && temp.tagname.Length > 0)
                            {
                                <label for="tag@(temp.tagid)">
                                    @if (temp.owned)
                                    {
                                        <input type="checkbox" name="tag" id="tag@(temp.tagid)" value="@temp.tagid" checked="checked" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="tag" id="tag@(temp.tagid)" value="@temp.tagid" />
                                    }
                                    <div class="check-box"></div>
                                    <span>@temp.tagname</span>
                                </label>
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="lg-bot">
            <div class="btn btn-cancel">取消</div>
            <div class="btn btn-submit" id="tagAdd">送出</div>
            <!-- <input type="submit" class="btn btn-submit" id="AuthorTagAdd" value="送出" /> -->
        </div>
    </div>
    <!-- 英文標籤 -->
    <div class="lg-box lg-big-box" id="lgTagEnBox" style="display:none;">
        <div class="lg-tit">引用標籤(英文)</div>
        <div class="lg-cont lg-add">
            <div class="input-box input-box-w input-box-en">
                <div class="tag-src-area">
                    <label for="">引用標籤(英)</label>
                    <div class="tag-src-box">
                        <input type="text" class="tag-input w150" autocomplete="off" id="tagSrcEn">
                        <div class="tag-btn src" id="tagSrcEnBtn">搜尋</div>
                        <div class="tag-btn" id="tagSrcCleanEnBtn">清除</div>
                    </div>
                </div>
                <div class="check-list" id="tagEnCheckList">
                    @if (Model.tags_en != null)
                    {
                        foreach (var temp in Model.tags_en)
                        {
                            if (temp.tagname != null && temp.tagname.Length > 0)
                            {
                                <label for="tagEn@(temp.tagid)">
                                    @if (temp.owned)
                                    {
                                        <input type="checkbox" name="tagEn" id="tagEn@(temp.tagid)" value="@temp.tagid" checked="checked" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="tagEn" id="tagEn@(temp.tagid)" value="@temp.tagid" />
                                    }
                                    <div class="check-box"></div>
                                    <span>@(temp.tagname)(@(temp.subname))</span>
                                </label>
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="lg-bot">
            <div class="btn btn-cancel">取消</div>
            <div class="btn btn-submit" id="tagEnAdd">送出</div>
            <!-- <input type="submit" class="btn btn-submit" id="AuthorTagAdd" value="送出" /> -->
        </div>
    </div>

    <div class="input-box">
        <label for="show">是否顯示</label>
        <div class=" check-list">
            <label for="yes">
                @if (Model.show == "1")
                {
                    <input type="radio" name="show" id="yes" value="1" title="至少選擇一個" checked class="required">
                }
                else
                {
                    <input type="radio" name="show" id="yes" value="1" title="至少選擇一個" class="required">
                }
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="no">
                @if (Model.show == "2")
                {
                    <input type="radio" name="show" id="no" value="2" title="至少選擇一個" checked class="radio-box required">
                }
                else
                {
                    <input type="radio" name="show" id="no" value="2" title="至少選擇一個" class="radio-box required">
                }
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <div class="input-box input-box-en">
        <label for="show">是否顯示(英)</label>
        <div class=" check-list">
            <label for="yesEn">
                @if (Model.showEn == "1")
                {
                    <input type="radio" name="showEn" id="yesEn" value="1" title="至少選擇一個" checked class="required">
                }
                else
                {
                    <input type="radio" name="showEn" id="yesEn" value="1" title="至少選擇一個" class="required">
                }
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="noEn">
                @if (Model.showEn == "2")
                {
                    <input type="radio" name="showEn" id="noEn" value="2" title="至少選擇一個" checked class="radio-box required">
                }
                else
                {
                    <input type="radio" name="showEn" id="noEn" value="2" title="至少選擇一個" class="radio-box required">
                }
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <div class="btn-area">
        <a href="@Url.Action("CreateList")" class="btn btn-cancel"><i class="fa fa-chevron-left"></i> 取消</a>
        <div class="btn btn-submit">
            <i class="fa fa-check"></i> 確認送出
            <input type="submit" class="btn">
        </div>
    </div>
</form>

<form id="editcreate" action="@Url.Action("CreateEdit")" method="post">
    <input type="hidden" name="Createid" id="Createid" value="" />
</form>

<form id="editexdreader" action="@Url.Action("ExdReaderEdit")" method="post">
    <input type="hidden" name="exdreaderEdit" id="exdreaderEdit" value="" />
</form>

<h2>文章留言列表</h2>
<ul class="comment-list">
    @if (Model != null && Model.replys != null && Model.replys.Count > 0)
    {
        foreach (var item in Model.replys)
        {
<li>
    <div class="comment-area">
        <div class="comment-name">
            <div><span>@(item.nickname)</span>| @(item.createtime)</div>
            @if (item.display == 1)
            {
                <div class="comment-show" onclick="hideReply(@(item.Replyid))">
                    <i class="fad fa-eye blue"></i>
                </div>
            }
            else
            {
                <div class="comment-show" onclick="hideReply(@(item.Replyid))">
                    <i class="fad fa-eye-slash red"></i>
                </div>
            }
        </div>
        <div class="comment-txt">@(item.data)</div>
    </div>
    <div class="response-area">
        <div class="response-box">
            @if (item.RRplyid == 0)
            {
                <input type="text" class="input-sty" name="reply" id="reply" value="@item.RMessage">
                <div id="replybtn@(item.Replyid)" rid="@item.RRplyid" class="btn btn-submit" onclick="replyhere(@(item.Replyid))">回覆留言</div>
            }
            else
            {
                <input type="text" class="input-sty" name="reply" id="reply" value="@item.RMessage">
                <div id="replybtn@(item.Replyid)" rid="@(item.RRplyid)" class="btn btn-submit" onclick="replyhere(@(item.Replyid))">更動留言</div>
            }
        </div>
    </div>
</li>
        }
    }
</ul>
@if (Model != null && Model.replys != null && Model.replys.Count > 0)
{
    <div class="pagination">
        <div class="pagination-numbers">
            <a href="javascript:getPage(1)" title="第一頁">
                <i class="fas fa-arrow-to-left"></i>
            </a>

            <a href="javascript:getPage(@Model.replys.PageNumber > 1 ? @Model.replys.PageNumber - 1 : @Model.replys.PageNumber)" title="上一頁">
                <i class="fas fa-arrow-left"></i>
            </a>

            @for (int i = (Model.replys.PageNumber % 5); i <= (Model.replys.PageCount > 5 ? (Model.replys.PageNumber % 5) * 5 : Model.replys.PageCount); i++)
            {
                if (Model.replys.PageNumber == i)
                {
                    <a href="javascript:getPage(@i)" class="act">@i</a>
                }
                else
                {
                    <a href="javascript:getPage(@i)">@i</a>
                }
            }

            <a href="javascript:getPage(@Model.replys.PageNumber==@Model.replys.PageCount?@Model.replys.PageNumber:@Model.replys.PageNumber+1)" title="下一頁">
                <i class="fas fa-arrow-right"></i>
            </a>
            <a href="javascript:getPage(@Model.replys.PageCount)" title="最後頁">
                <i class="fas fa-arrow-to-right"></i>
            </a>
        </div>
    </div>
}

<!-- 此為表單驗證用，注意需更改#name與標單的id相同 -->
<script type="text/javascript">
    $(function () {
        var message = '@ViewBag.Error';
        if (message == "完成") {
            alert("完成");
            top.location.href = "@Url.Action("CreateList")";
        } else if (message.length > 0) {
            alert('@ViewBag.Error');
        } else {
            var validator = $("#form").validate({
                submitHandler: function (form) {
                    //resetForm();
                    form.submit();
                }
            });
        }

        //編輯器
        var editor = CKEDITOR.replace('editor', {
            removePlugins: 'flash,cloudservices',
            extraPlugins: 'embed,autoembed',
            height: 500,
            filebrowserImageUploadUrl: '/Backend/ImageUpload',
            filebrowserBrowseUrl: '@Url.Content("~/js/Filemanager/index.html")',
            filebrowserUploadMethod: 'form',

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [
                'https://cdn.ckeditor.com/4.14.0/full-all/contents.css',
                //'https://ckeditor.com/docs/vendors/4.14.0/ckeditor/assets/css/widgetstyles.css'
            ],
            // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
            image2_disableResizer: true
        });

        var editorEn = CKEDITOR.replace('editorEn', {
            removePlugins: 'flash,cloudservices',
            extraPlugins: 'embed,autoembed',
            height: 500,
            filebrowserImageUploadUrl: '/Backend/ImageUpload',
            filebrowserBrowseUrl: '@Url.Content("~/js/Filemanager/index.html")',
            filebrowserUploadMethod: 'form',

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [
                'https://cdn.ckeditor.com/4.14.0/full-all/contents.css',
                //'https://ckeditor.com/docs/vendors/4.14.0/ckeditor/assets/css/widgetstyles.css'
            ],
            // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
            image2_disableResizer: true
        });

        //=== 打開標籤選擇 ===
        var openBtnList = [
            { openBtn: '#openTagBtn', lgBox: '#lgTagBox' },
            { openBtn: '#openTagEnBtn', lgBox: '#lgTagEnBox' },
            { openBtn: '#openEventTagBtn', lgBox: '#lgEventTagBox' },
            { openBtn: '#openEventTagEnBtn', lgBox: '#lgEventTagEnBox' }
        ];
        $.each(openBtnList, function (ind, val) {
            var $openBtn = $(val.openBtn);
            $openBtn.on('click', function () {
                $(val.lgBox + ',#mask').fadeIn();
            });
        });

        //=== 新增標籤點擊 ===
        var addBtnList = [
            { addBtn: '#tagAdd', tagList: '#tagCheckList', tagArea: '#tagArea', lgBox: '#lgTagBox' },
            { addBtn: '#tagEnAdd', tagList: '#tagEnCheckList', tagArea: '#tagEnArea', lgBox: '#lgTagEnBox' },
            { addBtn: '#eventTagAdd', tagList: '#eventCheckList', tagArea: '#eventTagArea', lgBox: '#lgEventTagBox' },
            { addBtn: '#eventTagEnAdd', tagList: '#eventCheckEnList', tagArea: '#eventTagEnArea', lgBox: '#lgEventTagEnBox' }
        ];

        $.each(addBtnList, function (ind, val) {
            var $addBtn = $(val.addBtn);
            $addBtn.on('click', function () {
                pushTag(val.tagList, val.tagArea, val.lgBox);
            });
        });
        //== 編輯帶入值 ==
        $.each(addBtnList, function (ind, val) {
            pushTag(val.tagList, val.tagArea, val.lgBox);
        });
    });

    function replyhere(id) {
        var headers = {};
        var data = {};
        data.message = $('#replybtn' + id).parent().find("#reply").val();
        data.kind = "2";
        data.id = id;
        data.rid = $('#replybtn' + id).attr("rid");

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("reply")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                alert(result["message"]);
                if (result["code"] == 1)
                    $('#reply' + result["id"]).attr("rid", result["rid"]);
                top.location.reload();
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }

    function hideReply(id) {
        var headers = {};
        var data = {};
        data.Replyid = id;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("hideReply")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                alert(result["message"]);
                top.location.reload();
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }

    function getPage(page) {
        var headers = {};
        var data = {};
        data.action = "@ViewBag.Action";
        data.key = "@Model.Createid";
        data.page = page;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("getPage")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                //alert(result["PageNumber"]);
                $(".comment-list").empty();

                for (var i = 0; i < result["Lists"].length; i++) {
                    var str = '<li><div class="comment-area"><div class="comment-name">' +
                        '<div><span>' + result["Lists"][i]["nickname"] + '</span>| ' + result["Lists"][i]["createtime"] + '</div>';
                    if (result["Lists"][i]["display"] == 1) {
                        str += '<div class="comment-show" onclick="hideReply(' + result["Lists"][i]["Replyid"] + ')"><i class="fad fa-eye blue"></i></div>';
                    }
                    else {
                        str += '<div class="comment-show" onclick="hideReply(' + result["Lists"][i]["Replyid"] + ')"><i class="fad fa-eye-slash red"></i></div>';
                    }
                    str += '</div><div class="comment-txt">' + result["Lists"][i]["data"] + '</div></div><div class="response-area"><div class="response-box">';
                    if (result["Lists"][i]["RRplyid"] == 0) {
                        str += '<input type="text" class="input-sty" name="reply" id="reply" value="' + result["Lists"][i]["RMessage"] + '">' +
                            '<div id="replybtn' + result["Lists"][i]["Replyid"] + '" rid="' + result["Lists"][i]["RRplyid"] + '" class="btn btn-submit" onclick="replyhere(' + result["Lists"][i]["Replyid"] + ')">回覆留言</div>';
                    }
                    else {
                        str += '<input type="text" class="input-sty" name="reply" id="reply" value="' + result["Lists"][i]["RMessage"] + '">' +
                            '<div id="replybtn' + result["Lists"][i]["Replyid"] + '" rid="' + result["Lists"][i]["RRplyid"] + '" class="btn btn-submit" onclick="replyhere(' + result["Lists"][i]["Replyid"] + ')">更動留言</div>';
                    }
                    str += '</div></div></li>';
                    $(".comment-list").append(str);
                }

                $('.pagination-numbers').empty();

                $('.pagination-numbers').append('<a href="javascript:getPage(1)" title="第一頁"><i class="fas fa-arrow-to-left"></i></a>');
                $('.pagination-numbers').append('<a href="javascript:getPage(' + (result["PageNumber"] > 1 ? result["PageNumber"] - 1 : result["PageNumber"]) + ')" title="上一頁"><i class= "fas fa-arrow-left" ></i ></a >');

                var pageMin = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 1;
                var pageMax = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 5;

                if (parseInt(result["PageCount"]) < pageMax)
                    pageMax = parseInt(result["PageCount"]);
                for (var i = pageMin; i <= pageMax; i++) {
                    if (result["PageNumber"] == i) {
                        $('.pagination-numbers').append('<a href="javascript:getPage(' + i + ')" class="act">' + i + '</a>');
                    }
                    else {
                        $('.pagination-numbers').append('<a href="javascript:getPage(' + i + ')">' + i + '</a>');
                    }
                }

                $('.pagination-numbers').append('<a href="javascript:getPage(' + (result["PageNumber"] == result["PageCount"] ? result["PageNumber"] : result["PageNumber"] + 1) + ')" title="下一頁"><i class="fas fa-arrow-right"></i></a>');
                $('.pagination-numbers').append('<a href="javascript:getPage(' + result["PageCount"] + ')" title="最後頁"><i class="fas fa-arrow-to-right"></i></a>');
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }

    var uploadpic; var tempuploadpic;
    var image;
    var modal;
    var cropper;
    var _index;

    function initcrop(index) {
        _index = index;

        uploadpic = document.getElementById('uploadpic' + _index);

        image = document.getElementById('orimg');
        modal = document.getElementById("myModal");

        $('#cropit').on('click', function () {
            var croppedImageDataURL = cropper.getCroppedCanvas({ width: 1200, height: 630 }).toDataURL("image/png");
            $('#cropimg' + _index).attr('src', croppedImageDataURL);
            $('#pic' + _index).val(croppedImageDataURL);

            cropper.destroy();
            image.src = '';
            try {
                document.getElementById('pic' + _index + '_del').value = "0";
            } catch (e) { }
            tempuploadpic = uploadpic.value;
            modal.style.display = "none";
        });
        $('#cropmove').on('click', function () {
            cropper.setDragMode("move");
        });

        $('#cropcut').on('click', function () {
            cropper.setDragMode("crop");
        });

        $('#closeit').on('click', function () {
            cropper.destroy();
            image.src = '';
            modal.style.display = "none";
        });

        if (uploadpic.files && uploadpic.files[0]) {
            if (uploadpic.files[0].type.match(/^image\//)) {
                var reader = new FileReader();
                reader.onload = function (evt) {
                    image.src = evt.target.result;
                    cropper = new Cropper(image, {  
                        viewMode: 1,
                        crop(event) {
                            console.log(event.detail.x);
                            console.log(event.detail.y);
                            console.log(event.detail.width);
                            console.log(event.detail.height);
                            console.log(event.detail.rotate);
                            console.log(event.detail.scaleX);
                            console.log(event.detail.scaleY);
                        },
                    });
                    modal.style.display = "block";
                };
                reader.readAsDataURL(uploadpic.files[0]);
            }
            else {
                alert("Invalid file type! Please select an image file.");
            }
        }
        else {
            alert('No file(s) selected.');
        }
    }

    function editCreate(Createid) {
        $("#editcreate").find("#Createid").val(Createid);
        $("#editcreate").submit();
    }

    function editExdReader(exdreaderEdit) {
        $("#editexdreader").find("#exdreaderEdit").val(exdreaderEdit);
        $("#editexdreader").submit();
    }

    function delpic(pic, del) {
        document.getElementById(pic).src = "";
        document.getElementById(del).value = "1";
    }
</script>
