﻿@model DataAccess.Domain.DataAnalysisNoticeDomainModel

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
}

<div class="main">
    <h1>人流數據分析</h1>
    <!-- <div class="sub-page">
        <ul>
            <li>
                <a href="ga_page.html">GA數據</a>
            </li>
            <li class="act">
                <a href="data_analysis_overview.html">人流數據</a>
            </li>
        </ul>
    </div> -->
    <div class="sub-page">
        <ul>
            <li>
                <a href="@Url.Action("DataAnalysisOverview")">最新七日總覽</a>
            </li>
            <!-- <li>
                <a href="data_live_dashboard.html">即時監控面板</a>
            </li> -->
            <!-- <li>
                <a href="data_replay.html">智慧監控影像回放</a>
            </li> -->
            <li>
                <a href="@Url.Action("DataAnalysis")">人流分析</a>
            </li>
            <li>
                <a href="@Url.Action("DataAnalysisPeople")">客情分析</a>
            </li>
            <li>
                <a href="@Url.Action("DataAnalysisPath")">路徑分析</a>
            </li>
            <li class="act">
                <a href="@Url.Action("DataAnalysisNotice")">通知管理</a>
            </li>
            <li>
                <a href="@Url.Action("DataAnalysisDayoff")">閉館日設定</a>
            </li>
        </ul>
    </div>
    <h2>通知管理</h2>
    <form action="@Url.Action("AddAnalysisNotice")" method="post" id="form">
        @*防偽造*@
        @Html.AntiForgeryToken()
        <div class="input-box input-box-w">
            <label for="desc">通知信箱</label>
            <div class="note">信箱請用,號分隔</div>
            <textarea name="desc" id="desc" placeholder="請輸入信箱..." class="input-sty desc-info required"
                      style="resize : none;">@Model.Email</textarea>
        </div>

        <div class="btn-area">
            <div class="btn btn-submit">
                <i class="fa fa-check"></i> 確認送出
                <input type="submit" class="btn">
            </div>
        </div>
    </form>

</div>
<script>
    $(function () {
        var message = '@ViewBag.Error';
        if (message == "完成") {
            alert("完成");
            //== 設置table ==
            todoOffDayTable();
        } else if (message.length > 0) {
            alert('@ViewBag.Error');
        } else {
            var validator = $("#form").validate({
                /*
                invalidHandler: function (event, validator) {
                    if (document.getElementById('uploadpic1').value == "" && tempuploadpic['uploadpic1'])
                        document.getElementById('uploadpic1').value = tempuploadpic['uploadpic1'];
                },*/
                submitHandler: function (form) {
                    //resetForm();
                    form.submit();
                }
            });
        }
    });
</script>

