﻿@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
}

<div class="main">
    <h1>人流數據分析</h1>
    <!-- <div class="sub-page">
        <ul>
            <li>
                <a href="ga_page.html">GA數據</a>
            </li>
            <li class="act">
                <a href="data_analysis_overview.html">人流數據</a>
            </li>
        </ul>
    </div> -->
    <div class="sub-page">
        <ul>
            <li>
                <a href="@Url.Action("DataAnalysisOverview")">最新七日總覽</a>
            </li>
            <!-- <li>
        <a href="data_live_dashboard.html">即時監控面板</a>
    </li> -->
            <!-- <li>
        <a href="data_replay.html">智慧監控影像回放</a>
    </li> -->
            <li>
                <a href="@Url.Action("DataAnalysis")">人流分析</a>
            </li>
            <li>
                <a href="@Url.Action("DataAnalysisPeople")">客情分析</a>
            </li>
            <li class="act">
                <a href="@Url.Action("DataAnalysisPath")">路徑分析</a>
            </li>
            <li>
                <a href="@Url.Action("DataAnalysisNotice")">通知管理</a>
            </li>
            <li>
                <a href="@Url.Action("DataAnalysisDayoff")">閉館日設定</a>
            </li>
        </ul>
    </div>
    <h2>客群路徑分析</h2>
    <form action="">
        <div class="input-box">
            <label for="type">數據來源</label>
            <select name="type" id="type" class="select-sty valid">
                <option value="1">正大門</option>
                <option value="2">電梯口</option>
                <option value="3">文學咖啡坊</option>
            </select>
        </div>
        <div class="input-box icon-right">
            <label for="dateTime">時間區間</label>
            <input type="text" class="input-sty required" name="dateRange" id="dateRange" readonly>
            <i class="fad fa-calendar-alt"></i>
            <div class="note">110/8/16開始正式路徑分析，可請查詢111/8/16後的時間區間。此分析不包含閉館日設定日期之人數。</div>
        </div>

        <!-- 新增 - 上下午時段 -->
        <div class="input-box w150">
            <label for="range">統計單位</label>
            <select name="range" id="range" class="select-sty valid">
                <option value="2" selected="">日</option>
                <option value="8">09 - 10點</option>
                <option value="5">09 - 12點</option>
                <option value="6">09 - 13點</option>
                <option value="9">12 - 13點</option>
                <option value="7">13 - 17點</option>
                <option value="10">17 - 18點</option>
            </select>
        </div>

        <div class="btn-area">
            <div class="btn btn-submit" id="srcBtn">
                <i class="fa fa-check"></i> 查詢
                <!-- <input type="submit" class="btn"> -->
            </div>
            <div class="btn btn-green" id="exportBtn1" style="display: none;">
                <i class="fas fa-cloud-download-alt"></i> 匯出圖片
                <!-- <input type="submit" class="btn"> -->
            </div>
            <div class="btn btn-green" id="exportBtn2" style="display: none;">
                <i class="fas fa-cloud-download-alt"></i> 匯出圖片
                <!-- <input type="submit" class="btn"> -->
            </div>
            <div class="btn btn-green" id="exportBtn3" style="display: none;">
                <i class="fas fa-cloud-download-alt"></i> 匯出圖片
                <!-- <input type="submit" class="btn"> -->
            </div>
            <div class="btn btn-green" id="csvBtn" style="display: none;">
                <i class="fas fa-cloud-download-alt"></i> 匯出CSV
                <!-- <input type="submit" class="btn"> -->
            </div>
        </div>
        <div class="input-box">
            <!-- demo -->
            <!-- <div class="path-result-box">
                <div class="path-circle path-right">
                    73%
                </div>
                <div class="path-circle path-left">
                    27%
                </div>
                <img src="../img/backend_img/path.jpg" alt="">
            </div> -->
            <!-- 圖片下載csv -->
            <div id="previewImg" style="display: none;"></div>
            <!-- path01 正門 -->
            <div class="path-result-box path-result01" id="pathResult01">
                <div class="path-circle path01" id="pathA01"> - </div>
                <div class="path-circle path02" id="pathA02"> - </div>
                <div class="path-circle path03" id="pathA03"> - </div>
                <div class="path-circle path04" id="pathA04"> - </div>
                <div class="path-circle path05" id="pathA05"> - </div>
                <div class="path-txt path-txt01" id="pathTxtA01"> - </div>
                <div class="path-txt path-txt02" id="pathTxtA02"> - </div>
                <div class="path-txt path-txt03" id="pathTxtA03"> - </div>
                <div class="path-txt path-txt04" id="pathTxtA04"> - </div>
                <div class="path-txt path-txt05" id="pathTxtA05"> - </div>
                <img src="/img/backend_img/path01.jpg" alt="">
            </div>
            <!-- path02 電梯口 -->
            <div class="path-result-box path-result02" id="pathResult02">
                <div class="path-circle path01" id="pathB01"> - </div>
                <div class="path-circle path02" id="pathB02"> - </div>
                <div class="path-txt path-txt01" id="pathTxtB01"> - </div>
                <div class="path-txt path-txt02" id="pathTxtB02"> - </div>
                <img src="/img/backend_img/path03.jpg" alt="">
            </div>
            <!-- path03 咖啡館 -->
            <div class="path-result-box path-result03" id="pathResult03">
                <div class="path-circle path01" id="pathC01"> - </div>
                <div class="path-circle path02" id="pathC03"> - </div>
                <div class="path-circle path03" id="pathC04"> - </div>
                <div class="path-txt path-txt01" id="pathTxtC01"> - </div>
                <div class="path-txt path-txt02" id="pathTxtC03"> - </div>
                <div class="path-txt path-txt03" id="pathTxtC04"> - </div>
                <img src="/img/backend_img/path02.jpg" alt="">
            </div>
            <div class="table-group t-w100">
                <table class="table" id="pathTable">
                    <tr>
                        <th>路徑名稱</th>
                        <th>人數</th>
                    </tr>
                    <tr>
                        <td>正大門攝影A 東側方向</td>
                        <td>270人</td>
                    </tr>
                    <tr>
                        <td>正大門攝影A 西側方向</td>
                        <td>730人</td>
                    </tr>
                </table>
            </div>

        </div>
        <!-- <div class="input-box icon-right">
          <label for="dateTime">開始時間</label>
          <input type="text" class="input-sty required datepicker-here" data-timepicker="true" name="dateTime" id="dateTime"
            value="">
          <i class="fad fa-calendar-alt"></i>
        </div>
        <div class="input-box icon-right">
          <label for="dateEndTime">結束時間</label>
          <input type="text" class="input-sty required datepicker-here" data-timepicker="true" name="dateEndTime"
            id="dateEndTime" value="">
          <i class="fad fa-calendar-alt"></i>
        </div> -->

    </form>


</div>
<script src="~/js/html2canvas.min.js"></script>
<script src="~/js/dataAnalysisPath.js"></script>

