﻿@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
}

<div class="main">
    <h1>人流數據分析</h1>
    <!-- <div class="sub-page">
        <ul>
            <li>
                <a href="ga_page.html">GA數據</a>
            </li>
            <li class="act">
                <a href="data_live_dashboard.html">人流數據</a>
            </li>
        </ul>
    </div> sub-menu-->
    <div class="sub-page">
        <ul>
            <li class="act">
                <a href="@Url.Action("DataAnalysisOverview")">最新七日總覽</a>
            </li>
            <!-- <li>
        <a href="data_live_dashboard.html">即時監控面板</a>
    </li> -->
            <!-- <li>
        <a href="data_replay.html">智慧監控影像回放</a>
    </li> -->
            <li>
                <a href="@Url.Action("DataAnalysis")">人流分析</a>
            </li>
            <li>
                <a href="@Url.Action("DataAnalysisPeople")">客情分析</a>
            </li>
            <li>
                <a href="@Url.Action("DataAnalysisPath")">路徑分析</a>
            </li>
            <li>
                <a href="@Url.Action("DataAnalysisNotice")">通知管理</a>
            </li>
            <li>
                <a href="@Url.Action("DataAnalysisDayoff")">閉館日設定</a>
            </li>
        </ul>
    </div>
    <div class="chart-box" class="highcharts-figure">
        <div class="people-total-box" id="container"></div>
    </div>
    <div class="chart-box" class="highcharts-figure">
        <div class="chart-item" id="container1"></div>
        <div class="chart-item" id="container2"></div>
    </div>

</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<!-- <script src="../js/dataAnalysis.js"></script> -->
<script src="~/js/dataAnalysisOverview.js"></script>

<!-- <script>
    //=== 影像折線圖 ===
    // A point click event that uses the Renderer to draw a label next to the point
    // On subsequent clicks, move the existing label instead of creating a new one.
    Highcharts.addEvent(Highcharts.Point, 'click', function () {
        if (this.series.options.className.indexOf('popup-on-click') !== -1) {
            const chart = this.series.chart;
            // const date = Highcharts.dateFormat('%A, %b %e, %Y', this.x);
            // const text = `<b>${date}</b><br/>${this.y} ${this.series.name}`;
            const text = `<b>${this.category}</b><br/>${this.series.name} : ${this.y} 人`;

            const anchorX = this.plotX + this.series.xAxis.pos;
            const anchorY = this.plotY + this.series.yAxis.pos;
            const align = anchorX < chart.chartWidth - 200 ? 'left' : 'right';
            const x = align === 'left' ? anchorX + 10 : anchorX - 10;
            const y = anchorY - 30;
            if (!chart.sticky) {
                chart.sticky = chart.renderer
                    .label(text, x, y, 'callout', anchorX, anchorY)
                    .attr({
                        align,
                        fill: 'rgba(0, 0, 0, 0.75)',
                        padding: 10,
                        zIndex: 7 // Above series, below tooltip
                    })
                    .css({
                        color: 'white'
                    })
                    .on('click', function () {
                        chart.sticky = chart.sticky.destroy();
                    })
                    .add();
            } else {
                chart.sticky
                    .attr({ align, text })
                    .animate({ anchorX, anchorY, x, y }, { duration: 250 });
            }
        }
    });

    //chart color
    Highcharts.setOptions({
        colors: ['#7cb4ec', '#f7ce6b', '#91ed7d', '#f7a45b', '#8085e8', '#f25d80'],
        // colors: ['#ed6e85', '#f1a354', '#f7ce6b', '#6dbebf', '#57a1e5', '#de82df'],
        // #7cb4ec #000 #91ed7d #f7a45b #8085e8 #f25d80
        //資料千分位
        lang: {
            thousandsSep: ','
        }
    });

    Highcharts.chart('container', {

        chart: {
            scrollablePlotArea: {
                minWidth: 700
            }
        },

        //   data: {
        //     csvURL: '../data/analytics.csv',
        //     beforeParse: function (csv) {
        //       return csv.replace(/\n\n/g, '\n');
        //     }
        //   },

        title: {
            text: '每日人流數據分析統計'
        },

        subtitle: {
            text: '不包含當日人數'
        },

        xAxis: {
            categories: ['4/22', '4/23', '4/24', '4/25', '4/26', '4/27', '4/28', '4/29', '4/30', '5/1', '5/2', '5/3', '5/4', '5/5', '5/6', '5/7', '5/8', '5/9', '5/10', '5/11', '5/12', '5/13', '5/14', '5/15', '5/16', '5/17', '5/18', '5/19', '5/20', '5/21']
        },

        yAxis: [{ // left y axis
            title: {
                text: null
            },
            labels: {
                align: 'left',
                x: 3,
                y: 16,
                format: '{value:.,0f}'
            },
            showFirstLabel: false
        },
        { // right y axis
            linkedTo: 0,
            gridLineWidth: 0,
            opposite: true,
            title: {
                text: null
            },
            labels: {
                align: 'right',
                x: -3,
                y: 16,
                format: '{value:.,0f}'
            },
            showFirstLabel: false
        }],

        legend: {
            // layout: 'vertical',//水平對齊
            align: 'right',// 圖表點點資料左右
            verticalAlign: 'top',
            // align: 'left',
            // verticalAlign: 'top',
            // borderWidth: 0
        },
        //顯示資料table
        tooltip: {
            shared: true,
            crosshairs: true,
            valueSuffix: '<span style="font-size: 8px">人</span>',
            // headerFormat: '<small>日期:{point.key}</small><br>',
            pointFormat: '<span style="color:{point.color}">{series.name}</span> : <b>{point.y}</b><br>'
            // pointFormat: '<b>{point.x} :</b>' + 'Count: <b>{point.y:,.0f}</b>',
        },
        //點擊點點資料顯示
        plotOptions: {
            series: {
                cursor: 'pointer',
                className: 'popup-on-click',
                marker: {
                    lineWidth: 1
                }
            }
        },
        credits: {
            enabled: false
        },
        //資料
        series: [
            {
                name: '正大門攝影A',
                data: [1299, 828, 2345, 134, 462, 234, 533, 808, 846, 426, 656, 869, 908, 597, 457, 654, 855, 890, 456, 533, 808, 846, 426, 656, 134, 462, 234, 533, 462, 234]
            },
            {
                name: '正大門攝影B',
                data: [908, 597, 457, 654, 855, 890, 456, 533, 808, 846, 426, 656, 134, 462, 234, 533, 462, 234, 533, 808, 1299, 828, 2345, 134, 462, 234, 533, 808, 846, 426]
            },
            {
                name: '電梯口',
                data: [533, 808, 846, 426, 656, 869, 908, 597, 457, 654, 855, 890, 456, 1299, 828, 2345, 134, 462, 234, 533, 808, 846, 426, 656, 134, 462, 234, 533, 462, 234]
            },
            {
                name: '文化資產保存研究中心門口',
                data: [908, 597, 457, 654, 855, 890, 456, 533, 1299, 828, 2345, 134, 462, 234, 533, 808, 846, 426, 656, 869, 808, 846, 426, 656, 134, 462, 234, 533, 462, 234]
            },
            {
                name: '展覽室D即時影像',
                data: [597, 457, 654, 855, 890, 456, 533, 1299, 828, 2345, 134, 462, 234, 533, 808, 846, 426, 656, 869, 908, 597, 457, 654, 855, 890, 456, 533, 808, 846, 426]
            },
            {
                name: '全部總數',
                data: [5676, 6473, 6537, 6653, 6546, 6535, 5333, 1299, 8328, 2435, 1324, 4362, 2324, 5332, 8083, 8346, 4226, 6526, 8269, 9082, 5917, 4517, 6254, 8255, 1890, 1231, 1245, 3256, 2364, 6413]
            }
        ]
    });

    //=== 男女比例圓餅圖 ===
    Highcharts.chart('container1', {
        chart: {
            type: 'pie'
        },
        colors: ['#88cff9', '#f98888'],
        title: {
            text: '客群性別分佈佔比'
        },
        subtitle: {
            text: '2021-05-10 - 2021/05/14'
        },

        accessibility: {
            announceNewData: {
                enabled: true
            },
            point: {
                valueSuffix: '%'
            }
        },

        plotOptions: {
            series: {
                dataLabels: {
                    enabled: true,
                    format: '{point.name}: {point.y:.1f}%'
                }
            }
        },
        credits: {
            enabled: false
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b>'
        },

        series: [
            {
                name: "",
                colorByPoint: true,
                data: [
                    {
                        name: "男",
                        y: 53.11,
                    },
                    {
                        name: "女",
                        y: 46.89,
                    },
                ]
            }
        ]
    });

    //=== 年齡分佈 ===
    Highcharts.chart('container2', {
        chart: {
            type: 'pie'
        },
        colors: ['#FFAD88', '#B978FA', '#F88D8D', '#FFB3B3', '#9ABCEF', '#F3E15D', '#B2C15A'],
        title: {
            text: '客群年齡分佈佔比'
        },
        subtitle: {
            text: '2021-05-10 - 2021/05/14'
        },

        accessibility: {
            announceNewData: {
                enabled: true
            },
            point: {
                valueSuffix: '%'
            }
        },

        plotOptions: {
            series: {
                dataLabels: {
                    enabled: true,
                    format: '{point.name}: {point.y:.1f}%'
                }
            }
        },
        credits: {
            enabled: false
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b>'
        },

        series: [
            {
                name: "",
                colorByPoint: true,
                data: [
                    {
                        name: "(35-44歲)",
                        y: 32.56,
                    },
                    {
                        name: "(45-54歲)",
                        y: 27.57,
                    },
                    {
                        name: "(25-34歲)",
                        y: 12.23,
                    },
                    {
                        name: "(18-24歲)",
                        y: 8.58,
                    },
                    {
                        name: "(55-64歲)",
                        y: 9.02,
                    },
                    {
                        name: "(65+歲)",
                        y: 2.42,
                    },
                    {
                        name: "(0-17歲)",
                        y: 7.62,
                    }
                ]
            }
        ]
    });
</script> -->
