﻿@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
}

<div class="video-lg-box" style="display: none;">
    <div class="live-box">
        <p>
            正大門攝影A
            <i class="fal fa-times"></i>
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TEunVC7LKYg?controls=0&amp;autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    </div>
</div>
<div class="main">
    <h1>即時監控面板</h1>
    <!-- <div class="sub-page">
        <ul>
            <li>
                <a href="ga_page.html">GA數據</a>
            </li>
            <li class="act">
                <a href="data_analysis_overview.html">人流數據</a>
            </li>
        </ul>
    </div> -->
    <!-- <div class="sub-page">
        <ul>
            <li>
                <a href="data_analysis_overview.html">分析統計總覽</a>
            </li>
            <li>
                <a href="data_live_dashboard.html" class="act">即時監控面板</a>
            </li>
            <li>
                <a href="data_replay.html">智慧監控影像回放</a>
            </li>
            <li>
                <a href="data_analysis.html">人流計數統計</a>
            </li>
            <li>
                <a href="data_analysis_people.html">客群辨識統計</a>
            </li>
            <li>
                <a href="data_analysis_path.html">客群路徑統計</a>
            </li>
        </ul>
    </div> -->
    <!-- <div>
        <input type="button" id="buttonGo" onclick="start()" value="" />
        <video id="remoteVideo" autoplay playsinline controls muted style="height:200px;"></video>
        <div>
            <span id="sdpDataTag"></span>
        </div>
    </div> -->
    <div class="live-map">
        <div class="map">
            <div class="live-1 live-box">
                <p>
                    正大門
                    <!-- <i class="fas fa-window-restore"></i> -->
                </p>
                <video id="remoteVideo3" autoplay="" playsinline="" controls="" muted="" style="width: 310px;height:173px;"></video>
                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/TEunVC7LKYg?controls=0&autoplay=1"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe> -->
            </div>
            <div class="live-2 live-box">
                <p>
                    正大門客情
                    <!-- <i class="fas fa-window-restore"></i> -->
                </p>
                <video id="remoteVideo2" autoplay="" playsinline="" controls="" muted="" style="width: 310px;height:173px;"></video>
                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/EkrZJrYqWFE?controls=0&autoplay=1"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe> -->
            </div>
            <div class="live-3 live-box">
                <p>
                    電梯口(近咖啡坊)
                    <!-- <i class="fas fa-window-restore"></i> -->
                </p>
                <video id="remoteVideo4" autoplay="" playsinline="" controls="" muted="" style="width: 310px;height:173px;"></video>
                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/RKa8T_tR7lU?controls=0&autoplay=1"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe> -->
            </div>
            <div class="live-5 live-box">
                <p>
                    文學咖啡坊
                    <!-- <i class="fas fa-window-restore"></i> -->
                </p>
                <video id="remoteVideo1" autoplay="" playsinline="" controls="" muted="" style="width: 310px;height:173px;"></video>
                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/21duTRSWe5A?controls=0&autoplay=1"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe> -->
            </div>
            <div class="live-4 live-box">
                <p>
                    電梯口(近文藝大廳)
                    <!-- <i class="fas fa-window-restore"></i> -->
                </p>
                <video id="remoteVideo5" autoplay="" playsinline="" controls="" muted="" style="width: 310px;height:173px;"></video>
                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/1qzPZpjcg48?controls=0&autoplay=1"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe> -->
            </div>

            <img src="/img/backend_img/map2.svg" alt="">
        </div>
    </div>
    <div class="live-video-group">


        <!-- <div class="video-box">
            <video
                id="my-video"
                class="video-js"
                controls
                preload="auto"
                width="640"
                height="264"
                poster="MY_VIDEO_POSTER.jpg"
                data-setup="{}"
            >
                <source src="MY_VIDEO.mp4" type="video/mp4" />
                <source src="MY_VIDEO.webm" type="video/webm" />
                <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank"
                    >supports HTML5 video</a
                >
                </p>
            </video>
        </div> -->
    </div>
</div>
<script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
<script src="https://pv.sohu.com/cityjson"></script>
<!-- <script src="js/device-uuid.js"></script> -->
<script src="~/js/livePlay.js"></script>
<!-- <script src="../js/dataAnalysis.js"></script> -->
<script src="~/js/dataLiveDashboard.js"></script>
