﻿@model List<DataAccess.Domain.DayoffDomainModel>

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
}

<div class="main">
    <h1>人流數據分析</h1>
    <!-- <div class="sub-page">
        <ul>
            <li>
                <a href="ga_page.html">GA數據</a>
            </li>
            <li class="act">
                <a href="data_analysis_overview.html">人流數據</a>
            </li>
        </ul>
    </div> -->
    <div class="sub-page">
        <ul>
            <li>
                <a href="@Url.Action("DataAnalysisOverview")">最新七日總覽</a>
            </li>
            <!-- <li>
        <a href="data_live_dashboard.html">即時監控面板</a>
    </li> -->
            <!-- <li>
        <a href="data_replay.html">智慧監控影像回放</a>
    </li> -->
            <li>
                <a href="@Url.Action("DataAnalysis")">人流分析</a>
            </li>
            <li>
                <a href="@Url.Action("DataAnalysisPeople")">客情分析</a>
            </li>
            <li>
                <a href="@Url.Action("DataAnalysisPath")">路徑分析</a>
            </li>
            <li>
                <a href="@Url.Action("DataAnalysisNotice")">通知管理</a>
            </li>
            <li class="act">
                <a href="@Url.Action("DataAnalysisDayoff")">閉館日設定</a>
            </li>
        </ul>
    </div>
    <h2>閉館日設定</h2>
    <form action="@Url.Action("AddDayoff")" method="post" id="form">
        @*防偽造*@
        @Html.AntiForgeryToken()
        <div class="input-box icon-right">
            <label for="dateTime">閉館日</label>
            <input type="text" class="input-sty required" name="dateDayOff" id="dateDayOff" readonly>
            <i class="fad fa-calendar-alt"></i>
            <div class="note">設定日期不計算於此平台統計人數。</div>
        </div>
        <div class="btn-area">
            <div class="btn btn-submit" id="srcBtn">
                <i class="fa fa-check"></i> 設定
                <!-- <input type="submit" class="btn"> -->
            </div>
        </div>

        <h2>閉館日表格</h2>
        <div id="allOffdayArea"></div>
    </form>
    <script>
        $(function () {
        var message = '@ViewBag.Error';
        if (message == "完成") {
            alert("完成");
            //== 設置table ==
            todoOffDayTable();
        } else if (message.length > 0) {
            alert('@ViewBag.Error');
        } else {
            var validator = $("#form").validate({
                /*
                invalidHandler: function (event, validator) {
                    if (document.getElementById('uploadpic1').value == "" && tempuploadpic['uploadpic1'])
                        document.getElementById('uploadpic1').value = tempuploadpic['uploadpic1'];
                },*/
                submitHandler: function (form) {
                    //resetForm();
                    form.submit();
                }
            });
        }
            $('#srcBtn').on('click', function () {
                $("#form").submit();
            });

            $("#dateDayOff").datepicker({
                dateFormat: "yyyy/mm/dd",
                // autoClose: true,
                position: "bottom right",
                language: 'en',
                multipleDates: true,
                // multipleDates: 10,
                multipleDatesSeparator: ', ',
                // maxDate: new Date(),
                // minDate: threeMonth,
                // onSelect: (fd, d, picker) => {
                //     //- this.date = this.$("#date").val();
                // },
            });
                @if (Model != null && Model.Count > 0)
                {
                        foreach (var a in Model)
                        {
                            <Text>
                            $("#dateDayOff").data('datepicker').selectDate(new Date("@a.Date.ToString("yyyy/MM/dd")"));
                            </Text>
                        }
                 }
                 //== 設置table ==
                 todoOffDayTable();
            });
        //== 設置table ==
        function todoOffDayTable(){
            //=== 抓已設定的閉館日 ===
            var setDateOffVal=$('#dateDayOff').val();
            console.log(setDateOffVal);
            var setDateOffList=setDateOffVal.split(', ');
            //== 排序日期 由小到大 ==
            var timeStampList=[];
            $.each(setDateOffList,function(ind,val){
                var setDay = new Date(val);
                var timeStamp = setDay.getTime();
                timeStampList.push(timeStamp);
            });
            // console.log(timeStampList);
            timeStampList.sort(function (a, b) {
                return a - b;
            });
            console.log(timeStampList);
            //== 重組成小大的年/月/日 ==
            var reDateList=[];
            $.each(timeStampList,function(ind,val){
                var dateTurn=new Date(val);
                var dateYear=dateTurn.getFullYear();
                var dateMon=dateTurn.getMonth()+1;
                var dateDate=dateTurn.getDate();
                reDateList.push(dateYear+'/'+dateMon+'/'+dateDate);
            });
            // console.log(reDateList);
            //== 區分每年的休館日 ==
            var tableData={};
            var actYear;
            $.each(reDateList,function(ind,val){
                var spDay=val.split('/');
                if(actYear!=spDay[0]){
                    tableData[spDay[0]]=[];
                }
                //= 比對每筆資料的年份 =
                actYear=spDay[0];
                //= 將日放入所屬年份 =
                if(actYear==spDay[0]){
                    tableData[actYear].push(spDay[1]+'/'+spDay[2]);
                }
            });
            // console.log(tableData);
            //== 製作年月日表格 ==
            $.each(tableData,function(ind,val){
                if(ind!=='NaN'){
                    var offDom='<div class="offday-area">'+
                        '<div class="offday-tit">'+ind+'年</div>'+
                        '<div class="offday-date-area" id="yearBox'+ind+'">'+
                        '</div>'+
                        '</div>';
                    $('#allOffdayArea').prepend(offDom);
                    var nowY=ind;
                    var nowDList=val;
                    //== 加入每年日月表格 ==
                    var monList=[1,2,3,4,5,6,7,8,9,10,11,12];
                    $.each(monList,function(ind,val){
                        var offDayDom='<div class="offday-box">'+
                            '<div class="offday-mon">'+val+'月</div>'+
                            '<div class="offday-date" id="dateBox'+nowY+'_'+val+'">-</div>'+
                            '</div>';
                        $('#yearBox'+nowY).append(offDayDom);
                    });
                    //== 過塞日列表 ==
                    var dayData={};
                    var actDay;
                    $.each(nowDList,function(ind,val){
                        var daySplit=val.split('/');
                        if(actDay!=daySplit[0]){
                            dayData[daySplit[0]]=[];
                        }
                        //= 比對每筆資料的年份 =
                        actDay=daySplit[0];
                        //= 將日放入所屬年份 =
                        if(actDay==daySplit[0]){
                            dayData[actDay].push(daySplit[1]);
                        }
                    });
                    // console.log(dayData);
                    //== 放入日 ==
                    $.each(dayData,function(ind,val){
                        var reTxtDay=[];
                        $.each(val,function(ind,valDay){
                            if(valDay<10){
                                valDay='0'+valDay;
                            }
                            reTxtDay.push(valDay);
                        });
                        $('#dateBox'+nowY+'_'+ind).html(reTxtDay.join(', '));
                    });
                }
            });
        }
    </script>

