﻿@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
}

<div class="main">
    <h1>人流數據分析</h1>
    <!-- <div class="sub-page">
        <ul>
            <li>
                <a href="ga_page.html">GA數據</a>
            </li>
            <li class="act">
                <a href="data_analysis_overview.html">人流數據</a>
            </li>
        </ul>
    </div> -->
    <div class="sub-page">
        <ul>
            <li>
                <a href="@Url.Action("DataAnalysisOverview")">最新七日總覽</a>
            </li>
            <!-- <li>
        <a href="data_live_dashboard.html">即時監控面板</a>
    </li> -->
            <!-- <li>
        <a href="data_replay.html">智慧監控影像回放</a>
    </li> -->
            <li class="act">
                <a href="@Url.Action("DataAnalysis")">人流分析</a>
            </li>
            <li>
                <a href="@Url.Action("DataAnalysisPeople")">客情分析</a>
            </li>
            <li>
                <a href="@Url.Action("DataAnalysisPath")">路徑分析</a>
            </li>
            <li>
                <a href="@Url.Action("DataAnalysisNotice")">通知管理</a>
            </li>
            <li>
                <a href="@Url.Action("DataAnalysisDayoff")">閉館日設定</a>
            </li>
        </ul>
    </div>
    <h2>即時人流數據</h2>
    <div class="real-people-area" id="realTimeBox">
        <div class="tit">目前館內人數</div>
        <div class="real-people-box">
            <i class="fad fa-landmark"></i>
            <div class="num">
                <span class="txt" id="realTimeNum"> - </span>
                <span>人</span>
            </div>
        </div>
    </div>
    <div class="note">最後更新時間：<span id="upDataTime"> - </span></div>
    <div class="note">每日五分鐘更新一次，如無更新，請重新整理即可獲得最新數據。</div>
    <div class="chart-box" class="highcharts-figure">
        <div class="people-total-box" id="realPeople"></div>
    </div>

    <h2>歷史人流計數統計</h2>
    <div class="input-box icon-right">
        <label for="dateTime">時間區間</label>
        <input type="text" class="input-sty required" name="dateRange" id="dateRange" readonly="">
        <i class="fad fa-calendar-alt"></i>
        <div class="note">110/6/30開始正式人流分析，可請查詢110/6/30後的時間區間。此分析不包含閉館日設定日期之人數。</div>
    </div>
    <div class="input-box w150">
        <label for="range">統計單位</label>
        <select name="range" id="range" class="select-sty valid">
            <option value="1" selected="">時</option>
            <option value="2">日</option>
            <option value="3">週</option>
            <option value="4">月</option>
            <option value="8">09 - 10點</option>
            <option value="5">09 - 12點</option>
            <option value="6">09 - 13點</option>
            <option value="9">12 - 13點</option>
            <option value="7">13 - 17點</option>
            <option value="10">17 - 18點</option>
        </select>
    </div>
    <div class="btn-area">
        <div class="btn btn-submit" id="srcBtn">
            <i class="fa fa-check"></i> 查詢
            <!-- <input type="submit" class="btn"> -->
        </div>
    </div>
    <!-- <div class="input-box">
        <label for="range">選擇週期</label>
        <select name="type" id="range" class="select-sty valid">
            <option value="1" selected="">每日</option>
            <option value="2">每週</option>
            <option value="3">每月</option>
            <option value="4">自訂時間</option>
        </select>
    </div> -->
    <!-- <p id="ip"></p> -->
    <div class="chart-box">
        <div class="people-total-box" id="container"></div>
    </div>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="~/js/dataAnalysis.js"></script>

