﻿@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
}

<div class="main">
    <h1>人流數據分析</h1>
    <!-- <div class="sub-page">
        <ul>
            <li>
                <a href="ga_page.html">GA數據</a>
            </li>
            <li class="act">
                <a href="data_analysis_overview.html">人流數據</a>
            </li>
        </ul>
    </div> -->
    <div class="sub-page">
        <ul>
            <li>
                <a href="@Url.Action("DataAnalysisOverview")">最新七日總覽</a>
            </li>
            <!-- <li>
        <a href="data_live_dashboard.html">即時監控面板</a>
    </li> -->
            <!-- <li>
        <a href="data_replay.html">智慧監控影像回放</a>
    </li> -->
            <li>
                <a href="@Url.Action("DataAnalysis")">人流分析</a>
            </li>
            <li class="act">
                <a href="@Url.Action("DataAnalysisPeople")">客情分析</a>
            </li>
            <li>
                <a href="@Url.Action("DataAnalysisPath")">路徑分析</a>
            </li>
            <li>
                <a href="@Url.Action("DataAnalysisNotice")">通知管理</a>
            </li>
            <li>
                <a href="@Url.Action("DataAnalysisDayoff")">閉館日設定</a>
            </li>
        </ul>
    </div>
    <h2>客群辨識統計</h2>
    <div class="input-box">
        <label for="type">數據來源</label>
        <select name="type" id="type" class="select-sty valid">
            <!-- <option value="1" selected="">全部攝影機</option> -->
            <!-- <option value="2">正大門攝影A</option>
            <option value="3">正大門攝影B</option>
            <option value="4">電梯口</option>
            <option value="4">文化資產保存研究中心門口</option>
            <option value="4">展覽室D即時影像</option> -->
        </select>
    </div>
    <div class="input-box icon-right">
        <label for="dateTime">時間區間</label>
        <input type="text" class="input-sty required" name="dateRange" id="dateRange" readonly>
        <i class="fad fa-calendar-alt"></i>
        <div class="note">110/12/1開始正式客情分析，可請查詢110/12/1後的時間區間。此分析不包含閉館日設定日期之人數。</div>
    </div>

    <!-- 新增 - 上下午時段 -->
    <div class="input-box w150">
        <label for="range">統計單位</label>
        <select name="range" id="range" class="select-sty valid">
            <option value="2" selected="">日</option>
            <option value="8">09 - 10點</option>
            <option value="5">09 - 12點</option>
            <option value="6">09 - 13點</option>
            <option value="9">12 - 13點</option>
            <option value="7">13 - 17點</option>
            <option value="10">17 - 18點</option>
        </select>
    </div>

    <!-- <div class="input-box icon-right">
      <label for="dateTime">開始時間</label>
      <input type="text" class="input-sty required datepicker-here" data-timepicker="true" name="dateTime" id="dateTime"
        value="">
      <i class="fad fa-calendar-alt"></i>
    </div>
    <div class="input-box icon-right">
      <label for="dateEndTime">結束時間</label>
      <input type="text" class="input-sty required datepicker-here" data-timepicker="true" name="dateEndTime"
        id="dateEndTime" value="">
      <i class="fad fa-calendar-alt"></i>
    </div> -->
    <div class="btn-area">
        <div class="btn btn-submit" id="srcBtn">
            <i class="fa fa-check"></i> 查詢
            <!-- <input type="submit" class="btn"> -->
        </div>
        <div class="btn btn-green" id="exportBtn">
            <i class="fas fa-cloud-download-alt"></i> 匯出圖片
        </div>
        <div class="btn btn-green" id="csvBtn">
            <i class="fas fa-cloud-download-alt"></i> 匯出CSV
        </div>
    </div>
    <div class="chart-box" class="highcharts-figure">
        <div class="chart-item" id="container"></div>
        <div class="chart-item" id="container2"></div>
    </div>
    <div class="chart-box" class="highcharts-figure">
        <div class="chart-item" id="container4"></div>
        <div class="chart-item" id="container5"></div>
        <!-- <div class="chart-item" id="container2"></div> -->
    </div>
    <div class="chart-box" class="highcharts-figure">
        <div class="chart-item" id="container3"></div>
        <!-- <div class="total-item">
            <div class="avg-group">
                <div class="total-people">
                    <i class="far fa-users"></i>
                    <p>總共人數</p>
                </div>
                <div>
                    <span>2,387</span> 人
                </div>
            </div>
            <div class="avg-group">
                <div class="total-people total-proportion">
                    <i class="far fa-restroom"></i>
                    <p>男女比例</p>
                </div>
                <div>
                    <span>51.2%</span> % / <span>48.8%</span>
                </div>
            </div>
            <div class="avg-group">
                <div class="total-people total-avg">
                    <i class="far fa-balance-scale-right"></i>
                    <p>平均年齡</p>
                </div>
                <div>
                    <span>30.2</span> 歲
                </div>
            </div>
        </div> -->
    </div>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<!-- 此為表單驗證用，注意需更改#name與標單的id相同 -->
<script src="~/js/dataAnalysisPeople.js"></script>
<!-- <script type="text/javascript">
    $(function () {
        var validator = $("#form").validate({
            submitHandler: function (form) {
                alert("完成");
                form.submit();
            }
        });

        //時間選擇器
        //=== 日期格式 ===dateRange
        $("#dateRange").datepicker({
            dateFormat: "yyyy/mm/dd",
            autoClose: true,
            position: "top right",
            language: 'en',
            range: true,
            multipleDatesSeparator: ' ~ ',
            // maxDate: new Date(),
            // minDate: threeMonth,
            onSelect: (fd, d, picker) => {
                //- this.date = this.$("#date").val();
            },
        });
        var currentDate = new Date();
        $("#dateRange").data('datepicker').selectDate(currentDate);
        // $('.datepicker-here').datepicker({
        //   language: "en",
        //   position: "bottom right",
        //   //minView: 'months',
        //   //dateFormat: "yyyy/mm",
        //   autoClose: true
        // });
        //取消因為滾動不會消失的日期選取器
        $('.main').scroll(function () {
            $('.datepickers-container').find('.datepicker').removeClass('active');
            $('.datepickers-container').find('.datepicker').css({ 'left': '-100000px' });
            $('.datepicker-here').blur();
        });
    });
</script>
<script>
    // Create the chart
    Highcharts.setOptions({
        colors: ['#60C4FF', '#88CFF9', '#99D9FF', '#A4DDFF', '#B0E2FF', '#C6EAFF', '#D8F0FF']
    });
    Highcharts.chart('container', {
        chart: {
            type: 'pie'
        },
        title: {
            text: '男性客群年齡分佈佔比'
        },
        subtitle: {
            text: '2021-05-10 - 2021/05/14'
        },

        accessibility: {
            announceNewData: {
                enabled: true
            },
            point: {
                valueSuffix: '%'
            }
        },

        plotOptions: {
            series: {
                dataLabels: {
                    enabled: true,
                    format: '{point.name}: {point.y:.1f}%'
                }
            }
        },
        credits: {
            enabled: false
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b>'
        },

        series: [
            {
                name: "",
                colorByPoint: true,
                data: [
                    {
                        name: "(35-44歲)",
                        y: 32.56,
                        drilldown: "Chrome"
                    },
                    {
                        name: "(45-54歲)",
                        y: 27.57,
                        drilldown: "Firefox"
                    },
                    {
                        name: "(25-34歲)",
                        y: 12.23,
                        drilldown: "Internet Explorer"
                    },
                    {
                        name: "(18-24歲)",
                        y: 8.58,
                        drilldown: "Safari"
                    },
                    {
                        name: "(55-64歲)",
                        y: 9.02,
                        drilldown: "Edge"
                    },
                    {
                        name: "(65+歲)",
                        y: 2.42,
                        drilldown: "Opera"
                    },
                    {
                        name: "(0-17歲)",
                        y: 7.62,
                        drilldown: null
                    }
                ]
            }
        ]
    });

    //女性
    // Create the chart
    Highcharts.setOptions({
        colors: ['#FF7676', '#F98888', '#F79C9C', '#FFB3B3', '#FFC0C0', '#FFD4D4', '#FFE3E3']
    });
    //== 點選圖表的圖示（不是點點） ==
    // Highcharts.addEvent(Highcharts.Point, 'click', function () {
    //     console.log(this)
    //     console.log(this.a11yProxyElement.ariaHidden)//aria-hidden
    //     // console.log(this.a11yProxyElement.aria('hidden'))
    // });
    Highcharts.chart('container2', {
        chart: {
            type: 'pie',
            //= 可以顯示在圖表上總人口數 =
            // events: {
            //     load: function (event) {
            //         // console.log('===RRR===');
            //         // console.log(event);
            //         var total = 0;
            //         for (var i = 0, len = this.series[0].userOptions.data.length; i < len; i++) {
            //             total += this.series[0].userOptions.data[i].num;
            //         }
            //         var text = this.renderer.text(
            //             '總人數: ' + total,
            //             this.plotLeft,
            //             this.plotTop - 20
            //         ).attr({
            //             zIndex: 5,
            //             id: 'femaleTotal'
            //         }).add() // write it to the upper left hand corner
            //     },
            //     //== 點選點點更新 ==
            //     render: function (event) {
            //         console.log('===喵喵喵===');
            //         // console.log(event);
            //         console.log(this);
            //         console.log(this.legend.allItems);
            //         var legendTotal = 0;
            //         $.each(this.legend.allItems, function (ind, val) {
            //             console.log(val.visible);
            //             if (val.visible) {
            //                 legendTotal += val.num;
            //             }
            //         });
            //         $('#femaleTotal').html('總人數: ' + legendTotal);
            //     }
            // }
        },
        title: {
            text: '女性客群年齡分佈佔比'
        },
        subtitle: {
            text: '2021-05-10 - 2021/05/14'
        },

        accessibility: {
            announceNewData: {
                enabled: true
            },
            point: {
                valueSuffix: '%'
            }
        },
        //= 一樣可以設定區塊定義位置 =
        // legend: {
        //     // layout: 'vertical',//水平對齊
        //     align: 'right',// 圖表點點資料左右
        //     verticalAlign: 'top',
        // },

        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                // //圖表上顯示數據
                // dataLabels: {
                //     enabled: true,
                //     format: '<b>{point.name}</b><br>{point.percentage:.1f} % ({point.num}人)',
                //     distance: -50,
                //     filter: {
                //         property: 'percentage',
                //         operator: '>',
                //         value: 4
                //     }
                // },
                //= 顯示區間定義選則點點 =
                showInLegend: true
            },
            //= 圖表外顯示數據 =
            series: {
                dataLabels: {
                    enabled: true,
                    format: '{point.name}: {point.percentage:.2f}%({point.num}人)'
                    //{point.percentage:.1f}
                    // format: '{point.name}: {point.y:.1f}%({point.num}人)'
                }
            },
        },
        //== 右下網址顯示 ==
        credits: {
            enabled: false
        },
        //== 指過去顯示的詳細資料 ==
        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.percentage:.2f}%({point.num}人)</b>'
            // pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%({point.num}人)</b>'
        },

        series: [
            {
                name: "",
                colorByPoint: true,
                data: [
                    {
                        name: "(35-44歲)",
                        y: 44.12,
                        num: 10,
                        drilldown: "Chrome",
                        // sliced: true,
                        // selected: true
                    },
                    {
                        name: "(45-54歲)",
                        y: 12.32,
                        num: 20,
                        drilldown: "Firefox"
                    },
                    {
                        name: "(25-34歲)",
                        y: 22.45,
                        num: 30,
                        drilldown: "Internet Explorer"
                    },
                    {
                        name: "(18-24歲)",
                        y: 5.18,
                        num: 40,
                        drilldown: "Safari"
                    },
                    {
                        name: "(55-64歲)",
                        y: 13.43,
                        num: 50,
                        drilldown: "Edge"
                    },
                    {
                        name: "(65+歲)",
                        y: 1.02,
                        num: 60,
                        drilldown: "Opera"
                    },
                    {
                        name: "(0-17歲)",
                        y: 2.12,
                        num: 70,
                        drilldown: null
                    }
                ]
            }
        ]
    });
    // var a = $('#container2').find('.highcharts-legend-item').length;
    // console.log(a);

    //男女性
    Highcharts.setOptions({
        colors: ['#88cff9', '#f98888']
    });
    Highcharts.chart('container3', {
        chart: {
            type: 'column'
        },

        title: {
            text: '男女人數分佈統計'
        },
        subtitle: {
            text: '2021-05-10 12:00 - 2021/05/14 20:00'
        },
        xAxis: {
            categories: ['5/10', '5/11', '5/12', '5/13', '5/14']
        },

        yAxis: {
            allowDecimals: false,
            min: 0,
            title: {
                text: '人數'
            }
        },

        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>' +
                    this.series.name + ': ' + this.y + '<br/>' +
                    '總共：' + this.point.stackTotal;
            }
        },

        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },
        credits: {
            enabled: false
        },

        series: [{
            name: '男',
            data: [291, 762, 398, 692, 599],
            stack: 'male'
        }, {
            name: '女',
            data: [583, 384, 736, 198, 873],
            stack: 'male'
        }]
    });
    // Highcharts.setOptions({
    //   colors: ['#88cff9', '#f98888']
    // });
    //男女比例圓餅圖
    Highcharts.chart('container5', {
        chart: {
            type: 'pie'
        },
        title: {
            text: '客群性別分佈佔比'
        },
        subtitle: {
            text: '2021-05-10 - 2021/05/14'
        },

        accessibility: {
            announceNewData: {
                enabled: true
            },
            point: {
                valueSuffix: '%'
            }
        },

        plotOptions: {
            series: {
                dataLabels: {
                    enabled: true,
                    format: '{point.name}: {point.y:.1f}%'
                }
            }
        },
        credits: {
            enabled: false
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b>'
        },

        series: [
            {
                name: "",
                colorByPoint: true,
                data: [
                    {
                        name: "男",
                        y: 53.11,
                    },
                    {
                        name: "女",
                        y: 46.89,
                    },
                ]
            }
        ]
    });

    //年齡分佈
    Highcharts.setOptions({
        colors: ['#FFAD88', '#B978FA', '#F88D8D', '#FFB3B3', '#9ABCEF', '#F3E15D', '#B2C15A']
    });
    Highcharts.chart('container4', {
        chart: {
            type: 'pie'
        },
        title: {
            text: '客群年齡分佈佔比'
        },
        subtitle: {
            text: '2021-05-10 - 2021/05/14'
        },

        accessibility: {
            announceNewData: {
                enabled: true
            },
            point: {
                valueSuffix: '%'
            }
        },

        plotOptions: {
            series: {
                dataLabels: {
                    enabled: true,
                    format: '{point.name}: {point.y:.1f}%'
                }
            }
        },
        credits: {
            enabled: false
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b>'
        },

        series: [
            {
                name: "",
                colorByPoint: true,
                data: [
                    {
                        name: "(35-44歲)",
                        y: 32.56,
                        drilldown: "Chrome"
                    },
                    {
                        name: "(45-54歲)",
                        y: 27.57,
                        drilldown: "Firefox"
                    },
                    {
                        name: "(25-34歲)",
                        y: 12.23,
                        drilldown: "Internet Explorer"
                    },
                    {
                        name: "(18-24歲)",
                        y: 8.58,
                        drilldown: "Safari"
                    },
                    {
                        name: "(55-64歲)",
                        y: 9.02,
                        drilldown: "Edge"
                    },
                    {
                        name: "(65+歲)",
                        y: 2.42,
                        drilldown: "Opera"
                    },
                    {
                        name: "(0-17歲)",
                        y: 7.62,
                        drilldown: null
                    }
                ]
            }
        ]
    });
  // Highcharts.chart('container4', {
  //   chart: {
  //     type: 'column'
  //   },
  //   title: {
  //     text: '年齡分佈'
  //   },
  //   subtitle: {
  //     text: '2021-05-10 12:00 - 2021/05/14 20:00'
  //   },
  //   xAxis: {
  //     categories: ['0-17', '18-24', '25-34', '35-44', '45-54', '55-64', '65+'],
  //   },
  //   yAxis: {
  //     allowDecimals: false,
  //     min: 0,
  //     title: {
  //       text: '人數'
  //     }
  //   },
  //   plotOptions: {
  //     series: {
  //       groupPadding: 0.1
  //     }
  //   },
  //   credits: {
  //     enabled: false
  //   },
  //   series: [{
  //     name: '0-17',
  //     data: [324]
  //   }, {
  //     name: '18-24',
  //     data: [586]
  //   }, {
  //     name: '25-34',
  //     data: [876]
  //   }, {
  //     name: '35-44',
  //     data: [981]
  //   }, {
  //     name: '45-54',
  //     data: [751]
  //   }, {
  //     name: '55-64',
  //     data: [342]
  //   }, {
  //     name: '65+',
  //     data: [112]
  //   }]
  // });
</script> -->
