﻿@using System.Web.Configuration

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "人流數據";
    ViewBag.Action = "data_analysis_overview";
}
<h1>@ViewBag.Title</h1>

<body>
    <div id="mask" class="mask" style="display:none;"></div>
    <div class="btn-side-close" id="closeNav">
        <i class="fa fa-angle-left"></i>
        <p>隱藏選單</p>
    </div>
    <div class="btn-side-open" id="openNav">
        <i class="fa fa-angle-right"></i>
        <p>顯示選單</p>
    </div>

    <div class="side-nav">
        <div class="side-box">
            <div class="side-logo"></div>
            <div class="backend-tit">Backend System </div>
            <div class="user-info">
                <div class="user-id">
                    <i class="fad fa-smile-wink"></i> Hello , Truesun
                    <div class="change-pwd-box">
                        <a href="pwd_edit.html" class="change-pwd">
                            變更密碼
                            <i class="fad fa-lock-alt"></i>
                        </a>
                    </div>
                </div>
                <div class="sign-out-box">
                    <a href="index.html" class="sign-out">
                        Sign Out
                        <i class="fad fa-sign-out"></i>
                    </a>
                </div>
            </div>
            <div class="nav-box">
                <ul class="nav">
                    <!-- <li>
                        <a href="menu.html" class="act">
                            <i class="fad fa-users-cog"></i> 次選單
                        </a>
                    </li>
                    <li>
                        <a href="list.html">
                            <i class="fad fa-list"></i> 列表
                        </a>
                    </li>
                    <li>
                        <a href="group_column.html">
                            <i class="fad fa-th-list"></i> 基礎兩欄式組件
                        </a>
                    </li>
                    <li>
                        <a href="group.html">
                            <i class="fad fa-equals"></i> 一欄式組件
                        </a>
                    </li>
                    <li>
                        <a href="other.html">
                            <i class="fad fa-info-square"></i> 其他
                        </a>
                    </li> -->
                    <li>
                        <a href="account_list.html" id="nav01">
                            <i class="fad fa-users-cog"></i> 帳號管理
                        </a>
                    </li>
                    <li>
                        <a href="member_list.html" id="nav02">
                            <i class="fad fa-user-friends"></i> 會員管理
                        </a>
                    </li>
                    <li>
                        <a href="literature_time_list.html" id="nav03">
                            <i class="fad fa-books"></i> 臺灣文學史管理
                        </a>
                    </li>
                    <li>
                        <a href="writer_track_list.html" id="nav04">
                            <i class="fad fa-map-marked-alt"></i> 作家行跡管理
                        </a>
                    </li>
                    <li>
                        <a href="create_list.html" id="nav05">
                            <i class="fad fa-window-restore"></i> 共創平台管理
                        </a>
                    </li>
                    <li>
                        <a href="theme_tour_list.html" id="nav06">
                            <i class="fad fa-route"></i> 主題之旅管理
                        </a>
                    </li>
                    <li>
                        <a href="literary_list.html" id="nav07">
                            <i class="fad fa-book-reader"></i> 文學展示管理
                        </a>
                    </li>
                    <li>
                        <a href="game_list.html" id="nav14">
                            <i class="fad fa-gamepad-alt"></i> 數位遊戲管理
                        </a>
                    </li>
                    <li>
                        <a href="author_list.html" id="nav08">
                            <i class="fad fa-at"></i> 作者與著作管理
                        </a>
                    </li>
                    <li>
                        <a href="article_extend_list.html" id="nav09">
                            <i class="fad fa-glasses-alt"></i> 延伸閱讀管理
                        </a>
                    </li>
                    <li>
                        <a href="tag_list.html" id="nav10">
                            <i class="fad fa-bookmark"></i> 標籤管理
                        </a>
                    </li>
                    <li>
                        <a href="collet_list.html" id="nav11">
                            <i class="fad fa-stars"></i> 靜態檔管理
                        </a>
                    </li>
                    <li>
                        <a href="set_about.html" id="nav012">
                            <i class="fad fa-cog"></i> 其他設定
                        </a>
                    </li>
                    <li>
                        <a href="ga_page.html" id="nav013">
                            <i class="fad fa-analytics"></i> 數據分析
                        </a>
                    </li>
                    <li>
                        <a href="data_analysis_overview.html" id="nav14">
                            <i class="fad fa-chart-bar"></i> 人流數據分析
                        </a>
                    </li>
                    <li>
                        <a href="data_live_dashboard.html" id="nav15">
                            <i class="fad fa-camera-home"></i> 即時監控面板
                        </a>
                    </li>


                    <!-- <li>
                        <a href="banner_list.html" id="nav02">
                            <i class="fad fa-window-restore"></i> 形象輪播管理
                        </a>
                    </li>
                    <li>
                        <a href="information_intro.html" id="nav03">
                            <i class="fas fa-comment-alt-lines"></i> 系所簡介管理
                        </a>
                    </li>
                    <li>
                        <a href="alumni_infor.html" id="nav04">
                            <i class="fad fa-users"></i> 系友會管理
                        </a>
                    </li>
                    <li>
                        <a href="news_list.html" id="nav05">
                            <i class="fad fa-bullhorn"></i> 公告消息管理
                        </a>
                    </li>
                    <li>
                        <a href="teacher_list.html" id="nav06">
                            <i class="fad fa-user-tie"></i> 師資管理
                        </a>
                    </li>
                    <li>
                        <a href="enroll_list.html" id="nav07">
                            <i class="fad fa-user-graduate"></i> 招生資訊管理
                        </a>
                    </li>
                    <li>
                        <a href="resources_intro.html" id="nav08">
                            <i class="fad fa-university"></i> 系所資源管理
                        </a>
                    </li>
                    <li>
                        <a href="building_history.html" id="nav09">
                            <i class="fad fa-city"></i> 結構大樓管理
                        </a>
                    </li>
                    <li>
                        <a href="event_album_list.html" id="nav10">
                            <i class="fad fa-calendar-star"></i> 活動管理
                        </a>
                    </li>
                    <li>
                        <a href="link_list.html" id="nav11">
                            <i class="fad fa-users-class"></i> 好站連結管理
                        </a>
                    </li> -->
                </ul>
            </div>
            <div class="side-footer">
                © 2020 台灣文學虛擬博物館
            </div>
        </div>
    </div>
    <!--{template admin_header}-->
    <script>
		$(document).ready(function () {
			var url = window.location.pathname.replace('/', '');
			var urlList = url.split('/');
			var nowUrl = urlList[urlList.length - 1];
			console.log(nowUrl);
			if (nowUrl.indexOf('account') == 0) {
				$('#nav01').addClass('act');
			} else if (nowUrl.indexOf('banner') == 0) {
				$('#nav02').addClass('act');
			} else if (nowUrl.indexOf('information') == 0) {
				$('#nav03').addClass('act');
			} else if (nowUrl.indexOf('alumni') == 0) {
				$('#nav04').addClass('act');
			} else if (nowUrl.indexOf('news') == 0) {
				$('#nav05').addClass('act');
			} else if (nowUrl.indexOf('teacher') == 0) {
				$('#nav06').addClass('act');
			} else if (nowUrl.indexOf('enroll') == 0) {
				$('#nav07').addClass('act');
			} else if (nowUrl.indexOf('resources') == 0) {
				$('#nav08').addClass('act');
			} else if (nowUrl.indexOf('building') == 0) {
				$('#nav09').addClass('act');
			} else if (nowUrl.indexOf('tag') == 0) {
				$('#nav10').addClass('act');
			} else if (nowUrl.indexOf('link') == 0) {
				$('#nav11').addClass('act');
			} else if (nowUrl.indexOf('game') == 0) {
				$('#nav14').addClass('act');
			}
		});
    </script>
    <div class="main">
        <h1>人流數據分析</h1>
        <!-- <div class="sub-page">
            <ul>
                <li>
                    <a href="ga_page.html">GA數據</a>
                </li>
                <li class="act">
                    <a href="data_live_dashboard.html">人流數據</a>
                </li>
            </ul>
        </div> sub-menu-->
        <div class="sub-page">
            <ul>
                <li class="act">
                    <a href="data_analysis_overview.html">分析統計總覽</a>
                </li>
                <!-- <li>
                    <a href="data_live_dashboard.html">即時監控面板</a>
                </li> -->
                <!-- <li>
                    <a href="data_replay.html">智慧監控影像回放</a>
                </li> -->
                <li>
                    <a href="data_analysis.html">人流計數統計</a>
                </li>
                <li>
                    <a href="data_analysis_people.html">客群辨識統計</a>
                </li>
                <li>
                    <a href="data_analysis_path.html">客群路徑統計</a>
                </li>
            </ul>
        </div>
        <div class="chart-box" class="highcharts-figure">
            <div class="people-total-box" id="container"></div>
        </div>
        <div class="chart-box" class="highcharts-figure">
            <div class="chart-item" id="container1"></div>
            <div class="chart-item" id="container2"></div>
        </div>

    </div>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <!-- <script src="../js/dataAnalysis.js"></script> -->
    <script src="js/dataAnalysisOverview.js"></script>

    <!-- <script>
        //=== 影像折線圖 ===
        // A point click event that uses the Renderer to draw a label next to the point
        // On subsequent clicks, move the existing label instead of creating a new one.
        Highcharts.addEvent(Highcharts.Point, 'click', function () {
            if (this.series.options.className.indexOf('popup-on-click') !== -1) {
                const chart = this.series.chart;
                // const date = Highcharts.dateFormat('%A, %b %e, %Y', this.x);
                // const text = `<b>${date}</b><br/>${this.y} ${this.series.name}`;
                const text = `<b>${this.category}</b><br/>${this.series.name} : ${this.y} 人`;

                const anchorX = this.plotX + this.series.xAxis.pos;
                const anchorY = this.plotY + this.series.yAxis.pos;
                const align = anchorX < chart.chartWidth - 200 ? 'left' : 'right';
                const x = align === 'left' ? anchorX + 10 : anchorX - 10;
                const y = anchorY - 30;
                if (!chart.sticky) {
                    chart.sticky = chart.renderer
                        .label(text, x, y, 'callout', anchorX, anchorY)
                        .attr({
                            align,
                            fill: 'rgba(0, 0, 0, 0.75)',
                            padding: 10,
                            zIndex: 7 // Above series, below tooltip
                        })
                        .css({
                            color: 'white'
                        })
                        .on('click', function () {
                            chart.sticky = chart.sticky.destroy();
                        })
                        .add();
                } else {
                    chart.sticky
                        .attr({ align, text })
                        .animate({ anchorX, anchorY, x, y }, { duration: 250 });
                }
            }
        });

        //chart color
        Highcharts.setOptions({
            colors: ['#7cb4ec', '#f7ce6b', '#91ed7d', '#f7a45b', '#8085e8', '#f25d80'],
            // colors: ['#ed6e85', '#f1a354', '#f7ce6b', '#6dbebf', '#57a1e5', '#de82df'],
            // #7cb4ec #000 #91ed7d #f7a45b #8085e8 #f25d80
            //資料千分位
            lang: {
                thousandsSep: ','
            }
        });

        Highcharts.chart('container', {

            chart: {
                scrollablePlotArea: {
                    minWidth: 700
                }
            },

            //   data: {
            //     csvURL: '../data/analytics.csv',
            //     beforeParse: function (csv) {
            //       return csv.replace(/\n\n/g, '\n');
            //     }
            //   },

            title: {
                text: '每日人流數據分析統計'
            },

            subtitle: {
                text: '不包含當日人數'
            },

            xAxis: {
                categories: ['4/22', '4/23', '4/24', '4/25', '4/26', '4/27', '4/28', '4/29', '4/30', '5/1', '5/2', '5/3', '5/4', '5/5', '5/6', '5/7', '5/8', '5/9', '5/10', '5/11', '5/12', '5/13', '5/14', '5/15', '5/16', '5/17', '5/18', '5/19', '5/20', '5/21']
            },

            yAxis: [{ // left y axis
                title: {
                    text: null
                },
                labels: {
                    align: 'left',
                    x: 3,
                    y: 16,
                    format: '{value:.,0f}'
                },
                showFirstLabel: false
            },
            { // right y axis
                linkedTo: 0,
                gridLineWidth: 0,
                opposite: true,
                title: {
                    text: null
                },
                labels: {
                    align: 'right',
                    x: -3,
                    y: 16,
                    format: '{value:.,0f}'
                },
                showFirstLabel: false
            }],

            legend: {
                // layout: 'vertical',//水平對齊
                align: 'right',// 圖表點點資料左右
                verticalAlign: 'top',
                // align: 'left',
                // verticalAlign: 'top',
                // borderWidth: 0
            },
            //顯示資料table
            tooltip: {
                shared: true,
                crosshairs: true,
                valueSuffix: '<span style="font-size: 8px">人</span>',
                // headerFormat: '<small>日期:{point.key}</small><br>',
                pointFormat: '<span style="color:{point.color}">{series.name}</span> : <b>{point.y}</b><br>'
                // pointFormat: '<b>{point.x} :</b>' + 'Count: <b>{point.y:,.0f}</b>',
            },
            //點擊點點資料顯示
            plotOptions: {
                series: {
                    cursor: 'pointer',
                    className: 'popup-on-click',
                    marker: {
                        lineWidth: 1
                    }
                }
            },
            credits: {
                enabled: false
            },
            //資料
            series: [
                {
                    name: '正大門攝影A',
                    data: [1299, 828, 2345, 134, 462, 234, 533, 808, 846, 426, 656, 869, 908, 597, 457, 654, 855, 890, 456, 533, 808, 846, 426, 656, 134, 462, 234, 533, 462, 234]
                },
                {
                    name: '正大門攝影B',
                    data: [908, 597, 457, 654, 855, 890, 456, 533, 808, 846, 426, 656, 134, 462, 234, 533, 462, 234, 533, 808, 1299, 828, 2345, 134, 462, 234, 533, 808, 846, 426]
                },
                {
                    name: '電梯口',
                    data: [533, 808, 846, 426, 656, 869, 908, 597, 457, 654, 855, 890, 456, 1299, 828, 2345, 134, 462, 234, 533, 808, 846, 426, 656, 134, 462, 234, 533, 462, 234]
                },
                {
                    name: '文化資產保存研究中心門口',
                    data: [908, 597, 457, 654, 855, 890, 456, 533, 1299, 828, 2345, 134, 462, 234, 533, 808, 846, 426, 656, 869, 808, 846, 426, 656, 134, 462, 234, 533, 462, 234]
                },
                {
                    name: '展覽室D即時影像',
                    data: [597, 457, 654, 855, 890, 456, 533, 1299, 828, 2345, 134, 462, 234, 533, 808, 846, 426, 656, 869, 908, 597, 457, 654, 855, 890, 456, 533, 808, 846, 426]
                },
                {
                    name: '全部總數',
                    data: [5676, 6473, 6537, 6653, 6546, 6535, 5333, 1299, 8328, 2435, 1324, 4362, 2324, 5332, 8083, 8346, 4226, 6526, 8269, 9082, 5917, 4517, 6254, 8255, 1890, 1231, 1245, 3256, 2364, 6413]
                }
            ]
        });

        //=== 男女比例圓餅圖 ===
        Highcharts.chart('container1', {
            chart: {
                type: 'pie'
            },
            colors: ['#88cff9', '#f98888'],
            title: {
                text: '客群性別分佈佔比'
            },
            subtitle: {
                text: '2021-05-10 - 2021/05/14'
            },

            accessibility: {
                announceNewData: {
                    enabled: true
                },
                point: {
                    valueSuffix: '%'
                }
            },

            plotOptions: {
                series: {
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}: {point.y:.1f}%'
                    }
                }
            },
            credits: {
                enabled: false
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b>'
            },

            series: [
                {
                    name: "",
                    colorByPoint: true,
                    data: [
                        {
                            name: "男",
                            y: 53.11,
                        },
                        {
                            name: "女",
                            y: 46.89,
                        },
                    ]
                }
            ]
        });

        //=== 年齡分佈 ===
        Highcharts.chart('container2', {
            chart: {
                type: 'pie'
            },
            colors: ['#FFAD88', '#B978FA', '#F88D8D', '#FFB3B3', '#9ABCEF', '#F3E15D', '#B2C15A'],
            title: {
                text: '客群年齡分佈佔比'
            },
            subtitle: {
                text: '2021-05-10 - 2021/05/14'
            },

            accessibility: {
                announceNewData: {
                    enabled: true
                },
                point: {
                    valueSuffix: '%'
                }
            },

            plotOptions: {
                series: {
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}: {point.y:.1f}%'
                    }
                }
            },
            credits: {
                enabled: false
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b>'
            },

            series: [
                {
                    name: "",
                    colorByPoint: true,
                    data: [
                        {
                            name: "(35-44歲)",
                            y: 32.56,
                        },
                        {
                            name: "(45-54歲)",
                            y: 27.57,
                        },
                        {
                            name: "(25-34歲)",
                            y: 12.23,
                        },
                        {
                            name: "(18-24歲)",
                            y: 8.58,
                        },
                        {
                            name: "(55-64歲)",
                            y: 9.02,
                        },
                        {
                            name: "(65+歲)",
                            y: 2.42,
                        },
                        {
                            name: "(0-17歲)",
                            y: 7.62,
                        }
                    ]
                }
            ]
        });
    </script> -->
