﻿@using PagedList.Mvc;
@using PagedList;
@model IPagedList<DataAccess.Domain.EventGroupListDomainModel>

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "作家行跡管理";
    ViewBag.Title2 = "事件群組 列表";
    ViewBag.Action = "EventGroupList";
}

<h1>@ViewBag.Title</h1>
<ol class="breadcrumb">
    <li><a href="@(ViewBag.Kind==1? Url.Action("WriterTrackList"):Url.Action("WriterStoryList"))">@(ViewBag.Kind==1?"作家行跡":"故事地圖")</a></li>
    <li class="active">
        <span>@ViewBag.WTitle</span>
    </li>
</ol>
<div class="sub-page">
    <ul>
        <li>
            <a href="javascript:editWriterTrack(@ViewBag.Wid)">主題內容</a>
        </li>
        <li>
            <a href="javascript:goEventList(@ViewBag.Wid)">生涯足跡</a>
        </li>
        <li class="act">
            <a href="javascript:goEventGroupList(@ViewBag.Wid)">事件群組管理</a>
        </li>
    </ul>
</div>
<h2>@ViewBag.Title2</h2>

<form id="editwritertrack" action="@Url.Action("WriterTrackEdit")" method="post">
    <input type="hidden" name="Wid" id="Wid" value="" />
    <input type="hidden" name="Kind" id="Kind" value="1" />
</form>
<form id="goeventlist" action="@Url.Action("EventList")" method="post">
    <input type="hidden" name="Wid" id="Wid" value="" />
</form>
<form id="goeventgrouplist" action="@Url.Action("EventGroupList")" method="post">
    <input type="hidden" name="Wid" id="Wid" value="" />
</form>
<form id="goeventgroupadd" action="@Url.Action("EventGroupAdd")" method="post">
    <input type="hidden" name="Wid" id="Wid" value="" />
</form>

<div class="input-box input-box-w">
    <a href="javascript:goEventGroupAdd(@ViewBag.Wid)" class="btn btn-submit">
        <i class="fas fa-plus"></i>
        新增群組
    </a>
</div>
<div class="search-signle">
    <form action="@Url.Action("searchPage2")" method="post">
        <div class="search-ui-box">
            <label for="userKeyWord">
                <span>關鍵字：</span>
            </label>
            <input type="hidden" name="action" value="@ViewBag.Action" />
            <input type="hidden" name="period" value="@ViewBag.Wid" />
            <input type="text" name="userKeyWord" id="keyWord" value="@ViewBag.Key" class="input-sty w250">
        </div>
        <div class="btn-area">
            <div class="btn btn-submit">
                <i class="fas fa-search"></i>
                搜尋
                <input type="submit">
            </div>
        </div>
    </form>
</div>

<ul class="list">
    <li class="title">
        <div class="group-box-83">
            <div class="box-80">群組名稱</div>
            <div class="box-15">建立日期</div>
        </div>
        <div class="group-box-15 opera">操作</div>
    </li>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <li>
                <a href="javascript:editEventGroup(@item.Eventgid)" class="group-box-83" title="編輯" alt="編輯">
                    <div class="box-80">@item.Title_tw</div>
                    <div class="box-15">@item.Createtime.ToString("yyyy/MM/dd")</div>
                </a>
                <div class="group-box-15 opera">
                    <a href="javascript:editEventGroup(@item.Eventgid)" title="編輯" alt="編輯">
                        <i class="fad fa-pen-square"></i>
                    </a>
                    <a href="javascript:delEventGroup(@item.Eventgid)" title="刪除" alt="刪除">
                        <i class="fad fa-times-square"></i>
                    </a>
                </div>
            </li>
        }
    }
</ul>
@if (Model != null && Model.Count > 0)
{
    <div class="pagination">
        <div class="pagination-numbers">
            <a href="javascript:getPage(1)" title="第一頁">
                <i class="fas fa-arrow-to-left"></i>
            </a>

            <a href="javascript:getPage(@Model.PageNumber > 1 ? @Model.PageNumber - 1 : @Model.PageNumber)" title="上一頁">
                <i class="fas fa-arrow-left"></i>
            </a>

            @for (int i = (Model.PageNumber % 5); i <= (Model.PageCount > 5 ? (Model.PageNumber % 5) * 5 : Model.PageCount); i++)
            {
                if (Model.PageNumber == i)
                {
                    <a href="javascript:getPage(@i)" class="act">@i</a>
                }
                else
                {
                    <a href="javascript:getPage(@i)">@i</a>
                }
            }

            <a href="javascript:getPage(@Model.PageNumber==@Model.PageCount?@Model.PageNumber:@Model.PageNumber+1)" title="下一頁">
                <i class="fas fa-arrow-right"></i>
            </a>
            <a href="javascript:getPage(@Model.PageCount)" title="最後頁">
                <i class="fas fa-arrow-to-right"></i>
            </a>

        </div>
    </div>
}

<form id="editeventgroup" action="@Url.Action("EventGroupEdit")" method="post">
    <input type="hidden" name="Eventgid" id="Eventgid" value="" />
</form>

<!-- 此為表單驗證用，注意需更改#name與標單的id相同 -->
<script>
    var globalkeyword = "@ViewBag.Key";

    function changeKey(key) {
        globalkeyword = key;
    }

    function getPage(page) {
        var headers = {};
        var data = {};
        data.action = "@ViewBag.Action";
        data.period = @ViewBag.Wid;
        data.key = globalkeyword;
        data.page = page;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("getPage2")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                //alert(result["PageNumber"]);
                $(".list").empty();
                $(".list").append('<li class="title"><div class="group-box-83"><div class="box-80">群組名稱</div>'+
                    '<div class="box-15">建立日期</div></div><div class="group-box-15 opera">操作</div></li>');

                for (var i = 0; i < result["Lists"].length; i++) {
                    var str =
                '<li><a href="javascript:editEventGroup(' + result["Lists"][i]["Eventgid"]+')" class="group-box-83" title="編輯" alt="編輯">'+
                '<div class="box-80">' + result["Lists"][i]["Title_tw"]+'</div>'+
                '<div class="box-15">' + result["Lists"][i]["Createtime"]+'</div>'+
                '</a><div class="group-box-15 opera">'+
                '<a href="javascript:editEventGroup(' + result["Lists"][i]["Eventgid"]+')" title="編輯" alt="編輯">'+
                '<i class="fad fa-pen-square"></i></a>'+
                '<a href="javascript:delEventGroup(' + result["Lists"][i]["Eventgid"]+')" title="刪除" alt="刪除">'+
                '<i class="fad fa-times-square"></i></a></div></li>';

                    $(".list").append(str);
                }

                $('.pagination-numbers').empty();

                $('.pagination-numbers').append('<a href="javascript:getPage(1)" title="第一頁"><i class="fas fa-arrow-to-left"></i></a>');
                $('.pagination-numbers').append('<a href="javascript:getPage(' + (result["PageNumber"] > 1 ? result["PageNumber"] - 1 : result["PageNumber"]) + ')" title="上一頁"><i class= "fas fa-arrow-left" ></i ></a >');

                var pageMin = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 1;
                var pageMax = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 5;

                if (parseInt(result["PageCount"]) < pageMax)
                    pageMax = parseInt(result["PageCount"]);
                for (var i = pageMin; i <= pageMax; i++) {
                    if (result["PageNumber"] == i) {
                        $('.pagination-numbers').append('<a href="javascript:getPage(' + i + ')" class="act">' + i + '</a>');
                    }
                    else {
                        $('.pagination-numbers').append('<a href="javascript:getPage(' + i + ')">' + i + '</a>');
                    }
                }

                $('.pagination-numbers').append('<a href="javascript:getPage(' + (result["PageNumber"] == result["PageCount"] ? result["PageNumber"] : result["PageNumber"] + 1) + ')" title="下一頁"><i class="fas fa-arrow-right"></i></a>');
                $('.pagination-numbers').append('<a href="javascript:getPage(' + result["PageCount"] + ')" title="最後頁"><i class="fas fa-arrow-to-right"></i></a>');
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }

    function delEventGroup(Eventgid) {
        if (confirm("您確定要刪除此事件群組嗎?")) {
            var headers = {};
            var data = {};
            data.action = "@ViewBag.Action";
            data.data = Eventgid;

            $.ajax({
                type: "POST",
                data: data,
                headers: headers,
                url: '@Url.Action("delData")',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (result) {
                    if (result["Code"] == 1) {
                        alert("刪除成功");
                        top.location.reload();
                    } else {
                        alert("刪除失敗");
                    }
                },
                error: function (xhr, ajaxOption, thrownError) {
                    alert(xhr.responseText);
                }
            });
        }
    }

    function goEventList(Wid) {
        $('#goeventlist').find("#Wid").val(Wid);
        $('#goeventlist').submit();
    }
    function goEventGroupList(Wid) {
        $('#goeventgrouplist').find("#Wid").val(Wid);
        $('#goeventgrouplist').submit();
    }
    function goEventGroupAdd(Wid) {
        $('#goeventgroupadd').find("#Wid").val(Wid);
        $('#goeventgroupadd').submit();
    }
    function editWriterTrack(Wid) {
        $("#editwritertrack").find("#Wid").val(Wid);
        $("#editwritertrack").submit();
    }

    function editEventGroup(Eventgid) {
        $("#editeventgroup").find("#Eventgid").val(Eventgid);
        $("#editeventgroup").submit();
    }
</script>
