﻿@model VirtualMuseum.Models.Backend.EventGroupEditViewModel

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "作家行跡管理";
    ViewBag.Title2 = "編輯事件";
    ViewBag.Action = "EventGroupEdit";
}

<h1>@ViewBag.Title</h1>
<ol class="breadcrumb">
    <li><a href="@(ViewBag.Kind==1? Url.Action("WriterTrackList"):Url.Action("WriterStoryList"))">@(ViewBag.Kind==1?"作家行跡":"故事地圖")</a></li>
    <li><a href="@Url.Action("EventGroupEdit")">@ViewBag.WTitle</a></li>
    <li class="active">
        <span>編輯事件群組</span>
    </li>
</ol>
<div class="sub-page">
    <ul>
        <li>
            <a href="javascript:editWriterTrack(@ViewBag.Wid)">主題內容</a>
        </li>
        <li>
            <a href="javascript:goEventList(@ViewBag.Wid)">生涯足跡</a>
        </li>
        <li class="act">
            <a href="javascript:goEventGroupList(@ViewBag.Wid)">事件群組管理</a>
        </li>
    </ul>
</div>
<h2>@ViewBag.Title2</h2>

<form id="editwritertrack" action="@Url.Action("WriterTrackEdit")" method="post">
    <input type="hidden" name="Wid" id="Wid" value="" />
    <input type="hidden" name="Kind" id="Kind" value="1" />
</form>
<form id="goeventlist" action="@Url.Action("EventList")" method="post">
    <input type="hidden" name="Wid" id="Wid" value="" />
</form>
<form id="goeventgrouplist" action="@Url.Action("EventGroupList")" method="post">
    <input type="hidden" name="Wid" id="Wid" value="" />
</form>

<form action="@Url.Action("EditEventGroup")" method="post" id="form">
    @*防偽造*@
    @Html.AntiForgeryToken()
    <div class="input-box">
        <label for="title">*群組名稱</label>
        <input type="text" class="input-sty required" name="title" id="title" value="@Model.Title_tw">
    </div>
    <div class="input-box input-box-en">
        <label for="titleEn">群組名稱(英)</label>
        <input type="text" class="input-sty" name="titleEn" id="titleEn" value="@Model.Title_en">
    </div>
    <input type="hidden" name="Eventgid" id="Eventgid" value="@Model.Eventgid" />

    <div class="btn-area">
        <a href="javascript:goEventGroupList(@ViewBag.Wid)" class="btn btn-cancel"><i class="fa fa-chevron-left"></i> 取消</a>
        <div class="btn btn-submit">
            <i class="fa fa-check"></i> 確認送出
            <input type="submit" class="btn">
        </div>
    </div>
</form>

<form id="goeventgrouplist" action="@Url.Action("EventGroupList")" method="post">
    <input type="hidden" name="Wid" id="Wid" value="" />
</form>

<script>
    $(document).ready(function () {
        var message = '@ViewBag.Error';
        if (message == "完成") {
            alert("完成");
            goEventGroupList(@ViewBag.Wid);
            //top.location.href = "@Url.Action("EventGroupList")";
        } else if (message.length > 0) {
            alert('@ViewBag.Error');
        } else {
            var validator = $("#form").validate({
                submitHandler: function (form) {
                    //resetForm();
                    form.submit();
                }
            });
        }
    });

    function goEventList(Wid) {
        $('#goeventlist').find("#Wid").val(Wid);
        $('#goeventlist').submit();
    }
    function goEventGroupList(Wid) {
        $('#goeventgrouplist').find("#Wid").val(Wid);
        $('#goeventgrouplist').submit();
    }
    function editWriterTrack(Wid) {
        $("#editwritertrack").find("#Wid").val(Wid);
        $("#editwritertrack").submit();
    }
    function goEventGroupList(Wid) {
        $("#goeventgrouplist").find("#Wid").val(Wid);
        $("#goeventgrouplist").submit();
    }
</script>
