﻿@model VirtualMuseum.Models.Backend.WriterTrackViewModel

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "作家行跡管理";
    ViewBag.Title2 = "生涯足跡 列表";
    ViewBag.Action = "EventList";
}

<h1>@ViewBag.Title</h1>
<ol class="breadcrumb">
    <li><a href="@(Model.Kind==1? Url.Action("WriterTrackList"):Url.Action("WriterStoryList"))">@(Model.Kind==1?"作家行跡":"故事地圖")</a></li>
    <li class="active">
        <span>@Model.Subject_tw</span>
    </li>
</ol>
<div class="sub-page">
    <ul>
        <li>
            <a href="javascript:editWriterTrack(@Model.Wid)">主題內容</a>
        </li>
        <li class="act">
            <a href="javascript:goEventList(@Model.Wid)">生涯足跡</a>
        </li>
        <li>
            <a href="javascript:goEventGroupList(@Model.Wid)">事件群組管理</a>
        </li>
    </ul>
</div>
<h2>@ViewBag.Title2</h2>
<div class="input-box input-box-w">
    <a href="javascript:addEvent(@Model.Wid)" class="btn btn-submit">
        <i class="fas fa-plus"></i>
        新增事件
    </a>
</div>

<form id="editwritertrack" action="@Url.Action("WriterTrackEdit")" method="post">
    <input type="hidden" name="Wid" id="Wid" value="" />
    <input type="hidden" name="Kind" id="Kind" value="1" />
</form>
<form id="goeventlist" action="@Url.Action("EventList")" method="post">
    <input type="hidden" name="Wid" id="Wid" value="" />
</form>
<form id="goeventgrouplist" action="@Url.Action("EventGroupList")" method="post">
    <input type="hidden" name="Wid" id="Wid" value="" />
</form>
<!-- <h2 class="tit-btn">
    <span>生涯足跡</span>
    <div>
        <a href="writer_track_cont_add.html" class="btn btn-submit">
            <i class="far fa-plus"></i> 新增事件
        </a>
        <div class="btn btn-submit">
            <i class="fad fa-sync-alt"></i> 更新排序
        </div>
    </div>
</h2> -->

<div class="search-signle">
    <form action="@Url.Action("searchPage2")" method="post">
        <div class="search-ui-box">
            <label for="userKeyWord">
                <span>關鍵字：</span>
            </label>
            <input type="hidden" name="action" value="@ViewBag.Action" />
            <input type="hidden" name="period" value="@Model.Wid" />
            <input type="text" name="userKeyWord" id="keyWord" value="@ViewBag.Key" class="input-sty w250">
        </div>
        <div class="btn-area">
            <div class="btn btn-submit">
                <i class="fas fa-search"></i>
                搜尋
                <input type="submit">
            </div>
        </div>
    </form>
</div>

<form id="editevent" action="@Url.Action("EventEdit")" method="post">
    <input type="hidden" name="Eventid" id="Eventid" value="" />
</form>

<ul id="EventSection" class="list">
    <li class="title filtered">
        <div class="group-box-83">
            <div class="box-5 txt-c">#</div>
            <div class="box-8">圖片</div>
            <div class="box-15">標題</div>
            <div class="box-30">內文</div>
            <div class="box-10 txt-c">狀態</div>
            <div class="box-10 txt-c">狀態(英)</div>
            <div class="box-15">建立日期</div>
        </div>
        <div class="group-box-15 opera">操作</div>
    </li>
    @if (Model.events != null)
    {
        foreach (var item in Model.events)
        {
            <li class="@(ViewBag.Key==""||ViewBag.Key==null?"":"filtered")">
                <a href="javascript:editEvent(@(item.Eventid))" class="group-box-83" title="編輯" alt="編輯">
                    <div tid="@item.Eventid" class="box-5 txt-c sortid">@item.Sortid</div>
                    <div class="box-8">
                        <img src="@item.Pic_tw" alt="">
                    </div>
                    <div class="box-15 nameid">@item.Name_tw</div>
                    <div class="box-30">@item.Content_tw</div>
                    @if (item.Display_tw == 1)
                    {
                        <div class="box-10 txt-c" title="顯示" alt="顯示">
                            <i class="fad fa-eye blue"></i>
                        </div>
                    }
                    else
                    {
                        <div class="box-10 txt-c" title="不顯示" alt="不顯示">
                            <i class="fad fa-eye-slash red"></i>
                        </div>
                    }
                    @if (item.Display_en == 1)
                    {
                        <div class="box-10 txt-c" title="顯示" alt="顯示">
                            <i class="fad fa-eye blue"></i>
                        </div>
                    }
                    else
                    {
                        <div class="box-10 txt-c" title="不顯示" alt="不顯示">
                            <i class="fad fa-eye-slash red"></i>
                        </div>
                    }
                    <div class="box-15">@item.Createtime.ToString("yyyy/MM/dd")</div>
                </a>
                <div class="group-box-15 opera">
                    <a href="javascript:editEvent(@(item.Eventid))" title="編輯" alt="編輯">
                        <i class="fad fa-pen-square"></i>
                    </a>
                    <a href="javascript:delEvent('@item.Eventid')" title="刪除" alt="刪除">
                        <i class="fad fa-times-square"></i>
                    </a>
                    @if (ViewBag.Key == "" || ViewBag.Key == null)
                    {
                        <a href="#" title="排序" alt="排序" class="my-handle">
                            <i class="fad fa-bars"></i>
                        </a>
                    }
                </div>
            </li>
        }
    }
</ul>

<form id="editevent" action="@Url.Action("EventEdit")" method="post">
    <input type="hidden" name="Eventid" id="Eventid" value="" />
    <input type="hidden" name="Kind" id="Kind" value="@Model.Kind" />
</form>
<form id="addevent" action="@Url.Action("EventAdd")" method="post">
    <input type="hidden" name="Wid" id="Wid" value="" />
    <input type="hidden" name="Kind" id="Kind" value="@Model.Kind" />
</form>

<!-- <div style="margin: 0 0 80px;">
    <a href="writer_track_cont_add.html" class="btn btn-submit"
        style="float:right; font-weight: normal; text-shadow:none; margin: 0;">
        <i class="far fa-plus"></i> 新增事件
    </a>
</div> -->
<!-- 此為表單驗證用，注意需更改#name與標單的id相同 -->
<script type="text/javascript">
    $(function () {
        @if(ViewBag.ScrollToEvent != null && ViewBag.ScrollToEvent == "yes")
        {
            <text>
        setTimeout(function () {
            location.href = '#';
            location.href = '#EventSection';
        }, 500);
            </text>
        }
        var message = '@ViewBag.Error';
        if (message == "success") {
            //top.location.href = "@Url.Action("AdminManage")";
            alert("完成");
        } else if (message.length > 0) {
            alert('@ViewBag.Error');
        } else {
            var validator = $("#form").validate({
                submitHandler: function (form) {
                    //resetForm();
                    form.submit();
                }
            });
        }

        var el = document.querySelector(".list");
        var sortable = Sortable.create(el, {
            sort: true,
            filter: '.filtered', // 'filtered' class is not draggable
            animation: 150,
            handle: ".my-handle",
            onMove: function (e) { return e.related.className.indexOf('filtered') === -1; },
            // Element dragging ended
            onUpdate: function (/**Event*/ evt) {
                var itemEl = evt.item; // dragged HTMLElement
                evt.to; // target list
                evt.from; // previous list
                evt.oldIndex; // element's old index within old parent
                evt.newIndex; // element's new index within new parent
                evt.oldDraggableIndex; // element's old index within old parent, only counting draggable elements
                evt.newDraggableIndex; // element's new index within new parent, only counting draggable elements
                evt.clone; // the clone element
                evt.pullMode; // when item is in another sortable: `"clone"` if cloning, `true` if moving

                var tempindex = 1;
                var total = $('.sortid').length;
                var command = '';
                $('.sortid').each(function (item) {
                    $(this).html('' + tempindex);
                    //updateOrder(tempindex, $(this).attr("tid"));
                    command += (tempindex + '|' + $(this).attr("tid") + ',');
                    tempindex++;
                    if (tempindex >= total) {
                        updateOrder(command);
                    }
                });
            },
        });
    });

    function updateOrder(command) {
        var headers = {};
        var data = {};
        data.action = "@ViewBag.Action";
        data.command = command;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("updateOrder")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
            },
        });
    }

    function delEvent(eventid) {
        if (confirm("您確定要刪除此事件嗎?")) {
            var headers = {};
            var data = {};
            data.action = "@ViewBag.Action";
            data.data = eventid;

            $.ajax({
                type: "POST",
                data: data,
                headers: headers,
                url: '@Url.Action("delData")',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (result) {
                    if (result["Code"] == 1) {
                        alert("刪除成功");
                        top.location.reload();
                    } else {
                        alert("刪除失敗");
                    }
                },
                error: function (xhr, ajaxOption, thrownError) {
                    alert(xhr.responseText);
                }
            });
        }
    }

    function goEventList(Wid) {
        $('#goeventlist').find("#Wid").val(Wid);
        $('#goeventlist').submit();
    }
    function goEventGroupList(Wid) {
        $('#goeventgrouplist').find("#Wid").val(Wid);
        $('#goeventgrouplist').submit();
    }
    function editWriterTrack(Wid) {
        $("#editwritertrack").find("#Wid").val(Wid);
        $("#editwritertrack").submit();
    }
    function addEvent(Wid) {
        $("#addevent").find("#Wid").val(Wid);
        $("#addevent").submit();
    }
    function editEvent(Eventid) {
        $("#editevent").find("#Eventid").val(Eventid);
        $("#editevent").submit();
    }
</script>
