﻿@using System.Web.Configuration

@model VirtualMuseum.Models.Backend.EventViewModel

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
ViewBag.Title = "作家行跡管理";
ViewBag.Title2 = "編輯事件";
}

<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 800px; /* Could be more or less, depending on screen size */
    }
</style>

<h1>@ViewBag.Title</h1>
<ol class="breadcrumb">
    <li><a href="@(ViewBag.Kind==1? Url.Action("WriterTrackList"):Url.Action("WriterStoryList"))">@(ViewBag.Kind==1?"作家行跡":"故事地圖")</a></li>
    <li><a href="javascript:goback(@Model.Wid)">@ViewBag.WTitle</a></li>
    <li class="active">
        <span>@Model.Name_tw</span>
    </li>
</ol>
<h2>@ViewBag.Title2</h2>

<form action="@Url.Action("EditEvent")" id="form" enctype="multipart/form-data" method="post">
    @*防偽造*@
    @Html.AntiForgeryToken()
    <div class="input-box">
        <label for="title">*事件名稱</label>
        <input type="text" class="input-sty required" name="title" id="title" value="@Model.Name_tw">
    </div>
    <div class="input-box input-box-en">
        <label for="titleEn">事件名稱(英)</label>
        <input type="text" class="input-sty" name="titleEn" id="titleEn" value="@Model.Name_en">
    </div>
    <div class="input-box input-box-w">
        <label for="editor">*內文</label>
        <textarea name="editor" id="editor" placeholder="內文說明..."
                  class="input-sty desc-info required">@Model.Content_tw</textarea>
    </div>
    <div class="input-box input-box-w input-box-en">
        <label for="editorEn">內文(英)</label>
        <textarea name="editorEn" id="editorEn" placeholder="內文說明..." class="input-sty desc-info">@Model.Content_en</textarea>
    </div>

    <div class="input-box">
        <label for="uploadpic1">代表圖片</label>
        <div class="note">圖像尺寸 1000 × 710，支援jpg、gif、png等格式</div>
        <div class="upload-img">
            <div class="head-box upload-box-sty">
                <input type="file" name="uploadpic1" id="uploadpic1" class="upload-pic"
                       onchange="initcrop(1);" onclick="this.value=null;">
                <div class="del-photo" title="刪除" alt="刪除" onclick="delpic('cropimg1','pic1_del')"></div>
                <div id="previews1" class="upload-click-area" onclick="upload_click(this)">
                    <img id="cropimg1" src="@(Model.Pic_tw==null||Model.Pic_tw.Length<=0?"/img/default_src.jpg":Model.Pic_tw)" alt="img1">
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="pic1" id="pic1" value="" />
    <input type="hidden" name="pic1_del" id="pic1_del" value="0" />
    <input type="hidden" name="Eventid" id="Eventid" value="@Model.Eventid" />

    <div class="input-box input-box-en">
        <label for="uploadpic2">代表圖片(英)</label>
        <div class="note">圖像尺寸 1000 × 710，支援jpg、gif、png等格式 </div>
        <div class="upload-img">
            <div class="head-box upload-box-sty">
                <input type="file" id="uploadpic2" name="uploadpic2" class="upload-pic" onchange="initcrop(2);" onclick="this.value=null;">
                <div class="del-photo" title="刪除" alt="刪除" onclick="delpic('cropimg2','pic2_del')"></div>
                <div id="previews2" class="upload-click-area" onclick="upload_click(this)">
                    <img id="cropimg2" src="@(Model.Pic_en==null||Model.Pic_en.Length<=0?"/img/default_src.jpg":Model.Pic_en)" alt="img2">
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="pic2" id="pic2" value="" />
    <input type="hidden" name="pic2_del" id="pic2_del" value="0" />

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <a id="cropit" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;"><i class="fa fa-chevron-left"></i>裁切</a>
            <a id="cropmove" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;margin-left:65px;"><i class="fa fa-arrows-alt"></i></a>
            <a id="cropcut" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;margin-left:105px;"><i class="fa fa-crop-alt"></i></a>
            <a id="closeit" href="#" class="btn btn-cancel" style="margin-left:762px;"><i class="fa fa-window-close"></i></a>
            <div id="cropper-example-2" style="height:800px;width:800px;">
                <img id="orimg" alt="Picture" />
            </div>
        </div>
    </div>

    <div class="input-box">
        <label for="media">媒體來源</label>
        <input type="text" class="input-sty" name="media" id="media" value="@Model.Med_tw">
    </div>
    <div class="input-box input-box-en">
        <label for="mediaEn">媒體來源(英)</label>
        <input type="text" class="input-sty" name="mediaEn" id="mediaEn" value="@Model.Med_en">
    </div>

    <div class="input-box input-box-w">
        <label for="position">坐標定位</label>
        <div class="two-txt-box">
            <div class="w250">
                <span>緯度</span>
                <input type="text" class="input-sty w-local" name="position" id="position"
                       value="@Model.Latitude">
            </div>
            <span>-</span>
            <div class="w250">
                <span>經度</span>
                <input type="text" class="input-sty w-local" name="position2" id="position2" value="@Model.Longitude">
            </div>
        </div>
    </div>
    <div class="input-box input-box-w">
        <label for="address">地址定位</label>
        <input type="text" class="input-sty" name="address" id="address" value="@Model.Address">
        <div id="map" style="width:100%;height:250px;"></div>
    </div>

    <!-- 事件群組 -->
    <div class="input-box input-box-w">
        <label for="">事件群組</label>
        <div class="tag-area">
            <div class="btn btn-submit" id="openEventTagBtn">
                <i class="fad fa-tags"></i> 選擇中文
            </div>
            <div class="tag-box">
                <ul class="tag" id="eventTagArea"></ul>
                <div class="no-data">尚未選擇標籤。</div>
            </div>
        </div>
        <div class="tag-area">
            <div class="btn btn-org" id="openEventTagEnBtn">
                <i class="fad fa-tags"></i> 選擇英文
            </div>
            <div class="tag-box">
                <ul class="tag" id="eventTagEnArea"></ul>
                <div class="no-data">尚未選擇標籤。</div>
            </div>
        </div>
    </div>

    <!-- 引用標籤 -->
    <div class="input-box input-box-w">
        <label for="">引用標籤</label>
        <div class="tag-area">
            <div class="btn btn-submit" id="openTagBtn">
                <i class="fad fa-tags"></i> 選擇中文
            </div>
            <div class="tag-box">
                <ul class="tag" id="tagArea"></ul>
                <div class="no-data">尚未選擇標籤。</div>
            </div>
        </div>
        <div class="tag-area">
            <div class="btn btn-org" id="openTagEnBtn">
                <i class="fad fa-tags"></i> 選擇英文
            </div>
            <div class="tag-box">
                <ul class="tag" id="tagEnArea"></ul>
                <div class="no-data">尚未選擇標籤。</div>
            </div>
        </div>
    </div>

    <!-- lightbox 含表單組件的視窗，可送出表單，但請注意表單位置 -->
    <!-- 中文標籤 -->
    <div class="lg-box lg-big-box" id="lgTagBox" style="display:none;">
        <div class="lg-tit">引用標籤</div>
            <div class="lg-cont lg-add">
                <div class="input-box input-box-w">
                    <div class="tag-src-area">
                        <label for="">引用標籤</label>
                        <div class="tag-src-box">
                            <input type="text" class="tag-input w150" autocomplete="off" id="tagSrc">
                            <div class="tag-btn src" id="tagSrcBtn">搜尋</div>
                            <div class="tag-btn" id="tagSrcCleanBtn">清除</div>
                        </div>
                    </div>
                    <div class="check-list" id="tagCheckList">
                        @if (Model.tags_tw != null)
                        {
                            foreach (var temp in Model.tags_tw)
                            {
                                if (temp.tagname != null && temp.tagname.Length > 0)
                                {
                                    <label for="tag@(temp.tagid)">
                                        @if (temp.owned)
                                        {
                                            <input type="checkbox" name="tag" id="tag@(temp.tagid)" value="@temp.tagid" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="tag" id="tag@(temp.tagid)" value="@temp.tagid" />
                                        }
                                        <div class="check-box"></div>
                                        <span>@temp.tagname</span>
                                    </label>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="lg-bot">
                <div class="btn btn-cancel">取消</div>
                <div class="btn btn-submit" id="tagAdd">送出</div>
                <!-- <input type="submit" class="btn btn-submit" id="AuthorTagAdd" value="送出" /> -->
            </div>
    </div>
    <!-- 英文標籤 -->
    <div class="lg-box lg-big-box" id="lgTagEnBox" style="display:none;">
        <div class="lg-tit">引用標籤(英文)</div>
            <div class="lg-cont lg-add">
                <div class="input-box input-box-w input-box-en">
                    <div class="tag-src-area">
                        <label for="">引用標籤(英)</label>
                        <div class="tag-src-box">
                            <input type="text" class="tag-input w150" autocomplete="off" id="tagSrcEn">
                            <div class="tag-btn src" id="tagSrcEnBtn">搜尋</div>
                            <div class="tag-btn" id="tagSrcCleanEnBtn">清除</div>
                        </div>
                    </div>
                    <div class="check-list" id="tagEnCheckList">
                        @if (Model.tags_en != null)
                        {
                            foreach (var temp in Model.tags_en)
                            {
                                if (temp.tagname != null && temp.tagname.Length > 0)
                                {
                                    <label for="tagEn@(temp.tagid)">
                                        @if (temp.owned)
                                        {
                                            <input type="checkbox" name="tagEn" id="tagEn@(temp.tagid)" value="@temp.tagid" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="tagEn" id="tagEn@(temp.tagid)" value="@temp.tagid" />
                                        }
                                        <div class="check-box"></div>
                                        <span>@(temp.tagname)(@(temp.subname))</span>
                                    </label>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="lg-bot">
                <div class="btn btn-cancel">取消</div>
                <div class="btn btn-submit" id="tagEnAdd">送出</div>
                <!-- <input type="submit" class="btn btn-submit" id="AuthorTagAdd" value="送出" /> -->
            </div>
    </div>

    <!-- 事件群組 中文 -->
    <div class="lg-box lg-big-box" id="lgEventTagBox" style="display:none;">
        <div class="lg-tit">事件群組</div>
            <div class="lg-cont lg-add">
                <div class="input-box input-box-w">
                    <div class="tag-src-area">
                        <label for="">事件群組</label>
                        <div class="tag-src-box">
                            <input type="text" class="tag-input w150" autocomplete="off" id="eventCheckSrc">
                            <div class="tag-btn src" id="eventCheckBtn">搜尋</div>
                            <div class="tag-btn" id="eventCheckCleanBtn">清除</div>
                        </div>
                    </div>

                    <div class="check-list" id="eventCheckList">
                        @if (Model.eventgoups_tw != null)
                        {
                            foreach (var item in Model.eventgoups_tw)
                            {
                                if (item.Title_tw != null && item.Title_tw.Length > 0)
                                {
                                    <label for="eventCheck@(item.Eventgid)">
                                        @if (item.Owned)
                                        {
                                            <input type="checkbox" name="eventCheck" id="eventCheck@(item.Eventgid)" value="@item.Eventgid" checked="checked">
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="eventCheck" id="eventCheck@(item.Eventgid)" value="@item.Eventgid">
                                        }
                                        <div class="check-box"></div>
                                        <span>@item.Title_tw</span>
                                    </label>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="lg-bot">
                <div class="btn btn-cancel">取消</div>
                <div class="btn btn-submit" id="eventTagAdd">送出</div>
            </div>
    </div>
    <!-- 事件群組 英文 -->
    <div class="lg-box lg-big-box" id="lgEventTagEnBox" style="display:none;">
        <div class="lg-tit">事件群組(英文)</div>
            <div class="lg-cont lg-add">
                <div class="input-box input-box-w input-box-en">
                    <div class="tag-src-area">
                        <label for="">事件群組(英)</label>
                        <div class="tag-src-box">
                            <input type="text" class="tag-input w150" autocomplete="off" id="eventCheckSrcEn">
                            <div class="tag-btn src" id="eventCheckEnBtn">搜尋</div>
                            <div class="tag-btn" id="eventCheckCleanEnBtn">清除</div>
                        </div>
                    </div>

                    <div class="check-list" id="eventCheckEnList">
                        @if (Model.eventgoups_en != null)
                        {
                            foreach (var item in Model.eventgoups_en)
                            {
                                if (item.Title_en != null && item.Title_en.Length > 0)
                                {
                                    <label for="eventCheckEn@(item.Eventgid)">
                                        @if (item.Owned)
                                        {
                                            <input type="checkbox" name="eventCheckEn" id="eventCheckEn@(item.Eventgid)" value="@item.Eventgid" checked="checked">
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="eventCheckEn" id="eventCheckEn@(item.Eventgid)" value="@item.Eventgid">
                                        }
                                        <div class="check-box"></div>
                                        <span>@item.Title_en</span>
                                    </label>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="lg-bot">
                <div class="btn btn-cancel">取消</div>
                <div class="btn btn-submit" id="eventTagEnAdd">送出</div>
            </div>
    </div>

    <div class="input-box">
        <label for="show">是否顯示</label>
        <div class=" check-list">
            <label for="yes">
                @if (Model.Display_tw == 1)
                {
                    <input type="radio" name="show" id="yes" value="1" title="至少選擇一個" checked class="required">
                }
                else
                {
                    <input type="radio" name="show" id="yes" value="1" title="至少選擇一個" class="required">
                }
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="no">
                @if (Model.Display_tw == 2)
                {
                    <input type="radio" name="show" id="no" value="2" title="至少選擇一個" checked class="radio-box required">
                }
                else
                {
                    <input type="radio" name="show" id="no" value="2" title="至少選擇一個" class="radio-box required">
                }
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <div class="input-box input-box-en">
        <label for="show">是否顯示(英)</label>
        <div class=" check-list">
            <label for="yesEn">
                @if (Model.Display_en == 1)
                {
                    <input type="radio" name="showEn" id="yesEn" value="1" title="至少選擇一個" checked class="required">
                }
                else
                {
                    <input type="radio" name="showEn" id="yesEn" value="1" title="至少選擇一個" class="required">
                }
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="noEn">
                @if (Model.Display_en == 2)
                {
                    <input type="radio" name="showEn" id="noEn" value="2" title="至少選擇一個" checked class="radio-box required">
                }
                else
                {
                    <input type="radio" name="showEn" id="noEn" value="2" title="至少選擇一個" class="radio-box required">
                }
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <div class="btn-area">
        <a href="javascript:goback(@Model.Wid)" class="btn btn-cancel"><i class="fa fa-chevron-left"></i> 取消</a>
        <div class="btn btn-submit">
            <i class="fa fa-check"></i> 確認送出
            <input type="submit" class="btn">
        </div>
    </div>
</form>

<form id="gowritertrack" action="@Url.Action("EventList")" method="post">
    <input type="hidden" name="Wid" id="Wid" value="" />
</form>

<script src="https://maps.googleapis.com/maps/api/js?key=@(WebConfigurationManager.AppSettings["GoogleMap_Key"])&callback=initAutocomplete&libraries=places"
        defer></script>
<script>
    let placeSearch;
    let autocomplete;
    let map;
    let infowindow = null;
    let marker;

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search predictions to
        // geographical location types.
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById("address")
        );
        // Set the data fields to return when the user selects a place.
        autocomplete.setFields([
            "address_components",
            "geometry",
            "icon",
            "name",
        ]);

        // When the user selects an address from the drop-down, populate the
        // address fields in the form.
        autocomplete.addListener("place_changed", () => {
            const place = autocomplete.getPlace();

            if (!place.geometry) {
                // User entered the name of a Place that was not suggested and
                // pressed the Enter key, or the Place Details request failed.
                window.alert("No details available for input: '" + place.name + "'");
                return;
            }

            let searchCenter = place.geometry.location;

            $('#position').val(searchCenter.lat);
            $('#position2').val(searchCenter.lng);

            map.panTo(searchCenter); // panTo是平滑移動、setCenter是直接改變地圖中心

            if (infowindow) {
                marker.setMap(null);
                infowindow.close();
                infowindow = null;
            }

            // 放置標記
            marker = new google.maps.Marker({
                position: searchCenter,
                map: map
            });

            // info window
            infowindow = new google.maps.InfoWindow({
                content: place.formatted_address
            });
            infowindow.open(map, marker);
        });
    }

    $(document).ready(function () {
        var lat = $('#position').val();
        var lng = $('#position2').val();

        let location = {
            lat: parseFloat(lat),
            lng: parseFloat(lng),
        };

        map = new google.maps.Map(document.getElementById('map'), {
            center: location,
            zoom: 16,
        });

        if (infowindow) {
            marker.setMap(null);
            infowindow.close();
            infowindow = null;
        }

        // 放置標記
        marker = new google.maps.Marker({
            position: location,
            map: map
        });

        // info window
        infowindow = new google.maps.InfoWindow({
            content: $('#address').val(),
        });
        infowindow.open(map, marker);

        var message = '@ViewBag.Error';
        if (message == "完成") {
            alert("完成");
            top.location.href = "@Url.Action("EventList")";
        } else if (message.length > 0) {
            alert('@ViewBag.Error');
        } else {
            var validator = $("#form").validate({
                submitHandler: function (form) {
                    if ($('#address').val().length <= 0 && ($('#position').val().length <= 0 || $('#position2').val().length <= 0)) {
                        alert("地址或座標,請二者擇一填寫!!");
                        return;
                    }
                    if (document.getElementById('uploadFile').files.length > 0) {
                        getFile(document.getElementById('uploadFile').files[0]).then((customJsonFile) => {
                            //customJsonFile is your newly constructed file.
                            $('#pdf').val(customJsonFile["base64StringFile"]);
                            //resetForm();
                            form.submit();
                        });
                    } else {
                        //resetForm();
                        form.submit();
                    }
                }
            });
        }

        var editor = CKEDITOR.replace('editor', {
            removePlugins: 'flash,cloudservices',
            extraPlugins: 'embed,autoembed',
            height: 500,
            filebrowserImageUploadUrl: '/Backend/ImageUpload',
            filebrowserBrowseUrl: '@Url.Content("~/js/Filemanager/index.html")',
            filebrowserUploadMethod: 'form',

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [
                'https://cdn.ckeditor.com/4.14.0/full-all/contents.css',
                //'https://ckeditor.com/docs/vendors/4.14.0/ckeditor/assets/css/widgetstyles.css'
            ],
            // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
            image2_disableResizer: true
        });
        var editorEn = CKEDITOR.replace('editorEn', {
            removePlugins: 'flash,cloudservices',
            extraPlugins: 'embed,autoembed',
            height: 500,
            filebrowserImageUploadUrl: '/Backend/ImageUpload',
            filebrowserBrowseUrl: '@Url.Content("~/js/Filemanager/index.html")',
            filebrowserUploadMethod: 'form',

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [
                'https://cdn.ckeditor.com/4.14.0/full-all/contents.css',
                //'https://ckeditor.com/docs/vendors/4.14.0/ckeditor/assets/css/widgetstyles.css'
            ],
            // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
            image2_disableResizer: true
        });

        //=== 打開標籤選擇 ===
        var openBtnList = [
            { openBtn: '#openTagBtn', lgBox: '#lgTagBox' },
            { openBtn: '#openTagEnBtn', lgBox: '#lgTagEnBox' },
            { openBtn: '#openEventTagBtn', lgBox: '#lgEventTagBox' },
            { openBtn: '#openEventTagEnBtn', lgBox: '#lgEventTagEnBox' }
        ];
        $.each(openBtnList, function (ind, val) {
            var $openBtn = $(val.openBtn);
            $openBtn.on('click', function () {
                $(val.lgBox + ',#mask').fadeIn();
            });
        });

        //=== 新增標籤點擊 ===
        var addBtnList = [
            { addBtn: '#tagAdd', tagList: '#tagCheckList', tagArea: '#tagArea', lgBox: '#lgTagBox' },
            { addBtn: '#tagEnAdd', tagList: '#tagEnCheckList', tagArea: '#tagEnArea', lgBox: '#lgTagEnBox' },
            { addBtn: '#eventTagAdd', tagList: '#eventCheckList', tagArea: '#eventTagArea', lgBox: '#lgEventTagBox' },
            { addBtn: '#eventTagEnAdd', tagList: '#eventCheckEnList', tagArea: '#eventTagEnArea', lgBox: '#lgEventTagEnBox' }
        ];

        $.each(addBtnList, function (ind, val) {
            var $addBtn = $(val.addBtn);
            $addBtn.on('click', function () {
                pushTag(val.tagList, val.tagArea, val.lgBox);
            });
        });
        //== 編輯帶入值 ==
        $.each(addBtnList, function (ind, val) {
            pushTag(val.tagList, val.tagArea, val.lgBox);
        });
    });

    var uploadpic; var tempuploadpic;
    var image;
    var modal;
    var cropper;
    var _index;

    function initcrop(index) {
        _index = index;

        uploadpic = document.getElementById('uploadpic' + _index);

        image = document.getElementById('orimg');
        modal = document.getElementById("myModal");

        $('#cropit').on('click', function () {
            var croppedImageDataURL = cropper.getCroppedCanvas({ width: 1000, height: 710 }).toDataURL("image/png");
            $('#cropimg' + _index).attr('src', croppedImageDataURL);
            $('#pic' + _index).val(croppedImageDataURL);

            cropper.destroy();
            image.src = '';
            document.getElementById('pic' + _index + '_del').value = "0";
            tempuploadpic = uploadpic.value;
            modal.style.display = "none";
        });
        $('#cropmove').on('click', function () {
            cropper.setDragMode("move");
        });

        $('#cropcut').on('click', function () {
            cropper.setDragMode("crop");
        });

        $('#closeit').on('click', function () {
            cropper.destroy();
            image.src = '';
            modal.style.display = "none";
        });

        if (uploadpic.files && uploadpic.files[0]) {
            if (uploadpic.files[0].type.match(/^image\//)) {
                var reader = new FileReader();
                reader.onload = function (evt) {
                    image.src = evt.target.result;
                    cropper = new Cropper(image, { 
                        viewMode: 1,
                        crop(event) {
                            console.log(event.detail.x);
                            console.log(event.detail.y);
                            console.log(event.detail.width);
                            console.log(event.detail.height);
                            console.log(event.detail.rotate);
                            console.log(event.detail.scaleX);
                            console.log(event.detail.scaleY);
                        },
                    });
                    modal.style.display = "block";
                };
                reader.readAsDataURL(uploadpic.files[0]);
            }
            else {
                alert("Invalid file type! Please select an image file.");
            }
        }
        else {
            alert('No file(s) selected.');
        }
    }

    function delpic(pic,del) {
        document.getElementById(pic).src = "";
        document.getElementById(del).value = "1";
    }

    function goback(Wid) {
        $("#gowritertrack").find("#Wid").val(Wid);
        $("#gowritertrack").submit();
    }
</script>
