﻿@model VirtualMuseum.Models.Backend.ExhibitionViewModel

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "文學展示管理";
    ViewBag.Title2 = "新增展覽";
}

<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 800px; /* Could be more or less, depending on screen size */
    }
</style>

<h1>@ViewBag.Title</h1>
<ol class="breadcrumb">
    <li><a href="@Url.Action("LiteraryList")">文學展示</a></li>
    <li><a href="javascript:goback(@Model.LLid)">@ViewBag.WTitle</a></li>
    <li class="active">
        <span>@ViewBag.Title2</span>
    </li>
</ol>

<h2>@ViewBag.Title2</h2>

<form action="@Url.Action("AddExhibition")" id="form" enctype="multipart/form-data" method="post">
    @*防偽造*@
    @Html.AntiForgeryToken()
    <div class="input-box">
        <label for="uploadpic1">*展覽主圖</label>
        <div class="note">圖像尺寸 500 × 500，支援jpg、gif、png等格式</div>
        <div class="upload-img">
            <div class="head-box upload-box-sty">
                <input type="file" name="uploadpic1" id="uploadpic1" class="upload-pic required"
                       onchange="initcrop(1);" onclick="this.value=null;">
                <div id="previews1" class="upload-click-area" onclick="upload_click(this)">
                    <img id="cropimg1" src="/img/default_src.jpg" alt="img1">
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="pic1" id="pic1" value="" />

    <div class="input-box input-box-en">
        <label for="uploadpic2">展覽主圖(英)</label>
        <div class="note">圖像尺寸 500 × 500，支援jpg、gif、png等格式 </div>
        <div class="upload-img">
            <div class="head-box upload-box-sty">
                <input type="file" id="uploadpic2" name="uploadpic2" class="upload-pic" onchange="initcrop(2);" onclick="this.value=null;">
                <div class="del-photo" title="刪除" alt="刪除" onclick="delpic('cropimg2','pic2_del')"></div>
                <div id="previews2" class="upload-click-area" onclick="upload_click(this)">
                    <img id="cropimg2" src="/img/default_src.jpg" alt="img2">
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="pic2" id="pic2" value="" />
    <input type="hidden" name="pic2_del" id="pic2_del" value="0" />

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <a id="cropit" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;"><i class="fa fa-chevron-left"></i>裁切</a>
            <a id="cropmove" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;margin-left:65px;"><i class="fa fa-arrows-alt"></i></a>
            <a id="cropcut" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;margin-left:105px;"><i class="fa fa-crop-alt"></i></a>
            <a id="closeit" href="#" class="btn btn-cancel" style="margin-left:762px;"><i class="fa fa-window-close"></i></a>
            <div id="cropper-example-2" style="height:800px;width:800px;">
                <img id="orimg" alt="Picture" />
            </div>
        </div>
    </div>

    <input type="hidden" name="LLid" id="LLid" value="@Model.LLid" />

    <div class="input-box">
        <label for="title">*標題</label>
        <input type="text" class="input-sty required" name="title" id="title" value="">
    </div>
    <div class="input-box input-box-en">
        <label for="titleEn">標題(英)</label>
        <input type="text" class="input-sty" name="titleEn" id="titleEn" value="">
    </div>
    <div class="input-box">
        <label for="author">作者</label>
        <input type="text" class="input-sty" name="author" id="author" value="">
    </div>
    <div class="input-box input-box-en">
        <label for="authorEn">作者(英)</label>
        <input type="text" class="input-sty" name="authorEn" id="authorEn" value="">
    </div>

    <div class="input-box input-box-w">
        <label for="editor">內文</label>
        <textarea name="editor" id="editor" placeholder="內文說明..." class="input-sty desc-info"></textarea>
    </div>

    <div class="input-box input-box-w input-box-en">
        <label for="editorEn">內文(英)</label>
        <textarea name="editorEn" id="editorEn" placeholder="內文說明..." class="input-sty desc-info"></textarea>
    </div>
    <!--
    <div class="input-box">
        <label for="des">簡述</label>
        <input type="text" class="input-sty" name="des" id="des" value="">
    </div>
    <div class="input-box input-box-en">
        <label for="desEn">簡述(英)</label>
        <input type="text" class="input-sty" name="desEn" id="desEn" value="">
    </div>
    <div class="input-box">
        <label for="source">資料來源</label>
        <input type="text" class="input-sty" name="source" id="source" value="">
    </div>
    <div class="input-box input-box-en">
        <label for="sourceEn">資料來源(英)</label>
        <input type="text" class="input-sty" name="sourceEn" id="sourceEn" value="">
    </div>

    <div class="input-box">
        <label for="showImg">是否顯示輪播圖</label>
        <div class="check-list">
            <label for="yesImg">
                <input type="radio" name="showImg" id="yesImg" value="1" title="至少選擇一個" class="required">
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="noImg">
                <input type="radio" name="showImg" id="noImg" value="2" title="至少選擇一個" checked class="radio-box required">
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>
    -->
    <!-- 引用標籤 -->
    <div class="input-box input-box-w">
        <label for="">引用標籤</label>
        <div class="tag-area">
            <div class="btn btn-submit" id="openTagBtn">
                <i class="fad fa-tags"></i> 選擇中文
            </div>
            <div class="tag-box">
                <ul class="tag" id="tagArea"></ul>
                <div class="no-data">尚未選擇標籤。</div>
            </div>
        </div>
        <div class="tag-area">
            <div class="btn btn-org" id="openTagEnBtn">
                <i class="fad fa-tags"></i> 選擇英文
            </div>
            <div class="tag-box">
                <ul class="tag" id="tagEnArea"></ul>
                <div class="no-data">尚未選擇標籤。</div>
            </div>
        </div>
    </div>

    <!-- lightbox 含表單組件的視窗，可送出表單，但請注意表單位置 -->
    <!-- 中文標籤 -->
    <div class="lg-box lg-big-box" id="lgTagBox" style="display:none;">
        <div class="lg-tit">引用標籤</div>
        <div class="lg-cont lg-add">
            <div class="input-box input-box-w">
                <div class="tag-src-area">
                    <label for="">引用標籤</label>
                    <div class="tag-src-box">
                        <input type="text" class="tag-input w150" autocomplete="off" id="tagSrc">
                        <div class="tag-btn src" id="tagSrcBtn">搜尋</div>
                        <div class="tag-btn" id="tagSrcCleanBtn">清除</div>
                    </div>
                </div>
                <div class="check-list" id="tagCheckList">
                    @if (Model.tags_tw != null)
                    {
                        foreach (var temp in Model.tags_tw)
                        {
                            if (temp.tagname != null && temp.tagname.Length > 0)
                            {
                                <label for="tag@(temp.tagid)">
                                    @if (temp.owned)
                                    {
                                        <input type="checkbox" name="tag" id="tag@(temp.tagid)" value="@temp.tagid" checked="checked" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="tag" id="tag@(temp.tagid)" value="@temp.tagid" />
                                    }
                                    <div class="check-box"></div>
                                    <span>@temp.tagname</span>
                                </label>
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="lg-bot">
            <div class="btn btn-cancel">取消</div>
            <div class="btn btn-submit" id="tagAdd">送出</div>
            <!-- <input type="submit" class="btn btn-submit" id="AuthorTagAdd" value="送出" /> -->
        </div>
    </div>
    <!-- 英文標籤 -->
    <div class="lg-box lg-big-box" id="lgTagEnBox" style="display:none;">
        <div class="lg-tit">引用標籤(英文)</div>
        <div class="lg-cont lg-add">
            <div class="input-box input-box-w input-box-en">
                <div class="tag-src-area">
                    <label for="">引用標籤(英)</label>
                    <div class="tag-src-box">
                        <input type="text" class="tag-input w150" autocomplete="off" id="tagSrcEn">
                        <div class="tag-btn src" id="tagSrcEnBtn">搜尋</div>
                        <div class="tag-btn" id="tagSrcCleanEnBtn">清除</div>
                    </div>
                </div>
                <div class="check-list" id="tagEnCheckList">
                    @if (Model.tags_en != null)
                    {
                        foreach (var temp in Model.tags_en)
                        {
                            if (temp.tagname != null && temp.tagname.Length > 0)
                            {
                                <label for="tagEn@(temp.tagid)">
                                    @if (temp.owned)
                                    {
                                        <input type="checkbox" name="tagEn" id="tagEn@(temp.tagid)" value="@temp.tagid" checked="checked" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="tagEn" id="tagEn@(temp.tagid)" value="@temp.tagid" />
                                    }
                                    <div class="check-box"></div>
                                    <span>@(temp.tagname)(@(temp.subname))</span>
                                </label>
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="lg-bot">
            <div class="btn btn-cancel">取消</div>
            <div class="btn btn-submit" id="tagEnAdd">送出</div>
            <!-- <input type="submit" class="btn btn-submit" id="AuthorTagAdd" value="送出" /> -->
        </div>
    </div>

    <div class="input-box">
        <label for="show">是否顯示</label>
        <div class="check-list">
            <label for="yes">
                <input type="radio" name="show" id="yes" value="1" title="至少選擇一個" checked class="required">
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="no">
                <input type="radio" name="show" id="no" value="2" title="至少選擇一個" class="radio-box required">
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <div class="input-box input-box-en">
        <label for="show">是否顯示(英)</label>
        <div class=" check-list">
            <label for="yesEn">
                <input type="radio" name="showEn" id="yesEn" value="1" title="至少選擇一個" checked class="required">
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="noEn">
                <input type="radio" name="showEn" id="noEn" value="2" title="至少選擇一個" class="radio-box required">
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <div class="btn-area">
        <a href="javascript:goback(@Model.LLid)" class="btn btn-cancel"><i class="fa fa-chevron-left"></i> 取消</a>
        <!--<a href="javascript:goPreviewThemeArticleCont(@Model.LLid)" class="btn btn-submit">
            <i class="fad fa-window"></i>
            預覽頁面
        </a>-->
        <div class="btn btn-submit">
            <i class="fa fa-check"></i> 確認送出
            <input type="submit" class="btn">
        </div>
    </div>
</form>

<form id="goliteraryedit" action="@Url.Action("LiteraryEdit")" method="post">
    <input type="hidden" name="LLid" id="LLid" value="" />
</form>
<form id="goPreviewThemeArticleCont" target="_blank" action="@Url.Action("ExhibitionArticleCont", "Theme")" method="post">
    <input type="hidden" name="LLid" id="LLid" value="" />
    <input type="hidden" name="Author_en" id="Author_en" value="" />
    <input type="hidden" name="Author_tw" id="Author_tw" value="" />
    <input type="hidden" name="Content_en" id="Content_en" value="" />
    <input type="hidden" name="Content_tw" id="Content_tw" value="" />
    <input type="hidden" name="Pic_en" id="Pic_en" value="" />
    <input type="hidden" name="Pic_tw" id="Pic_tw" value="" />
    <input type="hidden" name="Showimg" id="Showimg" value="" />
    <input type="hidden" name="Title_en" id="Title_en" value="" />
    <input type="hidden" name="Title_tw" id="Title_tw" value="" />
</form>

<!-- 此為表單驗證用，注意需更改#name與標單的id相同 -->
<script type="text/javascript">
    //var fileList = [];
    var uploadpic;
    var tempuploadpic = [];
    var image;
    var modal;
    var cropper;
    var _index;
    //var randompic = false;
    var canvas = null;

    $(function () {
        /*
        //上傳預覽圖片
        $("#uploadImg").change(function () {
            randompic = true;
            readURL(this);
        });

        //刪除輪播圖片
        $(document).on('click', '.del', function () {
            var indTxt = $(this).parent().attr('class');
            var ind = indTxt.replace('index', '');
            fileList.splice(ind, 1);
            $(this).parent().remove();
            //序號重排
            indexSort();
        });
        */
        var message = '@ViewBag.Error';
        if (message == "完成") {
            alert("完成");
            top.location.href = "@Url.Action("LiteraryEdit")";
        } else if (message.length > 0) {
            alert('@ViewBag.Error');
        } else {
            var validator = $("#form").validate({
                /*
                invalidHandler: function (event, validator) {
                    if (document.getElementById('uploadpic1').value == "" && tempuploadpic['uploadpic1'])
                        document.getElementById('uploadpic1').value = tempuploadpic['uploadpic1'];
                },*/
                submitHandler: function (form) {
                    //resetForm();
                    form.submit();
                }
            });
        }

        //編輯器
        var editor = CKEDITOR.replace('editor', {
            removePlugins: 'flash,cloudservices',
            extraPlugins: 'embed,autoembed',
            height: 500,
            filebrowserImageUploadUrl: '/Backend/ImageUpload',
            filebrowserBrowseUrl: '@Url.Content("~/js/Filemanager/index.html")',
            filebrowserUploadMethod: 'form',

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [
                'https://cdn.ckeditor.com/4.14.0/full-all/contents.css',
                //'https://ckeditor.com/docs/vendors/4.14.0/ckeditor/assets/css/widgetstyles.css'
            ],
            // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
            image2_disableResizer: true
        });
        var editorEn = CKEDITOR.replace('editorEn', {
            removePlugins: 'flash,cloudservices',
            extraPlugins: 'embed,autoembed',
            height: 500,
            filebrowserImageUploadUrl: '/Backend/ImageUpload',
            filebrowserBrowseUrl: '@Url.Content("~/js/Filemanager/index.html")',
            filebrowserUploadMethod: 'form',

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [
                'https://cdn.ckeditor.com/4.14.0/full-all/contents.css',
                //'https://ckeditor.com/docs/vendors/4.14.0/ckeditor/assets/css/widgetstyles.css'
            ],
            // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
            image2_disableResizer: true
        });

        //=== 打開標籤選擇 ===
        var openBtnList = [
            { openBtn: '#openTagBtn', lgBox: '#lgTagBox' },
            { openBtn: '#openTagEnBtn', lgBox: '#lgTagEnBox' },
            { openBtn: '#openEventTagBtn', lgBox: '#lgEventTagBox' },
            { openBtn: '#openEventTagEnBtn', lgBox: '#lgEventTagEnBox' }
        ];
        $.each(openBtnList, function (ind, val) {
            var $openBtn = $(val.openBtn);
            $openBtn.on('click', function () {
                $(val.lgBox + ',#mask').fadeIn();
            });
        });

        //=== 新增標籤點擊 ===
        var addBtnList = [
            { addBtn: '#tagAdd', tagList: '#tagCheckList', tagArea: '#tagArea', lgBox: '#lgTagBox' },
            { addBtn: '#tagEnAdd', tagList: '#tagEnCheckList', tagArea: '#tagEnArea', lgBox: '#lgTagEnBox' },
            { addBtn: '#eventTagAdd', tagList: '#eventCheckList', tagArea: '#eventTagArea', lgBox: '#lgEventTagBox' },
            { addBtn: '#eventTagEnAdd', tagList: '#eventCheckEnList', tagArea: '#eventTagEnArea', lgBox: '#lgEventTagEnBox' }
        ];

        $.each(addBtnList, function (ind, val) {
            var $addBtn = $(val.addBtn);
            $addBtn.on('click', function () {
                pushTag(val.tagList, val.tagArea, val.lgBox);
            });
        });
    });
    /*
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            var previewImgUrl;
            reader.onload = function (e) {
                modal = document.getElementById("myModal");
                image = document.getElementById('orimg');

                previewImgUrl = e.target.result;
                image.src = previewImgUrl;
                previewImgName = input.files[0].name;

                cropper = new Cropper(image, {
                    crop(event) {
                        console.log(event.detail.x);
                        console.log(event.detail.y);
                        console.log(event.detail.width);
                        console.log(event.detail.height);
                        console.log(event.detail.rotate);
                        console.log(event.detail.scaleX);
                        console.log(event.detail.scaleY);
                    },
                });
                canvas = cropper.getCroppedCanvas();
                modal.style.display = "block";
            }
            reader.readAsDataURL(input.files[0]);
            //file資料放進列表
            fileList.push(input.files[0]);
        }
    }
    function indexSort() {
        $('#imgList').find('li').each(function (index, val) {
            // console.log($(this));
            $(this).attr('class', 'index' + index);
        });
        //是否顯示無資料
        var imgL = $('#imgList').find('li').length;
        console.log(imgL);
        imgL ? $('#noData').hide() : $('#noData').show();
    }
    */
    function initcrop(index) {
        //randompic = false;
        _index = index;

        uploadpic = document.getElementById('uploadpic' + _index);
        
        image = document.getElementById('orimg');
        modal = document.getElementById("myModal");

        $('#cropit').on('click', function () {
            var croppedImageDataURL = cropper.getCroppedCanvas({ width: 500, height: 500 }).toDataURL("image/png");
            $('#cropimg' + _index).attr('src', croppedImageDataURL);
            $('#pic' + _index).val(croppedImageDataURL);

            cropper.destroy();
            image.src = '';
            try {
                document.getElementById('pic' + _index + '_del').value = "0";
            } catch (e) { }
            tempuploadpic['uploadpic' + _index] = uploadpic.value;
            modal.style.display = "none";
        });
        $('#cropmove').on('click', function () {
            cropper.setDragMode("move");
        });

        $('#cropcut').on('click', function () {
            cropper.setDragMode("crop");
        });

        $('#closeit').on('click', function () {
            cropper.destroy();
            image.src = '';
            modal.style.display = "none";
        });

        if (uploadpic.files && uploadpic.files[0]) {
            if (uploadpic.files[0].type.match(/^image\//)) {
                var reader = new FileReader();
                reader.onload = function (evt) {
                    image.src = evt.target.result;

                    cropper = new Cropper(image, {
                        aspectRatio: 1 / 1,
                        viewMode: 1,
                        crop(event) {
                            console.log(event.detail.x);
                            console.log(event.detail.y);
                            console.log(event.detail.width);
                            console.log(event.detail.height);
                            console.log(event.detail.rotate);
                            console.log(event.detail.scaleX);
                            console.log(event.detail.scaleY);
                        },
                    });

                    modal.style.display = "block";
                };
                reader.readAsDataURL(uploadpic.files[0]);
            }
            else {
                alert("Invalid file type! Please select an image file.");
            }
        }
        else {
            alert('No file(s) selected.');
        }
    }

    function goback(LLid) {
        $("#goliteraryedit").find("#LLid").val(LLid);
        $("#goliteraryedit").submit();
    }

    function goPreviewThemeArticleCont(llid) {
        $('#goPreviewThemeArticleCont').find('#LLid').val(llid);
        $('#goPreviewThemeArticleCont').find('#Author_tw').val($('#author').val());
        $('#goPreviewThemeArticleCont').find('#Author_en').val($('#authorEn').val());
        $('#goPreviewThemeArticleCont').find('#Content_en').val(CKEDITOR.instances.editorEn.getData());
        $('#goPreviewThemeArticleCont').find('#Content_tw').val(CKEDITOR.instances.editor.getData());
        $('#goPreviewThemeArticleCont').find('#Pic_en').val($('#cropimg2').attr('src'));
        $('#goPreviewThemeArticleCont').find('#Pic_tw').val($('#cropimg1').attr('src'));
        $('#goPreviewThemeArticleCont').find('#Showimg').val($('input[name=showImg]:checked').val());
        $('#goPreviewThemeArticleCont').find('#Title_en').val($('#titleEn').val());
        $('#goPreviewThemeArticleCont').find('#Title_tw').val($('#title').val());

        $('#goPreviewThemeArticleCont').submit();
    }

    function delpic(pic, del) {
        document.getElementById(pic).src = "";
        document.getElementById(del).value = "1";
    }
</script>
