﻿@using System.Web.Configuration

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "數據";
    ViewBag.Action = "GaList";
}

<h1>@ViewBag.Title</h1>

<!-- 使用者帳號 -->
<div id="embed-api-auth-container"></div>
<!-- 數據選擇 -->
<div id="view-selector-container"></div>
<!-- 日期區間 -->
<div class="input-box">
    <label for="starTime">查詢日期區間</label>
    <input type="text" id="starTime" name="starTime" class="input-sty datepicker-here" data-language="en"
           data-range="true" data-multiple-dates-separator=" ~ " />
</div>
<!-- 日期區間 -->
<div class="input-box">
    <label for="webStatus">網站使用情況</label>
    <select name="webStatus" id="webStatus" class="select-sty">
        <option value="ga:pageviews">網頁瀏覽量</option>
        <option value="ga:uniquePageviews">不重複網頁瀏覽量</option>
        <option value="ga:avgTimeOnPage">平均網頁停留時間</option>
        <option value="ga:entrances">入站</option>
        <option value="ga:bounceRate">跳出率</option>
        <option value="ga:exitRate">離開百分比</option>
    </select>
</div>
<!-- 圖表內容 -->
<div id="chart-container"></div>
<!-- 單一顯示數據 -->
<div class="ga-info-area">
    <div class="ga-info-box">
        <label for="">瀏覽量(Pageviews)：</label>
        <p id="gaP">-</p>
    </div>
    <div class="ga-info-box">
        <label for="">不重複瀏覽數(unique pageviews)：</label>
        <p id="gaUp">-</p>
    </div>
    <div class="ga-info-box">
        <label for="">使用者(User)：</label>
        <p id="gaUser">-</p>
    </div>
    <div class="ga-info-box">
        <label for="">平均工作階段時間長度(Avg. Session Duration)：</label>
        <p id="gaAsd">-</p>
    </div>
    <div class="ga-info-box">
        <label for="">單次工作階段頁數(Pages / Session)：</label>
        <p id="gaPs">-</p>
    </div>
    <div class="ga-info-box">
        <label for="">跳出率(bounceRate)：</label>
        <p id="gaBr">-</p>
    </div>
</div>

<!-- <div id="view-selector-1-container"></div>
<div id="chart-1-container"></div>
<div id="view-selector-2-container"></div>
<div id="chart-2-container"></div>
<div id="view-selector-3-container"></div>-->
<!-- 匯出按鈕 0107 -->
<div class="input-box input-box-w">
    <div class="btn btn-submit" id="csvUrlTableBtn">
        <i class="fas fa-file-csv"></i>
        匯出
    </div>
</div>
<!-- 頁面表格資料 -->
<div id="chart-3-container"></div>
<!-- <div id="embed-api-auth-container" class="ag-box"></div>
<div id="chart-container" class="ag-box"></div>
<div id="view-selector-container" class="ag-box"></div> -->
<!-- Step 1: Create the containing elements. -->
<!-- <section id="auth-button"></section>
<section id="view-selector"></section>
<section id="timeline"></section> -->
<!-- Working with Custom Components -->
<!-- <div id="embed-api-auth-container"></div>
<div id="view-selector-container"></div>
<div id="data-chart-1-container"></div>
<div id="date-range-selector-1-container"></div>
<div id="data-chart-2-container"></div>
<div id="date-range-selector-2-container"></div> -->
</div>
<!-- Step 2: Load the library. -->
<script>
    (function (w, d, s, g, js, fs) {
        g = w.gapi || (w.gapi = {}); g.analytics = { q: [], ready: function (f) { this.q.push(f); } };
        js = d.createElement(s); fs = d.getElementsByTagName(s)[0];
        js.src = 'https://apis.google.com/js/platform.js';
        fs.parentNode.insertBefore(js, fs); js.onload = function () { g.load('analytics'); };
    }(window, document, 'script'));
</script>

<!-- Include the ViewSelector2 component script. for custom -->
<!-- <script src="/public/javascript/embed-api/components/view-selector2.js"></script> -->
<!-- Include the DateRangeSelector component script.  for custom-->
<!-- <script src="/public/javascript/embed-api/components/date-range-selector.js"></script> -->
<script>
    var gaId, gId, webStatus, dateRange;
    var urlCsvTable = [];//匯出數據JSON 0107
    gapi.analytics.ready(function () {

        /**
         * Authorize the user immediately if the user has already granted access.
         * If no access has been created, render an authorize button inside the
         * element with the ID "embed-api-auth-container".
         */
        var CLIENT_ID = '@(WebConfigurationManager.AppSettings["Google_ClientId"])';
        gapi.analytics.auth.authorize({
            container: 'embed-api-auth-container',
            clientid: CLIENT_ID
        });


        // $.get('https://www.googleapis.com/analytics/v3/data/ga?ids=ga%3A228315356&start-date=2020-09-02&end-date=2020-09-17&metrics=ga%3AbounceRate&access_token=ya29.a0AfH6SMD_XLmskPega4Usxn3EICUVW7-tL3dKEbe7ic1FPx6FK7jPCvofJA05RF5DFUqfTgjEXw6JXGvAbt0SNy37cEZa4ORD49qizykeCB-evrzimlw6PGeMOvHXweLpqeY9O9Mw_bCm1o9p_eBY9XbRqGWMzWsjEFjb', function (data) {
        //     console.log('有嗎');
        //     console.log(data);
        //     // courseAll = data.data.data;
        // }, 'json');



        /**
         * Create a new ViewSelector instance to be rendered inside of an
         * element with the id "view-selector-container".
         */
        var viewSelector = new gapi.analytics.ViewSelector({
            container: 'view-selector-container'
        });

        // var viewSelector1 = new gapi.analytics.ViewSelector({
        //     container: 'view-selector-1-container'
        // });

        // var viewSelector2 = new gapi.analytics.ViewSelector({
        //     container: 'view-selector-2-container'
        // });

        // var viewSelector3 = new gapi.analytics.ViewSelector({
        //     container: 'view-selector-3-container'
        // });

        // Render the view selector to the page.
        viewSelector.execute();

        // viewSelector1.execute();
        // viewSelector2.execute();

        // viewSelector3.execute();


        /**
         * Create a new DataChart instance with the given query parameters
         * and Google chart options. It will be rendered inside an element
         * with the id "chart-container".
         */
        //初始日期 30天前 到 昨天 =====
        var todayNow = new Date();
        //30天前
        var now = new Date();
        var monthAgo = now.setDate(now.getDate() - 30);
        monthAgo = new Date(monthAgo);
        //昨天
        var nowTwo = new Date();
        var yesterday = nowTwo.setDate(nowTwo.getDate() - 1);
        yesterday = new Date(yesterday);
        //收尋初始日期
        dateRange = {
            'start': '30daysAgo',
            'end': 'today'//yesterday
        }
        webStatus = $('#webStatus').val();
        console.log(webStatus);
        //初始日期 30天前 到 昨天 END=====

        var dataChart = new gapi.analytics.googleCharts.DataChart({
            query: {
                metrics: webStatus,//ga:users
                dimensions: 'ga:date',
                'start-date': dateRange.start,
                'end-date': dateRange.end
                // 'start-date': '2020-09-15',//7daysAgo
                // 'end-date': 'yesterday',//today
                // 'start-date': '30daysAgo',
                // 'end-date': 'yesterday'
            },
            chart: {
                container: 'chart-container',
                type: 'LINE',
                options: {
                    width: '100%'
                }
            }
        });

        var dataChart1 = new gapi.analytics.googleCharts.DataChart({
            query: {
                metrics: 'ga:sessions',
                dimensions: 'ga:country',
                'start-date': '30daysAgo',
                'end-date': 'yesterday',
                'max-results': 6,
                sort: '-ga:sessions'
            },
            chart: {
                container: 'chart-1-container',
                type: 'PIE',
                options: {
                    width: '100%',
                    pieHole: 4 / 9
                }
            }
        });


        var dataChart2 = new gapi.analytics.googleCharts.DataChart({
            query: {
                metrics: 'ga:sessions',
                dimensions: 'ga:country',
                'start-date': '30daysAgo',
                'end-date': 'yesterday',
                'max-results': 6,
                sort: '-ga:sessions'
            },
            chart: {
                container: 'chart-2-container',
                type: 'PIE',
                options: {
                    width: '100%',
                    pieHole: 4 / 9
                }
            }
        });
        //表格資料
        var dataChartTable = new gapi.analytics.googleCharts.DataChart({
            query: {
                metrics: 'ga:pageviews,ga:uniquePageviews,ga:avgTimeOnPage,ga:entrances,ga:bounceRate,ga:exitRate',//ga:timeOnPage ga:pageviews ga:pageValue,ga:entrances,ga:sessions' ga:timeOnPage
                dimensions: 'ga:pagePath',//ga:pagePath 頁面路徑 ga:exitPagePath
                'start-date': dateRange.start,
                'end-date': dateRange.end,
                // 'start-date': '2020-09-15',//7daysAgo
                // 'end-date': 'yesterday',//today
                // 'max-results': 6,
                'max-results': 10000,//回傳最大筆數
                // sort: '-ga:sessions'
            },
            chart: {
                container: 'chart-3-container',
                type: 'TABLE',
                options: {
                    width: '100%',
                    // pieHole: 4 / 9
                }
            }
        });



        /**
         * Render the dataChart on the page whenever a new view is selected.
         */
        viewSelector.on('change', function (ids) {
            //ids =====
            gaId = ids;
            gId = ids.replace('ga:', '');
            //這是數據
            queryCoreReportingApi(gId, dateRange);
            //ids End=====
            //初始設定
            //圖表一
            dataChart.set({
                query: {
                    ids: ids,
                    metrics: webStatus,
                    'start-date': dateRange.start,
                    'end-date': dateRange.end
                }
            }).execute();

            // dataChart1.set({ query: { ids: ids } }).execute();
            // dataChart2.set({ query: { ids: ids } }).execute();
            // 表格資料
            dataChartTable.set({
                query: {
                    ids: ids,
                    'start-date': dateRange.start,
                    'end-date': dateRange.end
                }
            }).execute();
            //匯出 csv 表格資料
            getCsvInfoTable(gId, dateRange);
        });

        $('#webStatus').on('change', function () {
            webStatus = $(this).val();
            console.log(webStatus);
            //更換圖表狀態
            if (gaId) {
                //圖表 這裡只需更改圖表樣式
                chartLine(dataChart);
                // //數據資料
                // queryCoreReportingApi(gId, dateRange);
                // //表格資料
                // tableInfo(dataChartTable);
            }
        })

        // viewSelector1.on('change', function (ids) {
        //     dataChart1.set({ query: { ids: ids } }).execute();
        // });

        // viewSelector2.on('change', function (ids) {
        //     dataChart2.set({ query: { ids: ids } }).execute();
        // });

        // viewSelector3.on('change', function (ids) {
        //     dataChart3.set({ query: { ids: ids } }).execute();
        // });

        //date picker =====
        $('#starTime').datepicker({
            language: 'en',
            // firstDay: 1,
            autoClose: true,
            maxDate: new Date(),
            onShow: function (dp, animationCompleted) {
                if (!animationCompleted) {
                    console.log('start showing')
                } else {
                    console.log('finished showing')
                }
            },
            onHide: function (dp, animationCompleted) {
                if (!animationCompleted) {
                    //重置日期區間
                    setDateRange();
                    //置換圖表 數據 和 表格 資料
                    console.log('=====????=====');
                    console.log(dateRange);
                    console.log('=====????=====');
                    if (gaId) {
                        console.log('如果有值進入後才會跑這');
                        console.log(webStatus);
                        pickDate(dataChart, dataChartTable);
                    }
                } else {
                    console.log('finished hiding')
                }
            }
        });
        //填入初始設定 30天前 ～ 今日 資料
        $('#starTime').val(dateToString(monthAgo) + ' ~ ' + dateToString(todayNow));

        //匯出按鈕 0107
        $('#csvUrlTableBtn').on('click', function () {
            urlTableToExcel();
        });
    });
    //一般單獨json數據
    function queryCoreReportingApi(profileId, dateRange) {
        // Query the Core Reporting API for the number sessions for
        // the past seven days.
        gapi.client.analytics.data.ga.get({
            'ids': 'ga:' + profileId,
            'start-date': dateRange.start,
            'end-date': dateRange.end,
            // 'start-date': '2020-09-15',//7daysAgo
            // 'end-date': 'yesterday',//today
            'metrics': 'ga:users,ga:pageviews,ga:uniquePageviews,ga:avgSessionDuration,ga:pageviewsPerSession,ga:bounceRate,ga:avgTimeOnPage,ga:exitRate,ga:entrances',
            //使用者ga:users,網站瀏覽總數ga:pageviews,不重複瀏覽數ga:uniquePageviews,平均工作階段時間長度ga:avgSessionDuration,單次工作階段頁數ga:pageviewsPerSession,跳出率ga:bounceRate
            //ga:sessions,ga:users,ga:pageviews,ga:avgSessionDuration,ga:pageviewsPerSession,ga:uniquePageviews
            'dimensions': 'ga:pagePath'//頁面先不用
        })
            .then(function (response) {
                // console.log(response.result);
                // console.log(response.result.totalsForAllResults);
                var gaInfo = response.result.totalsForAllResults
                $('#gaP').html(gaInfo["ga:pageviews"]);
                $('#gaUp').html(gaInfo["ga:uniquePageviews"]);
                $('#gaUser').html(gaInfo["ga:users"]);
                $('#gaAsd').html(formatFloat(gaInfo["ga:avgTimeOnPage"], 2) + '(s)');
                $('#gaPs').html(formatFloat(gaInfo["ga:pageviewsPerSession"], 2));
                $('#gaBr').html(formatFloat(gaInfo["ga:bounceRate"], 2) + '%');
                var formattedJson = JSON.stringify(response.result, null, 2);

                // document.getElementById('query-output').value = formattedJson;
            })
            .then(null, function (err) {
                // Log any errors.
                console.log(err);
            });
    }
    //表格數據資料，為了匯出 CSV 使用 0107
    function getCsvInfoTable(profileId, dateRange) {
        gapi.client.analytics.data.ga.get({
            'ids': 'ga:' + profileId,
            'start-date': dateRange.start,
            'end-date': dateRange.end,
            'metrics': 'ga:pageviews,ga:uniquePageviews,ga:avgTimeOnPage,ga:entrances,ga:bounceRate,ga:exitRate',
            'dimensions': 'ga:pagePath',
            'max-results': 10000,//回傳最大筆數
        })
            .then(function (response) {
                console.log(response.result.rows);
                var csvInfoTable = response.result.rows;
                //先清空
                urlCsvTable = [];
                $.each(csvInfoTable, function (ind, val) {
                    //每一項路徑資料
                    var urlInfo = val;
                    urlCsvTable.push({
                        'url': urlInfo[0],
                        'info1': numToShow(urlInfo[1]),
                        'info2': numToShow(urlInfo[2]),
                        'info3': numToShow(urlInfo[3]),
                        'info4': numToShow(urlInfo[4]),
                        'info5': numToShow(urlInfo[5]),
                        'info6': numToShow(urlInfo[6])
                    });
                });
            })
            .then(null, function (err) {
                // Log any errors.
                console.log(err);
            });
    }

    //pickDate(日期範圍json,圖表名稱)
    function pickDate(dataChartLine, dataChartTable) {
        //圖表
        chartLine(dataChartLine);
        //數據資料
        queryCoreReportingApi(gId, dateRange);
        //表格資料
        tableInfo(dataChartTable);
        //匯出 csv 表格資料
        getCsvInfoTable(gId, dateRange);
    }
    //圖表資料
    function chartLine(dataChartLine) {
        dataChartLine.set({
            query: {
                // ids: gaId,
                metrics: webStatus,
                //dimensions: 'ga:date',
                'start-date': dateRange.start,
                'end-date': dateRange.end
            }
        }).execute();
    }
    //表格資料
    function tableInfo(dataChartName) {
        dataChartName.set({
            query: {
                //ids: ids,
                'start-date': dateRange.start,
                'end-date': dateRange.end
            }
        }).execute();
    }
    function dateToString(date) {
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        return year + '-' + month + '-' + day;
    }
    //日期區間設定
    function setDateRange() {
        var dateString = $('#starTime').val().split(' ~ ');
        console.log(dateString);
        dateRange.start = dateString[0];
        dateRange.end = dateString[1];
        if (!dateRange.end) {
            //如果沒有選擇結束日
            dateRange.end = dateString[0];
            // dateRange.end = 'today';//yesterday
        }
        console.log('時間在這裡～～～');
        console.log(dateRange);
    }
    function formatFloat(num, pos) {
        var size = Math.pow(10, pos);
        return Math.round(num * size) / size;
    }

    //=== 匯出新增 0107 ===
    //匯出功能
    function urlTableToExcel() {
        //要匯出的json資料 urlCsvTable
        //urlCsvTable
        var t1 = $('#gaP').html();
        var t2 = $('#gaUp').html();
        var t3 = $('#gaUser').html();
        var t4 = $('#gaAsd').html();
        // t4 = t4.replace('(s)', '');
        var t5 = $('#gaPs').html();
        var t6 = $('#gaBr').html();
        //列標題，逗號隔開，每一個逗號就是隔開一個單元格
        let str = `總計,瀏覽量,不重複瀏覽數,使用者,平均工作階段時間長度,單次工作階段頁數,跳出率\t,\n`;
        str += ' ,' + t1 + ',' + t2 + ',' + t3 + ',' + t4 + ',' + t5 + ',' + t6 + '\t,\n';
        //空白格
        str += ' \t,\n';
        //頁面,瀏覽量,不重複瀏覽量,平均頁面停留時間,入口,跳出率,離開率
        str += `頁面,瀏覽量,不重複瀏覽量,平均頁面停留時間,入口,跳出率,離開率\n`;
        // let str = `Page,Pageviews,Unique Pageviews,Avg. Time on Page,Entrances,Bounce Rate,% Exit\n`;
        // let str = `姓名,電話,郵箱\n`;
        //增加\t為了不讓表格顯示科學計數法或者其他格式
        for (let i = 0; i < urlCsvTable.length; i++) {
            for (let item in urlCsvTable[i]) {
                str += `${urlCsvTable[i][item] + '\t'},`;
            }
            str += '\n';
        }
        //encodeURIComponent解決中文亂碼
        let uri = 'data:text/csv;charset=utf-8,\ufeff' + encodeURIComponent(str);
        //通過建立a標籤實現
        var link = document.createElement("a");
        link.href = uri;
        //對下載的檔案命名
        var dateString = $('#starTime').val().split(' ~ ');
        var startDay = dateString[0];
        var endDay = dateString[1];
        if (!endDay) {
            //如果沒有選擇結束日
            var csvName = "data_" + startDay;
        } else {
            var csvName = "data_" + startDay + '_' + endDay;
        }
        link.download = csvName + ".csv";
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }
    //== 轉換顯示數字 ==
    //四捨五入到小數點第三位
    //在 乘 1
    function numToShow(num) {
        var numTxt = Math.round(num * 1000) / 1000;
        numTxt = numTxt * 1;
        return numTxt;
    }
</script>
<!-- <script src="https://apis.google.com/js/client.js?onload=authorize"></script> -->
<!-- <script>
        gapi.analytics.ready(function () {

            // Step 3: Authorize the user.
            var CLIENT_ID = '909363902602-dgfnn68b7pmblbe1cts3segghap131nb.apps.googleusercontent.com';

            gapi.analytics.auth.authorize({
                container: 'auth-button',
                clientid: CLIENT_ID,
            });

            // Step 4: Create the view selector.

            var viewSelector = new gapi.analytics.ViewSelector({
                container: 'view-selector'
            });

            // Step 5: Create the timeline chart.

            var timeline = new gapi.analytics.googleCharts.DataChart({
                reportType: 'ga',
                query: {
                    'dimensions': 'ga:date',
                    'metrics': 'ga:sessions',
                    'start-date': '30daysAgo',
                    'end-date': 'yesterday',
                },
                chart: {
                    type: 'LINE',
                    container: 'timeline',
                    // options: {
                    //     width: '100%'
                    // }
                }
            });

            // Step 6: Hook up the components to work together.

            gapi.analytics.auth.on('success', function (response) {
                viewSelector.execute();
            });

            viewSelector.on('change', function (ids) {
                var newIds = {
                    query: {
                        ids: ids
                    }
                }
                timeline.set(newIds).execute();
            });
        });
    </script> -->
