﻿@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "數位遊戲管理";
    ViewBag.Title2 = "新增遊戲";
}

<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 800px; /* Could be more or less, depending on screen size */
    }
</style>

<h1>@ViewBag.Title</h1>

<h2>@ViewBag.Title2</h2>
<form action="@Url.Action("AddGame")" method="post" id="form" novalidate="novalidate">
    @*防偽造*@
    @Html.AntiForgeryToken()
    <div class="input-box input-box-w">
        <label for="url">呈現方式</label>
        <div class="check-list" id="linkStyleBox">
            <label for="link">
                <input type="radio" name="url" id="link" title="至少選擇一個" value="1" checked="" class="required">
                <div class="radio-box"></div>
                <span>外連</span>
            </label>
            <label for="video">
                <input type="radio" name="url" id="video" title="至少選擇一個" value="2" class="radio-box required">
                <div class="radio-box"></div>
                <span>影片</span>
            </label>
        </div>
    </div>

    <div class="input-box">
        <label for="name">遊戲名稱</label>
        <input type="text" class="input-sty required" name="name" id="name" value="">
    </div>
    <div class="input-box input-box-en">
        <label for="nameEn">遊戲名稱(英)</label>
        <input type="text" class="input-sty" name="nameEn" id="nameEn" value="">
    </div>

    <div class="linkStyle1">
        <div class="input-box">
            <label for="uploadpic1">圖片</label>
            <div class="note">圖像尺寸 1000 × 600，支援jpg、gif、png等格式 </div>
            <div class="upload-img">
                <div class="head-box upload-box-sty">
                    <input type="file" name="uploadpic1" id="uploadpic1" class="upload-pic required"
                           onchange="initcrop(1);" onclick="this.value=null;">
                    <div id="previews1" class="upload-click-area" onclick="upload_click(this)">
                        <img id="cropimg1" src="/img/default_src.jpg" alt="img1">
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="pic1" id="pic1" value="" />

        <div class="input-box input-box-en">
            <label for="uploadpic2">圖片(英)</label>
            <div class="note">圖像尺寸 1000 × 600，支援jpg、gif、png等格式 </div>
            <div class="upload-img">
                <div class="head-box upload-box-sty">
                    <input type="file" id="uploadpic2" name="uploadpic2" class="upload-pic" onchange="initcrop(2);" onclick="this.value=null;">
                    <div class="del-photo" title="刪除" alt="刪除" onclick="delpic('cropimg2','pic2_del')"></div>
                    <div id="previews2" class="upload-click-area" onclick="upload_click(this)">
                        <img id="cropimg2" src="/img/default_src.jpg" alt="img2">
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="pic2" id="pic2" value="" />
        <input type="hidden" name="pic2_del" id="pic2_del" value="0" />
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <a id="cropit" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;"><i class="fa fa-chevron-left"></i>裁切</a>
            <a id="cropmove" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;margin-left:65px;"><i class="fa fa-arrows-alt"></i></a>
            <a id="cropcut" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;margin-left:105px;"><i class="fa fa-crop-alt"></i></a>
            <a id="closeit" href="#" class="btn btn-cancel" style="margin-left:762px;"><i class="fa fa-window-close"></i></a>
            <div id="cropper-example-2" style="height:800px;width:800px;">
                <img id="orimg" alt="Picture" />
            </div>
        </div>
    </div>


    <div class="input-box">
        <label for="gamePdfZh">PDF檔案</label>
        <div class="file-upload-box">
            <div class="btn btn-submit">
                <i class="fas fa-cloud-upload-alt"></i> 上傳檔案
                <input type="file" name="gamePdfZh" id="gamePdfZh" accept=".pdf">
            </div>
            <div class="file-name" id="gamePdfZhName"></div>
        </div>
    </div>

    <input type="hidden" name="pdf1" id="pdf1" value="" />
    <input type="hidden" name="pdfname1" id="pdfname1" value="" />

    <div class="input-box input-box-en">
        <label for="gamePdfEn">PDF檔案(英)</label>
        <div class="file-upload-box">
            <div class="btn btn-submit">
                <i class="fas fa-cloud-upload-alt"></i> 上傳檔案
                <input type="file" name="gamePdfEn" id="gamePdfEn" accept=".pdf">
            </div>
            <div class="file-name" id="gamePdfEnName"></div>
        </div>
    </div>

    <input type="hidden" name="pdf2" id="pdf2" value="" />
    <input type="hidden" name="pdfname2" id="pdfname2" value="" />

    <div class="input-box input-box-w">
        <label for="editor">簡述</label>
        <textarea name="editor" id="editor" placeholder="簡述說明..." class="input-sty desc-info required"></textarea>
    </div>
    <div class="input-box input-box-w input-box-en">
        <label for="editorEn">簡述(英)</label>
        <textarea name="editorEn" id="editorEn" placeholder="簡述說明..." class="input-sty desc-info"></textarea>
    </div>

    <div class="linkStyle1">
        <div class="input-box">
            <label for="outLink">外部連結</label>
            <input type="text" class="input-sty required" name="outLink" id="outLink" value="">
        </div>
        <div class="input-box input-box-en">
            <label for="outLinkEn">外部連結(英)</label>
            <input type="text" class="input-sty" name="outLinkEn" id="outLinkEn" value="">
        </div>
    </div>

    <div class="linkStyle2" style="display: none;">
        <div class="input-box">
            <label for="heroVideo">youtube影片</label>
            <span>https://www.youtube.com/embed/</span>
            <input type="text" name="heroVideo" id="heroVideo" class="input-sty required w150" value="">
        </div>
        <div class="input-box input-box-en">
            <label for="heroVideoEn">youtube影片(英)</label>
            <span>https://www.youtube.com/embed/</span>
            <input type="text" name="heroVideoEn" id="heroVideoEn" class="input-sty w150" value="">
        </div>
    </div>


    <div class="input-box">
        <label for="show">是否顯示</label>
        <div class="check-list">
            <label for="yes">
                <input type="radio" name="show" value="1" id="yes" title="至少選擇一個" checked="" class="required">
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="no">
                <input type="radio" name="show" value="2" id="no" title="至少選擇一個" class="radio-box required">
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <div class="input-box input-box-en">
        <label for="show">是否顯示(英)</label>
        <div class=" check-list">
            <label for="yesEn">
                <input type="radio" name="showEn" id="yesEn" value="1" title="至少選擇一個" checked="" class="required">
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="noEn">
                <input type="radio" name="showEn" id="noEn" value="2" title="至少選擇一個" class="radio-box required">
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <div class="btn-area">
        <a href="@Url.Action("GameList")" class="btn btn-cancel"><i class="fa fa-chevron-left"></i> 取消</a>
        <div class="btn btn-submit">
            <i class="fa fa-check"></i> 確認送出
            <input type="submit" class="btn">
        </div>
    </div>
</form>


<script type="text/javascript">
    $(function () {
        var message = '@ViewBag.Error';
        if (message == "完成") {
            alert("完成");
            top.location.href = "@Url.Action("GameList")";
        } else if (message.length > 0) {
            alert('@ViewBag.Error');
        } else {
            var validator = $("#form").validate({
                invalidHandler: function (event, validator) {
                    if (document.getElementById('uploadpic1').value == "" && tempuploadpic['uploadpic1'])
                        document.getElementById('uploadpic1').value = tempuploadpic['uploadpic1'];
                },
                submitHandler: function (form) {
                    if (document.getElementById('gamePdfZh').files.length > 0) {
                        getFile(document.getElementById('gamePdfZh').files[0]).then((customJsonFile) => {
                            //customJsonFile is your newly constructed file.
                            $('#pdf1').val(customJsonFile["base64StringFile"]);
                            $('#pdfname1').val(customJsonFile["fileName"]);

                            if (document.getElementById('gamePdfEn').files.length > 0) {
                                getFile(document.getElementById('gamePdfEn').files[0]).then((customJsonFile) => {
                                    //customJsonFile is your newly constructed file.
                                    $('#pdf2').val(customJsonFile["base64StringFile"]);
                                    $('#pdfname2').val(customJsonFile["fileName"]);
                                    form.submit();
                                });
                            } else {
                                //resetForm();
                                form.submit();
                            }
                        });
                    } else {
                        //resetForm();
                        form.submit();
                    }
                }
            });
        }

        $('#link,#video').on('change', function () {
            var chItem = $('#linkStyleBox').find('input:checked').val();
            console.log(chItem);
            if (chItem == 1) {
                $('.linkStyle1').show();
                $('.linkStyle2').hide();
            } else {
                $('.linkStyle1').hide();
                $('.linkStyle2').show();
            }
        });

        //編輯器
        var editor = CKEDITOR.replace('editor', {
            removePlugins: 'flash,cloudservices',
            extraPlugins: 'embed,autoembed',
            height: 500,
            filebrowserImageUploadUrl: '/Backend/ImageUpload',
            filebrowserBrowseUrl: '@Url.Content("~/js/Filemanager/index.html")',
            filebrowserUploadMethod: 'form',

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [
                'https://cdn.ckeditor.com/4.14.0/full-all/contents.css',
                //'https://ckeditor.com/docs/vendors/4.14.0/ckeditor/assets/css/widgetstyles.css'
            ],
            // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
            image2_disableResizer: true
        });
        var editorEn = CKEDITOR.replace('editorEn', {
            removePlugins: 'flash,cloudservices',
            extraPlugins: 'embed,autoembed',
            height: 500,
            filebrowserImageUploadUrl: '/Backend/ImageUpload',
            filebrowserBrowseUrl: '@Url.Content("~/js/Filemanager/index.html")',
            filebrowserUploadMethod: 'form',

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [
                'https://cdn.ckeditor.com/4.14.0/full-all/contents.css',
                //'https://ckeditor.com/docs/vendors/4.14.0/ckeditor/assets/css/widgetstyles.css'
            ],
            // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
            image2_disableResizer: true
        });
    });

    var uploadpic;
    var tempuploadpic = [];
    var image;
    var modal;
    var cropper;
    var _index;

    function initcrop(index) {
        _index = index;

        uploadpic = document.getElementById('uploadpic' + _index);

        image = document.getElementById('orimg');
        modal = document.getElementById("myModal");

        $('#cropit').on('click', function () {
            var croppedImageDataURL = cropper.getCroppedCanvas({ width: 1000, height: 600 }).toDataURL("image/png");
            $('#cropimg' + _index).attr('src', croppedImageDataURL);
            $('#pic' + _index).val(croppedImageDataURL);

            cropper.destroy();
            image.src = '';
            try {
                document.getElementById('pic' + _index + '_del').value = "0";
            } catch (e) { }
            tempuploadpic['uploadpic' + _index] = uploadpic.value;
            modal.style.display = "none";
        });
        $('#cropmove').on('click', function () {
            cropper.setDragMode("move");
        });

        $('#cropcut').on('click', function () {
            cropper.setDragMode("crop");
        });

        $('#closeit').on('click', function () {
            cropper.destroy();
            image.src = '';
            modal.style.display = "none";
        });

        if (uploadpic.files && uploadpic.files[0]) {
            if (uploadpic.files[0].type.match(/^image\//)) {
                var reader = new FileReader();
                reader.onload = function (evt) {
                    image.src = evt.target.result;
                    cropper = new Cropper(image, {
                        aspectRatio: 1.67 / 1,
                        viewMode: 1,
                        crop(event) {
                            console.log(event.detail.x);
                            console.log(event.detail.y);
                            console.log(event.detail.width);
                            console.log(event.detail.height);
                            console.log(event.detail.rotate);
                            console.log(event.detail.scaleX);
                            console.log(event.detail.scaleY);
                        },
                    });
                    modal.style.display = "block";
                };
                reader.readAsDataURL(uploadpic.files[0]);
            }
            else {
                alert("Invalid file type! Please select an image file.");
            }
        }
        else {
            alert('No file(s) selected.');
        }
    }

    function delpic(pic, del) {
        document.getElementById(pic).src = "";
        document.getElementById(del).value = "1";
    }
</script>
