﻿@using PagedList.Mvc;
@using PagedList;
@model IPagedList<DataAccess.Domain.GameListDomainViewModel>

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "數位遊戲管理";
    ViewBag.Title2 = "數位遊戲列表";
    ViewBag.Action = "GameList";
}


<h1>@ViewBag.Title</h1>
<h2>@ViewBag.Title2</h2>
<div class="input-box input-box-w">
    <a href="@Url.Action("GameAdd")" class="btn btn-submit">
        <i class="fas fa-plus"></i>
        新增遊戲
    </a>
</div>
<!-- <div class="search-signle">
    <form method="get" action="" id="">
        <div class="search-ui-box">
            <label for="sort">
                <span>排序：</span>
            </label>
            <select type="text" name="sort" id="sort" class="select-sty w150">
                <option value="sort1" selected>筆畫排序</option>
                <option value="sort2">新到舊排序</option>
            </select>
        </div>
        <div class="search-ui-box">
            <label for="userKeyWord">
                <span>關鍵字：</span>
            </label>
            <input type="text" name="userKeyWord" id="keyWord" value="" class="input-sty w250">
        </div>
        <div class="btn-area">
            <div class="btn btn-submit">
                <i class="fas fa-search"></i>
                搜尋
                <input type="submit">
            </div>
        </div>
    </form>
</div> -->

<form id="editgame" action="@Url.Action("GameEdit")" method="post">
    <input type="hidden" name="gameEdit" id="gameEdit" value="" />
</form>

<ul class="list">
    <li class="title">
        <div class="group-box-83">
            <div class="box-50">名稱</div>
            <div class="box-10 txt-c">狀態</div>
            <div class="box-10 txt-c">狀態(英)</div>
            <div class="box-15">建立時間</div>
        </div>
        <div class="group-box-15 opera">操作</div>
    </li>

    @if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
    <li>
        <a href="javascript:editGame('@item.Gid', @item.Kind)" class="group-box-83" title="編輯" alt="編輯">
            <div class="box-50">@item.Name</div>
            @if (item.Display == 1)
            {
                <div class="box-10 txt-c" title="顯示" alt="顯示">
                    <i class="fad fa-eye blue"></i>
                </div>
            }
            else
            {
                <div class="box-10 txt-c" title="不顯示" alt="不顯示">
                    <i class="fad fa-eye-slash red"></i>
                </div>
            }
            @if (item.Display_en == 1)
            {
                <div class="box-10 txt-c" title="顯示" alt="顯示">
                    <i class="fad fa-eye blue"></i>
                </div>
            }
            else
            {
                <div class="box-10 txt-c" title="不顯示" alt="不顯示">
                    <i class="fad fa-eye-slash red"></i>
                </div>
            }
            <div class="box-15">@item.CreateTime.ToString("yyyy/MM/dd")</div>
        </a>
        <div class="group-box-15 opera">
            <a href="javascript:editGame('@item.Gid', @item.Kind)" title="編輯" alt="編輯">
                <i class="fad fa-pen-square"></i>
            </a>
            <a href="javascript:delGame('@item.Gid')" title="刪除" alt="刪除">
                <i class="fad fa-times-square"></i>
            </a>
        </div>
    </li>
        }
    }
</ul>
@if (Model != null && Model.Count > 0)
{
    <div class="pagination">
        <div class="pagination-numbers">
            <a href="javascript:getPage(1)" title="第一頁">
                <i class="fas fa-arrow-to-left"></i>
            </a>

            <a href="javascript:getPage(@Model.PageNumber > 1 ? @Model.PageNumber - 1 : @Model.PageNumber)" title="上一頁">
                <i class="fas fa-arrow-left"></i>
            </a>

            @for (int i = (Model.PageNumber % 5); i <= (Model.PageCount > 5 ? (Model.PageNumber % 5) * 5 : Model.PageCount); i++)
            {
                if (Model.PageNumber == i)
                {
                    <a href="javascript:getPage(@i)" class="act">@i</a>
                }
                else
                {
                    <a href="javascript:getPage(@i)">@i</a>
                }
            }

            <a href="javascript:getPage(@Model.PageNumber==@Model.PageCount?@Model.PageNumber:@Model.PageNumber+1)" title="下一頁">
                <i class="fas fa-arrow-right"></i>
            </a>
            <a href="javascript:getPage(@Model.PageCount)" title="最後頁">
                <i class="fas fa-arrow-to-right"></i>
            </a>

        </div>
    </div>
}

<script>
    var globalkeyword = "@ViewBag.Key";

    function changeKey(key) {
        globalkeyword = key;
    }

    function getPage(page) {
        var headers = {};
        var data = {};
        data.action = "@ViewBag.Action";
        data.key = globalkeyword;
        data.page = page;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("getPage")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                //alert(result["PageNumber"]);
                $(".list").empty();
                $(".list").append('<li class="title">< div class= "group-box-83"><div class="box-50">名稱</div><div class="box-10 txt-c">狀態</div><div class="box-10 txt-c">狀態(英)</div><div class="box-15">建立時間</div></div ><div class="group-box-15 opera">操作</div></li >');
                //result["Lists"][i]["Account"]
                for (var i = 0; i < result["Lists"].length; i++) {
                    $(".list").append('<li><a href="javascript:editGame("' + result["Lists"][i]["Gid"] + '", ' + result["Lists"][i]["Kind"] + ')" class="group-box-83" title="編輯" alt="編輯">' +
                        '<div class="box-50">' + result["Lists"][i]["Name"] + '</div>');
            if (result["Lists"][i]["Display"] == 1)
            {
                $(".list").append('<div class="box-10 txt-c" title="顯示" alt="顯示"><i class="fad fa-eye blue"></i></div>');
            }
            else
            {
                $(".list").append('<div class="box-10 txt-c" title="不顯示" alt="不顯示"><i class="fad fa-eye-slash red"></i></div>');
            }

            if (result["Lists"][i]["Display_en"] == 1)
            {
                $(".list").append('<div class="box-10 txt-c" title="顯示" alt="顯示"><i class="fad fa-eye blue"></i></div>');
            }
            else
            {
                $(".list").append('<div class="box-10 txt-c" title="不顯示" alt="不顯示"><i class="fad fa-eye-slash red"></i></div>');
            }

            $(".list").append('<div class="box-15">' + result["Lists"][i]["CreateTime"] + '</div>'+
        '</a><div class="group-box-15 opera"><a href="javascript:editGame("' + result["Lists"][i]["Gid"] + '", ' + result["Lists"][i]["Kind"] + ')" title="編輯" alt="編輯">'+
                '<i class="fad fa-pen-square"></i></a><a href="javascript:delGame(' + result["Lists"][i]["Gid"] + ')" title="刪除" alt="刪除">'+
                '<i class="fad fa-times-square"></i></a></div></li>');
                }

                $('.pagination-numbers').empty();

                $('.pagination-numbers').append('<a href="javascript:getPage(1)" title="第一頁"><i class="fas fa-arrow-to-left"></i></a>');
                $('.pagination-numbers').append('<a href="javascript:getPage(' + (result["PageNumber"] > 1 ? result["PageNumber"] - 1 : result["PageNumber"]) + ')" title="上一頁"><i class= "fas fa-arrow-left" ></i ></a >');

                var pageMin = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 1;
                var pageMax = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 5;

                if (parseInt(result["PageCount"]) < pageMax) {
                    pageMax = parseInt(result["PageCount"]);
                }

                for (var i = pageMin; i <= pageMax; i++) {
                    if (result["PageNumber"] == i) {
                        $('.pagination-numbers').append('<a href="javascript:getPage(' + i + ')" class="act">' + i + '</a>');
                    }
                    else {
                        $('.pagination-numbers').append('<a href="javascript:getPage(' + i + ')">' + i + '</a>');
                    }
                }

                $('.pagination-numbers').append('<a href="javascript:getPage(' + (result["PageNumber"] == result["PageCount"] ? result["PageNumber"] : result["PageNumber"] + 1) + ')" title="下一頁"><i class="fas fa-arrow-right"></i></a>');
                $('.pagination-numbers').append('<a href="javascript:getPage(' + result["PageCount"] + ')" title="最後頁"><i class="fas fa-arrow-to-right"></i></a>');
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }

    function delGame(gid) {
        if (confirm("您確定要刪除此數位遊戲嗎?")) {
            var headers = {};
            var data = {};
            data.action = "@ViewBag.Action";
            data.data = gid;

            $.ajax({
                type: "POST",
                data: data,
                headers: headers,
                url: '@Url.Action("delData")',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (result) {
                    if (result["Code"] == 1) {
                        alert("刪除成功");
                        top.location.reload();
                    } else {
                        alert("刪除失敗");
                    }
                },
                error: function (xhr, ajaxOption, thrownError) {
                    alert(xhr.responseText);
                }
            });
        }
    }

    function editGame(gid, kind) {
        if (kind == 1 || kind == 2) {
            $("#editgame").attr("action", "@Url.Action("GameEdit")");
        }  else if (kind == 3) {
            $("#editgame").attr("action", "@Url.Action("GameEdit3")");
        }
        $("#gameEdit").val(gid);
        $("#editgame").submit();
    }
</script>
