﻿@model VirtualMuseum.Models.Backend.Game3ViewModel

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "標籤群組管理";
    ViewBag.Title2 = "編輯遊戲";
}

<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 800px; /* Could be more or less, depending on screen size */
    }
</style>

<h1>@ViewBag.Title</h1>

<h2>@ViewBag.Title2</h2>
<form action="@Url.Action("EditGame3")" id="form" enctype="multipart/form-data" method="post">
    @*防偽造*@
    @Html.AntiForgeryToken()
    <input type="hidden" name="Gid" id="Gid" value="@Model.Gid" />
    <div class="input-box">
        <label for="name">遊戲名稱</label>
        <input type="text" class="input-sty required" name="name" id="name" value="@Model.name">
    </div>
    <div class="input-box input-box-en">
        <label for="nameEn">遊戲名稱(英)</label>
        <input type="text" class="input-sty" name="nameEn" id="nameEn" value="@Model.nameEn">
    </div>

    <div class="input-box">
        <label for="name">連結</label>
        <p>@(Model.Gameurl_tw.Length > 0 ? string.Format("{0}", Model.Gameurl_tw):string.Empty)</p>
    </div>
    <div class="input-box input-box-en">
        <label for="nameEn">連結(英)</label>
        <p>@(Model.Gameurl_tw.Length > 0 ? string.Format("{0}", Model.Gameurl_en):string.Empty)</p>
    </div>

    <div class="input-box">
        <label for="uploadpic1">圖片</label>
        <div class="note">圖像尺寸 1000 × 600，支援jpg、gif、png等格式 </div>
        <div class="upload-img">
            <div class="head-box upload-box-sty">
                <input type="file" name="uploadpic1" id="uploadpic1" class="upload-pic"
                       onchange="initcrop(1);" onclick="this.value=null;">
                <div id="previews1" class="upload-click-area" onclick="upload_click(this)">
                    <img id="cropimg1" src="@(Model.Pic_tw==null||Model.Pic_tw.Length<=0?"/img/default_src.jpg":Model.Pic_tw)" alt="img1">
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="pic1" id="pic1" value="" />

    <div class="input-box input-box-en">
        <label for="uploadpic2">圖片(英)</label>
        <div class="note">圖像尺寸 1000 × 600，支援jpg、gif、png等格式 </div>
        <div class="upload-img">
            <div class="head-box upload-box-sty">
                <input type="file" id="uploadpic2" name="uploadpic2" class="upload-pic" onchange="initcrop(2);" onclick="this.value=null;">
                <div class="del-photo" title="刪除" alt="刪除" onclick="delpic('cropimg2','pic2_del')"></div>
                <div id="previews2" class="upload-click-area" onclick="upload_click(this)">
                    <img id="cropimg2" src="@(Model.Pic_en==null||Model.Pic_en.Length<=0?"/img/default_src.jpg":Model.Pic_en)" alt="img2">
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="pic2" id="pic2" value="" />
    <input type="hidden" name="pic2_del" id="pic2_del" value="0" />

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <a id="cropit" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;"><i class="fa fa-chevron-left"></i>裁切</a>
            <a id="cropmove" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;margin-left:65px;"><i class="fa fa-arrows-alt"></i></a>
            <a id="cropcut" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;margin-left:105px;"><i class="fa fa-crop-alt"></i></a>
            <a id="closeit" href="#" class="btn btn-cancel" style="margin-left:762px;"><i class="fa fa-window-close"></i></a>
            <div id="cropper-example-2" style="height:800px;width:800px;">
                <img id="orimg" alt="Picture" />
            </div>
        </div>
    </div>

    <div class="input-box">
        <label for="gameZh">遊戲檔案</label>
        <div class="file-upload-box">
            <div class="btn btn-submit">
                <i class="fas fa-cloud-upload-alt"></i> 上傳檔案
                <input type="file" name="gameZh" id="gameZh" accept=".zip">
            </div>
            <div class="file-name" id="gameZhName"></div>
        </div>
    </div>

    <input type="hidden" name="zip1" id="zip1" value="" />
    <input type="hidden" name="filename1" id="filename1" value="" />

    <div class="input-box input-box-en">
        <label for="gameEn">遊戲檔案(英)</label>
        <div class="file-upload-box">
            <div class="btn btn-submit">
                <i class="fas fa-cloud-upload-alt"></i> 上傳檔案
                <input type="file" name="gameEn" id="gameEn" accept=".zip">
            </div>
            <div class="file-name" id="gameEnName"></div>
        </div>
    </div>

    <input type="hidden" name="zip2" id="zip2" value="" />
    <input type="hidden" name="filename2" id="filename2" value="" />

    <input type="hidden" name="Coid" id="Coid" value="@Model.Gid" />

    <div class="input-box">
        <label for="gamePdfZh">PDF檔案</label>
        <div class="note">請使用PDF檔案格式</div>
        <div class="note">
            @Model.Pdf_tw
            @if (Model.Pdf_tw != null && Model.Pdf_tw.Length > 0)
            {
                <div class="btn btn-function" onclick="delGamePdf('zh')">
                    <i class="fas fa-trash-alt"></i> 刪除
                </div>
            }
        </div>
        <div class="file-upload-box">
            <div class="btn btn-submit">
                <i class="fas fa-cloud-upload-alt"></i> 上傳檔案
                <input type="file" name="gamePdfZh" id="gamePdfZh" accept=".pdf">
            </div>
            <div class="file-name" id="gamePdfZhName"></div>
        </div>
    </div>

    <input type="hidden" name="pdf1" id="pdf1" value="" />
    <input type="hidden" name="pdfname1" id="pdfname1" value="" />

    <div class="input-box input-box-en">
        <label for="gamePdfEn">PDF檔案(英)</label>
        <div class="note">請使用PDF檔案格式</div>
        <div class="note">
            @Model.Pdf_en
            @if (Model.Pdf_en != null && Model.Pdf_en.Length > 0)
            {
                <div class="btn btn-function" onclick="delGamePdf('en')">
                    <i class="fas fa-trash-alt"></i> 刪除
                </div>
            }
        </div>
        <div class="file-upload-box">
            <div class="btn btn-submit">
                <i class="fas fa-cloud-upload-alt"></i> 上傳檔案
                <input type="file" name="gamePdfEn" id="gamePdfEn" accept=".pdf">
            </div>
            <div class="file-name" id="gamePdfEnName"></div>
        </div>
    </div>

    <input type="hidden" name="pdf2" id="pdf2" value="" />
    <input type="hidden" name="pdfname2" id="pdfname2" value="" />

    <div class="input-box input-box-w">
        <label for="editor">簡述</label>
        <textarea name="editor" id="editor" placeholder="簡述說明..."
                  class="input-sty desc-info required">@Model.editor</textarea>
    </div>
    <div class="input-box input-box-w input-box-en">
        <label for="editorEn">簡述(英)</label>
        <textarea name="editorEn" id="editorEn" placeholder="簡述說明..." class="input-sty desc-info">@Model.editorEn</textarea>
    </div>

    <div class="input-box">
        <label for="show">是否顯示</label>
        <div class="check-list">
            <label for="yes">
                @if (Model.Display_tw == 1)
                {
                    <input type="radio" name="show" id="yes" value="1" title="至少選擇一個" checked class="required">
                }
                else
                {
                    <input type="radio" name="show" id="yes" value="1" title="至少選擇一個" class="required">
                }
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="no">
                @if (Model.Display_tw == 2)
                {
                    <input type="radio" name="show" id="no" value="2" title="至少選擇一個" checked class="radio-box required">
                }
                else
                {
                    <input type="radio" name="show" id="no" value="2" title="至少選擇一個" class="radio-box required">
                }
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <div class="input-box input-box-en">
        <label for="show">是否顯示(英)</label>
        <div class=" check-list">
            <label for="yesEn">
                @if (Model.Display_en == 1)
                {
                    <input type="radio" name="showEn" id="yesEn" value="1" title="至少選擇一個" checked class="required">
                }
                else
                {
                    <input type="radio" name="showEn" id="yesEn" value="1" title="至少選擇一個" class="required">
                }
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="noEn">
                @if (Model.Display_en == 2)
                {
                    <input type="radio" name="showEn" id="noEn" value="2" title="至少選擇一個" checked class="radio-box required">
                }
                else
                {
                    <input type="radio" name="showEn" id="noEn" value="2" title="至少選擇一個" class="radio-box required">
                }
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <div class="btn-area">
        <a href="@Url.Action("GameList")" class="btn btn-cancel"><i class="fa fa-chevron-left"></i> 取消</a>
        <div class="btn btn-submit">
            <i class="fa fa-check"></i> 確認送出
            <input type="submit" class="btn">
        </div>
    </div>
</form>

<!-- 此為表單驗證用，注意需更改#name與標單的id相同 -->
<script type="text/javascript">
    $(function () {
        var message = '@ViewBag.Error';
        if (message == "完成") {
            alert("完成");
            top.location.href = "@Url.Action("GameList")";
        } else if (message.length > 0) {
            alert('@ViewBag.Error');
        } else {
            var validator = $("#form").validate({
                submitHandler: function (form) {
                    if (document.getElementById('gameZh').files.length > 0) {
                        getFile(document.getElementById('gameZh').files[0]).then((customJsonFile) => {
                            //customJsonFile is your newly constructed file.
                            $('#zip1').val(customJsonFile["base64StringFile"]);
                            $('#filename1').val(customJsonFile["fileName"]);

                            if (document.getElementById('gamePdfZh').files.length > 0) {
                                getFile(document.getElementById('gamePdfZh').files[0]).then((customJsonFile) => {
                                    //customJsonFile is your newly constructed file.
                                    $('#pdf1').val(customJsonFile["base64StringFile"]);
                                    $('#pdfname1').val(customJsonFile["fileName"]);

                                    if (document.getElementById('gameEn').files.length > 0) {
                                        getFile(document.getElementById('gameEn').files[0]).then((customJsonFile) => {
                                            $('#zip2').val(customJsonFile["base64StringFile"]);
                                            $('#filename2').val(customJsonFile["fileName"]);

                                            if (document.getElementById('gamePdfEn').files.length > 0) {
                                                getFile(document.getElementById('gamePdfEn').files[0]).then((customJsonFile) => {
                                                    $('#pdf2').val(customJsonFile["base64StringFile"]);
                                                    $('#pdfname2').val(customJsonFile["fileName"]);

                                                    form.submit();
                                                });
                                            } else {
                                                form.submit();
                                            }
                                        });
                                    } else {
                                        form.submit();
                                    }
                                });
                            } else {
                                form.submit();
                            }
                        });
                    } else {
                        if (document.getElementById('gamePdfZh').files.length > 0) {
                            getFile(document.getElementById('gamePdfZh').files[0]).then((customJsonFile) => {
                                //customJsonFile is your newly constructed file.
                                $('#pdf1').val(customJsonFile["base64StringFile"]);
                                $('#pdfname1').val(customJsonFile["fileName"]);

                                if (document.getElementById('gameEn').files.length > 0) {
                                    getFile(document.getElementById('gameEn').files[0]).then((customJsonFile) => {
                                        $('#zip2').val(customJsonFile["base64StringFile"]);
                                        $('#filename2').val(customJsonFile["fileName"]);

                                        if (document.getElementById('gamePdfEn').files.length > 0) {
                                            getFile(document.getElementById('gamePdfEn').files[0]).then((customJsonFile) => {
                                                $('#pdf2').val(customJsonFile["base64StringFile"]);
                                                $('#pdfname2').val(customJsonFile["fileName"]);

                                                form.submit();
                                            });
                                        } else {
                                            form.submit();
                                        }
                                    });
                                } else {
                                    form.submit();
                                }
                            });
                        } else {
                            if (document.getElementById('gameEn').files.length > 0) {
                                getFile(document.getElementById('gameEn').files[0]).then((customJsonFile) => {
                                    $('#zip2').val(customJsonFile["base64StringFile"]);
                                    $('#filename2').val(customJsonFile["fileName"]);

                                    if (document.getElementById('gamePdfEn').files.length > 0) {
                                        getFile(document.getElementById('gamePdfEn').files[0]).then((customJsonFile) => {
                                            $('#pdf2').val(customJsonFile["base64StringFile"]);
                                            $('#pdfname2').val(customJsonFile["fileName"]);

                                            form.submit();
                                        });
                                    } else {
                                        form.submit();
                                    }
                                });
                            } else {
                                if (document.getElementById('gamePdfEn').files.length > 0) {
                                    getFile(document.getElementById('gamePdfEn').files[0]).then((customJsonFile) => {
                                        $('#pdf2').val(customJsonFile["base64StringFile"]);
                                        $('#pdfname2').val(customJsonFile["fileName"]);

                                        form.submit();
                                    });
                                } else {
                                    form.submit();
                                }
                            }
                        }
                    }
                }
            });
        }
        //編輯器
        var editor = CKEDITOR.replace('editor', {
            removePlugins: 'flash,cloudservices',
            extraPlugins: 'embed,autoembed',
            height: 500,
            filebrowserImageUploadUrl: '/Backend/ImageUpload',
            filebrowserBrowseUrl: '@Url.Content("~/js/Filemanager/index.html")',
            filebrowserUploadMethod: 'form',

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [
                'https://cdn.ckeditor.com/4.14.0/full-all/contents.css',
                //'https://ckeditor.com/docs/vendors/4.14.0/ckeditor/assets/css/widgetstyles.css'
            ],
            // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
            image2_disableResizer: true
        });
        var editorEn = CKEDITOR.replace('editorEn', {
            removePlugins: 'flash,cloudservices',
            extraPlugins: 'embed,autoembed',
            height: 500,
            filebrowserImageUploadUrl: '/Backend/ImageUpload',
            filebrowserBrowseUrl: '@Url.Content("~/js/Filemanager/index.html")',
            filebrowserUploadMethod: 'form',

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [
                'https://cdn.ckeditor.com/4.14.0/full-all/contents.css',
                //'https://ckeditor.com/docs/vendors/4.14.0/ckeditor/assets/css/widgetstyles.css'
            ],
            // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
            image2_disableResizer: true
        });
    });

    var uploadpic; var tempuploadpic;
    var image;
    var modal;
    var cropper;
    var _index;

    function initcrop(index) {
        _index = index;

        uploadpic = document.getElementById('uploadpic' + _index);

        image = document.getElementById('orimg');
        modal = document.getElementById("myModal");

        $('#cropit').on('click', function () {
            var croppedImageDataURL = cropper.getCroppedCanvas({ width: 1000, height: 600 }).toDataURL("image/png");
            $('#cropimg' + _index).attr('src', croppedImageDataURL);
            $('#pic' + _index).val(croppedImageDataURL);

            cropper.destroy();
            image.src = '';
            try {
                document.getElementById('pic' + _index + '_del').value = "0";
            } catch (e) {}
            tempuploadpic = uploadpic.value;
            modal.style.display = "none";
        });
        $('#cropmove').on('click', function () {
            cropper.setDragMode("move");
        });

        $('#cropcut').on('click', function () {
            cropper.setDragMode("crop");
        });

        $('#closeit').on('click', function () {
            cropper.destroy();
            image.src = '';
            modal.style.display = "none";
        });

        if (uploadpic.files && uploadpic.files[0]) {
            if (uploadpic.files[0].type.match(/^image\//)) {
                var reader = new FileReader();
                reader.onload = function (evt) {
                    image.src = evt.target.result;
                    cropper = new Cropper(image, {
                        aspectRatio: 1.67 / 1,
                        viewMode: 1,
                        crop(event) {
                            console.log(event.detail.x);
                            console.log(event.detail.y);
                            console.log(event.detail.width);
                            console.log(event.detail.height);
                            console.log(event.detail.rotate);
                            console.log(event.detail.scaleX);
                            console.log(event.detail.scaleY);
                        },
                    });
                    modal.style.display = "block";
                };
                reader.readAsDataURL(uploadpic.files[0]);
            }
            else {
                alert("Invalid file type! Please select an image file.");
            }
        }
        else {
            alert('No file(s) selected.');
        }
    }

    function delpic(pic, del) {
        document.getElementById(pic).src = "";
        document.getElementById(del).value = "1";
    }

    function delGamePdf(lang) {
        var headers = {};
        var data = {};
        data.Gid = '@Model.Gid';
        data.dellang = lang;

        if (confirm("您確定要刪除檔案嗎?")) {
            $.ajax({
                type: "POST",
                data: data,
                headers: headers,
                url: '@Url.Action("delGamePdf")',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (result) {
                    if (result == "1") {
                        alert("完成");
                        top.location.href = "@Url.Action("GameList", "Backend")";
                    } else {
                        alert("失敗");
                    }
                },
            });
        }
    }
</script>
