﻿@{
    ViewBag.Title = "Logon";
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="description">
    <link rel="shortcut icon" href="~/img/backend_img/favicon_backend.ico">
    <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.validate.js"></script><!-- 表單驗證 -->
    <script type="text/javascript" src="~/js/jquery.metadata.js"></script><!-- 用來判斷表單驗證的長度或數字的JS -->
    <script type="text/javascript" src="~/js/messages_zh_TW.js"></script>
    <script type="text/javascript" src="~/js/jquery.preload.js"></script>
    <link rel="stylesheet" href="~/css/backend.css">
    <link rel="stylesheet" href="~/css/all.min.css">
    <!--[if IE]>
        <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/css/font-awesome-ie7.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <title>臺灣文學虛擬博物館 管理後台</title>
</head>

<body>
    <div class="login-page-mask"></div>
    <div class="login-page-bg">
        <div class="loain-box">
            <form action="@Url.Action("Login")" method="post" name="login" id="login">
                @*防偽造*@
                @Html.AntiForgeryToken()
                <div class="login">
                    <div class="logo"></div>
                    <h1>臺灣文學虛擬博物館 後端平台管理系統</h1>
                    <div class="input-box">
                        <i class="fad fa-address-card"></i>
                        <input type="text" name="account" placeholder="Username" class="input-sty required" />
                    </div>
                    <div class="input-box">
                        <i class="fad fa-lock-alt"></i>
                        <input type="password" name="password" placeholder="Password" class="input-sty required" />
                    </div>
                    @if (ViewBag.Error != null)
                    {
                        <div class="login-error-mesg" style="display:block;">
                            <i class="fa fa-exclamation-circle"></i> @ViewBag.Error
                        </div>
                    }
                    else
                    {
                        <div class="login-error-mesg" style="display:none;">
                            <i class="fa fa-exclamation-circle"></i> @ViewBag.Error
                        </div>
                    }
                    <div class="login-btn-box">
                        <input type="submit" class="login-submit-btn" value="登入" />
                    </div>
                    <div class="login-footer">
                        © 2020 臺灣文學虛擬博物館
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        function gup(name) {
            var url = location.href;
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);
            var results = regex.exec(url);
            return results == null ? null : results[1];
        }

        $(function () {
            if (gup('Timeout')) {
                alert('您已被登出，請重新登入');
                top.location.href = '/Backend/Index';
            }

            var validator = $("#login").validate({
                submitHandler: function (form) {
                    $('.login-error-mesg').attr("style", "display:none;");
                    /*
                    var token = $('input[name=__RequestVerificationToken]').val();
                    var headers = {};
                    headers["__RequestVerificationToken"] = token;
                    var params = $(form).serializeObject();
                    $.ajax({
                        type: "POST",
                        data: params,
                        headers: headers,
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    });
                    */
                    form.submit();
                }
            });
        });
    </script>
</body>

</html>