﻿@model VirtualMuseum.Models.Backend.LiteraryViewModel

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "文學展示管理";
    ViewBag.Title2 = "編輯文學展示";
    ViewBag.Action = "LiteraryEdit";
}

<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 800px; /* Could be more or less, depending on screen size */
    }
</style>

<h1>@ViewBag.Title</h1>
<ol class="breadcrumb">
    <li><a href="@Url.Action("LiteraryList")">文學展示</a></li>
    <li class="active">
        <span>@Model.Title_tw</span>
    </li>
</ol>

<h2>@ViewBag.Title2</h2>

<form action="@Url.Action("EditLiterary")" id="form" enctype="multipart/form-data" method="post">
    @*防偽造*@
    @Html.AntiForgeryToken()

    <input type="hidden" name="LLid" id="LLid" value="@Model.LLid" />

    <div class="input-box">
        <label for="uploadpic3">主圖</label>
        <div class="note">圖像尺寸 500 × 500，支援jpg、gif、png等格式 </div>
        <div class="upload-img">
            <div class="head-box upload-box-sty">
                <input type="file" name="uploadpic3" id="uploadpic3" class="upload-pic"
                       onchange="initcrop(3);" onclick="this.value=null;">
                <div id="previews3" class="upload-click-area" onclick="upload_click(this)">
                    <img id="cropimg3" src="@(Model.Pic3==null||Model.Pic3.Length<=0?"/img/default_src.jpg":Model.Pic3)" alt="img3">
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="pic3" id="pic3" value="" />

    <div class="input-box input-box-en">
        <label for="uploadpic4">主圖(英)</label>
        <div class="note">圖像尺寸 500 × 500，支援jpg、gif、png等格式</div>
        <div class="upload-img">
            <div class="head-box upload-box-sty">
                <input type="file" name="uploadpic4" id="uploadpic4" class="upload-pic"
                       onchange="initcrop(4);" onclick="this.value=null;">
                <div class="del-photo" title="刪除" alt="刪除" onclick="delpic('cropimg4','pic4_del')"></div>
                <div id="previews4" class="upload-click-area" onclick="upload_click(this)">
                    <img id="cropimg4" src="@(Model.Pic4==null||Model.Pic4.Length<=0?"/img/default_src.jpg":Model.Pic4)" alt="img4">
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="pic4" id="pic4" value="" />
    <input type="hidden" name="pic4_del" id="pic4_del" value="0" />
    <!--
    <div class="input-box">
        <label for="uploadpic5">背景圖</label>
        <div class="note">圖像尺寸 1360 × 540，支援jpg、gif、png等格式 </div>
        <div class="upload-img">
            <div class="head-box upload-box-sty">
                <input type="file" name="uploadpic5" id="uploadpic5" class="upload-pic"
                       onchange="initcrop(5);" onclick="this.value=null;">
                <div class="del-photo" title="刪除" alt="刪除" onclick="delpic('cropimg5','pic5_del')"></div>
                <div id="previews5" class="upload-click-area" onclick="upload_click(this)">
                    <img id="cropimg5" src="@Model.Pic5" alt="img5">
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="pic5" id="pic5" value="" />
    <input type="hidden" name="pic5_del" id="pic5_del" value="0" />

    <div class="input-box input-box-en">
        <label for="uploadpic6">背景圖(英)</label>
        <div class="note">圖像尺寸 1360 × 540，支援jpg、gif、png等格式</div>
        <div class="upload-img">
            <div class="head-box upload-box-sty">
                <input type="file" name="uploadpic6" id="uploadpic6" class="upload-pic"
                       onchange="initcrop(6);" onclick="this.value=null;">
                <div class="del-photo" title="刪除" alt="刪除" onclick="delpic('cropimg6','pic6_del')"></div>
                <div id="previews6" class="upload-click-area" onclick="upload_click(this)">
                    <img id="cropimg6" src="@Model.Pic6" alt="img6">
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="pic6" id="pic6" value="" />
    <input type="hidden" name="pic6_del" id="pic6_del" value="0" />
    -->
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <a id="cropit" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;"><i class="fa fa-chevron-left"></i>裁切</a>
            <a id="cropmove" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;margin-left:65px;"><i class="fa fa-arrows-alt"></i></a>
            <a id="cropcut" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;margin-left:105px;"><i class="fa fa-crop-alt"></i></a>
            <a id="closeit" href="#" class="btn btn-cancel" style="margin-left:762px;"><i class="fa fa-window-close"></i></a>
            <div id="cropper-example-2" style="height:800px;width:800px;">
                <img id="orimg" alt="Picture" />
            </div>
        </div>
    </div>

    <div class="input-box input-box-w">
        <label for="title">*大標題</label>
        <input type=" text" class="input-sty required" name="title" id="title" value="@Model.Title_tw">
    </div>
    <div class="input-box input-box-w input-box-en">
        <label for="titleEn">大標題(英)</label>
        <input type="text" class="input-sty" name="titleEn" id="titleEn" value="@Model.Title_en">
    </div>
    <div class="input-box">
        <label for="supTitle1">*次標題(1)</label>
        <input type="text" class="input-sty required" name="supTitle1" id="supTitle1" value="@Model.Subtitle1_tw">
    </div>
    <div class="input-box input-box-en">
        <label for="supTitleEn1">次標題(1)(英)</label>
        <input type="text" class="input-sty" name="supTitleEn1" id="supTitleEn1" value="@Model.Subtitle1_en">
    </div>
    <div class="input-box">
        <label for="supTitle2">*次標題(2)</label>
        <input type="text" class="input-sty required" name="supTitle2" id="supTitle2" value="@Model.Subtitle2_tw">
    </div>
    <div class="input-box input-box-en">
        <label for="supTitleEn2">次標題(2)(英)</label>
        <input type="text" class="input-sty" name="supTitleEn2" id="supTitleEn2" value="@Model.Subtitle2_en">
    </div>

    <div class="input-box input-box-w">
        <label for="editor">內文</label>
        <textarea name="editor" id="editor" placeholder="內文說明..." class="input-sty desc-info">@Model.Content_tw</textarea>
    </div>

    <div class="input-box input-box-w input-box-en">
        <label for="editorEn">內文(英)</label>
        <textarea name="editorEn" id="editorEn" placeholder="內文說明..." class="input-sty desc-info">@Model.Content_en</textarea>
    </div>

    <div class="input-box">
        <label for="show">是否顯示</label>
        <div class="check-list">
            <label for="yes">
                @if (Model.Display_tw == 1)
                {
                    <input type="radio" name="show" id="yes" value="1" title="至少選擇一個" checked class="required">
                }
                else
                {
                    <input type="radio" name="show" id="yes" value="1" title="至少選擇一個" class="required">
                }
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="no">
                @if (Model.Display_tw == 2)
                {
                    <input type="radio" name="show" id="no" value="2" title="至少選擇一個" checked class="radio-box required">
                }
                else
                {
                    <input type="radio" name="show" id="no" value="2" title="至少選擇一個" class="radio-box required">
                }
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <div class="input-box input-box-en">
        <label for="show">是否顯示(英)</label>
        <div class=" check-list">
            <label for="yesEn">
                @if (Model.Display_en == 1)
                {
                    <input type="radio" name="showEn" id="yesEn" value="1" title="至少選擇一個" checked class="required">
                }
                else
                {
                    <input type="radio" name="showEn" id="yesEn" value="1" title="至少選擇一個" class="required">
                }
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="noEn">
                @if (Model.Display_en == 2)
                {
                    <input type="radio" name="showEn" id="noEn" value="2" title="至少選擇一個" checked class="radio-box required">
                }
                else
                {
                    <input type="radio" name="showEn" id="noEn" value="2" title="至少選擇一個" class="radio-box required">
                }
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <!-- 展覽版型 -->
    <div class="input-box">
        <label for="show">展覽版型</label>
        <div class="check-list">
            <label for="layoutA">
                @if (Model.Layout == 1)
                {
                    <input type="radio" name="layout" id="layoutA" value="1" title="至少選擇一個" checked>
                }
                else
                {
                    <input type="radio" name="layout" id="layoutA" value="1" title="至少選擇一個">
                }
                <div class="radio-box"></div>
                <span>圖列表</span>
            </label>
            <label for="layoutB">
                @if (Model.Layout == 2)
                {
                    <input type="radio" name="layout" id="layoutB" value="2" title="至少選擇一個" checked class="radio-box">
                }
                else
                {
                    <input type="radio" name="layout" id="layoutB" value="2" title="至少選擇一個" class="radio-box">
                }
                <div class="radio-box"></div>
                <span>圖文列表</span>
            </label>
        </div>
    </div>

    <div class="btn-area">
        <a href="@Url.Action("LiteraryList")" class="btn btn-cancel"><i class="fa fa-chevron-left"></i> 取消</a>
        <a href="javascript:goPreviewThemeCont()" class="btn btn-submit">
            <i class="fad fa-window"></i>
            預覽頁面
        </a>
        <div class="btn btn-submit">
            <i class="fa fa-check"></i> 確認送出
            <input type="submit" class="btn">
        </div>
    </div>
</form>

<h2 class="tit-btn">
    <span>展覽分區</span>
    <div>
        <a href="@Url.Action("ExhibitionAdd")" class="btn btn-submit">
            <i class="far fa-plus"></i> 新增展覽
        </a>
        <!-- <div class="btn btn-submit">
            <i class="fad fa-sync-alt"></i> 更新排序
        </div> -->
    </div>
</h2>

<div class="search-signle">
    <form action="@Url.Action("searchPage2")" method="post">
        <div class="search-ui-box">
            <label for="userKeyWord">
                <span>關鍵字：</span>
            </label>
            <input type="hidden" name="action" value="@ViewBag.Action" />
            <input type="hidden" name="period" value="@Model.LLid" />
            <input type="text" name="userKeyWord" id="keyWord" value="@ViewBag.Key" class="input-sty w250">
        </div>
        <div class="btn-area">
            <div class="btn btn-submit">
                <i class="fas fa-search"></i>
                搜尋
                <input type="submit">
            </div>
        </div>
    </form>
</div>

<ul id="ExbSection" class="list">
    <li class="title filtered">
        <div class="group-box-83">
            <div class="box-5 txt-c">#</div>
            <div class="box-10">展覽圖片</div>
            <div class="box-45">展覽名稱</div>
            <div class="box-10 txt-c">狀態</div>
            <div class="box-10 txt-c">狀態(英)</div>
            <div class="box-15">建立日期</div>
        </div>
        <div class="group-box-15 opera">操作</div>
    </li>
    @if (Model.exbs != null)
    {
        foreach (var item in Model.exbs)
        {
            <li>
                <a href="javascript:editExhibition(@(item.Exbid))" class="group-box-83" title="編輯" alt="編輯">
                    <div tid="@item.Exbid" class="box-5 txt-c sortid">@item.Sortid</div>
                    <div class="box-10">
                        <img src="@item.Pic_tw" alt="">
                    </div>
                    <div class="box-45 nameid">@item.Title_tw</div>
                    @if (item.Display_tw == 1)
                    {
                        <div class="box-10 txt-c" title="顯示" alt="顯示">
                            <i class="fad fa-eye blue"></i>
                        </div>
                    }
                    else
                    {
                        <div class="box-10 txt-c" title="不顯示" alt="不顯示">
                            <i class="fad fa-eye-slash red"></i>
                        </div>
                    }
                    @if (item.Display_en == 1)
                    {
                        <div class="box-10 txt-c" title="顯示" alt="顯示">
                            <i class="fad fa-eye blue"></i>
                        </div>
                    }
                    else
                    {
                        <div class="box-10 txt-c" title="不顯示" alt="不顯示">
                            <i class="fad fa-eye-slash red"></i>
                        </div>
                    }
                    <div class="box-15">@item.Createtime.ToString("yyyy/MM/dd")</div>
                </a>
                <div class="group-box-15 opera">
                    <a href="javascript:editExhibition(@(item.Exbid))" title="編輯" alt="編輯">
                        <i class="fad fa-pen-square"></i>
                    </a>
                    <a href="javascript:delExhibition('@item.Exbid')" title="刪除" alt="刪除">
                        <i class="fad fa-times-square"></i>
                    </a>
                    @if (ViewBag.Key == "" || ViewBag.Key == null)
                    {
                        <a href="#" title="排序" alt="排序" class="my-handle">
                            <i class="fad fa-bars"></i>
                        </a>
                    }
                </div>
            </li>
        }
    }
</ul>

<form id="editexdreader" target="_blank" action="@Url.Action("ExdReaderEdit")" method="post">
    <input type="hidden" name="exdreaderEdit" id="exdreaderEdit" value="" />
</form>
<form id="editexhibition" action="@Url.Action("ExhibitionEdit")" method="post">
    <input type="hidden" name="Exbid" id="Exbid" value="" />
</form>

<form id="goPreviewThemeCont" target="_blank" method="post" action="@(Model.Layout==1?Url.Action("ExhibitionCont1","Theme"):Url.Action("ExhibitionCont2", "Theme"))">
    <input type="hidden" id="Subtitle1_en" name="Subtitle1_en" value="" />
    <input type="hidden" id="Subtitle1_tw" name="Subtitle1_tw" value="" />
    <input type="hidden" id="Subtitle2_en" name="Subtitle2_en" value="" />
    <input type="hidden" id="Subtitle2_tw" name="Subtitle2_tw" value="" />
    <input type="hidden" id="Content_en" name="Content_en" value="" />
    <input type="hidden" id="Content_tw" name="Content_tw" value="" />
    <input type="hidden" id="Pic3" name="Pic3" value="" />
    <input type="hidden" id="Pic4" name="Pic4" value="" />
    <input type="hidden" id="Pic5" name="Pic5" value="" />
    <input type="hidden" id="Pic6" name="Pic6" value="" />
    <input type="hidden" id="Title_en" name="Title_en" value="" />
    <input type="hidden" id="Title_tw" name="Title_tw" value="" />
</form>
<!-- 此為表單驗證用，注意需更改#name與標單的id相同 -->
<script type="text/javascript">
    $(function () {
        @if(ViewBag.ScrollToExb != null && ViewBag.ScrollToExb == "yes")
        {
            <text>
        setTimeout(function () {
            location.href = '#';
            location.href = '#ExbSection';
        }, 500);
            </text>
        }
        var message = '@ViewBag.Error';
        if (message == "完成") {
            alert("完成");
            top.location.href = "@Url.Action("LiteraryList")";
        } else if (message.length > 0) {
            alert('@ViewBag.Error');
        } else {
            var validator = $("#form").validate({
                submitHandler: function (form) {
                    //resetForm();
                    form.submit();
                }
            });
        }
        var el = document.querySelector(".list");
        var sortable = Sortable.create(el, {
            sort: true,
            filter: '.filtered', // 'filtered' class is not draggable
            animation: 150,
            handle: ".my-handle",
            onMove: function (e) { return e.related.className.indexOf('filtered') === -1; },
            // Element dragging ended
            onEnd: function (/**Event*/ evt) {
                var itemEl = evt.item; // dragged HTMLElement
                evt.to; // target list
                evt.from; // previous list
                evt.oldIndex; // element's old index within old parent
                evt.newIndex; // element's new index within new parent
                evt.oldDraggableIndex; // element's old index within old parent, only counting draggable elements
                evt.newDraggableIndex; // element's new index within new parent, only counting draggable elements
                evt.clone; // the clone element
                evt.pullMode; // when item is in another sortable: `"clone"` if cloning, `true` if moving

                var tempindex = 1;
                var total = $('.sortid').length;
                var command = '';
                $('.sortid').each(function (item) {
                    $(this).html('' + tempindex);
                    //updateOrder(tempindex, $(this).attr("tid"));
                    command += (tempindex + '|' + $(this).attr("tid") + ',');
                    tempindex++;
                    if (tempindex >= total) {
                        updateOrder(command);
                    }
                });
            },

        });
        //編輯器
        var editor = CKEDITOR.replace('editor', {
            removePlugins: 'flash,cloudservices',
            extraPlugins: 'embed,autoembed',
            height: 500,
            filebrowserImageUploadUrl: '/Backend/ImageUpload',
            filebrowserBrowseUrl: '@Url.Content("~/js/Filemanager/index.html")',
            filebrowserUploadMethod: 'form',

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [
                'https://cdn.ckeditor.com/4.14.0/full-all/contents.css',
                //'https://ckeditor.com/docs/vendors/4.14.0/ckeditor/assets/css/widgetstyles.css'
            ],
            // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
            image2_disableResizer: true
        });
        var editorEn = CKEDITOR.replace('editorEn', {
            removePlugins: 'flash,cloudservices',
            extraPlugins: 'embed,autoembed',
            height: 500,
            filebrowserImageUploadUrl: '/Backend/ImageUpload',
            filebrowserBrowseUrl: '@Url.Content("~/js/Filemanager/index.html")',
            filebrowserUploadMethod: 'form',

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [
                'https://cdn.ckeditor.com/4.14.0/full-all/contents.css',
                //'https://ckeditor.com/docs/vendors/4.14.0/ckeditor/assets/css/widgetstyles.css'
            ],
            // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
            image2_disableResizer: true
        });
    });
    var uploadpic; var tempuploadpic;
    var image;
    var modal;
    var cropper;
    var _index;

    function initcrop(index) {
        _index = index;

        uploadpic = document.getElementById('uploadpic' + _index);
        
        image = document.getElementById('orimg');
        modal = document.getElementById("myModal");

        $('#cropit').on('click', function () {
            var croppedImageDataURL = null;
            if (_index == 3 || _index == 4)
                croppedImageDataURL = cropper.getCroppedCanvas({ width: 500, height: 500 }).toDataURL("image/png");
            else if (_index == 5 || _index == 6)
                croppedImageDataURL = cropper.getCroppedCanvas({ width: 1360, height: 540 }).toDataURL("image/png");
            $('#cropimg' + _index).attr('src', croppedImageDataURL);
            $('#pic' + _index).val(croppedImageDataURL);

            cropper.destroy();
            image.src = '';
            try {
                document.getElementById('pic' + _index + '_del').value = "0";
            } catch (e) {}
            tempuploadpic = uploadpic.value;
            modal.style.display = "none";
        });
        $('#cropmove').on('click', function () {
            cropper.setDragMode("move");
        });

        $('#cropcut').on('click', function () {
            cropper.setDragMode("crop");
        });

        $('#closeit').on('click', function () {
            cropper.destroy();
            image.src = '';
            modal.style.display = "none";
        });

        if (uploadpic.files && uploadpic.files[0]) {
            if (uploadpic.files[0].type.match(/^image\//)) {
                var reader = new FileReader();
                reader.onload = function (evt) {
                    image.src = evt.target.result;
                    if (_index == 3 || _index == 4) {
                        cropper = new Cropper(image, {
                            aspectRatio: 1 / 1,
                            viewMode: 1,
                            crop(event) {
                                console.log(event.detail.x);
                                console.log(event.detail.y);
                                console.log(event.detail.width);
                                console.log(event.detail.height);
                                console.log(event.detail.rotate);
                                console.log(event.detail.scaleX);
                                console.log(event.detail.scaleY);
                            },
                        });
                    } else if (_index == 5 || _index == 6) {
                        cropper = new Cropper(image, {
                            aspectRatio: 1 / 1,
                            viewMode: 1,
                            crop(event) {
                                console.log(event.detail.x);
                                console.log(event.detail.y);
                                console.log(event.detail.width);
                                console.log(event.detail.height);
                                console.log(event.detail.rotate);
                                console.log(event.detail.scaleX);
                                console.log(event.detail.scaleY);
                            },
                        });
                    }
                    modal.style.display = "block";
                };
                reader.readAsDataURL(uploadpic.files[0]);
            }
            else {
                alert("Invalid file type! Please select an image file.");
            }
        }
        else {
            alert('No file(s) selected.');
        }
    }

    function updateOrder(command) {
        var headers = {};
        var data = {};
        data.action = "@ViewBag.Action";
        data.command = command;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("updateOrder")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
            },
        });
    }

    function delExhibition(Exbid) {
        if (confirm("您確定要刪除此展區嗎?")) {
            var headers = {};
            var data = {};
            data.action = "@ViewBag.Action";
            data.data = Exbid;

            $.ajax({
                type: "POST",
                data: data,
                headers: headers,
                url: '@Url.Action("delData")',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (result) {
                    if (result["Code"] == 1) {
                        alert("刪除成功");
                        top.location.reload();
                    } else {
                        alert("刪除失敗");
                    }
                },
                error: function (xhr, ajaxOption, thrownError) {
                    alert(xhr.responseText);
                }
            });
        }
    }

    function editExdReader(exid) {
        $("#editexdreader").find("#exdreaderEdit").val(exid);
        $("#editexdreader").submit();
    }

    function editExhibition(Exbid) {
        $("#editexhibition").find("#Exbid").val(Exbid);
        $("#editexhibition").submit();
    }

    function goPreviewThemeCont() {
        $('#goPreviewThemeCont').find('#Subtitle1_en').val($('#supTitleEn1').val());
        $('#goPreviewThemeCont').find('#Subtitle1_tw').val($('#supTitle1').val());
        $('#goPreviewThemeCont').find('#Subtitle2_en').val($('#supTitleEn2').val());
        $('#goPreviewThemeCont').find('#Subtitle2_tw').val($('#supTitle2').val());
        $('#goPreviewThemeCont').find('#Content_en').val(CKEDITOR.instances.editorEn.getData());
        $('#goPreviewThemeCont').find('#Content_tw').val(CKEDITOR.instances.editor.getData());
        $('#goPreviewThemeCont').find('#Pic3').val($('#cropimg3').attr('src'));
        $('#goPreviewThemeCont').find('#Pic4').val($('#cropimg4').attr('src'));
        $('#goPreviewThemeCont').find('#Pic5').val($('#cropimg5').attr('src'));
        $('#goPreviewThemeCont').find('#Pic6').val($('#cropimg6').attr('src'));
        $('#goPreviewThemeCont').find('#Title_en').val($('#titleEn').val());
        $('#goPreviewThemeCont').find('#Title_tw').val($('#title').val());
        if ($('input[name=layout]:checked').val() == "1") {
            $('#goPreviewThemeCont').attr("action", "/Theme/ExhibitionCont1");
        } else {
            $('#goPreviewThemeCont').attr("action", "/Theme/ExhibitionCont2");
        }
        $('#goPreviewThemeCont').submit();
    }

    function delpic(pic, del) {
        document.getElementById(pic).src = "";
        document.getElementById(del).value = "1";
    }
</script>
