﻿@model VirtualMuseum.Models.Backend.LiteraryTimeViewModel

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "臺灣文學史管理";
    ViewBag.Title2 = "新增文學資料";
}

<h1>@ViewBag.Title</h1>

<h2>@ViewBag.Title2</h2>
<form action="@Url.Action("AddLiteraryTime")" method="post" id="form">
    @*防偽造*@
    @Html.AntiForgeryToken()
    <div class="input-box">
        <label for="startTime">*起始時間</label>
        <input type="text" class="input-sty required" name="startTime" id="startTime" placeholder="YYYY/MM"
               value="">
    </div>
    <div class="input-box">
        <label for="endTime">結束時間</label>
        <input type="text" class="input-sty" name="endTime" id="endTime" placeholder="YYYY/MM" value="">
    </div>
    <div class="input-box">
        <label for="title">*標題</label>
        <input type="text" class="input-sty required" name="title" id="title" placeholder="請輸入標題" value="">
    </div>
    <div class="input-box input-box-en">
        <label for="titleEn">標題(英)</label>
        <input type="text" class="input-sty" name="titleEn" id="titleEn" placeholder="請輸入標題" value="">
    </div>
    <div class="input-box">
        <label for="titleLink">標題連結</label>
        <input type="text" class="input-sty" name="titleLink" id="titleLink" placeholder="請輸入標題連結"
               value="">
    </div>

    <div class="input-box">
        <label for="type">時期分類</label>
        <select name="type" id="type" class="select-sty">
            @foreach (var a in Model.intros)
            {
                if (Model.type != null && long.Parse(Model.type) == a.LIid)
                {
                    <option value="@a.LIid" selected>@a.LIName_tw</option>
                }
                else
                {
                    <option value="@a.LIid">@a.LIName_tw</option>
                }
            }
        </select>
    </div>

    <div class="input-box input-box-w">
        <label for="editor">內文</label>
        <textarea name="editor" id="editor" placeholder="內文說明..." class="input-sty desc-info"></textarea>
    </div>

    <div class="input-box input-box-w input-box-en">
        <label for="editorEn">內文(英)</label>
        <textarea name="editorEn" id="editorEn" placeholder="內文說明..." class="input-sty desc-info"></textarea>
    </div>

    <div class="input-box">
        <label for="med">媒體出處</label>
        <input type="text" class="input-sty" name="med" id="med" value="">
    </div>
    <div class="input-box input-box-en">
        <label for="medEn">媒體出處(英)</label>
        <input type="text" class="input-sty" name="medEn" id="medEn" value="">
    </div>
    <div class="input-box">
        <label for="medLink">媒體連結</label>
        <input type="text" class="input-sty" name="medLink" id="medLink" value="">
    </div>

    <!-- 引用標籤 -->
    <div class="input-box input-box-w">
        <label for="">引用標籤</label>
        <div class="tag-area">
            <div class="btn btn-submit" id="openTagBtn">
                <i class="fad fa-tags"></i> 選擇中文
            </div>
            <div class="tag-box">
                <ul class="tag" id="tagArea"></ul>
                <div class="no-data">尚未選擇標籤。</div>
            </div>
        </div>
        <div class="tag-area">
            <div class="btn btn-org" id="openTagEnBtn">
                <i class="fad fa-tags"></i> 選擇英文
            </div>
            <div class="tag-box">
                <ul class="tag" id="tagEnArea"></ul>
                <div class="no-data">尚未選擇標籤。</div>
            </div>
        </div>
    </div>

    <!-- lightbox 含表單組件的視窗，可送出表單，但請注意表單位置 -->
    <!-- 中文標籤 -->
    <div class="lg-box lg-big-box" id="lgTagBox" style="display:none;">
        <div class="lg-tit">引用標籤</div>
        <div class="lg-cont lg-add">
            <div class="input-box input-box-w">
                <div class="tag-src-area">
                    <label for="">引用標籤</label>
                    <div class="tag-src-box">
                        <input type="text" class="tag-input w150" autocomplete="off" id="tagSrc">
                        <div class="tag-btn src" id="tagSrcBtn">搜尋</div>
                        <div class="tag-btn" id="tagSrcCleanBtn">清除</div>
                    </div>
                </div>
                <div class="check-list" id="tagCheckList">
                    @if (Model.tags_tw != null)
                    {
                        foreach (var temp in Model.tags_tw)
                        {
                            if (temp.tagname != null && temp.tagname.Length > 0)
                            {
                                <label for="tag@(temp.tagid)">
                                    @if (temp.owned)
                                    {
                                        <input type="checkbox" name="tag" id="tag@(temp.tagid)" value="@temp.tagid" checked="checked" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="tag" id="tag@(temp.tagid)" value="@temp.tagid" />
                                    }
                                    <div class="check-box"></div>
                                    <span>@temp.tagname</span>
                                </label>
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="lg-bot">
            <div class="btn btn-cancel">取消</div>
            <div class="btn btn-submit" id="tagAdd">送出</div>
            <!-- <input type="submit" class="btn btn-submit" id="AuthorTagAdd" value="送出" /> -->
        </div>
    </div>
    <!-- 英文標籤 -->
    <div class="lg-box lg-big-box" id="lgTagEnBox" style="display:none;">
        <div class="lg-tit">引用標籤(英文)</div>
        <div class="lg-cont lg-add">
            <div class="input-box input-box-w input-box-en">
                <div class="tag-src-area">
                    <label for="">引用標籤(英)</label>
                    <div class="tag-src-box">
                        <input type="text" class="tag-input w150" autocomplete="off" id="tagSrcEn">
                        <div class="tag-btn src" id="tagSrcEnBtn">搜尋</div>
                        <div class="tag-btn" id="tagSrcCleanEnBtn">清除</div>
                    </div>
                </div>
                <div class="check-list" id="tagEnCheckList">
                    @if (Model.tags_en != null)
                    {
                        foreach (var temp in Model.tags_en)
                        {
                            if (temp.tagname != null && temp.tagname.Length > 0)
                            {
                                <label for="tagEn@(temp.tagid)">
                                    @if (temp.owned)
                                    {
                                        <input type="checkbox" name="tagEn" id="tagEn@(temp.tagid)" value="@temp.tagid" checked="checked" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="tagEn" id="tagEn@(temp.tagid)" value="@temp.tagid" />
                                    }
                                    <div class="check-box"></div>
                                    <span>@(temp.tagname)(@(temp.subname))</span>
                                </label>
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="lg-bot">
            <div class="btn btn-cancel">取消</div>
            <div class="btn btn-submit" id="tagEnAdd">送出</div>
            <!-- <input type="submit" class="btn btn-submit" id="AuthorTagAdd" value="送出" /> -->
        </div>
    </div>

    <div class="input-box">
        <label for="show">是否顯示</label>
        <div class=" check-list">
            <label for="yes">
                <input type="radio" name="show" id="yes" value="1" title="至少選擇一個" checked class="required">
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="no">
                <input type="radio" name="show" id="no" value="2" title="至少選擇一個" class="radio-box required">
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <div class="input-box input-box-en">
        <label for="show">是否顯示(英)</label>
        <div class=" check-list">
            <label for="yesEn">
                <input type="radio" name="showEn" id="yesEn" value="1" title="至少選擇一個" checked class="required">
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="noEn">
                <input type="radio" name="showEn" id="noEn" value="2" title="至少選擇一個" class="radio-box required">
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <div class="btn-area">
        <a href="@Url.Action("LiteraryTimeList")" class="btn btn-cancel"><i class="fa fa-chevron-left"></i> 取消</a>
        <div class="btn btn-submit">
            <i class="fa fa-check"></i> 確認送出
            <input type="submit" class="btn">
        </div>
    </div>
</form>

<!-- 此為表單驗證用，注意需更改#name與標單的id相同 -->
<script type="text/javascript">
    $(function () {
        var message = '@ViewBag.Error';
        if (message == "完成") {
            alert("完成");
            top.location.href = "@Url.Action("LiteraryTimeList")";
        } else if (message.length > 0) {
            alert('@ViewBag.Error');
        } else {
            var validator = $("#form").validate({
                submitHandler: function (form) {
                    form.submit();
                }
            });
        }
        //編輯器
        var editor = CKEDITOR.replace('editor', {
            removePlugins: 'flash,cloudservices',
            extraPlugins: 'embed,autoembed',
            height: 500,
            filebrowserImageUploadUrl: '/Backend/ImageUpload',
            filebrowserBrowseUrl: '@Url.Content("~/js/Filemanager/index.html")',
            filebrowserUploadMethod: 'form',

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [
                'https://cdn.ckeditor.com/4.14.0/full-all/contents.css',
                //'https://ckeditor.com/docs/vendors/4.14.0/ckeditor/assets/css/widgetstyles.css'
            ],
            // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
            image2_disableResizer: true
        });
        var editorEn = CKEDITOR.replace('editorEn', {
            removePlugins: 'flash,cloudservices',
            extraPlugins: 'embed,autoembed',
            height: 500,
            filebrowserImageUploadUrl: '/Backend/ImageUpload',
            filebrowserBrowseUrl: '@Url.Content("~/js/Filemanager/index.html")',
            filebrowserUploadMethod: 'form',

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [
                'https://cdn.ckeditor.com/4.14.0/full-all/contents.css',
                //'https://ckeditor.com/docs/vendors/4.14.0/ckeditor/assets/css/widgetstyles.css'
            ],
            // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
            image2_disableResizer: true
        });

        //=== 打開標籤選擇 ===
        var openBtnList = [
            { openBtn: '#openTagBtn', lgBox: '#lgTagBox' },
            { openBtn: '#openTagEnBtn', lgBox: '#lgTagEnBox' },
            { openBtn: '#openEventTagBtn', lgBox: '#lgEventTagBox' },
            { openBtn: '#openEventTagEnBtn', lgBox: '#lgEventTagEnBox' }
        ];
        $.each(openBtnList, function (ind, val) {
            var $openBtn = $(val.openBtn);
            $openBtn.on('click', function () {
                $(val.lgBox + ',#mask').fadeIn();
            });
        });

        //=== 新增標籤點擊 ===
        var addBtnList = [
            { addBtn: '#tagAdd', tagList: '#tagCheckList', tagArea: '#tagArea', lgBox: '#lgTagBox' },
            { addBtn: '#tagEnAdd', tagList: '#tagEnCheckList', tagArea: '#tagEnArea', lgBox: '#lgTagEnBox' },
            { addBtn: '#eventTagAdd', tagList: '#eventCheckList', tagArea: '#eventTagArea', lgBox: '#lgEventTagBox' },
            { addBtn: '#eventTagEnAdd', tagList: '#eventCheckEnList', tagArea: '#eventTagEnArea', lgBox: '#lgEventTagEnBox' }
        ];

        $.each(addBtnList, function (ind, val) {
            var $addBtn = $(val.addBtn);
            $addBtn.on('click', function () {
                pushTag(val.tagList, val.tagArea, val.lgBox);
            });
        });
    });
</script>
