﻿@using PagedList.Mvc;
@using PagedList;
@model IPagedList<DataAccess.Domain.LiteraryTimeListDomainModel>

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "臺灣文學史管理";
    ViewBag.Title2 = "臺灣文學史列表";
    ViewBag.Action = "LiteraryTimeList";
}

<h1>@ViewBag.Title</h1>
<div class="sub-page">
    <ul>
        <li class="act">
            <a href="@Url.Action("LiteraryTimeList")">臺灣文學史管理</a>
        </li>
        <li>
            <a href="@Url.Action("LiteraryIntroList")">時期管理</a>
        </li>
    </ul>
</div>
<h2>@ViewBag.Title2</h2>
<div class="input-box input-box-w">
    <a href="@Url.Action("LiteraryTimeAdd")" class="btn btn-submit">
        <i class="fas fa-plus"></i>
        新增文學資料
    </a>
</div>
<div class="search-box">
    <form action="@Url.Action("searchPage2")" method="post">
        <div class="search-ui-box">
            <label for="type">
                <!-- <input type="radio" name="search" id="type" value="4">
                <div class="radio-box"></div>
                <span>時期名稱：</span> -->
                時期名稱：
            </label>
            <select type="text" name="period" id="period" value="" class="select-sty w250">
                @foreach (var menu in ViewBag.Menu)
                {
                    <option value="@menu.LIid" @(long.Parse(ViewBag.Period)==menu.LIid?"selected":"")>@menu.LIName_tw</option>
                }
            </select>
        </div>
        <input type="hidden" name="action" value="@ViewBag.Action" />
        <div class="search-ui-box">
            <label for="userKeyWord">
                <!-- <input type="radio" name="search" id="userKeyWord" value="1">
                <div class="radio-box"></div>
                <span>關鍵字搜尋：</span> -->
                關鍵字搜尋：
            </label>
            <input type="text" name="userKeyWord" id="keyWord" value="@ViewBag.Key" class="input-sty w150" />
        </div>
        <div class="btn-area">
            <div class="btn btn-submit">
                <i class="fas fa-search"></i>
                搜尋
                <input type="submit">
            </div>
        </div>
    </form>
</div>

<form id="editliterarytime" action="@Url.Action("LiteraryTimeEdit")" method="post">
    <input type="hidden" name="Lid" id="Lid" value="" />
</form>

<!-- <div class="input-box">
    <select name="type" id="type" class="select-sty">
        <option value="1">全部分類</option>
        <option value="2">殖民地時期漢文新文學</option>
        <option value="3">殖民地時期漢文古典文學</option>
        <option value="4">明清漢語古典文學時期</option>
    </select>
</div> -->
<ul class="list">
    <li class="title">
        <div class="group-box-83">
            <div class="box-10">起始年份</div>
            <div class="box-10">結束年份</div>
            <div class="box-20">標題</div>
            <div class="box-20">時期</div>
            <div class="box-10 txt-c">狀態</div>
            <div class="box-10 txt-c">狀態(英)</div>
            <div class="box-15">建立時間</div>
        </div>
        <div class="group-box-15 opera">操作</div>
    </li>
    @if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <li>
                <a href="javascript:editLiteraryTime(@item.Lid)" class="group-box-83" title="編輯" alt="編輯">
                    <div class="box-10">@item.Start</div>
                    @if (item.End == null)
                    {
                        <div class="box-10"></div>
                    }
                    else
                    {
                        <div class="box-10">@item.End</div>
                    }

                    <div class="box-20">@item.Title_tw</div>
                    <div class="box-20">@item.PeriodStr</div>
                    @if (item.Display_tw == 1)
                    {
                        <div class="box-10 txt-c" title="顯示" alt="顯示">
                            <i class="fad fa-eye blue"></i>
                        </div>
                    }
                    else
                    {
                        <div class="box-10 txt-c" title="不顯示" alt="不顯示">
                            <i class="fad fa-eye-slash red"></i>
                        </div>
                    }
                    @if (item.Display_en == 1)
                    {
                        <div class="box-10 txt-c" title="顯示" alt="顯示">
                            <i class="fad fa-eye blue"></i>
                        </div>
                    }
                    else
                    {
                        <div class="box-10 txt-c" title="不顯示" alt="不顯示">
                            <i class="fad fa-eye-slash red"></i>
                        </div>
                    }
                    <div class="box-15">@item.Createtime.ToString("yyyy/MM/dd")</div>
                </a>
                <div class="group-box-15 opera">
                    <a href="javascript:editLiteraryTime(@item.Lid)" title="編輯" alt="編輯">
                        <i class="fad fa-pen-square"></i>
                    </a>
                    <a href="javascript:delLiteraryTime('@item.Lid')" title="刪除" alt="刪除">
                        <i class="fad fa-times-square"></i>
                    </a>
                </div>
            </li>
        }
    }
</ul>
@if (Model != null && Model.Count > 0)
{
    <div class="pagination">
        <div class="pagination-numbers">
            <a href="javascript:getPage(1)" title="第一頁">
                <i class="fas fa-arrow-to-left"></i>
            </a>

            <a href="javascript:getPage(@Model.PageNumber > 1 ? @Model.PageNumber - 1 : @Model.PageNumber)" title="上一頁">
                <i class="fas fa-arrow-left"></i>
            </a>

            @for (int i = (Model.PageNumber % 5); i <= (Model.PageCount > 5 ? (Model.PageNumber % 5) * 5 : Model.PageCount); i++)
            {
                if (Model.PageNumber == i)
                {
                    <a href="javascript:getPage(@i)" class="act">@i</a>
                }
                else
                {
                    <a href="javascript:getPage(@i)">@i</a>
                }
            }

            <a href="javascript:getPage(@Model.PageNumber==@Model.PageCount?@Model.PageNumber:@Model.PageNumber+1)" title="下一頁">
                <i class="fas fa-arrow-right"></i>
            </a>
            <a href="javascript:getPage(@Model.PageCount)" title="最後頁">
                <i class="fas fa-arrow-to-right"></i>
            </a>

        </div>
    </div>
}

<script>
    var globalkeyword = "@ViewBag.Key";
    var globalperiod = "@ViewBag.Period";

    function changeKey(key) {
        globalkeyword = key;
    }

    function getPage(page) {
        var headers = {};
        var data = {};
        data.action = "@ViewBag.Action";
        data.period = globalperiod;
        data.key = globalkeyword;
        data.page = page;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("getPage2")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                //alert(result["PageNumber"]);
                $(".list").empty();
                $(".list").append('<li class="title"><div class="group-box-83"><div class="box-10">起始年份</div>' +
                    '<div class="box-10">結束年份</div><div class="box-20">標題</div><div class="box-20">時期</div>' +
                    '<div class="box-10 txt-c">狀態</div><div class="box-10 txt-c">狀態(英)</div><div class="box-15">建立時間</div></div >' +
                    '<div class="group-box-15 opera">操作</div></li >');

                for (var i = 0; i < result["Lists"].length; i++) {
                    var str = '<li><a href="javascript:editLiteraryTime(' + result["Lists"][i]["Lid"] + ')" class="group-box-83" title="編輯" alt="編輯">' +
                        '<div class="box-10">' + result["Lists"][i]["Start"] + '</div>' +
                        '<div class="box-10">' + result["Lists"][i]["End"] + '</div>' +
                        '<div class="box-20">' + result["Lists"][i]["Title_tw"] + '</div>' +
                        '<div class="box-20">' + result["Lists"][i]["PeriodStr"] + '</div>';
                    if (result["Lists"][i]["Display_tw"] == 1) {
                        str += '<div class="box-10 txt-c" title="顯示" alt="顯示">' +
                            '<i class="fad fa-eye blue"></i></div>';
                    }
                    else {
                        str += '<div class="box-10 txt-c" title="不顯示" alt="不顯示">' +
                            '<i class="fad fa-eye-slash red"></i></div>';
                    }
                    if (result["Lists"][i]["Display_en"] == 1) {
                        str += '<div class="box-10 txt-c" title="顯示" alt="顯示">' +
                            '<i class="fad fa-eye blue"></i></div>';
                    }
                    else {
                        str += '<div class="box-10 txt-c" title="不顯示" alt="不顯示">' +
                            '<i class="fad fa-eye-slash red"></i></div>';
                    }
                    str += '<div class="box-15">' + result["Lists"][i]["Createtime"] + '</div>' +
                        '</a><div class="group-box-15 opera"><a href="javascript:editLiteraryTime(' + result["Lists"][i]["Lid"] + ')" title="編輯" alt="編輯">' +
                        '<i class="fad fa-pen-square"></i></a><a href="javascript:delLiteraryTime(\'' + result["Lists"][i]["Lid"]+'\')" title="刪除" alt="刪除">' +
                        '<i class="fad fa-times-square"></i></a></div></li>';
                    $(".list").append(str);
                }

                $('.pagination-numbers').empty();

                $('.pagination-numbers').append('<a href="javascript:getPage(1)" title="第一頁"><i class="fas fa-arrow-to-left"></i></a>');
                $('.pagination-numbers').append('<a href="javascript:getPage(' + (result["PageNumber"] > 1 ? result["PageNumber"] - 1 : result["PageNumber"]) + ')" title="上一頁"><i class= "fas fa-arrow-left" ></i ></a >');

                var pageMin = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 1;
                var pageMax = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 5;

                if (parseInt(result["PageCount"]) < pageMax)
                    pageMax = parseInt(result["PageCount"]);
                for (var i = pageMin; i <= pageMax; i++) {
                    if (result["PageNumber"] == i) {
                        $('.pagination-numbers').append('<a href="javascript:getPage(' + i + ')" class="act">' + i + '</a>');
                    }
                    else {
                        $('.pagination-numbers').append('<a href="javascript:getPage(' + i + ')">' + i + '</a>');
                    }
                }

                $('.pagination-numbers').append('<a href="javascript:getPage(' + (result["PageNumber"] == result["PageCount"] ? result["PageNumber"] : result["PageNumber"] + 1) + ')" title="下一頁"><i class="fas fa-arrow-right"></i></a>');
                $('.pagination-numbers').append('<a href="javascript:getPage(' + result["PageCount"] + ')" title="最後頁"><i class="fas fa-arrow-to-right"></i></a>');
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }

    function delLiteraryTime(lid) {
        if (confirm("您確定要刪除此臺灣文學嗎?")) {
            var headers = {};
            var data = {};
            data.action = "@ViewBag.Action";
            data.data = lid;

            $.ajax({
                type: "POST",
                data: data,
                headers: headers,
                url: '@Url.Action("delData")',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (result) {
                    if (result["Code"] == 1) {
                        alert("刪除成功");
                        top.location.reload();
                    } else {
                        alert("刪除失敗");
                    }
                },
                error: function (xhr, ajaxOption, thrownError) {
                    alert(xhr.responseText);
                }
            });
        }
    }

    function editLiteraryTime(lid) {
        $("#Lid").val(lid);
        $("#editliterarytime").submit();
    }
</script>
