﻿@model VirtualMuseum.Models.Backend.LiteraryIntroViewModel

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "臺灣文學史管理";
    ViewBag.Title2 = "編輯時期";
}

<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 800px; /* Could be more or less, depending on screen size */
    }
</style>

<h1>@ViewBag.Title</h1>

<h2>@ViewBag.Title2</h2>

<form id="editauthor" target="_blank" action="@Url.Action("AuthorEdit")" method="post">
    <input type="hidden" name="authorEdit" id="authorEdit" value="" />
</form>
<form id="editexdreader" target="_blank" action="@Url.Action("ExdReaderEdit")" method="post">
    <input type="hidden" name="exdreaderEdit" id="exdreaderEdit" value="" />
</form>

<form action="@Url.Action("EditLiteraryIntro")" id="form" enctype="multipart/form-data" method="post">
    @*防偽造*@
    @Html.AntiForgeryToken()
    <input type="hidden" name="LIid" id="LIid" value="@Model.LIid" />
    <div class="input-box">
        <label for="title">*時期名稱</label>
        <input type="text" class="input-sty required" name="title" id="title" value="@Model.LIName_tw">
    </div>
    <div class="input-box input-box-en">
        <label for="titleEn">時期名稱(英)</label>
        <input type="text" class="input-sty" name="titleEn" id="titleEn" value="@Model.LIName_en">
    </div>

    <div class="input-box input-box-w">
        <label for="yearStart">年份</label>
        <div class="two-txt-box">
            <div class=" w150" style="display:inline-block;">
                <input type="text" class="input-sty" name="yearStart" id="yearStart" value="@Model.LIStart">
            </div>
            <span> - </span>
            <div class="w150" style="display:inline-block;">
                <input type="text" class="input-sty" name="yearEnd" id="yearEnd" value="@Model.LIEnd">
            </div>
        </div>
    </div>

    <div class="input-box">
        <label for="uploadpic1">封面圖片</label>
        <div class="note">圖像尺寸 800 × 800，支援jpg、gif、png等格式</div>
        <div class="upload-img">
            <div class="head-box upload-box-sty">
                <input type="file" name="uploadpic1" id="uploadpic1" class="upload-pic"
                       onchange="initcrop(1);" onclick="this.value=null;">
                <div id="previews1" class="upload-click-area" onclick="upload_click(this)">
                    <img id="cropimg1" src="@(Model.LIPic_tw==null||Model.LIPic_tw.Length<=0?"/img/default_src.jpg":Model.LIPic_tw)" alt="img1">
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="pic1" id="pic1" value="" />

    <div class="input-box input-box-en">
        <label for="uploadpic2">封面圖片(英)</label>
        <div class="note">圖像尺寸 800 × 800，支援jpg、gif、png等格式 </div>
        <div class="upload-img">
            <div class="head-box upload-box-sty">
                <input type="file" id="uploadpic2" name="uploadpic2" class="upload-pic" onchange="initcrop(2);" onclick="this.value=null;">
                <div class="del-photo" title="刪除" alt="刪除" onclick="delpic('cropimg2','pic2_del')"></div>
                <div id="previews2" class="upload-click-area" onclick="upload_click(this)">
                    <img id="cropimg2" src="@(Model.LIPic_en==null||Model.LIPic_en.Length<=0?"/img/default_src.jpg":Model.LIPic_en)" alt="img2">
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="pic2" id="pic2" value="" />
    <input type="hidden" name="pic2_del" id="pic2_del" value="0" />

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <a id="cropit" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;"><i class="fa fa-chevron-left"></i>裁切</a>
            <a id="cropmove" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;margin-left:65px;"><i class="fa fa-arrows-alt"></i></a>
            <a id="cropcut" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;margin-left:105px;"><i class="fa fa-crop-alt"></i></a>
            <a id="closeit" href="#" class="btn btn-cancel" style="margin-left:762px;"><i class="fa fa-window-close"></i></a>
            <div id="cropper-example-2" style="height:800px;width:800px;">
                <img id="orimg" alt="Picture" />
            </div>
        </div>
    </div>

    <div class="input-box">
        <label for="uploadFile">上傳檔案</label>
        <div class="note">請使用PDF檔案格式</div>
        <div class="note">
            @Model.LIPdf
            @if (Model.LIPdf != null && Model.LIPdf.Length > 0)
            {
                <div class="btn btn-function" onclick="delPdf()">
                    <i class="fas fa-trash-alt"></i> 刪除
                </div>
            }
        </div>
        <div class="upload-form-file">
            <div class="form-file">
                <input type="file" name="uploadFile" id="uploadFile">
                <i class="fad fa-cloud-upload-alt"></i> 選擇檔案
            </div>
            <span id="fileNameBox" class="file-name"></span>
        </div>
    </div>

    <input type="hidden" name="pdf" id="pdf" value="" />
    <input type="hidden" name="pdfname" id="pdfname" value="" />

    <div class="input-box input-box-w">
        <label for="editor">內文</label>
        <textarea name="editor" id="editor" placeholder="內文說明..." class="input-sty desc-info">@Model.LIContent_tw</textarea>
    </div>

    <div class="input-box input-box-w input-box-en">
        <label for="editorEn">內文(英)</label>
        <textarea name="editorEn" id="editorEn" placeholder="內文說明..." class="input-sty desc-info">@Model.LIContent_en</textarea>
    </div>

    <!-- 引用標籤 -->
    <div class="input-box input-box-w">
        <label for="">引用標籤</label>
        <div class="tag-area">
            <div class="btn btn-submit" id="openTagBtn">
                <i class="fad fa-tags"></i> 選擇中文
            </div>
            <div class="tag-box">
                <ul class="tag" id="tagArea"></ul>
                <div class="no-data">尚未選擇標籤。</div>
            </div>
        </div>
        <div class="tag-area">
            <div class="btn btn-org" id="openTagEnBtn">
                <i class="fad fa-tags"></i> 選擇英文
            </div>
            <div class="tag-box">
                <ul class="tag" id="tagEnArea"></ul>
                <div class="no-data">尚未選擇標籤。</div>
            </div>
        </div>
    </div>

    <!-- 作者與著作 -->
    <div class="input-box input-box-w">
        <label for="">作者與著作</label>
        <div class="tag-area">
            <div class="btn btn-submit" id="openAuthorTagBtn">
                <i class="fad fa-tags"></i> 選擇中文
            </div>
            <div class="tag-box">
                <ul class="tag" id="authorTagArea">
                    <!-- <li>
                        <div class="tag-name">徐孚遠〈桃花〉（約1662）</div>
                        <div class="tag-del" data-del="author1">
                            <i class="fad fa-times" title="刪除" alt="刪除"></i>
                        </div>
                    </li>
                    <li>
                        <div class="tag-name">王忠孝〈東寧友人貽丹荔枝十顆有懷〉（約1664）</div>
                        <div class="tag-del" data-del="author2">
                            <i class="fad fa-times" title="刪除" alt="刪除"></i>
                        </div>
                    </li> -->
                </ul>
                <div class="no-data">尚未選擇標籤。</div>
            </div>
        </div>
        <div class="tag-area">
            <div class="btn btn-org" id="openAuthorTagEnBtn">
                <i class="fad fa-tags"></i> 選擇英文
            </div>
            <div class="tag-box">
                <ul class="tag" id="authorTagEnArea"></ul>
                <div class="no-data">尚未選擇標籤。</div>
            </div>
        </div>
    </div>

    <!-- 延伸閱讀 -->
    <div class="input-box input-box-w">
        <label for="">延伸閱讀</label>
        <div class="tag-area">
            <div class="btn btn-submit" id="openMoreTagBtn">
                <i class="fad fa-tags"></i> 選擇中文
            </div>
            <div class="tag-box">
                <ul class="tag" id="moreTagArea"></ul>
                <div class="no-data">尚未選擇標籤。</div>
            </div>
        </div>
        <div class="tag-area">
            <div class="btn btn-org" id="openMoreTagEnBtn">
                <i class="fad fa-tags"></i> 選擇英文
            </div>
            <div class="tag-box">
                <ul class="tag" id="moreTagEnArea"></ul>
                <div class="no-data">尚未選擇標籤。</div>
            </div>
        </div>
    </div>

    <!-- lightbox 含表單組件的視窗，可送出表單，但請注意表單位置 -->
    <!-- 中文標籤 -->
    <div class="lg-box lg-big-box" id="lgTagBox" style="display:none;">
        <div class="lg-tit">引用標籤</div>
        <div class="lg-cont lg-add">
            <div class="input-box input-box-w">
                <div class="tag-src-area">
                    <label for="">引用標籤</label>
                    <div class="tag-src-box">
                        <input type="text" class="tag-input w150" autocomplete="off" id="tagSrc">
                        <div class="tag-btn src" id="tagSrcBtn">搜尋</div>
                        <div class="tag-btn" id="tagSrcCleanBtn">清除</div>
                    </div>
                </div>
                <div class="check-list" id="tagCheckList">
                    @if (Model.tags_tw != null)
                    {
                        foreach (var temp in Model.tags_tw)
                        {
                            if (temp.tagname != null && temp.tagname.Length > 0)
                            {
                                <label for="tag@(temp.tagid)">
                                    @if (temp.owned)
                                    {
                                        <input type="checkbox" name="tag" id="tag@(temp.tagid)" value="@temp.tagid" checked="checked" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="tag" id="tag@(temp.tagid)" value="@temp.tagid" />
                                    }
                                    <div class="check-box"></div>
                                    <span>@temp.tagname</span>
                                </label>
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="lg-bot">
            <div class="btn btn-cancel">取消</div>
            <div class="btn btn-submit" id="tagAdd">送出</div>
            <!-- <input type="submit" class="btn btn-submit" id="AuthorTagAdd" value="送出" /> -->
        </div>
    </div>
    <!-- 英文標籤 -->
    <div class="lg-box lg-big-box" id="lgTagEnBox" style="display:none;">
        <div class="lg-tit">引用標籤(英文)</div>
        <div class="lg-cont lg-add">
            <div class="input-box input-box-w input-box-en">
                <div class="tag-src-area">
                    <label for="">引用標籤(英)</label>
                    <div class="tag-src-box">
                        <input type="text" class="tag-input w150" autocomplete="off" id="tagSrcEn">
                        <div class="tag-btn src" id="tagSrcEnBtn">搜尋</div>
                        <div class="tag-btn" id="tagSrcCleanEnBtn">清除</div>
                    </div>
                </div>
                <div class="check-list" id="tagEnCheckList">
                    @if (Model.tags_en != null)
                    {
                        foreach (var temp in Model.tags_en)
                        {
                            if (temp.tagname != null && temp.tagname.Length > 0)
                            {
                                <label for="tagEn@(temp.tagid)">
                                    @if (temp.owned)
                                    {
                                        <input type="checkbox" name="tagEn" id="tagEn@(temp.tagid)" value="@temp.tagid" checked="checked" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="tagEn" id="tagEn@(temp.tagid)" value="@temp.tagid" />
                                    }
                                    <div class="check-box"></div>
                                    <span>@(temp.tagname)(@(temp.subname))</span>
                                </label>
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="lg-bot">
            <div class="btn btn-cancel">取消</div>
            <div class="btn btn-submit" id="tagEnAdd">送出</div>
            <!-- <input type="submit" class="btn btn-submit" id="AuthorTagAdd" value="送出" /> -->
        </div>
    </div>

    <!-- 作者與著作 中文標籤 -->
    <div class="lg-box lg-big-box" id="lgAuthorTagBox" style="display:none;">
        <div class="lg-tit">作者與著作</div>
        <div class="lg-cont lg-add">
            <div class="input-box input-box-w">
                <div class="tag-src-area">
                    <label for="">作者與著作</label>
                    <div class="tag-src-box">
                        <input type="text" class="tag-input w150" autocomplete="off" id="authorSrc">
                        <div class="tag-btn src" id="authorSrcBtn">搜尋</div>
                        <div class="tag-btn" id="authorSrcCleanBtn">清除</div>
                    </div>
                </div>

                <div class="check-list" id="authorList">
                    @for (int i = 0; i < Model.books_tw.Count; i++)
                    {
                        if (Model.books_tw[i].authorName != null && Model.books_tw[i].authorName.Length > 0
                            && Model.books_tw[i].bookName != null && Model.books_tw[i].bookName.Length > 0)
                        {
                            <label for="author@(i+1)">
                                @if (Model.books_tw[i].owned)
                                {
                                    <input type="checkbox" name="author" id="author@(i+1)" value="@(Model.books_tw[i].bookid)" checked="checked">
                                }
                                else
                                {
                                    <input type="checkbox" name="author" id="author@(i+1)" value="@(Model.books_tw[i].bookid)">
                                }
                                <div class="check-box"></div>
                                <span>@(Model.books_tw[i].authorName) @(Model.books_tw[i].bookName)（@(Model.books_tw[i].publishTime)）</span>
                                <a href="javascript:editAuthor(@(Model.books_tw[i].authorid))" title="編輯" alt="編輯">
                                    <i class="fad fa-pen-square"></i>
                                </a>
                            </label>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="lg-bot">
            <div class="btn btn-cancel">取消</div>
            <div class="btn btn-submit" id="authorTagAdd">送出</div>
            <!-- <input type="submit" class="btn btn-submit" id="AuthorTagAdd" value="送出" /> -->
        </div>
    </div>
    <!-- 作者與著作 英文標籤 -->
    <div class="lg-box lg-big-box" id="lgAuthorTagEnBox" style="display:none;">
        <div class="lg-tit">作者與著作(英文)</div>
        <div class="lg-cont lg-add">
            <div class="input-box input-box-w input-box-en">
                <div class="tag-src-area">
                    <label for="">作者與著作(英)</label>
                    <div class="tag-src-box">
                        <input type="text" class="tag-input w150" autocomplete="off" id="authorSrcEn">
                        <div class="tag-btn src" id="authorSrcEnBtn">搜尋</div>
                        <div class="tag-btn" id="authorSrcCleanEnBtn">清除</div>
                    </div>
                </div>

                <div class="check-list" id="authorEnList">
                    @for (int i = 0; i < Model.books_en.Count; i++)
                    {
                        if (Model.books_en[i].authorNameEn != null && Model.books_en[i].authorNameEn.Length > 0
                            && Model.books_en[i].bookNameEn != null && Model.books_en[i].bookNameEn.Length > 0)
                        {
                            <label for="authorEn@(i+1)">
                                @if (Model.books_en[i].owned)
                                {
                                    <input type="checkbox" name="authorEn" id="authorEn@(i+1)" value="@(Model.books_en[i].bookid)" checked="checked">
                                }
                                else
                                {
                                    <input type="checkbox" name="authorEn" id="authorEn@(i+1)" value="@(Model.books_en[i].bookid)">
                                }
                                <div class="check-box"></div>
                                <span>@(Model.books_en[i].authorNameEn) @(Model.books_en[i].bookNameEn)（@(Model.books_en[i].publishTime)）</span>
                                <a href="javascript:editAuthor(@(Model.books_en[i].authorid))" title="編輯" alt="編輯">
                                    <i class="fad fa-pen-square"></i>
                                </a>
                            </label>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="lg-bot">
            <div class="btn btn-cancel">取消</div>
            <div class="btn btn-submit" id="authorTagEnAdd">送出</div>
            <!-- <input type="submit" class="btn btn-submit" id="AuthorTagAdd" value="送出" /> -->
        </div>
    </div>

    <!-- 延伸閱讀 中文 -->
    <div class="lg-box lg-big-box" id="lgMoreTagBox" style="display:none;">
        <div class="lg-tit">延伸閱讀</div>
        <div class="lg-cont lg-add">
            <div class="input-box input-box-w">
                <div class="tag-src-area">
                    <label for="">延伸閱讀</label>
                    <div class="tag-src-box">
                        <input type="text" class="tag-input w150" autocomplete="off" id="moreSrc">
                        <div class="tag-btn src" id="moreSrcBtn">搜尋</div>
                        <div class="tag-btn" id="moreSrcCleanBtn">清除</div>
                    </div>
                </div>
                <div class="check-list" id="moreBookList">
                    @for (int i = 0; i < Model.exds_tw.Count; i++)
                    {
                        if (Model.exds_tw[i].title != null && Model.exds_tw[i].title.Length > 0)
                        {
                            <label for="more@(i+1)">
                                @if (Model.exds_tw[i].owned)
                                {
                                    <input type="checkbox" name="more" id="more@(i+1)" value="@(Model.exds_tw[i].exid)" checked="checked">
                                }
                                else
                                {
                                    <input type="checkbox" name="more" id="more@(i+1)" value="@(Model.exds_tw[i].exid)">
                                }
                                <div class="check-box"></div>
                                <span>@(Model.exds_tw[i].title)</span>
                                <a href="javascript:editExdReader(@(Model.exds_tw[i].exid))" title="編輯" alt="編輯">
                                    <i class="fad fa-pen-square"></i>
                                </a>
                            </label>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="lg-bot">
            <div class="btn btn-cancel">取消</div>
            <div class="btn btn-submit" id="moreTagAdd">送出</div>
        </div>
    </div>
    <!-- 延伸閱讀 英文 -->
    <div class="lg-box lg-big-box" id="lgMoreTagEnBox" style="display:none;">
        <div class="lg-tit">延伸閱讀(英文)</div>
        <div class="lg-cont lg-add">
            <div class="input-box input-box-w input-box-en">
                <div class="tag-src-area">
                    <label for="">延伸閱讀(英)</label>
                    <div class="tag-src-box">
                        <input type="text" class="tag-input w150" autocomplete="off" id="moreSrcEn">
                        <div class="tag-btn src" id="moreSrcEnBtn">搜尋</div>
                        <div class="tag-btn" id="moreSrcCleanEnBtn">清除</div>
                    </div>
                </div>
                <div class="check-list" id="moreBookEnList">
                    @for (int i = 0; i < Model.exds_en.Count; i++)
                    {
                        if (Model.exds_en[i].title != null && Model.exds_en[i].title.Length > 0)
                        {
                            <label for="moreEn@(i+1)">
                                @if (Model.exds_en[i].owned)
                                {
                                    <input type="checkbox" name="moreEn" id="moreEn@(i+1)" value="@(Model.exds_en[i].exid)" checked="checked">
                                }
                                else
                                {
                                    <input type="checkbox" name="moreEn" id="moreEn@(i+1)" value="@(Model.exds_en[i].exid)">
                                }
                                <div class="check-box"></div>
                                <span>@(Model.exds_en[i].title)</span>
                                <a href="javascript:editExdReader(@(Model.exds_en[i].exid))" title="編輯" alt="編輯">
                                    <i class="fad fa-pen-square"></i>
                                </a>
                            </label>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="lg-bot">
            <div class="btn btn-cancel">取消</div>
            <div class="btn btn-submit" id="moreTagEnAdd">送出</div>
        </div>
    </div>

    <div class="input-box">
        <label for="show">是否顯示</label>
        <div class=" check-list">
            <label for="yes">
                @if (Model.LIDisplay_tw == 1)
                {
                    <input type="radio" name="show" id="yes" value="1" title="至少選擇一個" checked class="required">
                }
                else
                {
                    <input type="radio" name="show" id="yes" value="1" title="至少選擇一個" class="required">
                }
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="no">
                @if (Model.LIDisplay_tw == 2)
                {
                    <input type="radio" name="show" id="no" value="2" title="至少選擇一個" checked class="radio-box required">
                }
                else
                {
                    <input type="radio" name="show" id="no" value="2" title="至少選擇一個" class="radio-box required">
                }
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <div class="input-box input-box-en">
        <label for="show">是否顯示(英)</label>
        <div class=" check-list">
            <label for="yesEn">
                @if (Model.LIDisplay_en == 1)
                {
                    <input type="radio" name="showEn" id="yesEn" value="1" title="至少選擇一個" checked class="required">
                }
                else
                {
                    <input type="radio" name="showEn" id="yesEn" value="1" title="至少選擇一個" class="required">
                }
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="noEn">
                @if (Model.LIDisplay_en == 2)
                {
                    <input type="radio" name="showEn" id="noEn" value="2" title="至少選擇一個" checked class="radio-box required">
                }
                else
                {
                    <input type="radio" name="showEn" id="noEn" value="2" title="至少選擇一個" class="radio-box required">
                }
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <div class="btn-area">
        <a href="@Url.Action("LiteraryIntroList")" class="btn btn-cancel"><i class="fa fa-chevron-left"></i> 取消</a>
        <div class="btn btn-submit">
            <i class="fa fa-check"></i> 確認送出
            <input type="submit" class="btn">
        </div>
    </div>
</form>

<!-- 此為表單驗證用，注意需更改#name與標單的id相同 -->
<script type="text/javascript">
    $(function () {
        var message = '@ViewBag.Error';
        if (message == "完成") {
            alert("完成");
            top.location.href = "@Url.Action("LiteraryIntroList")";
        } else if (message.length > 0) {
            alert('@ViewBag.Error');
        } else {
            var validator = $("#form").validate({
                submitHandler: function (form) {
                    if (document.getElementById('uploadFile').files.length > 0) {
                        getFile(document.getElementById('uploadFile').files[0]).then((customJsonFile) => {
                            //customJsonFile is your newly constructed file.
                            $('#pdf').val(customJsonFile["base64StringFile"]);
                            $('#pdfname').val(customJsonFile["fileName"]);
                            //resetForm();
                            form.submit();
                        });
                    } else {
                        //resetForm();
                        form.submit();
                    }
                }
            });
        }
        //編輯器
        var editor = CKEDITOR.replace('editor', {
            removePlugins: 'flash,cloudservices',
            extraPlugins: 'embed,autoembed',
            height: 500,
            filebrowserImageUploadUrl: '/Backend/ImageUpload',
            filebrowserBrowseUrl: '@Url.Content("~/js/Filemanager/index.html")',
            filebrowserUploadMethod: 'form',

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [
                'https://cdn.ckeditor.com/4.14.0/full-all/contents.css',
                //'https://ckeditor.com/docs/vendors/4.14.0/ckeditor/assets/css/widgetstyles.css'
            ],
            // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
            image2_disableResizer: true
        });
        var editorEn = CKEDITOR.replace('editorEn', {
            removePlugins: 'flash,cloudservices',
            extraPlugins: 'embed,autoembed',
            height: 500,
            filebrowserImageUploadUrl: '/Backend/ImageUpload',
            filebrowserBrowseUrl: '@Url.Content("~/js/Filemanager/index.html")',
            filebrowserUploadMethod: 'form',

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [
                'https://cdn.ckeditor.com/4.14.0/full-all/contents.css',
                //'https://ckeditor.com/docs/vendors/4.14.0/ckeditor/assets/css/widgetstyles.css'
            ],
            // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
            image2_disableResizer: true
        });

        //=== 打開標籤選擇 ===
        var openBtnList = [
            { openBtn: '#openTagBtn', lgBox: '#lgTagBox' },
            { openBtn: '#openTagEnBtn', lgBox: '#lgTagEnBox' },
            { openBtn: '#openAuthorTagBtn', lgBox: '#lgAuthorTagBox' },
            { openBtn: '#openAuthorTagEnBtn', lgBox: '#lgAuthorTagEnBox' },
            { openBtn: '#openMoreTagBtn', lgBox: '#lgMoreTagBox' },
            { openBtn: '#openMoreTagEnBtn', lgBox: '#lgMoreTagEnBox' },
        ];
        $.each(openBtnList, function (ind, val) {
            var $openBtn = $(val.openBtn);
            $openBtn.on('click', function () {
                $(val.lgBox + ',#mask').fadeIn();
            });
        });

        //=== 新增標籤點擊 ===
        var addBtnList = [
            { addBtn: '#tagAdd', tagList: '#tagCheckList', tagArea: '#tagArea', lgBox: '#lgTagBox' },
            { addBtn: '#tagEnAdd', tagList: '#tagEnCheckList', tagArea: '#tagEnArea', lgBox: '#lgTagEnBox' },
            { addBtn: '#authorTagAdd', tagList: '#authorList', tagArea: '#authorTagArea', lgBox: '#lgAuthorTagBox' },
            { addBtn: '#authorTagEnAdd', tagList: '#authorEnList', tagArea: '#authorTagEnArea', lgBox: '#lgAuthorTagEnBox' },
            { addBtn: '#moreTagAdd', tagList: '#moreBookList', tagArea: '#moreTagArea', lgBox: '#lgMoreTagBox' },
            { addBtn: '#moreTagEnAdd', tagList: '#moreBookEnList', tagArea: '#moreTagEnArea', lgBox: '#lgMoreTagEnBox' },
        ];

        $.each(addBtnList, function (ind, val) {
            var $addBtn = $(val.addBtn);
            $addBtn.on('click', function () {
                pushTag(val.tagList, val.tagArea, val.lgBox);
            });
        });
        $.each(addBtnList, function (ind, val) {
            pushTag(val.tagList, val.tagArea, val.lgBox);
        });
    });

    var uploadpic; var tempuploadpic;
    var image;
    var modal;
    var cropper;
    var _index;

    function initcrop(index) {
        _index = index;

        uploadpic = document.getElementById('uploadpic' + _index);

        image = document.getElementById('orimg');
        modal = document.getElementById("myModal");

        $('#cropit').on('click', function () {
            var croppedImageDataURL = cropper.getCroppedCanvas({ width: 800, height: 800 }).toDataURL("image/png");
            $('#cropimg' + _index).attr('src', croppedImageDataURL);
            $('#pic' + _index).val(croppedImageDataURL);

            cropper.destroy();
            image.src = '';
            try {
                document.getElementById('pic' + _index + '_del').value = "0";
            } catch (e) {}
            tempuploadpic = uploadpic.value;
            modal.style.display = "none";
        });
        $('#cropmove').on('click', function () {
            cropper.setDragMode("move");
        });

        $('#cropcut').on('click', function () {
            cropper.setDragMode("crop");
        });

        $('#closeit').on('click', function () {
            cropper.destroy();
            image.src = '';
            modal.style.display = "none";
        });

        if (uploadpic.files && uploadpic.files[0]) {
            if (uploadpic.files[0].type.match(/^image\//)) {
                var reader = new FileReader();
                reader.onload = function (evt) {
                    image.src = evt.target.result;
                    cropper = new Cropper(image, {
                        aspectRatio: 1 / 1,
                        viewMode: 1,
                        crop(event) {
                            console.log(event.detail.x);
                            console.log(event.detail.y);
                            console.log(event.detail.width);
                            console.log(event.detail.height);
                            console.log(event.detail.rotate);
                            console.log(event.detail.scaleX);
                            console.log(event.detail.scaleY);
                        },
                    });
                    modal.style.display = "block";
                };
                reader.readAsDataURL(uploadpic.files[0]);
            }
            else {
                alert("Invalid file type! Please select an image file.");
            }
        }
        else {
            alert('No file(s) selected.');
        }
    }

    function editAuthor(authorid) {
        $("#editauthor").find("#authorEdit").val(authorid);
        $("#editauthor").submit();
    }

    function editExdReader(exid) {
        $("#editexdreader").find("#exdreaderEdit").val(exid);
        $("#editexdreader").submit();
    }

    function delpic(pic, del) {
        document.getElementById(pic).src = "";
        document.getElementById(del).value = "1";
    }

    function delPdf() {
        var headers = {};
        var data = {};
        data.LIid = '@Model.LIid';

        if (confirm("您確定要刪除檔案嗎?")) {
            $.ajax({
                type: "POST",
                data: data,
                headers: headers,
                url: '@Url.Action("delPdf")',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (result) {
                    if (result == "1") {
                        alert("完成");
                        top.location.href = "@Url.Action("LiteraryIntroList")";
                    } else {
                        alert("失敗");
                    }
                },
            });
        }
    }
</script>
