﻿@model VirtualMuseum.Models.Backend.LiteraryViewModel

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "文學展示管理";
    ViewBag.Title2 = "新增文學展示";
}

<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 800px; /* Could be more or less, depending on screen size */
    }
</style>

<h1>@ViewBag.Title</h1>
<ol class="breadcrumb">
    <li><a href="@Url.Action("LiteraryList")">文學展示</a></li>
    <li class="active">
        <span>新增</span>
    </li>
</ol>

<h2>@ViewBag.Title2</h2>
<form action="@Url.Action("AddLiterary")" id="form" enctype="multipart/form-data" method="post">
    @*防偽造*@
    @Html.AntiForgeryToken()
    <div class="input-box">
        <label for="uploadpic3">*主圖</label>
        <div class="note">圖像尺寸 500 × 500，支援jpg、gif、png等格式 </div>
        <div class="upload-img">
            <div class="head-box upload-box-sty">
                <input type="file" name="uploadpic3" id="uploadpic3" class="upload-pic required"
                       onchange="initcrop(3);" onclick="this.value=null;">
                <div id="previews3" class="upload-click-area" onclick="upload_click(this)">
                    <img id="cropimg3" src="/img/default_src.jpg" alt="img3">
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="pic3" id="pic3" value="" />

    <div class="input-box input-box-en">
        <label for="uploadpic4">主圖(英)</label>
        <div class="note">圖像尺寸 500 × 500，支援jpg、gif、png等格式</div>
        <div class="upload-img">
            <div class="head-box upload-box-sty">
                <input type="file" name="uploadpic4" id="uploadpic4" class="upload-pic"
                       onchange="initcrop(4);" onclick="this.value=null;">
                <div class="del-photo" title="刪除" alt="刪除" onclick="delpic('cropimg4','pic4_del')"></div>
                <div id="previews4" class="upload-click-area" onclick="upload_click(this)">
                    <img id="cropimg4" src="/img/default_src.jpg" alt="img4">
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="pic4" id="pic4" value="" />
    <input type="hidden" name="pic4_del" id="pic4_del" value="0" />
    <!--
    <div class="input-box">
        <label for="uploadpic5">*背景圖</label>
        <div class="note">圖像尺寸 1360 × 540，支援jpg、gif、png等格式 </div>
        <div class="upload-img">
            <div class="head-box upload-box-sty">
                <input type="file" name="uploadpic5" id="uploadpic5" class="upload-pic required"
                       onchange="initcrop(5);" onclick="this.value=null;">
                <div id="previews5" class="upload-click-area" onclick="upload_click(this)">
                    <img id="cropimg5" src="" alt="img5">
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="pic5" id="pic5" value="" />

    <div class="input-box input-box-en">
        <label for="uploadpic6">背景圖(英)</label>
        <div class="note">圖像尺寸 1360 × 540，支援jpg、gif、png等格式</div>
        <div class="upload-img">
            <div class="head-box upload-box-sty">
                <input type="file" name="uploadpic6" id="uploadpic6" class="upload-pic"
                       onchange="initcrop(6);" onclick="this.value=null;">
                <div class="del-photo" title="刪除" alt="刪除" onclick="delpic('cropimg6','pic6_del')"></div>
                <div id="previews6" class="upload-click-area" onclick="upload_click(this)">
                    <img id="cropimg6" src="" alt="img6">
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="pic6" id="pic6" value="" />
    <input type="hidden" name="pic6_del" id="pic6_del" value="" />
    -->
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <a id="cropit" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;"><i class="fa fa-chevron-left"></i>裁切</a>
            <a id="cropmove" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;margin-left:65px;"><i class="fa fa-arrows-alt"></i></a>
            <a id="cropcut" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;margin-left:105px;"><i class="fa fa-crop-alt"></i></a>
            <a id="closeit" href="#" class="btn btn-cancel" style="margin-left:762px;"><i class="fa fa-window-close"></i></a>
            <div id="cropper-example-2" style="height:800px;width:800px;">
                <img id="orimg" alt="Picture" />
            </div>
        </div>
    </div>

    <div class="input-box input-box-w" transBox>
        <label for="title">*大標題</label>
        <input type="text" class="input-sty required" name="title" id="title" value="">
    </div>
    <div class="input-box input-box-w input-box-en">
        <label for="titleEn">大標題(英)</label>
        <input type="text" class="input-sty" name="titleEn" id="titleEn" value="">
    </div>
    <div class="input-box">
        <label for="supTitle1">*次標題(1)</label>
        <input type="text" class="input-sty required" name="supTitle1" id="supTitle1" value="">
    </div>
    <div class="input-box input-box-en">
        <label for="supTitleEn1">次標題(1)(英)</label>
        <input type="text" class="input-sty" name="supTitleEn1" id="supTitleEn1" value="" placeholder="En">
    </div>
    <div class="input-box">
        <label for="supTitle2">*次標題(2)</label>
        <input type="text" class="input-sty required" name="supTitle2" id="supTitle2" value="">
    </div>
    <div class="input-box input-box-en">
        <label for="supTitleEn2">次標題(2)(英)</label>
        <input type="text" class="input-sty" name="supTitleEn2" id="supTitleEn2" value="" placeholder="En">
    </div>
    <!-- <div class="input-box" transBox>
        <div class="space-between-area">
            <label for="supTitle1" zhTrans>次標題(1)</label>
            <label for="supTitleEn1" style="display: none;" enTrans>次標題(1)(英)</label>
            <div class="icon-btn" enBtn>
                <i class="fad fa-font-case"></i>
            </div>
        </div>
        <input type="text" class="input-sty required" name="supTitle1" id="supTitle1" value="" zhTrans>
        <input type="text" class="input-sty" name="supTitleEn1" id="supTitleEn1" value="" placeholder="En"
            style="display: none;" enTrans>
    </div> -->
    <div class="input-box input-box-w">
        <label for="editor">內文</label>
        <textarea name="editor" id="editor" placeholder="內文說明..." class="input-sty desc-info"></textarea>
    </div>
    <div class="input-box input-box-w input-box-en">
        <label for="editorEn">內文(英)</label>
        <textarea name="editorEn" id="editorEn" placeholder="內文說明..." class="input-sty desc-info"></textarea>
    </div>

    <div class="input-box">
        <label for="show">是否顯示</label>
        <div class=" check-list">
            <label for="yes">
                <input type="radio" name="show" id="yes" value="1" title="至少選擇一個" checked class="required">
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="no">
                <input type="radio" name="show" id="no" value="2" title="至少選擇一個" class="radio-box required">
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <div class="input-box input-box-en">
        <label for="show">是否顯示(英)</label>
        <div class=" check-list">
            <label for="yesEn">
                <input type="radio" name="showEn" id="yesEn" value="1" title="至少選擇一個" checked class="required">
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="noEn">
                <input type="radio" name="showEn" id="noEn" value="2" title="至少選擇一個" class="radio-box required">
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <div class="btn-area">
        <a href="@Url.Action("LiteraryList")" class="btn btn-cancel"><i class="fa fa-chevron-left"></i> 取消</a>
        <!--<a href="javascript:goPreviewThemeCont()" class="btn btn-submit" target="_blank">
            <i class="fad fa-window"></i>
            預覽頁面
        </a>-->
        <div class="btn btn-submit">
            <i class="fa fa-check"></i> 確認送出
            <input type="submit" class="btn">
        </div>
    </div>
</form>

<form id="editexdreader" action="@Url.Action("ExdReaderEdit")" method="post">
    <input type="hidden" name="exdreaderEdit" id="exdreaderEdit" value="" />
</form>
<form id="goPreviewThemeCont" target="_blank" method="post" action="@(Model.Layout==1?Url.Action("ExhibitionCont1","Theme"):Url.Action("ExhibitionCont2", "Theme"))">
    <input type="hidden" id="Subtitle1_en" name="Subtitle1_en" value="" />
    <input type="hidden" id="Subtitle1_tw" name="Subtitle1_tw" value="" />
    <input type="hidden" id="Subtitle2_en" name="Subtitle2_en" value="" />
    <input type="hidden" id="Subtitle2_tw" name="Subtitle2_tw" value="" />
    <input type="hidden" id="Content_en" name="Content_en" value="" />
    <input type="hidden" id="Content_tw" name="Content_tw" value="" />
    <input type="hidden" id="Pic3" name="Pic3" value="" />
    <input type="hidden" id="Pic4" name="Pic4" value="" />
    <input type="hidden" id="Pic5" name="Pic5" value="" />
    <input type="hidden" id="Pic6" name="Pic6" value="" />
    <input type="hidden" id="Title_en" name="Title_en" value="" />
    <input type="hidden" id="Title_tw" name="Title_tw" value="" />
</form>
<!-- 此為表單驗證用，注意需更改#name與標單的id相同 -->
<script type="text/javascript">
    $(function () {
        var message = '@ViewBag.Error';
        if (message == "完成") {
            alert("完成");
            top.location.href = "@Url.Action("LiteraryList")";
        } else if (message.length > 0) {
            alert('@ViewBag.Error');
        } else {
            var validator = $("#form").validate({
                /*
                invalidHandler: function (event, validator) {
                    if (document.getElementById('uploadpic3').value == "" && tempuploadpic['uploadpic3'])
                        document.getElementById('uploadpic3').value = tempuploadpic['uploadpic3'];
                    if (document.getElementById('uploadpic5').value == "" && tempuploadpic['uploadpic5'])
                        document.getElementById('uploadpic5').value = tempuploadpic['uploadpic5'];
                },*/
                submitHandler: function (form) {
                    //resetForm();
                    form.submit();
                }
            });
        }
        //編輯器
        var editor = CKEDITOR.replace('editor', {
            removePlugins: 'flash,cloudservices',
            extraPlugins: 'embed,autoembed',
            height: 500,
            filebrowserImageUploadUrl: '/Backend/ImageUpload',
            filebrowserBrowseUrl: '@Url.Content("~/js/Filemanager/index.html")',
            filebrowserUploadMethod: 'form',

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [
                'https://cdn.ckeditor.com/4.14.0/full-all/contents.css',
                //'https://ckeditor.com/docs/vendors/4.14.0/ckeditor/assets/css/widgetstyles.css'
            ],
            // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
            image2_disableResizer: true
        });
        var editorEn = CKEDITOR.replace('editorEn', {
            removePlugins: 'flash,cloudservices',
            extraPlugins: 'embed,autoembed',
            height: 500,
            filebrowserImageUploadUrl: '/Backend/ImageUpload',
            filebrowserBrowseUrl: '@Url.Content("~/js/Filemanager/index.html")',
            filebrowserUploadMethod: 'form',

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [
                'https://cdn.ckeditor.com/4.14.0/full-all/contents.css',
                //'https://ckeditor.com/docs/vendors/4.14.0/ckeditor/assets/css/widgetstyles.css'
            ],
            // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
            image2_disableResizer: true
        });
    });

    var uploadpic;
    var tempuploadpic = [];
    var image;
    var modal;
    var cropper;
    var _index;

    function initcrop(index) {
        _index = index;

        uploadpic = document.getElementById('uploadpic' + _index);
        
        image = document.getElementById('orimg');
        modal = document.getElementById("myModal");

        $('#cropit').on('click', function () {
            var croppedImageDataURL = null;
            if (_index == 3 || _index == 4)
                croppedImageDataURL = cropper.getCroppedCanvas({ width: 500, height: 500 }).toDataURL("image/png");
            else if (_index == 5 || _index == 6)
                croppedImageDataURL = cropper.getCroppedCanvas({ width: 1360, height: 540 }).toDataURL("image/png");
            $('#cropimg' + _index).attr('src', croppedImageDataURL);
            $('#pic' + _index).val(croppedImageDataURL);

            cropper.destroy();
            image.src = '';
            try {
                document.getElementById('pic' + _index + '_del').value = "0";
            } catch (e) { }
            tempuploadpic['uploadpic' + _index] = uploadpic.value;
            modal.style.display = "none";
        });
        $('#cropmove').on('click', function () {
            cropper.setDragMode("move");
        });

        $('#cropcut').on('click', function () {
            cropper.setDragMode("crop");
        });

        $('#closeit').on('click', function () {
            cropper.destroy();
            image.src = '';
            modal.style.display = "none";
        });

        if (uploadpic.files && uploadpic.files[0]) {
            if (uploadpic.files[0].type.match(/^image\//)) {
                var reader = new FileReader();
                reader.onload = function (evt) {
                    image.src = evt.target.result;
                    if (_index == 3 || _index == 4) {
                        cropper = new Cropper(image, {
                            aspectRatio: 1 / 1,
                            viewMode: 1,
                            crop(event) {
                                console.log(event.detail.x);
                                console.log(event.detail.y);
                                console.log(event.detail.width);
                                console.log(event.detail.height);
                                console.log(event.detail.rotate);
                                console.log(event.detail.scaleX);
                                console.log(event.detail.scaleY);
                            },
                        });
                    } else if (_index == 5 || _index == 6) {
                        cropper = new Cropper(image, {
                            aspectRatio: 1 / 1,
                            viewMode: 1,
                            crop(event) {
                                console.log(event.detail.x);
                                console.log(event.detail.y);
                                console.log(event.detail.width);
                                console.log(event.detail.height);
                                console.log(event.detail.rotate);
                                console.log(event.detail.scaleX);
                                console.log(event.detail.scaleY);
                            },
                        });
                    }
                    modal.style.display = "block";
                };
                reader.readAsDataURL(uploadpic.files[0]);
            }
            else {
                alert("Invalid file type! Please select an image file.");
            }
        }
        else {
            alert('No file(s) selected.');
        }
    }

    function editExdReader(exid) {
        $("#exdreaderEdit").val(exid);
        $("#editexdreader").submit();
    }
    function goPreviewThemeCont() {
        $('#goPreviewThemeCont').find('#Subtitle1_en').val($('#supTitle1').val());
        $('#goPreviewThemeCont').find('#Subtitle1_tw').val($('#supTitleEn1').val());
        $('#goPreviewThemeCont').find('#Subtitle2_en').val($('#supTitle2').val());
        $('#goPreviewThemeCont').find('#Subtitle2_tw').val($('#supTitleEn2').val());
        $('#goPreviewThemeCont').find('#Content_en').val(CKEDITOR.instances.editorEn.getData());
        $('#goPreviewThemeCont').find('#Content_tw').val(CKEDITOR.instances.editor.getData());
        $('#goPreviewThemeCont').find('#Pic3').val($('#cropimg3').attr('src'));
        $('#goPreviewThemeCont').find('#Pic4').val($('#cropimg4').attr('src'));
        $('#goPreviewThemeCont').find('#Pic5').val($('#cropimg5').attr('src'));
        $('#goPreviewThemeCont').find('#Pic6').val($('#cropimg6').attr('src'));
        $('#goPreviewThemeCont').find('#Title_en').val($('#titleEn').val());
        $('#goPreviewThemeCont').find('#Title_tw').val($('#title').val());
        if ($('input[name=layout]:checked').val() == "1") {
            $('#goPreviewThemeCont').attr("action", "/Theme/ExhibitionCont1");
        } else {
            $('#goPreviewThemeCont').attr("action", "/Theme/ExhibitionCont2");
        }
        $('#goPreviewThemeCont').submit();
    }

    function delpic(pic, del) {
        document.getElementById(pic).src = "";
        document.getElementById(del).value = "1";
    }
</script>
