﻿@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "變更密碼";
    ViewBag.Title2 = "帳號資料";
}

<h1>@ViewBag.Title</h1>

<h2>@ViewBag.Title2</h2>

<form action="@Url.Action("EditPwd")" method="post" id="form">
    @*防偽造*@
    @Html.AntiForgeryToken()
    <div class="input-box">
        <label for="account">帳號</label>
        <span id="account">@Session["Adminname"]</span>
    </div>
    <div class="input-box">
        <label for="oldPwd">*舊密碼</label>
        <input type="password" class="input-sty required" name="oldPwd" id="oldPwd" value="">
        <div class="note">如無需要變更，請勿變動</div>
    </div>
    <div class="input-box">
        <label for="pwd">*新密碼</label>
        <input type="password" class="input-sty required" name="pwd" id="pwd" value="">
    </div>
    <div class="input-box">
        <label for="pwdCheck">*確認新密碼</label>
        <input type="password" class="input-sty required" name="pwdCheck" id="pwdCheck" value="">
    </div>

    <div class="btn-area">
        <div class="btn btn-submit">
            <i class="fa fa-check"></i> 確認送出
            <input type="submit" class="btn">
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        var message = '@ViewBag.Error';
        if (message == "success") {
            //top.location.href = "@Url.Action("AdminManage")";
            alert("完成");
        } else if (message.length > 0) {
            alert("@ViewBag.Error");
        }

        $.validator.addMethod("strongcheck1", function (value) {
            return /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@@$!%*?&])[A-Za-z\d$@@$!%*?&]/.test(value);
        });
        $.validator.addMethod("lengthcheck1", function (value) {
            return /.{8,}/.test(value);
        });
        $.validator.addMethod("theSameAcc", function (value, element) {
            if ($('#account').html().length <= 0) return true;

            if (value) {
                return value.match($('#account').html()) == null; // 輸入內容中不可有空白字元
            } else {
                return false;
            }
        });
        $.validator.addMethod("reverseAcc", function (value, element) {
            if ($('#account').html().length <= 0) return true;

            if (value) {
                return value.match($('#account').html().split("").reverse().join("")) == null; // 輸入內容中不可有空白字元
            } else {
                return false;
            }
        });
        $.validator.addMethod("charac3", function (value, element) {
            if (value) {
                var count = 1;
                for (var i = 0; i < value.length; i++) {
                    count = 1;
                    for (var ii = i + 1; ii < value.length; ii++) {
                        if (value[i] == value[ii])
                            count++;

                        if (count >= 3)
                            return false;

                        if (ii >= i + 2) break;
                    }
                }

                return true;
            } else {
                return false;
            }
        });
        var validator = $("#form").validate({
            rules: {
                pwd: {
                    required: true,
                    strongcheck1: true,
                    lengthcheck1: true,
                    theSameAcc: true,
                    reverseAcc: true,
                    charac3: true
                },
                pwdCheck: {
                    equalTo: "#pwd",
                },
            },
            messages: {
                pwd: {
                    strongcheck1: "需含有大寫字母、小寫字母、數字及符號",
                    lengthcheck1: "最少8個字",
                    theSameAcc: "不得與帳號相同",
                    reverseAcc: "不得與帳號顛倒",
                    charac3: "不得連續3個重覆字元"
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>
