﻿@using PagedList.Mvc;
@using PagedList;
@model VirtualMuseum.Models.Backend.QAViewModel

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "共創平台管理";
    ViewBag.Title2 = "民眾問答";
    ViewBag.Action = "QAEdit";
}

<h1>@ViewBag.Title</h1>
<h2>@ViewBag.Title2</h2>
<div class="input-box">
    <label>標題</label>
    <span>@Model.Title</span>
</div>
<div class="input-box">
    <label>發問者</label>
    <span>@Model.Name</span>
</div>
<div class="input-box input-box-w">
    <label>內文</label>
    <span>@Model.Content</span>
</div>
<div class="response-area input-box input-box-w">
    <div class="response-box">
        @if (Model.Replyid == 0)
        {
            <input type="text" rid="@Model.Qid" rkind="1" class="input-sty" name="reply" id="reply" value="@Model.RMessage">
            <div id="reply@(Model.Qid)" rid2="@Model.Replyid" class="btn btn-submit replybtn">回覆留言</div>
        }
        else
        {
            <input type="text" rid="@Model.Qid" rkind="1" class="input-sty" name="reply" id="reply" value="@Model.RMessage">
            <div id="reply@(Model.Qid)" rid2="@(Model.Replyid)" class="btn btn-submit replybtn">更動留言</div>
        }
    </div>
</div>
<form action="@Url.Action("EditQA")" method="post" id="form">
    @*防偽造*@
    @Html.AntiForgeryToken()
    <div class="input-box">
        <label for="show">是否顯示</label>
        <div class=" check-list">
            <label for="yes">
                @if (Model.show == "1")
                {
                    <input type="radio" name="show" id="yes" value="1" title="至少選擇一個" checked class="required">
                }
                else
                {
                    <input type="radio" name="show" id="yes" value="1" title="至少選擇一個" class="required">
                }
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="no">
                @if (Model.show == "2")
                {
                    <input type="radio" name="show" id="no" value="2" title="至少選擇一個" checked class="radio-box required">
                }
                else
                {
                    <input type="radio" name="show" id="no" value="2" title="至少選擇一個" class="radio-box required">
                }
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>
    <input type="hidden" name="Qid" id="Qid" value="@Model.Qid" />

    <div class="btn-area">
        <a href="@Url.Action("QAList")" class="btn btn-cancel"><i class="fa fa-chevron-left"></i> 取消</a>
        <div class="btn btn-submit">
            <i class="fa fa-check"></i> 確認送出
            <input type="submit" class="btn">
        </div>
    </div>
</form>

<form id="editqa" action="@Url.Action("QAEdit")" method="post">
    <input type="hidden" name="Qid" id="Qid" value="" />
</form>

<h2>留言列表</h2>
<ul class="comment-list">
    @if (Model != null && Model.replys != null && Model.replys.Count > 0)
    {
        var page = Model.replys.ToList().ToPagedList(pageNumber: 1, pageSize: 5);
        foreach (var item in page)
        {
            <li>
                <div class="comment-area">
                    <div class="comment-name">
                        <div><span>@(item.nickname)</span>| @(item.createtime)</div>
                        @if (item.display == 1)
                        {
                            <div class="comment-show" onclick="hideReply(@(item.Replyid))">
                                <i class="fad fa-eye blue"></i>
                                <!-- <i class="fad fa-eye-slash red"></i> -->
                            </div>
                        }
                        else
                        {
                            <div class="comment-show" onclick="hideReply(@(item.Replyid))">
                                <i class="fad fa-eye-slash red"></i>
                            </div>
                        }
                    </div>
                    <div class="comment-txt">@(item.data)</div>
                </div>
                <div class="response-area">
                    <div class="response-box">
                        @if (item.RRplyid == 0)
                        {
                            <input type="text" rid="@item.Replyid" rkind="2" class="input-sty" name="reply" id="reply" value="@item.RMessage">
                            <div id="reply@(item.Replyid)" rid2="@item.RRplyid" class="btn btn-submit replybtn">回覆留言</div>
                        }
                        else
                        {
                            <input type="text" rid="@item.Replyid" rkind="2" class="input-sty" name="reply" id="reply" value="@item.RMessage">
                            <div id="reply@(item.Replyid)" rid2="@(item.RRplyid)" class="btn btn-submit replybtn">更動留言</div>
                        }
                    </div>
                </div>
            </li>
        }
    }
</ul>

@if (Model != null && Model.replys != null && Model.replys.Count > 0)
{
    <div class="pagination">
        <div class="pagination-numbers">
            <a href="javascript:getPage(1)" title="第一頁">
                <i class="fas fa-arrow-to-left"></i>
            </a>

            <a href="javascript:getPage(@Model.replys.PageNumber > 1 ? @Model.replys.PageNumber - 1 : @Model.replys.PageNumber)" title="上一頁">
                <i class="fas fa-arrow-left"></i>
            </a>

            @for (int i = (Model.replys.PageNumber % 5); i <= (Model.replys.PageCount > 5 ? (Model.replys.PageNumber % 5) * 5 : Model.replys.PageCount); i++)
            {
                if (Model.replys.PageNumber == i)
                {
                    <a href="javascript:getPage(@i)" class="act">@i</a>
                }
                else
                {
                    <a href="javascript:getPage(@i)">@i</a>
                }
            }

            <a href="javascript:getPage(@Model.replys.PageNumber==@Model.replys.PageCount?@Model.replys.PageNumber:@Model.replys.PageNumber+1)" title="下一頁">
                <i class="fas fa-arrow-right"></i>
            </a>
            <a href="javascript:getPage(@Model.replys.PageCount)" title="最後頁">
                <i class="fas fa-arrow-to-right"></i>
            </a>
        </div>
    </div>
}
<script type="text/javascript">
    $(function () {
        var message = '@ViewBag.Error';
        if (message == "success") {
            //top.location.href = "@Url.Action("AdminManage")";
            alert("完成");
        } else if (message.length > 0) {
            alert('@ViewBag.Error');
        } else {
            var validator = $("#form").validate({
                submitHandler: function (form) {
                    //resetForm();
                    form.submit();
                }
            });
        }

        $('.replybtn').on('click', function () {
            var headers = {};
            var data = {};
            data.message = $(this).parent().find("input[type=text]").val();
            data.kind = $(this).parent().find("input[type=text]").attr('rkind');
            data.id = $(this).parent().find("input[type=text]").attr('rid');
            data.rid = $('#reply' + data.id).attr("rid2");

            $.ajax({
                type: "POST",
                data: data,
                headers: headers,
                url: '@Url.Action("reply")',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (result) {
                    alert(result["message"]);
                    if (result["code"] == 1)
                        $('#reply' + result["id"]).attr("rid", result["rid"]);
                    top.location.reload();
                },
                error: function (xhr, ajaxOption, thrownError) {
                    alert(xhr.responseText);
                }
            });
        });
    });

    function hideReply(id) {
        var headers = {};
        var data = {};
        data.Replyid = id;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("hideReply")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                alert(result["message"]);
                top.location.reload();
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }

    function getPage(page) {
        var headers = {};
        var data = {};
        data.action = "@ViewBag.Action";
        data.key = "@Model.Qid";
        data.page = page;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("getPage")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                //alert(result["PageNumber"]);
                $(".comment-list").empty();

                for (var i = 0; i < result["Lists"].length; i++) {
                    var str = '<li><div class="comment-area"><div class="comment-name">' +
                        '<div><span>' + result["Lists"][i]["nickname"] + '</span>| ' + result["Lists"][i]["createtime"] + '</div>';
                    if (result["Lists"][i]["display"] == 1) {
                        str += '<div class="comment-show"><i class="fad fa-eye blue" ></i></i></div>';
                    }
                    else {
                        str += '<div class="comment-show">< i class="fad fa-eye-slash red"></i></div>';
                    }
                    str += '</div><div class="comment-txt">' + result["Lists"][i]["data"] + '</div>' +
                        '</div><div class="response-area"><div class="response-box">';
                    if (result["Lists"][i]["RRplyid"] == 0) {
                        str += '<input type="text" rid="' + result["Lists"][i]["Replyid"]+'" rkind="2" class="input-sty" name = "reply" id = "reply" value = "' + result["Lists"][i]["RMessage"] + '"><div class="btn btn-submit">回覆留言</div>';
                    }
                    else {
                        str += '<input type="text" class="input-sty" name = "reply" id = "reply" value = "' + result["Lists"][i]["RMessage"] + '" disabled><div class="btn btn-submit">已回覆</div>';
                    }
                    str += '</div></div ></li >';
                    $(".comment-list").append(str);
                }

                $('.pagination-numbers').empty();

                $('.pagination-numbers').append('<a href="javascript:getPage(1)" title="第一頁"><i class="fas fa-arrow-to-left"></i></a>');
                $('.pagination-numbers').append('<a href="javascript:getPage(' + (result["PageNumber"] > 1 ? result["PageNumber"] - 1 : result["PageNumber"]) + ')" title="上一頁"><i class= "fas fa-arrow-left" ></i ></a >');

                var pageMin = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 1;
                var pageMax = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 5;

                if (parseInt(result["PageCount"]) < pageMax)
                    pageMax = parseInt(result["PageCount"]);
                for (var i = pageMin; i <= pageMax; i++) {
                    if (result["PageNumber"] == i) {
                        $('.pagination-numbers').append('<a href="javascript:getPage(' + i + ')" class="act">' + i + '</a>');
                    }
                    else {
                        $('.pagination-numbers').append('<a href="javascript:getPage(' + i + ')">' + i + '</a>');
                    }
                }

                $('.pagination-numbers').append('<a href="javascript:getPage(' + (result["PageNumber"] == result["PageCount"] ? result["PageNumber"] : result["PageNumber"] + 1) + ')" title="下一頁"><i class="fas fa-arrow-right"></i></a>');
                $('.pagination-numbers').append('<a href="javascript:getPage(' + result["PageCount"] + ')" title="最後頁"><i class="fas fa-arrow-to-right"></i></a>');
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }

    function editQA(Qid) {
        $("#editqa").find("#Qid").val(Qid);
        $("#editqa").submit();
    }
</script>


