﻿@using PagedList.Mvc;
@using PagedList;
@model IPagedList<DataAccess.Domain.QAListDomainModel>
@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "共創平台管理";
    ViewBag.Title2 = "民眾問答列表";
    ViewBag.Action = "QAList";
}

<form id="editqa" action="@Url.Action("QAEdit")" method="post">
    <input type="hidden" name="Qid" id="Qid" value="" />
</form>

<h1>@ViewBag.Title</h1>
<div class="sub-page">
    <ul>
        <li>
            <a href="@Url.Action("CreateList")">共創平台</a>
        </li>
        <li class="act">
            <a href="@Url.Action("QAList")">民眾問答</a>
        </li>
    </ul>
</div>
<h2>@ViewBag.Title2</h2>
<ul class="list">
    <li class="title">
        <div class="group-box-83">
            <div class="box-55">標題</div>
            <div class="box-15">發問者</div>
            <div class="box-10 txt-c">狀態</div>
            <div class="box-15">發問時間</div>
        </div>
        <div class="group-box-15 opera">操作</div>
    </li>
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
    <li>
        <a href="javascript:editQA(@item.Qid)" class="group-box-83" title="編輯" alt="編輯">
            <div class="box-55">@item.Title</div>
            <div class="box-15">@item.Name</div>
            @if (item.Display == 1)
            {
                <div class="box-10 txt-c" title="顯示" alt="顯示">
                    <i class="fad fa-eye blue"></i>
                </div>
            }
            else
            {
                <div class="box-10 txt-c" title="不顯示" alt="不顯示">
                    <i class="fad fa-eye-slash red"></i>
                </div>
            }
            <div class="box-15">@item.Createtime.ToString("yyyy/MM/dd")</div>
        </a>
        <div class="group-box-15 opera">
            <a href="javascript:editQA(@item.Qid)" title="編輯" alt="編輯">
                <i class="fad fa-pen-square"></i>
            </a>
            <a href="javascript:delQA('@item.Qid')" title="刪除" alt="刪除">
                <i class="fad fa-times-square"></i>
            </a>
        </div>
    </li>
        }
    }
</ul>
@if (Model != null && Model.Count > 0)
{
    <div class="pagination">
        <div class="pagination-numbers">
            <a href="javascript:getPage(1)" title="第一頁">
                <i class="fas fa-arrow-to-left"></i>
            </a>

            <a href="javascript:getPage(@Model.PageNumber > 1 ? @Model.PageNumber - 1 : @Model.PageNumber)" title="上一頁">
                <i class="fas fa-arrow-left"></i>
            </a>

            @for (int i = (Model.PageNumber % 5); i <= (Model.PageCount > 5 ? (Model.PageNumber % 5) * 5 : Model.PageCount); i++)
            {
                if (Model.PageNumber == i)
                {
                    <a href="javascript:getPage(@i)" class="act">@i</a>
                }
                else
                {
                    <a href="javascript:getPage(@i)">@i</a>
                }
            }

            <a href="javascript:getPage(@Model.PageNumber==@Model.PageCount?@Model.PageNumber:@Model.PageNumber+1)" title="下一頁">
                <i class="fas fa-arrow-right"></i>
            </a>
            <a href="javascript:getPage(@Model.PageCount)" title="最後頁">
                <i class="fas fa-arrow-to-right"></i>
            </a>

        </div>
    </div>
}
<script>
    var globalkeyword = "@ViewBag.Key";

    function changeKey(key) {
        globalkeyword = key;
    }

    function getPage(page) {
        var headers = {};
        var data = {};
        data.action = "@ViewBag.Action";
        data.key = globalkeyword;
        data.page = page;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("getPage")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                //alert(result["PageNumber"]);
                $(".list").empty();
                $(".list").append('<li class="title"><div class="group-box-83"><div class="box-55">標題</div>'+
                    '<div class="box-15">發問者</div><div class="box-10 txt-c">狀態</div>'+
                    '<div class="box-15">發問時間</div></div><div class="group-box-15 opera">操作</div></li>');

                for (var i = 0; i < result["Lists"].length; i++) {
                    var str = '<li><a href="javascript:editQA(' + result["Lists"][i]["Qid"]+')" class="group-box-83" title="編輯" alt="編輯">'+
            '<div class="box-55">' + result["Lists"][i]["Title"]+'</div>'+
                        '<div class="box-15">' + result["Lists"][i]["Name"] + '</div>';

                    if (result["Lists"][i]["Display"] == 1) {
                        str += '<div class="box-10 txt-c" title="顯示" alt="顯示">' +
                            '<i class="fad fa-eye blue"></i></div>';
                    }
                    else {
                        str += '<div class="box-10 txt-c" title="不顯示" alt="不顯示">' +
                            '<i class="fad fa-eye-slash red"></i></div>';
                    }
                    str += '<div class="box-15">' + result["Lists"][i]["Createtime"]+'</div>'+
        '</a><div class="group-box-15 opera">'+
            '<a href="javascript:editQA(' + result["Lists"][i]["Qid"]+')" title="編輯" alt="編輯">'+
                '<i class="fad fa-pen-square"></i></a>'+
            '<a href="javascript:delQA(\'' + result["Lists"][i]["Qid"]+'\')" title="刪除" alt="刪除">'+
                        '<i class="fad fa-times-square"></i></a></div></li>';

                    $(".list").append(str);
                }

                $('.pagination-numbers').empty();

                $('.pagination-numbers').append('<a href="javascript:getPage(1)" title="第一頁"><i class="fas fa-arrow-to-left"></i></a>');
                $('.pagination-numbers').append('<a href="javascript:getPage(' + (result["PageNumber"] > 1 ? result["PageNumber"] - 1 : result["PageNumber"]) + ')" title="上一頁"><i class= "fas fa-arrow-left" ></i ></a >');

                var pageMin = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 1;
                var pageMax = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 5;

                if (parseInt(result["PageCount"]) < pageMax)
                    pageMax = parseInt(result["PageCount"]);
                for (var i = pageMin; i <= pageMax; i++) {
                    if (result["PageNumber"] == i) {
                        $('.pagination-numbers').append('<a href="javascript:getPage(' + i + ')" class="act">' + i + '</a>');
                    }
                    else {
                        $('.pagination-numbers').append('<a href="javascript:getPage(' + i + ')">' + i + '</a>');
                    }
                }

                $('.pagination-numbers').append('<a href="javascript:getPage(' + (result["PageNumber"] == result["PageCount"] ? result["PageNumber"] : result["PageNumber"] + 1) + ')" title="下一頁"><i class="fas fa-arrow-right"></i></a>');
                $('.pagination-numbers').append('<a href="javascript:getPage(' + result["PageCount"] + ')" title="最後頁"><i class="fas fa-arrow-to-right"></i></a>');
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }

    function delQA(Qid) {
        if (confirm("您確定要刪除此問答嗎?")) {
            var headers = {};
            var data = {};
            data.action = "@ViewBag.Action";
            data.data = Qid;

            $.ajax({
                type: "POST",
                data: data,
                headers: headers,
                url: '@Url.Action("delData")',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (result) {
                    if (result["Code"] == 1) {
                        alert("刪除成功");
                        top.location.reload();
                    } else {
                        alert("刪除失敗");
                    }
                },
                error: function (xhr, ajaxOption, thrownError) {
                    alert(xhr.responseText);
                }
            });
        }
    }

    function editQA(Qid) {
        $("#editqa").find("#Qid").val(Qid);
        $("#editqa").submit();
    }
</script>

