﻿@model VirtualMuseum.Models.Backend.SetNoticeViewModel

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "其他設定";
    ViewBag.Title2 = "留言通知";
}

<h1>@ViewBag.Title</h1>
<div class="sub-page">
    <ul>
        <li>
            <a href="@Url.Action("SetAbout")">關於本站</a>
        </li>
        <li>
            <a href="@Url.Action("SetPrivacy")">隱私權及安全政策</a>
        </li>
        <li>
            <a href="@Url.Action("SetTraffic")">交通資訊</a>
        </li>
        <li>
            <a href="@Url.Action("SetQuestionList")">線上問卷</a>
        </li>
        <li class="act">
            <a href="@Url.Action("SetNotice")">留言通知</a>
        </li>
    </ul>
</div>
<h2>@ViewBag.Title2</h2>

<form action="@Url.Action("EditSetNotice")" id="form" enctype="multipart/form-data" method="post">
    @*防偽造*@
    @Html.AntiForgeryToken()
    <div class="input-box input-box-w">
        <label for="editor">通知信箱</label>
        <div class="note">信箱請用,號分隔</div>
        <textarea name="editor" id="editor" placeholder="請輸入信箱..." class="input-sty desc-info">@Model.MailString</textarea>
    </div>

    <div class="btn-area">
        <a href="@Url.Action("SetNotice")" class="btn btn-cancel"><i class="fa fa-chevron-left"></i> 取消</a>
        <div class="btn btn-submit">
            <i class="fa fa-check"></i> 確認送出
            <input type="submit" class="btn">
        </div>
    </div>
</form>
</div>
<!-- 此為表單驗證用，注意需更改#name與標單的id相同 -->
<script type="text/javascript">
    $(function () {
        var message = '@ViewBag.Error';
        if (message == "success") {
            alert("完成");
        } else if (message.length > 0) {
            alert('@ViewBag.Error');
        } else {
            var validator = $("#form").validate({
                submitHandler: function (form) {
                    form.submit();
                }
            });
        }
    });
</script>
