﻿@using PagedList.Mvc;
@using PagedList;
@model IPagedList<DataAccess.Domain.SetQuestionListDomainModel>

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "其他設定";
    ViewBag.Title2 = "線上問卷列表";
    ViewBag.Action = "SetQuestionList";
}

<h1>@ViewBag.Title</h1>
<div class="sub-page">
    <ul>
        <li>
            <a href="@Url.Action("SetAbout")">關於本站</a>
        </li>
        <li>
            <a href="@Url.Action("SetPrivacy")">隱私權及安全政策</a>
        </li>
        <li>
            <a href="@Url.Action("SetTraffic")">交通資訊</a>
        </li>
        <li class="act">
            <a href="@Url.Action("SetQuestionList")">線上問卷</a>
        </li>
        <li>
            <a href="@Url.Action("SetNotice")">留言通知</a>
        </li>
    </ul>
</div>
<h2>@ViewBag.Title2</h2>

<div class="input-box input-box-w">
    <a href="@Url.Action("SetQuestionAdd")" class="btn btn-submit">
        <i class="fas fa-plus"></i>
        新增問卷
    </a>
</div>

<form id="editsetquestion" action="@Url.Action("SetQuestionEdit")" method="post">
    <input type="hidden" name="Sid" id="Sid" value="" />
</form>

<ul class="list">
    <li class="title">
        <div class="group-box-83">
            <div class="box-50">問卷標題</div>
        </div>
        <div class="group-box-15 opera">操作</div>
    </li>
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <li>
                <a href="javascript:editSetQuestion(@item.Sid)" class="group-box-83" title="編輯" alt="編輯">
                    <div class="box-50">@item.Title_tw</div>
                </a>
                <div class="group-box-15 opera">
                    <a href="javascript:editSetQuestion(@item.Sid)" title="編輯" alt="編輯">
                        <i class="fad fa-pen-square"></i>
                    </a>
                    <a href="javascript:delSetQuestion('@item.Sid')" title="刪除" alt="刪除">
                        <i class="fad fa-times-square"></i>
                    </a>
                </div>
            </li>
        }
    }
</ul>
@if (Model != null && Model.Count > 0)
{
    <div class="pagination">
        <div class="pagination-numbers">
            <a href="javascript:getPage(1)" title="第一頁">
                <i class="fas fa-arrow-to-left"></i>
            </a>

            <a href="javascript:getPage(@Model.PageNumber > 1 ? @Model.PageNumber - 1 : @Model.PageNumber)" title="上一頁">
                <i class="fas fa-arrow-left"></i>
            </a>

            @for (int i = (Model.PageNumber % 5); i <= (Model.PageCount > 5 ? (Model.PageNumber % 5) * 5 : Model.PageCount); i++)
            {
                if (Model.PageNumber == i)
                {
                    <a href="javascript:getPage(@i)" class="act">@i</a>
                }
                else
                {
                    <a href="javascript:getPage(@i)">@i</a>
                }
            }

            <a href="javascript:getPage(@Model.PageNumber==@Model.PageCount?@Model.PageNumber:@Model.PageNumber+1)" title="下一頁">
                <i class="fas fa-arrow-right"></i>
            </a>
            <a href="javascript:getPage(@Model.PageCount)" title="最後頁">
                <i class="fas fa-arrow-to-right"></i>
            </a>

        </div>
    </div>
}
<script>
    var globalkeyword = "@ViewBag.Key";
    var globalperiod = "@ViewBag.Period";

    function changeKey(key) {
        globalkeyword = key;
    }

    function getPage(page) {
        var headers = {};
        var data = {};
        data.action = "@ViewBag.Action";
        data.key = globalkeyword;
        data.page = page;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("getPage")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                //alert(result["PageNumber"]);
                $(".list").empty();
                $(".list").append('<li class="title"><div class="group-box-83"><div class="box-50">問卷標題</div>'+
        '</div ><div class="group-box-15 opera">操作</div></li >');

                for (var i = 0; i < result["Lists"].length; i++) {
                    var str = '<li>'+
                        '<a href="javascript:editSetQuestion(' + result["Lists"][i]["Sid"]+')" class="group-box-83" title="編輯" alt="編輯">'+
                    '<div class="box-50">' + result["Lists"][i]["Title_tw"]+'</div></a><div class="group-box-15 opera">'+
                    '<a href="javascript:editSetQuestion(' + result["Lists"][i]["Sid"]+')" title="編輯" alt="編輯">'+
                        '<i class="fad fa-pen-square"></i></a>'+
                    '<a href="javascript:delSetQuestion(' + result["Lists"][i]["Sid"]+')" title="刪除" alt="刪除">'+
                        '<i class="fad fa-times-square"></i></a></div></li>';
                    $(".list").append(str);
                }

                $('.pagination-numbers').empty();

                $('.pagination-numbers').append('<a href="javascript:getPage(1)" title="第一頁"><i class="fas fa-arrow-to-left"></i></a>');
                $('.pagination-numbers').append('<a href="javascript:getPage(' + (result["PageNumber"] > 1 ? result["PageNumber"] - 1 : result["PageNumber"]) + ')" title="上一頁"><i class= "fas fa-arrow-left" ></i ></a >');

                var pageMin = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 1;
                var pageMax = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 5;

                if (parseInt(result["PageCount"]) < pageMax)
                    pageMax = parseInt(result["PageCount"]);
                for (var i = pageMin; i <= pageMax; i++) {
                    if (result["PageNumber"] == i) {
                        $('.pagination-numbers').append('<a href="javascript:getPage(' + i + ')" class="act">' + i + '</a>');
                    }
                    else {
                        $('.pagination-numbers').append('<a href="javascript:getPage(' + i + ')">' + i + '</a>');
                    }
                }

                $('.pagination-numbers').append('<a href="javascript:getPage(' + (result["PageNumber"] == result["PageCount"] ? result["PageNumber"] : result["PageNumber"] + 1) + ')" title="下一頁"><i class="fas fa-arrow-right"></i></a>');
                $('.pagination-numbers').append('<a href="javascript:getPage(' + result["PageCount"] + ')" title="最後頁"><i class="fas fa-arrow-to-right"></i></a>');
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }

    function delSetQuestion(Sid) {
        if (confirm("您確定要刪除此問卷嗎?")) {
            var headers = {};
            var data = {};
            data.action = "@ViewBag.Action";
            data.data = Sid;

            $.ajax({
                type: "POST",
                data: data,
                headers: headers,
                url: '@Url.Action("delData")',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (result) {
                    if (result["Code"] == 1) {
                        alert("刪除成功");
                        top.location.reload();
                    } else {
                        alert("刪除失敗");
                    }
                },
                error: function (xhr, ajaxOption, thrownError) {
                    alert(xhr.responseText);
                }
            });
        }
    }

    function editSetQuestion(Sid) {
        $("#editsetquestion").find("#Sid").val(Sid);
        $("#editsetquestion").submit();
    }
</script>

