﻿@model VirtualMuseum.Models.Backend.SetQuestionViewModel

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "其他設定";
    ViewBag.Title2 = "新增線上問卷";
}

<h1>@ViewBag.Title</h1>

<h2>@ViewBag.Title2</h2>

<form action="@Url.Action("AddSetQuestion")" id="form" enctype="multipart/form-data" method="post">
    @*防偽造*@
    @Html.AntiForgeryToken()
    <div class="input-box">
        <label for="title">*問卷標題</label>
        <input type="text" class="input-sty required" name="title" id="title" value="">
    </div>
    <div class="input-box input-box-en">
        <label for="titleEn">問卷標題(英)</label>
        <input type="text" class="input-sty" name="titleEn" id="titleEn" value="">
    </div>

    <div class="input-box">
        <label for="link">*問卷連結</label>
        <input type="text" class="input-sty required" name="link" id="link" value="">
    </div>

    <div class="btn-area">
        <a href="@Url.Action("SetQuestionList")" class="btn btn-cancel"><i class="fa fa-chevron-left"></i> 取消</a>
        <div class="btn btn-submit">
            <i class="fa fa-check"></i> 確認送出
            <input type="submit" class="btn">
        </div>
    </div>
</form>

<!-- 此為表單驗證用，注意需更改#name與標單的id相同 -->
<script type="text/javascript">
    $(function () {
        var message = '@ViewBag.Error';
        if (message == "完成") {
            alert("完成");
            top.location.href = "@Url.Action("SetQuestionList")";
        } else if (message.length > 0) {
            alert('@ViewBag.Error');
        } else {
            var validator = $("#form").validate({
                submitHandler: function (form) {
                    form.submit();
                }
            });
        }
    });
</script>
