﻿@model VirtualMuseum.Models.Backend.SetTrafficViewModel

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "其他設定";
    ViewBag.Title2 = "交通資訊";
}

<h1>@ViewBag.Title</h1>
<div class="sub-page">
    <ul>
        <li>
            <a href="@Url.Action("SetAbout")">關於本站</a>
        </li>
        <li>
            <a href="@Url.Action("SetPrivacy")">隱私權及安全政策</a>
        </li>
        <li class="act">
            <a href="@Url.Action("SetTraffic")">交通資訊</a>
        </li>
        <li>
            <a href="@Url.Action("SetQuestionList")">線上問卷</a>
        </li>
        <li>
            <a href="@Url.Action("SetNotice")">留言通知</a>
        </li>
    </ul>
</div>
<h2>@ViewBag.Title2</h2>

<form action="@Url.Action("EditSetTraffic")" id="form" enctype="multipart/form-data" method="post">
    @*防偽造*@
    @Html.AntiForgeryToken()
    <div class="input-box input-box-w">
        <label for="editor">內文</label>
        <textarea name="editor" id="editor" placeholder="內文說明..." class="input-sty desc-info">@Model.Content_tw</textarea>
    </div>
    <div class="input-box input-box-w input-box-en">
        <label for="editorEn">內文(英)</label>
        <textarea name="editorEn" id="editorEn" placeholder="內文說明..." class="input-sty desc-info">@Model.Content_en</textarea>
    </div>

    <div class="btn-area">
        <a href="@Url.Action("SetTraffic")" class="btn btn-cancel"><i class="fa fa-chevron-left"></i> 取消</a>
        <div class="btn btn-submit">
            <i class="fa fa-check"></i> 確認送出
            <input type="submit" class="btn">
        </div>
    </div>
</form>

<!-- 此為表單驗證用，注意需更改#name與標單的id相同 -->
<script type="text/javascript">
    $(function () {
        var message = '@ViewBag.Error';
        if (message == "success") {
            alert("完成");
        } else if (message.length > 0) {
            alert('@ViewBag.Error');
        } else {
            var validator = $("#form").validate({
                submitHandler: function (form) {
                    form.submit();
                }
            });
        }
        //編輯器
        var editor = CKEDITOR.replace('editor', {
            removePlugins: 'flash,cloudservices',
            extraPlugins: 'embed,autoembed',
            height: 500,
            filebrowserImageUploadUrl: '/Backend/ImageUpload',
            filebrowserBrowseUrl: '@Url.Content("~/js/Filemanager/index.html")',
            filebrowserUploadMethod: 'form',

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [
                'https://cdn.ckeditor.com/4.14.0/full-all/contents.css',
                //'https://ckeditor.com/docs/vendors/4.14.0/ckeditor/assets/css/widgetstyles.css'
            ],
            // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
            image2_disableResizer: true
        });
        var editorEn = CKEDITOR.replace('editorEn', {
            removePlugins: 'flash,cloudservices',
            extraPlugins: 'embed,autoembed',
            height: 500,
            filebrowserImageUploadUrl: '/Backend/ImageUpload',
            filebrowserBrowseUrl: '@Url.Content("~/js/Filemanager/index.html")',
            filebrowserUploadMethod: 'form',

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [
                'https://cdn.ckeditor.com/4.14.0/full-all/contents.css',
                //'https://ckeditor.com/docs/vendors/4.14.0/ckeditor/assets/css/widgetstyles.css'
            ],
            // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
            image2_disableResizer: true
        });
    });
</script>