﻿@model VirtualMuseum.Models.Backend.TagViewModel

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "標籤群組管理";
    ViewBag.Title2 = "編輯標籤";
}

<h1>@ViewBag.Title</h1>

<h2>@ViewBag.Title2</h2>
<form action="@Url.Action("EditTag")" id="form" method="post">
    @*防偽造*@
    @Html.AntiForgeryToken()
    <div class="input-box">
        <label for="tagName">*標籤名稱</label>
        <input type="text" class="input-sty required" name="tagName" id="tagName" value="@Model.tagName">
    </div>
    <input type="hidden" name="tagid" id="tagid" value="@Model.tagid" />
    <div class="input-box input-box-en">
        <label for="tagNameEn">標籤名稱(英)</label>
        <input type="text" class="input-sty" name="tagNameEn" id="tagNameEn" value="@Model.tagNameEn">
    </div>

    <div class="btn-area">
        <a href="@Url.Action("TagList")" class="btn btn-cancel"><i class="fa fa-chevron-left"></i> 取消</a>
        <div class="btn btn-submit">
            <i class="fa fa-check"></i> 確認送出
            <input type="submit" class="btn">
        </div>
    </div>
</form>

<!-- 此為表單驗證用，注意需更改#name與標單的id相同 -->
<script type="text/javascript">
   $(document).ready(function () {
        var message = '@ViewBag.Error';
        if (message == "完成") {
            alert("完成");
            top.location.href = "@Url.Action("TagList")";
        } else if (message.length > 0) {
            alert('@ViewBag.Error');
        } else {
            var validator = $("#form").validate({
                submitHandler: function (form) {
                    form.submit();
                }
            });
        }
    });
</script>
