﻿@model VirtualMuseum.Models.Backend.TagListPageViewModel

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "標籤群組管理";
    ViewBag.Title2 = "標籤列表";
    ViewBag.Action = "TagList";
}

<h1>@ViewBag.Title</h1>
<h2>@ViewBag.Title2</h2>
<div class="input-box input-box-w">
    <a href="@Url.Action("TagAdd")" class="btn btn-submit">
        <i class="fas fa-plus"></i>
        新增標籤
    </a>
</div>

<div class="set-color-box">
    <form action="@Url.Action("EditTagColor")" method="post">
        @*防偽造*@
        @Html.AntiForgeryToken()
        <label for="">文字雲顏色設定</label>
        <div class="note">設定文字雲顏色，字級由1~6依序遞減</div>

        <div class="set-color-group">
            <div class="color-btn">
                <label for="size1">
                    字級1
                    <input type="color" pattern="#[a-f0-9]{6}" id="size1" name="size1" value="@Model.size1">
                    <!-- <input type="text" value="#336699"> -->
                </label>
            </div>
            <div class="color-btn">
                <label for="size2">
                    字級2
                    <input type="color" id="size2" name="size2" value="@Model.size2">
                    <!-- <input type="text" value="#336699"> -->
                </label>
            </div>
            <div class="color-btn">
                <label for="size3">
                    字級3
                    <input type="color" id="size3" name="size3" value="@Model.size3">
                    <!-- <input type="text" value="#336699"> -->

                </label>
            </div>
            <div class="color-btn">
                <label for="size4">
                    字級4
                    <input type="color" id="size4" name="size4" value="@Model.size4">
                    <!-- <input type="text" value="#336699"> -->
                </label>
            </div>
            <div class="color-btn">
                <label for="size5">
                    字級5
                    <input type="color" id="size5" name="size5" value="@Model.size5">
                    <!-- <input type="text" value="#336699"> -->
                </label>
            </div>
            <div class="btn-area">
                <div class="btn btn-submit">
                    <i class="fas fa-check"></i>
                    確認
                    <input type="submit">
                </div>
            </div>
        </div>
    </form>
</div>

<div class="search-signle">
    <form action="@Url.Action("searchPage2")" method="post">
        @*防偽造*@
        @Html.AntiForgeryToken()
        <div class="search-ui-box">
            <label for="sort">
                <span>排序：</span>
            </label>
            <select type="text" name="period" id="period" class="select-sty w150">
                @if (ViewBag.SType == "sort1")
                {
                    <option value="sort1" selected>筆畫排序</option>
                    <option value="sort2">新到舊排序</option>
                }
                else
                {
                    <option value="sort1">筆畫排序</option>
                    <option value="sort2" selected>新到舊排序</option>
                }
            </select>
        </div>
        <div class="search-ui-box">
            <label for="userKeyWord">
                <span>關鍵字：</span>
            </label>
            <input type="hidden" name="action" value="@ViewBag.Action" />
            <input type="text" name="userKeyWord" id="keyWord" value="@ViewBag.Key" class="input-sty w250">
        </div>
        <div class="btn-area">
            <div class="btn btn-submit">
                <i class="fas fa-search"></i>
                搜尋
                <input type="submit">
            </div>
        </div>
        <div class="btn btn-submit">
            <i class="fad fa-sync"></i>
            清除所有權重
        </div>
    </form>
</div>

<form id="edittag" action="@Url.Action("TagEdit")" method="post">
    <input type="hidden" name="tagEdit" id="tagEdit" value="" />
</form>

<ul class="list">
    <li class="title">
        <div class="group-box-83">
            <div class="box-40">標籤名稱</div>
            <div class="box-10 txt-c">引用數</div>
            <div class="box-10 txt-c">點擊數</div>
            <div class="box-10 txt-c">權重</div>
            <div class="box-10 txt-c">總計</div>
            <div class="box-10 txt-c">排名</div>
        </div>
        <div class="group-box-15 opera">操作</div>
    </li>
    @if (Model.Lists.Count > 0)
    {
        foreach (var item in Model.Lists)
        {
            <li>
                <div class="group-box-83" title="編輯" alt="編輯">
                    <div class="box-40">@item.Name_tw</div>
                    <div class="box-10"><a href="@Url.Action("TagUseList", new { tagid=item.Tagid })" class="list-link">@(item.IncludeNum==null?0:item.IncludeNum)</a></div>
                    <div class="box-10 txt-c">@item.ClickNum</div>
                    <div class="box-10 txt-c">
                        <div class="line-input-box">
                            <input type="text" class="input-sty required" name="set1" id="set1" value="@item.Weights">
                        </div>
                    </div>
                    <div class="box-10 txt-c">@item.Total</div>
                    <div class="box-10 txt-c">@item.Rank</div>
                </div>
                <div class="group-box-15 opera">
                    <a href="#" title="清除權重" alt="清除權重">
                        <i class="fad fa-sync"></i>
                    </a>
                    <a href="javascript:editTag(@item.Tagid)" title="編輯" alt="編輯">
                        <i class="fad fa-pen-square"></i>
                    </a>
                    <a href="javascript:delTag(@item.Tagid)" title="刪除" alt="刪除">
                        <i class="fad fa-times-square"></i>
                    </a>
                </div>
            </li>
        }
    }
</ul>
@if (Model != null && Model.Lists.Count > 0)
{
    <div class="pagination">
        <div class="pagination-numbers">
            <a href="javascript:getPage(1)" title="第一頁">
                <i class="fas fa-arrow-to-left"></i>
            </a>

            <a href="javascript:getPage(@Model.PageNumber > 1 ? @Model.PageNumber - 1 : @Model.PageNumber)" title="上一頁">
                <i class="fas fa-arrow-left"></i>
            </a>

            @for (int i = (Model.PageNumber % 5); i <= (Model.PageCount > 5 ? (Model.PageNumber % 5) * 5 : Model.PageCount); i++)
            {
                if (Model.PageNumber == i)
                {
                    <a href="javascript:getPage(@i)" class="act">@i</a>
                }
                else
                {
                    <a href="javascript:getPage(@i)">@i</a>
                }
            }

            <a href="javascript:getPage(@Model.PageNumber==@Model.PageCount?@Model.PageNumber:@Model.PageNumber+1)" title="下一頁">
                <i class="fas fa-arrow-right"></i>
            </a>
            <a href="javascript:getPage(@Model.PageCount)" title="最後頁">
                <i class="fas fa-arrow-to-right"></i>
            </a>

        </div>
    </div>
}

<script>
    var globalkeyword = "@ViewBag.Key";

    function getPage(page) {
        var headers = {};
        var data = {};
        data.action = "@ViewBag.Action";
        data.key = globalkeyword;
        data.page = page;
        data.period = $('#period').val();

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("getPage2")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                //alert(result["PageNumber"]);
                $(".list").empty();
                $(".list").append('<li class="title"><div class= "group-box-83" >' +
                    '<div class="box-40">標籤名稱</div><div class="box-10 txt-c">引用數</div>' +
                    '<div class="box-10 txt-c">點擊數</div><div class="box-10 txt-c">權重</div>' +
                    '<div class="box-10 txt-c">總計</div><div class="box-10 txt-c">排名</div></div >'+
                    '<div class="group-box-15 opera">操作</div></li >');

                for (var i = 0; i < result["Lists"].length; i++) {
                    var str = '<li><div class="group-box-83" title="編輯" alt="編輯"><div class="box-40">' +
                        result["Lists"][i]["Name_tw"] + '</div><div class="box-10">' +
                        '<a href="/Backend/TagUseList?tagid=' + result[" Lists"][i]["Tagid"] +
                        '" class="list-link" >' +
                        (result["Lists"][i]["IncludeNum"] == null ? 0 : result["Lists"][i]["IncludeNum"]) +
                        '</a ></div><div class="box-10 txt-c">' + result["Lists"][i]["ClickNum"]+'</div>'+
                    '<div class="box-10 txt-c"><div class="line-input-box">'+
                        '<input type="text" class="input-sty required" name="set1" id="set1" value="' +
                        result["Lists"][i]["Weights"] + '"></div></div><div class="box-10 txt-c">' +
                        result["Lists"][i]["Total"] + '</div><div class="box-10 txt-c">' +
                        result["Lists"][i]["Rank"] + '</div></div><div class="group-box-15 opera">'+
                    '<a href="#" title="清除權重" alt="清除權重"><i class="fad fa-sync"></i></a>'+
                    '<a href="javascript:editTag(' + result["Lists"][i]["Tagid"] + ')" title="編輯" alt="編輯"><i class="fad fa-pen-square"></i></a>'+
                    '<a href="javascript:delTag(' + result["Lists"][i]["Tagid"] + ')" title="刪除" alt="刪除"><i class="fad fa-times-square"></i></a>'+
                '</div></li>';

                    $(".list").append(str);
                }

                $('.pagination-numbers').empty();

                $('.pagination-numbers').append('<a href="javascript:getPage(1)" title="第一頁"><i class="fas fa-arrow-to-left"></i></a>');
                $('.pagination-numbers').append('<a href="javascript:getPage(' + (result["PageNumber"] > 1 ? result["PageNumber"] - 1 : result["PageNumber"]) + ')" title="上一頁"><i class= "fas fa-arrow-left" ></i ></a >');

                var pageMin = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 1;
                var pageMax = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 5;

                if (parseInt(result["PageCount"]) < pageMax)
                    pageMax = parseInt(result["PageCount"]);
                for (var i = pageMin; i <= pageMax; i++) {
                    if (result["PageNumber"] == i) {
                        $('.pagination-numbers').append('<a href="javascript:getPage(' + i + ')" class="act">' + i + '</a>');
                    }
                    else {
                        $('.pagination-numbers').append('<a href="javascript:getPage(' + i + ')">' + i + '</a>');
                    }
                }

                $('.pagination-numbers').append('<a href="javascript:getPage(' + (result["PageNumber"] == result["PageCount"] ? result["PageNumber"] : result["PageNumber"] + 1) + ')" title="下一頁"><i class="fas fa-arrow-right"></i></a>');
                $('.pagination-numbers').append('<a href="javascript:getPage(' + result["PageCount"] + ')" title="最後頁"><i class="fas fa-arrow-to-right"></i></a>');
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }

        function delTag(tagid) {
        if (confirm("您確定要刪除此標籤嗎?")) {
            var headers = {};
            var data = {};
            data.action = "@ViewBag.Action";
            data.data = tagid;

            $.ajax({
                type: "POST",
                data: data,
                headers: headers,
                url: '@Url.Action("delData")',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (result) {
                    if (result["Code"] == 1) {
                        alert("刪除成功");
                        top.location.reload();
                    } else {
                        alert("刪除失敗");
                    }
                },
                error: function (xhr, ajaxOption, thrownError) {
                    alert(xhr.responseText);
                }
            });
        }
    }

    function editTag(tagid) {
        $("#tagEdit").val(tagid);
        $("#edittag").submit();
    }
</script>
