﻿@using PagedList.Mvc;
@using PagedList;
@model IPagedList<DataAccess.Domain.TagUseListDomainModel>

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "標籤群組管理";
    ViewBag.Title2 = "標籤引用列表";
    ViewBag.Action = "TagUseList";
}

<h1>@ViewBag.Title</h1>
<h2>@ViewBag.Title2</h2>
<div class="input-box input-box-w">
    <a href="@Url.Action("TagList")" class="btn btn-submit">
        <i class="fa fa-chevron-left"></i>
        返回
    </a>
</div>
<ul class="list">
    <li class="title">
        <div class="group-box-83">
            <div class="box-90">引用文章</div>
        </div>
        <div class="group-box-15 opera">操作</div>
    </li>
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            if (item.Type == 1)
            {
                <li>
                    <a href="javascript:editLiteraryTime(@item.Id)" class="group-box-83" title="編輯" alt="編輯">
                        <div class="box-90">@item.Title</div>
                    </a>
                    <div class="group-box-15 opera">
                        <a href="javascript:editLiteraryTime(@item.Id)" title="編輯" alt="編輯">
                            <i class="fad fa-pen-square"></i>
                        </a>
                    </div>
                </li>
            }
            else if (item.Type == 2)
            {
                <li>
                    <a href="javascript:editCreate(@item.Id)" class="group-box-83" title="編輯" alt="編輯">
                        <div class="box-90">@item.Title</div>
                    </a>
                    <div class="group-box-15 opera">
                        <a href="javascript:editCreate(@item.Id)" title="編輯" alt="編輯">
                            <i class="fad fa-pen-square"></i>
                        </a>
                    </div>
                </li>
            }
            else if (item.Type == 3)
            {
                <li>
                    <a href="javascript:editEvent(@item.Id)" class="group-box-83" title="編輯" alt="編輯">
                        <div class="box-90">@item.Title</div>
                    </a>
                    <div class="group-box-15 opera">
                        <a href="javascript:editEvent(@item.Id)" title="編輯" alt="編輯">
                            <i class="fad fa-pen-square"></i>
                        </a>
                    </div>
                </li>
            }
            else if (item.Type == 4)
            {
                <li>
                    <a href="javascript:editLiteraryIntro(@item.Id)" class="group-box-83" title="編輯" alt="編輯">
                        <div class="box-90">@item.Title</div>
                    </a>
                    <div class="group-box-15 opera">
                        <a href="javascript:editLiteraryIntro(@item.Id)" title="編輯" alt="編輯">
                            <i class="fad fa-pen-square"></i>
                        </a>
                    </div>
                </li>
            }
            else if (item.Type == 5)
            {
                <li>
                    <a href="javascript:editExhibition(@item.Id)" class="group-box-83" title="編輯" alt="編輯">
                        <div class="box-90">@item.Title</div>
                    </a>
                    <div class="group-box-15 opera">
                        <a href="javascript:editExhibition(@item.Id)" title="編輯" alt="編輯">
                            <i class="fad fa-pen-square"></i>
                        </a>
                    </div>
                </li>
            }
            else if (item.Type == 6)
            {
                <li>
                    <a href="javascript:editThemeTourRoute(@item.Id)" class="group-box-83" title="編輯" alt="編輯">
                        <div class="box-90">@item.Title</div>
                    </a>
                    <div class="group-box-15 opera">
                        <a href="javascript:editThemeTourRoute(@item.Id)" title="編輯" alt="編輯">
                            <i class="fad fa-pen-square"></i>
                        </a>
                    </div>
                </li>
            }
        }
    }
</ul>
@if (Model != null && Model.Count > 0)
{
    <div class="pagination">
        <div class="pagination-numbers">
            <a href="javascript:getPage(1)" title="第一頁">
                <i class="fas fa-arrow-to-left"></i>
            </a>

            <a href="javascript:getPage(@Model.PageNumber > 1 ? @Model.PageNumber - 1 : @Model.PageNumber)" title="上一頁">
                <i class="fas fa-arrow-left"></i>
            </a>

            @for (int i = (Model.PageNumber % 5); i <= (Model.PageCount > 5 ? (Model.PageNumber % 5) * 5 : Model.PageCount); i++)
            {
                if (Model.PageNumber == i)
                {
                    <a href="javascript:getPage(@i)" class="act">@i</a>
                }
                else
                {
                    <a href="javascript:getPage(@i)">@i</a>
                }
            }

            <a href="javascript:getPage(@Model.PageNumber==@Model.PageCount?@Model.PageNumber:@Model.PageNumber+1)" title="下一頁">
                <i class="fas fa-arrow-right"></i>
            </a>
            <a href="javascript:getPage(@Model.PageCount)" title="最後頁">
                <i class="fas fa-arrow-to-right"></i>
            </a>

        </div>
    </div>
}

<form id="editliterarytime" action="@Url.Action("LiteraryTimeEdit")" method="post" target="_blank">
    <input type="hidden" name="Lid" id="Lid" value="" />
</form>
<form id="editcreate" action="@Url.Action("CreateEdit")" method="post" target="_blank">
    <input type="hidden" name="Createid" id="Createid" value="" />
</form>
<form id="editevent" action="@Url.Action("EventEdit")" method="post" target="_blank">
    <input type="hidden" name="Eventid" id="Eventid" value="" />
</form>
<form id="editliteraryintro" action="@Url.Action("LiteraryIntroEdit")" method="post" target="_blank">
    <input type="hidden" name="LIid" id="LIid" value="" />
</form>
<form id="editexhibition" action="@Url.Action("ExhibitionEdit")" method="post" target="_blank">
    <input type="hidden" name="Exbid" id="Exbid" value="" />
</form>
<form id="editthemetourroute" action="@Url.Action("ThemeTourRouteEdit")" method="post" target="_blank">
    <input type="hidden" name="Routeid" id="Routeid" value="" />
</form>
<script>
    function getPage(page) {
        var url = location.href;
        var params = url.split("?");
        var datacheck = params[1].split("&");
        var tagid = 0;
        for (var i = 0; i < datacheck.length; i++) {
            if (datacheck[i].split("=")[0] == "tagid") {
                tagid = parseInt(datacheck[i].split("=")[1], 10);
                break;
            }
        }
        var headers = {};
        var data = {};
        data.action = "@ViewBag.Action";
        data.key = tagid;
        data.page = page;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("getPage")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                //alert(result["PageNumber"]);
                $(".list").empty();
                $(".list").append('<li class="title"><div class= "group-box-83"><div class="box-90">引用文章</div></div><div class="group-box-15 opera">操作</div></li>');

                for (var i = 0; i < result["Lists"].length; i++) {
                    var str = '';
                    if (result["Lists"][i]["Type"] == 1) {
                        str = '<li><a href="javascript:editLiteraryTime(' + result["Lists"][i]["Id"] + ')" class="group-box-83" title="編輯" alt="編輯"><div class="box-90">' + result["Lists"][i]["Title"] + '</div></a>' +
                            '<div class="group-box-15 opera"><a href="javascript:editLiteraryTime(' + result["Lists"][i]["Id"] + ')" title="編輯" alt="編輯"><i class="fad fa-pen-square"></i></a></div></li>';
                    }
                    else if (result["Lists"][i]["Type"] == 2) {
                        str = '<li><a href="javascript:editCreate(' + result["Lists"][i]["Id"] + ')" class="group-box-83" title="編輯" alt="編輯"><div class="box-90">' + result["Lists"][i]["Title"] + '</div></a>' +
                            '<div class="group-box-15 opera"><a href="javascript:editCreate(' + result["Lists"][i]["Id"] + ')" title="編輯" alt="編輯"><i class="fad fa-pen-square"></i></a></div></li>';
                    }
                    else if (result["Lists"][i]["Type"] == 3) {
                        str = '<li><a href="javascript:editEvent(' + result["Lists"][i]["Id"] + ')" class="group-box-83" title="編輯" alt="編輯"><div class="box-90">' + result["Lists"][i]["Title"] + '</div></a>' +
                            '<div class="group-box-15 opera"><a href="javascript:editEvent(' + result["Lists"][i]["Id"] + ')" title="編輯" alt="編輯"><i class="fad fa-pen-square"></i></a></div></li>';
                    }
                    else if (result["Lists"][i]["Type"] == 4) {
                        str = '<li><a href="javascript:editLiteraryIntro(' + result["Lists"][i]["Id"] + ')" class="group-box-83" title="編輯" alt="編輯"><div class="box-90">' + result["Lists"][i]["Title"] + '</div></a>' +
                            '<div class="group-box-15 opera"><a href="javascript:editLiteraryIntro(' + result["Lists"][i]["Id"] + ')" title="編輯" alt="編輯"><i class="fad fa-pen-square"></i></a></div></li>';
                    }
                    else if (result["Lists"][i]["Type"] == 5) {
                        str = '<li><a href="javascript:editExhibition(' + result["Lists"][i]["Id"] + ')" class="group-box-83" title="編輯" alt="編輯"><div class="box-90">' + result["Lists"][i]["Title"] + '</div></a>' +
                            '<div class="group-box-15 opera"><a href="javascript:editExhibition(' + result["Lists"][i]["Id"] + ')" title="編輯" alt="編輯"><i class="fad fa-pen-square"></i></a></div></li>';
                    }
                    else if (result["Lists"][i]["Type"] == 6) {
                        str = '<li><a href="javascript:editThemeTourRoute(' + result["Lists"][i]["Id"] + ')" class="group-box-83" title="編輯" alt="編輯"><div class="box-90">' + result["Lists"][i]["Title"] + '</div></a>' +
                            '<div class="group-box-15 opera"><a href="javascript:editThemeTourRoute(' + result["Lists"][i]["Id"] + ')" title="編輯" alt="編輯"><i class="fad fa-pen-square"></i></a></div></li>';
                    }
                    $(".list").append(str);
                }

                $('.pagination-numbers').empty();

                $('.pagination-numbers').append('<a href="javascript:getPage(1)" title="第一頁"><i class="fas fa-arrow-to-left"></i></a>');
                $('.pagination-numbers').append('<a href="javascript:getPage(' + (result["PageNumber"] > 1 ? result["PageNumber"] - 1 : result["PageNumber"]) + ')" title="上一頁"><i class= "fas fa-arrow-left" ></i ></a >');

                var pageMin = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 1;
                var pageMax = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 5;

                if (parseInt(result["PageCount"]) < pageMax)
                    pageMax = parseInt(result["PageCount"]);
                for (var i = pageMin; i <= pageMax; i++) {
                    if (result["PageNumber"] == i) {
                        $('.pagination-numbers').append('<a href="javascript:getPage(' + i + ')" class="act">' + i + '</a>');
                    }
                    else {
                        $('.pagination-numbers').append('<a href="javascript:getPage(' + i + ')">' + i + '</a>');
                    }
                }

                $('.pagination-numbers').append('<a href="javascript:getPage(' + (result["PageNumber"] == result["PageCount"] ? result["PageNumber"] : result["PageNumber"] + 1) + ')" title="下一頁"><i class="fas fa-arrow-right"></i></a>');
                $('.pagination-numbers').append('<a href="javascript:getPage(' + result["PageCount"] + ')" title="最後頁"><i class="fas fa-arrow-to-right"></i></a>');
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }

    function editLiteraryTime(lid) {
        $("#Lid").val(lid);
        $("#editliterarytime").submit();
    }

    function editCreate(createid) {
        $("#editcreate").find("#Createid").val(createid);
        $("#editcreate").submit();
    }

    function editEvent(Eventid) {
        $("#editevent").find("#Eventid").val(Eventid);
        $("#editevent").submit();
    }

    function editLiteraryIntro(LIid) {
        $("#editliteraryintro").find("#LIid").val(LIid);
        $("#editliteraryintro").submit();
    }

    function editExhibition(Exbid) {
        $("#editexhibition").find("#Exbid").val(Exbid);
        $("#editexhibition").submit();
    }

    function editThemeTourRoute(Routeid) {
        $("#editthemetourroute").find("#Routeid").val(Routeid);
        $("#editthemetourroute").submit();
    }
</script>

