﻿@model List<DataAccess.Domain.ThemeBannerListDomainModel>

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "主題之旅管理";
    ViewBag.Title2 = "主題輪播列表";
    ViewBag.Action = "ThemeBannerList";
}

<h1>@ViewBag.Title</h1>
<div class="sub-page">
    <ul>
        <li class="act">
            <a href="@Url.Action("ThemeBannerList")">主題輪播列表</a>
        </li>
        <li>
            <a href="@Url.Action("ThemeTourList")">主題列表</a>
        </li>
    </ul>
</div>
<h2>@ViewBag.Title2</h2>

<div class="input-box input-box-w">
    <a href="javascript:addThemeBanner()" class="btn btn-submit">
        <i class="fas fa-plus"></i>
        新增圖片
    </a>
</div>

<div class="search-signle">
    <form action="@Url.Action("searchPage")" method="post">
        <div class="search-ui-box">
            <label for="userKeyWord">
                <span>關鍵字：</span>
            </label>
            <input type="hidden" name="action" value="@ViewBag.Action" />
            <input type="text" name="userKeyWord" id="keyWord" value="@ViewBag.Key" class="input-sty w250">
        </div>
        <div class="btn-area">
            <div class="btn btn-submit">
                <i class="fas fa-search"></i>
                搜尋
                <input type="submit">
            </div>
        </div>
    </form>
</div>

<form id="editthemebanner" action="@Url.Action("ThemeBannerEdit")" method="post">
    <input type="hidden" name="Themeid" id="Themeid" value="" />
</form>
<form id="addthemebanner" action="@Url.Action("ThemeBannerAdd")" method="post">
</form>

<ul class="list">
    <li class="title filtered">
        <div class="group-box-83">
            <div class="box-5 txt-c">#</div>
            <div class="box-10">主題圖片</div>
            <div class="box-55">主題名稱</div>
            <div class="box-10 txt-c">狀態</div>
            <div class="box-15">建立時間</div>
        </div>
        <div class="group-box-15 opera">操作</div>
    </li>
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
<li class="@(ViewBag.Key == "" || ViewBag.Key == null ? "" : "filtered")">
    <a href="javascript:editThemeBanner(@item.Themeid)" class="group-box-83" title="編輯" alt="編輯">
        <div class="box-5 txt-c sortid">@item.Sortid</div>
        <div class="box-10">
            <img src="@item.Pic" alt="">
        </div>
        <div class="box-55 nameid">@item.Name</div>
        @if (item.Display == 1)
        {
            <div class="box-10 txt-c" title="顯示" alt="顯示">
                <i class="fad fa-eye blue"></i>
            </div>
        }
        else
        {
            <div class="box-10 txt-c" title="不顯示" alt="不顯示">
                <i class="fad fa-eye-slash red"></i>
            </div>
        }
        <div class="box-15">@item.Createtime.ToString("yyyy/MM/dd")</div>
    </a>
    <div class="group-box-15 opera">
        <a href="javascript:editThemeBanner(@item.Themeid)" title="編輯" alt="編輯">
            <i class="fad fa-pen-square"></i>
        </a>
        <a href="javascript:delThemeBanner('@item.Themeid')" title="刪除" alt="刪除">
            <i class="fad fa-times-square"></i>
        </a>
        @if (ViewBag.Key == "" || ViewBag.Key == null)
        {
            <a href="#" title="排序" alt="排序" class="my-handle">
                <i class="fad fa-bars"></i>
            </a>
        }
    </div>
</li>
        }
    }
</ul>
<!-- import 'pagination.kit' -->
<script>
    var globalkeyword = "@ViewBag.Key";

    $(function () {
        var el = document.querySelector(".list");
        var sortable = Sortable.create(el, {
            sort: true,
            filter: '.filtered', // 'filtered' class is not draggable
            animation: 150,
            handle: ".my-handle",
            onMove: function (e) { return e.related.className.indexOf('filtered') === -1; },
            // Element dragging ended
            onEnd: function (/**Event*/ evt) {
                var itemEl = evt.item; // dragged HTMLElement
                evt.to; // target list
                evt.from; // previous list
                evt.oldIndex; // element's old index within old parent
                evt.newIndex; // element's new index within new parent
                evt.oldDraggableIndex; // element's old index within old parent, only counting draggable elements
                evt.newDraggableIndex; // element's new index within new parent, only counting draggable elements
                evt.clone; // the clone element
                evt.pullMode; // when item is in another sortable: `"clone"` if cloning, `true` if moving

                var tempindex = 1;
                $('.sortid').each(function (item) {
                    $(this).html('' + tempindex);
                    updateOrder(tempindex, $(this).parent().find(".nameid").html());
                    tempindex++;
                });
            },

        });
    });

    function updateOrder(order, name_tw) {
        var headers = {};
        var data = {};
        data.action = "@ViewBag.Action";
        data.order = order;
        data.name = name_tw;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("updateOrder")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
            },
        });
    }

    function delThemeBanner(Themeid) {
        if (confirm("您確定要刪除此主題嗎?")) {
            var headers = {};
            var data = {};
            data.action = "@ViewBag.Action";
            data.data = Themeid;

            $.ajax({
                type: "POST",
                data: data,
                headers: headers,
                url: '@Url.Action("delData")',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (result) {
                    if (result["Code"] == 1) {
                        alert("刪除成功");
                        top.location.reload();
                    } else {
                        alert("刪除失敗");
                    }
                },
                error: function (xhr, ajaxOption, thrownError) {
                    alert(xhr.responseText);
                }
            });
        }
    }

    function editThemeBanner(Themeid) {
        $("#editthemebanner").find("#Themeid").val(Themeid);
        $("#editthemebanner").submit();
    }

    function addThemeBanner() {
        $("#addthemebanner").submit();
    }
</script>
