﻿@model VirtualMuseum.Models.Backend.ThemeTourViewModel

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "主題之旅管理";
    ViewBag.Title2 = "編輯主題";
    ViewBag.Action = "ThemeTourRouteEdit";
}

<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 800px; /* Could be more or less, depending on screen size */
    }
</style>

<h1>@ViewBag.Title</h1>
<ol class="breadcrumb">
    <li><a href="@Url.Action("ThemeTourList")">主題之旅</a></li>
    <li class="active">
        <span>@Model.Name</span>
    </li>
</ol>
<h2>@ViewBag.Title2</h2>

<form action="@Url.Action("EditThemeTour")" id="form" enctype="multipart/form-data" method="post">
    @*防偽造*@
    @Html.AntiForgeryToken()
    <div class="input-box">
        <label for="title">*主題名稱</label>
        <input type=" text" class="input-sty required" name="title" id="title" value="@Model.Name">
    </div>
    <div class="input-box input-box-en">
        <label for="titleEn">主題名稱(英)</label>
        <input type="text" class="input-sty" name="titleEn" id="titleEn" value="@Model.NameEn">
    </div>
    <input type="hidden" name="Themeid" id="Themeid" value="@Model.Themeid" />

    <div class="input-box input-box-w">
        <label for="uploadpic1">主題圖片</label>
        <div class="note">圖像尺寸 1360 × 440，支援jpg、gif、png等格式</div>
        <div class="upload-img">
            <div class="head-box upload-box-sty">
                <input type="file" name="uploadpic1" id="uploadpic1" class="upload-pic"
                       onchange="initcrop(1);" onclick="this.value=null;">
                <div id="previews1" class="upload-click-area" onclick="upload_click(this)">
                    <img id="cropimg1" src="@(Model.Pic==null||Model.Pic.Length<=0?"/img/default_src.jpg":Model.Pic)" alt="img1">
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="pic1" id="pic1" value="" />

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <a id="cropit" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;"><i class="fa fa-chevron-left"></i>裁切</a>
            <a id="cropmove" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;margin-left:65px;"><i class="fa fa-arrows-alt"></i></a>
            <a id="cropcut" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;margin-left:105px;"><i class="fa fa-crop-alt"></i></a>
            <a id="closeit" href="#" class="btn btn-cancel" style="margin-left:762px;"><i class="fa fa-window-close"></i></a>
            <div id="cropper-example-2" style="height:800px;width:800px;">
                <img id="orimg" alt="Picture" />
            </div>
        </div>
    </div>

    <div class="input-box">
        <label for="show">是否顯示</label>
        <div class=" check-list">
            <label for="yes">
                @if (Model.Display_tw == 1)
                {
                    <input type="radio" name="show" id="yes" value="1" title="至少選擇一個" checked class="required">
                }
                else
                {
                    <input type="radio" name="show" id="yes" value="1" title="至少選擇一個" class="required">
                }
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="no">
                @if (Model.Display_tw == 2)
                {
                    <input type="radio" name="show" id="no" value="2" title="至少選擇一個" checked class="radio-box required">
                }
                else
                {
                    <input type="radio" name="show" id="no" value="2" title="至少選擇一個" class="radio-box required">
                }
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <div class="input-box input-box-en">
        <label for="show">是否顯示(英)</label>
        <div class=" check-list">
            <label for="yesEn">
                @if (Model.Display_en == 1)
                {
                    <input type="radio" name="showEn" id="yesEn" value="1" title="至少選擇一個" checked class="required">
                }
                else
                {
                    <input type="radio" name="showEn" id="yesEn" value="1" title="至少選擇一個" class="required">
                }
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="noEn">
                @if (Model.Display_en == 2)
                {
                    <input type="radio" name="showEn" id="noEn" value="2" title="至少選擇一個" checked class="radio-box required">
                }
                else
                {
                    <input type="radio" name="showEn" id="noEn" value="2" title="至少選擇一個" class="radio-box required">
                }
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <div class="input-box">
        <label for="bannerShow">是否上架到輪播</label>
        <div class="check-list">
            <label for="bannerShowYes">
                @if (Model.Playpic == 1)
                {
                    <input type="radio" name="bannerShow" id="bannerShowYes" value="1" title="至少選擇一個" checked>
                }
                else
                {
                    <input type="radio" name="bannerShow" id="bannerShowYes" value="1" title="至少選擇一個">
                }
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="bannerShowNo">
                @if (Model.Playpic == 2)
                {
                    <input type="radio" name="bannerShow" id="bannerShowNo" value="2" title="至少選擇一個" checked class="radio-box">
                }
                else
                {
                    <input type="radio" name="bannerShow" id="bannerShowNo" value="2" title="至少選擇一個" class="radio-box">
                }
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <div class="btn-area">
        <a href="@Url.Action("ThemeTourList")" class="btn btn-cancel"><i class="fa fa-chevron-left"></i> 取消</a>
        <div class="btn btn-submit">
            <i class="fa fa-check"></i> 確認送出
            <input type="submit" class="btn">
        </div>
    </div>
</form>
<h2 class="tit-btn">
    <span>主題路線列表</span>
    <a href="@Url.Action("ThemeTourRouteAdd")" class="btn btn-submit">
        <i class="far fa-plus"></i> 新增路線
    </a>
</h2>

<form id="editthemetourroute" action="@Url.Action("ThemeTourRouteEdit")" method="post">
    <input type="hidden" name="Routeid" id="Routeid" value="" />
</form>

<div class="search-signle">
    <form action="@Url.Action("searchPage2")" method="post">
        <div class="search-ui-box">
            <label for="userKeyWord">
                <span>關鍵字：</span>
            </label>
            <input type="hidden" name="action" value="@ViewBag.Action" />
            <input type="hidden" name="period" value="@Model.Themeid" />
            <input type="text" name="userKeyWord" id="keyWord" value="@ViewBag.Key" class="input-sty w250">
        </div>
        <div class="btn-area">
            <div class="btn btn-submit">
                <i class="fas fa-search"></i>
                搜尋
                <input type="submit">
            </div>
        </div>
    </form>
</div>

<ul id="RouteSection" class="list">
    <li class="title filtered">
        <div class="group-box-83">
            <div class="box-5 txt-c">#</div>
            <div class="box-10">路線圖片</div>
            <div class="box-45">路線名稱</div>
            <div class="box-10 txt-c">狀態</div>
            <div class="box-10 txt-c">狀態(英)</div>
            <div class="box-15">建立日期</div>
        </div>
        <div class="group-box-15 opera">操作</div>
    </li>

    @if (Model.routes != null && Model.routes.Count > 0)
    {
        foreach (var item in Model.routes)
        {
            <li class="@(ViewBag.Key==""||ViewBag.Key==null?"":"filtered")">
                <a href="javascript:editThemeTourRoute(@(item.Routeid))" class="group-box-83" title="編輯" alt="編輯">
                    <div tid="@item.Routeid" class="box-5 txt-c sortid">@item.Sortid</div>
                    <div class="box-10">
                        <img src="@item.Pic" alt="">
                    </div>
                    <div class="box-45 nameid">@item.Name</div>
                    @if (item.Display_tw == 1)
                    {
                        <div class="box-10 txt-c" title="顯示" alt="顯示">
                            <i class="fad fa-eye blue"></i>
                        </div>
                    }
                    else
                    {
                        <div class="box-10 txt-c" title="不顯示" alt="不顯示">
                            <i class="fad fa-eye-slash red"></i>
                        </div>
                    }
                    @if (item.Display_en == 1)
                    {
                        <div class="box-10 txt-c" title="顯示" alt="顯示">
                            <i class="fad fa-eye blue"></i>
                        </div>
                    }
                    else
                    {
                        <div class="box-10 txt-c" title="不顯示" alt="不顯示">
                            <i class="fad fa-eye-slash red"></i>
                        </div>
                    }
                    <div class="box-15">@item.Createtime.ToString("yyyy/MM/dd")</div>
                </a>
                <div class="group-box-15 opera">
                    <a href="javascript:editThemeTourRoute(@(item.Routeid))" title="編輯" alt="編輯">
                        <i class="fad fa-pen-square"></i>
                    </a>
                    <a href="javascript:delThemeTourRoute('@item.Routeid')" title="刪除" alt="刪除">
                        <i class="fad fa-times-square"></i>
                    </a>
                    @if (ViewBag.Key == "" || ViewBag.Key == null)
                    {
                        <a href="#" title="排序" alt="排序" class="my-handle">
                            <i class="fad fa-bars"></i>
                        </a>
                    }
                </div>
            </li>
        }
    }
</ul>
<!-- import 'pagination.kit' -->
<!-- 此為表單驗證用，注意需更改#name與標單的id相同 -->
<script type="text/javascript">
    $(function () {
        @if(ViewBag.ScrollToRoute != null && ViewBag.ScrollToRoute == "yes")
        {
            <text>
        setTimeout(function () {
            location.href = '#';
            location.href = '#RouteSection';
        }, 500);
            </text>
        }
        var message = '@ViewBag.Error';
        if (message == "完成") {
            alert("完成");
            top.location.href = "@Url.Action("ThemeTourList")";
        } else if (message.length > 0) {
            alert('@ViewBag.Error');
        } else {
            var validator = $("#form").validate({
                submitHandler: function (form) {
                    //resetForm();
                    form.submit();
                }
            });
        }
        var el = document.querySelector(".list");
        var sortable = Sortable.create(el, {
            sort: true,
            filter: '.filtered', // 'filtered' class is not draggable
            animation: 150,
            handle: ".my-handle",
            onMove: function (e) { return e.related.className.indexOf('filtered') === -1; },
            // Element dragging ended
            onEnd: function (/**Event*/ evt) {
                var itemEl = evt.item; // dragged HTMLElement
                evt.to; // target list
                evt.from; // previous list
                evt.oldIndex; // element's old index within old parent
                evt.newIndex; // element's new index within new parent
                evt.oldDraggableIndex; // element's old index within old parent, only counting draggable elements
                evt.newDraggableIndex; // element's new index within new parent, only counting draggable elements
                evt.clone; // the clone element
                evt.pullMode; // when item is in another sortable: `"clone"` if cloning, `true` if moving

                var tempindex = 1;
                var total = $('.sortid').length;
                var command = '';
                $('.sortid').each(function (item) {
                    $(this).html('' + tempindex);
                    //updateOrder(tempindex, $(this).attr("tid"));
                    command += (tempindex + '|' + $(this).attr("tid") + ',');
                    tempindex++;
                    if (tempindex >= total) {
                        updateOrder(command);
                    }
                });
            },

        });
    });
    var uploadpic; var tempuploadpic;
    var image;
    var modal;
    var cropper;
    var _index;

    function initcrop(index) {
        _index = index;

        uploadpic = document.getElementById('uploadpic' + _index);
        
        image = document.getElementById('orimg');
        modal = document.getElementById("myModal");

        $('#cropit').on('click', function () {
            var croppedImageDataURL = cropper.getCroppedCanvas({ width: 1360, height: 440 }).toDataURL("image/png");
            $('#cropimg' + _index).attr('src', croppedImageDataURL);
            $('#pic' + _index).val(croppedImageDataURL);

            cropper.destroy();
            image.src = '';
            tempuploadpic = uploadpic.value;
            modal.style.display = "none";
        });
        $('#cropmove').on('click', function () {
            cropper.setDragMode("move");
        });

        $('#cropcut').on('click', function () {
            cropper.setDragMode("crop");
        });

        $('#closeit').on('click', function () {
            cropper.destroy();
            image.src = '';
            modal.style.display = "none";
        });

        if (uploadpic.files && uploadpic.files[0]) {
            if (uploadpic.files[0].type.match(/^image\//)) {
                var reader = new FileReader();
                reader.onload = function (evt) {
                    image.src = evt.target.result;
                    cropper = new Cropper(image, { 
                        viewMode: 1,
                        crop(event) {
                            console.log(event.detail.x);
                            console.log(event.detail.y);
                            console.log(event.detail.width);
                            console.log(event.detail.height);
                            console.log(event.detail.rotate);
                            console.log(event.detail.scaleX);
                            console.log(event.detail.scaleY);
                        },
                    });
                    modal.style.display = "block";
                };
                reader.readAsDataURL(uploadpic.files[0]);
            }
            else {
                alert("Invalid file type! Please select an image file.");
            }
        }
        else {
            alert('No file(s) selected.');
        }
    }

    function updateOrder(command) {
        var headers = {};
        var data = {};
        data.action = "@ViewBag.Action";
        data.command = command;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("updateOrder")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
            },
        });
    }

    function delThemeTourRoute(Routeid) {
        if (confirm("您確定要刪除此路線嗎?")) {
            var headers = {};
            var data = {};
            data.action = "@ViewBag.Action";
            data.data = Routeid;

            $.ajax({
                type: "POST",
                data: data,
                headers: headers,
                url: '@Url.Action("delData")',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (result) {
                    if (result["Code"] == 1) {
                        alert("刪除成功");
                        top.location.reload();
                    } else {
                        alert("刪除失敗");
                    }
                },
                error: function (xhr, ajaxOption, thrownError) {
                    alert(xhr.responseText);
                }
            });
        }
    }

    function editThemeTourRoute(Routeid) {
        $("#editthemetourroute").find("#Routeid").val(Routeid);
        $("#editthemetourroute").submit();
    }
</script>

