﻿@model VirtualMuseum.Models.Backend.ThemeTourViewModel

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "主題之旅管理";
    ViewBag.Title2 = "新增主題";
}

<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 800px; /* Could be more or less, depending on screen size */
    }
</style>

<h1>@ViewBag.Title</h1>

<h2>@ViewBag.Title2</h2>

<form action="@Url.Action("AddThemeTour")" id="form" enctype="multipart/form-data" method="post">
    @*防偽造*@
    @Html.AntiForgeryToken()
    <div class="input-box">
        <label for="title">*主題名稱</label>
        <input type="text" class="input-sty required" name="title" id="title" value="">
    </div>
    <div class="input-box input-box-en">
        <label for="titleEn">主題名稱(英)</label>
        <input type="text" class="input-sty" name="titleEn" id="titleEn" value="">
    </div>

    <div class="input-box input-box-w">
        <label for="uploadpic1">*主題圖片</label>
        <div class="note">圖像尺寸 1360 × 440，支援jpg、gif、png等格式</div>
        <div class="upload-img">
            <div class="head-box upload-box-sty">
                <input type="file" name="uploadpic1" id="uploadpic1" class="upload-pic required"
                       onchange="initcrop(1);" onclick="this.value=null;">
                <div id="previews1" class="upload-click-area" onclick="upload_click(this)">
                    <img id="cropimg1" src="/img/default_src.jpg" alt="img1">
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="pic1" id="pic1" value="" />

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <a id="cropit" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;"><i class="fa fa-chevron-left"></i>裁切</a>
            <a id="cropmove" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;margin-left:65px;"><i class="fa fa-arrows-alt"></i></a>
            <a id="cropcut" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;margin-left:105px;"><i class="fa fa-crop-alt"></i></a>
            <a id="closeit" href="#" class="btn btn-cancel" style="margin-left:762px;"><i class="fa fa-window-close"></i></a>
            <div id="cropper-example-2" style="height:800px;width:800px;">
                <img id="orimg" alt="Picture" />
            </div>
        </div>
    </div>

    <div class="input-box">
        <label for="show">是否顯示</label>
        <div class=" check-list">
            <label for="yes">
                <input type="radio" name="show" id="yes" value="1" title="至少選擇一個" checked class="required">
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="no">
                <input type="radio" name="show" id="no" value="2" title="至少選擇一個" class="radio-box required">
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <div class="input-box input-box-en">
        <label for="show">是否顯示(英)</label>
        <div class=" check-list">
            <label for="yesEn">
                <input type="radio" name="showEn" id="yesEn" value="1" title="至少選擇一個" checked class="required">
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="noEn">
                <input type="radio" name="showEn" id="noEn" value="2" title="至少選擇一個" class="radio-box required">
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <div class="btn-area">
        <a href="@Url.Action("ThemeTourList")" class="btn btn-cancel"><i class="fa fa-chevron-left"></i> 取消</a>
        <div class="btn btn-submit">
            <i class="fa fa-check"></i> 確認送出
            <input type="submit" class="btn">
        </div>
    </div>
</form>

<!-- 此為表單驗證用，注意需更改#name與標單的id相同 -->
<script type="text/javascript">
    $(function () {
        var message = '@ViewBag.Error';
        if (message == "完成") {
            alert("完成");
            top.location.href = "@Url.Action("ThemeTourList")";
        } else if (message.length > 0) {
            alert('@ViewBag.Error');
        } else {
            var validator = $("#form").validate({
                /*
                invalidHandler: function (event, validator) {
                    if (document.getElementById('uploadpic1').value == "" && tempuploadpic['uploadpic1'])
                        document.getElementById('uploadpic1').value = tempuploadpic['uploadpic1'];
                },*/
                submitHandler: function (form) {
                    //resetForm();
                    form.submit();
                }
            });
        }
    });

    var uploadpic;
    var tempuploadpic = [];
    var image;
    var modal;
    var cropper;
    var _index;

    function initcrop(index) {
        _index = index;

        uploadpic = document.getElementById('uploadpic' + _index);
        
        image = document.getElementById('orimg');
        modal = document.getElementById("myModal");

        $('#cropit').on('click', function () {
            var croppedImageDataURL = cropper.getCroppedCanvas({ width: 1360, height: 440 }).toDataURL("image/png");
            $('#cropimg' + _index).attr('src', croppedImageDataURL);
            $('#pic' + _index).val(croppedImageDataURL);

            cropper.destroy();
            image.src = '';
            tempuploadpic['uploadpic' + _index] = uploadpic.value;
            modal.style.display = "none";
        });
        $('#cropmove').on('click', function () {
            cropper.setDragMode("move");
        });

        $('#cropcut').on('click', function () {
            cropper.setDragMode("crop");
        });

        $('#closeit').on('click', function () {
            cropper.destroy();
            image.src = '';
            modal.style.display = "none";
        });

        if (uploadpic.files && uploadpic.files[0]) {
            if (uploadpic.files[0].type.match(/^image\//)) {
                var reader = new FileReader();
                reader.onload = function (evt) {
                    image.src = evt.target.result;
                    cropper = new Cropper(image, { 
                        viewMode: 1,
                        crop(event) {
                            console.log(event.detail.x);
                            console.log(event.detail.y);
                            console.log(event.detail.width);
                            console.log(event.detail.height);
                            console.log(event.detail.rotate);
                            console.log(event.detail.scaleX);
                            console.log(event.detail.scaleY);
                        },
                    });
                    modal.style.display = "block";
                };
                reader.readAsDataURL(uploadpic.files[0]);
            }
            else {
                alert("Invalid file type! Please select an image file.");
            }
        }
        else {
            alert('No file(s) selected.');
        }
    }
</script>

