﻿@model VirtualMuseum.Models.Backend.ThemeTourAttractionViewModel

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "主題之旅管理";
    ViewBag.Title2 = "新增景點";
}

<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 800px; /* Could be more or less, depending on screen size */
    }
</style>

<h1>@ViewBag.Title</h1>
<ol class="breadcrumb">
    <li><a href="@Url.Action("ThemeTourList")">主題之旅</a></li>
    <li>
        <a href="javascript:goback2(@Model.Themeid)">@Model.TourTitle</a>
    </li>
    <li>
        <a href="javascript:goback(@Model.Routeid)">@Model.RouteTitle</a>
    </li>
    <li class="active">
        <span>@ViewBag.Title2</span>
    </li>
</ol>

<h2>@ViewBag.Title2</h2>

<form action="@Url.Action("AddThemeTourAttraction")" id="form" enctype="multipart/form-data" method="post">
    @*防偽造*@
    @Html.AntiForgeryToken()
    <div class="input-box">
        <label for="title">*景點名稱</label>
        <input type="text" class="input-sty required" name="title" id="title" value="">
    </div>
    <div class="input-box input-box-en">
        <label for="titleEn">景點名稱(英)</label>
        <input type="text" class="input-sty" name="titleEn" id="titleEn" value="">
    </div>

    <div class="input-box input-box-w">
        <label for="editor">景點介紹</label>
        <textarea name="editor" id="editor" placeholder="內文說明..." class="input-sty desc-info"></textarea>
    </div>

    <div class="input-box input-box-w input-box-en">
        <label for="editorEn">景點介紹(英)</label>
        <textarea name="editorEn" id="editorEn" placeholder="內文說明..." class="input-sty desc-info"></textarea>
    </div>

    <div class="input-box input-box-w">
        <label for="editor2">文學筆記</label>
        <textarea name="editor2" id="editor2" placeholder="內文說明..." class="input-sty desc-info"></textarea>
    </div>

    <div class="input-box input-box-w input-box-en">
        <label for="editorEn2">文學筆記(英)</label>
        <textarea name="editorEn2" id="editorEn2" placeholder="內文說明..." class="input-sty desc-info"></textarea>
    </div>

    <input type="hidden" name="Routeid" id="Routeid" value="@Model.Routeid" />

    <div class="input-box input-box-w">
        <label for="uploadpic1">*景點圖片</label>
        <div class="note">圖像尺寸 1000 × 715，支援jpg、gif、png等格式</div>
        <div class="upload-img">
            <div class="head-box upload-box-sty">
                <input type="file" name="uploadpic1" id="uploadpic1" class="upload-pic required"
                       onchange="initcrop(1);" onclick="this.value=null;">
                <div id="previews1" class="upload-click-area" onclick="upload_click(this)">
                    <img id="cropimg1" src="@(Model.Pic1==null||Model.Pic1.Length<=0?"/img/default_src.jpg":Model.Pic1)" alt="img1">
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="pic1" id="pic1" value="" />

    <input type="hidden" name="Attrid" id="Attrid" value="@Model.Attrid" />

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <a id="cropit" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;"><i class="fa fa-chevron-left"></i>裁切</a>
            <a id="cropmove" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;margin-left:65px;"><i class="fa fa-arrows-alt"></i></a>
            <a id="cropcut" href="#" class="btn btn-cancel" style="position:absolute;z-index:100;margin-top:810px;margin-left:105px;"><i class="fa fa-crop-alt"></i></a>
            <a id="closeit" href="#" class="btn btn-cancel" style="margin-left:762px;"><i class="fa fa-window-close"></i></a>
            <div id="cropper-example-2" style="height:800px;width:800px;">
                <img id="orimg" alt="Picture" />
            </div>
        </div>
    </div>

    <div class="input-box">
        <label for="show">是否顯示</label>
        <div class=" check-list">
            <label for="yes">
                <input type="radio" name="show" id="yes" value="1" title="至少選擇一個" checked class="required">
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="no">
                <input type="radio" name="show" id="no" value="2" title="至少選擇一個" class="radio-box required">
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <div class="input-box input-box-en">
        <label for="show">是否顯示(英)</label>
        <div class=" check-list">
            <label for="yesEn">
                <input type="radio" name="showEn" id="yesEn" value="1" title="至少選擇一個" checked class="required">
                <div class="radio-box"></div>
                <span>是</span>
            </label>
            <label for="noEn">
                <input type="radio" name="showEn" id="noEn" value="2" title="至少選擇一個" class="radio-box required">
                <div class="radio-box"></div>
                <span>否</span>
            </label>
        </div>
    </div>

    <div class="btn-area">
        <a href="javascript:goback(@Model.Routeid)" class="btn btn-cancel"><i class="fa fa-chevron-left"></i> 取消</a>
        <div class="btn btn-submit">
            <i class="fa fa-check"></i> 確認送出
            <input type="submit" class="btn">
        </div>
    </div>
</form>

<form id="gothemetourroute" action="@Url.Action("ThemeTourRouteEdit")" method="post">
    <input type="hidden" name="Routeid" id="Routeid" value="" />
</form>
<form id="gothemetour" action="@Url.Action("ThemeTourEdit")" method="post">
    <input type="hidden" name="Themeid" id="Themeid" value="" />
</form>
<!-- 此為表單驗證用，注意需更改#name與標單的id相同 -->
<script type="text/javascript">
    $(function () {
       var message = '@ViewBag.Error';
        if (message == "完成") {
            alert("完成");
            top.location.href = "@Url.Action("ThemeTourRouteEdit")";
        } else if (message.length > 0) {
            alert('@ViewBag.Error');
        } else {
            var validator = $("#form").validate({
                /*
                invalidHandler: function (event, validator) {
                    if (document.getElementById('uploadpic1').value == "" && tempuploadpic['uploadpic1'])
                        document.getElementById('uploadpic1').value = tempuploadpic['uploadpic1'];
                },*/
                submitHandler: function (form) {
                    //resetForm();
                    form.submit();
                }
            });
        }
        //編輯器
        var editor = CKEDITOR.replace('editor', {
            removePlugins: 'flash,cloudservices',
            extraPlugins: 'embed,autoembed',
            height: 500,
            filebrowserImageUploadUrl: '/Backend/ImageUpload',
            filebrowserBrowseUrl: '@Url.Content("~/js/Filemanager/index.html")',
            filebrowserUploadMethod: 'form',

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [
                'https://cdn.ckeditor.com/4.14.0/full-all/contents.css',
                //'https://ckeditor.com/docs/vendors/4.14.0/ckeditor/assets/css/widgetstyles.css'
            ],
            // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
            image2_disableResizer: true
        });
        //編輯器2
        var editor2 = CKEDITOR.replace('editor2', {
            removePlugins: 'flash,cloudservices',
            extraPlugins: 'embed,autoembed',
            height: 500,
            filebrowserImageUploadUrl: '/Backend/ImageUpload',
            filebrowserBrowseUrl: '@Url.Content("~/js/Filemanager/index.html")',
            filebrowserUploadMethod: 'form',

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [
                'https://cdn.ckeditor.com/4.14.0/full-all/contents.css',
                //'https://ckeditor.com/docs/vendors/4.14.0/ckeditor/assets/css/widgetstyles.css'
            ],
            // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
            image2_disableResizer: true
        });
        var editorEn = CKEDITOR.replace('editorEn', {
            removePlugins: 'flash,cloudservices',
            extraPlugins: 'embed,autoembed',
            height: 500,
            filebrowserImageUploadUrl: '/Backend/ImageUpload',
            filebrowserBrowseUrl: '@Url.Content("~/js/Filemanager/index.html")',
            filebrowserUploadMethod: 'form',

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [
                'https://cdn.ckeditor.com/4.14.0/full-all/contents.css',
                //'https://ckeditor.com/docs/vendors/4.14.0/ckeditor/assets/css/widgetstyles.css'
            ],
            // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
            image2_disableResizer: true
        });
        //編輯器2
        var editorEn2 = CKEDITOR.replace('editorEn2', {
            removePlugins: 'flash,cloudservices',
            extraPlugins: 'embed,autoembed',
            height: 500,
            filebrowserImageUploadUrl: '/Backend/ImageUpload',
            filebrowserBrowseUrl: '@Url.Content("~/js/Filemanager/index.html")',
            filebrowserUploadMethod: 'form',

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [
                'https://cdn.ckeditor.com/4.14.0/full-all/contents.css',
                //'https://ckeditor.com/docs/vendors/4.14.0/ckeditor/assets/css/widgetstyles.css'
            ],
            // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
            image2_disableResizer: true
        });
    });

    var uploadpic;
    var tempuploadpic = [];
    var image;
    var modal;
    var cropper;
    var _index;

    function initcrop(index) {
        _index = index;

        uploadpic = document.getElementById('uploadpic' + _index);
        
        image = document.getElementById('orimg');
        modal = document.getElementById("myModal");

        $('#cropit').on('click', function () {
            var croppedImageDataURL = cropper.getCroppedCanvas({ width: 1000, height: 715 }).toDataURL("image/png");
            $('#cropimg' + _index).attr('src', croppedImageDataURL);
            $('#pic' + _index).val(croppedImageDataURL);

            cropper.destroy();
            image.src = '';
            tempuploadpic['uploadpic' + _index] = uploadpic.value;
            modal.style.display = "none";
        });
        $('#cropmove').on('click', function () {
            cropper.setDragMode("move");
        });

        $('#cropcut').on('click', function () {
            cropper.setDragMode("crop");
        });

        $('#closeit').on('click', function () {
            cropper.destroy();
            image.src = '';
            modal.style.display = "none";
        });

        if (uploadpic.files && uploadpic.files[0]) {
            if (uploadpic.files[0].type.match(/^image\//)) {
                var reader = new FileReader();
                reader.onload = function (evt) {
                    image.src = evt.target.result;
                    cropper = new Cropper(image, { 
                        viewMode: 1,
                        crop(event) {
                            console.log(event.detail.x);
                            console.log(event.detail.y);
                            console.log(event.detail.width);
                            console.log(event.detail.height);
                            console.log(event.detail.rotate);
                            console.log(event.detail.scaleX);
                            console.log(event.detail.scaleY);
                        },
                    });
                    modal.style.display = "block";
                };
                reader.readAsDataURL(uploadpic.files[0]);
            }
            else {
                alert("Invalid file type! Please select an image file.");
            }
        }
        else {
            alert('No file(s) selected.');
        }
    }

    function goback(Routeid) {
        $("#gothemetourroute").find("#Routeid").val(Routeid);
        $("#gothemetourroute").submit();
    }
    function goback2(Themeid) {
        $("#gothemetour").find("#Themeid").val(Themeid);
        $("#gothemetour").submit();
    }
</script>
