﻿@using PagedList.Mvc;
@using PagedList;
@model IPagedList<DataAccess.Domain.UserListDomainViewModel>

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "會員管理";
    ViewBag.Title2 = "會員列表";
    ViewBag.Action = "UserManage";
}

<h1>@ViewBag.Title</h1>

<h2>@ViewBag.Title2</h2>
<!-- <div class="input-box">
    <a href="account_add.html" class="btn btn-submit">
        <i class="fas fa-plus"></i>
        新增帳號
    </a>
</div> -->

<div class="search-signle">
    <form action="@Url.Action("searchPage2")" method="post">
        <div class="search-ui-box">
            <label for="resFrom">
                <span>註冊來源：</span>
            </label>
            <select type="text" name="period" id="period" class="select-sty w150">
                @if (ViewBag.From == "all")
                {
                    <option value="all" selected>全部</option>
                }
                else
                {
                    <option value="all">全部</option>
                }
                @if (ViewBag.From == "Facebook")
                {
                    <option value="Facebook" selected>facebook</option>
                }
                else
                {
                    <option value="Facebook">facebook</option>
                }
                @if (ViewBag.From == "Google")
                {
                    <option value="Google" selected>google</option>
                }
                else
                {
                    <option value="Google">google</option>
                }
                @if (ViewBag.From == "Email")
                {
                    <option value="Email" selected>mail</option>
                }
                else
                {
                    <option value="Email">mail</option>
                }
            </select>
        </div>
        <div class="search-ui-box">
            <label for="userKeyWord">
                <span>關鍵字：</span>
            </label>
            <input type="hidden" name="action" value="@ViewBag.Action" />
            <input type="text" name="userKeyWord" id="keyWord" value="@ViewBag.Key" class="input-sty w250">
        </div>
        <div class="btn-area">
            <div class="btn btn-submit">
                <i class="fas fa-search"></i>
                搜尋
                <input type="submit">
            </div>
        </div>
    </form>
</div>

<form id="editacc" action="@Url.Action("UserEdit")" method="post">
    <input type="hidden" name="accountEdit" id="accountEdit" value="" />
</form>

<ul class="list">
    <li class="title">
        <div class="group-box-83">
            <div class="box-30">帳號</div>
            <div class="box-20">暱稱</div>
            <div class="box-20">來源</div>
            <div class="box-10">狀態</div>
            <div class="box-12 txt-c">Email驗證</div>
        </div>
        <div class="group-box-15 opera">操作</div>
    </li>
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <li>
                <a href="javascript:editAcc('@item.Account')" class="group-box-83" title="編輯" alt="編輯">
                    <div class="box-30">@item.Account</div>
                    <div class="box-20">@item.Name</div>
                    <div class="box-20">@item.Source</div>
                    @if (item.UserStatus == 1)
                    {
                        <div class="box-10">
                            正常
                        </div>
                    }
                    else
                    {
                        <div class="box-10"><div class="red">停權</div></div>
                    }
                    @if (item.mailStatus == "1")
                    {
                        <div class="box-12 txt-c">
                            <span class="green-txt">
                                <i class="fad fa-check-circle"></i>
                            </span>
                        </div>
                    }
                    else
                    {
                        <div class="box-12 txt-c"> - </div>
                    }
                </a>
                <div class="group-box-15 opera">
                    <a href="javascript:editAcc('@item.Account')" title="編輯" alt="編輯">
                        <i class="fad fa-pen-square"></i>
                    </a>
                </div>
            </li>
        }
    }

</ul>
@if (Model != null && Model.Count > 0)
{
    <div class="pagination">
        <div class="pagination-numbers">
            <a href="javascript:getPage(1)" title="第一頁">
                <i class="fas fa-arrow-to-left"></i>
            </a>

            <a href="javascript:getPage(@Model.PageNumber > 1 ? @Model.PageNumber - 1 : @Model.PageNumber)" title="上一頁">
                <i class="fas fa-arrow-left"></i>
            </a>

            @for (int i = (Model.PageNumber % 5); i <= (Model.PageCount > 5 ? (Model.PageNumber % 5) * 5 : Model.PageCount); i++)
            {
                if (Model.PageNumber == i)
                {
                    <a href="javascript:getPage(@i)" class="act">@i</a>
                }
                else
                {
                    <a href="javascript:getPage(@i)">@i</a>
                }
            }

            <a href="javascript:getPage(@Model.PageNumber==@Model.PageCount?@Model.PageNumber:@Model.PageNumber+1)" title="下一頁">
                <i class="fas fa-arrow-right"></i>
            </a>
            <a href="javascript:getPage(@Model.PageCount)" title="最後頁">
                <i class="fas fa-arrow-to-right"></i>
            </a>

        </div>
    </div>
}

<script>
    var globalkeyword = "@ViewBag.Key";

    function changeKey(key) {
        globalkeyword = key;
    }

    function getPage(page) {
        var headers = {};
        var data = {};
        data.action = "@ViewBag.Action";
        data.key = globalkeyword;
        data.period = $('#period').val();
        data.page = page;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("getPage2")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                //alert(result["PageNumber"]);
                $(".list").empty();
                $(".list").append('<li class="title"><div class="group-box-83"><div class="box-30">帳號</div>' +
                    '<div class="box-20">暱稱</div><div class="box-20">來源</div><div class="box-10">狀態</div><div class="box-12 txt-c">Email驗證</div></div >'+
                    '<div class="group-box-15 opera">操作</div></li >');

                for (var i = 0; i < result["Lists"].length; i++) {
                    var str = '<li><a href="javascript:editAcc(\'' + result["Lists"][i]["Account"] + '\')" class="group-box-83" title="編輯" alt="編輯">' +
                        '<div class="box-30">' + result["Lists"][i]["Account"] + '</div>' +
                        '<div class="box-20">' + result["Lists"][i]["Name"] + '</div>' +
                        '<div class="box-20">' + result["Lists"][i]["Source"] + '</div>';
                    if (result["Lists"][i]["Status"] == 1) {
                        str += '<div class="box-10">正常</div>';
                    }
                    else {
                        str += '<div class="box-10"><div class="red">停權</div></div>';
                    }
                    if (result["Lists"][i]["mailStatus"] == "1")
                    {
                        str += '<div class="box-12 txt-c"><span class="green-txt"><i class="fad fa-check-circle"></i></span></div>';
                    }
                    else
                    {
                        str += '<div class="box-12 txt-c"> - </div>';
                    }
                    str += '</a><div class="group-box-15 opera"><a href="javascript:editAcc(' + result["Lists"][i]["Account"] + ')" title="編輯" alt="編輯">' +
                        '<i class="fad fa-pen-square"></i></a></div></li>';

                    $(".list").append(str);
                }

                $('.pagination-numbers').empty();

                $('.pagination-numbers').append('<a href="javascript:getPage(1)" title="第一頁"><i class="fas fa-arrow-to-left"></i></a>');
                $('.pagination-numbers').append('<a href="javascript:getPage(' + (result["PageNumber"] > 1 ? result["PageNumber"] - 1 : result["PageNumber"]) + ')" title="上一頁"><i class= "fas fa-arrow-left" ></i ></a >');

                var pageMin = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 1;
                var pageMax = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 5;

                if (parseInt(result["PageCount"]) < pageMax)
                    pageMax = parseInt(result["PageCount"]);
                for (var i = pageMin; i <= pageMax; i++) {
                    if (result["PageNumber"] == i) {
                        $('.pagination-numbers').append('<a href="javascript:getPage(' + i + ')" class="act">' + i + '</a>');
                    }
                    else {
                        $('.pagination-numbers').append('<a href="javascript:getPage(' + i + ')">' + i + '</a>');
                    }
                }

                $('.pagination-numbers').append('<a href="javascript:getPage(' + (result["PageNumber"] == result["PageCount"] ? result["PageNumber"] : result["PageNumber"] + 1) + ')" title="下一頁"><i class="fas fa-arrow-right"></i></a>');
                $('.pagination-numbers').append('<a href="javascript:getPage(' + result["PageCount"] + ')" title="最後頁"><i class="fas fa-arrow-to-right"></i></a>');
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }

    function editAcc(acc) {
        $("#accountEdit").val(acc);
        $("#editacc").submit();
    }
</script>