﻿@model VirtualMuseum.Models.Backend.UserViewModel

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "會員管理";
    ViewBag.Title2 = "編輯帳號";
}

<h1>@ViewBag.Title</h1>

<div class="sub-page">
    <ul>
        <li class="act">
            <a href="javascript:goMember()">會員資料</a>
        </li>
        <li>
            <a href="javascript:goMemberCollectList()">收藏文章</a>
        </li>
        <li>
            <a href="javascript:goMemberBlogList()">部落格紀錄</a>
        </li>
        <!-- <li>
            <a href="set_questionaire_list.html">集章紀錄</a>
        </li> -->
    </ul>
</div>

<h2>@ViewBag.Title2</h2>
<!-- <div class="input-box">
    <a href="#" class="btn btn-submit">
        <i class="fas fa-plus"></i>
        新增帳號
    </a>
</div> -->

<form id="a1" action="@Url.Action("UserEdit")" method="post">
    <input type="hidden" id="accountEdit" name="accountEdit" value="@Model.account"/>
</form>
<form id="a2" action="@Url.Action("MemberCollectList")" method="post">
    <input type="hidden" id="Uid" name="Uid" value="@Model.Uid" />
</form>
<form id="a3" action="@Url.Action("MemberBlogList")" method="post">
    <input type="hidden" id="Uid" name="Uid" value="@Model.Uid" />
</form>

<form action="@Url.Action("EditAccountUser")" id="form" method="post">
    @*防偽造*@
    @Html.AntiForgeryToken()
    <div class="input-box">
        <label for="account">帳號</label>
        <span>@Model.account</span>
    </div>
    <input type="hidden" name="account" id="account" value="@Model.account" />
    @if (Model.source == "Email")
    {
        <div class="input-box">
            <label for="nickname">*暱稱</label>
            <input type="text" class="input-sty required" name="nickname" id="nickname" value="@Model.nickname">
        </div>
    }
    else
    {
        <div class="input-box">
            <label for="nickname">暱稱</label>
            <input type="text" readonly class="input-sty" name="nickname" id="nickname" value="@Model.nickname">
        </div>
    }

    <div class="input-box">
        <label for="account">註冊來源</label>
        <span>@Model.source</span>
    </div>
    <input type="hidden" name="source" id="source" value="@Model.source" />
    <!--<div class="input-box">
        <label for="pwd">密碼</label>
        <input type="password" class="input-sty" name="pwd" id="pwd" value="@Model.pwd">
    </div>-->
    @if (Model.source == "Email")
    {
        <div class="input-box">
            <label for="email">聯絡信箱</label>
            <input type="text" class="input-sty" name="email" id="email" value="@Model.email">
        </div>
    }
    else
    {
        <div class="input-box">
            <label for="email">聯絡信箱</label>
            <input type="text" readonly class="input-sty" name="email" id="email" value="@Model.email">
        </div>
    }

    @if (Model.source == "Email")
    {
        <div class="input-box">
            <label for="phone">電話</label>
            <input type="text" class="input-sty" name="phone" id="phone" value="@Model.phone">
        </div>
    }
    <div class="input-box">
        <label for="sex">性別</label>
        <div class="check-list">
            <label for="male">
                @if (Model.sex == "1")
                {
                    <input type="radio" name="sex" id="male" value="1" title="至少選擇一個" checked class="required">
                }
                else
                {
                    <input type="radio" name="sex" id="male" value="1" title="至少選擇一個" class="required">
                }
                <div class="radio-box"></div>
                <span>男</span>
            </label>
            <label for="female">
                @if (Model.sex == "2")
                {
                    <input type="radio" name="sex" id="female" value="2" title="至少選擇一個" checked class="radio-box required">
                }
                else
                {
                    <input type="radio" name="sex" id="female" value="2" title="至少選擇一個" class="radio-box required">
                }
                <div class="radio-box"></div>
                <span>女</span>
            </label>
            <label for="others">
                @if (Model.sex == "3")
                {
                    <input type="radio" name="sex" id="others" value="3" title="至少選擇一個" checked class="radio-box required">
                }
                else
                {
                    <input type="radio" name="sex" id="others" value="3" title="至少選擇一個" class="radio-box required">
                }
                <div class="radio-box"></div>
                <span>其他</span>
            </label>
        </div>
    </div>
    <div class="input-box">
        <label for="old">年齡</label>
        <select name="old" id="old" class="select-sty valid w150">
            <option value="1" @(Model.old == "1" ? "selected" : "")>0 ~ 18</option>
            <option value="2" @(Model.old == "2" ? "selected" : "")>19 ~ 30</option>
            <option value="3" @(Model.old == "3" ? "selected" : "")>30 ~ 40</option>
        </select>
    </div>
    <div class="input-box">
        <label for="status">狀態</label>
        <div class=" check-list">
            <label for="normal">
                @if (Model.status == "1")
                {
                    <input type="radio" name="status" id="normal" value="1" title="至少選擇一個" checked class="required">
                }
                else
                {
                    <input type="radio" name="status" id="normal" value="1" title="至少選擇一個" class="required">
                }
                <div class="radio-box"></div>
                <span>正常</span>
            </label>
            <label for="ban">
                @if (Model.status == "-1")
                {
                    <input type="radio" name="status" id="ban" value="-1" title="至少選擇一個" checked class="radio-box required">
                }
                else
                {
                    <input type="radio" name="status" id="ban" value="-1" title="至少選擇一個" class="radio-box required">
                }
                <div class="radio-box"></div>
                <span>停權</span>
                <input type="text" class="input-sty w150" name="reason" id="reason" placeholder="停權原因" value="@Model.reason">
            </label>
        </div>
    </div>
    <div class="input-box">
        <label for="sex">信件驗證狀態</label>
        <div class="check-list">
            <label for="mailPass">
                @if (Model.mailStatus == "1")
                {
                    <input type="radio" name="mailStatus" value="1" id="mailPass" title="至少選擇一個" checked class="required">
                }
                else
                {
                    <input type="radio" name="mailStatus" value="1" id="mailPass" title="至少選擇一個" class="required">
                }
                <div class="radio-box"></div>
                <span>已驗證</span>
            </label>
            <label for="mailUnPass">
                @if (Model.mailStatus == "2")
                {
                    <input type="radio" name="mailStatus" value="2" id="mailUnPass" title="至少選擇一個" checked
                           class="radio-box required">
                }
                else
                {
                    <input type="radio" name="mailStatus" value="2" id="mailUnPass" title="至少選擇一個"
                           class="radio-box required">
                }
                <div class="radio-box"></div>
                <span>未驗證</span>
            </label>
        </div>
    </div>
    <div class="input-box">
        <label for="hasNewslatter">訂閱電子報</label>
        <div class="check-list">
            <label for="yesNews">
                @if (Model.newslatter == "1")
                {
                <input type="radio" name="newslatter" id="yesNews" value="1" checked title="至少選擇一個" class="required">
                }
                else
                {
            <input type="radio" name="newslatter" id="yesNews" value="1" title="至少選擇一個" class="required">
                }
                <div class="radio-box"></div>
                <span>訂閱</span>
            </label>
            <label for="noNews">
                @if (Model.newslatter == "0")
                {
                    <input type="radio" name="newslatter" id="noNews" value="0" title="至少選擇一個" checked class="radio-box required">
                }
                else
                {
                    <input type="radio" name="newslatter" id="noNews" value="0" title="至少選擇一個" class="radio-box required">
                }
                <div class="radio-box"></div>
                <span>未訂閱</span>
            </label>
        </div>
    </div>
    <div class="input-box input-box-w">
        <label for="purview">電子報訂閱興趣</label>
        <div class="check-list">
            @if (Model != null && Model.blogtypes != null && Model.blogtypes.Count > 0)
            {
                foreach (var item in Model.blogtypes)
                {
                    <label for="tag@(item.Tid)">
                        <input type="checkbox" name="purview" id="tag@(item.Tid)" value="@(item.Tid)" title="最少需選擇一個" @(item.Owned ? "checked" : "")>
                        <div class="check-box"></div>
                        <span>@item.Name</span>
                    </label>
                }
            }
        </div>
    </div>

    <div class="btn-area">
        <a href="@Url.Action("UserManage")" class="btn btn-cancel"><i class="fa fa-chevron-left"></i> 取消</a>
        <div class="btn btn-submit">
            <i class="fa fa-check"></i> 確認送出
            <input type="submit" class="btn">
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        var message = '@ViewBag.Error';
        if (message == "完成") {
            alert("完成");
            top.location.href = "@Url.Action("UserManage")";
        } else if (message.length > 0) {
            alert('@ViewBag.Error');
        } else {
            var validator = $("#form").validate({
                submitHandler: function (form) {
                    form.submit();
                }
            });
        }
    });

    function goMember() {
        document.getElementById("a1").submit();
    }
    function goMemberCollectList() {
        document.getElementById("a2").submit();
    }
    function goMemberBlogList() {
        document.getElementById("a3").submit();
    }
</script>
