﻿@model List<DataAccess.Domain.WriterStoryListDomainModel>

@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "作家行跡管理";
    ViewBag.Title2 = "主題列表";
    ViewBag.Action = "WriterStoryList";
    ViewBag.Kind = 2;
}

<h1>@ViewBag.Title</h1>

<h2>@ViewBag.Title2</h2>
<div class="input-box input-box-w">
    <a href="javascript:addWriterStory()" class="btn btn-submit">
        <i class="fas fa-plus"></i>
        新增主題
    </a>
</div>
<div class="sub-page">
    <ul>
        <li>
            <a href="@Url.Action("WriterTrackList")">作家行跡列表</a>
        </li>
        <li class="act">
            <a href="@Url.Action("WriterStoryList")">故事地圖列表</a>
        </li>
    </ul>
</div>
<div class="search-signle">
    <form action="@Url.Action("searchPage")" method="post">
        <div class="search-ui-box">
            <label for="userKeyWord">
                <span>關鍵字：</span>
            </label>
            <input type="hidden" name="action" value="@ViewBag.Action" />
            <input type="text" name="userKeyWord" id="keyWord" value="@ViewBag.Key" class="input-sty w250">
        </div>
        <div class="btn-area">
            <div class="btn btn-submit">
                <i class="fas fa-search"></i>
                搜尋
                <input type="submit">
            </div>
        </div>
    </form>
</div>

<form id="editwriterstory" action="@Url.Action("WriterTrackEdit")" method="post">
    <input type="hidden" name="Wid" id="Wid" value="" />
    <input type="hidden" name="Kind" id="Kind" value="2" />
</form>
<form id="addwriterstory" action="@Url.Action("WriterTrackAdd")" method="post">
    <input type="hidden" name="Kind" id="Kind" value="2" />
</form>
<!-- <div class="search-box">
    <form method="get" action="" id="searchForm">
        <div class="search-ui-box">
            <label for="type">
                <input type="radio" name="search" id="type" value="4">
                    <div class="radio-box"></div>
                    <span>時期名稱：</span>
                分類：
            </label>
            <select name="type" id="type" class="select-sty w200">
                <option value="1">全部分類</option>
                <option value="2">作家行跡</option>
                <option value="3">故事地圖</option>
            </select>
        </div>
        <div class="search-ui-box">
            <label for="userKeyWord">
                <input type="radio" name="search" id="userKeyWord" value="1">
                    <div class="radio-box"></div>
                    <span>關鍵字搜尋：</span>
                關鍵字搜尋：
            </label>
            <input type="text" name="userKeyWord" id="keyWord" value="" class="input-sty w150" />
        </div>
        <div class="btn-area">
            <div class="btn btn-submit">
                <i class="fas fa-search"></i>
                搜尋
                <input type="submit">
            </div>
        </div>
    </form>
</div> -->
<!-- <div class="input-box">
    <select name="type" id="type" class="select-sty">
        <option value="1">全部分類</option>
        <option value="2">作家行跡</option>
        <option value="3">故事地圖</option>
    </select>
</div> -->
<ul class="list">
    <li class="title filtered">
        <div class="group-box-83">
            <div class="box-5 txt-c">#</div>
            <div class="box-30">主題名稱</div>
            <div class="box-20">分類</div>
            <div class="box-10 txt-c">狀態</div>
            <div class="box-10 txt-c">狀態(英)</div>
            <div class="box-15">建立時間</div>
        </div>
        <div class="group-box-15 opera">操作</div>
    </li>
    @if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <li>
                <a href="javascript:editWriterStory(@item.Wid)" class="group-box-83" title="編輯" alt="編輯">
                    <div tid="@item.Wid" class="box-5 txt-c sortid">@item.Sortid</div>
                    <div class="box-30 nameid">@item.Subject_tw</div>
                    <div class="box-20">故事地圖</div>
                    @if (item.Display_tw == 1)
                    {
                        <div class="box-10 txt-c" title="顯示" alt="顯示">
                            <i class="fad fa-eye blue"></i>
                        </div>
                    }
                    else
                    {
                        <div class="box-10 txt-c" title="不顯示" alt="不顯示">
                            <i class="fad fa-eye-slash red"></i>
                        </div>
                    }
                    @if (item.Display_en == 1)
                    {
                        <div class="box-10 txt-c" title="顯示" alt="顯示">
                            <i class="fad fa-eye blue"></i>
                        </div>
                    }
                    else
                    {
                        <div class="box-10 txt-c" title="不顯示" alt="不顯示">
                            <i class="fad fa-eye-slash red"></i>
                        </div>
                    }
                    <div class="box-20">@item.Createtime.ToString("yyyy/MM/dd")</div>
                </a>
                <div class="group-box-15 opera">
                    <a href="javascript:editWriterStory(@item.Wid)" title="編輯" alt="編輯">
                        <i class="fad fa-pen-square"></i>
                    </a>
                    <a href="javascript:delWriterStory('@item.Wid')" title="刪除" alt="刪除">
                        <i class="fad fa-times-square"></i>
                    </a>
                    @if (ViewBag.Key == "" || ViewBag.Key == null)
                    {
                        <a href="#" title="排序" alt="排序" class="my-handle">
                            <i class="fad fa-bars"></i>
                        </a>
                    }
                </div>
            </li>
        }
    }
</ul>
<!-- import 'pagination.kit' -->
<script>
    var globalkeyword = "@ViewBag.Key";

    $(function () {
        var el = document.querySelector(".list");
        var sortable = Sortable.create(el, {
            sort: true,
            filter: '.filtered', // 'filtered' class is not draggable
            animation: 150,
            handle: ".my-handle",
            onMove: function (e) { return e.related.className.indexOf('filtered') === -1; },
            // Element dragging ended
            onEnd: function (/**Event*/ evt) {
                var itemEl = evt.item; // dragged HTMLElement
                evt.to; // target list
                evt.from; // previous list
                evt.oldIndex; // element's old index within old parent
                evt.newIndex; // element's new index within new parent
                evt.oldDraggableIndex; // element's old index within old parent, only counting draggable elements
                evt.newDraggableIndex; // element's new index within new parent, only counting draggable elements
                evt.clone; // the clone element
                evt.pullMode; // when item is in another sortable: `"clone"` if cloning, `true` if moving

                var tempindex = 1;
                var total = $('.sortid').length;
                var command = '';
                $('.sortid').each(function (item) {
                    $(this).html('' + tempindex);
                    //updateOrder(tempindex, $(this).attr("tid"));
                    command += (tempindex + '|' + $(this).attr("tid") + ',');
                    tempindex++;
                    if (tempindex >= total) {
                        updateOrder(command);
                    }
                });
            },

        });
    });

    function updateOrder(command) {
        var headers = {};
        var data = {};
        data.action = "@ViewBag.Action";
        data.command = command;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("updateOrder")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
            },
        });
    }

    function delWriterStory(wid) {
        if (confirm("您確定要刪除此故事地圖嗎?")) {
            var headers = {};
            var data = {};
            data.action = "@ViewBag.Action";
            data.data = wid;

            $.ajax({
                type: "POST",
                data: data,
                headers: headers,
                url: '@Url.Action("delData")',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (result) {
                    if (result["Code"] == 1) {
                        alert("刪除成功");
                        top.location.reload();
                    } else {
                        alert("刪除失敗");
                    }
                },
                error: function (xhr, ajaxOption, thrownError) {
                    alert(xhr.responseText);
                }
            });
        }
    }

    function editWriterStory(Wid) {
        $("#editwriterstory").find("#Wid").val(Wid);
        $("#editwriterstory").submit();
    }

    function addWriterStory() {
        $("#addwriterstory").submit();
    }
</script>
