.edit-box img.for-icon {
  max-width: 56px;
  height: auto;
  display: inline-block;
  vertical-align: bottom;
  margin: 0 5px 0 0;
}
.edit-box img.for-line {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.edit-box .hr-yellow {
  width: 100%;
  height: 5px;
  background-color: #f7b52a;
  border: none;
  display: block;
}
.edit-box input[type=button] {
  font-size: 16px;
  line-height: 24px;
  height: 30px;
  -webkit-appearance: button;
  border: 1px solid #767676;
  border-radius: 2px;
}
.edit-box input[type=checkbox] {
  -webkit-appearance: checkbox;
}
.edit-box input[type=radio] {
  -webkit-appearance: radio;
}
.edit-box a {
  word-break: break-word;
  cursor: pointer;
  transition: 0.2s;
  color: #00aff0;
}
.edit-box a:hover {
  color: #FFFFFF;
  background: #00aff0;
}
.edit-box .cum_box .cum_a {
  margin: 0px;
  padding: 5px;
  line-height: 1;
  color: #00aff0;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
}
.edit-box .cum_box .cum_a:hover {
  color: #FFFFFF;
  background: #00aff0;
  text-decoration: none;
}
.edit-box .parallel-layout {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 0 0 12px;
}
.edit-box .parallel-layout div {
  margin: 0 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .edit-box .parallel-layout {
    flex-wrap: wrap;
  }
  .edit-box .parallel-layout div {
    width: 100% !important;
    margin: 0 0 10px;
  }
}
