﻿@using System.Web.Configuration

@{

}

<div class="page-top-area page-top-area-g">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index", "Home")">@GlobalRes.Login_ihead1</a><span>/</span>
            <div class="act-page">@GlobalRes.Login_ihead4</div>
        </div>
    </div>
</div>
<div class="page-wrap page-gray-wrap">
    <div class="main-cont">
        <form id="forgetForm" action="@Url.Action("ForgetPage", "Account")" method="post">
            @Html.AntiForgeryToken()
            <div class="login-area register-area">
                <h2>@GlobalRes.Login_ihead4</h2>
                <div class="register-cont">
                    <div class="register-tit">
                        <div class="tit">@GlobalRes.Login_pwd1</div>
                    </div>
                    <div class="forget-box">
                        <div class="input-area input-area2">
                            <label for="email">
                                E-mail
                            </label>
                            <div class="input-box">
                                <input class="input-sty required" type="email" id="email" name="email" placeholder="@GlobalRes.Login_pwd1" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" value="" id="recaptcha" name="recaptcha" />
            <div class="register-btn-area">
                <div class="robet-box">
                    <div id="html_element"></div>
                    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
                            async defer>
                    </script>
                </div>
                <div class="btn btn-submit">
                    @GlobalRes.Login_send
                    <input type="submit" value="@GlobalRes.Login_send" />
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    var onloadCallback = function () {
        grecaptcha.render('html_element', {
            'sitekey': '@(WebConfigurationManager.AppSettings["Recaptcha_siteKey"])',
            callback: token => {
                $("#recaptcha").val(token);
                //console.log(token);
                //grecaptcha.reset();
            }
        });
    };
    $(document).ready(function () {
        var lang = getCookie('CacheLang');//語系
        var reqTxt, emailTxt;
        if (lang == 'zh') {
            reqTxt = '必填';
            emailTxt = '無效信箱';
        } else {
            reqTxt = 'Required';
            emailTxt = 'Not Valid';
        }

        @if(ViewBag.ResetError != null)
        {
            <Text>
        alertTxt('@ViewBag.ResetError');
            </Text>
        }
        var validator = $("#forgetForm").validate({
            messages: {
                email: {
                    required: reqTxt,
                    email: emailTxt
                }
            },
            submitHandler: function (form) {
                //$("#recaptcha").val(grecaptcha.getResponse());
                form.submit();
            }
        });
    });
</script>