﻿@using System.Web.Configuration

@{

}

<div class="page-top-area page-top-area-g">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index", "Home")">@GlobalRes.Login_ihead1</a><span>/</span>
            <div class="act-page">@GlobalRes.Login_ihead2</div>
        </div>
    </div>
</div>
<div class="page-wrap page-gray-wrap">
    <div class="main-cont">
        <div class="login-area">
            <h2>@GlobalRes.Login_ihead3</h2>
            <div class="login-cont">
                <form id="loginForm" action="@Url.Action("Login", "Account")" method="post">
                    @Html.AntiForgeryToken()
                    <div class="input-area input-area2">
                        <label for="account">
                            @GlobalRes.Login_account
                        </label>
                        <div class="input-box">
                            <input class="input-sty required" type="text" id="account" name="account" placeholder="@GlobalRes.Login_mail" />
                        </div>
                    </div>
                    <div class="input-area input-area2">
                        <label for="pwd">
                            @GlobalRes.Login_password
                        </label>
                        <div class="input-box">
                            <input class="input-sty required" type="password" id="pwd" name="pwd" placeholder="@GlobalRes.Login_password2" />
                        </div>
                    </div>
                    <div class="login-note-box">
                        <!--
                        <div class="check-box-area">
                            <label for="yes">
                                <input class="" type="checkbox" name="yes" id="yes" value="1" checked="checked" />
                                <div class="check-box fas"></div><span>@GlobalRes.Login_keeplogin</span>
                            </label>
                        </div>
                        -->
                        <a href="@Url.Action("ForgetPage", "Account")">@GlobalRes.Login_forgetpwd？</a>
                    </div>
                    <input type="hidden" value="" id="recaptcha" name="recaptcha" />
                    <div class="robet-box">
                        <div id="html_element"></div>
                        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
                                async defer>
                        </script>
                    </div>
                    <div class="btn-area">
                        <div class="btn btn-submit">
                            @GlobalRes.Login_login
                            <input type="submit" value="@GlobalRes.Login_send" />
                        </div>
                    </div>
                </form>
                <div class="to-register-box">@GlobalRes.Login_noacc？<a href="@Url.Action("Register", "Account")">@GlobalRes.Login_register <i class="fas fa-arrow-right"></i></a></div>
                <div class="or-line"><span>OR</span></div>
                <div class="btn-area">
                    <form action="@Url.Action("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl })" method="post">
                        <button type="submit" class="btn fb-login" id="Facebook" name="provider" value="Facebook"><i class="fab fa-facebook-f"></i> @GlobalRes.Login_facebook</button>
                        <button type="submit" class="btn google-login" id="Google" name="provider" value="Google"><i class="fab fa-google"></i> @GlobalRes.Login_google</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var onloadCallback = function () {
        grecaptcha.render('html_element', {
            'sitekey': '@(WebConfigurationManager.AppSettings["Recaptcha_siteKey"])',
            callback: token => {
                $("#recaptcha").val(token);
                //console.log(token);
                //grecaptcha.reset();
            }
        });
    };
    $(document).ready(function () {
        var lang = getCookie('CacheLang');//語系
        var reqTxt;
        lang == 'zh' ? reqTxt = '必填' : reqTxt = 'Required';

        var validator = $("#loginForm").validate({
            messages: {
                account: {
                    required: reqTxt,
                },
                pwd: {
                    required: reqTxt,
                },
            },
            submitHandler: function (form) {
                //$("#recaptcha").val(grecaptcha.getResponse());
                form.submit();
            }
        });

        @if(ViewBag.LoginError != null)
        {
            if (ViewBag.LoginError == "-99")
            {
                <Text>
                alertTxt('@GlobalRes.InlegalUser');
                </Text>
            }
            else
            {
                <Text>
                alertTxt('@ViewBag.LoginError');
                </Text>
            }
        }
    });
</script>