﻿@{

}

<div class="page-top-area page-top-area-g">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index", "Home")">@GlobalRes.Register_ihead1</a><span>/</span>
            <div class="act-page">@GlobalRes.Register_ihead7</div>
        </div>
    </div>
</div>
<div class="page-wrap page-gray-wrap">
    <div class="main-cont">
        <div class="login-area">
            <div class="member-name-box"><span>@GlobalRes.Register_mess37</span><a class="btn" href="@Url.Action("Member", "Account")"><i class="fas fa-user-lock"></i> @GlobalRes.Register_mess38</a></div>
            <div class="login-cont">
                <form id="memberForm" action="@Url.Action("MemberPwd", "Account")" method="post">
                    @Html.AntiForgeryToken()
                    <div class="input-area input-area2">
                        <label for="oldPwd">
                            @GlobalRes.Register_mess39<span class="mark">*</span>
                        </label>
                        <div class="input-box">
                            <input class="input-sty required" type="password" id="oldPwd" name="oldPwd" placeholder="@GlobalRes.Register_mess39" />
                        </div>
                    </div>
                    <div class="input-area input-area2">
                        <label for="pwd">
                            @GlobalRes.Register_mess29<span class="mark">*</span><span class="pwd-mark">(@GlobalRes.Register_mess6)</span>
                        </label>
                        <div class="input-box">
                            <input class="input-sty required pwdV pwdV2 pwdVL" type="password" id="pwd" name="pwd" placeholder="@GlobalRes.Register_mess7" />
                        </div>
                    </div>
                    <div class="input-area input-area2">
                        <label for="checkPwd">
                            @GlobalRes.Register_mess8<span class="mark">*</span>
                        </label>
                        <div class="input-box">
                            <input class="input-sty required" type="password" id="checkPwd" name="checkPwd" placeholder="@GlobalRes.Register_mess9" />
                        </div>
                    </div>
                    <div class="btn-area">
                        <div class="btn btn-submit">
                            @GlobalRes.Register_mess30
                            <input type="submit" value="@GlobalRes.Register_mess22" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

@if(ViewBag.PWDERROR != null)
{
    if(ViewBag.PWDERROR == 1)
    {
        <Text>
        alertTxt('@GlobalRes.Register_mess35');

        setTimeout(function () {
            top.location.href = "@Url.Action("LogOff2", "Account")";
        }, 1000);
        </Text>
    } else
    {
        <Text>
        alertTxt('@GlobalRes.Register_mess36');
        </Text>
    }
}

        var lang = getCookie('CacheLang');//語系
        var reqTxt, equalToTxt;
        if (lang == 'zh') {
            reqTxt = '必填';
            equalToTxt = '密碼不相符';
        } else {
            reqTxt = 'Required';
            equalToTxt = 'Incorrect';
        }

        var validator = $("#memberForm").validate({
            rules: {
                checkPwd: {
                    equalTo: "#pwd"
                }
            },
            messages: {
                oldPwd: {
                    required: reqTxt,
                },
                pwd: {
                    required: reqTxt,
                },
                checkPwd: {
  				equalTo: equalToTxt,
                    required: reqTxt,
                },
            },
        submitHandler: function (form) {
            form.submit();
        }
    });
});
</script>