﻿@model DataAccess.Domain.Identity.MemberDomainModel

@{
    string lang = null;
    if (Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")
    {
        lang = "zh";
    }
    else
    {
        lang = "en";
    }
}

<div class="page-top-area page-top-area-g">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index", "Home")">@GlobalRes.Register_ihead1</a><span>/</span>
            <div class="act-page">@GlobalRes.Register_ihead7</div>
        </div>
    </div>
</div>
<div class="page-wrap page-gray-wrap">
    <div class="main-cont">
        <div class="login-area member-third-area">
            <div class="member-third-box">
                <div class="member-img"><img src="@(Request.Cookies["Login_Pic"]!=null?Request.Cookies["Login_Pic"].Value:"/img/default_src.jpg")" alt="" /></div><span>@(lang=="en"?GlobalRes.Register_mess32:"") @(Request.Cookies["Login_Username"] !=null? HttpUtility.UrlDecode(Request.Cookies["Login_Username"].Value):"") @(lang=="zh"?GlobalRes.Register_mess32:"")</span>
            </div>
            <div class="login-cont">
                <form id="memberForm" action="@Url.Action("MemberThird", "Account")" method="post">
                    @Html.AntiForgeryToken()
                    <div class="input-area">
                        <label>@GlobalRes.Register_mess3</label>
                        <div class="input-txt"><span>@(Request.Cookies["Login_Email"]!=null? Request.Cookies["Login_Email"].Value:"")</span></div>
                    </div>
                    <div class="input-area input-area2">
                        <label for="nickName">
                            @GlobalRes.Register_mess12<span class="mark">*</span>
                        </label>
                        <div class="input-box">
                            <input class="input-sty required" type="text" id="nickName" name="nickName" placeholder="@GlobalRes.Register_mess13" value="@Model.NickName" />
                        </div>
                    </div>
                    <div class="input-area">
                        <label for="sex">@GlobalRes.Register_mess14</label>
                        <div class="input-box">
                            <select class="sel-sty" id="sex" name="sex">
                                @if (Model.Sex == 1)
                                {
                                    <option value="male" selected>@GlobalRes.Register_mess15</option>
                                    <option value="female">@GlobalRes.Register_mess16</option>
                                    <option value="others">@GlobalRes.Register_mess41</option>
                                }
                                else if (Model.Sex == 2)
                                {
                                    <option value="male">@GlobalRes.Register_mess15</option>
                                    <option value="female" selected>@GlobalRes.Register_mess16</option>
                                    <option value="others">@GlobalRes.Register_mess41</option>
                                }
                                else
                                {
                                    <option value="male">@GlobalRes.Register_mess15</option>
                                    <option value="female">@GlobalRes.Register_mess16</option>
                                    <option value="others" selected>@GlobalRes.Register_mess41</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="input-area input-area2">
                        <label for="email">
                            @GlobalRes.Register_mess17
                        </label>
                        <div class="input-box">
                            <input class="input-sty" type="email" id="email" name="email" placeholder="@GlobalRes.Register_mess18" value="@Model.Email1" />
                        </div>
                    </div>
                    <div class="input-area input-area2">
                        <label for="tel">
                            @GlobalRes.Register_mess19
                        </label>
                        <div class="input-box">
                            <input class="input-sty" type="text" id="tel" name="tel" placeholder="@GlobalRes.Register_mess20" value="@Model.Phone" />
                        </div>
                    </div>
                    <div class="btn-area">
                        <div class="btn btn-submit">
                            @GlobalRes.Register_mess30
                            <input type="submit" value="@GlobalRes.Register_mess22" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function () {
@if(ViewBag.PWDERROR != null)
{
    if(ViewBag.PWDERROR == 1)
    {
        <text>
    alertTxt('@GlobalRes.Register_mess35');
        </Text>
    } else
    {
        <text>
    alertTxt('@GlobalRes.Register_mess36');
        </Text>
    }
}
  	var validator = $("#memberForm").validate({
  		submitHandler: function (form) {
  			//- alert("完成");
  			//- 資料修改完成！
  			//alertTxt('資料修改完成！');
  			form.submit();
  		}
  	});
  });</script>