﻿@using System.Web.Configuration

@{

}

<div class="page-top-area page-top-area-g">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index", "Home")">@GlobalRes.Register_ihead1</a><span>/</span>
            <div class="act-page">@GlobalRes.Register_ihead2</div>
        </div>
    </div>
</div>
<div class="page-wrap page-gray-wrap">
    <div class="main-cont">
        <form action="@Url.Action("Register")" method="post" id="registerForm">
            @Html.AntiForgeryToken()
            <div class="login-area register-area">
                <h2>@GlobalRes.Register_ihead3</h2>
                <div class="register-cont">
                    <div class="register-tit">
                        <div class="tit">@GlobalRes.Register_mess1</div>
                        <div class="note">@GlobalRes.Register_mess2</div>
                    </div>
                    <div class="form-column-box">
                        <div class="form-column2">
                            <div class="input-area input-area2">
                                <label for="account">
                                    @GlobalRes.Register_mess3<span class="mark">*</span><span class="pwd-mark">@GlobalRes.Register_warn1</span>
                                </label>
                                <div class="input-box">
                                    <input class="input-sty required" type="email" id="account" name="account" placeholder="@GlobalRes.Register_mess4" />
                                </div>
                            </div>
                            <div class="input-area input-area2">
                                <label for="pwd">
                                    @GlobalRes.Register_mess5<span class="mark">*</span><span class="pwd-mark">(@GlobalRes.Register_mess6)</span>
                                </label>
                                <div class="input-box">
                                    <input class="input-sty required pwdV pwdV2 pwdVL" type="password" id="pwd" name="pwd" placeholder="@GlobalRes.Register_mess40" />
                                </div>
                            </div>
                            <div class="input-area input-area2">
                                <label for="checkPwd">
                                    @GlobalRes.Register_mess8<span class="mark">*</span>
                                </label>
                                <div class="input-box">
                                    <input class="input-sty required" type="password" id="checkPwd" name="checkPwd" placeholder="@GlobalRes.Register_mess9" />
                                </div>
                            </div>
                            <div class="check-box-area register-agree-box">
                                <label for="agree">
                                    <input type="checkbox" name="agree" id="agree" checked="checked" value="1" />
                                    <div class="check-box fas"></div><span>@GlobalRes.Register_mess10<a class="link" id="rPrivacyBtn">@GlobalRes.Register_mess11</a></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-column2">
                            <div class="input-area input-area2">
                                <label for="nickName">
                                    @GlobalRes.Register_mess12<span class="mark">*</span>
                                </label>
                                <div class="input-box">
                                    <input class="input-sty required" type="text" id="nickName" name="nickName" placeholder="@GlobalRes.Register_mess13" />
                                </div>
                            </div>
                            <div class="input-area input-area2">
                                <label for="sex">@GlobalRes.Register_mess14</label>
                                <div class="input-box">
                                    <select class="sel-sty" id="sex" name="sex">
                                        <option value="male">@GlobalRes.Register_mess15</option>
                                        <option value="female">@GlobalRes.Register_mess16</option>
                                        <option value="others">@GlobalRes.Register_mess41</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-area input-area2">
                                <label for="email">
                                    @GlobalRes.Register_mess17<br /><span class="pwd-mark">@GlobalRes.Register_warn2</span>
                                </label>
                                <div class="input-box">
                                    <input class="input-sty" type="email" id="email" name="email" placeholder="@GlobalRes.Register_mess18" />
                                </div>
                            </div>
                            <div class="input-area input-area2">
                                <label for="tel">
                                    @GlobalRes.Register_mess19
                                </label>
                                <div class="input-box">
                                    <input class="input-sty" type="text" id="tel" name="tel" placeholder="@GlobalRes.Register_mess20" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" value="" id="recaptcha" name="recaptcha" />
            <div class="register-btn-area">
                <div class="robet-box">
                    <div id="html_element"></div>
                    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
                            async defer>
                    </script>
                </div>

                <div class="btn btn-submit">
                    @GlobalRes.Register_mess21
                    <input type="submit" value="@GlobalRes.Register_mess22" />
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    var onloadCallback = function () {
        grecaptcha.render('html_element', {
            'sitekey': '@(WebConfigurationManager.AppSettings["Recaptcha_siteKey"])',
            callback: token => {
                $("#recaptcha").val(token);
                //console.log(token);
                //grecaptcha.reset();
            }
        });
    };
    $(document).ready(function () {
        var lang = getCookie('CacheLang');//語系
        var reqTxt, emailTxt, equalToTxt;
        if (lang == 'zh') {
            reqTxt = '必填';
            emailTxt = '無效信箱';
            equalToTxt = '密碼不相符';
        } else {
            reqTxt = 'Required';
            emailTxt = 'Not Valid';
            equalToTxt = 'Incorrect';
        }

        var validator = $("#registerForm").validate({
  		rules:{
  			checkPwd:{
  				equalTo:"#pwd"
  			}
  		},
  		messages:{
  			account:{
  				required: reqTxt,
  				email: emailTxt
  			},
  			pwd:{
  				required: reqTxt,
  			},
  			checkPwd:{
  				equalTo: equalToTxt,
  				required: reqTxt,
  			},
  			nickName:{
  				required: reqTxt,
  			},
  		},
  		submitHandler: function (form) {
  			var agreeCheck= $('#agree').is(':checked');
                if (agreeCheck) {
                    //$("#recaptcha").val(grecaptcha.getResponse());
  				//alert("完成");
  				form.submit();
                } else {
                    alertTxt('@GlobalRes.Register_mess24');
  			}

  		}
        });

    @if(ViewBag.LoginError != null)
    {
        <text>
        alertTxt('@ViewBag.LoginError');
        </Text>
    }
});
</script>