﻿@{

}

<div class="page-top-area page-top-area-g">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index", "Home")">@GlobalRes.Register_ihead1</a><span>/</span>
            <div class="act-page">@GlobalRes.Register_ihead2</div>
        </div>
    </div>
</div>
<div class="page-wrap page-gray-wrap">
    <div class="main-cont">
        <div class="login-area register-area">
            <h2>@GlobalRes.Register_ihead4</h2>
            <div class="register-cont">
                <div class="register-fine-txt">
                    <div class="tit">@GlobalRes.Register_mess25</div>
                    <div class="cont">
                        @Html.Raw(GlobalRes.Register_mess26)
                    </div>
                </div>
                <div class="register-bot-btn"><a class="send-btn btn" href="@Url.Action("Index", "Home")">@GlobalRes.Register_back1</a><a class="send-btn btn" href="@Url.Action("Login", "Account")">@GlobalRes.Register_back2</a></div>
            </div>
        </div>
    </div>
</div>
