﻿@model DataAccess.Domain.Theme.ExhibitionCont
@using System.Text.RegularExpressions
@using VirtualMuseum.Controllers.Base
@using System.Web.Configuration

@{
    string UrlDomain = WebConfigurationManager.AppSettings["apiDomain"];
    string lang = null;

    if (Request.Params["lang"] != null)
    {
        if (Request.Params["lang"].Length > 0)
        {
            if (Request.Params["lang"] == "en")
            {
                Model.Content_tw = Model.Content_en;
                Model.Pic3 = Model.Pic4;
                Model.Pic5 = Model.Pic6;
                Model.Subtitle1_tw = Model.Subtitle1_en;
                Model.Subtitle2_tw = Model.Subtitle2_en;
                Model.Title_tw = Model.Title_en;
                Response.Cookies["CacheLang"].Value = Request.Params["lang"];
            }
            lang = Request.Params["lang"];
            if (Model.Layout == 1)
            {
                Response.Redirect(Url.Action("ExhibitionCont1", "Theme", new { LLid = Model.LLid, lang = lang }));
            }
        }
    }
    else
    {
        if (Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")
        {
            lang = "zh";
        }
        else
        {
            lang = "en";
        }

        if (Model.Layout == 1)
        {
            Response.Redirect(Url.Action("ExhibitionCont1", "Theme", new { LLid = Model.LLid }));
        }
    }
    string Content = "";
    var regstr = Regex.Replace(Model.Content_tw, "<.*?>", String.Empty);
    if (Model.Content_tw != null && Model.Content_tw.Length > 0)
    {
        Content = regstr.Substring(0, regstr.Length > 200 ? 200 : regstr.Length) + (regstr.Length > 200 ? " ..." : "");
    }

    BaseController controller = ViewContext.Controller as BaseController;
    if (controller == null)
    {
        throw new ApplicationException("Controller 必須繼承自 MyControllerBase.");
    }

    var Link2 = controller.Link2;
}
@section SeoRender{
    @{
        <meta property="og:title" content="@Model.Title_tw" />
        <meta property="og:description" content="@Content" />
        <meta property="og:image" content="@(UrlDomain+(Model.Pic3==null||Model.Pic3.Length<=0?"/img/default_src.jpg":Model.Pic3))" />
        <meta property="og:url" content="@(UrlDomain+Url.Action("ExhibitionCont2", "Theme", new { LLid=Model.LLid, lang=lang }))" />
        <meta property="fb:app_id" content="@(WebConfigurationManager.AppSettings["Facebook_appId"])" />
    }
}

<div class="page-tab-area">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index","Home")">@GlobalRes.Theme_ihead1</a><span>/</span><a href="@Url.Action("ExhibitionList", "Theme")">@GlobalRes.Theme_ihead2</a><span>/</span>
            <div class="act-page">@Model.Title_tw</div>
        </div><a class="back-btn" href="@Url.Action("ExhibitionList", "Theme")"><i class="far fa-angle-left"></i> @GlobalRes.Theme_back</a>
        <div class="page-nav-area">
            <a class="page-nav-box" href="https://literature.sds.com.tw/" target="_blank"><i class="far fa-user-edit"></i> @GlobalRes.Theme_head1</a>
            <div class="page-nav-box act"><a class="page-nav-box" href="@Url.Action("ExhibitionList", "Theme")"><i class="fas fa-kaaba"></i> @(GlobalRes.Theme_head2)</a></div>
            @if (Link2.Split(new char[] { '|' })[1] == "1")
            {
                <a class="page-nav-box" href="@(Link2.Split(new char[] { '|' })[0])" target="_blank"><i class="fas fa-vr-cardboard"></i> @(Link2.Split(new char[] { '|' })[2])</a>
            }
        </div>
    </div>
</div>
<div class="page-wrap inner-single-page">
    <div class="main-cont">
        <div class="exhibition-banner-box">
            <!-- <div class="article-cont-banner" style="background: url(@(Model.Pic5==null||Model.Pic5.Length<=0?"/img/default_src.jpg":Model.Pic5)) no-repeat center center/cover">

            </div> -->
            <div class="exhibition-sub-banner no-bg">
                <div class="exhibition-sub">
                    <div class="exhibition-sub-img" style="background: url(@(Model.Pic3==null||Model.Pic3.Length<=0?"/img/default_src.jpg":Model.Pic3)) no-repeat center center/cover"><img src="@(Model.Pic3==null||Model.Pic3.Length<=0?"/img/default_src.jpg":Model.Pic3)" alt="" /></div>
                    <div class="exhibition-btn-box">
                        <h2>@Model.Title_tw</h2>
                        <div class="ex-btn-box">
                            <div class="ex-btn" id="exPartBtn1">@Model.Subtitle1_tw</div>
                            <div class="ex-btn" id="exPartBtn2">@Model.Subtitle2_tw</div>
                        </div>
                    </div>
                    <div class="exhibition-sub-share">
                        <div class="share-btn-box">
                            <iframe src="https://www.facebook.com/plugins/like.php?href=@(HttpUtility.UrlEncode(UrlDomain+Url.Action("ExhibitionCont2", "Theme", new { LLid=Model.LLid, lang=lang})))&width=112&layout=button_count&action=like&size=small&share=true&height=46&appId=@(WebConfigurationManager.AppSettings["Facebook_appId"])" width="112" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <h3 class="exhibition-tit" id="exPart1">@Model.Subtitle1_tw</h3>
        <div class="edit-area ex-edit-area">
            <div class="edit-box">
                @Html.Raw(Model.Content_tw)
            </div>
        </div>
        <h3 class="exhibition-tit" id="exPart2">@Model.Subtitle2_tw</h3>
        <div class="exhibition-part-b-area">
            @if (Model.exbs != null && Model.exbs.Count > 0)
            {
                foreach (var d in Model.exbs)
                {
                    <div class="exhibition-part-b-box" >
                        <a class="exhibition-part-b-img" href="@Url.Action("ExhibitionArticleCont", "Theme", new { Exbid=d.Exbid })" style="background:url(@(d.Pic_tw==null||d.Pic_tw.Length<=0?"/img/default_src.jpg":d.Pic_tw)) no-repeat center center/cover;"><img src="@(d.Pic_tw==null||d.Pic_tw.Length<=0?"/img/default_src.jpg":d.Pic_tw)" alt="" /></a>
                        
						<div class="exhibition-part-b-cont exhibition-part-b-cont2">
							<a class="exhibition-part-b-txt" href="@Url.Action("ExhibitionArticleCont", "Theme", new { Exbid=d.Exbid })">
                            <div class="tit">@d.Title_tw</div>
                            <div class="cont">
                                @Html.Raw(d.Content_tw)
                            </div>
							</a>
                            <!--<div class="date">@d.Createtime.ToString("yyyy/MM/dd")</div>-->
							 @if (d.tags != null && d.tags.Count > 0)
                    {
                        <div class="exhibition-part-b-tag">
                            @foreach (var a in d.tags)
                            {
                            <a href="javascript:getTag(@a.Tagid)">#@((Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")? a.Name_tw : a.Name_en)</a>
                            }                        
                        </div>
                    }
                        </div>
                   
                   
					 </div>
                }
            }
        </div>
        <div class="btn-area page-btn-area"><a class="btn" href="@Url.Action("ExhibitionList", "Theme")"><i class="far fa-angle-left"></i> <span>@GlobalRes.Theme_back</span></a></div>
    </div>
</div>
<form id="getTag" action="@Url.Action("ExhibitionSrcTagList", "Theme")" method="post">
    <input type="hidden" name="Tagid" id="Tagid" value="" />
</form>

<script>
    function getTag(Tagid) {
        $("#getTag").find("#Tagid").val(Tagid);
        $("#getTag").submit();
    }

    $(document).ready(function () {
        var toPartList = [{ 'btn': '#exPartBtn1', 'part': '#exPart1' }, { 'btn': '#exPartBtn2', 'part': '#exPart2' }];
        $.each(toPartList, function (ind, val) {
            var $btn = $(val.btn);
            var $part = $(val.part);
            $btn.on('click', function () {
                var navH = $('#navArea').outerHeight();
                var stopLine = $part.offset().top - 5;
                $('html,body').animate({ scrollTop: stopLine - navH }, 'slow');
            });
        });

    @if (Request.Params["lang"] != null && Request.Params["lang"].Length > 0)
    {
        <Text>
            top.location.href = "@Url.Action("ExhibitionCont2", "Theme", new { LLid = Model.LLid })";
        </Text>
    }
    });
</script>