﻿@using VirtualMuseum.Controllers.Base
@using System.Web.Configuration

@model DataAccess.Domain.Theme.ExhibitionPage
@{
    ViewBag.Action = "ExhibitionList";

    string UrlDomain = WebConfigurationManager.AppSettings["apiDomain"];
    string lang = "zh";
    if (Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")
    {
        lang = "zh";
    }
    else
    {
        lang = "en";
    }

    BaseController controller = ViewContext.Controller as BaseController;
    if (controller == null)
    {
        throw new ApplicationException("Controller 必須繼承自 MyControllerBase.");
    }

    var Link2 = controller.Link2;
}

<div class="page-tab-area">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index", "Home")">@GlobalRes.Theme_ihead1</a><span>/</span>
            <div class="act-page">@GlobalRes.Theme_ihead2</div>
        </div>
        <div class="page-nav-area">
            <a class="page-nav-box" href="https://literature.sds.com.tw/" target="_blank"><i class="far fa-user-edit"></i> @GlobalRes.Theme_head1</a>
            <a class="page-nav-box act" href="@Url.Action("ExhibitionList", "Theme")"><i class="fas fa-kaaba"></i> @(GlobalRes.Theme_head2)</a>
            @if (Link2.Split(new char[] { '|' })[1] == "1")
            {
                <a class="page-nav-box" href="@(Link2.Split(new char[] { '|' })[0])" target="_blank"><i class="fas fa-vr-cardboard"></i> @(Link2.Split(new char[] { '|' })[2])</a>
            }
        </div>
    </div>
</div>
<!-- 搜尋框框先隱藏 -->
<!-- <div class="one-line-wrap">
    <div class="main-cont">
        <div class="creat-src-box">
            <div class="creat-src">
                <input id="searchkey" type="text" name="" placeholder="@GlobalRes.Theme_search" value="@ViewBag.Key" />
            </div>
            <div class="creat-src-btn"><i class="fas fa-search"></i>@GlobalRes.Theme_search_btn</div>
        </div>
    </div>
</div> -->
<div class="page-wrap page-gray-wrap">
    <div class="main-cont">
        <!-- 新增項目 - 第二階段-->
        <div class="creat-article-tag-box creat-article-tag-box2">
            <div class="creat-article-tag-tit">
                <div>
                    <i class="fas fa-tag">
                    </i>@GlobalRes.Exhibition_Tag
                </div>
                <div class="creat-article-tag-more" id="moreTagBtn">
                    @GlobalRes.Create_showtag<i class="far fa-angle-down"></i>
            </div>
        </div>
        <div class="creat-article-tag gin-tag-box">
            <div class="article-all-tag" id="articleAllTagBox">
                <div id="articleAllInnerTagBox">
                    @if (Model.allTags != null && Model.allTags.Count > 0)
                    {
                        for (int i = 0; i < Model.allTags.Count; i++)
                        {
                            if (i > 19)
                            {
                                if (Model.allTags[i].Count >= 21)
                                {
                                    <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow" style="display: none; font-size: 160%; font-weight: 600;">#@Model.allTags[i].Name_tw</a>
                                }
                                else if (Model.allTags[i].Count <= 20 && Model.allTags[i].Count >= 16)
                                {
                                    <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow" style="display: none; font-size: 140%;">#@Model.allTags[i].Name_tw</a>
                                }
                                else if (Model.allTags[i].Count <= 15 && Model.allTags[i].Count >= 11)
                                {
                                    <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow" style="display: none; font-size: 130%;">#@Model.allTags[i].Name_tw</a>
                                }
                                else if (Model.allTags[i].Count <= 10 && Model.allTags[i].Count >= 6)
                                {
                                    <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow" style="display: none; font-size: 120%;">#@Model.allTags[i].Name_tw</a>
                                }
                                else
                                {
                                    <a href="javascript:getTag(@Model.allTags[i].Tagid)" style="display:none;" class="tagshow">#@Model.allTags[i].Name_tw</a>
                                }
                            }
                            else
                            {
                                if (Model.allTags[i].Count >= 21)
                                {
                                    <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow" style="font-size: 160%; font-weight: 600;">#@Model.allTags[i].Name_tw</a>
                                }
                                else if (Model.allTags[i].Count <= 20 && Model.allTags[i].Count >= 16)
                                {
                                    <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow" style="font-size: 140%;">#@Model.allTags[i].Name_tw</a>
                                }
                                else if (Model.allTags[i].Count <= 15 && Model.allTags[i].Count >= 11)
                                {
                                    <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow" style="font-size: 130%;">#@Model.allTags[i].Name_tw</a>
                                }
                                else if (Model.allTags[i].Count <= 10 && Model.allTags[i].Count >= 6)
                                {
                                    <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow" style="font-size: 120%;">#@Model.allTags[i].Name_tw</a>
                                }
                                else
                                {
                                    <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow">#@Model.allTags[i].Name_tw</a>
                                }
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- 新增項目 - 第二階段 END-->
    <div class="exhibition-list">
        @if (Model != null && Model.lists.Count > 0)
        {
            foreach (var d in Model.lists)
            {
                if (d.Kind == 1)
                {
                    <div class="exhibition-box">
                        <a class="exhibition-img" href="@(d.Layout == 1 ? Url.Action("ExhibitionCont1", "Theme", new { LLid = d.LLid }) : Url.Action("ExhibitionCont2", "Theme", new { LLid = d.LLid }))" style="background:url(@(d.Pic3 == null || d.Pic3.Length <= 0 ? "/img/default_src.jpg" : d.Pic3)) no-repeat center center/cover;"><img src="@(d.Pic3 == null || d.Pic3.Length <= 0 ? "/img/default_src.jpg" : d.Pic3)" alt="" /></a>
                        <div class="exhibition-cont">
                            <a class="tit" href="@(d.Layout == 1 ? Url.Action("ExhibitionCont1", "Theme", new { LLid = d.LLid }) : Url.Action("ExhibitionCont2", "Theme", new { LLid = d.LLid }))">@d.Title_tw</a>
                            <div class="cont">
                                <a class="txt" href="@(d.Layout == 1 ? Url.Action("ExhibitionCont1", "Theme", new { LLid = d.LLid }) : Url.Action("ExhibitionCont2", "Theme", new { LLid = d.LLid }))">@Html.Raw(d.Content_tw)</a>
                                <div class="share-btn-box">
                                    <iframe src="https://www.facebook.com/plugins/like.php?href=@(HttpUtility.UrlEncode( UrlDomain + Url.Action(d.Layout==1?"ExhibitionCont1":"ExhibitionCont2", "Theme", new { LLid = d.LLid,lang=lang })))&width=112&layout=button_count&action=like&size=small&share=true&height=46&appId=@(WebConfigurationManager.AppSettings["Facebook_appId"])" width="112" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="exhibition-box">
                        <a class="exhibition-img" href="@(Url.Action("ExhibitionArticleCont", "Theme", new { Exbid = d.LLid }))" style="background:url(@(d.Pic3 == null || d.Pic3.Length <= 0 ? "/img/default_src.jpg" : d.Pic3)) no-repeat center center/cover;"><img src="@(d.Pic3 == null || d.Pic3.Length <= 0 ? "/img/default_src.jpg" : d.Pic3)" alt="" /></a>
                        <div class="exhibition-cont">
                            <a class="tit" href="@(Url.Action("ExhibitionArticleCont", "Theme", new { Exbid = d.LLid }))">@d.Title_tw</a>
                            <div class="cont">
                                <a class="txt" href="@(Url.Action("ExhibitionArticleCont", "Theme", new { Exbid = d.LLid }))">@Html.Raw(d.Content_tw)</a>
                                <div class="share-btn-box">
                                    <iframe src="https://www.facebook.com/plugins/like.php?href=@(HttpUtility.UrlEncode( UrlDomain+Url.Action("ExhibitionArticleCont", "Theme", new { Exbid=d.LLid, lang=lang})))&width=112&layout=button_count&action=like&size=small&share=true&height=46&appId=@(WebConfigurationManager.AppSettings["Facebook_appId"])" width="112" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
    @if (Model != null && Model.lists.Count > 0)
    {
        <div class="pagination-area">
            <a class="lim-btn" href="javascript:getPage(1)">
                <i class="far fa-arrow-to-left"></i>
            </a>
            <a class="pre-btn" href="javascript:getPage(@Model.PageNumber > 1 ? @Model.PageNumber - 1 : @Model.PageNumber)">
                <i class="far fa-arrow-left"></i>
            </a>

            @for (int i = (Model.PageNumber % 5); i <= (Model.PageCount > 5 ? (Model.PageNumber % 5) * 5 : Model.PageCount); i++)
            {
                if (Model.PageNumber == i)
                {
                    <a href="javascript:getPage(@i)" class="act">@i</a>
                }
                else
                {
                    <a href="javascript:getPage(@i)">@i</a>
                }
            }

            <a class="next-btn" href="javascript:getPage(@Model.PageNumber==@Model.PageCount?@Model.PageNumber:@Model.PageNumber+1)">
                <i class="far fa-arrow-right"></i>
            </a>
            <a class="lim-btn" href="javascript:getPage(@Model.PageCount)">
                <i class="far fa-arrow-to-right"></i>
            </a>
        </div>
    }
    </div>
</div>
<form id="searchform" action="@Url.Action("searchPage", "Theme")" method="post">
    <input type="hidden" name="action" value="@ViewBag.Action" />
    <input type="hidden" name="userKeyWord" id="keyWord" value="@ViewBag.Key" />
</form>
<form id="getTag" action="@Url.Action("ExhibitionSrcTagList", "Theme")" method="post">
    <input type="hidden" name="Tagid" id="Tagid" value="" />
</form>

<script>
    function getTag(Tagid) {
        $("#getTag").find("#Tagid").val(Tagid);
        $("#getTag").submit();
    }

    $(document).ready(function () {
        $(".creat-src-btn").on("click", function (e) {
            var key = $("#searchkey").val();

            if (key) {
                $("#searchform").find("#keyWord").val(key);
                $("#searchform").submit();
            } else
                alertTxt(@((Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")? Html.Raw("'請輸入關鍵字'"): Html.Raw("'Please enter search keywords.'")));
        });
    });

    $(document).ready(function () {
        //如果超過這個高度才有更多鈕
        hideMoreBtn();
        //標籤打開 隱藏
        var $moreTagBtn = $('#moreTagBtn');
        var $allTagBox = $('#articleAllTagBox');
        $moreTagBtn.on('click', function () {
            var tagOpen = $allTagBox.hasClass('act-open');
            if (tagOpen) {
                $allTagBox.removeClass('act-open');
                $moreTagBtn.find('i').removeClass('fa-angle-up');
                $moreTagBtn.find('i').addClass('fa-angle-down');
                var itag = 0;
                $('.tagshow').each(function (e) {
                    if (itag > 19) {
                        $(this).hide();
                    } else
                        $(this).show();
                    itag++;
                });
            } else {
                $allTagBox.addClass('act-open');
                $moreTagBtn.find('i').addClass('fa-angle-up');
                $moreTagBtn.find('i').removeClass('fa-angle-down');
                sideScrollBtn();
                $('.tagshow').each(function (e) {
                    $(this).show();
                });
            }
        });
    });

    $(window).resize(function () {
        hideMoreBtn();
    });

    //如果超過這個高度才有更多鈕
    function hideMoreBtn() {
        var tagsH = $('#articleAllInnerTagBox').outerHeight();
        if (tagsH < 32) {
            $('#moreTagBtn').hide();
        } else {
            $('#moreTagBtn').show();
        }
    }

    function sideScrollBtn() {
        //內頁側邊卡住
        var fixData = {
            'topNav': '#navArea',//上方nav
            'sideNav': '.side-fixed',//側邊nav
            'pageCont': '.page-cont',//內容高
            'footer': 'footer',//底部footer
            'topMargin': 10,//側邊nav固定上面距離
            'bottomMargin': 80,//側邊nav固定下面距離
            'sideContW': '.page-side'//側邊side寬度
        };
        scrollNAvFix(fixData);
    }

    var globalkeyword = "@ViewBag.Key";

    function getPage(page) {
        var headers = {};
        var data = {};
        data.action = "@ViewBag.Action";
        data.key = globalkeyword;
        data.page = page;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("getPage", "Theme")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                //alert(result["PageNumber"]);
                $(".exhibition-list").empty();

                for (var i = 0; i < result["Lists"].length; i++) {
                    var str = "";
                    if (result["Lists"][i]["Kind"] == 1) {
                        str = '<div class="exhibition-box">' +
                            '<a class="exhibition-img" href="' + (result["Lists"][i]["Layout"] == 1 ? "/Theme/ExhibitionCont1?LLid=" + result["Lists"][i]["LLid"] : "/Theme/ExhibitionCont2?LLid=" + result["Lists"][i]["LLid"]) + '" style="background:url(' + (result["Lists"][i]["Pic3"] == null || result["Lists"][i]["Pic3"].length <= 0 ? "/img/default_src.jpg" : result["Lists"][i]["Pic3"]) + ') no-repeat center center/cover;"><img src="' + (result["Lists"][i]["Pic3"] == null || result["Lists"][i]["Pic3"].length <= 0 ? "/img/default_src.jpg" : result["Lists"][i]["Pic3"]) + '" alt="" /></a>' +
                            '<div class="exhibition-cont"><a class="tit" href="' + (result["Lists"][i]["Layout"] == 1 ? "/Theme/ExhibitionCont1?LLid=" + result["Lists"][i]["LLid"] : "/Theme/ExhibitionCont2?LLid=" + result["Lists"][i]["LLid"]) + '">' + result["Lists"][i]["Title_tw"] + '</a>' +
                            '<div class="cont">\<a class="txt" href="' + (result["Lists"][i]["Layout"] == 1 ? "/Theme/ExhibitionCont1?LLid=" + result["Lists"][i]["LLid"] : "/Theme/ExhibitionCont2?LLid=" + result["Lists"][i]["LLid"]) + '">' + result["Lists"][i]["Content_tw"] + '</a>' +
                            '<div class="share-btn-box"><iframe src="https://www.facebook.com/plugins/like.php?href=' + encodeURIComponent((result["Lists"][i]["Layout"] == 1 ? "@(UrlDomain)/Theme/ExhibitionCont1?lang=@(lang)&LLid=" + result["Lists"][i]["LLid"] : "@(UrlDomain)/Theme/ExhibitionCont2?lang=@(lang)&LLid=" + result["Lists"][i]["LLid"])) + '&width=112&layout=button_count&action=like&size=small&share=true&height=46&appId=@(WebConfigurationManager.AppSettings["Facebook_appId"])" width="112" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe></div>' +
                            '</div></div></div>';
                    } else {
                        str = '<div class="exhibition-box">' +
                            '<a class="exhibition-img" href="/Theme/ExhibitionArticleCont?Exbid="' + result["Lists"][i]["LLid"] + '" style="background:url(' + (result["Lists"][i]["Pic3"] == null || result["Lists"][i]["Pic3"].length <= 0 ? "/img/default_src.jpg" : result["Lists"][i]["Pic3"]) + ') no-repeat center center/cover;"><img src="' + (result["Lists"][i]["Pic3"] == null || result["Lists"][i]["Pic3"].length <= 0 ? "/img/default_src.jpg" : result["Lists"][i]["Pic3"]) + '" alt="" /></a>' +
                            '<div class="exhibition-cont"><a class="tit" href="/Theme/ExhibitionArticleCont?Exbid="' + result["Lists"][i]["LLid"] + '">' + result["Lists"][i]["Title_tw"] + '</a>' +
                            '<div class="cont">\<a class="txt" href="/Theme/ExhibitionArticleCont?Exbid="' + result["Lists"][i]["LLid"] + '">' + result["Lists"][i]["Content_tw"] + '</a>' +
                            '<div class="share-btn-box"><iframe src="https://www.facebook.com/plugins/like.php?href=' + encodeURIComponent("@(UrlDomain)/Theme/ExhibitionArticleCont?lang=@(lang)&Exbid=" + result["Lists"][i]["LLid"]) + '&width=112&layout=button_count&action=like&size=small&share=true&height=46&appId=@(WebConfigurationManager.AppSettings["Facebook_appId"])" width="112" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe></div>' +
                            '</div></div></div>';
                    }

                    $(".exhibition-list").append(str);
                }

                $('.pagination-area').empty();
                $('.pagination-area').append('<a class="lim-btn" href="javascript:getPage(1)"><i class="far fa-arrow-to-left"></i></a>');
                $('.pagination-area').append('<a class="pre-btn" href="javascript:getPage(' + (result["PageNumber"] > 1 ? result["PageNumber"] - 1 : result["PageNumber"]) + ')"><i class="far fa-arrow-left"></i></a>');

                var pageMin = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 1;
                var pageMax = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 5;

                if (parseInt(result["PageCount"]) < pageMax)
                    pageMax = parseInt(result["PageCount"]);
                for (var i = pageMin; i <= pageMax; i++) {
                    if (result["PageNumber"] == i) {
                        $('.pagination-area').append('<a href="javascript:getPage(' + i + ')" class="act">' + i + '</a>');
                    }
                    else {
                        $('.pagination-area').append('<a href="javascript:getPage(' + i + ')">' + i + '</a>');
                    }
                }

                $('.pagination-area').append('<a class="next-btn" href="javascript:getPage(' + (result["PageNumber"] == result["PageCount"] ? result["PageNumber"] : result["PageNumber"] + 1) + ')"><i class="far fa-arrow-right"></i></a>');
                $('.pagination-area').append('<a class="lim-btn" href="javascript:getPage(' + result["PageCount"] + ')"><i class="far fa-arrow-to-right"></i></a>');
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }
</script>
