﻿@model DataAccess.Domain.Theme.ExhibitionArticleCont
@using System.Text.RegularExpressions
@using VirtualMuseum.Controllers.Base
@using System.Web.Configuration

@{
    string UrlDomain = WebConfigurationManager.AppSettings["apiDomain"];
    string lang = null;

    if (Request.Params["lang"] != null && Request.Params["lang"].Length > 0)
    {
        if (Request.Params["lang"] == "en")
        {
            Model.Content_tw = Model.Content_en;
            Model.Pic3 = Model.Pic4;
            Model.Pic5 = Model.Pic6;
            Model.Subtitle1_tw = Model.Subtitle1_en;
            Model.Subtitle2_tw = Model.Subtitle2_en;
            Model.Title_tw = Model.Title_en;
            Response.Cookies["CacheLang"].Value = Request.Params["lang"];
        }
        lang = Request.Params["lang"];
    }
    else
    {
        if (Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")
        {
            lang = "zh";
        }
        else
        {
            lang = "en";
        }
    }
    string Content = "";
    var regstr = Regex.Replace(Model.Content_tw, "<.*?>", String.Empty);
    if (Model.Content_tw != null && Model.Content_tw.Length > 0)
    {
        Content = regstr.Substring(0, regstr.Length > 200 ? 200 : regstr.Length) + (regstr.Length > 200 ? " ..." : "");
    }

    BaseController controller = ViewContext.Controller as BaseController;
    if (controller == null)
    {
        throw new ApplicationException("Controller 必須繼承自 MyControllerBase.");
    }

    var Link2 = controller.Link2;

    long preSortid = -1, nextSortid = -1;
    if (Model.relays != null)
    {
        for (int i = 0; i < Model.relays.Count; i++)
        {
            long tempid = Model.relays[i].Sortid;
            if (Model.Sortid > tempid)
            {
                if (preSortid == 0)
                {
                    preSortid = tempid;
                }
                else
                {
                    if (preSortid < tempid)
                    {
                        preSortid = tempid;
                    }
                }
            }
            else
            {
                //比他大的直接出去
                nextSortid = tempid;
                break;
            }
        }
    }
}
@section SeoRender{
    @{
        <meta property="og:title" content="@Model.Title_tw" />
        <meta property="og:description" content="@Content" />
        <meta property="og:image" content="@(UrlDomain+(Model.Pic3==null||Model.Pic3.Length<=0?"/img/default_src.jpg":Model.Pic3))" />
        <meta property="og:url" content="@(UrlDomain+Url.Action("ExhibitionArticleCont", "Theme", new { Exbid=Model.Exbid, lang=lang }))" />
        <meta property="fb:app_id" content="@(WebConfigurationManager.AppSettings["Facebook_appId"])" />
    }
}
<div class="page-tab-area">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index", "Home")">@GlobalRes.Theme_ihead1</a><span>/</span><a href="@Url.Action("ExhibitionList", "Theme")">@GlobalRes.Theme_ihead2</a><span>/</span><a href="@(Model.Layout==1?Url.Action("ExhibitionCont1","Theme",new {LLid=Model.LLid }):Url.Action("ExhibitionCont2","Theme",new {LLid=Model.LLid }))">@Model.LTitle_tw</a><span>/</span>
            <div class="act-page">@Model.Title_tw</div>
        </div><a class="back-btn" href="@(Model.Layout==1?Url.Action("ExhibitionCont1","Theme",new {LLid=Model.LLid }):Url.Action("ExhibitionCont2","Theme",new {LLid=Model.LLid }))"><i class="far fa-angle-left"></i> @GlobalRes.Theme_back</a>
        <div class="page-nav-area">
            <a class="page-nav-box" href="https://literature.sds.com.tw/" target="_blank"><i class="far fa-user-edit"></i> @GlobalRes.Theme_head1</a>
            <div class="page-nav-box act"><a class="page-nav-box" href="@Url.Action("ExhibitionList", "Theme")"><i class="fas fa-kaaba"></i> @(GlobalRes.Theme_head2)</a></div>
            @if (Link2.Split(new char[] { '|' })[1] == "1")
            {
                <a class="page-nav-box" href="@(Link2.Split(new char[] { '|' })[0])" target="_blank"><i class="fas fa-vr-cardboard"></i> @(Link2.Split(new char[] { '|' })[2])</a>
            }
        </div>
    </div>
</div>
<div class="page-wrap inner-single-page ex-page-wrap">
    <div class="main-cont">
        <div class="exhibition-banner-box">
            <!-- <div class="article-cont-banner" style="background: url(@(Model.Pic5==null||Model.Pic5.Length<=0?"/img/default_src.jpg":Model.Pic5)) no-repeat center center/cover">

            </div> -->
            <div class="exhibition-sub-banner no-bg">
                <div class="exhibition-sub exhibition-article-sub">
                    <div class="exhibition-sub-img" style="background: url(@(Model.Pic3==null||Model.Pic3.Length<=0?"/img/default_src.jpg":Model.Pic3)) no-repeat center center/cover"><img src="@(Model.Pic3==null||Model.Pic3.Length<=0?"/img/default_src.jpg":Model.Pic3)" alt="" /></div>
                    <div class="exhibition-btn-box">
                        <h2>@Model.LTitle_tw</h2>
                        <div class="exhibition-article-tit">@Model.Title_tw</div>
                    </div>
                    <div class="exhibition-sub-share">
                        <div class="share-btn-box">
                            <iframe src="https://www.facebook.com/plugins/like.php?href=@(HttpUtility.UrlEncode(UrlDomain+Url.Action("ExhibitionArticleCont", "Theme", new { Exbid=Model.Exbid, lang=lang})))&width=112&layout=button_count&action=like&size=small&share=true&height=46&appId=@(WebConfigurationManager.AppSettings["Facebook_appId"])" width="112" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-wrap ex-edit-wrap">
    <div class="main-cont">
        <!--<h3 class="exhibition-tit">@Model.Subtitle1_tw</h3>-->
        @if (Model.Author_tw != null && Model.Author_tw.Length > 0)
        {
            <div class="exhibition-article-maker">作者：<span>@Model.Author_tw</span></div>
        }
        @if (Model.tags != null && Model.tags.Count > 0)
        {
            <div class="src-tag-list exhibition-article-tag-list">
                <div class="gin-tag-box">
                @foreach (var a in Model.tags)
                {
                    <a href="javascript:getTag(@a.Tagid)">#@((Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh") ? a.Name_tw : a.Name_en)</a>
                }
                </div>
            </div>
        }
            <div class="edit-area ex-edit-area ex-inner-edit-area" id="exEditArea">
                <div class="edit-box">
                    @Html.Raw(Model.Content_tw)
                </div>
                <div class="article-page-wrap" id="articlePageWrapDot"></div>
                <div class="article-page-wrap" id="articlePageWrap">
                    @if (Model.relays != null && Model.relays.Count > 0)
                    {
                        <div class="article-page-box" id="articlePageBox">
                            @for (int i = 0; i < Model.relays.Count; i++)
                            {
                                if (Model.relays[i].Sortid == preSortid)
                                {
                                    <a class="prev-box" href="@Url.Action("ExhibitionArticleCont", "Theme", new { Exbid=Model.relays[i].Exbid })">
                                        <div class="page-arrow"><i class="fas fa-angle-up"></i></div>
                                        <span><i class="fas fa-angle-left"></i> @GlobalRes.Theme_prev</span>
                                        <div class="page-info">
                                            <span class="name">@Model.relays[i].Title_tw</span>
                                            <div class="img-box" style="background: url(@Model.relays[i].Pic_tw) no-repeat center center/cover"><img src="@(Model.relays[i].Pic_tw==null||Model.relays[i].Pic_tw.Length<=0?"/img/default_src.jpg":Model.relays[i].Pic_tw)" alt="" /></div>
                                        </div>
                                    </a>
                                }

                                if (Model.relays[i].Sortid == nextSortid)
                                {
                                    <a class="next-box" href="@Url.Action("ExhibitionArticleCont", "Theme", new { Exbid=Model.relays[i].Exbid })">
                                        <span>@GlobalRes.Theme_next <i class="fas fa-angle-right"></i></span>
                                        <div class="page-info">
                                            <span class="name">@Model.relays[i].Title_tw</span>
                                            <div class="img-box" style="background: url(@Model.relays[i].Pic_tw) no-repeat center center/cover"><img src="@(Model.relays[i].Pic_tw==null||Model.relays[i].Pic_tw.Length<=0?"/img/default_src.jpg":Model.relays[i].Pic_tw)" alt="" /></div>
                                            <div class="page-arrow"><i class="fas fa-angle-down"></i></div>
                                        </div>
                                    </a>
                                }
                            }
                        </div>
                    }
                </div>
                <div class="btn-area page-btn-area"><a class="btn" href="@(Model.Layout==1?Url.Action("ExhibitionCont1","Theme",new {LLid=Model.LLid }):Url.Action("ExhibitionCont2","Theme",new {LLid=Model.LLid }))"><i class="far fa-angle-left"></i> <span>@GlobalRes.Theme_back2</span></a></div>
            </div>
        </div>
</div>

<div class="page-wrap ex-art-swiper" id="exArtSwiperWrap">
    @if (Model.showImg == 1)
    {
        if (Model.pics != null && Model.pics.Count > 0)
        {
            <div class="main-cont">
                <div class="exhibition-article-swiper">
                    <div class="swiper-container" id="exArtSwiper">
                        <div class="swiper-wrapper">
                            @foreach (var d in Model.pics)
                            {
                                <div class="swiper-slide">
                                    <div class="exArt-img-box">
                                        <div class="exArt-img" style="background:url(@(d.Pic==null||d.Pic.Length<=0?"/img/default_src.jpg":d.Pic)) no-repeat center center/cover;"><img src="@(d.Pic==null||d.Pic.Length<=0?"/img/default_src.jpg":d.Pic)" alt="" /></div>
                                        <div class="exArt-txt">@d.Describe_tw</div>
                                        <input type="hidden" class="exArt-source" value="@d.Source_tw" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="swiper-button-prev" id="exArtP"><i class="fas fa-angle-left"></i></div>
                    <div class="swiper-button-next" id="exArtN"><i class="fas fa-angle-right"></i></div>
                    <div class="swiper-pagination" id="ExPage"></div>
                </div>
            </div>
        }
    }
</div>
<div class="light-ex-img-wrap" id="lightExImgWrap">
    <div class="light-tit">
        @GlobalRes.Theme_imgshow
        <div class="light-close-btn"><i class="fas fa-times"></i></div>
    </div>

    <div class="light-ex-img-cont">
        <div class="light-ex-img" id="lightExImg"><img src="" alt="" /></div>
        <div class="light-ex-txt" id="lightExTxt"></div>
        <div class="light-ex-note" id="lightExSource">@GlobalRes.Theme_source：</div>
    </div>
</div>
<form id="getTag" action="@Url.Action("ExhibitionSrcTagList", "Theme")" method="post">
    <input type="hidden" name="Tagid" id="Tagid" value="" />
</form>

<script>
    function getTag(Tagid) {
        $("#getTag").find("#Tagid").val(Tagid);
        $("#getTag").submit();
    }

    $(document).ready(function () {
        var exArtSwiper = new Swiper('#exArtSwiper', {
            slidesPerView: 5,
            spaceBetween: 50,
            //- initialSlide: 2,
            breakpoints: {
                1200: {
                    spaceBetween: 30,
                },
                768: {
                    slidesPerView: 4,
                    spaceBetween: 20,
                },
                768: {
                    slidesPerView: 3,
                    spaceBetween: 20,
                },
                480: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                },
            },
            navigation: {
                nextEl: '#exArtN',
                prevEl: '#exArtP',
            },
            pagination: {
                el: '#ExPage',
                clickable: true,
            },
        });
        //點擊照片觀看
        $('.exArt-img-box').each(function (ind, item) {
            $(this).on('click', function () {
                var imgUrl = $(this).find('.exArt-img img').attr('src');
                var imgTxt = $(this).find('.exArt-txt').html();
                var imgSource = $(this).find('.exArt-source').val();
                $('#lightExImg').find('img').attr('src', imgUrl);
                $('#lightExTxt').html(imgTxt);
                $('#lightExSource').html('@GlobalRes.Theme_source：' + imgSource);
                $('#lightExImgWrap,#mask').fadeIn();
            });
        });

    @if (Request.Params["lang"] != null && Request.Params["lang"].Length > 0)
    {
        <Text>
            top.location.href = "@Url.Action("ExhibitionArticleCont", "Theme", new { Exbid = Model.Exbid })";
        </Text>
    }
    });
    $(window).scroll(function () {
        pageBtnFix();
    });
    $(window).resize(function () {
        pageBtnFix();
    });
    function pageBtnFix() {
        var windowW = $(window).width();
        var windowScrollNum = $(window).scrollTop();
        var $nav = $('nav');
        var navH = $nav.outerHeight();
        //定位用方塊位置
        var sidePageTop = $('#articlePageWrapDot').offset().top;
        var sidePageLeft = $('#articlePageWrapDot').offset().left;
        var footerTop = $('#exArtSwiperWrap').offset().top;
        //- var footerTop=$('footer').offset().top;
        //上方固定高度
        var sidePageTopFix = (sidePageTop - navH) - 10;
        var $pageWrap = $('#articlePageWrap');
        var $pageBox = $('#articlePageBox');
        //下方固定高度(算法：抓到要卡footer上方，所以先抓fooer的方塊距離上方多少位置，在減掉NAV高度跟本身內容高度，再剪調需要的間距，就是滾到這時，這格方塊要卡住)
        var sidePageH = $('#articlePageBox').outerHeight();
        var sidePageBottomFix = footerTop - (sidePageH + navH) - 20;

        //- console.log(sidePageTop);
        //- console.log(sidePageLeft);
        if (windowW > 480) {
            if (windowScrollNum > sidePageTopFix) {
                $pageBox.css({ 'position': 'fixed', 'top': navH + 5, 'left': sidePageLeft });
                if (windowScrollNum > sidePageBottomFix + 10) {
                    if (windowW > 1650) {
                        $pageWrap.css({ 'top': 'auto', 'bottom': '-41px' });
                    } else {
                        $pageWrap.css({ 'top': 'auto', 'bottom': '40px' });
                    }
                    $pageBox.removeAttr('style');
                } else {
                    $pageWrap.removeAttr('style');
                }
            } else {
                $pageBox.removeAttr('style');
            }
        } else {
            $pageWrap.removeAttr('style');
            $pageBox.removeAttr('style');
        }
    }
</script>