﻿@using VirtualMuseum.Controllers.Base

@model List<VirtualMuseum.Models.Game.GameViewModel>

@{
    ViewBag.Action = "ThemeList";

    BaseController controller = ViewContext.Controller as BaseController;
    if (controller == null)
    {
        throw new ApplicationException("Controller 必須繼承自 MyControllerBase.");
    }
    var Link3 = controller.Link3;
    var Link4 = controller.Link4;
}
<div class="page-tab-area">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index", "Home")">@GlobalRes.Game_ihead1</a><span>/</span>
            <div class="act-page">@GlobalRes.Game_ihead3</div>
        </div>
    </div>
</div>
<div class="game-banner-area">
    <h2 class="game-banner-txt">@GlobalRes.Game_head1</h2>
</div>
<div class="page-wrap">
    <div class="main-cont">
        <div class="game-list-area">
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
            <div class="game-box">
                @if (item.Kind == 1 || item.Kind == 3)
                {
                    <a class="game-media" style="background:url(@item.Pic) no-repeat center center/cover;" href="@(item.Kind == 1 ? @item.Url : @item.Gameurl)" target="_blank"></a>
                }
                else if (item.Kind == 2)
                {
                    <div class="game-media">
                        <iframe src="https://www.youtube.com/embed/@item.Video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
                    </div>
                }

                <div class="game-cont">
                    <div class="tit">@item.Name</div>
                    <div class="cont">@Html.Raw(item.Describe)</div>
                </div>
                @if (item.Pdf != null && item.Pdf.Length > 0)
                {
                    <div class="game-pdf">
                        <a class="game-pdf-btn" href="@item.Pdf"><i class="fas fa-download"></i> @(item.Pdf.Substring(item.Pdf.LastIndexOf("/")+1))</a>
                    </div>
                }
            </div>
                }
            }
        </div>
    </div>
</div>

<script>
$(document).ready(function(){});
</script>
