﻿@using System.Web.Configuration

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- <meta name="keywords" content="keywords,keywords"> -->
    <meta name="description" content="Backend System">
    <link rel="shortcut icon" href="~/img/backend_img/favicon_backend.ico"> <!-- 我的最愛圖示 -->
    <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.validate.js"></script><!-- 表單驗證 -->
    <script type="text/javascript" src="~/js/jquery.metadata.js"></script><!-- 用來判斷表單驗證的長度或數字的JS -->
    <script type="text/javascript" src="~/js/messages_zh_TW.js"></script>
    <script type="text/javascript" src="~/js/jquery.preload.js"></script>
    <script type="text/javascript" src="~/js/Sortable.min.js"></script>
    <!-- type 換選 -->
    <script type="text/javascript" src="~/js/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="~/js/typeahead.jquery.min.js"></script>
    <script type="text/javascript" src="~/js/bloodhound.min.js"></script>
    <script type="text/javascript" src="~/js/typeSrc.js"></script>
    <!-- 日期選擇 -->
    <script type="text/javascript" src="~/js/datepicker.min.js"></script>
    <script src="~/js/i18n/datepicker.en.js"></script>
    <link href="~/css/cropper.min.css" rel="stylesheet">
    <script src="~/js/cropper.min.js"></script>
    <!-- 文字編輯器 -->
    <!-- <script type="text/javascript" src="../js/build-config.js"></script>
    <script type="text/javascript" src="../js/config.js"></script>
    <script type="text/javascript" src="../js/styles.js"></script> -->
    <script type="text/javascript" src="~/js/ckeditor/ckeditor.js"></script>
    <!-- <script type="text/javascript" src="../js/ckeditor_plugin/plugin.js"></script> -->

    <script type="text/javascript" src="~/js/backend.js"></script>
    <link rel="stylesheet" href="~/css/datepicker.min.css">

    <link rel="stylesheet" href="~/css/backend.css">
    <link rel="stylesheet" href="~/css/all.min.css">
    <!--[if IE]>
        <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/css/font-awesome-ie7.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <title>臺灣文學虛擬博物館 管理後台</title>
    <meta name="google-signin-client_id"
          content="909363902602-dgfnn68b7pmblbe1cts3segghap131nb.apps.googleusercontent.com">
</head>

<body>
    <div id="mask" class="mask" style="display:none;"></div>
    <div class="btn-side-close" id="closeNav">
        <i class="fa fa-angle-left"></i>
        <p>隱藏選單</p>
    </div>
    <div class="btn-side-open" id="openNav">
        <i class="fa fa-angle-right"></i>
        <p>顯示選單</p>
    </div>

    <div class="side-nav">
        <div class="side-box">
            <div class="side-logo"></div>
            <div class="backend-tit">Backend System </div>
            <div class="user-info">
                <div class="user-id">
                    <i class="fad fa-smile-wink"></i> Hello , @Session["Adminname"]
                    <div class="change-pwd-box">
                        <a href="@Url.Action("PwdEdit")" class="change-pwd">
                            變更密碼
                            <i class="fad fa-lock-alt"></i>
                        </a>
                    </div>
                </div>
                <div class="sign-out-box">
                    <a href="javascript:logout()" class="sign-out">
                        Sign Out
                        <i class="fad fa-sign-out"></i>
                    </a>
                </div>
            </div>
            <div class="nav-box">
                <ul class="nav">
                    <!-- <li>
                        <a href="menu.html" class="act">
                            <i class="fad fa-users-cog"></i> 次選單
                        </a>
                    </li>
                    <li>
                        <a href="list.html">
                            <i class="fad fa-list"></i> 列表
                        </a>
                    </li>
                    <li>
                        <a href="group_column.html">
                            <i class="fad fa-th-list"></i> 基礎兩欄式組件
                        </a>
                    </li>
                    <li>
                        <a href="group.html">
                            <i class="fad fa-equals"></i> 一欄式組件
                        </a>
                    </li>
                    <li>
                        <a href="other.html">
                            <i class="fad fa-info-square"></i> 其他
                        </a>
                    </li> -->
                    @if (Session["AdminLevel"].ToString().ToCharArray()[0] == '1')
                    {
                        <li>
                            <a href="@Url.Action("AdminManage")" id="nav01">
                                <i class="fad fa-users-cog"></i> 帳號管理
                            </a>
                        </li>
                    }
                    @if (Session["AdminLevel"].ToString().ToCharArray()[1] == '1')
                    {
                        <li>
                            <a href="@Url.Action("UserManage")" id="nav02">
                                <i class="fad fa-user-friends"></i> 會員管理
                            </a>
                        </li>
                    }
                    @if (Session["AdminLevel"].ToString().ToCharArray()[2] == '1')
                    {
                        <li>
                            <a href="@Url.Action("LiteraryTimeList")" id="nav03">
                                <i class="fad fa-books"></i> 臺灣文學史管理
                            </a>
                        </li>
                    }
                    @if (Session["AdminLevel"].ToString().ToCharArray()[3] == '1')
                    {
                        <li>
                            <a href="@Url.Action("WriterTrackList")" id="nav04">
                                <i class="fad fa-map-marked-alt"></i> 作家行跡管理
                            </a>
                        </li>
                    }
                    @if (Session["AdminLevel"].ToString().ToCharArray()[4] == '1')
                    {
                        <li>
                            <a href="@Url.Action("CreateList")" id="nav05">
                                <i class="fad fa-window-restore"></i> 共創平台管理
                            </a>
                        </li>
                    }
                    @if (Session["AdminLevel"].ToString().ToCharArray()[5] == '1')
                    {
                        <li>
                            <a href="@Url.Action("ThemeTourList")" id="nav06">
                                <i class="fad fa-route"></i> 主題之旅管理
                            </a>
                        </li>
                    }
                    @if (Session["AdminLevel"].ToString().ToCharArray()[6] == '1')
                    {
                        <li>
                            <a href="@Url.Action("LiteraryList")" id="nav07">
                                <i class="fad fa-book-reader"></i> 文學展示管理
                            </a>
                        </li>
                    }
                    @if (Session["AdminLevel"].ToString().ToCharArray()[13] == '1')
                    {
                        <li>
                            <a href="@Url.Action("GameList")" id="nav14">
                                <i class="fad fa-gamepad-alt"></i> 數位遊戲管理
                            </a>
                        </li>
                    }
                    @if (Session["AdminLevel"].ToString().ToCharArray()[8] == '1')
                    {
                        <li>
                            <a href="@Url.Action("AuthorList")" id="nav09">
                                <i class="fad fa-at"></i> 作者與著作管理
                            </a>
                        </li>
                    }
                    @if (Session["AdminLevel"].ToString().ToCharArray()[9] == '1')
                    {
                        <li>
                            <a href="@Url.Action("ExdReaderList")" id="nav10">
                                <i class="fad fa-glasses-alt"></i> 延伸閱讀管理
                            </a>
                        </li>
                    }
                    @if (Session["AdminLevel"].ToString().ToCharArray()[10] == '1')
                    {
                        <li>
                            <a href="@Url.Action("TagList")" id="nav11">
                                <i class="fad fa-bookmark"></i> 標籤管理
                            </a>
                        </li>
                    }
                    @if (Session["AdminLevel"].ToString().ToCharArray()[7] == '1')
                    {
                        <li>
                            <a href="@Url.Action("CollectList")" id="nav08">
                                <i class="fad fa-stars"></i> 靜態檔管理
                            </a>
                        </li>
                    }
                    @if (Session["AdminLevel"].ToString().ToCharArray()[11] == '1')
                    {
                        <li>
                            <a href="@Url.Action("SetAbout")" id="nav12">
                                <i class="fad fa-cog"></i> 其他設定
                            </a>
                        </li>
                    }
                    @if (Session["AdminLevel"].ToString().ToCharArray()[12] == '1')
                    {
                        <li>
                            <a href="@Url.Action("GaList")" id="nav13">
                                <i class="fad fa-analytics"></i> GA數據
                            </a>
                        </li>
                    }
                    @if (Session["AdminLevel"].ToString().ToCharArray()[14] == '1')
                    {
                        <li>
                            <a href="@Url.Action("DataAnalysis", "Backend")" id="nav15">
                                <i class="fad fa-chart-bar"></i> 人流數據分析
                            </a>
                        </li>
                    }
                    @if (Session["AdminLevel"].ToString().ToCharArray()[15] == '1')
                    {
                        <li>
                            <a href="@Url.Action("DataLiveDashboard", "Backend")" id="nav16">
                                <i class="fad fa-camera-home"></i> 即時監控面板
                            </a>
                        </li>
                    }
                    <!-- <li>
                        <a href="banner_list.html" id="nav02">
                            <i class="fad fa-window-restore"></i> 形象輪播管理
                        </a>
                    </li>
                    <li>
                        <a href="information_intro.html" id="nav03">
                            <i class="fas fa-comment-alt-lines"></i> 系所簡介管理
                        </a>
                    </li>
                    <li>
                        <a href="alumni_infor.html" id="nav04">
                            <i class="fad fa-users"></i> 系友會管理
                        </a>
                    </li>
                    <li>
                        <a href="news_list.html" id="nav05">
                            <i class="fad fa-bullhorn"></i> 公告消息管理
                        </a>
                    </li>
                    <li>
                        <a href="teacher_list.html" id="nav06">
                            <i class="fad fa-user-tie"></i> 師資管理
                        </a>
                    </li>
                    <li>
                        <a href="enroll_list.html" id="nav07">
                            <i class="fad fa-user-graduate"></i> 招生資訊管理
                        </a>
                    </li>
                    <li>
                        <a href="resources_intro.html" id="nav08">
                            <i class="fad fa-university"></i> 系所資源管理
                        </a>
                    </li>
                    <li>
                        <a href="building_history.html" id="nav09">
                            <i class="fad fa-city"></i> 結構大樓管理
                        </a>
                    </li>
                    <li>
                        <a href="event_album_list.html" id="nav10">
                            <i class="fad fa-calendar-star"></i> 活動管理
                        </a>
                    </li>
                    <li>
                        <a href="link_list.html" id="nav11">
                            <i class="fad fa-users-class"></i> 好站連結管理
                        </a>
                    </li> -->
                </ul>
            </div>
            <div class="side-footer">
                © 2020 臺灣文學虛擬博物館
            </div>
        </div>
    </div>
    <form id="logout" action="@Url.Action("logout")" method="post">
        @*防偽造*@
        @Html.AntiForgeryToken()
    </form>
</body>
</html>
<!--{template admin_header}-->
<script>
    function logout() {
        $("#logout").submit();
    }
    $(document).ready(function () {
        var url = window.location.pathname.replace('/', '');
        var urlList = url.split('/');
        var nowUrl = urlList[urlList.length - 1];
        //console.log(nowUrl);
        if (nowUrl.indexOf('AdminManage') == 0 || nowUrl.indexOf('AdminAdd') == 0 ||
            nowUrl.indexOf('AdminEdit') == 0) {
            $('#nav01').addClass('act');
        } else if (nowUrl.indexOf('UserManage') == 0 || nowUrl.indexOf('UserAdd') == 0 ||
            nowUrl.indexOf('UserEdit') == 0) {
            $('#nav02').addClass('act');
        } else if (nowUrl.indexOf('LiteraryTimeList') == 0 || nowUrl.indexOf('LiteraryTimeAdd') == 0 ||
            nowUrl.indexOf('LiteraryTimeEdit') == 0 || nowUrl.indexOf('LiteraryIntroList') == 0 ||
            nowUrl.indexOf('LiteraryIntroAdd') == 0 || nowUrl.indexOf('LiteraryIntroEdit') == 0) {
            $('#nav03').addClass('act');
        } else if (nowUrl.indexOf('WriterTrackList') == 0 || nowUrl.indexOf('WriterTrackAdd') == 0 ||
            nowUrl.indexOf('WriterTrackEdit') == 0 || nowUrl.indexOf('WriterStoryList') == 0 ||
            nowUrl.indexOf('EventAdd') == 0 || nowUrl.indexOf('EventEdit') == 0) {
            $('#nav04').addClass('act');
        } else if (nowUrl.indexOf('CreateList') == 0 || nowUrl.indexOf('CreateAdd') == 0
            || nowUrl.indexOf('CreateEdit') == 0 || nowUrl.indexOf('QAList') == 0) {
            $('#nav05').addClass('act');
        } else if (nowUrl.indexOf('ThemeBannerList') == 0 || nowUrl.indexOf('ThemeBannerAdd') == 0 ||
            nowUrl.indexOf('ThemeBannerEdit') == 0 || nowUrl.indexOf('ThemeTourList') == 0 ||
            nowUrl.indexOf('ThemeTourAdd') == 0 || nowUrl.indexOf('ThemeTourEdit') == 0 ||
            nowUrl.indexOf('ThemeTourRouteAdd') == 0 || nowUrl.indexOf('ThemeTourRouteEdit') == 0 ||
            nowUrl.indexOf('ThemeTourAttractionAdd') == 0 || nowUrl.indexOf('ThemeTourAttractionEdit') == 0) {
            $('#nav06').addClass('act');
        } else if (nowUrl.indexOf('LiteraryList') == 0 || nowUrl.indexOf('LiteraryAdd') == 0 ||
            nowUrl.indexOf('LiteraryEdit') == 0 || nowUrl.indexOf('ExhibitionAdd') == 0 ||
            nowUrl.indexOf('ExhibitionEdit') == 0) {
            $('#nav07').addClass('act');
        } else if (nowUrl.indexOf('CollectList') == 0 || nowUrl.indexOf('CollectAdd') == 0 || nowUrl.indexOf('CollectEdit') == 0) {
            $('#nav08').addClass('act');
        } else if (nowUrl.indexOf('AuthorList') == 0 || nowUrl.indexOf('AuthorAdd') == 0 || nowUrl.indexOf('AuthorEdit') == 0) {
            $('#nav09').addClass('act');
        } else if (nowUrl.indexOf('ExdReaderList') == 0 || nowUrl.indexOf('ExdReaderAdd') == 0 || nowUrl.indexOf('ExdReaderEdit') == 0) {
            $('#nav10').addClass('act');
        } else if (nowUrl.indexOf('GameList') == 0 || nowUrl.indexOf('GameAdd') == 0 || nowUrl.indexOf('GameEdit') == 0) {
            $('#nav14').addClass('act');
        } else if (nowUrl.indexOf('TagList') == 0 || nowUrl.indexOf('TagAdd') == 0 || nowUrl.indexOf('TagEdit') == 0) {
            $('#nav11').addClass('act');
        } else if (nowUrl.indexOf('SetAbout') == 0 || nowUrl.indexOf('SetPrivacy') == 0 || nowUrl.indexOf('SetTraffic') == 0 ||
            nowUrl.indexOf('SetQuestionList') == 0 || nowUrl.indexOf('SetNotice') == 0 || nowUrl.indexOf('SetQuestionAdd') == 0 ||
            nowUrl.indexOf('SetQuestionEdit') == 0) {
            $('#nav12').addClass('act');
        } else if (nowUrl.indexOf('GaList') == 0) {
            $('#nav13').addClass('act');
        } else if (nowUrl.indexOf('DataAnalysis') >= 0) {
            $('#nav15').addClass('act');
        } else if (nowUrl.indexOf('DataLiveDashboard') >= 0) {
            $('#nav16').addClass('act');
        }
    });</script>
<div class="main">
    @RenderBody()
</div>
