﻿@using VirtualMuseum.Controllers.Base
@using System.Web.Configuration

@{
    BaseController controller = ViewContext.Controller as BaseController;
    if (controller == null)
    {
        throw new ApplicationException("Controller 必須繼承自 MyControllerBase.");
    }
    var privacy_tw = controller.Privacy_tw;
    var privacy_en = controller.Privacy_en;

    var counter = controller.counter;
    var qa = controller.qaonline;

    var Link1 = controller.Link1;
    var Link2 = controller.Link2;
    var Link3 = controller.Link3;
    var Link4 = controller.Link4;

    //var Source = controller.Source();
    //var nickName = controller.NickName();

    var nickName = "";
    var Source = "";
    if ((Request.Cookies["Login_Username"] == null || Request.Cookies["Login_Username"].Value.Length <= 0)
        && controller.User.Identity.Name != null && controller.User.Identity.Name.Length > 0)
    {
        Response.Redirect(Url.Action("LogOff", "Account"));
    }
    else
    {
        nickName = Request.Cookies["Login_Username"] != null ? HttpUtility.UrlDecode(Request.Cookies["Login_Username"].Value) : "";
        Source = Request.Cookies["Login_Source"] != null ? Request.Cookies["Login_Source"].Value : "";
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no" />
    <meta name="robots" content="noindex"><!-- 不給google search -->
    <meta name="title" content="臺灣文學虛擬博物館" />
    <meta name="description" content="科技、人文、友善體驗" />
    <meta name="Copyright" content="© 2020" />
    <meta property="og:site_name" content="科技、人文、友善體驗" />
    @RenderSection("SeoRender", false)
    <meta property="og:type" content="website" />
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <script src="~/js/jquery-1.11.0.js"></script>
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/jquery.validate.js"></script>
    <script src="~/js/additional-methods.min.js"></script>
    <script src="~/js/messages_zh_TW.js"></script>
    <script src="~/js/swiper.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/common.js"></script>
    <script type="text/javascript" src="~/js/timeline/timeline-min.js"></script>
    <link rel="stylesheet" href="~/css2/timeline/timeline.css" />
    <link rel="stylesheet" href="~/css2/all.min.css" />
    <link rel="stylesheet" href="~/css2/hamburgers.min.css" />
    <link rel="stylesheet" href="~/css2/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="~/css2/swiper.min.css" />
    <link rel="stylesheet" href="~/css2/storymap/storymap.css" />
    <link rel="stylesheet" href="~/css2/sty.css?v2" />
    <!-- ga code -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113023389-2"></script>
    <script>
        var api_Domain = '@(WebConfigurationManager.AppSettings["apiDomain"])';

        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-113023389-2');
    </script>
</head>
<body>
    <h1 class="ht">臺灣文學虛擬博物館</h1>
    <div class="nav-area" id="navArea">
        <div class="nav-info-area">
            <div class="nav-slogn">@GlobalRes._Layout_logo</div>
            <div class="nav-user-area">
                <div class="nav-user" id="loginBox" @(controller.User.Identity.Name == null || controller.User.Identity.Name.Length <= 0 ? "style=display:none;" : "")>
                    <div class="login-user"><span class="mbno-600"> </span>@GlobalRes._Layout_hello <a href="@(Source == "Email" ? Url.Action("Member","Account"):Url.Action("MemberThird", "Account"))">@(nickName)</a></div>
                    <div class="log-btn logout-btn" id="loginOut">@GlobalRes._Layout_Logout</div>
                </div>
                <div class="login-btn-box" id="unLoginBox" @(controller.User.Identity.Name == null || controller.User.Identity.Name.Length <= 0 ? "" : "style=display:none;")><a class="log-btn regis-btn" href="@Url.Action("Register", "Account")">@GlobalRes._Layout_Register</a><a class="log-btn" href="@Url.Action("Login", "Account")">@GlobalRes._Layout_Login</a></div><a class="log-btn fb-btn" href="https://www.facebook.com/NmtlTainan/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <div class="lang-sel-box">
                    <select class="lang-sel" id="lang" name="lang">
                        @if (Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")
                        {
                            <option value="" disabled selected>語言</option>
                            <option value="zh">中文</option>
                            <option value="en">English</option>
                        }
                        else
                        {
                            <option value="" disabled selected>language</option>
                            <option value="zh">中文</option>
                            <option value="en">English</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="nav-fix-box" id="navFixBox">
            <nav>
                <h2 class="ht"><span>臺灣文學虛擬博物館 導航列</span></h2><a class="logo" href="@Url.Action("Index", "Home")"><img src="~/img/logo.svg" alt="臺灣文學虛擬博物館" /></a>
                <div class="nav-cont">
                    <div class="@((Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh") ? "nav-item" : "nav-item en")" id="navItem">
                        @if (Link1.Split(new char[] { '|' })[1] == "1")
                        {
                            <!--<a class="n-item" href="@(Link1.Split(new char[] { '|' })[0])" target="_blank"><span>@Html.Raw(Link1.Split(new char[] { '|' })[2])</span></a>-->
                            <a class="n-item" href="http://temp.panosensing.com/nmtl/draft/" target="_blank"><span>@Html.Raw(Link1.Split(new char[] { '|' })[2])</span></a>
                        }
                        <a class="n-item" href="@Url.Action("HistoryList", "History")"><span>@Html.Raw(GlobalRes._Layout_head2)</span></a>
                        <div class="n-item" id="navLiteraryBtn" opSupNav="opSupNav">
                            <span>@Html.Raw(GlobalRes._Layout_head3)</span>
                            <div class="n-nav-sup">
                                <a href="@Url.Action("WriterList", "Writer")"><span>@Html.Raw(GlobalRes._Layout_head3_1)</span></a>
                                <a href="@Url.Action("WriterStoryList", "Writer")"><span>@Html.Raw(GlobalRes._Layout_head3_2)</span></a>
                                <a href="@Url.Action("ThemeList", "Writer")"><span>@Html.Raw(GlobalRes._Layout_head3_3)</span></a>
                                @if (Link3.Split(new char[] { '|' })[1] == "1")
                                {
                                    <a target="_blank" href="@(Link3.Split(new char[] { '|' })[0])"><span>@Html.Raw(Link3.Split(new char[] { '|' })[2])</span></a>
                                }
                                @if (Link4.Split(new char[] { '|' })[1] == "1")
                                {
                                    <a target="_blank" href="@(Link4.Split(new char[] { '|' })[0])"><span>@Html.Raw(Link4.Split(new char[] { '|' })[2])</span></a>
                                }
                            </div>
                        </div><a class="n-item" href="@Url.Action("GameList", "Game")"><span>@Html.Raw(GlobalRes._Layout_head4)</span></a>
                        <div class="n-item" id="navThemeBtn" opSupNav="opSupNav">
                            <span>@Html.Raw(GlobalRes._Layout_head5)</span>
                            <div class="n-nav-sup">
                                <a href="https://literature.sds.com.tw/" target="_blank"><span>@Html.Raw(GlobalRes._Layout_head5_1)</span></a><a href="@Url.Action("ExhibitionList", "Theme")"><span>@Html.Raw(GlobalRes._Layout_head5_2)</span></a>
                                @if (Link2.Split(new char[] { '|' })[1] == "1")
                                {
                                    <a target="_blank" href="@(Link2.Split(new char[] { '|' })[0])"><span>@Html.Raw(Link2.Split(new char[] { '|' })[2])</span></a>
                                }
                            </div>
                        </div>
                        <div class="n-item" id="navMakerBtn" opSupNav="opSupNav">
                            <span>@Html.Raw(GlobalRes._Layout_head6)</span>
                            <div class="n-nav-sup">
                                <a href="@Url.Action("CreatePlatform", "Create")"><span>@Html.Raw(GlobalRes._Layout_head6_1)</span></a><a href="@Url.Action("CreateQAList", "Create")"><span>@Html.Raw(GlobalRes._Layout_head6_2)</span></a>
                            </div>
                        </div><a class="n-item" href="http://nmtltrans.tlvm.com.tw/" target="_blank"><span>@Html.Raw(GlobalRes._Layout_head7)</span></a>
                    </div>
                    <div class="src-box">
                        <input id="globalsearchkey" class="input-src" type="text" placeholder="@GlobalRes._Layout_search" value="" />
                        <div class="src-btn"><i class="fas fa-search"></i></div>
                    </div>
                    <button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
                </div>
            </nav>
            <div class="sub-nav-list">
                <div class="nav-sup sub-literaryList" id="navLiteraryList" style="top: 0px;">
                    <a href="@Url.Action("WriterList", "Writer")"><span>@Html.Raw(@GlobalRes._Layout_head3_1)</span></a><a href="@Url.Action("WriterStoryList", "Writer")"><span>@Html.Raw(GlobalRes._Layout_head3_2)</span></a><a href="@Url.Action("ThemeList", "Writer")"><span>@Html.Raw(GlobalRes._Layout_head3_3)</span></a>
                    @if (Link3.Split(new char[] { '|' })[1] == "1")
                    {
                        <a target="_blank" href="@(Link3.Split(new char[] { '|' })[0])"><span>@Html.Raw(Link3.Split(new char[] { '|' })[2])</span></a>
                        <!--<a target="_blank" href="https://www.tpelegend.com/thecrazygodsshow/"><span>@Html.Raw(Link3.Split(new char[] { '|' })[2])</span></a>-->
                    }
                    @if (Link4.Split(new char[] { '|' })[1] == "1")
                    {
                        <a target="_blank" href="@(Link4.Split(new char[] { '|' })[0])"><span>@Html.Raw(Link4.Split(new char[] { '|' })[2])</span></a>
                        <!--<a target="_blank" href="https://www.tpelegend.com/thecrazygodsshow/"><span>@Html.Raw(Link4.Split(new char[] { '|' })[2])</span></a>-->
                    }
                </div>
                <div class="nav-sup sub-themeList" id="navThemeList" style="top: 0px;">
                    <a href="https://literature.sds.com.tw/" target="_blank"><span>@Html.Raw(GlobalRes._Layout_head5_1)</span></a><a href="@Url.Action("ExhibitionList", "Theme")"><span>@Html.Raw(GlobalRes._Layout_head5_2)</span></a>
                    @if (Link2.Split(new char[] { '|' })[1] == "1")
                    {
                        <a target="_blank" href="@(Link2.Split(new char[] { '|' })[0])"><span>@Html.Raw(Link2.Split(new char[] { '|' })[2])</span></a>
                    }
                </div>
                <div class="nav-sup sub-makerList" id="navMakerList" style="top: 0px;">
                    <a href="@Url.Action("CreatePlatform", "Create")"><span>@Html.Raw(GlobalRes._Layout_head6_1)</span></a><a href="@Url.Action("CreateQAList", "Create")"><span>@Html.Raw(GlobalRes._Layout_head6_2)</span></a>
                </div>
            </div>
        </div>
    </div>
    <div id="fixNav"></div>
    <div class="mask" id="mask"></div>
    <div class="light-txt-wrap" id="lightTxtWrap">
        <div class="light-txt-cont">
            <div class="light-txt" id="lightTxt">訊息</div>
            <div class="btn" id="lightTxtClose">@GlobalRes.Site_message9</div>
        </div>
    </div>
    @RenderBody()
    <footer>
        <div class="main-cont">
            <div class="footer-logo">
                <a href="https://www.nmtl.gov.tw/" target="_blank" class="f-logo"><img src="~/img/logo_his.svg" alt="" /></a>
                <div class="f-logo-txt">@GlobalRes._Layout_Address<br><i class="far fa-phone-rotary"></i>（06）221-7201</div>
            </div>
            <div class="footer-info-area">
                <div class="footer-info">
                    <!-- <div class="qrcode-cont">
                        <div class="qrcode"><img src="~/img/qrcode.jpg" alt="" /></div>
                        <div class="qr-info"><span><i class="far fa-phone-rotary"></i>（06）221-7201</span><span><i class="far fa-phone-office"></i>（06）222-6115</span><span><i class="far fa-envelope"></i>twp@nmtl.gov.tw</span></div>
                    </div> -->
                    <div class="web-link-cont">
                        <div class="web-link-box">
                            <a href="@Url.Action("About", "Home")">@GlobalRes._Layout_About</a><a href="@Url.Action("TrafficPage", "Home")">@GlobalRes._Layout_Traffic</a><a href="mailto:twp@nmtl.gov.tw">@GlobalRes._Layout_Contact</a>
                            <div class="web-link" id="privacyBtn">@GlobalRes._Layout_Privacy</div>
                            <div class="web-link" id="questBtn">@GlobalRes._Layout_QA</div>
                        </div>
                        <div class="copyright">© 2020 VIRTUAL MUSEUM OF TAIWAN LITERATURE</div>
                    </div>
                </div>
                <div class="web-info-box">
                    <div class="web-info"><span>@GlobalRes._Layout_Visits</span><span>@counter.Amount</span></div>
                    <div class="web-info"><span>@GlobalRes._Layout_Updated</span><span>@counter.Logtime.ToString("yyyy/MM/dd")</span></div>
                </div>
            </div>
        </div>
        <div class="gotop" id="goTop"><i class="fas fa-arrow-up"></i><span>TOP</span></div>
        <div class="light-wrap" id="privacyBox">
            <div class="light-tit">
                <h2>@GlobalRes._Layout_Privacy</h2>
                <div class="light-close-btn"><i class="fas fa-times"></i></div>
            </div>
            <div class="light-cont scroll-cont">
                <div class="light-scroll-cont">
                    @((Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")? Html.Raw(privacy_tw) : Html.Raw(privacy_en))
                </div>
            </div>
        </div>
        <div class="light-wrap" id="questBox">
            <div class="light-tit">
                <h2>@GlobalRes._Layout_QA</h2>
                <div class="light-close-btn"><i class="fas fa-times"></i></div>
            </div>
            <div class="light-cont scroll-cont">
                <div class="light-scroll-cont">
                    <div class="quest-list-box">
                        <div class="quest-list-tit">@GlobalRes.Site_message8</div>
                        @if (qa != null && qa.Count > 0)
                        {
                            foreach (var d in qa)
                            {
                                <div class="quest-box"><a href="@d.Link" target="_blank"><i class="fas fa-pen-square"></i>@((Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")?d.Title_tw:d.Title_en)</a></div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <form id="globalsearchform" method="post" action="@Url.Action("SearchList", "Home")">
        <input type="hidden" name="userKeyWord" id="keyWord" value="@ViewBag.GlobalKey" />
        <input type="hidden" name="kind" id="kind" value="" />
    </form>
    <form id="logoutform" method="post" action="@Url.Action("LogOff", "Account")">
    </form>
</body>
</html>
<script>
    $(document).ready(function () {
        $('#loginOut').on('click', function (e) {
            $('#logoutform').submit();
        });

        $('.src-btn').on('click', function (e) {
            var key = $("#globalsearchkey").val();
            if (key) {
                var Lang = getCookie("CacheLang");
                top.location.href = "/" + Lang +  "/Home/SearchList?userKeyWord=" + encodeURIComponent($("#globalsearchkey").val());
                /*
                $("#globalsearchform").find("#keyWord").val($("#globalsearchkey").val());
                $("#globalsearchform").submit();
                */
            } else
                alertTxt(@((Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")?Html.Raw("'請輸入關鍵字'"): Html.Raw("'Please enter search keywords.'")));
        });
        var LiteraryBannerSwiper = new Swiper('#LiteraryBanner', {
            slidesPerView: 4,
            spaceBetween: 0,
            breakpoints: {
                768: {
                    slidesPerView: 3
                },
                600: {
                    slidesPerView: 2
                },
                414: {
                    slidesPerView: 1
                },
            },
            pagination: {
                el: '#LiteraryPage',
                clickable: true,
            },
        });

        var ExhibitionBannerSwiper = new Swiper('#ExhibitionBanner', {
            //- slidesPerView: 4,
            spaceBetween: 70,
            initialSlide: 2,
            //- breakpoints: {
            //- 	1000: {
            //- 		slidesPerView: 3
            //- 	},
            //- },
            pagination: {
                el: '#ExhibitionPage',
                clickable: true,
            },
        });
        //展覽點擊
        $('.ind-exhibition-img').each(function (index, item) {
            $(this).on('click', function () {
                ExhibitionBannerSwiper.slideTo(index, 300);
            });
        });
    });
</script>
