include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.error-page
			.main-cont
				.error-info
					.error-num 404
					.error-txt 您所尋找的網頁不存在！
					.error-en Page Not Found!
		.error-page2
			.main-cont
				.turn-page-info
					span 將於 3 秒後自動導回首頁...  或直接
					a(href="index.html").btn 回到首頁
				.turn-page-info
					span You'll be redirected to the homepage in 3 seconds.. or click
					a(href="index_en.html").btn Back Home


		//-內容
		include includes/footer