include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[{'name':'部落格','url':'###'}],'actName':'浪漫台三線．214公里的踏查之旅 ─ 前往梨之鄉'}
            +travelBread(bread)
        .blog-tit-area
            .cloud.cloud05
            .cloud.cloud06
            .blog-tit
                h2 浪漫台三線．214公里的踏查之旅 ─ 前往梨之鄉
                .travel-page-info
                    .info by
                        span.art 文學小編
                    .info 2021.11.13
                    .info 358 次點閱
                    .info
                        .icon
                            img(src="img/icon_wh_collect.svg", alt="")
                        .txt 54
                    .info
                        .icon
                            img(src="img/icon_wh_comment.svg", alt="")
                        .txt 11
                    //- .share-btn-box
                    //-     a(href="###")
                    //-         i(class="far fa-check")
                    //-         | 讚 <span>234</span>
        .travel-area
            .travel-cont
                .travel-page-cont
                    .travel-page-txt-cont
                        .travel-page-txt
                            .edit-box
                                p.def 苗栗卓蘭是水果之鄉，也是詩人詹冰的故鄉。卓蘭四季盛產不同的水果，遊客到此不免來趟採果之旅，小鎮上也有詩人留下的許多童詩，展現了生活裡可愛又生動的一面。
                                p.def 詹冰的詩像是生活裡的小故事、或是一個剎那的即景，簡單生動，像卓蘭一樣。他說滿開的〈櫻花〉：「現在是笑的極點。其證據是，正在滴下美麗的淚珠…。」也將觀察到的生態摘引入詩（〈山路上的螞蟻〉）：
                                p.def 小鎮留有他豐富生活足跡，他在卓蘭國中當了25年的理化教師，有藥師執照的他，開了當時鎮上最大的存仁藥局（也是當年鎮上唯一由專門藥師執業的藥局），此處更是笠詩社的誕生地──詹冰邀請了預計籌備詩刊的文友們來此討論、因而此處也成了《笠》詩刊創社之所在。他的故居至今仍維持完好，安靜的院落留有生活的痕跡，在水果之鄉生活的詩人夫妻，感情甜蜜動人，詹冰曾寫下的《椪柑》一詩，就是他看著太太「充滿食慾的眼睛」，慫恿被中醫禁口的太太偷吃水果，兩人的互動溫馨可愛，吃完一整個椪柑的太太，還賴皮說，醫生只說不要吃酸的水果。跟水果一樣甜蜜的情感，或許也是詹冰的創作原動力。
                                p.def 如今，鎮上已開幕的詹冰故事館煥然一新，它前身為卓蘭國小的日式宿舍，此刻已修整為紀念詹冰的文學園地，裡面有滿滿的故事，以全新的面貌迎接遊人，訴說小鎮詩人的文學軌跡。鎮上的信仰中心峨崙廟，也有著詹冰詩作的立牌，寫著「我在童年摸過的龍珠龍柱…（略）…到現在都不改變」，廟宇紀錄了歷史，詩人卻留下了情意，來峨崙廟拜神，「老妻要祈求一家平安子孫幸福，我只求老妻好好愛我」。在卓蘭小鎮唯一要擔心的就是路人被閃瞎了眼吧！
                                p.def 在出發前往果園採果之前，卓蘭小鎮正是最好的休憩點，果園四季開放，椪柑的清甜一如小鎮生活的滋潤清爽，來鎮上整備時別忘了在小鎮散步繞一繞—─路上處處可見的詹冰詩作，語言平易又充滿生活感，更沒有艱澀，詩人的現世生活幸福完滿，因此揮灑了無盡的童趣與愛吧！
                        .travel-route-article-area
                            .travel-route-article-box
                                .tit 撰寫作者
                                .route-article
                                    .icon
                                        img(src="img/default_member.svg", alt="")
                                    .name 劉雅婷
                                .route-article-cont 大家好，我是再台灣土生土長的雅婷，熱衷於探索台灣，維持身心靈的健康快樂。
                            .travel-route-article-box
                                .tit 相關標籤
                                .travel-tag-area
                                    a(href="###") #美食之旅
                    .travel-page-side
                        .travel-page-side-box
                            .travel-page-tit 體驗主題路線
                            .travel-theme-side-area
                                a(href="travel_cont.html").travel-theme-side-box
                                    img(src="img/t_page_banner.jpg", alt="")
                                    .tit 砂糖橘詹冰淇淋：椪柑的清甜如小鎮生活的滋潤清爽，路上處處可見的詹冰詩作
                                a(href="travel_cont.html").travel-theme-side-box
                                    img(src="img/travel_theme01.jpg", alt="")
                                    .tit 樟之細路：走走步道、悠遊苗栗大湖小鎮—老官道...
                        .travel-page-tool
                            //- .icon.i-heart
                            .icon.i-link
                            .icon.i-fb
                            .icon.i-line
                            .icon.i-thumb
                    .btn-area
                        a(href="###").travel-m-btn <i class="far fa-chevron-left"></i> 返回部落格
        .travel-area.travel-pagebg02
            .travel-cont
                .travel-page-cont
                    .travel-page-txt-cont
                        .travel-page-tit 評論
                        .travel-page-common-area
                            .travel-page-common-user
                                .user-img
                                    img(src="img/default_member.svg", alt="")
                                .travel-page-common-cont
                                    //  未登入
                                    .travel-page-common-note(style="display:none") 您需要<a href="login_page.html">登入</a>才能留言。如尚未成為會員，請先<a href="register.html">註冊</a>。
                                    //  登入後
                                    .page-common-star-box
                                        -const starNum=[1,2,3,4,5];
                                        each n in starNum
                                            .star
                                                input(type="checkbox" id="star"+n).star-input
                                                .star-c.fas
                                    .travel-page-common-input
                                        input(type="text" placeholder="留言...")
                                        .sumbit
                                            img(src="img/brown_arrow_r.svg", alt="")
                                    .travel-page-robot-box 機器人驗證Box
                            -const pageCommonReq01={'img':'icon_t_user.svg','name':'雅婷','cont':'是一個非常棒的地方，會想去看看～','date':'2021/10/10'};
                            +pageCommonReq(pageCommonReq01)
                            -const pageCommonReq02={'img':'icon_t_user.svg','name':'雯雯','cont':'居然是我的家鄉，等假期去附近走走：）','date':'2021/10/10'};
                            +pageCommonReq(pageCommonReq02)
                    .travel-page-recommon
                        -const travelRecommon02={'tit':'活動月曆','sup':'各大館舍、實體展覽推薦。','img':'bg_go02.png','link':'###'}
                        +travelRecommon(travelRecommon02)
                .travel-page-more-cont
                    .tit 猜你應該會喜歡的內容
                    .travel-theme-area
                        -const linkTo='travel_blog_cont.html'
                        -const tagTo="###";
                        -const travelTheme01={'img':'travel02.png','date':'2020.11.20','tit':'置身典雅的台灣文學館，捕捉幸福的最佳地點','tagList':['歷史古蹟','文學創作','台南景點']};
                        +travelThemeBox(travelTheme01,linkTo,tagTo)
                        -const travelTheme02={'img':'travel03.png','date':'2020.10.20','tit':'文學力 —— 書寫 LÁN 臺灣常設展','tagList':['活動講座']};
                        +travelThemeBox(travelTheme02,linkTo,tagTo)
                        -const travelTheme03={'img':'travel04.png','date':'2020.11.20','tit':'浪漫台三線．214公里的踏查之旅 ─ 前往梨之鄉','tagList':['歷史古蹟','文學創作']};
                        +travelThemeBox(travelTheme03,linkTo,tagTo)
        include includes/footer_travel02

script.
    $(document).ready(function () {
        var travelPageSwiper = new Swiper('#travelPageSwiper', {
            slidesPerView: 5,
            spaceBetween: 20,
            //- initialSlide: 2,
            breakpoints: {
                1024: {
            		slidesPerView: 4,
            		spaceBetween: 20,
            	},
            	768: {
            		slidesPerView: 3,
            		spaceBetween: 10,
            	},
            	480: {
            		slidesPerView: 2,
            		spaceBetween: 10,
            	},
            },
            navigation: {
            	nextEl: '#travelPageNext',
            	prevEl: '#travelPagePrev',
            },
            //- pagination: {
            //- 	el: '#ExPage',
            //- 	clickable: true,
            //- },
        });
        //=== 點選banner換圖 ===
        $('.travel-page-img').on('click',function(){
            $('.travel-page-img').removeClass('act');
            $(this).addClass('act');
            var actImgLink=$(this).find('img').attr('src');
            $('#tMainBanner').find('img').attr('src',actImgLink);
        });
        //- $('.travel-footer-area').addClass('bg2');
        //== 星星評分 ==
        var starList=[
            {'btn':'#star1','list':['#star1']},
            {'btn':'#star2','list':['#star1','#star2']},
            {'btn':'#star3','list':['#star1','#star2','#star3']},
            {'btn':'#star4','list':['#star1','#star2','#star3','#star4']},
            {'btn':'#star5','list':['#star1','#star2','#star3','#star4','#star5']}
        ];
        $.each(starList,function(ind,val){
            var $btn=$(val.btn);
            $btn.on('click',function(){
                $('.star-input').prop('checked', false);
                $.each(val.list,function(ind,val){
                    $(val).prop('checked', true);
                });
            });
        });
        
        //== 景點popup ==
        var routeL=$('.travel-route-area').find('.travel-route-box').length;
        var routeList=[];
        for(var i = 1; i < routeL+1; i++) {
            //- printf("%d ", i);
            routeList.push(i);
        }
        $.each(routeList,function(ind,val){
            $('#route'+val).on('click',function(){
                $('#routePopup'+val).fadeIn(300);
                $('#mask').fadeIn(300);
                $('#routePopup'+val).find('.route-popup-cont').mCustomScrollbar();//內容滾輪
            });
            $('#routeSide'+val).on('click',function(){
                $('#routePopup'+val).fadeIn(300);
                $('#mask').fadeIn(300);
                $('#routePopup'+val).find('.route-popup-cont').mCustomScrollbar();//內容滾輪
            });
        })
        //= 關閉時消除滾輪 =
        $('.route-popup-close').on('click',function(){
            $('.travel-route-popup-area,#mask').fadeOut(300);
            $('.route-popup-cont').mCustomScrollbar("destroy");
        });
    });