include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		//- .page-tab-area
		//- 	.main-cont
		//- 		-const breadList={'actPage':'文學展示'}
		//- 		+breadBox(breadList)
		//- 		-const subNavList=[{'name':'作家平台','icon':'<i class="far fa-user-edit"></i>','link':'###'},{'name':'文學展示','icon':'<i class="fas fa-kaaba"></i>'},{'name':'城市解謎1','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'},{'name':'城市解謎2','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'}]
		//- 		+subNav(subNavList)
		.error-page
			.build-cont
				.error-info
					.error-txt.build-txt Sorry！網站建置中
					.error-en Coming Soon...
					a.btn(href="/") 回到首頁 / Back Home
		//- .error-page2
		//- 		.main-cont
		//- 			.turn-page-info.txt-c
		//- 				a.btn(href="/") 回到首頁 / Back Home
			
		//-內容
		include includes/footer

//- script.
//- 	$(document).ready(function(){
//- 		var link ='exhibition_cont2.html';
//- 		$('.exhibition-box').eq(1).find('.exhibition-img').attr('href',link);
//- 		$('.exhibition-box').eq(1).find('.tit').attr('href',link);
//- 		$('.exhibition-box').eq(1).find('.cont').attr('href',link);
//- 	});
