include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'共創平台 - 討論交流','link':'create_qa_list.html'}],'actPage':'發起討論交流'}
				+breadBox(breadList)
				-const back={'name':'返回交流討論','link':'create_qa_list.html'}
				+backPage(back)
				-const subNavList=[{'name':'共創文章','icon':'<i class="fal fa-pencil-alt"></i>','link':'create_platform.html'},{'name':'交流討論','icon':'<i class="fas fa-comments"></i>'}]
				+subNav(subNavList)
		.page-wrap
			.main-cont
				.page-group
					.page-cont
						.create-reply-tit
							.input-area
								label(for="title") 主題標題：
								.input-box
									input.input-sty(type="text" id="title" name="title" placeholder="請輸入標題")
						.create-reply-box
							-const replyTit={'tit':'討論內容：'}
							+replyEnter(replyTit)
					.page-side
						.communicate-btn-cont
							.reply-enter-note <i class="fas fa-comment-exclamation"></i> 注意事項
							p 請注意文章一經送出後將不可修改，文章請勿涉及人身攻擊與辱罵，共同創造友善良好的討論空間，謝謝


		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		var lang = getCookie('CacheLang');//語系
		var reqTxt;
		lang== 'zh' ? reqTxt= '必填' : reqTxt= 'Required';
		var validator = $("#setForm").validate({
			messages:{
				title:{
					required: reqTxt,
				},
				reply:{
					required: reqTxt,
				}
			},
			submitHandler: function (form) {
				//- alert("完成");
				//- 資料修改完成！
				alertTxt('資料修改完成！');
				//- form.submit();
			}
		});
	});
