include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'共創平台 - 共創文章','link':'create_platform.html'}],'actPage':'陳允元：台灣文青的歧路——劉吶鷗的《新文藝日記》1927'}
				+breadBox(breadList)
				-const back={'name':'返回共創平台','link':'create_platform.html'}
				+backPage(back)
				-const subNavList=[{'name':'共創文章','icon':'<i class="fal fa-pencil-alt"></i>'},{'name':'交流討論','icon':'<i class="fas fa-comments"></i>','link':'create_qa_list.html'}]
				+subNav(subNavList)
		.inner-single-page.article-cont-area
			.main-cont
				.article-cont-banner(style="background: url(img/art_banner.jpg) no-repeat center center/cover")
					h2 陳允元：台灣文青的歧路——劉吶鷗的《新文藝日記》1927
				.article-cont-info
					.article-maker
						.name 作者：<span>陳允元</span>
						.date 2019/12/09
					.article-share
						// v5 add
						.num <i class="fas fa-eye"></i>：<span>559</span>
						.coll-heart-box
							.collect-tag <i class="fas fa-heart"></i> 66
							.collect-btn <i class="fas fa-heart"></i> 加入收藏
							// .collect-btn.on <i class="fas fa-heart"></i> 已加入收藏
						// v5 add end
						//- .article-banner-share.share-btn-box
						//- 	a(href="###")
						//- 		i(class="far fa-check")
						//- 		| 讚 <span>234</span>
						//- 	a(href="###") 分享
				.edit-area
					.edit-box
						p 【我們為什麼挑選這件藏品】
						p 劉吶鷗以「台灣人」的身分而為故鄉台灣認識，是非常晚近的事。他出生於日本時代的柳營、留學東京，後赴上海發展，奠定了「上海新感覺派」基礎。在戰後中國，由於獨尊現實主義左翼文學，現代主義的價值要到80年代才被重新肯定。而在這波浪潮中被發現的劉吶鷗，是被與施蟄存、穆時英等一同視為中國作家的。隨著史料出土，劉吶鷗的台灣身分逐漸廓清，並在2001年由台南縣文化局出版全集，正式回到故鄉台灣。
						p 除了以「台灣人」身分重新受到矚目，劉吶鷗也因為他依違於殖民地台灣、帝國日本與租界地上海的曖昧身分、混雜的語言使用、摩登前衛的美學光譜、多面向的藝術參與而被稱為「世界人」。也就是說，他是不被民族與國籍束縛的、藝術至上的世界主義者。但我始終覺得，「世界人」這個看似超越一切疆界藩籬、優游自在的形象，事實上正疊覆著其身為殖民地人苦澀的暗面，以及東亞情勢洶湧的暗潮。否則，他為什麼要離鄉背井、模糊身分，到他其實也並不喜歡的上海去當一個「世界人」呢？
						p 劉吶鷗可說是日本時代台灣的初代文青。台文館藏的劉吶鷗日記，紀錄的正是他頻繁越境於台灣、東京、上海之間而終於下定決心的1927年。到了日語世代形成、文青輩出的1930年代，那些他並不認識的文青晚輩們如翁鬧、巫永福、風車詩人們，也在有限的選項中做著人生的抉擇。殖民地的文青要往何處去？對於文青而言，這幾座東亞都市究竟意味著什麼？是什麼使他們熱血沸騰、又是什麼讓他們躑躅不前？這些都是很有趣的問題。而他們當初所下的決定，如今都交織成了我們的臺灣文學史。歷史沒有如果。但在正式翻開之前，它曾也是一張多歧路的卷軸。
						img.img-l(src="img/txt_img01.jpg", alt="")
						<br>
						p 這本日記的企畫出版者，是1904年創立、以文藝類書籍雜誌聞名的新潮社。翻開日記我們可以看到，上欄是以菊池寬（1888-1948）為首一字排開的十二位當月作家；下欄則說明它的出版緣起與定位：「本日記，去年改名為《新文藝日記》，以煥然一新的樣態面世，獲得預期以上的好評，發行部數創下創刊以來的紀錄。本年，我們在卷頭刊載『文壇寫真畫報』，卷末則附上『文藝年鑑』等，在各處改變面貌，裝幀也變得藝術感十足。作為文藝愛好者桌上一年的伴侶，本年也殷切期盼能夠大受歡迎。」除了卷頭多達八頁的文壇寫真畫報，每月的初始也刊有當月作家的親筆題辭、日記選錄、西洋文藝家介紹。月中則插入小品文、詩、短歌的「懸賞募集」用紙，使用者可將作品撕下寄回編輯部參加徵稿。卷末厚達五十九頁的「文藝年鑑」，包含由文壇名家撰寫的各文類年度文壇概觀、文壇大事記、現代文士錄等，內容相當豐富。就算是廣告頁，也是滿滿的文藝書籍介紹，可視為給文藝愛好者的推薦閱讀目錄。如同研究者徐禎苓所說的，這是一本作為「文藝商品」的日記。它不僅販賣給文青，也用來培養文青。
						img.img-r(src="img/txt_img02.jpg", alt="")
						p 而台文館藏的這本日記的使用者，是奠定了「上海新感覺派」之基礎的台灣青年劉吶鷗（本名劉燦波，1905-1940）。他可以說是日本時代殖民地台灣的初代文青。
						p 在新文學初啟的1920年代台灣，文學是作為社會運動之一環存在的。此時寫下作品的台灣青年們，將文學（特別是小說）視為文化啟蒙或殖民抵抗的手段。他們不是因為想成為作家，而是基於知識分子的社會民族責任而寫。也許我們可以說這些作品是一種「覺青的文學」、「憤青的文學」吧。但1930年代就不太一樣了，台灣開始出現了所謂的「文學志向者」。其外在原因是，日本政府在走向法西斯化、對外發動侵略的同時，對國內反政府勢力的鎮壓也日趨嚴峻，包括其統治下的殖民地台灣。1920年代曾經風起雲湧的各種政治社會運動於是由盛轉衰，失去實質的運動空間的知識分子，只能轉戰文學界。但更重要的內在原因是，隨著新文學發展的日益成熟、以及更年輕一輩的日語世代青年的登場，以作家為志向的「台灣文青」也於焉誕生。
					.btn-area
						a(href="create_platform.html").btn <i class="far fa-angle-left"></i> <span>返回共創平台</span>
					.article-share.edit-share
						.num 瀏覽人數：<span>559</span>
						.article-banner-share.share-btn-box
							a(href="###")
								i(class="far fa-check")
								| 讚 <span>234</span>
							a(href="###") 分享
				.more-article-link-area
					.more-article-link-box
						.more-article-link-tit 推薦文章
						.recom-link
							-const recomLinkImg01={"background": "url(img/recom_img01.png) no-repeat center center/cover"};
							-const recomLink01={'img':recomLinkImg01,'tit':'台灣當代影像：持攝影機的男人－劉吶鷗'}
							+recomLinkBox(recomLink01)
							-const recomLinkImg02={"background": "url(img/recom_img02.png) no-repeat center center/cover"};
							-const recomLink02={'img':recomLinkImg02,'tit':'李香蘭和劉吶鷗的一段情？！'}
							+recomLinkBox(recomLink02)
							-const recomLinkImg03={"background": "url(img/recom_img01.png) no-repeat center center/cover"};
							-const recomLink03={'img':recomLinkImg03,'tit':'東亞解剖台：作為日記電影的《持攝影機的男人》與跨界合作'}
							+recomLinkBox(recomLink03)
							-const recomLinkImg04={"background": "url(img/recom_img02.png) no-repeat center center/cover"};
							-const recomLink04={'img':recomLinkImg04,'tit':'台灣當代影像：持攝影機的男人－劉吶鷗'}
							+recomLinkBox(recomLink04)
							-const recomLinkImg05={"background": "url(img/recom_img01.png) no-repeat center center/cover"};
							-const recomLink05={'img':recomLinkImg05,'tit':'李香蘭和劉吶鷗的一段情？！'}
							+recomLinkBox(recomLink05)
					.more-article-link-box
						.more-article-link-tit 標籤
						.more-tag
							-const moreTagLink=['大事記','臺灣文學','文化','文青','政治','小說']
							each n in moreTagLink
								a(href="###") ##{n}
						.more-article-link-tit 我要留言
						.send-msg-nulog 您需要<a href="login_page.html">登入</a>才能留言。如尚未成為會員，請先<a href="register.html">註冊</a>。
						.send-msg-box
							.textarea-box
								textarea#sendMsg.send-msgs-sty(name="sendMsg" placeholder="請輸入留言...")
							.send-btn-area
								.send-btn.btn 送出
						.more-article-link-tit 留言
						.article-msg-box
							//- 一般留言者
							.article-msg
								.user-img(style="background: url(img/maker.png) no-repeat center center/cover")
								.user-box
									.user-name Truesun
									.user-info
										.acc truesun@gmail.com
										.date 2019/09/09
								.article-msg-cont
									.cont 有人知道這本書的出處嗎？
							//- 文學小編
							.article-msg.editer-article-msg
								.user-box
									.user-info
										.date 2019/09/09
										.acc 文學小編
								.user-img.editer-img
								.article-msg-cont
									.cont Truesun你好～全台各大書店，譬如誠品、金石堂或是小北百或皆可購買喔～小北還有買一送一活動～不要錯過喔
							//- 一般留言者
							.article-msg
								.user-img(style="background: url(img/default_user.png) no-repeat center center/cover")
								.user-box
									.user-name Truesun
									.user-info
										.acc truesun@gmail.com
										.date 2019/09/09
								.article-msg-cont
									.cont 有人知道這本書的出處嗎？
		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		//輸入匡必填
		var lang = getCookie('CacheLang');//語系
		var reqTxt;
		lang== 'zh' ? reqTxt= '必填' : reqTxt= 'Required';
		var validator = $("#replyForm").validate({
			messages:{
				reply:{
					required: reqTxt,
				},
			},
			submitHandler: function (form) {
				//- alert("完成");
				//- 資料修改完成！
				alertTxt('資料修改完成！');
				//- form.submit();
			}
		});
	});
