include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'actPage':'共創平台 - 討論交流'}
				+breadBox(breadList)
				-const subNavList=[{'name':'共創文章','icon':'<i class="fal fa-pencil-alt"></i>','link':'create_platform.html'},{'name':'交流討論','icon':'<i class="fas fa-comments"></i>'}]
				+subNav(subNavList)
		.page-wrap
			.main-cont
				.page-group
					.page-cont
						ul.communicate-list
							li.tit
								.list
									div 主題
									div <i class="fas fa-comment-dots"></i> 發布時間
									div <i class="fas fa-clock"></i> 最後回覆時間
									div <i class="fas fa-comments-alt"></i> 回應數
							-const commList=[{'tit':'請問文章哪裡可以取得授權？我想發表到我的部落格文章內，但不','last':{'name':'skypeorff','date':'2020-10-10 23:12:22'},'num':'123'},{'tit':'關於葉石濤的介紹～我有點疑問'},{'tit':'關於葉石濤的介紹～我有點疑問'},{'tit':'關於葉石濤的介紹～我有點疑問'},{'tit':'關於葉石濤的介紹～我有點疑問'}]
							each n,i in commList
								li
									a(href="create_qa_cont.html").list
										div
											<i class="fas fa-pen-square"></i>
											.tit-cont #{n.tit}
										div
											.mb-tit <i class="fas fa-comment-dots"></i> 發布時間
											span truesun
											span.date 2020-10-10 23:12:22
										div
											.mb-tit <i class="fas fa-clock"></i> 最後回覆時間
											if n.last
												span #{n.last.name}
												span.date #{n.last.date}
											else
												| -
										div
											.mb-tit <i class="fas fa-comments-alt"></i> 回應數
											if n.num
												span #{n.num}
											else
												span -
						+pagination
					.page-side
						.communicate-btn-cont.side-fixed
							a(href="create_qa.html").communicate-btn <i class="fas fa-comment-exclamation"></i> 我要發起討論
							p 
								| 歡迎來到交流討論區。<br>
								| 親愛的使用者您好，在發起討論之前，請先<a href="###" target="_blank">閱讀並同意討論區相關規則</a>，這些規則保證討論區仍然是一個令所有用戶愉快、有條理且易於訪問的地方。
							p 如有違規行為，將對其帳戶作出警告或暫時/永久性封鎖。
		//-內容
		include includes/footer
