include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'共創平台 - 討論交流','link':'create_qa_list.html'}],'actPage':'討論交流'}
				+breadBox(breadList)
				-const back={'name':'返回交流討論','link':'create_qa_list.html'}
				+backPage(back)
				-const subNavList=[{'name':'共創文章','icon':'<i class="fal fa-pencil-alt"></i>','link':'create_platform.html'},{'name':'交流討論','icon':'<i class="fas fa-comments"></i>'}]
				+subNav(subNavList)
		.page-wrap
			.main-cont
				.page-group
					.page-cont
						.communicate-cont-area
							h2 臺灣文學界的霸主是誰
							.communicate-maker-box
								.maker-box
									.maker-photo
										img(src="img/maker.png", alt="")
									.maker-name 發問人<span>okcool</span>說：
								.comm-info-box
									.comm-msg <i class="fas fa-comments-alt"></i> 已有<span>5</span>篇回應
									.comm-time <i class="fas fa-clock"></i> 日期：<span>2020-10-10 23:12:22</span>
							.communicate-cont
								.communicate-txt-box
									p
										| 張曉風女士？地毯的那一端.我在<br>
										| 席慕容女士？以詩之名.七里香<br>
										| 請問台灣現在文學界的領袖（霸主）是誰呢？？？
								.admin-reply-box.reply-article
									div <i class="far fa-reply-all"></i> <span class="reply-name">文學小編</span>說：
									p 依小編之主見，當仁不讓席慕容女士，話說席慕容女士在1972年便以七里香之名
								.communicate-reply-enter-box#replyBox
									-const replyTit={'tit':'<i class="fas fa-reply"></i> 回應主題：'}
									+replyEnter(replyTit)
								.communicate-reply-box
									.reply-info-box
										div <i class="fas fa-reply"></i><span class="reply-name">aaalan</span>回應說：
										.reply-time <i class="fas fa-clock"></i> 回覆日期：<span>2020-10-10 23:12:22</span>
									.reply-txt
										p
											| 難得台文所肥宅可以回應這問題<br>
											| 在這裡要先稱讚你一點是你至少知道台灣有文學<br>
											| 老一輩的人有時會有種概念，認為台灣並沒有文學
										p
											| 他們那一輩認為，台灣的文學最多就是「在台灣的中國文學」<br>
											|「臺灣文學」一詞能夠出現，也是自1970、80年代的幾次筆戰之後<br>
											| 才慢慢光明正大出現的
								.communicate-reply-box
									.reply-info-box
										div <i class="fas fa-reply"></i><span class="reply-name">aaalan</span>回應說：
										.reply-time <i class="fas fa-clock"></i> 回覆日期：<span>2020-10-10 23:12:22</span>
									.reply-txt
										p 小編專業給推
									.admin-reply-box
										div <i class="far fa-reply-all"></i> <span class="reply-name">文學小編</span>說：
										p 感謝你的支持
										
								.communicate-reply-box
									.reply-info-box
										div <i class="fas fa-reply"></i><span class="reply-name">aaalan</span>回應說：
										.reply-time <i class="fas fa-clock"></i> 回覆日期：<span>2020-10-10 23:12:22</span>
									.reply-txt
										.reply-alert 此內容可能違反規定或涉嫌洗版，已將內容屏蔽

					.page-side
						.communicate-btn-cont.side-fixed
							.communicate-btn.communicate-btn2#replyBtn <i class="fas fa-comments-alt"></i> 我要回應主題
							a(href="create_qa.html").communicate-btn <i class="fas fa-comment-exclamation"></i> 我要發起討論
							p 
								| 歡迎來到交流討論區。<br>
								| 親愛的使用者您好，在發起討論之前，請先<a href="###" target="_blank">閱讀並同意討論區相關規則</a>，這些規則保證討論區仍然是一個令所有用戶愉快、有條理且易於訪問的地方。
							p 如有違規行為，將對其帳戶作出警告或暫時/永久性封鎖。


		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		//回應輸入匡 打開 隱藏
		var $replyBox=$('#replyBox');
		$('#replyBtn').on('click',function(){
			var replyBoxS=$('#replyBox').is(':visible');
			if(replyBoxS){
				$replyBox.hide();
			}else{
				$replyBox.show();
			}
		});
		$('#cancelReply').on('click',function(){
			$replyBox.hide();
		});
		//輸入匡必填
		var lang = getCookie('CacheLang');//語系
		var reqTxt;
		lang== 'zh' ? reqTxt= '必填' : reqTxt= 'Required';
		var validator = $("#askForm").validate({
			messages:{
				sendMsg:{
					required: reqTxt,
				},
			},
			submitHandler: function (form) {
				//- alert("完成");
				//- 資料修改完成！
				alertTxt('資料修改完成！');
				//- form.submit();
			}
		});
	});
