include includes/en/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/en/nav
		.page-tab-area
			.main-cont
				-const breadList={'actPage':'Maker Space - Maker Articles'}
				+breadBox(breadList)
				-const subNavList=[{'name':'Maker Articles','icon':'<i class="fal fa-pencil-alt"></i>'},{'name':'Forum','icon':'<i class="fas fa-comments"></i>','link':'create_qa_list.html'}]
				+subNav(subNavList)
		.article-banner-area
			.main-cont
				.creat-src-box
					.creat-src
						input(type="text", name="" placeholder="Search Maker Articles...")
					.creat-src-btn
						i(class="fas fa-search")
						| Search
				.article-banner-cont
					a.article-banner-img(href="create_platform_cont_en.html" style="background: url(img/article01.jpg) no-repeat center center/cover")
						img(src="img/article01.jpg", alt="")
					.article-banner-box
						.article-banner-info
							.date 2019/01/09
							a(href="create_platform_cont_en.html").tit Sheng Haowei: The Burning Point of Poetry ──The story of "Letter from Tada Nanming to Guo Shuitan" and "Nanming Paradise" New Year No. 4
							a(href="create_platform_cont_en.html").cont
								p
									|【 Why did we choose this collection 】<br>
									| Hanging around in the bookstore, maybe we are all used to displaying a magazine or a book on the shelf. But behind the publication of these books, even newspapers, magazines, and articles, there are many detailed communications, discussions and struggles that most readers cannot see. And there are many creators who are writing...
						.article-banner-tag-box
							.article-banner-tag.gin-tag-box
								a(href="###") #literature
								a(href="###") #female
								a(href="###") #music
							.article-banner-share.share-btn-box
								a(href="###")
									i(class="far fa-check")
									| like <span>234</span>
								a(href="###") Share
		.creat-article-list-area
			.main-cont
				.creat-article-tag-box
					.creat-article-tag-tit
						div Representative Tag
						.creat-article-tag-more#moreTagBtn Show All
							i(class="far fa-angle-down")
					.creat-article-tag.gin-tag-box
						.article-all-tag#articleAllTagBox
							-const tagList=['memorabilia','political','United Literature','film','White horror','Aboriginal','modern','political','United Literature','film','White horror','Aboriginal','modern']
								each n,i in tagList
									a(href="###") ##{n}
				.creat-article-list
					-const creatArtImg01={"background": "url(img/art_list01.jpg) no-repeat center center/cover"};
					-const creatArt01={'img':creatArtImg01,'date':'2019/01/03','tit':'Zheng Qinghong: That year, they used literature to circle the island - Zhang Shenqi','txt':'In 2007, after the movie "Etudes" by cycling around the island was released, Taiwan set off a wave of "circle the island fever", whether it was taking a train, driving a car, riding a motorcycle...','maker':'Zheng Qinghong'}
					+creatArt(creatArt01)
					-const creatArtImg02={"background": "url(img/art_list01.jpg) no-repeat center center/cover"};
					-const creatArt02={'img':creatArtImg02,'date':'2019/01/03','tit':'Xiong Yiping: From now on, rock is not just music','txt':'The independent orchestra sings the aspirations of contemporary young people, but do you know what independent music is? If you say','maker':'Xiong Yiping'}
					+creatArt(creatArt02)
					-const creatArtImg03={"background": "url(img/art_list01.jpg) no-repeat center center/cover"};
					-const creatArt03={'img':creatArtImg03,'date':'2019/01/03','tit':'Chen Yunyuan: A Survivor of Time──The Windmill Issue 3','txt':'The independent orchestra sings the aspirations of contemporary young people, but do you know what independent music is? If it is said that the independent orchestra sings the aspirations of contemporary young people, do you know what independent music is? If you say','maker':'Chen Yunyuan'}
					+creatArt(creatArt03)
					-const creatArtImg04={"background": "url(img/art_list01.jpg) no-repeat center center/cover"};
					-const creatArt04={'img':creatArtImg04,'date':'2019/01/03','tit':'Zheng Qinghong: That year, they used literature to circle the island-the story of Zhang Shenqie and the "Taiwan Literature and Art League"','txt':'In 2007, after the movie "Etudes" by cycling around the island was released, Taiwan set off a wave of "circle the island fever", whether it was taking a train, driving a car, riding a motorcycle...','maker':'Zheng Qinghong'}
					+creatArt(creatArt04)
				+pagination
		//-內容
		include includes/en/footer

script.
	$(document).ready(function(){
		//標籤打開 隱藏
		$('#moreTagBtn').on('click',function(){
			var tagOpen=$('#articleAllTagBox').hasClass('act-open');
			if(tagOpen){
				$('#articleAllTagBox').removeClass('act-open');
				$('#moreTagBtn').find('i').removeClass('fa-angle-up');
				$('#moreTagBtn').find('i').addClass('fa-angle-down');
			}else{
				$('#articleAllTagBox').addClass('act-open');
				$('#moreTagBtn').find('i').addClass('fa-angle-up');
				$('#moreTagBtn').find('i').removeClass('fa-angle-down');
			}
		});
	});
