include includes/en/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/en/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'Maker Space - Maker Articles','link':'create_platform_en.html'}],'actPage':'Chen Yunyuan: The Forked Road of Taiwanese Culture and Youth—— Liu Naou‘s "New Literature and Art Diary" 1927'}
				+breadBox(breadList)
				-const back={'name':'Back','link':'create_platform_en.html'}
				+backPage(back)
				-const subNavList=[{'name':'Maker Articles','icon':'<i class="fal fa-pencil-alt"></i>'},{'name':'Forum','icon':'<i class="fas fa-comments"></i>','link':'create_qa_list.html'}]
				+subNav(subNavList)
		.inner-single-page.article-cont-area
			.main-cont
				.article-cont-banner(style="background: url(img/art_banner.jpg) no-repeat center center/cover")
					h2 Chen Yunyuan: The Forked Road of Taiwanese Culture and Youth—— Liu Naou‘s "New Literature and Art Diary" 1927
				.article-cont-info
					.article-maker
						.name Author：<span>Chen Yunyuan</span>
						.date 2019/12/09
					.article-share
						.num Visits：<span>559</span>
						.article-banner-share.share-btn-box
							a(href="###")
								i(class="far fa-check")
								| like <span>234</span>
							a(href="###") Share
				.edit-area
					.edit-box
						p 【Why did we choose this collection】
						p It is very late for Liu Naou to get to know his hometown of Taiwan as a "Taiwanese." He was born in Liuying in the Japanese era, studied in Tokyo, and then went to Shanghai to develop, laying the foundation for the "Shanghai New Sensation School". In post-war China, due to the dominance of realist left-wing literature, the value of modernism was not reaffirmed until the 1980s. Liu Naou, who was discovered in this wave, is regarded as a Chinese writer along with Shi Zhecun and Mu Shiying. As historical materials were unearthed, Liu Naou's Taiwan identity was gradually clarified. In 2001, the complete collection was published by the Tainan County Cultural Bureau and officially returned to his hometown of Taiwan.
						p In addition to regaining attention as a "Taiwanese", Liu Naou was also known for his ambiguous identity, mixed language use, modern and avant-garde aesthetic spectrum, and multi-faceted artistic participation in colonial Taiwan, imperial Japan, and concession Shanghai. Called "World People". In other words, he is an artistic cosmopolitan who is not bound by nation and nationality. But I always feel that the image of "world people", which seems to transcend all borders and freedom of travel, is in fact overlying the bitter side of being a colonist and the turbulent undercurrent of East Asia. Otherwise, why should he leave his hometown and lose his identity, and become a "world man" in Shanghai, which he actually doesn't like?
						p Liu Naou can be said to be the first literary youth of Taiwan in the Japanese era. The diary of Liu Naou in the Taiwanese Collection records the year of 1927 when he frequently crossed the border between Taiwan, Tokyo and Shanghai and finally made up his mind. In the 1930s, when the Japanese generation was formed and the younger generations of scholars emerged, those younger generations who he did not know, such as Weng Nao, Wu Yongfu, and the windmill poets, were also making life choices among limited options. Where are the cultural youths in the colonies going? For Wenqing, what do these East Asian cities mean? What makes them excited, and what makes them hesitate? These are very interesting questions. The decisions they made at the beginning are now intertwined into our history of Taiwanese literature. History has no ifs. But before it was officially opened, it was also a divergent scroll.
						img.img-l(src="img/txt_img01.jpg", alt="")
						<br>
						p The planning and publisher of this diary is Xinchaosha, founded in 1904 and known for its literature and art books and magazines. Looking at the diary, we can see that the upper column is the twelve writers of the month headed by Hiroshi Kikuchi (1888-1948); the lower column explains its publication origin and positioning: "This diary was renamed last year." "New Literary Diary" was released in a completely new style and received more than expected praise. The number of publications set a record since its inception. This year, we published the "Literary and Art Pictorial" on the front of the volume and the "Literary Yearbook" at the end of the volume. It has changed its appearance everywhere, and the decoration has become full of artistic sense. As a companion for a year on the table of art lovers, I am eagerly looking forward to being popular this year.” In addition to the eight-page literary pictorial, At the beginning of each month, there are also autographs, diary selections, and introductions by Western artists of the month. In the middle of the month, the "reward solicitation" papers for essays, poems, and short songs are inserted, and users can tear off the work and send it back to the editorial department for submission. The 59-page "Literary and Art Yearbook" at the end of the volume contains an annual overview of the literary world, memorabilia of the literary world, and a list of modern scribes, etc., written by famous literary figures. The content is quite rich.
						img.img-r(src="img/txt_img02.jpg", alt="")
						p The user of this diary in the Taiwanese Collection is Liu Naou (real name Liu Canbo, 1905-1940), a young Taiwanese who laid the foundation of the "Shanghai New Feeling School". He can be said to be the first literary youth of Taiwan, a colony in the Japanese era.
						p In Taiwan in the 1920s when the new literature began, literature existed as a link of social movements. The young people in Taiwan who wrote works at this time regarded literature (especially novels) as a means of cultural enlightenment or colonial resistance. They did not want to be writers, but based on the social and national responsibility of intellectuals. Perhaps we can say that these works are a kind of "jueqing literature" or "angry youth literature." But it was different in the 1930s. So-called "literary aspirants" began to appear in Taiwan. The external reason is that while the Japanese government is moving towards fascism and launching aggression abroad, its suppression of domestic anti-government forces has become increasingly severe, including Taiwan, the colony under its rule. The various political and social movements that were surging in the 1920s turned from prosperity to decline. Intellectuals who lost their physical space for movement could only move to the literary world. But the more important internal reason is that with the maturity of the development of new literature and the appearance of younger generations of Japanese youth, the "Taiwanese literary youth" with the ambition of writers was also born.
					.btn-area
						a(href="create_platform_en.html").btn <i class="far fa-angle-left"></i> <span>Back</span>
					.article-share.edit-share
						.num Visits：<span>559</span>
						.article-banner-share.share-btn-box
							a(href="###")
								i(class="far fa-check")
								| like <span>234</span>
							a(href="###") Share
				.more-article-link-area
					.more-article-link-box
						.more-article-link-tit Recommended
						.recom-link
							-const recomLinkImg01={"background": "url(img/recom_img01.png) no-repeat center center/cover"};
							-const recomLink01={'img':recomLinkImg01,'tit':'Taiwan Contemporary Video: The Man with a Camera-Liu Naou'}
							+recomLinkBox(recomLink01)
							-const recomLinkImg02={"background": "url(img/recom_img02.png) no-repeat center center/cover"};
							-const recomLink02={'img':recomLinkImg02,'tit':'A relationship between Li Xianglan and Liu Naou？！'}
							+recomLinkBox(recomLink02)
							-const recomLinkImg03={"background": "url(img/recom_img01.png) no-repeat center center/cover"};
							-const recomLink03={'img':recomLinkImg03,'tit':'East Asia Anatomy Station: As a diary film "Man with a Camera" and cross-border cooperation'}
							+recomLinkBox(recomLink03)
							-const recomLinkImg04={"background": "url(img/recom_img02.png) no-repeat center center/cover"};
							-const recomLink04={'img':recomLinkImg04,'tit':'Taiwan Contemporary Video: The Man with a Camera-Liu Naou'}
							+recomLinkBox(recomLink04)
							-const recomLinkImg05={"background": "url(img/recom_img01.png) no-repeat center center/cover"};
							-const recomLink05={'img':recomLinkImg05,'tit':'A relationship between Li Xianglan and Liu Naou？！'}
							+recomLinkBox(recomLink05)
					.more-article-link-box
						.more-article-link-tit Tag
						.more-tag
							-const moreTagLink=['memorabilia','film','culture','hipster','political','Fiction']
							each n in moreTagLink
								a(href="###") ##{n}
						.more-article-link-tit Leave Comments
						.send-msg-nulog You need to<a href="login_page.html">log in</a>to leave a message. If you have not yet become a member, please<a href="register.html">register</a>first.
						.send-msg-box
							textarea#sendMsg.send-msgs-sty(name="sendMsg" placeholder="Please enter a message...")
							.send-btn-area
								.send-btn.btn Send
						.more-article-link-tit Comments
						.article-msg-box
							//- 一般留言者
							.article-msg
								.user-img(style="background: url(img/maker.png) no-repeat center center/cover")
								.user-box
									.user-name Truesun
									.user-info
										.acc truesun@gmail.com
										.date 2019/09/09
								.article-msg-cont
									.cont Does anyone know the source of this book?
							//- 文學小編
							.article-msg.editer-article-msg
								.user-box
									.user-info
										.date 2019/09/09
										.acc Literary Editor
								.user-img.editer-img
								.article-msg-cont
									.cont Hello, Truesun~ All major bookstores in Taiwan, such as Eslite, Jinshitang or Xiaobeibai, can buy it~ Xiaobei also has a buy one get one free event~ Don’t miss it!
		//-內容
		include includes/en/footer

script.
	$(document).ready(function(){

	});
