include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'actPage':'共創平台 - 共創文章'}
				+breadBox(breadList)
				-const subNavList=[{'name':'共創文章','icon':'<i class="fal fa-pencil-alt"></i>'},{'name':'交流討論','icon':'<i class="fas fa-comments"></i>','link':'create_qa_list.html'}]
				+subNav(subNavList)
		.article-banner-area
			.main-cont
				.creat-src-box
					.creat-src
						input(type="text", name="" placeholder="搜尋共創平台文章...")
					.creat-src-btn
						i(class="fas fa-search")
						| 搜尋文章
				.article-banner-cont
					a.article-banner-img(href="create_platform_cont.html" style="background: url(img/article01.jpg) no-repeat center center/cover")
						img(src="img/article01.jpg", alt="")
					.article-banner-box
						.article-banner-info
							// v5 add
							.coll-heart-icon-box.collectHBtn
								.coll-heart
							// v5 add end
							.date 2019/01/09
							a(href="create_platform_cont.html").tit 盛浩偉：詩的燃點 ──〈多田南溟致郭水潭函〉與《南溟樂園》新春第四號的故事
							a(href="create_platform_cont.html").cont
								p
									|【我們為什麼挑選這個藏品】<br>
									| 在書店裡面閒晃，或許我們都習慣了一本雜誌或一本書展示在書架上。但這些書籍的出版，乃至於報章雜誌、文章刊登的背後，有許多細緻的溝通、討論與掙扎，是大多數讀者看不見的。而有許多創作者，在寫作...
							// v5 add
							.collect-tag <i class="fas fa-heart"></i> 66
							// v5 add end
						.article-banner-tag-box
							.article-banner-tag.gin-tag-box
								a(href="###") #文學
								a(href="###") #女性
								a(href="###") #音樂
							.article-banner-share.share-btn-box
								a(href="###")
									i(class="far fa-check")
									| 讚 <span>234</span>
								a(href="###") 分享
		.creat-article-list-area
			.main-cont
				.creat-article-tag-box
					.creat-article-tag-tit
						div 代表標籤
						.creat-article-tag-more#moreTagBtn 顯示全部標籤
							i(class="far fa-angle-down")
					.creat-article-tag.gin-tag-box
						.article-all-tag#articleAllTagBox
							#articleAllInnerTagBox
								-const tagList=['大事記','政治','聯合文學','電影','白色恐怖','原住民','現代','政治','聯合文學','電影','白色恐怖']
									each n,i in tagList
										a(href="###") ##{n}
				.creat-article-list
					-const creatArtImg01={"background": "url(img/art_list01.jpg) no-repeat center center/cover"};
					-const creatArt01={'img':creatArtImg01,'date':'2019/01/03','tit':'鄭清鴻：那一年，他們用文學環島──張深切','txt':'2007年，單車環島電影《練習曲》上映後，臺灣掀起一波「環島熱」，不管是搭火車、開車、騎機車...','maker':'鄭清鴻'}
					+creatArt(creatArt01)
					-const creatArtImg02={"background": "url(img/art_list01.jpg) no-repeat center center/cover"};
					-const creatArt02={'img':creatArtImg02,'date':'2019/01/03','tit':'熊一蘋：從此以後，搖滾不只是音樂','txt':'獨立樂團唱出當代年輕人的心聲，但你知道什麼是獨立音樂嗎？如果一時說...','maker':'熊一蘋'}
					+creatArt(creatArt02)
					-const creatArtImg03={"background": "url(img/art_list01.jpg) no-repeat center center/cover"};
					-const creatArt03={'img':creatArtImg03,'date':'2019/01/03','tit':'陳允元：時間的倖存者──《風車》第三期','txt':'獨立樂團唱出當代年輕人的心聲，但你知道什麼是獨立音樂嗎？如果一時說獨立樂團唱出當代年輕人的心聲，但你知道什麼是獨立音樂嗎？如果一時說...','maker':'陳允元'}
					+creatArt(creatArt03)
					-const creatArtImg04={"background": "url(img/art_list01.jpg) no-repeat center center/cover"};
					-const creatArt04={'img':creatArtImg04,'date':'2019/01/03','tit':'鄭清鴻：那一年，他們用文學環島──張深切與「臺灣文藝聯盟」的故事','txt':'2007年，單車環島電影《練習曲》上映後，臺灣掀起一波「環島熱」，不管是搭火車、開車、騎機車...','maker':'鄭清鴻'}
					+creatArt(creatArt04)
				+pagination
		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		//如果超過這個高度才有更多鈕
		hideMoreBtn();
		//標籤打開 隱藏
		$('#moreTagBtn').on('click',function(){
			var tagOpen=$('#articleAllTagBox').hasClass('act-open');
			if(tagOpen){
				$('#articleAllTagBox').removeClass('act-open');
				$('#moreTagBtn').find('i').removeClass('fa-angle-up');
				$('#moreTagBtn').find('i').addClass('fa-angle-down');
			}else{
				$('#articleAllTagBox').addClass('act-open');
				$('#moreTagBtn').find('i').addClass('fa-angle-up');
				$('#moreTagBtn').find('i').removeClass('fa-angle-down');
			}
		});
	});
	$(window).resize(function () {
		hideMoreBtn();
	});

	//如果超過這個高度才有更多鈕
	function hideMoreBtn(){
		var tagsH = $('#articleAllInnerTagBox').outerHeight();
		if(tagsH < 32){
			$('#moreTagBtn').hide();
		}else{
			$('#moreTagBtn').show();
		}
	}
