include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'文學展示','link':'exhibition_list_p2.html'},{'name':'逆旅．一九四九：臺灣戰後移民文學展','link':'exhibition_cont_p2.html'}],'actPage':'不只是異鄉'}
				+breadBox(breadList)
				-const back={'name':'返回文學展示','link':'exhibition_cont_p2.html'}
				+backPage(back)
				-const subNavList=[{'name':'作家平台','icon':'<i class="far fa-user-edit"></i>','link':'###'},{'name':'文學展示','icon':'<i class="fas fa-kaaba"></i>'},{'name':'城市解謎1','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'},{'name':'城市解謎2','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'}]
				+subNav(subNavList)
		.page-wrap.inner-single-page.ex-page-wrap
			.main-cont
				.exhibition-banner-box
					//.article-cont-banner(style="background: url(img/ex_banner.jpg) no-repeat center center/cover")
					.exhibition-sub-banner.no-bg
						.exhibition-sub.exhibition-article-sub
							.exhibition-sub-img(style="background: url(img/ex_img02.jpg) no-repeat center center/cover")
								img(src="img/ex_img01.jpg", alt="")
							.exhibition-btn-box
								h2 逆旅．一九四九：臺灣戰後移民文學展
								.exhibition-article-tit 不只是異鄉
							.exhibition-sub-share
								.share-btn-box
									a(href="###")
										i(class="far fa-check")
										| 讚 <span>234</span>
									a(href="###") 分享
		.page-wrap.ex-edit-wrap
			.main-cont
				h3.exhibition-tit 展覽介紹
				.exhibition-article-maker 作者：<span>獨立評論在天下</span>
				// 新增項目 - 第二階段
				.src-tag-list.exhibition-article-tag-list
					.gin-tag-box
						a(href="###") #臺灣文學
						a(href="###") #臺灣府城
						a(href="###") #臺灣NO.1
				// 新增項目 END - 第二階段
				.edit-area.ex-edit-area.ex-inner-edit-area#exEditArea
					.edit-box
						img.for-icon(src="img/icon_w.png", alt="") 
						span(style="font-size:30px") 標題標題
						p
							| 臺灣人記憶中的戰爭，是從太平洋戰爭開始的。一九四二年，不少青年為了報效天皇，自願到南洋打仗；而在老百姓的記憶裡，戰爭等於躲避美軍空襲，以及無止盡的戰爭動員演習。<br>
							| 中國大陸的百姓從一九三一年開始，就開始體驗了關東地區的無情戰火，一九三七年日華戰爭全面爆發，中國人民輾轉流離，歷經無數滄桑苦難。不料日本剛投降，兩年後國共雙方又發起內戰，全國再度捲入一場無間浩劫。<br>
							| 中華民國政府於一九四八年頒佈〈動員戡亂時期臨時條款〉，全中國進入戰爭總動員時期。一九四九年，隨著蔣介石軍隊敗退來臺，繼續在臺灣實行〈動員戡亂時期臨時條款〉，無限延長了戰爭狀態。全臺軍民都必須以「反共復國」為目標，臺灣則成為了一座大型的暫／戰時軍事要塞。<br>
							| 在「反共復國」的沉重大旗下，戰後移民與本省人都處於失語的狀態，無法彼此理解同情，更難縫合歷史傷口。只能透過文學隱喻、透過家族書寫，召喚創傷經驗，試圖重新安放個人與家族的「離散」故事。
						hr
						img(src="img/liter03.jpg")
						.ex-edit-tit 厲行「暫／戰」時生活
						p
							| 臺灣人記憶中的戰爭，是從太平洋戰爭開始的。一九四二年，不少青年為了報效天皇，自願到南洋打仗；而在老百姓的記憶裡，戰爭等於躲避美軍空襲，以及無止盡的戰爭動員演習。<br>
							| 中國大陸的百姓從一九三一年開始，就開始體驗了關東地區的無情戰火，一九三七年日華戰爭全面爆發，中國人民輾轉流離，歷經無數滄桑苦難。不料日本剛投降，兩年後國共雙方又發起內戰，全國再度捲入一場無間浩劫。<br>
							| 中華民國政府於一九四八年頒佈〈動員戡亂時期臨時條款〉，全中國進入戰爭總動員時期。一九四九年，隨著蔣介石軍隊敗退來臺，繼續在臺灣實行〈動員戡亂時期臨時條款〉，無限延長了戰爭狀態。全臺軍民都必須以「反共復國」為目標，臺灣則成為了一座大型的暫／戰時軍事要塞。<br>
							| 在「反共復國」的沉重大旗下，戰後移民與本省人都處於失語的狀態，無法彼此理解同情，更難縫合歷史傷口。只能透過文學隱喻、透過家族書寫，召喚創傷經驗，試圖重新安放個人與家族的「離散」故事。
						.quote-area.fas
							p …有一天晚上，我和黃春明一同從某處出來，兩人都願意步行。我們走了很久也談了很久，馬路很靜，只有我倆的聲音，那是我和「本省作家」最接近的一次……可是我一直談，他一直默不作聲，沒有回響，沒有交流，沒有質疑，又好像談不上交情…
							p 王鼎鈞《文學江湖：王鼎鈞回憶錄四部曲之四》(2005)
						img.for-line(src="img/hucerrarhx.png", alt="")
						.book-area
							img.img-l(src="img/ex_art_img.jpg", alt="" style="width:35%")
							
							
							
							p
								| 他們在我的臉上塗石灰<br>
								| 他們在我的全身澆泊油<br>
								| 他們在我的臉上身上抹廢棄的剎車油<br>
								| 他們在我的兩眼裝上發血光紅燈<br>
								| 他們把齒輪塞入我的口中<br>
								| 他們用集光燈照射著我<br>
								| 他們躲在暗處<br>
								| 他們用老鼠眼睛監視著我<br>
								| 他們記錄我輾轉的身軀
							p 商禽〈醒〉(2009)
							.book-info 商禽，現代派詩人，二十歲隨著軍隊來到臺灣，開始書寫超現實主義的現代詩。本詩〈醒〉（節錄）是詩人透過石灰及煞車油等等令人不安的物件比喻，寫下猶如夢魘一般，深層的創傷（戰爭）經驗。
						.book-area
							img.img-r(src="img/ex_art_img02.jpg", alt="" style="width:35%")
							p 只是，很多年後，當我抑制淚水，擦拭父親佈滿老人斑的胸背，故事改寫了，父親訴說上海撤退時，一枚砲彈命中營地對面的醫院，他們為搶救病患、嬰兒而幾乎誤了船期。那個臘月天的深夜，負傷的父親在斷垣殘瓦裡尋找新生的孩子。嬰兒微弱的哭聲像和弦，呼應槍林彈雨的節奏。父親滿身灰土、髒污，沒有尿布的嬰兒除了髒污、灰土，還有汨汨冒出的鮮血。沒有人分得清遍地玻璃碎片和迸出嬰兒眼眶潔透的玻璃體。父親躲子彈般閃避蓮蓬頭的水劍，反手指著大腿上的彈疤：「瞧，老子還是在破布、屍體堆裡找到你，地上的舊報紙還有阮玲玉的照片，沒娘的孩子。」
							p 張啟疆〈老人家〉(1996)
							.book-info 張啟疆在眷村長大，書寫許多關於眷村成長記憶，以及戰後移民離鄉與失落的小說。本段落是描述兒子在幫老邁父親洗澡的時候，拼湊父親不知是否錯置的回憶，對照著當年在槍林彈雨中搶救嬰兒的英勇身影，與今日老衰遲暮的情境。
						.book-wrap
							.book-box
								img(src="img/book.jpg", alt="")
								span 江湖文學
							.book-box
								img(src="img/book.jpg", alt="")
								span 江湖文學
					.article-page-wrap#articlePageWrapDot
					.article-page-wrap#articlePageWrap
						.article-page-box#articlePageBox
							a(href="###").prev-box
								.page-arrow <i class="fas fa-angle-up"></i>
								span <i class="fas fa-angle-left"></i> 上一篇
								.page-info
									span.name 前言
									.img-box(style="background: url(img/excont_img01.jpg) no-repeat center center/cover")
										img(src="img/excont_img01.jpg", alt="")
							a(href="###").next-box
								span 下一篇 <i class="fas fa-angle-right"></i>
								.page-info
									span.name 一二三四五六
									.img-box(style="background: url(img/excont_img02.jpg) no-repeat center center/cover")
										img(src="img/excont_img01.jpg", alt="")
									.page-arrow <i class="fas fa-angle-down"></i>
					.btn-area.page-btn-area
						a(href="exhibition_cont_p2.html").btn <i class="far fa-angle-left"></i> <span>返 回</span>
		.page-wrap.ex-art-swiper#exArtSwiperWrap
			.main-cont
				.exhibition-article-swiper
					.swiper-container#exArtSwiper
						.swiper-wrapper
							.swiper-slide
								- const exArtImg01={"background": "url(img/liter01.jpg) no-repeat center center/cover"}
								- const exArtInfo01={'img':exArtImg01,'imgUrl':'img/liter01.jpg','tit':'小露台、大觀園韓良露捐贈展'}
								+exArtSwiperBox(exArtInfo01)
							.swiper-slide
								- const exArtImg02={"background": "url(img/light_ex.jpg) no-repeat center center/cover"}
								- const exArtInfo02={'img':exArtImg02,'imgUrl':'img/light_ex.jpg','tit':'百年之週-佐藤春夫1920，臺灣旅行文學展'}
								+exArtSwiperBox(exArtInfo02)
							.swiper-slide
								- const exArtImg03={"background": "url(img/liter03.jpg) no-repeat center center/cover"}
								- const exArtInfo03={'img':exArtImg03,'imgUrl':'img/liter03.jpg','tit':'文學展示標題'}
								+exArtSwiperBox(exArtInfo03)
							.swiper-slide
								- const exArtImg04={"background": "url(img/liter04.jpg) no-repeat center center/cover"}
								- const exArtInfo04={'img':exArtImg04,'imgUrl':'img/liter04.jpg','tit':'小露台、大觀園韓良露捐贈展'}
								+exArtSwiperBox(exArtInfo04)
							.swiper-slide
								- const exArtImg05={"background": "url(img/liter05.jpg) no-repeat center center/cover"}
								- const exArtInfo05={'img':exArtImg05,'imgUrl':'img/liter05.jpg','tit':'日治時代的台灣(四)：近代化影響下的文學'}
								+exArtSwiperBox(exArtInfo05)
							.swiper-slide
								- const exArtImg06={"background": "url(img/liter01.jpg) no-repeat center center/cover"}
								- const exArtInfo06={'img':exArtImg06,'imgUrl':'img/liter01.jpg','tit':'小露台、大觀園韓良露捐贈展'}
								+exArtSwiperBox(exArtInfo06)
					.swiper-button-prev#exArtP
						i(class="fas fa-angle-left")
					.swiper-button-next#exArtN
						i(class="fas fa-angle-right")
					.swiper-pagination#ExPage
		//- swiper lightbox 照片
		.light-ex-img-wrap#lightExImgWrap
			.light-tit 照片展示
				.light-close-btn <i class="fas fa-times"></i>
			.light-ex-img-cont.scroll-cont
				.light-ex-img-info
					.light-ex-img#lightExImg
						img(src="img/light_ex.jpg", alt="")
					.light-ex-txt#lightExTxt 簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述
					.light-ex-note 資料來源：捐贈者：陳火泉家屬，國立臺灣文學館典藏
		//-內容
		include includes/footer

script.
	$(document).ready(function () {
		var exArtSwiper = new Swiper('#exArtSwiper', {
			slidesPerView: 5,
			spaceBetween: 50,
			//- initialSlide: 2,
			breakpoints: {
				1200: {
					slidesPerView: 5,
					spaceBetween: 30,
				},
				768: {
					slidesPerView: 4,
					spaceBetween: 20,
				},
				600: {
					slidesPerView: 3,
					spaceBetween: 20,
				},
				480: {
					slidesPerView: 2,
					spaceBetween: 20,
				},
			},
			navigation: {
				nextEl: '#exArtN',
				prevEl: '#exArtP',
			},
			pagination: {
				el: '#ExPage',
				clickable: true,
			},
		});
		//點擊照片觀看
		$('.exArt-img-box').each(function(ind,item){
			$(this).on('click',function(){
				var imgUrl=$(this).find('.exArt-img img').attr('src');
				var imgTxt=$(this).find('.exArt-txt').html();
				$('#lightExImg').find('img').attr('src',imgUrl);
				$('#lightExTxt').html(imgTxt);
				$('#lightExImgWrap,#mask').fadeIn();
			});
		});
	});
	$(window).scroll(function () {
		pageBtnFix();
	});
	$(window).resize(function () {
		pageBtnFix();
	});
	function pageBtnFix(){
		var windowW = $(window).width();
		var windowScrollNum = $(window).scrollTop();
		var $nav = $('nav');
		//- var $nav = $('#navArea');//原本
		var navH = $nav.outerHeight();
		//定位用方塊位置
		var sidePageTop=$('#articlePageWrapDot').offset().top;
		var sidePageLeft=$('#articlePageWrapDot').offset().left;
		var footerTop=$('#exArtSwiperWrap').offset().top;
		//- var footerTop=$('footer').offset().top;
		//上方固定高度
		var sidePageTopFix=(sidePageTop - navH) - 10;
		var $pageWrap=$('#articlePageWrap');
		var $pageBox=$('#articlePageBox');
		//下方固定高度(算法：抓到要卡footer上方，所以先抓fooer的方塊距離上方多少位置，在減掉NAV高度跟本身內容高度，再剪調需要的間距，就是滾到這時，這格方塊要卡住)
		var sidePageH=$('#articlePageBox').outerHeight();
		var sidePageBottomFix = footerTop - (sidePageH + navH ) - 20;
		
		//- console.log(sidePageTop);
		//- console.log(sidePageLeft);
		if(windowW > 480){
			if(windowScrollNum > sidePageTopFix){
				$pageBox.css({ 'position':'fixed', 'top': navH + 5, 'left': sidePageLeft});
				if(windowScrollNum > sidePageBottomFix + 10){
					if(windowW > 1650){
						$pageWrap.css({'top': 'auto','bottom': '-41px'});
					}else{
						$pageWrap.css({'top': 'auto','bottom': '40px'});
					}
					$pageBox.removeAttr('style');
				}else{
					$pageWrap.removeAttr('style');
				}
			}else{
				$pageBox.removeAttr('style');
			}
		}else{
			$pageWrap.removeAttr('style');
			$pageBox.removeAttr('style');
		}
	}
