include includes/en/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/en/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'Literary Exhibition','link':'exhibition_list_en.html'},{'name':'Adversity. 1949: Taiwan Post-War Immigration Literature Exhibition','link':'exhibition_cont_en.html'}],'actPage':'Not just a foreign land'}
				+breadBox(breadList)
				-const back={'name':'Back','link':'exhibition_cont_en.html'}
				+backPage(back)
				-const subNavList=[{'name':'Writer‘s platform','icon':'<i class="far fa-user-edit"></i>','link':'###'},{'name':'Literary Exhibition','icon':'<i class="fas fa-kaaba"></i>'},{'name':'Virtual Reality','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'}]
				+subNav(subNavList)
		.page-wrap.inner-single-page.ex-page-wrap
			.main-cont
				.exhibition-banner-box
					.article-cont-banner(style="background: url(img/ex_banner.jpg) no-repeat center center/cover")
						h2 Adversity. 1949: Taiwan Post-War Immigration Literature Exhibition
					.exhibition-sub-banner
						.exhibition-sub.exhibition-article-sub
							.exhibition-sub-img(style="background: url(img/ex_img02.jpg) no-repeat center center/cover")
								img(src="img/ex_img01.jpg", alt="")
							.exhibition-article-tit Not just a foreign land
						.exhibition-sub-share
							.share-btn-box
								a(href="###")
									i(class="far fa-check")
									| like <span>234</span>
								a(href="###") Share
		.page-wrap.ex-edit-wrap
			.main-cont
				h3.exhibition-tit Introduction
				.edit-area.ex-edit-area#exEditArea
					.edit-box
						p
							| The war in Taiwanese memory started with the Pacific War. In 1942, in order to serve the Emperor, many young people volunteered to fight in Southeast Asia. In the memory of the common people, the war is tantamount to avoiding US air strikes and endless war mobilization exercises.<br>
							| People in mainland China have experienced the merciless war in the Kanto region since 1931. The Japanese-Chinese War broke out in 1937, and the Chinese people went through numerous vicissitudes and sufferings. Unexpectedly, Japan had just surrendered. Two years later, the Kuomintang and the Communist Party launched a civil war, and the whole country was once again involved in an uninterrupted catastrophe.<br>
							| The Government of the Republic of China promulgated the "Provisional Provisions for Mobilization for the Period of Rebellion" in 1948, and the whole of China entered the period of general mobilization for war. In 1949, with the defeat of Chiang Kai-shek's army and retreat to Taiwan, he continued to implement the "Provisional Provisions for Mobilization and Rebellion" in Taiwan, which extended the state of war indefinitely. The entire military and civilians of Taiwan must aim at "anti-communist restoration", and Taiwan has become a large temporary/wartime military fortress.<br>
							| Under the banner of "Anti-Communist and Restoration", the immigrants and the people of the province are in a state of aphasia, unable to understand and sympathize with each other, and it is even more difficult to close the wounds of history. Only through literary metaphors and family writing, we can summon traumatic experiences and try to relocate the "dispersion" stories of individuals and families.
						hr
						.ex-edit-tit Strictly enforce "temporary/war" life
						p
							| The war in Taiwanese memory started with the Pacific War. In 1942, in order to serve the Emperor, many young people volunteered to fight in Southeast Asia. In the memory of the common people, the war is tantamount to avoiding US air strikes and endless war mobilization exercises.<br>
							| People in mainland China have experienced the merciless war in the Kanto region since 1931. The Japanese-Chinese War broke out in 1937, and the Chinese people went through numerous vicissitudes and sufferings. Unexpectedly, Japan had just surrendered. Two years later, the Kuomintang and the Communist Party launched a civil war, and the whole country was once again involved in an uninterrupted catastrophe.<br>
							| The Government of the Republic of China promulgated the "Provisional Provisions for Mobilization for the Period of Rebellion" in 1948, and the whole of China entered the period of general mobilization for war. In 1949, with the defeat of Chiang Kai-shek's army and retreat to Taiwan, he continued to implement the "Provisional Provisions for Mobilization and Rebellion" in Taiwan, which extended the state of war indefinitely. The entire military and civilians of Taiwan must aim for "anti-communist restoration", and Taiwan has become a large temporary/wartime military fortress.<br>
							| Under the banner of "Anti-Communist and Restoration", the immigrants and the people of the province are in a state of aphasia, unable to understand and sympathize with each other, and it is even more difficult to close the wounds of history. Only through literary metaphors and family writing can we summon traumatic experiences and try to relocate the story of "dispersion" between individuals and families.
						.quote-area.fas
							p …One night, Huang Chunming and I came out from somewhere together, and both of them were willing to walk. We walked for a long time and talked for a long time. The road was very quiet, with only our voices. That was the closest I had to the "provincial writer"... But I kept talking, and he remained silent, no response, no communication. There is no doubt, and it seems that there is no friendship...
							p Wang Dingjun's "Literary World: Wang Dingjun's Memoirs Four Steps" (2005)
						.book-area
							img.img-l(src="img/ex_art_img.jpg", alt="" style="width:35%")
							p
								| They put lime on my face<br>
								| They poured oil all over my body<br>
								| They put waste brake fluid on my face<br>
								| They put red lights on my eyes<br>
								| They stuffed gears into my mouth<br>
								| They illuminate me with a spotlight<br>
								| They hide in the dark<br>
								| They watched me with mouse eyes<br>
								| They record my tossing body
							p Commercial Birds (Awake) (2009)
							.book-info Shang Qin, a modernist poet, came to Taiwan with the army at the age of 20 and began to write modern surrealist poetry. This poem "Awakening" (excerpt) is a metaphor of the poet using disturbing objects such as lime and brake oil to write down the deep trauma (war) experience like a nightmare.
						.book-area
							img.img-r(src="img/ex_art_img02.jpg", alt="" style="width:35%")
							p However, many years later, when I suppressed my tears and wiped my father's chest and back covered with age spots, the story was rewritten. My father told the Shanghai retreat that a shell hit the hospital opposite the camp. They almost made a mistake in rescuing patients and babies. The sailing schedule. In the middle of the night of the twelfth lunar month, the injured father was looking for a newborn child in the ruins. The baby's faint crying sounds like chords, echoing the rhythm of a rain of bullets. The father was covered in dust and dirt. In addition to the dirt and dust, the baby without diapers also had blood coming out of Mimi. No one can distinguish between the shards of glass everywhere and the clear vitreous that burst out of the baby's eye sockets. Father dodges the water sword on the lotus head like bullets, and then points to the bullet scar on his thigh: "Look, I still found you in rags and dead bodies, old newspapers on the ground and pictures of Ruan Lingyu, motherless child."
							p Zhang Qijiang (Old Man) (1996)
							.book-info Zhang Qijiang grew up in a military village, and wrote many novels about the memories of the village’s growth, as well as the displacement and loss of immigrants after the war. This paragraph describes how the son is helping the elderly father to take a bath, putting together memories that his father did not know if they are misplaced, contrasting the heroic figure who rescued the baby in the rain of bullets and the situation of today's old age.
						.book-wrap
							.book-box
								img(src="img/book.jpg", alt="")
								span Jianghu Literature
							.book-box
								img(src="img/book.jpg", alt="")
								span Jianghu Literature
					.article-page-wrap#articlePageWrapDot
					.article-page-wrap#articlePageWrap
						.article-page-box#articlePageBox
							a(href="###").prev-box
								.page-arrow <i class="fas fa-angle-up"></i>
								span <i class="fas fa-angle-left"></i> Previous
								.page-info
									span.name Preface
									.img-box(style="background: url(img/excont_img01.jpg) no-repeat center center/cover")
										img(src="img/excont_img01.jpg", alt="")
							a(href="###").next-box
								span Next <i class="fas fa-angle-right"></i>
								.page-info
									span.name Your name
									.img-box(style="background: url(img/excont_img02.jpg) no-repeat center center/cover")
										img(src="img/excont_img01.jpg", alt="")
									.page-arrow <i class="fas fa-angle-down"></i>
					.btn-area.page-btn-area
						a(href="exhibition_cont_en.html").btn <i class="far fa-angle-left"></i> <span>Back</span>
		.page-wrap.ex-art-swiper#exArtSwiperWrap
			.main-cont
				.exhibition-article-swiper
					.swiper-container#exArtSwiper
						.swiper-wrapper
							.swiper-slide
								- const exArtImg01={"background": "url(img/liter01.jpg) no-repeat center center/cover"}
								- const exArtInfo01={'img':exArtImg01,'imgUrl':'img/liter01.jpg','tit':'Small Terrace, Grand View Garden Han Lianglu Donation Exhibition'}
								+exArtSwiperBox(exArtInfo01)
							.swiper-slide
								- const exArtImg02={"background": "url(img/light_ex.jpg) no-repeat center center/cover"}
								- const exArtInfo02={'img':exArtImg02,'imgUrl':'img/light_ex.jpg','tit':'The Week of a Hundred Years-Haruo Sato 1920, Taiwan Travel Literature Exhibition'}
								+exArtSwiperBox(exArtInfo02)
							.swiper-slide
								- const exArtImg03={"background": "url(img/liter03.jpg) no-repeat center center/cover"}
								- const exArtInfo03={'img':exArtImg03,'imgUrl':'img/liter03.jpg','tit':'Literary Exhibition Title'}
								+exArtSwiperBox(exArtInfo03)
							.swiper-slide
								- const exArtImg04={"background": "url(img/liter04.jpg) no-repeat center center/cover"}
								- const exArtInfo04={'img':exArtImg04,'imgUrl':'img/liter04.jpg','tit':'Small Terrace, Grand View Garden Han Lianglu Donation Exhibition'}
								+exArtSwiperBox(exArtInfo04)
							.swiper-slide
								- const exArtImg05={"background": "url(img/liter05.jpg) no-repeat center center/cover"}
								- const exArtInfo05={'img':exArtImg05,'imgUrl':'img/liter05.jpg','tit':'Taiwan in the Japanese Occupation Period (4): Literature under the Influence of Modernization'}
								+exArtSwiperBox(exArtInfo05)
							.swiper-slide
								- const exArtImg06={"background": "url(img/liter01.jpg) no-repeat center center/cover"}
								- const exArtInfo06={'img':exArtImg06,'imgUrl':'img/liter01.jpg','tit':'Small Terrace, Grand View Garden Han Lianglu Donation Exhibition'}
								+exArtSwiperBox(exArtInfo06)
					.swiper-button-prev#exArtP
						i(class="fas fa-angle-left")
					.swiper-button-next#exArtN
						i(class="fas fa-angle-right")
					.swiper-pagination#ExPage
		//- swiper lightbox 照片
		.light-ex-img-wrap#lightExImgWrap
			.light-tit Photo
				.light-close-btn <i class="fas fa-times"></i>
			.light-ex-img-cont
				.light-ex-img#lightExImg
					img(src="img/light_ex.jpg", alt="")
				.light-ex-txt#lightExTxt ResumeResumeResumeResumeResumeResumeResumeResume
				.light-ex-note Source: Donor: Family of Chen Huoquan, Collection of National Taiwan Literature Museum
		//-內容
		include includes/en/footer

script.
	$(document).ready(function () {
		var exArtSwiper = new Swiper('#exArtSwiper', {
			slidesPerView: 5,
			spaceBetween: 50,
			//- initialSlide: 2,
			breakpoints: {
				1200: {
					spaceBetween: 30,
				},
				768: {
					slidesPerView: 4,
					spaceBetween: 20,
				},
				768: {
					slidesPerView: 3,
					spaceBetween: 20,
				},
				480: {
					slidesPerView: 2,
					spaceBetween: 20,
				},
			},
			navigation: {
				nextEl: '#exArtN',
				prevEl: '#exArtP',
			},
			pagination: {
				el: '#ExPage',
				clickable: true,
			},
		});
		//點擊照片觀看
		$('.exArt-img-box').each(function(ind,item){
			$(this).on('click',function(){
				var imgUrl=$(this).find('.exArt-img img').attr('src');
				var imgTxt=$(this).find('.exArt-txt').html();
				$('#lightExImg').find('img').attr('src',imgUrl);
				$('#lightExTxt').html(imgTxt);
				$('#lightExImgWrap,#mask').fadeIn();
			});
		});
	});
	$(window).scroll(function () {
		pageBtnFix();
	});
	$(window).resize(function () {
		pageBtnFix();
	});
	function pageBtnFix(){
		var windowW = $(window).width();
		var windowScrollNum = $(window).scrollTop();
		var $nav = $('#navArea');
		var navH = $nav.outerHeight();
		//定位用方塊位置
		var sidePageTop=$('#articlePageWrapDot').offset().top;
		var sidePageLeft=$('#articlePageWrapDot').offset().left;
		var footerTop=$('#exArtSwiperWrap').offset().top;
		//- var footerTop=$('footer').offset().top;
		//上方固定高度
		var sidePageTopFix=(sidePageTop - navH) - 10;
		var $pageWrap=$('#articlePageWrap');
		var $pageBox=$('#articlePageBox');
		//下方固定高度(算法：抓到要卡footer上方，所以先抓fooer的方塊距離上方多少位置，在減掉NAV高度跟本身內容高度，再剪調需要的間距，就是滾到這時，這格方塊要卡住)
		var sidePageH=$('#articlePageBox').outerHeight();
		var sidePageBottomFix = footerTop - (sidePageH + navH ) - 20;
		
		//- console.log(sidePageTop);
		//- console.log(sidePageLeft);
		if(windowW > 480){
			if(windowScrollNum > sidePageTopFix){
				$pageBox.css({ 'position':'fixed', 'top': navH + 10, 'left': sidePageLeft});
				if(windowScrollNum > sidePageBottomFix + 10){
					if(windowW > 1650){
						$pageWrap.css({'top': 'auto','bottom': '-41px'});
					}else{
						$pageWrap.css({'top': 'auto','bottom': '40px'});
					}
					$pageBox.removeAttr('style');
				}else{
					$pageWrap.removeAttr('style');
				}
			}else{
				$pageBox.removeAttr('style');
			}
		}else{
			$pageWrap.removeAttr('style');
			$pageBox.removeAttr('style');
		}
	}