include includes/en/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/en/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'Literary Exhibition','link':'exhibition_list_en.html'}],'actPage':'Adversity. 1949: Taiwan Post-War Immigration Literature Exhibition'}
				+breadBox(breadList)
				-const back={'name':'Back','link':'exhibition_list_en.html'}
				+backPage(back)
				-const subNavList=[{'name':'Writer‘s platform','icon':'<i class="far fa-user-edit"></i>','link':'###'},{'name':'Literary Exhibition','icon':'<i class="fas fa-kaaba"></i>'},{'name':'Virtual Reality','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'}]
				+subNav(subNavList)
		.page-wrap.inner-single-page
			.main-cont
				.exhibition-banner-box
					.article-cont-banner(style="background: url(img/ex_banner.jpg) no-repeat center center/cover")
						h2 Adversity. 1949: Taiwan Post-War Immigration Literature Exhibition
					.exhibition-sub-banner
						.exhibition-sub
							.exhibition-sub-img(style="background: url(img/ex_img02.jpg) no-repeat center center/cover")
								img(src="img/ex_img01.jpg", alt="")
							.exhibition-btn-box
								.ex-btn#exPartBtn1 Introduction
								.ex-btn#exPartBtn2 Zone
						.exhibition-sub-share
							.share-btn-box
								a(href="###")
									i(class="far fa-check")
									| like <span>234</span>
								a(href="###") Share
				h3.exhibition-tit#exPart1 Introduction
				.edit-area.ex-edit-area
					.edit-box
						p
							| This exhibition is dedicated to the sergeants and dependents of other provinces who thought it was only a temporary retreat in 1949, as well as their descendants, as well as all the ethnic groups who have lived with them for 70 years<br>
							| The exhibition name "Inverse Travel" has two meanings. One is today’s literal, a journey full of rebelliousness; the other is the ancient original meaning, such as Li Bai’s "Preface to the Peach and Li Garden of the Spring Night Banquet," A hostel that welcomes passersby.
				h3.exhibition-tit#exPart2 Zone
				.exhibition-part-a-area
					- const exPartAImg01={"background": "url(img/excont_img01.jpg) no-repeat center center/cover"}
					- const exPartAInfo01={'img':exPartAImg01,'tit':'Preface'}
					+exPartABox(exPartAInfo01)
					- const exPartAImg02={"background": "url(img/excont_img02.jpg) no-repeat center center/cover"}
					- const exPartAInfo02={'img':exPartAImg02,'tit':'Not just a foreign land'}
					+exPartABox(exPartAInfo02)
					- const exPartAImg03={"background": "url(img/excont_img03.jpg) no-repeat center center/cover"}
					- const exPartAInfo03={'img':exPartAImg03,'tit':'Your name'}
					+exPartABox(exPartAInfo03)
					- const exPartAImg04={"background": "url(img/excont_img04.jpg) no-repeat center center/cover"}
					- const exPartAInfo04={'img':exPartAImg04,'tit':'Tangshan in Taiwan'}
					+exPartABox(exPartAInfo04)
					- const exPartAImg05={"background": "url(img/excont_img05.jpg) no-repeat center center/cover"}
					- const exPartAInfo05={'img':exPartAImg05,'tit':'Hometown from a foreign land'}
					+exPartABox(exPartAInfo05)
					- const exPartAImg06={"background": "url(img/excont_img06.jpg) no-repeat center center/cover"}
					- const exPartAInfo06={'img':exPartAImg06,'tit':'Don‘t forget because of writing'}
					+exPartABox(exPartAInfo06)
					- const exPartAImg07={"background": "url(img/excont_img07.jpg) no-repeat center center/cover"}
					- const exPartAInfo07={'img':exPartAImg07,'tit':'Education resources'}
					+exPartABox(exPartAInfo07)
				.btn-area.page-btn-area
					a(href="exhibition_list.html").btn <i class="far fa-angle-left"></i> <span>Back</span>
		//-內容
		include includes/en/footer

script.
	$(document).ready(function(){
		var toPartList=[{'btn':'#exPartBtn1','part':'#exPart1'},{'btn':'#exPartBtn2','part':'#exPart2'}];
		$.each(toPartList,function(ind,val){
			var $btn=$(val.btn);
			var $part=$(val.part);
			$btn.on('click',function(){
				var navH = $('#navArea').outerHeight();
				var stopLine=$part.offset().top - 5;
				$('html,body').animate({ scrollTop: stopLine - navH }, 'slow');
			});
		});
	});
