include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'文學展示','link':'exhibition_list_p2.html'}],'actPage':'逆旅．一九四九：臺灣戰後移民文學展'}
				+breadBox(breadList)
				-const back={'name':'返回文學展示','link':'exhibition_list_p2.html'}
				+backPage(back)
				-const subNavList=[{'name':'作家平台','icon':'<i class="far fa-user-edit"></i>','link':'###'},{'name':'文學展示','icon':'<i class="fas fa-kaaba"></i>'},{'name':'城市解謎1','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'},{'name':'城市解謎2','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'}]
				+subNav(subNavList)
		.page-wrap.inner-single-page
			.main-cont
				.exhibition-banner-box
					//.article-cont-banner(style="background: url(img/ex_banner.jpg) no-repeat center center/cover")
					.exhibition-sub-banner.no-bg
						.exhibition-sub
							.exhibition-sub-img(style="background: url(img/ex_img02.jpg) no-repeat center center/cover")
								img(src="img/ex_img01.jpg", alt="")
							.exhibition-btn-box
								h2 逆旅．一九四九：臺灣戰後移民文學展
								.ex-btn#exPartBtn1 展覽介紹
								.ex-btn#exPartBtn2 展覽分區
							.exhibition-sub-share
								.share-btn-box
									a(href="###")
										i(class="far fa-check")
										| 讚 <span>234</span>
									a(href="###") 分享
				h3.exhibition-tit#exPart1 展覽介紹
				.edit-area.ex-edit-area
					.edit-box
						p
							| 這個展覽，獻給1949年以為只是暫時退守的外省軍士、眷屬，以及他們的後代，還有與他們共同生活七十年的所有族群。<br>
							| 展名「逆旅」有兩層意思。一是當今字面的，一段充滿橫逆的旅程；二是古老的本義，如李白《春夜宴桃李園序》「夫天地者，萬物之逆旅也；光陰者，百代之過客也」寓含的，一棟接待過客的旅舍。
				h3.exhibition-tit#exPart2 展覽分區
				.exhibition-part-b-area
					- const exPartBImg01={"background": "url(img/excont_img01.jpg) no-repeat center center/cover"}
					- const exPartBInfo01={'img':exPartBImg01,'tit':'前言','txt':'與其形容它們是配件，在某種意義上，它們算是與作家一同見證了臺灣文壇的發展與演進，特別是首飾的擁有人——作家胡品清，她對臺法之間的學術貢獻，以及文學作品的翻譯與指導，所','date':'2019/01/01'}
					+exPartBBox(exPartBInfo01)
					- const exPartBImg02={"background": "url(img/excont_img02.jpg) no-repeat center center/cover"}
					- const exPartBInfo02={'img':exPartBImg02,'tit':'不只是異鄉','txt':'與其形容它們是配件，在某種意義上，它們算是與作家一同見證了臺灣文壇的發展與演進，特別是首飾的擁有人——作家胡品清，她對臺法之間的學術貢獻，以及文學作品的翻譯與指導，所','date':'2019/01/01'}
					+exPartBBox(exPartBInfo02)
					- const exPartBImg03={"background": "url(img/excont_img03.jpg) no-repeat center center/cover"}
					- const exPartBInfo03={'img':exPartBImg03,'tit':'你的名子','txt':'與其形容它們是配件，在某種意義上，它們算是與作家一同見證了臺灣文壇的發展與演進，特別是首飾的擁有人——作家胡品清，她對臺法之間的學術貢獻，以及文學作品的翻譯與指導，所','date':'2019/01/01'}
					+exPartBBox(exPartBInfo03)
					- const exPartBImg04={"background": "url(img/excont_img04.jpg) no-repeat center center/cover"}
					- const exPartBInfo04={'img':exPartBImg04,'tit':'唐山在臺灣','txt':'與其形容它們是配件，在某種意義上，它們算是與作家一同見證了臺灣文壇的發展與演進，特別是首飾的擁有人——作家胡品清，她對臺法之間的學術貢獻，以及文學作品的翻譯與指導，所','date':'2019/01/01'}
					+exPartBBox(exPartBInfo04)
					- const exPartBImg05={"background": "url(img/excont_img05.jpg) no-repeat center center/cover"}
					- const exPartBInfo05={'img':exPartBImg05,'tit':'異鄉變家鄉','txt':'與其形容它們是配件，在某種意義上，它們算是與作家一同見證了臺灣文壇的發展與演進，特別是首飾的擁有人——作家胡品清，她對臺法之間的學術貢獻，以及文學作品的翻譯與指導，所','date':'2019/01/01'}
					+exPartBBox(exPartBInfo05)
					- const exPartBImg06={"background": "url(img/excont_img06.jpg) no-repeat center center/cover"}
					- const exPartBInfo06={'img':exPartBImg06,'tit':'因為書寫，不致遺忘','txt':'與其形容它們是配件，在某種意義上，它們算是與作家一同見證了臺灣文壇的發展與演進，特別是首飾的擁有人——作家胡品清，她對臺法之間的學術貢獻，以及文學作品的翻譯與指導，所','date':'2019/01/01'}
					+exPartBBox(exPartBInfo06)
					- const exPartBImg07={"background": "url(img/excont_img07.jpg) no-repeat center center/cover"}
					- const exPartBInfo07={'img':exPartBImg07,'tit':'教學資源','txt':'與其形容它們是配件，在某種意義上，它們算是與作家一同見證了臺灣文壇的發展與演進，特別是首飾的擁有人——作家胡品清，她對臺法之間的學術貢獻，以及文學作品的翻譯與指導，所','date':'2019/01/01'}
					+exPartBBox(exPartBInfo07)
				.btn-area.page-btn-area
					a(href="exhibition_list_p2.html").btn <i class="far fa-angle-left"></i> <span>返回文學展示</span>
		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		var toPartList=[{'btn':'#exPartBtn1','part':'#exPart1'},{'btn':'#exPartBtn2','part':'#exPart2'}];
		$.each(toPartList,function(ind,val){
			var $btn=$(val.btn);
			var $part=$(val.part);
			$btn.on('click',function(){
				var navH = $('#navArea').outerHeight();
				var stopLine=$part.offset().top - 5;
				$('html,body').animate({ scrollTop: stopLine - navH }, 'slow');
			});
		});
	});
