include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		include includes/exb_map
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'actPage':'展場地圖'}
				+breadBox(breadList)
				-const subNavList=[{'name':'作家平台','icon':'<i class="far fa-user-edit"></i>','link':'https://literature.sds.com.tw/'},{'name':'文學展示','icon':'<i class="fas fa-kaaba"></i>','link':'exhibition_list_p2.html'},{'name':'展場地圖','icon':'<i class="fad fa-globe-stand"></i>','act':true}]
				+subNav(subNavList)
		.page-wrap
			.main-cont
				.ind-exhibition-map-area#indArea00
					.exhibition-map-area
						.exhibition-map-cont#exbMap1(style="display:none;")
							img(src="img/mapB1.png", alt="")
							// 圖書室
							-const exbEvent7={'id':'exbEvent7','evClass':'exb-event7','img':'exb1.png','tit':'江湖有字在：臺灣 人文出版史演講'};
							+exbEvent(exbEvent7)
							// 文學樂園
							-const exbEvent8={'id':'exbEvent8','evClass':'exb-event8','img':'exb2.png','tit':'相遇．花樹下—客家文學行動展'};
							+exbEvent(exbEvent8)
							// 國際會議廳
							-const exbEvent9={'id':'exbEvent9','evClass':'exb-event9','img':'exb3.png','tit':'成為人以外的─臺灣動物文學特展'};
							+exbEvent(exbEvent9)
						.exhibition-map-cont#exbMap2
							img(src="img/map1F.png", alt="")
							// 演講廳
							-const exbEvent1={'id':'exbEvent5','evClass':'exb-event1','img':'exb1.png','tit':'江湖有字在：臺灣 人文出版史演講'};
							+exbEvent(exbEvent1)
							// 展示室C
							-const exbEvent2={'id':'exbEvent3','evClass':'exb-event2','img':'exb2.png','tit':'相遇．花樹下—客家文學行動展'};
							+exbEvent(exbEvent2)
							// 展示室A
							-const exbEvent3={'id':'exbEvent1','evClass':'exb-event3','img':'exb3.png','tit':'成為人以外的─臺灣動物文學特展'};
							+exbEvent(exbEvent3)
							// 展示室B
							-const exbEvent4={'id':'exbEvent2','evClass':'exb-event4','img':'exb6.png','tit':'百年情書─文協百年特展'};
							+exbEvent(exbEvent4)
							// 展示室D
							-const exbEvent5={'id':'exbEvent4','evClass':'exb-event5','img':'exb4.png','tit':'寫字療疾─臺灣文學中的疾與療'};
							+exbEvent(exbEvent5)
							// 文學沙龍
							-const exbEvent6={'id':'exbEvent6','evClass':'exb-event6','img':'exb5.png','tit':'寫字療疾─臺灣文學中的疾與療'};
							+exbEvent(exbEvent6)
						.exhibition-map-cont#exbMap3(style="display:none;")
							img(src="img/map2F.png", alt="")
							// 展示室E
							-const exbEvent10={'id':'exbEvent10','evClass':'exb-event10','img':'exb3.png','tit':'成為人以外的─臺灣動物文學特展'}
							+exbEvent(exbEvent10)
					.exb-event-mb-area
						.exb-event-mb-cont#exbEventMbArea1(style="display:none;")
							-const exbEventMb7={'id':'exbEventMb7','img':'exb1.png','tag':'圖書室','tit':'江湖有字在：臺灣 人文出版史演講'};
							+exbEventMb(exbEventMb7)
							-const exbEventMb8={'id':'exbEventMb8','img':'exb2.png','tag':'文學樂園','tit':'相遇．花樹下—客家文學行動展'};
							+exbEventMb(exbEventMb8)
							-const exbEventMb9={'id':'exbEventMb9','img':'exb3.png','tag':'國際會議廳','tit':'成為人以外的─臺灣動物文學特展'};
							+exbEventMb(exbEventMb9)
						.exb-event-mb-cont#exbEventMbArea2
							-const exbEventMb1={'id':'exbEventMb1','img':'exb3.png','tag':'展示室A','tit':'成為人以外的─臺灣動物文學特展'};
							+exbEventMb(exbEventMb1)
							-const exbEventMb2={'id':'exbEventMb2','img':'exb6.png','tag':'展示室B','tit':'百年情書─文協百年特展'};
							+exbEventMb(exbEventMb2)
							-const exbEventMb3={'id':'exbEventMb3','img':'exb2.png','tag':'展示室C','tit':'相遇．花樹下—客家文學行動展'};
							+exbEventMb(exbEventMb3)
							-const exbEventMb4={'id':'exbEventMb4','img':'exb4.png','tag':'展示室D','tit':'寫字療疾─臺灣文學中的疾與療'};
							+exbEventMb(exbEventMb4)
							-const exbEventMb5={'id':'exbEventMb5','img':'exb1.png','tag':'演講廳','tit':'江湖有字在：臺灣 人文出版史演講'};
							+exbEventMb(exbEventMb5)
							-const exbEventMb6={'id':'exbEventMb6','img':'exb5.png','tag':'文學沙龍','tit':'寫字療疾─臺灣文學中的疾與療'};
							+exbEventMb(exbEventMb6)
						.exb-event-mb-cont#exbEventMbArea3(style="display:none;")
							-const exbEventMb10={'id':'exbEventMb10','img':'exb1.png','tag':'展示室E','tit':'江湖有字在：臺灣 人文出版史演講'};
							+exbEventMb(exbEventMb10)
					.exhibition-floor-area
						.exhibition-btn#exbBtn1  B1
						.exhibition-btn#exbBtn2.act 1F
						.exhibition-btn#exbBtn3 2F
		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		//- $('#exbMap2').children('img').attr('src','img/map2F_en.png');
		//- var link ='exhibition_cont2.html';
		//- $('.exhibition-box').eq(1).find('.exhibition-img').attr('href',link);
		//- $('.exhibition-box').eq(1).find('.tit').attr('href',link);
		//- $('.exhibition-box').eq(1).find('.cont').attr('href',link);
	});
