include includes/en/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/en/nav
		.page-tab-area
			.main-cont
				-const breadList={'actPage':'Literary Exhibition'}
				+breadBox(breadList)
				-const subNavList=[{'name':'Writer‘s platform','icon':'<i class="far fa-user-edit"></i>','link':'###'},{'name':'Literary Exhibition','icon':'<i class="fas fa-kaaba"></i>'},{'name':'Virtual Reality','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'}]
				+subNav(subNavList)
		.one-line-wrap
			.main-cont
				.creat-src-box
					.creat-src
						input(type="text", name="" placeholder="Search Literary Exhibition...")
					.creat-src-btn
						i(class="fas fa-search")
						| Search
		.page-wrap.page-gray-wrap
			.main-cont
				.exhibition-list
					- const exImg01={"background": "url(img/ex_img01.jpg) no-repeat center center/cover"}
					- const exInfo01={'img':exImg01,'tit':'Adversity. 1949: Taiwan Post-War Immigration Literature Exhibition Label','txt':'This exhibition is dedicated to the sergeants and dependents of other provinces who thought it was only a temporary retreat in 1949, as well as their descendants, as well as all ethnic groups who have lived with them for 70 years. The exhibition name "Inverse Travel" has two meanings. One is when'}
					+exListBox(exInfo01)
					- const exImg02={"background": "url(img/ex_img02.jpg) no-repeat center center/cover"}
					- const exInfo02={'img':exImg02,'tit':'Silent Chamber-White Horror Literature Mind-reading Silent Chamber-White Horror Literature Mind-reading','txt':'This exhibition is dedicated to the predecessors who are going forward with heavy burdens, and every islander who has been breathing the air of democracy and freedom in peace and time.'}
					+exListBox(exInfo02)
					- const exImg03={"background": "url(img/ex_img03.jpg) no-repeat center center/cover"}
					- const exInfo03={'img':exImg03,'tit':'Remembrance of Our City──Hong Kong and Hong Kong Literary Years','txt':'Double-decker buses, tea restaurants, Chungking Mansions, Wulitou--this is our impression of Hong Kong. Traditional, modern, serious, vulgar, red roses, white roses, and there are islands and peninsulas.'}
					+exListBox(exInfo03)
					- const exImg04={"background": "url(img/ex_img05.jpg) no-repeat center center/cover"}
					- const exInfo04={'img':exImg04,'tit':'Small terrace. Grand View Garden-Han Lianglu Donation Exhibition','txt':'Wandering female literary youth, SARS intellectuals, gourmet Monkey King, urban storytellers.... In Taiwan, the name "Han Lianglu" is like a well-known cultural brand'}
					+exListBox(exInfo04)
				+pagination
		//-內容
		include includes/en/footer

script.
	$(document).ready(function(){
		var link ='exhibition_cont2_en.html';
		$('.exhibition-box').eq(1).find('.exhibition-img').attr('href',link);
		$('.exhibition-box').eq(1).find('.tit').attr('href',link);
		$('.exhibition-box').eq(1).find('.cont').attr('href',link);
	});
