include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'actPage':'文學展示'}
				+breadBox(breadList)
				-const subNavList=[{'name':'作家平台','icon':'<i class="far fa-user-edit"></i>','link':'###'},{'name':'文學展示','icon':'<i class="fas fa-kaaba"></i>'},{'name':'城市解謎1','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'},{'name':'城市解謎2','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'}]
				+subNav(subNavList)
		.one-line-wrap
			.main-cont
				.creat-src-box
					.creat-src
						input(type="text", name="" placeholder="搜尋文學展示...")
					.creat-src-btn
						i(class="fas fa-search")
						| 搜尋文章
		.page-wrap.page-gray-wrap
			.main-cont
				.exhibition-list
					- const exImg01={"background": "url(img/ex_img01.jpg) no-repeat center center/cover"}
					- const exInfo01={'img':exImg01,'tit':'逆旅．一九四九：臺灣戰後移民文學展','txt':'這個展覽，獻給1949年以為只是暫時退守的外省軍士、眷屬，以及他們的後代，還有與他們共同生活七十年的所有族群。展名「逆旅」有兩層意思。一是當...'}
					+exListBox(exInfo01)
					- const exImg02={"background": "url(img/ex_img02.jpg) no-repeat center center/cover"}
					- const exInfo02={'img':exImg02,'tit':'噤聲的密室——白恐文學讀心術噤聲的密室——白恐文學讀心術','txt':'本展獻給負重前行的前輩，與歲月靜好、正呼吸民主自由空氣的每一位島民'}
					+exListBox(exInfo02)
					- const exImg03={"background": "url(img/ex_img03.jpg) no-repeat center center/cover"}
					- const exInfo03={'img':exImg03,'tit':'追憶我城──香港香港文學年華','txt':'雙層巴、茶餐廳、重慶大廈、無厘頭──這是我們的香港印象。傳統的、現代的、嚴肅的、俗媚的、紅玫瑰、白玫瑰，並存在島與半島。'}
					+exListBox(exInfo03)
					- const exImg04={"background": "url(img/ex_img05.jpg) no-repeat center center/cover"}
					- const exInfo04={'img':exImg04,'tit':'小露台．大觀園——韓良露捐贈展','txt':'浪跡的女文青、非典的知識人、美食的孫悟空、城市的說書者……。在臺灣，「韓良露」這個名字彷若一個博雅多聞的文化品牌'}
					+exListBox(exInfo04)
				+pagination
		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		var link ='exhibition_cont2.html';
		$('.exhibition-box').eq(1).find('.exhibition-img').attr('href',link);
		$('.exhibition-box').eq(1).find('.tit').attr('href',link);
		$('.exhibition-box').eq(1).find('.cont').attr('href',link);
	});
