include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'文學展示','link':'exhibition_list.html'}],'actPage':'逆旅．一九四九：臺灣戰後移民文學展'}
				+breadBox(breadList)
				-const back={'name':'返回文學展示','link':'exhibition_list.html'}
				+backPage(back)
				-const subNavList=[{'name':'作家平台','icon':'<i class="far fa-user-edit"></i>','link':'###'},{'name':'文學展示','icon':'<i class="fas fa-kaaba"></i>'},{'name':'城市解謎1','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'},{'name':'城市解謎2','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'}]
				+subNav(subNavList)
		.page-wrap.inner-single-page
			.main-cont
				.exhibition-banner-box
					//- .article-cont-banner(style="background: url(img/ex_banner.jpg) no-repeat center center/cover")
					.exhibition-sub-banner.no-bg
						.exhibition-sub
							.exhibition-sub-img(style="background: url(img/ex_img02.jpg) no-repeat center center/cover")
								img(src="img/ex_img01.jpg", alt="")
							.exhibition-btn-box
								h2 逆旅．一九四九：臺灣戰後移民文學展
								.ex-btn-box
									.ex-btn#exPartBtn1 展覽介紹
									.ex-btn#exPartBtn2 展覽分區
							.exhibition-sub-share
								.share-btn-box
									a(href="###")
										i(class="far fa-check")
										| 讚 <span>234</span>
									a(href="###") 分享
				h3.exhibition-tit#exPart1 展覽介紹
				.edit-area.ex-edit-area
					.edit-box
						p
							| 這個展覽，獻給1949年以為只是暫時退守的外省軍士、眷屬，以及他們的後代，還有與他們共同生活七十年的所有族群。<br>
							| 展名「逆旅」有兩層意思。一是當今字面的，一段充滿橫逆的旅程；二是古老的本義，如李白《春夜宴桃李園序》「夫天地者，萬物之逆旅也；光陰者，百代之過客也」寓含的，一棟接待過客的旅舍。
				h3.exhibition-tit#exPart2 展覽分區
				.exhibition-part-a-area
					- const exPartAImg01={"background": "url(img/excont_img01.jpg) no-repeat center center/cover"}
					- const exPartAInfo01={'img':exPartAImg01,'tit':'前言'}
					+exPartABox(exPartAInfo01)
					- const exPartAImg02={"background": "url(img/excont_img02.jpg) no-repeat center center/cover"}
					- const exPartAInfo02={'img':exPartAImg02,'tit':'不只是異鄉'}
					+exPartABox(exPartAInfo02)
					- const exPartAImg03={"background": "url(img/excont_img03.jpg) no-repeat center center/cover"}
					- const exPartAInfo03={'img':exPartAImg03,'tit':'你的名子'}
					+exPartABox(exPartAInfo03)
					- const exPartAImg04={"background": "url(img/excont_img04.jpg) no-repeat center center/cover"}
					- const exPartAInfo04={'img':exPartAImg04,'tit':'唐山在臺灣'}
					+exPartABox(exPartAInfo04)
					- const exPartAImg05={"background": "url(img/excont_img05.jpg) no-repeat center center/cover"}
					- const exPartAInfo05={'img':exPartAImg05,'tit':'異鄉變家鄉'}
					+exPartABox(exPartAInfo05)
					- const exPartAImg06={"background": "url(img/excont_img06.jpg) no-repeat center center/cover"}
					- const exPartAInfo06={'img':exPartAImg06,'tit':'因為書寫，不致遺忘'}
					+exPartABox(exPartAInfo06)
					- const exPartAImg07={"background": "url(img/excont_img07.jpg) no-repeat center center/cover"}
					- const exPartAInfo07={'img':exPartAImg07,'tit':'教學資源'}
					+exPartABox(exPartAInfo07)
				.btn-area.page-btn-area
					a(href="exhibition_list.html").btn <i class="far fa-angle-left"></i> <span>返回文學展示</span>
		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		var toPartList=[{'btn':'#exPartBtn1','part':'#exPart1'},{'btn':'#exPartBtn2','part':'#exPart2'}];
		$.each(toPartList,function(ind,val){
			var $btn=$(val.btn);
			var $part=$(val.part);
			$btn.on('click',function(){
				var navH = $('#navArea').outerHeight();
				var stopLine=$part.offset().top - 5;
				$('html,body').animate({ scrollTop: stopLine - navH }, 'slow');
			});
		});
	});
