include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-top-area.page-top-area-g
			.main-cont
				-const breadList={'actPage':'忘記密碼'}
				+breadBox(breadList)
		.page-wrap.page-gray-wrap
			.main-cont
				form#forgetForm(action="###")
					.login-area.register-area
						h2 忘記密碼
						.register-cont
							.register-tit
								.tit 請填寫登入會員使用的電子信箱地址
							.forget-box
								- const inputArea01={'type':'email','tit':'E-mail','idName':'email','placeholder':'請填寫登入會員使用的電子信箱地址'}
								+inputArea(inputArea01)
					.register-btn-area
						.robet-box 機器人
						.btn.btn-submit 送出
							input(type="submit", value="送出")
					//- .forget-btn-area
					//- 	.pwd-img-box
					//- 		.tit 請輸入圖形驗證碼
					//- 		.pwd-img
					//- 			img(src="img/pwd_img.jpg", alt="")
					//- 		.pwd-img-redo
					//- 			i(class="far fa-redo-alt")
					//- 	.pwd-img-input
					//- 		.input-box
					//- 			input.input-sty(type="text" id="pwdImg" name="pwdImg" placeholder="請輸入驗證碼")
					//- 		.btn.btn-submit 送出
					//- 			input(type="submit", value="送出")
		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		var lang = getCookie('CacheLang');//語系
		var reqTxt,emailTxt;
		if(lang== 'zh'){
			reqTxt='必填';
			emailTxt='無效信箱';
		}else{
			reqTxt='Required';
			emailTxt='Not Valid';
		}
		var validator = $("#forgetForm").validate({
			messages:{
				email:{
					required: reqTxt,
					email: emailTxt
				}
			},
			submitHandler: function (form) {
				//- var pwdImgVal=$('#pwdImg').val();
				//- if(!pwdImgVal){
				//- 	alert("請輸入驗證碼");
				//- }else{
				//- 	alert("完成");
				//- 	form.submit();
				//- }
			}
		});
	});
