include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'actPage':'數位遊戲'}
				+breadBox(breadList)
		.game-banner-area
			h2.game-banner-txt 數位遊戲
		.page-wrap
			.main-cont
				.game-list-area
					-const gameImg01={'background':'url(img/game01.jpg) no-repeat center center/cover'};
					-const game01={'img':gameImg01,'link':'###','tit':'《夢獸之島》','cont':'在這個世界中，你是位馴夢師，為了找尋夢獸們失控的原因，而回到過去。一路上會遇到許多臺灣文壇上的知名文人，只要幫助他們解決難關，便能得到線索。現在就進入夢獸之島，幫助夢獸的世界恢復和平吧！'}
					+gameBox(game01)
					-const gameImg02={'background':'url(img/game02.jpg) no-repeat center center/cover'};
					-const game02={'img':gameImg02,'link':'###','tit':'1940','cont':'「1940」是以臺文館所收藏的劉吶鷗「麻將牌」為發想所設計之線上遊戲，以1920年代到中國上海發展的新感覺派作家劉吶鷗（1905-1940，臺南人），在上海被暗殺的1940年為題。以上海的百樂門、天津萬國橋、黑龍江大興安...'}
					+gameBox(game02)
					-const gameImg03={'background':'url(img/game03.jpg) no-repeat center center/cover'};
					-const game03={'img':gameImg03,'link':'###','tit':'小封神藏寶圖','cont':'「小封神藏寶圖」是以章回小說形式進行的城市解謎遊戲，以在地作家許丙丁的臺語神怪小說《小封神》為題材，結合臺南市區廟宇、古蹟地景為背景，將文學與地景以遊戲方式結合。遊戲中，玩家將扮演故事中的主角「呂善安」...'}
					+gameBox(game03)
					-const game04={'link':'https://www.youtube.com/embed/tkFH1RuoXLg?controls=0','tit':'《夢獸之島》','cont':'在這個世界中，你是位馴夢師，為了找尋夢獸們失控的原因，而回到過去。一路上會遇到許多臺灣文壇上的知名文人，只要幫助他們解決難關，便能得到線索。現在就進入夢獸之島，幫助夢獸的世界恢復和平吧！'}
					+gameBox(game04)
		//-內容
		include includes/footer

script.
	$(document).ready(function(){

	});