include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-top-area
			.main-cont
				-const breadList={'actPage':'臺灣文學史'}
				+breadBox(breadList)
		.inner-single-page
			.main-cont
				.creat-src-box
					.creat-src
						input(type="text", name="" placeholder="搜尋臺灣文學史...")
					.creat-src-btn
						i(class="fas fa-search")
						| 搜尋
				//- #test AAA
				.history-timeline-area
					#timelineArea(style="width: 100%; height: 600px")
					//- .swiper-container.history-swiper#historyTimelineSwiper
					//- 	.swiper-wrapper
					//- 		.swiper-slide
					//- 			- const hisImg01={"background": "url(img/his_timeline01.png) no-repeat center center/cover"};
					//- 			- const hisTime01={'img':hisImg01,'date':'1063/01/01','tit':'陳第來臺，撰〈東番記〉','txt':'陳第隨沈有容來臺，〈東番記〉為最早實地踏查平埔族人生活之文獻。'}
					//- 			+historyTimeLine(hisTime01)
					//- 		.swiper-slide
					//- 			- const hisImg02={"background": "url(img/his_timeline01.png) no-repeat center center/cover"};
					//- 			- const hisTime02={'img':hisImg02,'date':'1651','tit':'沈光文遇颱來臺','txt':'沈光文以詩文記錄臺灣風土，被譽為「海東文獻初祖」。'}
					//- 			+historyTimeLine(hisTime02)
					//- 	.swiper-button-prev#timeLineP
					//- 		i(class="fas fa-angle-left")
					//- 		span 1063/01/01
					//- 	.swiper-button-next#timeLineN
					//- 		i(class="fas fa-angle-right")
					//- 		span 1064
					//- .history-timeline-tag-box 時間軸
				.history-timeline-list
					- const hisTimeImg01={"background": "url(img/his01.jpg) no-repeat center center/cover"};
					- const hisTimeTime01={'img':hisTimeImg01,'date':'1603 - 1895','tit':'明清漢語古典文學時期'}
					+historyTimeBox(hisTimeTime01)
					- const hisTimeImg02={"background": "url(img/his02.jpg) no-repeat center center/cover"};
					- const hisTimeTime02={'img':hisTimeImg02,'date':'1895 - 1945','tit':'殖民地時期漢文古典文學'}
					+historyTimeBox(hisTimeTime02)
					- const hisTimeImg03={"background": "url(img/his03.jpg) no-repeat center center/cover"};
					- const hisTimeTime03={'img':hisTimeImg03,'date':'1945 - 1965','tit':'殖民地時期漢文新文學'}
					+historyTimeBox(hisTimeTime03)
					- const hisTimeImg04={"background": "url(img/his04.jpg) no-repeat center center/cover"};
					- const hisTimeTime04={'img':hisTimeImg04,'date':'1965 - 1989','tit':'殖民地時期日文新文學'}
					+historyTimeBox(hisTimeTime04)
					- const hisTimeImg05={"background": "url(img/his05.jpg) no-repeat center center/cover"};
					- const hisTimeTime05={'img':hisTimeImg05,'date':'1603 - 1895','tit':'明清漢語古典文學時期'}
					+historyTimeBox(hisTimeTime05)
					- const hisTimeImg06={"background": "url(img/his06.jpg) no-repeat center center/cover"};
					- const hisTimeTime06={'img':hisTimeImg06,'date':'1603 - 1895','tit':'明清漢語古典文學時期'}
					+historyTimeBox(hisTimeTime06)
					- const hisTimeImg07={"background": "url(img/his07.jpg) no-repeat center center/cover"};
					- const hisTimeTime07={'img':hisTimeImg07,'date':'1965 - 1989','tit':'殖民地時期日文新文學'}
					+historyTimeBox(hisTimeTime07)
		//-內容
		include includes/footer

script(src="js/timeline_list.js")