include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-top-area
			.main-cont
				-const breadList={'linkList':[{'name':'臺灣文學史','link':'history_list.html'}],'actPage':'明清漢語古典文'}
				+breadBox(breadList)
		.inner-single-page
			.main-cont
				.creat-src-box
					.creat-src
						input(type="text", name="" placeholder="搜尋臺灣文學史...")
					.creat-src-btn
						i(class="fas fa-search")
						| 搜尋
				.history-timeline-area
					.history-timeline-tit-box
						h2 明清漢語古典文
						-const back={'name':'返回臺灣文學史','link':'history_list.html'}
						+backPage(back)
					.history-timeline-area
						#timelineArea(style="width: 100%; height: 600px")
					//- .swiper-container.history-swiper#historyTimelineSwiper
					//- 	.swiper-wrapper
					//- 		.swiper-slide
					//- 			- const hisImg01={"background": "url(img/his_timeline01.png) no-repeat center center/cover"};
					//- 			- const hisTime01={'img':hisImg01,'date':'1063/01/01','tit':'陳第來臺，撰〈東番記〉','txt':'陳第隨沈有容來臺，〈東番記〉為最早實地踏查平埔族人生活之文獻。'}
					//- 			+historyTimeLine(hisTime01)
					//- 		.swiper-slide
					//- 			- const hisImg02={"background": "url(img/his_timeline01.png) no-repeat center center/cover"};
					//- 			- const hisTime02={'img':hisImg02,'date':'1651','tit':'沈光文遇颱來臺','txt':'沈光文以詩文記錄臺灣風土，被譽為「海東文獻初祖」。'}
					//- 			+historyTimeLine(hisTime02)
					//- 	.swiper-button-prev#timeLineP
					//- 		i(class="fas fa-angle-left")
					//- 		span 1063/01/01
					//- 	.swiper-button-next#timeLineN
					//- 		i(class="fas fa-angle-right")
					//- 		span 1064
					//- .history-timeline-tag-box 時間軸
					//- 其他時間導論
					.history-time-swiper-box
						.swiper-container.history-time-swiper#historyTimeSwiper
							.swiper-wrapper
								.swiper-slide.act
									- const hisTimeImg01={"background": "url(img/his01.jpg) no-repeat center center/cover"};
									- const hisTimeTime01={'img':hisTimeImg01,'date':'1603 - 1895','tit':'明清漢語古典文學時期'}
									+historyTimeHBox(hisTimeTime01)
								.swiper-slide
									- const hisTimeImg02={"background": "url(img/his02.jpg) no-repeat center center/cover"};
									- const hisTimeTime02={'img':hisTimeImg02,'date':'1895 - 1945','tit':'殖民地時期漢文古典文學'}
									+historyTimeHBox(hisTimeTime02)
								.swiper-slide
									- const hisTimeImg03={"background": "url(img/his03.jpg) no-repeat center center/cover"};
									- const hisTimeTime03={'img':hisTimeImg03,'date':'1945 - 1965','tit':'殖民地時期漢文新文學'}
									+historyTimeHBox(hisTimeTime03)
								.swiper-slide
									- const hisTimeImg04={"background": "url(img/his04.jpg) no-repeat center center/cover"};
									- const hisTimeTime04={'img':hisTimeImg04,'date':'1965 - 1989','tit':'殖民地時期日文新文學'}
									+historyTimeHBox(hisTimeTime04)
								.swiper-slide
									- const hisTimeImg05={"background": "url(img/his05.jpg) no-repeat center center/cover"};
									- const hisTimeTime05={'img':hisTimeImg05,'date':'1603 - 1895','tit':'明清漢語古典文學時期'}
									+historyTimeHBox(hisTimeTime05)
						.swiper-button-prev#hisTimeP
							i(class="fas fa-angle-left")
						.swiper-button-next#hisTimeN
							i(class="fas fa-angle-right")
					.history-tit
						h3.page-tit 明清漢語古典文學時期
						a(href="###").down-btn <i class="fad fa-file-pdf"></i> 檔案名稱.pdf
					.edit-area
						.edit-box 
							img.img-l(src="img/txt_img01.jpg", alt="")
							h3 明清漢語古典文學時期
							p 臺灣古典文學的源頭來自中國，但在涵蓋空間遼闊、時間長達數千年的中國文學史視野下，曾經發生在這座小島上、時間不足400年的臺灣古典文學，幾乎等同不存在，或被認為不值得一提。然而，若從臺灣主體觀點出發，其存在意義與價值則將有截然不同的評價。
							p 就藝術成就與思想內涵觀察，臺灣古典文學發展的巔峰，應該是在日本殖民時期的1895~1945年間，也就是19世紀末葉到20世紀初期。不過繁花競茂，並非一朝一夕可得，而是漢文化在臺灣200多年累積深化的結果。為期約200多年的明清漢語古典文學，其發展歷程大抵是從「移植」到「定根」的歷程。丘逢甲〈臺灣竹枝詞〉：「唐山流寓話巢痕，潮惠漳泉齒最繁。二百年來蕃衍後，寄生小草已深根。」雖是描述閩粵移民遷移來臺「在地化」的歷程，也足以說明漢語古典文學在臺灣的發展狀況。
							p 在漢族移入之前，臺灣島上已有不少原住民族定居，但他們的文化傳承依靠口傳，並無文字記錄。臺灣真正產生以文字為媒介的文學作品，最早是在17世紀中葉中國明朝滅亡之際。比鄭成功早來臺的沈光文，一般認定
						.btn-area
							a(href="history_list.html").btn <i class="far fa-angle-left"></i> <span>返回臺灣文學史</span>
					.more-article-link-area
						.more-article-link-box
							.more-article-link-tit 代表作家作品清單
							.book-link
								-const moreLink=['徐孚遠〈桃花〉（約1662）','王忠孝〈東寧友人貽丹荔枝十顆有懷〉（約1664）','藍鼎元《東征集》六卷(藍鼎元為藍廷珍擬寫的公檄、書稟、條陳、告諭的輯成)（1722）','郁永河《裨海記遊》（1697）','孫元衡〈諸羅縣即事〉（約1706）']
								each n,i in moreLink
									a(href="portfolio_list.html" target="_blank") <i class="fal fa-book"></i><span>#{n}</span>
						.more-article-link-box
							.more-article-link-tit 延伸閱讀
							.more-link
								-const moreLink2=['徐孚遠〈桃花〉（約1662）','王忠孝〈東寧友人貽丹荔枝十顆有懷〉（約1664）']
								each n,i in moreLink2
									a(href="history_more.html" target="_blank") #{n}
		//-內容
		include includes/footer
script(src="js/timeline_cont.js")
script.
	$(document).ready(function(){
		//時間軸
		//時間軸
		//- var TimeLineControlOptions = {
		//- 	language: 'zh-tw',
		//- };
		//- var timelineData={
		//- 	"events": [
		//- 		{
		//- 			"media": {
		//- 				"url": "img/his_timeline01.png",
		//- 				"credit": "沈有容《閩海贈言》",
		//- 			},
		//- 			"start_date":{
		//- 				"year":"1651",
		//- 				"month":"9",
		//- 				"day":"1",
		//- 				"display_date":"1651/09/01"
		//- 			},
		//- 			//- "end_date":{
		//- 			//- 	"year":"1651",
		//- 			//- 	"month":"9",
		//- 			//- 	"day":"1",
		//- 			//- 	"hour":null,
		//- 			//- 	"minute":null,
		//- 			//- 	"second":null,
		//- 			//- 	"millisecond":null,
		//- 			//- 	"display_date":"1651/09/02"
		//- 			//- },
		//- 			//- "end_date": {
		//- 			//- 	//- "month": "8",
		//- 			//- 	//- "day": "9",
		//- 			//- 	"year": "1964"
		//- 			//- 	//- "display_date": "1963/10/10"
		//- 			//- },
		//- 			"text": {
		//- 				"headline": "<a herf='###'>陳第來臺，撰〈東番記〉</a>",
		//- 				"text": "陳第隨沈有容來臺，〈東番記〉為最早實地踏查平埔族人生活之文獻。<div class='his-timeline-tag-box'><a href='###'>#臺灣文學</a><a href='###'>#文化</a><a href='###'>#臺灣</a></div>",
		//- 			},
		//- 		},
		//- 		{
		//- 			"media": {
		//- 				"url": "img/his_timeline01.png",
		//- 				"credit": "沈有容《閩海贈言》",
		//- 			},
		//- 			"start_date":{
		//- 				"year":"1651",
		//- 				"month":"9",
		//- 				"day":"3",
		//- 				"display_date":"1651/09/03"
		//- 			},
		//- 			//- "end_date":{
		//- 			//- 	"year":"1651",
		//- 			//- 	"month":"9",
		//- 			//- 	"day":"4",
		//- 			//- 	"hour":null,
		//- 			//- 	"minute":null,
		//- 			//- 	"second":null,
		//- 			//- 	"millisecond":null,
		//- 			//- 	"display_date":"1651/09/04"
		//- 			//- },
		//- 			"text": {
		//- 				"headline":"沈光文遇颱來臺",
		//- 				"text": "沈光文以詩文記錄臺灣風土，被譽為「海東文獻初祖」。"
		//- 			}
		//- 		},
		//- 		{
		//- 			"media": {
		//- 				"url": "img/his_timeline01.png",
		//- 				"credit": "沈有容《閩海贈言》",
		//- 			},
		//- 			"start_date":{
		//- 				"year":"1651",
		//- 				"month":"9",
		//- 				"day":"5",
		//- 				"display_date":"1651/09/05"
		//- 			},
		//- 			//- "end_date":{
		//- 			//- 	"year":"1651",
		//- 			//- 	"month":"9",
		//- 			//- 	"day":"6",
		//- 			//- 	"display_date":"1651/09/06"
		//- 			//- },
		//- 			"text": {
		//- 				"headline":"沈光文來臺沈光文來臺沈光文來臺",
		//- 				"text": "沈光文以詩文記錄臺灣風土，被譽為「海東文獻初祖」。<div class='his-timeline-tag-box'><a href='###'>#臺灣文學</a><a href='###'>#文化</a><a href='###'>#臺灣</a></div>"
		//- 			}
		//- 		},
		//- 		{
		//- 			"media": {
		//- 				"url": "img/his_timeline01.png",
		//- 				"credit": "沈有容《閩海贈言》",
		//- 			},
		//- 			"start_date":{
		//- 				"year":"1651",
		//- 				"month":"9",
		//- 				"day":"7",
		//- 				"display_date":"1651/09/07"
		//- 			},
		//- 			//- "end_date":{
		//- 			//- 	"year":"1651",
		//- 			//- 	"month":"9",
		//- 			//- 	"day":"4",
		//- 			//- 	"display_date":"1651/09/04"
		//- 			//- },
		//- 			"text": {
		//- 				"headline":"沈光文來臺沈光文來臺沈光文來臺",
		//- 				"text": "沈光文以詩文記錄臺灣風土，被譽為「海東文獻初祖」。"
		//- 			}
		//- 		},
		//- 		{
		//- 			"media": {
		//- 				"url": "img/his_timeline01.png",
		//- 				"credit": "沈有容《閩海贈言》",
		//- 			},
		//- 			"start_date":{
		//- 				"year":"1653",
		//- 				"month":"9",
		//- 				"day":"7",
		//- 				"display_date":"1651/09/07"
		//- 			},
		//- 			"text": {
		//- 				"headline":"沈光文遇颱來臺",
		//- 				"text": "沈光文以詩文記錄臺灣風土，被譽為「海東文獻初祖」。"
		//- 			}
		//- 		},
		//- 	]
		//- }
		//- timeline = new TL.Timeline('timelineArea',timelineData,TimeLineControlOptions);

		//- var historyTimelineSwiper = new Swiper('#historyTimelineSwiper', {
		//- 	//- speed: 400,
		//- 	//- spaceBetween: 100
		//- 	autoHeight: true,
		//- 	navigation: {
		//- 		nextEl: '#timeLineN',
		//- 		prevEl: '#timeLineP',
		//- 	},
		//- });
		//時區導論
		var historyTimeSwiper = new Swiper('#historyTimeSwiper', {
			//- speed: 400,
			//- spaceBetween: 100
			slidesPerView: 4,
			//- spaceBetween: 0,
			loop: true,
			autoHeight: true,
			breakpoints: {
				768: {
					slidesPerView: 3
				},
				600: {
					slidesPerView: 2
				},
				414: {
					slidesPerView: 1
				},
			},
			navigation: {
				nextEl: '#hisTimeN',
				prevEl: '#hisTimeP',
			},
		});
	});
