include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-top-area
			.main-cont
				-const breadList={'linkList':[{'name':'臺灣文學史','link':'history_list.html'}],'actPage':'明清漢語古典文'}
				+breadBox(breadList)
		.inner-single-page
			.main-cont
				.creat-src-box
					.creat-src
						input(type="text", name="" placeholder="搜尋臺灣文學史...")
					.creat-src-btn
						i(class="fas fa-search")
						| 搜尋
				.history-timeline-area
					.history-timeline-tit-box
						h2 明清漢語古典文
						-const back={'name':'返回臺灣文學史','link':'history_list.html'}
						+backPage(back)
					.swiper-container.history-swiper#historyTimelineSwiper
						.swiper-wrapper
							.swiper-slide
								- const hisImg01={"background": "url(img/his_timeline01.png) no-repeat center center/cover"};
								- const hisTime01={'img':hisImg01,'date':'1063/01/01','tit':'陳第來臺，撰〈東番記〉','txt':'陳第隨沈有容來臺，〈東番記〉為最早實地踏查平埔族人生活之文獻。'}
								+historyTimeLine(hisTime01)
							.swiper-slide
								- const hisImg02={"background": "url(img/his_timeline01.png) no-repeat center center/cover"};
								- const hisTime02={'img':hisImg02,'date':'1651','tit':'沈光文遇颱來臺','txt':'沈光文以詩文記錄臺灣風土，被譽為「海東文獻初祖」。'}
								+historyTimeLine(hisTime02)
						.swiper-button-prev#timeLineP
							i(class="fas fa-angle-left")
							span 1063/01/01
						.swiper-button-next#timeLineN
							i(class="fas fa-angle-right")
							span 1064
					.history-timeline-tag-box 時間軸
					//- 其他時間導論
					.history-time-swiper-box
						.swiper-container.history-time-swiper#historyTimeSwiper
							.swiper-wrapper
								.swiper-slide.act
									- const hisTimeImg01={"background": "url(img/his01.jpg) no-repeat center center/cover"};
									- const hisTimeTime01={'img':hisTimeImg01,'date':'1603 - 1895','tit':'明清漢語古典文學時期'}
									+historyTimeHBox(hisTimeTime01)
								.swiper-slide
									- const hisTimeImg02={"background": "url(img/his02.jpg) no-repeat center center/cover"};
									- const hisTimeTime02={'img':hisTimeImg02,'date':'1895 - 1945','tit':'殖民地時期漢文古典文學'}
									+historyTimeHBox(hisTimeTime02)
								.swiper-slide
									- const hisTimeImg03={"background": "url(img/his03.jpg) no-repeat center center/cover"};
									- const hisTimeTime03={'img':hisTimeImg03,'date':'1945 - 1965','tit':'殖民地時期漢文新文學'}
									+historyTimeHBox(hisTimeTime03)
								.swiper-slide
									- const hisTimeImg04={"background": "url(img/his04.jpg) no-repeat center center/cover"};
									- const hisTimeTime04={'img':hisTimeImg04,'date':'1965 - 1989','tit':'殖民地時期日文新文學'}
									+historyTimeHBox(hisTimeTime04)
								.swiper-slide
									- const hisTimeImg05={"background": "url(img/his05.jpg) no-repeat center center/cover"};
									- const hisTimeTime05={'img':hisTimeImg05,'date':'1603 - 1895','tit':'明清漢語古典文學時期'}
									+historyTimeHBox(hisTimeTime05)
						.swiper-button-prev#hisTimeP
							i(class="fas fa-angle-left")
						.swiper-button-next#hisTimeN
							i(class="fas fa-angle-right")
					.history-tit
						h3.page-tit 明清漢語古典文學時期
						a(href="###").down-btn <i class="fad fa-file-pdf"></i> 檔案名稱.pdf
					.edit-area
						.edit-box 
							img.img-l(src="img/txt_img01.jpg", alt="")
							h3 明清漢語古典文學時期
							p 臺灣古典文學的源頭來自中國，但在涵蓋空間遼闊、時間長達數千年的中國文學史視野下，曾經發生在這座小島上、時間不足400年的臺灣古典文學，幾乎等同不存在，或被認為不值得一提。然而，若從臺灣主體觀點出發，其存在意義與價值則將有截然不同的評價。
							p 就藝術成就與思想內涵觀察，臺灣古典文學發展的巔峰，應該是在日本殖民時期的1895~1945年間，也就是19世紀末葉到20世紀初期。不過繁花競茂，並非一朝一夕可得，而是漢文化在臺灣200多年累積深化的結果。為期約200多年的明清漢語古典文學，其發展歷程大抵是從「移植」到「定根」的歷程。丘逢甲〈臺灣竹枝詞〉：「唐山流寓話巢痕，潮惠漳泉齒最繁。二百年來蕃衍後，寄生小草已深根。」雖是描述閩粵移民遷移來臺「在地化」的歷程，也足以說明漢語古典文學在臺灣的發展狀況。
							p 在漢族移入之前，臺灣島上已有不少原住民族定居，但他們的文化傳承依靠口傳，並無文字記錄。臺灣真正產生以文字為媒介的文學作品，最早是在17世紀中葉中國明朝滅亡之際。比鄭成功早來臺的沈光文，一般認定
						.btn-area
							a(href="history_list.html").btn <i class="far fa-angle-left"></i> <span>返回臺灣文學史</span>
					.more-article-link-area
						.more-article-link-box
							.more-article-link-tit 代表作家作品清單
							.book-link
								-const moreLink=['徐孚遠〈桃花〉（約1662）','王忠孝〈東寧友人貽丹荔枝十顆有懷〉（約1664）','藍鼎元《東征集》六卷(藍鼎元為藍廷珍擬寫的公檄、書稟、條陳、告諭的輯成)（1722）','郁永河《裨海記遊》（1697）','孫元衡〈諸羅縣即事〉（約1706）']
								each n,i in moreLink
									a(href="history_more.html" target="_blank") <i class="fal fa-book"></i><span>#{n}</span>
						.more-article-link-box
							.more-article-link-tit 延伸閱讀
							.more-link
								-const moreLink2=['徐孚遠〈桃花〉（約1662）','王忠孝〈東寧友人貽丹荔枝十顆有懷〉（約1664）']
								each n,i in moreLink2
									a(href="history_more.html" target="_blank") #{n}
				#BtnBtn 12345
				#MapArea.map-area-box(style="width: 100%;")
		//-內容
		include includes/footer
		//- link(rel="stylesheet" href="css/storymap/storymap.css")

		script(type="text/javascript" src="js/storymap/storymap.js")
		//- script(type="text/javascript" src="js/storymap/VCO.StoryMap.js")

		//- CORE
		script(type="text/javascript" src="js/storymap/core/VCO.js")
		script(type="text/javascript" src="js/storymap/core/VCO.Util.js")
		script(type="text/javascript" src="js/storymap/data/VCO.Data.js")
		script(type="text/javascript" src="js/storymap/core/VCO.Class.js")
		script(type="text/javascript" src="js/storymap/core/VCO.Events.js")
		script(type="text/javascript" src="js/storymap/core/VCO.Browser.js")
		script(type="text/javascript" src="js/storymap/core/VCO.Load.js")

		//- LANGUAGE
		script(type="text/javascript" src="js/storymap/language/VCO.Language.js")

		//- LIBRARY
		script(type="text/javascript" src="js/storymap/library/VCO.Emoji.js")
		
		//- ANIMATION
		script(type="text/javascript" src="js/storymap/animation/VCO.Ease.js")
		script(type="text/javascript" src="js/storymap/animation/VCO.Animate.js")

		//- DOM
		script(type="text/javascript" src="js/storymap/dom/VCO.Point.js")
		script(type="text/javascript" src="js/storymap/dom/VCO.DomMixins.js")
		script(type="text/javascript" src="js/storymap/dom/VCO.Dom.js")
		script(type="text/javascript" src="js/storymap/dom/VCO.DomUtil.js")
		script(type="text/javascript" src="js/storymap/dom/VCO.DomEvent.js")

		//- UI
		script(type="text/javascript" src="js/storymap/ui/VCO.Draggable.js")
		script(type="text/javascript" src="js/storymap/ui/VCO.Swipable.js")
		script(type="text/javascript" src="js/storymap/ui/VCO.MenuBar.js")
		script(type="text/javascript" src="js/storymap/ui/VCO.Message.js")

		//- MEDIA
		script(type="text/javascript" src="js/storymap/media/VCO.MediaType.js")
		script(type="text/javascript" src="js/storymap/media/VCO.Media.js")

		//- MEDIA TYPES
		script(type="text/javascript" src="js/storymap/media/types/VCO.Media.Blockquote.js")
		script(type="text/javascript" src="js/storymap/media/types/VCO.Media.Flickr.js")
		script(type="text/javascript" src="js/storymap/media/types/VCO.Media.Instagram.js")
		script(type="text/javascript" src="js/storymap/media/types/VCO.Media.Profile.js")
		script(type="text/javascript" src="js/storymap/media/types/VCO.Media.GoogleDoc.js")
		script(type="text/javascript" src="js/storymap/media/types/VCO.Media.GooglePlus.js")
		script(type="text/javascript" src="js/storymap/media/types/VCO.Media.IFrame.js")
		script(type="text/javascript" src="js/storymap/media/types/VCO.Media.Image.js")
		script(type="text/javascript" src="js/storymap/media/types/VCO.Media.SoundCloud.js")
		script(type="text/javascript" src="js/storymap/media/types/VCO.Media.Storify.js")
		script(type="text/javascript" src="js/storymap/media/types/VCO.Media.Text.js")
		script(type="text/javascript" src="js/storymap/media/types/VCO.Media.Twitter.js")
		script(type="text/javascript" src="js/storymap/media/types/VCO.Media.Vimeo.js")
		script(type="text/javascript" src="js/storymap/media/types/VCO.Media.DailyMotion.js")
		script(type="text/javascript" src="js/storymap/media/types/VCO.Media.Vine.js")
		script(type="text/javascript" src="js/storymap/media/types/VCO.Media.Website.js")
		script(type="text/javascript" src="js/storymap/media/types/VCO.Media.Wikipedia.js")
		script(type="text/javascript" src="js/storymap/media/types/VCO.Media.YouTube.js")
		script(type="text/javascript" src="js/storymap/media/types/VCO.Media.Slider.js")

		//- STORYSLIDER
		script(type="text/javascript" src="js/storymap/slider/VCO.Slide.js")
		script(type="text/javascript" src="js/storymap/slider/VCO.SlideNav.js")
		script(type="text/javascript" src="js/storymap/slider/VCO.StorySlider.js")

		//- LEAFLET
		//- LEAFLET SRC
		//- Leaflet Core
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/Leaflet.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/core/Util.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/core/Class.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/core/Events.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/core/Browser.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geometry/Point.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geometry/Bounds.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geometry/Transformation.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/dom/DomUtil.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geo/LatLng.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geo/LatLngBounds.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geo/projection/Projection.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geo/projection/Projection.SphericalMercator.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geo/projection/Projection.LonLat.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geo/crs/CRS.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geo/crs/CRS.Simple.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geo/crs/CRS.EPSG3857.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geo/crs/CRS.EPSG4326.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/map/Map.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/dom/DomEvent.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/dom/Draggable.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/core/Handler.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/control/Control.js")

		//- Additonal Projections EPSG:3395 projection (used by some map providers).
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geo/projection/Projection.Mercator.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geo/crs/CRS.EPSG3395.js")

		//- TileLayerWMS WMS tile layer.
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/tile/TileLayer.js")

		//- TileLayerCanvas Tile layer made from canvases (for custom drawing purposes)
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/tile/TileLayer.Canvas.js")

		//- ImageOverlay Used to display an image over a particular rectangular area of the map.
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/ImageOverlay.js")

		//- Marker Markers to put on the map.
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/marker/Icon.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/marker/Icon.Default.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/marker/Marker.js")

		//- DivIcon Lightweight div-based icon for markers.
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/marker/DivIcon.js")

		//- Popup Used to display the map popup (used mostly for binding HTML data to markers and paths on click).
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/Popup.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/marker/Marker.Popup.js")

		//- LayerGroup Allows grouping several layers to handle them as one.
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/LayerGroup.js")

		//- FeatureGroup Extends LayerGroup with mouse events and bindPopup method shared between layers.
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/FeatureGroup.js")
		
		//- Path Vector rendering core (SVG-powered), enables overlaying the map with SVG paths.
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/Path.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/Path.SVG.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/Path.Popup.js")

		//- PathVML VML fallback for vector rendering core (IE 6-8)
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/Path.VML.js")

		//- Path Canvas fallback for vector rendering core (makes it work on Android 2+)
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/canvas/Path.Canvas.js")

		//- Polyline Polyline overlays.
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geometry/LineUtil.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/Polyline.js")

		//- Polygon Polygon overlays
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geometry/PolyUtil.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/Polygon.js")

		//- MultiPoly MultiPolygon and MultyPolyline layers.
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/MultiPoly.js")

		//- Rectangle
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/Rectangle.js")

		//- Circle
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/Circle.js")

		//- CircleMarker
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/CircleMarker.js")

		//- VectorsCanvas Canvas fallback for vector layers (polygons, polylines, circles, circlemarkers)
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/canvas/Polyline.Canvas.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/canvas/Polygon.Canvas.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/canvas/Circle.Canvas.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/canvas/CircleMarker.Canvas.js")

		//- GeoJSON GeoJSON layer, parses the data and adds corresponding layers above.
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/GeoJSON.js")

		//- MapDrag Makes the map draggable (by mouse or touch).
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/map/handler/Map.Drag.js")

		//- MouseZoom Scroll wheel zoom and double click zoom on the map.
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/map/handler/Map.DoubleClickZoom.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/map/handler/Map.ScrollWheelZoom.js")

		//- TouchZoom Enables smooth touch zoom / tap / longhold / doubletap on iOS, IE10, Android
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/dom/DomEvent.DoubleTap.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/dom/DomEvent.Pointer.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/map/handler/Map.TouchZoom.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/map/handler/Map.Tap.js")

		//- BoxZoom Enables zooming to bounding box by shift-dragging the map.
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/map/handler/Map.BoxZoom.js")

		//- Keyboard Enables keyboard pan/zoom when the map is focused.
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/map/handler/Map.Keyboard.js")

		//- ControlZoom Basic zoom control with two buttons (zoom in / zoom out).
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/control/Control.Zoom.js")

		//- ControlAttrib Attribution control.
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/control/Control.Attribution.js")

		//- ControlScale Scale control.
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/control/Control.Scale.js")
		
		//- ControlLayers Layer Switcher control.
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/control/Control.Layers.js")

		//- AnimationPan Core panning animation support.
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/dom/PosAnimation.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/map/anim/Map.PanAnimation.js")

		//- AnimationTimer Timer-based pan animation fallback for browsers that don\'t support CSS3 transitions.
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/dom/PosAnimation.Timer.js")

		//- AnimationZoom Smooth zooming animation. Works only on browsers that support CSS3 Transitions.
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/map/anim/Map.ZoomAnimation.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/tile/TileLayer.Anim.js")

		//- Geolocation Adds Map#locate method and related events to make geolocation easier.'
		script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/map/ext/Map.Geolocation.js")

		//- LEAFLET EXTENTIONS
		script(type="text/javascript" src="js/storymap/map/leaflet/extentions/VCO.Leaflet.TileLayer.Zoomify.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/extentions/VCO.Leaflet.MiniMap.js")

		//- TILES
		//- "map/tile/VCO.TileLayer.Mapbox.js"; NOT READY YET
		script(type="text/javascript" src="js/storymap/map/tile/VCO.TileLayer.Stamen.js")

		//- MAP
		script(type="text/javascript" src="js/storymap/map/VCO.MapMarker.js")
		script(type="text/javascript" src="js/storymap/map/VCO.Map.js")

		//- LEAFLET IMPLIMENTATION
		script(type="text/javascript" src="js/storymap/map/leaflet/VCO.MapMarker.Leaflet.js")
		script(type="text/javascript" src="js/storymap/map/leaflet/VCO.Map.Leaflet.js")

		//- link(rel="stylesheet" href="https://cdn.knightlab.com/libs/storymapjs/latest/css/storymap.css")
		//- script(type="text/javascript" src="https://cdn.knightlab.com/libs/storymapjs/latest/js/storymap-min.js")
		//- link(rel="stylesheet" href="css/leaflet.css")
		//- script(type="text/javascript" src="js/leaflet.js")

		script(type="text/javascript" src="js/storymap/VCO.StoryMap.js")

script.
	$(document).ready(function(){
		//時間軸
		var historyTimelineSwiper = new Swiper('#historyTimelineSwiper', {
			//- speed: 400,
			//- spaceBetween: 100
			autoHeight: true,
			navigation: {
				nextEl: '#timeLineN',
				prevEl: '#timeLineP',
			},
		});
		//時區導論
		var historyTimeSwiper = new Swiper('#historyTimeSwiper', {
			//- speed: 400,
			//- spaceBetween: 100
			slidesPerView: 4,
			//- spaceBetween: 0,
			loop: true,
			autoHeight: true,
			breakpoints: {
				768: {
					slidesPerView: 3
				},
				600: {
					slidesPerView: 2
				},
				414: {
					slidesPerView: 1
				},
			},
			navigation: {
				nextEl: '#hisTimeN',
				prevEl: '#hisTimeP',
			},
		});
		$('#BtnBtn').on('click',function(){
			console.log('1234');
			console.log(storymap);
			storymap.goTo(0);
			//- console.log(storymap._onMarkerClick())
		});
		//- $('.leaflet-marker-pane').find('.leaflet-marker-icon').each(function(){
		//- 	$(this).on('click',function(ind,item){
		//- 		console.log(ind);
		//- 	});
		//- });
	});
	//VCO.StoryMap - setMapOffset 左右
	var storymap_data ={
		//- width: 500,                // required for embed tool; width of StoryMap
		//- height: 500,               // required for embed tool; height of StoryMap
		//font_css: string,              // optional; font set
		//- calculate_zoom: true,              // optional; defaults to true.
		storymap: {
			//=== 官網增加 ===
			//- attribution:'',
			//- background:{
			//- 	color: "gray",
			//- 	opacity: 0.7
			//- },
			//- call_to_action:true,
			//- call_to_action_text:"ORPHAN OF ASIA",
			//=== 官網增加 END ===
			//- language: "zh-tw",// required; two-letter ISO language code
			//- map_type: "osm:standard",// required
			//- map_as_image: false,// required
			//- map_subdomains: "",// optional
			//- line_color: "#005C9A", //"#DA0000",OK
			slides:[
				{
					type: "overview",//第一則導覽才需要加
					date: "1790-2010",
					text: {
						headline: "US Westward Expansion <small>Mean center of United States population</small>",
						text: "<p>The mean center of U.S. population is determined by the United States Census Bureau from the results of each census. Defined as the point at which an imaginary, flat, weightless, and rigid map of the United States would balance perfectly if weights of identical value were placed on it so that each weight represented the location of one person on the date of the census.</p> <span class='vco-note'>This is an overview or title slide to show all the points in your story routed on your map.</span>"
					},
					media: {
						url: "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/US_Mean_Center_of_Population_1790-2010.PNG/800px-US_Mean_Center_of_Population_1790-2010.PNG",
						credit: "wikipedia",
						caption: "Mean US_Mean_Center_of_Population_1790-2010"
					}
				},
				{// required; array of slide objects (see below)
					//=== 官網增加 ===
					background:{//可以單獨加背景
						color: "#005C9A",
						opacity: 0.8,
						url:''
					},
					data:'',
					//=== 官網增加 END===
					//- type: "overview",// optional; if present must be set to "overview"
					location: {// required for all slides except "overview" slide
						//=== 官網增加 ===
						//- custom_icon: true,
						//- icon:"/Demo/Content/images/Storymap/residencelamontagne-hi.png",
						//- icon: "http://maps.gstatic.com/intl/en_us/mapfiles/ms/micons/blue-pushpin.png",
						icon: "img/icon_map.png",
						acticon: "img/icon_map_act.png",
						iconSize: [35,35],
						zoom: 17,
						//=== 官網增加 END===51.5, -0.09
						lat: 25.033493,// latitude of point on map
						lon: 121.564101,// longitude of point on map
						line: true
						//- lat: 22.9919771,// latitude of point on map
						//- lon: 120.20449150000002// longitude of point on map
					},
					text: {// optional if media present
						date: "2020/12/12",
						headline: "ORPHAN OF ASIA",//string
						text: '<p>吳濁流著，原名《胡志明》，以日文書寫。<br />「胡志明」原本是主角的名稱，後來因為越南戰後的革命領袖也叫胡志明，為避免被誤會，主角改為胡太明，書名改為《亞細亞的孤兒》。</p>', //string may contain HTML markup
						maptxt: '吳濁流著，原名《胡志明》，以日文書寫。<br />「胡志明」原本是主角的名稱，後來因為越南戰後的革命領袖也叫胡志明，為避免被誤會，主角改為胡太明，書名改為《亞細亞的孤兒》。',
						//=== 官網增加 ===
						//- headline_color: "#ff000",
						//- headline_size: "20px",
						id: 1073,
						//- text_color: "#ff0000",
						//- text_size: "12px",
						//=== 官網增加 END===
					},
					media: {// optional if text present
						url: "img/his05.jpg",// url for featured media
						//- caption: "看我ㄓㄜ這 我是哪裡？",// string optional; brief explanation of media content
						credit: "資料來源：國立臺灣文學館館藏",// optional; creator of media content
						//=== 官網增加 ===
						//- caption_color: "#ff0000",
						//- caption_size: "12px",
						//- credit_color: "#ff0000",
						//- credit_size: "11px",
						//=== 官網增加 END===
					}
				},
				{// required; array of slide objects (see below)
					//=== 官網增加 ===
					background:{//可以單獨加背景
						color: "#005C9A",
						opacity: 0.8,
						url:''
					},
					//- data:'',
					//=== 官網增加 END===
					//- type: "overview",// optional; if present must be set to "overview"
					location: {// required for all slides except "overview" slide
						//=== 官網增加 ===
						//- icon:"/Demo/Content/images/Storymap/residencelamontagne-hi.png",
						name: "?????????",
						icon: "img/icon_map.png",
						acticon: "img/icon_map_act.png",
						iconSize: [35,35],
						zoom: 17,
						//=== 官網增加 END===
						lat: 25.033493,// latitude of point on map
						lon: 121.570101, // longitude of point on map
						line: true
					},
					text: {// optional if media present
						headline: "1925年出生",//string
						text: '<p>吳濁流著，原名《胡志明》，以日文書寫。<br />「胡志明」原本是主角的名稱，後來因為越南戰後的革命領袖也叫胡志明，為避免被誤會，主角改為胡太明，書名改為《亞細亞的孤兒》。</p><div class="his-timeline-tag-box"><a href="###">#臺灣文學</a><a href="###">#文化</a><a href="###">#臺灣</a></div>', //string may contain HTML markup
						maptxt: '吳濁流著，原名《胡志明》，以日文書寫。<br />「胡志明」原本是主角的名稱，後來因為越南戰後的革命領袖也叫胡志明，為避免被誤會，主角改為胡太明，書名改為《亞細亞的孤兒》。',
						//=== 官網增加 ===
						//- headline_color: "#ff000",
						//- headline_size: "20px",
						id: 1073,
						//- text_color: "#ff0000",
						//- text_size: "12px",
						//=== 官網增加 END===
					},
					media: {// optional if text present
						url: "img/his05.jpg",// url for featured media
						//- caption: "看我ㄓㄜ這 我是哪裡？",// string optional; brief explanation of media content
						credit: "資料來源：國立臺灣文學館館藏",// optional; creator of media content
						//=== 官網增加 ===
						//- caption_color: "#ff0000",
						//- caption_size: "12px",
						//- credit_color: "#ff0000",
						//- credit_size: "11px",
						//=== 官網增加 END===
					}
				},
				{// required; array of slide objects (see below)
					//=== 官網增加 ===
					background:{//可以單獨加背景
						color: "#005C9A",
						opacity: 0.8,
						url:''
					},
					//- data:'',
					//=== 官網增加 END===
					//- type: "overview",// optional; if present must be set to "overview"
					location: {// required for all slides except "overview" slide
						//=== 官網增加 ===
						//- icon:"/Demo/Content/images/Storymap/residencelamontagne-hi.png",
						//- name: "?????????",
						icon:"img/icon_map.png",
						acticon: "img/icon_map_act.png",
						iconSize:[35,35],
						zoom: 17,
						//=== 官網增加 END===
						lat: 22.692992,// latitude of point on map
						lon: 121.018111, // longitude of point on map
						line: true
					},
					text: {// optional if media present
						headline: "知本洗溫泉",//string
						text: '<p>吳濁流著，原名《胡志明》，以日文書寫。<br />「胡志明」原本是主角的名稱，後來因為越南戰後的革命領袖也叫胡志明，為避免被誤會，主角改為胡太明，書名改為《亞細亞的孤兒》。</p><div class="his-timeline-tag-box"><a href="###">#臺灣文學</a><a href="###">#文化</a><a href="###">#臺灣</a></div>', //string may contain HTML markup
						maptxt: '吳濁流著，原名《胡志明》，以日文書寫。<br />「胡志明」原本是主角的名稱，後來因為越南戰後的革命領袖也叫胡志明，為避免被誤會，主角改為胡太明，書名改為《亞細亞的孤兒》。',
						//=== 官網增加 ===
						//- headline_color: "#ff000",
						//- headline_size: "20px",
						//- id: 1073,
						//- text_color: "#ff0000",
						//- text_size: "12px",
						//=== 官網增加 END===
					},
					media: {// optional if text present
						url: "img/his05.jpg",// url for featured media
						//- caption: "看我ㄓㄜ這 我是哪裡？",// string optional; brief explanation of media content
						credit: "資料來源：國立臺灣文學館館藏",// optional; creator of media content
						//=== 官網增加 ===
						//- caption_color: "#ff0000",
						//- caption_size: "12px",
						//- credit_color: "#ff0000",
						//- credit_size: "11px",
						//=== 官網增加 END===
					}
				}
			],
			//- zoomify: false
		}
	}

	//- var storymap_data = 'https://storymap.knightlab.com/static/demo/demo.json';
	//- var storymap_data={
	//- 	storymap: {
	//- 		slides: [
	//- 			{
	//- 				type: "overview",
	//- 				date: "1790-2010",
	//- 				text: {
	//- 					headline: "US Westward Expansion <small>Mean center of United States population</small>",
	//- 					text: "<p>The mean center of U.S. population is determined by the United States Census Bureau from the results of each census. Defined as the point at which an imaginary, flat, weightless, and rigid map of the United States would balance perfectly if weights of identical value were placed on it so that each weight represented the location of one person on the date of the census.</p> <span class='vco-note'>This is an overview or title slide to show all the points in your story routed on your map.</span>"
	//- 				},
	//- 				media: {
	//- 					url: "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/US_Mean_Center_of_Population_1790-2010.PNG/800px-US_Mean_Center_of_Population_1790-2010.PNG",
	//- 					credit: "wikipedia",
	//- 					caption: "Mean US_Mean_Center_of_Population_1790-2010"
	//- 				}
	//- 			},
	//- 			{
	//- 				date: "1790",
	//- 				text: {
	//- 					headline: "1790",
	//- 					text: "<p>A look at the US during this first Census data collection.</p> <span class='vco-note'>Map (left) is an example of a URL to an image hosted on the web.</span>"
	//- 				},
	//- 				location: {
	//- 					name: "Kent County, Maryland",
	//- 					lat: 39.275,
	//- 					lon: -76.18667,
	//- 					zoom: 10,
	//- 					line: true
	//- 				},
	//- 				media: {
	//- 					url: "https://upload.wikimedia.org/wikipedia/commons/2/2e/United_States_1789-08-1790.png",
	//- 					credit: "photobucket",
	//- 					caption: "1790 Map of the US Census"
	//- 				}
	//- 			},
	//- 			{
	//- 				date: "1800",
	//- 				text: {
	//- 					headline: "1800: Thomas Jefferson",
	//- 				text: "<p>In 1800, Thomas Jefferson was elected as the President of the United States, not too far from Howard County Maryland the new center of US population. He of course did not have a Twitter account, but this is fun.</p> <span class='vco-note'>You can embed a tweet into your StoryMapJS using the URL to the tweet.</span>"
	//- 				},
	//- 				location: {
	//- 					name: "Howard County, Maryland",
	//- 					lat: 39.26833,
	//- 					lon: -76.94167,
	//- 					zoom: 10,
	//- 					line: true
	//- 				},
	//- 				media: {
	//- 					url: "https://twitter.com/ThomasJefferson/status/265523460720168960",
	//- 					credit: "Twitter",
	//- 					caption: "Thomas Jefferson Twitter account"
	//- 				}
	//- 			},
	//- 			{
	//- 				date: "1810",
	//- 				text: {
	//- 					headline: "1810: Loudoun County, Virginia",
	//- 				text: "<p>The population moved 40 miles northwest of Washington, DC. The US also acquired new territory west of the original 13 states in 1803 through the Louisiana Purchase from France.</p> <span class='vco-note'>The headline and location name to the previous and next slide (left and right), show up under the navigation arrows.</span>"
	//- 				},
	//- 				location: {
	//- 					name: "Loudoun County, Virginia",
	//- 					lat: 39.19167,
	//- 					lon: -77.62,
	//- 					zoom: 10,
	//- 					line: true
	//- 				},
	//- 				media: {
	//- 					url: "http://www.worldmapsonline.com/images/Cram/History/unitedstates1810.jpg",
	//- 					credit: "worldmapsonline",
	//- 					caption: "1810 Map of the US"
	//- 				}
	//- 			},
	//- 			{
	//- 				date: "1820",
	//- 				text: {
	//- 					headline: "1820: Census image from Flickr",
	//- 				text: "<p>The mean population has moved into what is now West Virginia.</p> <span class='vco-note'>This example of an 1820 Census record pulled from Flickr gives an example of how the Census was conducted by hand.</span>"
	//- 				},
	//- 				location: {
	//- 					name: "Hardy County, Virginia (now W. Virginia)",
	//- 					lat: 39.095,
	//- 					lon: -78.55,
	//- 					zoom: 10,
	//- 					line: true
	//- 				},
	//- 				media: {
	//- 					url: "http://www.flickr.com/photos/graysonfamily/349095341/",
	//- 					credit: "graysonfamily",
	//- 					caption: "1820 Census Record"
	//- 				}
	//- 			},
	//- 			{
	//- 				date: "1830",
	//- 				text: {
	//- 					headline: "1830: Old state lines of Virginia",
	//- 					text: "A cool map showing how West Virginia was once part of Virginia. It is the only state to form by seceding from a Confederate state, it did so in 1863 and was almost named the State of Kanawha."
	//- 				},
	//- 				location: {
	//- 					name: "Grant County, Virginia (now W. Virginia)",
	//- 					lat: 38.965,
	//- 					lon: -79.28167,
	//- 					zoom: 10,
	//- 					line: true
	//- 				},
	//- 				media: {
	//- 					url: "http://www.virginiaplaces.org/boundaries/graphics/kanawha1862.png",
	//- 					credit: "Virginia Places",
	//- 					caption: "Map of Virginia"
	//- 				}
	//- 			},
	//- 			{
	//- 				date: "1840",
	//- 				text: {
	//- 					headline: "1840: Annexation of Texas",
	//- 					text:"<p>The mean population has moved into Upshur County, Virginia (now W. Virginia). By the mid 1840s the US was fighting the Mexican American War with one of the results being the annexation of Texas.</p> <span class='vco-note'>You can add a YouTube URL like this Crash Course on the Mexican American War.</span>"
	//- 				},
	//- 				location: {
	//- 					name: "Upshur County, Virginia (now W. Virginia)",
	//- 					lat: 39.03333,
	//- 					lon: -80.3,
	//- 					zoom: 10,
	//- 					line: true
	//- 				},
	//- 				media: {
	//- 					url: "https://www.youtube.com/watch?v=tkdF8pOFUfI",
	//- 					credit: "crashcourse",
	//- 					caption: "Crash Course on the Mexican American War"
	//- 				}
	//- 			},
	//- 			{
	//- 				date: "1850",
	//- 				text: {
	//- 					headline: "1850: Uncle Tom's Cabin",
	//- 					text: "<p>The mean is in Wirt County in what is now West Virginia. In 1852, Harriet Beecher Stowe's 'Uncle Tom's Cabin' was published, galvanizing the abolitionist movement.</p> <span class='vco-note'>Embed a YouTube URL like this one about Uncle Tom's Cabin.</span>"
	//- 				},
	//- 				location: {
	//- 					name: "Wirt County, Virginia (now W. Virginia)",
	//- 					lat: 38.98333,
	//- 					lon: -81.31667,
	//- 					zoom: 10,
	//- 					line: true
	//- 				},
	//- 				media: {
	//- 					url: "https://www.youtube.com/watch?v=CZCsBCio41k",
	//- 					credit: "Appucator",
	//- 					caption: "Uncle Tom's Cabin (1903 Silent Film)"
	//- 				}
	//- 			},
	//- 			{
	//- 				date: "1860",
	//- 				text: {
	//- 					headline: "1860: Abraham Lincoln",
	//- 					text: "<p>Abraham Lincoln is elected as the 16th President of the U.S.</p> <span class='vco-note'>This excerpt is embedded from Wikipedia</span></p>."
	//- 				},
	//- 				location: {
	//- 					name: "Pike County, Ohio",
	//- 					lat: 39.00667,
	//- 					lon: -82.81333,
	//- 					zoom: 10,
	//- 					line: true
	//- 				},
	//- 				media: {
	//- 					url: "https://en.wikipedia.org/wiki/Abraham_Lincoln",
	//- 					credit: "wikipedia",
	//- 					caption: "1860 Abraham Lincoln elected President"
	//- 				}
	//- 			},
	//- 			{
	//- 				date: "1870",
	//- 				text: {
	//- 					headline: "1870: Finally counting everyone",
	//- 					text: "This census was the first to record the names and other personal information of all African-Americans, including those who were formerly enslaved. In researching your African-American ancestors, moving backward from the present, the 1870 federal census may be the last census in which you are able to identify these ancestors by name. The 1870 census often even serves as a powerful tool in identifying former slave owners, a necessary step for anyone desiring to reclaim the heritage of their enslaved ancestors."
	//- 				},
	//- 				location: {
	//- 					name: "Highland County, Ohio",
	//- 					lat: 39.2,
	//- 					lon: -83.595,
	//- 					zoom: 10,
	//- 					line: true
	//- 				},
	//- 				media: {
	//- 					url: "https://www.archives.gov/exhibits/treasures_of_congress/Images/page_13/47a.jpg",
	//- 					credit: "Archives.gov",
	//- 					caption: "41st & 42nd Congress newly elected"
	//- 				}
	//- 			}
	//- 		]
	//- 	}
	//- }

	//- var storymap_data={
	//- 	storymap: {
	//- 		slides: [
	//- 			{
	//- 				type: "overview",
	//- 				date: "1790-2010",
	//- 				text: {
	//- 					headline: "US Westward Expansion <small>Mean center of United States population</small>",
	//- 					text: "<p>The mean center of U.S. population is determined by the United States Census Bureau from the results of each census. Defined as the point at which an imaginary, flat, weightless, and rigid map of the United States would balance perfectly if weights of identical value were placed on it so that each weight represented the location of one person on the date of the census.</p> <span class='vco-note'>This is an overview or title slide to show all the points in your story routed on your map.</span>"
	//- 				},
	//- 				media: {
	//- 					url: "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/US_Mean_Center_of_Population_1790-2010.PNG/800px-US_Mean_Center_of_Population_1790-2010.PNG",
	//- 					credit: "wikipedia",
	//- 					caption: "Mean US_Mean_Center_of_Population_1790-2010"
	//- 				}
	//- 			},
	//- 			{
	//- 				date: "1790",
	//- 				text: {
	//- 					headline: "1790",
	//- 					text: "<p>A look at the US during this first Census data collection.</p> <span class='vco-note'>Map (left) is an example of a URL to an image hosted on the web.</span>"
	//- 				},
	//- 				location: {
	//- 					name: "Kent County, Maryland",
	//- 					lat: 39.275,
	//- 					lon: -76.18667,
	//- 					zoom: 10,
	//- 					line: true
	//- 				},
	//- 				media: {
	//- 					url: "https://upload.wikimedia.org/wikipedia/commons/2/2e/United_States_1789-08-1790.png",
	//- 					credit: "photobucket",
	//- 					caption: "1790 Map of the US Census"
	//- 				}
	//- 			},
	//- 			{
	//- 				date: "1800",
	//- 				text: {
	//- 					headline: "1800: Thomas Jefferson",
	//- 					text: "<p>In 1800, Thomas Jefferson was elected as the President of the United States, not too far from Howard County Maryland the new center of US population. He of course did not have a Twitter account, but this is fun.</p> <span class='vco-note'>You can embed a tweet into your StoryMapJS using the URL to the tweet.</span>"
	//- 				},
	//- 				location: {
	//- 					name: "Howard County, Maryland",
	//- 					lat: 39.26833,
	//- 					lon: -76.94167,
	//- 					zoom: 10,
	//- 					line: true
	//- 				},
	//- 				media: {
	//- 					url: "https://twitter.com/ThomasJefferson/status/265523460720168960",
	//- 					credit: "Twitter",
	//- 					caption: "Thomas Jefferson Twitter account"
	//- 				}
	//- 			},
	//- 		]
	//- 	}
	//- }
	//- leaflet-marker-icon
	//- vco-mapmarker
	//- vco-mapmarker-icon
	//- vco-icon-image
	//- leaflet-zoom-animated
	//- leaflet-clickable
	// certain settings must be passed within a separate options object
	var storymap_options = {
		map_type: "osm:standard",// required
		language: "zh-tw",
		map_as_image: false,// required
		map_subdomains: "",// optional
		use_custom_markers: true,//是否使用自定義圖片 如果使用 VCO.MapMarker.Leaflet.js 可以詳細設定
		map_popup: true,//開啟地圖 popup
		map_mini: false,//控制地圖放大縮小按鈕 false 是打開
		//- duration: 1,
		//開啟地圖 popup 請至 VCO.MapMarker.Leaflet.js 裡面加入使用
		calculate_zoom: false,//預設會是true 會自動幫忙縮放 詳細解釋下面：
		//calculate_zoom是可選的。StoryMapJS將為您的每張幻燈片計算最佳縮放級別，以使上一個和下一個地圖點均可見。
		//如果要控制每個幻燈片的縮放級別，請將calculate_zoom選項設置為false，然後確保zoom為每個幻燈片設置屬性。
		// zoom 設定在每個資料中的 location 裡
		//- "line_color": "#005C9A", //"#DA0000" OK
	};

	var storymap = new VCO.StoryMap('MapArea', storymap_data, storymap_options);
	
	//- var map = L.map('MapArea').setView([51.505, -0.09], 13);
	
	//- L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	//- 	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);

	//- L.marker([51.5, -0.09]).addTo(map).bindPopup('A pretty CSS3 popup.<br> Easily customizable.').openPopup();

	//- var map = L.map('MapArea').setView([51.505, -0.09], 13);
	//- L.marker([51.5, -0.09]).addTo(map).bindPopup('A pretty CSS3 popup.<br> Easily customizable.').openPopup();
	
	window.onresize = function(event) {
		storymap.updateDisplay(); // this isn't automatic
	}
