include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-top-area
			.main-cont
				-const breadList={'actPage':'延伸閱讀'}
				+breadBox(breadList)
		.inner-single-page
			.main-cont
				h2.page-tit 林海音《城南舊事》（1960）
				.edit-area
					.edit-box
						p
							| 媽媽說的，新簾子胡同像一把湯匙，我們家就住在靠近湯匙的底兒上，正是舀湯喝時碰到嘴唇的地方。於是爸爸就教訓我，他繃著臉，瞪著眼說：<br>
							| 「講唔聽！喝湯不要出聲，窣窣窣的，最不是女孩兒家相。舀湯時，湯匙也不要把碗碰得噹噹噹地響。……」<br>
							| 我小心小心地拿著湯匙，輕慢輕慢地探進湯碗裡，爸又發脾氣了：<br>
							| 小人家要等大人先舀過了再舀，不能上一個菜，你就先下手。」他又轉過臉向媽媽：「你平常對孩子全沒教習，也是不行的。……」
						p 我心急得很，只想趕快吃了飯去到門口看方德成和劉平踢球玩，所以我就喝湯出了聲，舀湯碰了碗，菜來先下手。我已經吃飽了，只好還坐在飯桌旁，等著給爸爸盛第二碗飯。爸爸說，不能什麼都讓傭人做，他這麼大的人，在老家時，也還是吃完了飯仍站在一旁，聽著爺爺的教訓。
						p 我趁著給爸爸盛好飯，就溜開了飯桌，走向靠著窗前的書桌去，只聽媽媽悄悄對爸爸說：
						p 「也別把她管得這麼嚴吧，孩子才多大？去年惠安館的瘋子把她嚇得那麼一大場病，到現在還有膽小的毛病，聽見你大聲罵她，她就一聲不言語，她原來不是這樣的孩子呀！現在搬到這裡來，換了一個地方，忘記以前的事，又上學了，好容易臉上長胖些……」
						p 媽媽啊！你為什麼又提起那件奇怪的事呢？你們又常常說，哪個是瘋子，哪個是傻子，哪個是騙子，哪個是賊子，我分也分不清。就像我現在，抬頭看見窗外藍色的天空上，飄動著白色的雲朵，就要想到國文書上第二十六課的那篇《我們看海去》：
						p
							| 我們看海去！<br>
							| 我們看海去！<br>
							| 藍色的大海上，<br>
							| 揚著白色的帆。
						p
							| 金紅的太陽，<br>
							| 從海上升起來，<br>
							| 照到海面照到船頭。<br>
							| 我們看海去！<br>
							| 我們看海去！
						p 我就分不清天空和大海。金紅的太陽，是從藍色的大海升上來的呢？還是從藍色的天空升上來的呢？但是我很喜歡念這課書，我一遍一遍地念，好像躺在船上，又像睡在雲上。我現在已經能夠背下來了，媽媽常對爸爸、對宋媽誇我用功，書念得好。我喜歡念的，當然就念的好，像上學期的「人手足刀尺狗牛羊一身二手……」那幾課，我希望趕快忘掉它們！
						p 爸爸去睡午覺了，一家人都不許吵他，家裡一點兒聲音都沒有，但是我聽到街牆傳來「彭！彭！」的聲音，那準是方德成他們的皮球踢到牆上了。我在想，出去怎樣跟他們說話，跟他們一起玩呢？在學校，我們女生是不跟男生說話的，理也不理他們，專門瞪他們，但是我現在很想踢球。
						p 媽媽，她過來了：
						p 「出去跟那兩個野孩子說，不要在咱們家門口踢球，你爸爸睡覺呢！」
						p 有了這句話就好了，我飛快地向外跑，辮子又鉤在門框的釘子上了，拔起我的頭髮根，痛死啦！這只釘子為什麼不取掉？對了，是爸爸釘的，上面掛了一把鞋撣子，爸爸臨出門和回家來，都先撣一撣鞋。他教我也要這樣做，但是我覺得我鞋上的土，還是用跺腳的法子，跺得更乾淨些。
						p 宋媽在門道喂妹妹吃粥，她頭上的簪子插著薄荷葉，太陽穴貼著小紅蘿蔔皮，因為她在鬧頭痛的毛病。開街門的時候，宋媽問我：

		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		//時間軸
		var historyTimelineSwiper = new Swiper('#historyTimelineSwiper', {
			//- speed: 400,
			//- spaceBetween: 100
			autoHeight: true,
			navigation: {
				nextEl: '#timeLineN',
				prevEl: '#timeLineP',
			},
		});
		//時區導論
		var historyTimeSwiper = new Swiper('#historyTimeSwiper', {
			//- speed: 400,
			//- spaceBetween: 100
			slidesPerView: 4,
			//- spaceBetween: 0,
			loop: true,
			autoHeight: true,
			breakpoints: {
				768: {
					slidesPerView: 3
				},
				600: {
					slidesPerView: 2
				},
				414: {
					slidesPerView: 1
				},
			},
			navigation: {
				nextEl: '#hisTimeN',
				prevEl: '#hisTimeP',
			},
		});
	});
