include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		include includes/exb_map
		.body-main
			h1.ht 臺灣文學虛擬博物館
			include includes/nav
			.banner-area
				.banner-cont
					.banner-info
						.banner-tit 航向世界
						.banner-sup-tit 科技、人文、友善體驗
						p
							| 以科技導入藝術、人文與歷史資產之保存與展示，<br>
							| 延續其生命滲透力，同時將科技深化在地社群文化，<br>
							| 扎根智能城市發展，期望利用科技整合人文經濟的跨域與創<br>
							| 新知識體系，結合本館各項文學資源，<br>
							| 提升民眾與文學愛好者更便利之智慧文學館體驗。
						a.banner-btn(href="about.html") 了解更多
				.scroll-down
					.scroll-arr
						img(src="/img/scroll_down.svg")
					span Scroll
			#wordCloudArea.word-cloud-area.cn
				#wordCloudBox.word-cloud-box
			.main-area
				.main-cont
					// === 展覽地圖v4 add ===
					.ind-exhibition-map-area#indArea00
						.ind-tit-box
							h2 展場地圖
							.ind-en-tit
								span Map
						.exhibition-map-area-scr
							.exhibition-map-area
								.exhibition-map-cont#exbMap1(style="display:none;")
									img(src="img/mapB1.png", alt="")
									-const exbEvent7={'id':'exbEvent7','evClass':'exb-event7','img':'exb1.png','tit':'江湖有字在：臺灣 人文出版史演講'};
									// 圖書室
									+exbEvent(exbEvent7)
									-const exbEvent8={'id':'exbEvent8','evClass':'exb-event8','img':'exb2.png','tit':'相遇．花樹下—客家文學行動展'};
									// 文學樂園
									+exbEvent(exbEvent8)
									-const exbEvent9={'id':'exbEvent9','evClass':'exb-event9','img':'exb3.png','tit':'成為人以外的─臺灣動物文學特展'};
									// 國際會議廳
									+exbEvent(exbEvent9)
								.exhibition-map-cont#exbMap2
									img(src="img/map1F.png", alt="")
									// 演講廳
									-const exbEvent1={'id':'exbEvent5','evClass':'exb-event1','img':'exb1.png','tit':'江湖有字在：臺灣 人文出版史演講'};
									+exbEvent(exbEvent1)
									// 展示室C
									-const exbEvent2={'id':'exbEvent3','evClass':'exb-event2','img':'exb2.png','tit':'相遇．花樹下—客家文學行動展'};
									+exbEvent(exbEvent2)
									// 展示室A
									-const exbEvent3={'id':'exbEvent1','evClass':'exb-event3','img':'exb3.png','tit':'成為人以外的─臺灣動物文學特展'};
									+exbEvent(exbEvent3)
									// 展示室B
									-const exbEvent4={'id':'exbEvent2','evClass':'exb-event4','img':'exb6.png','tit':'百年情書─文協百年特展'};
									+exbEvent(exbEvent4)
									// 展示室D
									-const exbEvent5={'id':'exbEvent4','evClass':'exb-event5','img':'exb4.png','tit':'寫字療疾─臺灣文學中的疾與療'};
									+exbEvent(exbEvent5)
									// 文學沙龍
									-const exbEvent6={'id':'exbEvent6','evClass':'exb-event6','img':'exb5.png','tit':'寫字療疾─臺灣文學中的疾與療'};
									+exbEvent(exbEvent6)
								.exhibition-map-cont#exbMap3(style="display:none;")
									img(src="img/map2F.png", alt="")
									// 展示室E
									-const exbEvent10={'id':'exbEvent10','evClass':'exb-event10','img':'exb3.png','tit':'成為人以外的─臺灣動物文學特展'}
									+exbEvent(exbEvent10)
							.exb-event-mb-area
								.exb-event-mb-cont#exbEventMbArea1(style="display:none;")
									-const exbEventMb7={'id':'exbEventMb7','img':'exb1.png','tag':'圖書室','tit':'江湖有字在：臺灣 人文出版史演講'};
									+exbEventMb(exbEventMb7)
									-const exbEventMb8={'id':'exbEventMb8','img':'exb2.png','tag':'文學樂園','tit':'相遇．花樹下—客家文學行動展'};
									+exbEventMb(exbEventMb8)
									-const exbEventMb9={'id':'exbEventMb9','img':'exb3.png','tag':'國際會議廳','tit':'成為人以外的─臺灣動物文學特展'};
									+exbEventMb(exbEventMb9)
								.exb-event-mb-cont#exbEventMbArea2
									-const exbEventMb1={'id':'exbEventMb1','img':'exb3.png','tag':'展示室A','tit':'成為人以外的─臺灣動物文學特展'};
									+exbEventMb(exbEventMb1)
									-const exbEventMb2={'id':'exbEventMb2','img':'exb6.png','tag':'展示室B','tit':'百年情書─文協百年特展'};
									+exbEventMb(exbEventMb2)
									-const exbEventMb3={'id':'exbEventMb3','img':'exb2.png','tag':'展示室C','tit':'相遇．花樹下—客家文學行動展'};
									+exbEventMb(exbEventMb3)
									-const exbEventMb4={'id':'exbEventMb4','img':'exb4.png','tag':'展示室D','tit':'寫字療疾─臺灣文學中的疾與療'};
									+exbEventMb(exbEventMb4)
									-const exbEventMb5={'id':'exbEventMb5','img':'exb1.png','tag':'演講廳','tit':'江湖有字在：臺灣 人文出版史演講'};
									+exbEventMb(exbEventMb5)
									-const exbEventMb6={'id':'exbEventMb6','img':'exb5.png','tag':'文學沙龍','tit':'寫字療疾─臺灣文學中的疾與療'};
									+exbEventMb(exbEventMb6)
								.exb-event-mb-cont#exbEventMbArea3(style="display:none;")
									-const exbEventMb10={'id':'exbEventMb10','img':'exb1.png','tag':'展示室E','tit':'江湖有字在：臺灣 人文出版史演講'};
									+exbEventMb(exbEventMb10)
							.exhibition-floor-area
								.exhibition-btn#exbBtn1  B1
								.exhibition-btn#exbBtn2.act 1F
								.exhibition-btn#exbBtn3 2F
					// === 展覽地圖v4 add end ===
					#indArea01
						-const indTit01={'tit':'臺灣文學史','titEn':'Literary History','moreLink':'history_list_p2.html','isF':true};
						+indexTit(indTit01)
						//- 臺灣文學史 banner
						.swiper-container.literary-banner#LiteraryBanner
							.swiper-wrapper
								.swiper-slide
									- const hisTimeImg01={"background": "url(img/his01.jpg) no-repeat center center/cover"};
									- const hisTimeTime01={'img':hisTimeImg01,'date':'1603 - 1895','tit':'明清漢語古典文學時期'}
									+historyTimeBox(hisTimeTime01)
								.swiper-slide
									- const hisTimeImg02={"background": "url(img/his02.jpg) no-repeat center center/cover"};
									- const hisTimeTime02={'img':hisTimeImg02,'date':'1895 - 1945','tit':'殖民地時期漢文古典文學'}
									+historyTimeBox(hisTimeTime02)
								.swiper-slide
									- const hisTimeImg03={"background": "url(img/his03.jpg) no-repeat center center/cover"};
									- const hisTimeTime03={'img':hisTimeImg03,'date':'1945 - 1965','tit':'殖民地時期漢文新文學'}
									+historyTimeBox(hisTimeTime03)
								.swiper-slide
									- const hisTimeImg04={"background": "url(img/his04.jpg) no-repeat center center/cover"};
									- const hisTimeTime04={'img':hisTimeImg04,'date':'1965 - 1989','tit':'殖民地時期日文新文學'}
									+historyTimeBox(hisTimeTime04)
								.swiper-slide
									- const hisTimeImg05={"background": "url(img/his01.jpg) no-repeat center center/cover"};
									- const hisTimeTime05={'img':hisTimeImg05,'date':'1603 - 1895','tit':'明清漢語古典文學時期'}
									+historyTimeBox(hisTimeTime01)
							.swiper-pagination#LiteraryPage
					//- 作家行跡
					#indArea02
						-const indTit02={'tit':'作家行跡','titEn':'Writer Track','moreLink':'writer_list.html'};
						+indexTit(indTit02)
						.ind-writer-area
							- const writerImg01={"background": "url(img/writer01.jpg) no-repeat center center/cover"}
							- const writerInfo01={'img':writerImg01,'tit':'葉石濤大事記','txt':'葉石濤，出身台灣台南市白金町。台灣當代文學作家，創作以小說與評論為主，散文及翻譯為輔。葉石濤橫跨日治與戰後兩個世代，小學前曾接受兩年漢文私塾教育，畢業於臺南州立第二中學校，歷任日本作家西川滿主持之《文藝台灣》的助理編輯。'}
							+writerBox(writerInfo01)
							- const writerImg02={"background": "url(img/writer02.jpg) no-repeat center center/cover"}
							- const writerInfo02={'img':writerImg02,'tit':'李潼大事記','txt':'李潼，本名賴西安，台灣已故知名兒童文學作家及作詞人。生於花蓮，定居宜蘭縣羅東鎮。空中行政專科學校畢業。1978年開始寫作，文體類別包含兒童文學、散文、小說、新詩、歌詞等，另外還有相關劇本、文學評論和報導文學的創作，不過最知名的還是兒童文學、少年小說的作品。','isRight':true}
							+writerBox(writerInfo02)
					//- 主題之旅
					#indArea03
						-const indTit03={'tit':'主題之旅','titEn':'Theme tour','moreLink':'theme_list.html'};
						+indexTit(indTit03)
						.ind-theme-area
							a(href="theme_cont.html").ind-theme-box
								.ind-theme-img(style="background: url(img/theme01.jpg) no-repeat center center/cover")
									img(src="img/theme01.jpg", alt="")
								.ind-theme-txt
									h3 府城瑣憶
									p 踏出鍋牛居，穿越葫蘆巷，走過蜿蜒的小徑，葉石濤直奔公會堂參與文學者大會的悸動，以及被叫進警署盤問羅織罪狀的驚恐，如今都已成為隱藏在府城巷弄間的人文景觀。一頭吃夢維生的獸，正俯伏等待下一位踏尋者，打開這塵封多年的府城瑣憶。
							a(href="theme_cont.html").ind-theme-box
								.ind-theme-img(href="theme_list.html" style="background: url(img/theme02.jpg) no-repeat center center/cover")
									img(src="img/theme01.jpg", alt="")
								.ind-theme-txt
									h3 踏尋小封神
									p 小上帝爺困愁城，委請趙、康元帥典當通天冠，本欲豪賭來翻本，安知千里順風來攪局，頓使康趙二位輸滿地，怒急見笑轉生氣，誤逮魁星起爭議，眾神牽連仙拼仙，孔子關公猴齊天，府城混戰誰領先，欲知後事如何待你親自前來踏尋小封神。
					//- 文學展示
					#indArea04
						-const indTit04={'tit':'文學展示','titEn':'Literary Exhibition','moreLink':'exhibition_list_p2.html'};
						+indexTit(indTit04)
				.ind-exhibition-area#indAreaSwiper04
					.swiper-container.exhibition-banner#ExhibitionBanner
						.swiper-wrapper
							.swiper-slide
								- const exBannerImg01={"background": "url(img/liter01.jpg) no-repeat center center/cover"}
								- const exBannerInfo01={'img':exBannerImg01,'tit':'小露台、大觀園韓良露捐贈展'}
								+exBannerBox(exBannerInfo01)
							.swiper-slide 
								- const exBannerImg02={"background": "url(img/liter02.jpg) no-repeat center center/cover"}
								- const exBannerInfo02={'img':exBannerImg02,'tit':'百年之週-佐藤春夫1920，臺灣旅行文學展'}
								+exBannerBox(exBannerInfo02)
							.swiper-slide
								- const exBannerImg03={"background": "url(img/liter03.jpg) no-repeat center center/cover"}
								- const exBannerInfo03={'img':exBannerImg03,'tit':'文學展示標題'}
								+exBannerBox(exBannerInfo03)
							.swiper-slide
								- const exBannerImg04={"background": "url(img/liter04.jpg) no-repeat center center/cover"}
								- const exBannerInfo04={'img':exBannerImg04,'tit':'小露台、大觀園韓良露捐贈展'}
								+exBannerBox(exBannerInfo04)
							.swiper-slide
								- const exBannerImg05={"background": "url(img/liter05.jpg) no-repeat center center/cover"}
								- const exBannerInfo05={'img':exBannerImg05,'tit':'日治時代的台灣(四)：近代化影響下的文學'}
								+exBannerBox(exBannerInfo05)
							.swiper-slide
								- const exBannerImg06={"background": "url(img/liter01.jpg) no-repeat center center/cover"}
								- const exBannerInfo06={'img':exBannerImg06,'tit':'小露台、大觀園韓良露捐贈展'}
								+exBannerBox(exBannerInfo06)
						.swiper-pagination#ExhibitionPage
			//-內容
			include includes/footer

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400&display=swap" rel="stylesheet">
<script src="../js/wordcloud2.js"></script>
<script src="../js/wordcloudfun.js"></script>

script.
	$(document).ready(function(){
		var LiteraryBannerSwiper = new Swiper('#LiteraryBanner', {
			slidesPerView: 4,
			spaceBetween: 0,
			breakpoints: {
				768: {
					slidesPerView: 3
				},
				600: {
					slidesPerView: 2
				},
				414: {
					slidesPerView: 1
				},
			},
			pagination: {
				el: '#LiteraryPage',
				clickable: true,
			},
		});

		var ExhibitionBannerSwiper = new Swiper('#ExhibitionBanner', {
			//- slidesPerView: 4,
			spaceBetween: 70,
			initialSlide: 3,
			breakpoints: {
				768: {
					spaceBetween: 40
				},
			},
			pagination: {
				el: '#ExhibitionPage',
				clickable: true,
			},
		});
		//展覽點擊
		$('.ind-exhibition-img').each(function (index, item) {
			//- $(this).on('click', function () {
			//- 	ExhibitionBannerSwiper.slideTo(index, 300);
			//- });
		});
	});

	//- $(window).scroll(function () {
	//- 	var windowScrollNum = $(window).scrollTop();
	//- 	//- var travelEnterAreaTop = $('#travelEnterAreaPos').offset().top - 70;
	//- 	//- console.log(travelEnterAreaTop);
	//- 	//- console.log(windowScrollNum);
	//- 	if(windowScrollNum > 300){
	//- 		console.log('上上上')
	//- 		//- $('#travelEnterArea').css({'position':'fixed','top':'70px'});
	//- 		$('#travelEnterArea').addClass('fixed');
	//- 	}else{
	//- 		console.log('下下下')
	//- 		//- $('#travelEnterArea').removeAttr('style');
	//- 		$('#travelEnterArea').removeClass('fixed');
	//- 	}
	//- });
