include includes/en/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht virtual museum of taiwam literature
		include includes/en/nav
		.banner-area
			.banner-cont
				.banner-info
					.banner-tit(style="letter-spacing: 0px") Heading to the world
					.banner-sup-tit Technology, Humanities, Friendly experience
					p
						| Introduce the preservation and display of art, humanities and historical assets with technology,<br>
						| Continuing its life penetration, while deepening technology in the local community culture,<br>
						//- | Rooted in the development of smart cities, expecting to use technology to integrate the cross-domain and innovative<br>
						//- | The new knowledge system, combined with the various literary resources of the library,<br>
						| Enhance the convenience of the smart literature museum experience for the public and literature lovers.。
					a.banner-btn(href="###") More
		.main-area
			.main-cont
				-const indTit01={'tit':'臺灣文學史','titEn':'Literary History','moreLink':'history_list.html','isF':true};
				+indexTit(indTit01)
				//- 臺灣文學史 banner
				.swiper-container.literary-banner#LiteraryBanner
					.swiper-wrapper
						.swiper-slide
							- const hisTimeImg01={"background": "url(img/his01.jpg) no-repeat center center/cover"};
							- const hisTimeTime01={'img':hisTimeImg01,'date':'1603 - 1895','tit':'Ming and Qing Chinese Classical Literature Period'}
							+historyTimeBox(hisTimeTime01)
						.swiper-slide
							- const hisTimeImg02={"background": "url(img/his02.jpg) no-repeat center center/cover"};
							- const hisTimeTime02={'img':hisTimeImg02,'date':'1895 - 1945','tit':'Chinese Classical Literature in the Colonial Period'}
							+historyTimeBox(hisTimeTime02)
						.swiper-slide
							- const hisTimeImg03={"background": "url(img/his03.jpg) no-repeat center center/cover"};
							- const hisTimeTime03={'img':hisTimeImg03,'date':'1945 - 1965','tit':'Chinese New Literature in the Colonial Period'}
							+historyTimeBox(hisTimeTime03)
						.swiper-slide
							- const hisTimeImg04={"background": "url(img/his04.jpg) no-repeat center center/cover"};
							- const hisTimeTime04={'img':hisTimeImg04,'date':'1965 - 1989','tit':'Japanese New Literature in the Colonial Period'}
							+historyTimeBox(hisTimeTime04)
						.swiper-slide
							- const hisTimeImg05={"background": "url(img/his01.jpg) no-repeat center center/cover"};
							- const hisTimeTime05={'img':hisTimeImg05,'date':'1603 - 1895','tit':'Ming and Qing Chinese Classical Literature Period'}
							+historyTimeBox(hisTimeTime01)
					.swiper-pagination#LiteraryPage
				//- 作家行跡
				-const indTit02={'tit':'作家行跡','titEn':'Writer Track','moreLink':'writer_list.html'};
				+indexTit(indTit02)
				.ind-writer-area
					- const writerImg01={"background": "url(img/writer01.jpg) no-repeat center center/cover"}
					- const writerInfo01={'img':writerImg01,'tit':'Memorabilia of Ye Shitao','txt':'Ye Shitao was born in Baijin Town, Tainan City, Taiwan. Taiwan contemporary literary writer, whose creation is mainly based on novels and criticism, supplemented by prose and translation. Ye Shitao spanned the Japanese and postwar generations. He received two years of Chinese private school education before elementary school. He graduated from Tainan State No. 2 High School and served as an assistant editor of "Art Taiwan" hosted by Japanese writer Nishikawa Mitsuru.'}
					+writerBox(writerInfo01)
					- const writerImg02={"background": "url(img/writer02.jpg) no-repeat center center/cover"}
					- const writerInfo02={'img':writerImg02,'tit':'Li Tong Memorabilia','txt':'Li Tong, whose real name is Lai Xi’an, is a late well-known children‘s literature writer and lyricist in Taiwan. Born in Hualien, settled in Luodong Township, Yilan County. Graduated from Air Administration College. He started writing in 1978. The genre category includes children’s literature, prose, novels, new poems, lyrics, etc. In addition, there are related scripts, literary reviews, and reporting literature, but the most well-known works are children‘s literature and juvenile novels.','isRight':true}
					+writerBox(writerInfo02)
				//- 主題之旅
				-const indTit03={'tit':'主題之旅','titEn':'Theme tour','moreLink':'###'};
				+indexTit(indTit03)
				.ind-theme-area
					.ind-theme-box
						.ind-theme-img(style="background: url(img/theme01.jpg) no-repeat center center/cover")
							img(src="img/theme01.jpg", alt="")
						.ind-theme-txt
							h3 Suo Yi
							p Stepping out of Guoniuju, crossing the gourd alley, and walking through winding paths, Ye Shitao went straight to the public hall to participate in the throbbing of the literary congress, and the horror of being called into the police station to interrogate Luo Zhi's crimes, now has become hidden in the city.
					.ind-theme-box
						.ind-theme-img(style="background: url(img/theme02.jpg) no-repeat center center/cover")
							img(src="img/theme01.jpg", alt="")
						.ind-theme-txt
							h3 Step to find the little Fengshen
							p The little god is troubled, and asked Marshal Zhao and Kang to pawn the crown of the sky. He wanted to gamble to reverse his money, and the wind would disrupt the situation. The two of Kang and Zhao lost the ground.
				//- 文學展示
				-const indTit04={'tit':'文學展示','titEn':'Literary Exhibition','moreLink':'###'};
				+indexTit(indTit04)
			.ind-exhibition-area
				.swiper-container.exhibition-banner#ExhibitionBanner
					.swiper-wrapper
						a(href="###").swiper-slide
							.ind-exhibition-img(style="background: url(img/liter01.jpg) no-repeat center center/cover")
								img(src="img/liter01.jpg", alt="")
							.ind-exhibition-txt Small Terrace, Grand View Garden Han Lianglu Donation Exhibition
						a(href="###").swiper-slide 
							.ind-exhibition-img(style="background: url(img/liter02.jpg) no-repeat center center/cover")
								img(src="img/liter01.jpg", alt="")
							.ind-exhibition-txt The Week of a Hundred Years-Haruo Sato 1920, Taiwan Travel Literature Exhibition
						a(href="###").swiper-slide
							.ind-exhibition-img(style="background: url(img/liter03.jpg) no-repeat center center/cover")
								img(src="img/liter01.jpg", alt="")
							.ind-exhibition-txt Literary Show Title
						a(href="###").swiper-slide 
							.ind-exhibition-img(style="background: url(img/liter04.jpg) no-repeat center center/cover")
								img(src="img/liter01.jpg", alt="")
							.ind-exhibition-txt Small Terrace, Grand View Garden Han Lianglu Donation Exhibition
						a(href="###").swiper-slide
							.ind-exhibition-img(style="background: url(img/liter05.jpg) no-repeat center center/cover")
								img(src="img/liter01.jpg", alt="")
							.ind-exhibition-txt Taiwan in the Japanese Occupation Period (4): Literature under the Influence of Modernization
						a(href="###").swiper-slide
							.ind-exhibition-img(style="background: url(img/liter01.jpg) no-repeat center center/cover")
								img(src="img/liter01.jpg", alt="")
							.ind-exhibition-txt Small Terrace, Grand View Garden Han Lianglu Donation Exhibition
					.swiper-pagination#ExhibitionPage
		//-內容
		include includes/en/footer

script.
	$(document).ready(function(){
		$('#btn01').on('click',function(){
			console.log('btn01')
		});
		var LiteraryBannerSwiper = new Swiper('#LiteraryBanner', {
			slidesPerView: 4,
			spaceBetween: 0,
			breakpoints: {
				768: {
					slidesPerView: 3
				},
				600: {
					slidesPerView: 2
				},
				414: {
					slidesPerView: 1
				},
			},
			pagination: {
				el: '#LiteraryPage',
				clickable: true,
			},
		});

		var ExhibitionBannerSwiper = new Swiper('#ExhibitionBanner', {
			//- slidesPerView: 4,
			spaceBetween: 70,
			initialSlide: 2,
			//- breakpoints: {
			//- 	1000: {
			//- 		slidesPerView: 3
			//- 	},
			//- },
			pagination: {
				el: '#ExhibitionPage',
				clickable: true,
			},
		});
		//展覽點擊
		$('.ind-exhibition-img').each(function (index, item) {
			$(this).on('click', function () {
				ExhibitionBannerSwiper.slideTo(index, 300);
			});
		});
	});
