include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-top-area.page-top-area-g
			.main-cont
				-const breadList={'actPage':'會員登入'}
				+breadBox(breadList)
		.page-wrap.page-gray-wrap
			.main-cont
				.login-area
					h2 臺灣文學虛擬博物館 會員登入
					.login-cont
						form#loginForm(action="###")
							- const inputArea01={'type':'text','tit':'帳號','idName':'account','placeholder':'請輸入電子郵件'}
							+inputArea(inputArea01)
							- const inputArea02={'type':'password','tit':'密碼','idName':'pwd','placeholder':'請輸入密碼'}
							+inputArea(inputArea02)
							.login-note-box
								.check-box-area
									label(for="yes")
										input(type="checkbox" name="yes" id="yes" checked class="required")
										div(class="check-box fas")
										span 保持登入狀態
								a(href="forget_page.html") 忘記密碼？
							.robet-box 機器人
							.btn-area
								.btn.btn-submit 登入
									input(type="submit", value="送出")
							.to-register-box 還沒有帳號？<a href="register.html">立即註冊 <i class="fas fa-arrow-right"></i></a>
							.or-line <span>OR</span>
							.btn-area
								a(href="###").btn.fb-login <i class="fab fa-facebook-f"></i> 使用 Facebook 帳號登入
								a(href="###").btn.google-login <i class="fab fa-google"></i> 使用 Google 帳號登入
		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		var lang = getCookie('CacheLang');//語系
		var reqTxt;
		lang== 'zh' ? reqTxt= '必填' : reqTxt= 'Required';
		var validator = $("#loginForm").validate({
			messages:{
				account:{
					required: reqTxt,
				},
				pwd:{
					required: reqTxt,
				},
			},
			submitHandler: function (form) {
				alert("完成");
				form.submit();
			}
		});
	});
