include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-top-area.page-top-area-g
			.main-cont
				-const breadList={'actPage':'會員中心'}
				+breadBox(breadList)
		.page-wrap.page-gray-wrap
			.main-cont
				.member-center-area
					.member-side
						h2.tit 會員中心
						.member-side-nav
							.item
								a(href="member_info.html") 會員資料
							.item
								a(href="member_collect_route.html") 收藏紀錄
							.item
								a(href="member_blog_list.html") 我的部落格
							// v4 add
							.item.act
								a(href="member_mission_list_v4.html") 集章任務
							.item
								a(href="member_medal_list_v4.html") 我的徽章
							// v4 add end
					.member-cont
						.member-mission-total-box
							.tit 來吧！挑戰者們，去尋找文學的寶藏吧！
							.cont
								.collect 已完成<span>22</span>/ 143 枚徽章
								.txt 徽章完成進度不會立即更新，請耐心等候約5分鐘呦！
						.member-info-cont
							.member-mission-area
								ul.member-center-list.member-mission-list
									li.tit-box
										.box01 #
										.box02 任務名稱
										.box03 徽章進度
										.box04 操作
									-const mission01={'num': 5,'tit':'38到館一遊'};
									+memberMissionItem(mission01)
									-const mission02={'num': 4,'tit':'新手任務'};
									+memberMissionItem(mission02)
									-const mission03={'num': 3,'tit':'老朋友回歸'};
									+memberMissionItem(mission03)
									-const mission04={'num': 2,'tit':'新朋友註冊好禮送'};
									+memberMissionItem(mission04)
									-const mission05={'num': 1,'tit':'閱讀達人'};
									+memberMissionItem(mission05)
									li
										.no-data 尚無任務。
						+pagination
		//-內容
		include includes/footer
