include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-top-area.page-top-area-g
			.main-cont
				-const breadList={'actPage':'會員中心'}
				+breadBox(breadList)
		.page-wrap.page-gray-wrap
			.main-cont
				.member-center-area
					.member-side
						h2.tit 會員中心
						.member-side-nav
							.item.act
								a(href="member_info.html") 會員資料
							.item
								a(href="member_collect_route.html") 收藏紀錄
							.item
								a(href="member_blog_list.html") 我的部落格
							// v4 add
							.item
								a(href="member_mission_list_v4.html") 集章任務
							.item
								a(href="member_medal_list_v4.html") 我的徽章
							// v4 add end
					.member-cont
						.member-top-nav-box
							a(href="member_info.html").act 會員資料修改
							a(href="member_change_pwd.html") 修改密碼
						.member-info-cont
							form(id="memberForm" action="###") 
								.member-info-column
									//第三方註冊
									.input-area.input-area2
										label 帳號
										.input-txt
											.three-img-box
												.three-img
													img(src="img/mem.png", alt="")
												span truesun@gmail.com
									//email註冊
									.input-area.input-area2
										label 帳號
										.input-txt
											span truesun@gmail.com
											.acc-tag#mailUn <i class="fas fa-paper-plane"></i> 尚未驗證
											.acc-tag.fin#mailOk <i class="far fa-check-circle"></i> 已驗證
									.input-area.input-area2
											label(for="email") 聯絡E-mail
											.input-box
												input(class="input-sty" type="email" id="email" name="email" placeholder="請輸入有效的電子郵件")
											.check-box-area.register-agree-box.register-mailpaper-box
												label(for="mailPaper")
													input(type="checkbox" name="mailPaper" id="mailPaper" checked)
													div(class="check-box fas")
													span 訂閱電子報

									- const inputArea01={'type':'text','tit':'暱稱','idName':'nickName','placeholder':'請輸入暱稱','isMark':true}
									+inputArea(inputArea01)
									.input-area
										label(for="age") 年齡
										.input-box
											select#sex.sel-sty(name="age")
												option(value="age1") 18歲以下
												option(value="age2") 18 - 22歲
												option(value="age3") 23 - 30歲

									.input-area
										label(for="sex") 性別
										.input-box
											select#sex.sel-sty(name="sex")
												option(value="male") 男
												option(value="female") 女
									.input-area
										label(for="hobby") 興趣
										.check-group
											-const hobbyList=[{'idName':'hobby1','txt':'閱讀書籍'},{'idName':'hobby2','txt':'旅行'},{'idName':'hobby3','txt':'享受美食'},{'idName':'hobby4','txt':'悠閒走踏'},{'idName':'hobby5','txt':'逛街電影'},{'idName':'hobby6','txt':'上網'}];
											each n in hobbyList
												.check-box-area
													label(for=n.idName)
														input(type="checkbox" name="hobby" id=n.idName)
														div(class="check-box fas")
														span #{n.txt}

									- const inputArea03={'type':'text','tit':'聯絡電話','idName':'tel','placeholder':'請輸入有效的電話號碼','notReq':true}
									+inputArea(inputArea03)
									.input-area
										label(for="memberInfo") 自我介紹 <span class="member-info-input-note">將顯示於部落格內，最多輸入40個中文字元</span>
										.input-box
											textarea#memberInfo.member-info-input(name="memberInfo")
								.btn-area
									.btn.btn-submit 確認送出
										input(type="submit", value="送出")
				//- 舊會員
				//- .login-area
				//- 	.member-name-box
				//- 		span Simon 您好！
				//- 		a(href="member_pwd.html").btn <i class="fas fa-user-lock"></i> 修改密碼
				//- 	.login-cont
				//- 		form#memberForm(action="###")
				//- 			.input-area
				//- 				label 帳號
				//- 				.input-txt
				//- 					span truesun@gmail.com
				//- 					.acc-tag#mailUn <i class="fas fa-paper-plane"></i> 尚未驗證
				//- 					.acc-tag.fin#mailOk <i class="far fa-check-circle"></i> 已驗證
				//- 			- const inputArea01={'type':'text','tit':'暱稱','idName':'nickName','placeholder':'請輸入暱稱','isMark':true}
				//- 			+inputArea(inputArea01)
				//- 			.input-area
				//- 				label(for="sex") 性別
				//- 				.input-box
				//- 					select#sex.sel-sty(name="sex")
				//- 						option(value="male") 男
				//- 						option(value="female") 女
				//- 			- const inputArea02={'type':'email','tit':'聯絡E-mail','idName':'email','placeholder':'請輸入有效的電子郵件','notReq':true}
				//- 			+inputArea(inputArea02)
				//- 			- const inputArea03={'type':'text','tit':'聯絡電話','idName':'tel','placeholder':'請輸入有效的電話號碼','notReq':true}
				//- 			+inputArea(inputArea03)
				//- 			.btn-area
				//- 				.btn.btn-submit 確認送出
				//- 					input(type="submit", value="送出")
		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		$('#mailOk').hide();
		$('#mailUn').on('click',function(){
			alertTxt('已發送驗證信。');
			$('#mailUn').hide();
			$('#mailOk').show();
		});
		// var actLang = CookiesLang;//動態使用
		var lang = getCookie('CacheLang');//語系
		var reqTxt;
		lang== 'zh' ? reqTxt= '必填' : reqTxt= 'Required';
		var validator = $("#memberForm").validate({
			messages:{
				nickName:{
					required: reqTxt,	
				},
			},
			submitHandler: function (form) {
				//- alert("完成");
				//- 資料修改完成！
				alertTxt('資料修改完成！');
				//- form.submit();
			}
		});
	});
