include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-top-area.page-top-area-g
			.main-cont
				-const breadList={'actPage':'會員中心'}
				+breadBox(breadList)
		.page-wrap.page-gray-wrap
			.main-cont
				.member-center-area
					.member-side
						h2.tit 會員中心
						.member-side-nav
							.item
								a(href="member_info.html") 會員資料
							.item.act
								a(href="member_collect_route.html") 收藏紀錄
							.item
								a(href="member_blog_list.html") 我的部落格
							// v4 add
							.item
								a(href="member_mission_list_v4.html") 集章任務
							.item
								a(href="member_medal_list_v4.html") 我的徽章
							// v4 add end
					.member-cont
						+memberTopNavBox('台灣文學史',5)
						.member-info-cont
							.member-collect-area
								-const toLink='travel_news_cont.html';
								-const memberCollect01={'img':'collect01.png','tit':'女誡扇綺譚：臺南口袋名單精選！蘊含日式風情的老屋咖啡廳推薦','txt':'此路線為紀念日本作家佐藤春1920 年夏天走訪臺灣的意外之旅，以大小姐鬼魂傳說改創的小說作品'}
								+memberCollectBox(memberCollect01,toLink)
								-const memberCollect02={'img':'travel_route01.png','tit':'文學小封神：結局未必如人所願，但初心卻如此動人！面對人生的課題，你會如何','txt':'藉由「府城小封神」這條路線，讓我們回到文壇前輩許丙丁著作《小封神》的歷史場景，穿越...'}
								+memberCollectBox(memberCollect02,toLink)
								-const memberCollect03={'img':'travel_route02.png','tit':'「府城撞見鬼」這條路線絕對不辜負府城超多奇案、傳說眼花撩亂','txt':'「府城撞見鬼」這條路線絕對不辜負府城超多奇案、傳說眼花撩亂。這些奇聞八卦，是各時代作...'}
								+memberCollectBox(memberCollect03,toLink)
								+memberCollectBox(memberCollect02,toLink)
								+memberCollectBox(memberCollect01,toLink)
						+pagination
		//-內容
		include includes/footer
