include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-top-area.page-top-area-g
			.main-cont
				-const breadList={'actPage':'會員中心'}
				+breadBox(breadList)
		.page-wrap.page-gray-wrap
			.main-cont
				.member-center-area
					.member-side
						h2.tit 會員中心
						.member-side-nav
							.item
								a(href="member_info.html") 會員資料
							.item
								a(href="member_collect_route.html") 收藏紀錄
							.item
								a(href="member_blog_list.html") 我的部落格
							// v4 add
							.item.act
								a(href="member_mission_list_v4.html") 集章任務
							.item
								a(href="member_medal_list_v4.html") 我的徽章
							// v4 add end
					.member-cont
						.member-mission-total-box
							.tit 來吧！挑戰者們，去尋找文學的寶藏吧！
							.cont
								.collect 已完成<span>22</span>/ 143 枚徽章
								.txt 徽章完成進度不會立即更新，請耐心等候約5分鐘呦！
						.member-info-cont
							.member-mission-area
								.member-medal-part
									.member-mission-part-tit 任務名稱：<span>一起到館旅行</span>
									.member-freebee-from-area
										<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeFoyOy4ykKlMAbi0Vce6zNOO2Sa8eQjSuXb6l0mYxNNd20LQ/viewform?embedded=true&entry.1325920093=會員帳號ID&entry.1888979463=任務名稱&entry.194185563=任務編號" width="640" height="1500" frameborder="0" marginheight="0" marginwidth="0">載入中…</iframe>
										//- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScKb-c3MTPBT0QC289i_gCq_cFaIk7WvKmNgNIdPYUGAEM6NA/viewform?embedded=true&entry.893496102=陳小明&entry.676204148=0912345678&entry.1113151308=測試欄位" width="640" height="1000" frameborder="0" marginheight="0" marginwidth="0">載入中…</iframe>
		include includes/footer