include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		.freebee-light-area#freebeeLightArea
			.tit 兌獎權益與說明
			.freebee-light-cont.scroll-cont
				ul
					li 本活動兌換需輸入google表單
					li 本活動僅郵寄至台、澎、金、馬地區。
					li 參與本活動者保證所有填寫、提出之資料均為真實且正確，且未冒用或盜用任何第三人之資料，如有不實或不正確之情事，將被取消得獎資格，且如有致生損害於主辦單位或其他任何第三人，應負一切民刑事責任。主辦單位對於任何不實或不正確之資料不負任何法律責任。
					li 得獎者不得要求將獎品讓與他人，也不得要求變換或折換現金。
					li 本活動注意事項載明於活動網頁中，參加本活動同時，即參加者同意接受本活動辦法及注意事項之規範。如有違反本活動注意事項之行為，主辦單位得取消其參加或得獎資格。
					li 中華民國稅法規定，獎項金額若達新台幣1,000元以上，獎項所得將列入個人年度綜合所得稅申報，故得獎人需提供身份證影本且依規定填寫並繳交相關收據方可領獎；獎品或獎金價值超過新台幣20,000元以上，需預先繳交獎項總價值10%所得稅，年度報稅時必須計入個人所得，故得獎者於領獎後、所得稅徵收前會收到贈獎單位所寄發的扣繳憑證。所得稅雖已預先扣繳，得獎者須完稅後方可領獎，但在申報所得稅時仍需計入計算。以上稅法規定若不願意配合，則視為自動棄權，不具得獎資格。其他未盡事宜，悉依中華民國稅法相關規定辦理。
					li 呈上述稅法規定，因本次機票獎項價值29,000元，中獎者須支付10%機會中獎所得稅(2,900元)，主辦單位將事先代扣10%所得稅，不願繳交稅金者視同放棄得獎權利。
					li 主辦單位保留本活動最終解釋權，改變、暫停或中止本活動細節之權利；主辦單位保有審核參加資格之權利。
					li 本活動所蒐集之得獎人資料，除依法規定須留存外，本次活動結束後，若無爭議事項或聯絡需要，將於六個月後銷毀。
			.check-box-area
				label(for="agree")
					input(type="checkbox" name="agree" id="agree" checked)
					.check-box.fas
					span 勾選即表示您同意接受本站<a href="###" target="_blank">隱私條款</a>與<a href="###" target="_blank">服務政策</a>
			.note-box#freebeeNote(style="display: none;") 請同意本站隱私條款與服務政策。
			.btn-area
				.member-gray-btn#freebeeCancle 取消
				a(href="member_mission_freebee_v4.html").member-orange-btn#freebeeGo
					span 輸入兌換資料
					<i class="fal fa-pen"></i>
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-top-area.page-top-area-g
			.main-cont
				-const breadList={'actPage':'會員中心'}
				+breadBox(breadList)
		.page-wrap.page-gray-wrap
			.main-cont
				.member-center-area
					.member-side
						h2.tit 會員中心
						.member-side-nav
							.item
								a(href="member_info.html") 會員資料
							.item
								a(href="member_collect_route.html") 收藏紀錄
							.item
								a(href="member_blog_list.html") 我的部落格
							// v4 add
							.item.act
								a(href="member_mission_list_v4.html") 集章任務
							.item
								a(href="member_medal_list_v4.html") 我的徽章
							// v4 add end
					.member-cont
						.member-mission-total-box
							.tit 來吧！挑戰者們，去尋找文學的寶藏吧！
							.cont
								.collect 已完成<span>22</span>/ 143 枚徽章
								.txt 徽章完成進度不會立即更新，請耐心等候約5分鐘呦！
						.member-info-cont
							.member-mission-area
								.member-mission-part
									.member-mission-part-tit 任務名稱：<span>一起到館旅行</span>
									.member-medal-area
										-const medal1={'isOn':true,'tit':'抵達臺灣文學基地','pro':'1/1','img':'medal4.svg','txt':'參加專屬活動'};
										+memberMedalItem(medal1)
										-const medal2={'tit':'抵達高雄文學館','pro':'0/1','img':'medal3.svg','txt':'參加專屬活動'};
										+memberMedalItem(medal2)
										-const medal3={'tit':'抵達臺灣文學館','pro':'0/1','img':'medal2.svg','txt':'參加專屬活動'};
										+memberMedalItem(medal3)
								.member-mission-part
									.member-mission-part-tit 任務介紹
									.member-mission-info 一起探索文學家族！<br><br>前往指定館舍，登入會員並掃描專屬Qrocde，即可獲得專屬徽章<br>集滿38間館舍，完成本次活動即可兌換以下精美小禮物呦！
								.member-mission-part
									.member-mission-part-tit.btn-part-tit 獎品介紹
										//- .div 獎品介紹
										.member-orange-btn#freebeeOpen
											span 前往兌換
											<i class="far fa-arrow-right"></i>
									.member-freebee-area
										-const freebee1={'img':'good1.png','tit':'晶透浮雕-鶯歌陶瓷杯墊','txt':'鶯歌高嶺土與陶土高溫燒製(約100g重)，尺寸:110x110mm<br><br>鶯歌陶瓷吸水杯墊服務再升級，獨家立體浮雕技術，類釉料水晶光澤，呈現細膩高規收藏品質。'}
										+memberFreebeeItem(freebee1)
										-const freebee2={'img':'good2.png','tit':'基隆嶼的秘密擴香組','txt':'2023基隆好物<br><br>- 基隆嶼造型擴香石<br>- 海洋調香氛精油<br>- 環保植纖盒+麻繩綁帶'}
										+memberFreebeeItem(freebee2)
										-const freebee3={'img':'good3.png','tit':'創意紙膠帶','txt':'尺寸15mm*5m'}
										+memberFreebeeItem(freebee3)
								.btn-area
									a(href="member_mission_list_v4.html").btn <i class="far fa-chevron-left"></i> 返回活動列表
		//-內容
		include includes/footer
script.
	$(document).ready(function(){
		$(".scroll-cont").mCustomScrollbar();

		$("#agree").on('change',function(){
			var isCheck=$("#agree").prop('checked');
			if(isCheck){
				$('#freebeeNote').hide();
				$('#freebeeGo').removeClass('off');
			}else{
				$('#freebeeNote').show();
				$('#freebeeGo').addClass('off');
			}
		});

		$('#freebeeOpen').on('click',function(){
			$('#freebeeLightArea,#mask').fadeIn();
		});

		$('#freebeeCancle,#mask').on('click',function(){
			$('#freebeeLightArea,#mask').fadeOut();
		});
	});