include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-top-area.page-top-area-g
			.main-cont
				-const breadList={'actPage':'會員資料編輯'}
				+breadBox(breadList)
		.page-wrap.page-gray-wrap
			.main-cont
				.login-area
					.member-name-box
						span Simon 您好！
						a(href="member_pwd.html").btn <i class="fas fa-user-lock"></i> 修改密碼
					.login-cont
						form#memberForm(action="###")
							.input-area
								label 帳號
								.input-txt
									span truesun@gmail.com
									.acc-tag#mailUn <i class="fas fa-paper-plane"></i> 尚未驗證
									.acc-tag.fin#mailOk <i class="far fa-check-circle"></i> 已驗證
							- const inputArea01={'type':'text','tit':'暱稱','idName':'nickName','placeholder':'請輸入暱稱','isMark':true}
							+inputArea(inputArea01)
							.input-area
								label(for="sex") 性別
								.input-box
									select#sex.sel-sty(name="sex")
										option(value="male") 男
										option(value="female") 女
							- const inputArea02={'type':'email','tit':'聯絡E-mail','idName':'email','placeholder':'請輸入有效的電子郵件','notReq':true}
							+inputArea(inputArea02)
							- const inputArea03={'type':'text','tit':'聯絡電話','idName':'tel','placeholder':'請輸入有效的電話號碼','notReq':true}
							+inputArea(inputArea03)
							.btn-area
								.btn.btn-submit 確認送出
									input(type="submit", value="送出")
		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		$('#mailOk').hide();
		$('#mailUn').on('click',function(){
			alertTxt('已發送驗證信。');
			$('#mailUn').hide();
			$('#mailOk').show();
		});
		
		var lang = getCookie('CacheLang');//語系
		var reqTxt;
		lang== 'zh' ? reqTxt= '必填' : reqTxt= 'Required';
		var validator = $("#memberForm").validate({
			messages:{
				nickName:{
					required: reqTxt,	
				},
			},
			submitHandler: function (form) {
				//- alert("完成");
				//- 資料修改完成！
				alertTxt('資料修改完成！');
				//- form.submit();
			}
		});
	});
