include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-top-area.page-top-area-g
			.main-cont
				-const breadList={'actPage':'會員中心'}
				+breadBox(breadList)
		.page-wrap.page-gray-wrap
			.main-cont
				.member-center-area
					.member-side
						h2.tit 會員中心
						.member-side-nav
							.item
								a(href="member_info.html") 會員資料
							.item
								a(href="member_collect_route.html") 收藏紀錄
							.item.act
								a(href="member_blog_list.html") 我的部落格
							// v4 add
							.item
								a(href="member_mission_list_v4.html") 集章任務
							.item
								a(href="member_medal_list_v4.html") 我的徽章
							// v4 add end
					.member-cont
						.member-info-cont
							.member-blog-area
								.member-blog-btn-box
									a(href="travel_blog_edit.html").member-blog-edit-btn
										.icon
											img(src="img/icon_write.svg", alt="")
										span 撰寫文章
								ul.member-blog-list
									// v4 change
									li.tit-box
										.box01 標題
										.box02 集章資格
										.box03 點閱
										.box04 收藏
										.box05 發佈日期
										.box06 操作
									-const memberBlogItem01={'tit':'[傳奇殞落] Do Kwon 與 Terra，到底是天才還是騙','pass':true}
									+memberBlogItem(memberBlogItem01)
									-const memberBlogItem02={'tit':'就算沒做過業務，你也能一步一步寫出潛在客戶會想','unpass':true}
									+memberBlogItem(memberBlogItem02)
									-const memberBlogItem03={'tit':'《二十五，二十一》：沒能廝守終身就是悲劇嗎？','passing':true}
									+memberBlogItem(memberBlogItem03)
									// v4 change end
									li
										.no-data 尚無文章。
						+pagination
		//-內容
		include includes/footer
