include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-top-area.page-top-area-g
			.main-cont
				-const breadList={'actPage':'會員中心'}
				+breadBox(breadList)
		.page-wrap.page-gray-wrap
			.main-cont
				.member-center-area
					.member-side
						h2.tit 會員中心
						.member-side-nav
							.item
								a(href="member_info.html") 會員資料
							.item
								a(href="member_collect_route.html") 收藏紀錄
							.item
								a(href="member_blog_list.html") 我的部落格
							// v4 add
							.item
								a(href="member_mission_list_v4.html") 集章任務
							.item.act
								a(href="member_medal_list_v4.html") 我的徽章
							// v4 add end
					.member-cont
						.member-mission-total-box
							.tit 來吧！挑戰者們，去尋找文學的寶藏吧！
							.cont
								.collect 已完成<span>22</span>/ 143 枚徽章
								.txt 徽章完成進度不會立即更新，請耐心等候約5分鐘呦！
						.member-info-cont
							.member-mission-area
								.member-medal-part
									.member-mission-part-tit 已完成
									.member-medal-area
										-const medal1={'isOn':true,'tit':'造訪臺文館','pro':'1/1','img':'medal5.svg','txt':'參加專屬活動'};
										+memberMedalItem(medal1)
										-const medal2={'isOn':true,'tit':'收集印章','pro':'3/3','img':'medal3.svg','txt':'參加專屬活動'};
										+memberMedalItem(medal2)
										-const medal3={'isOn':true,'tit':'參訪臺灣文學館','pro':'10/10','img':'medal2.svg','txt':'參加專屬活動'};
										+memberMedalItem(medal3)
										-const medal4={'isOn':true,'tit':'專業閱讀者','pro':'10/10','img':'medal1.svg','txt':'閱讀文章30次'};
										+memberMedalItem(medal4)
								.member-medal-part
									.member-mission-part-tit 未完成
									.member-medal-area
										-const medal5={'tit':'收藏家','pro':'0/10','img':'medal4.svg','txt':'收藏文章10次'};
										+memberMedalItem(medal5)
										-const medal6={'tit':'收集印章','pro':'1/3','img':'medal3.svg','txt':'參加專屬活動'};
										+memberMedalItem(medal6)
										-const medal7={'tit':'文學常客','pro':'5/10','img':'medal2.svg','txt':'觀賞線上展20次'};
										+memberMedalItem(medal7)
										-const medal8={'tit':'專業閱讀者','pro':'7/10','img':'medal1.svg','txt':'閱讀文章30次'};
										+memberMedalItem(medal8)
										-const medal9={'tit':'支持者','pro':'0/10','img':'medal1.svg','txt':'閱讀文章10次'};
										+memberMedalItem(medal9)
								.member-medal-part
									.member-mission-part-tit 徽章收集成就
									.member-medal-area
										-const medal10={'tit':'收集新手','pro':'0/1','img':'medal4.svg','txt':'徽章收集1次'};
										+memberMedalItem(medal10)
										-const medal11={'tit':'收集高手','pro':'1/5','img':'medal3.svg','txt':'徽章收集5次'};
										+memberMedalItem(medal11)
		//-內容
		include includes/footer