include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-top-area.page-top-area-g
			.main-cont
				-const breadList={'actPage':'會員中心'}
				+breadBox(breadList)
		.page-wrap.page-gray-wrap
			.main-cont
				.member-center-area
					.member-side
						h2.tit 會員中心
						.member-side-nav
							.item.act
								a(href="member_info.html") 會員資料
							.item
								a(href="member_collect_route.html") 收藏紀錄
							.item
								a(href="member_blog_list.html") 我的部落格
							// v4 add
							.item
								a(href="member_mission_list_v4.html") 集章任務
							.item
								a(href="member_medal_list_v4.html") 我的徽章
							// v4 add end
					.member-cont
						.member-top-nav-box
							a(href="member_info.html") 會員資料修改
							a(href="member_change_pwd.html").act 修改密碼
						.member-info-cont
							form(id="memberForm" action="###") 
								.member-info-column
									- const inputArea01={'type':'password','tit':'舊密碼','idName':'oldPwd','placeholder':'請輸入舊密碼','isPwd':true}
									+inputArea(inputArea01)
									- const inputArea02={'type':'password','tit':'新密碼','idName':'pwd','placeholder':'請輸入密碼','isPwd':true}
									+inputArea(inputArea02)
									- const inputArea03={'type':'password','tit':'確認密碼','idName':'checkPwd','placeholder':'請再次確認密碼','isMark':true}
									+inputArea(inputArea03)
								.btn-area
									.btn.btn-submit 確認送出
										input(type="submit", value="送出")
		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		// var actLang = CookiesLang;//動態使用
		var lang = getCookie('CacheLang');//語系
		var reqTxt,equalToTxt;
		if(lang== 'zh'){
			reqTxt='必填';
			equalToTxt='密碼不相符';
		}else{
			reqTxt='Required';
			equalToTxt='Incorrect';
		}
		var validator = $("#memberForm").validate({
			rules:{
				checkPwd:{
					equalTo:"#pwd"
				}
			},
			messages:{
				oldPwd:{
					required: reqTxt,
				},
				pwd:{
					required: reqTxt,
				},
				checkPwd:{
					equalTo: equalToTxt,
					required: reqTxt,
				},
			},
			submitHandler: function (form) {
				//- alert("完成");
				alertTxt('密碼已修改完成<br>請重新登入！');
				//- form.submit();
			}
		});
	});
