include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-top-area
			.main-cont
				-const breadList={'actPage':'作者與著作'}
				+breadBox(breadList)
		.inner-single-page
			.main-cont
				.portfolio-tit-box
					.portfolio-img(style="background: url(img/portfolio01.jpg) no-repeat center center/cover")
					.portfolio-info
						.tit 作者
						.name 李潼
				.portfolio-list-box
					p 李潼  本名賴西安（1953～2004），李潼為作詞者與兒童文學作家。年輕時以本名賴西安創作多首歌詞，其中以《廟會》、《月琴》、《散場電影》最為膾炙人口。從「唱自己的歌」到「寫自己的故事」；文體類別包含少年小說、散文、童話、繪本、評論等。李潼關心自然、土地、生態，也細緻的觀察人性、人生。以觀照少年閱讀的角度，述說他對人與自然以及台灣的過往史實，以文字為現實的環境帶來愛的力量。
					ul.portfolio-list
						li.tit
							div
								span 作品名稱
							div 發表時間
						-const pList01={'tit': '《大聲公》 小魯文化公司 短篇少年小說','date':'1985'}
							+portfolioList(pList01)
						-const pList02={'tit': '《大蜥蜴》 聯經 少年小說','date':'1988'}
							+portfolioList(pList02)
						-const pList03={'tit': '《大蜥蜴》 民生報社 短篇少年小說','date':'1988/6'}
							+portfolioList(pList03)
						-const pList04={'tit': '《再見天人菊》 書評書目雜誌社 少年小說','date':'1989/1'}
							+portfolioList(pList04)
						-const pList05={'tit': '《再見天人菊》 自立晚報社文化岀版部守護神出版 少年小說','date':'1992'}
							+portfolioList(pList05)

				
		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		
	});
