include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-top-area.page-top-area-g
			.main-cont
				-const breadList={'actPage':'會員註冊'}
				+breadBox(breadList)
		.page-wrap.page-gray-wrap
			.main-cont
				form#registerForm(action="register_fin.html")
					.login-area.register-area
						h2 臺灣文學虛擬博物館 會員註冊
						.register-cont
							.register-tit
								.tit 請填寫會員資料
								.note *號為必填項目
							.form-column-box
								.form-column2
									- const inputArea01={'type':'email','tit':'帳號','idName':'account','placeholder':'請輸入電子郵件','isPs':'(會員驗證用，填寫後不可修改。)'}
									+inputArea(inputArea01)
									- const inputArea02={'type':'password','tit':'密碼','idName':'pwd','placeholder':'請輸入密碼','isPs':'(最少5個英數組合字元)'}
									+inputArea(inputArea02)
									- const inputArea03={'type':'password','tit':'確認密碼','idName':'checkPwd','placeholder':'請再次確認密碼','isMark':true}
									+inputArea(inputArea03)
									.check-box-area.register-agree-box
										label(for="agree")
											input(type="checkbox" name="agree" id="agree" checked)
											div(class="check-box fas")
											span 勾選即表示您同意接受<a class="link" id="rPrivacyBtn">隱私權保護政策</a>
								.form-column2
									- const inputArea04={'type':'text','tit':'暱稱','idName':'nickName','placeholder':'請輸入暱稱','isMark':true}
									+inputArea(inputArea04)
									.input-area.input-area2
										label(for="sex") 性別
										.input-box
											select#sex.sel-sty(name="sex")
												option(value="male") 男
												option(value="female") 女
									// 第三期新增
									.input-area.input-area2
										label(for="age") 年齡
										.input-box
											select#sex.sel-sty(name="age")
												option(value="age1") 18歲以下
												option(value="age2") 18 - 22歲
												option(value="age3") 23 - 30歲
									// 第三期新增
									.input-area.input-area2
										label(for="hobby") 興趣
										.check-group
											-const hobbyList=[{'idName':'hobby1','txt':'閱讀書籍'},{'idName':'hobby2','txt':'旅行'},{'idName':'hobby3','txt':'享受美食'},{'idName':'hobby4','txt':'悠閒走踏'},{'idName':'hobby5','txt':'逛街電影'},{'idName':'hobby6','txt':'上網'}];
											each n in hobbyList
												.check-box-area
													label(for=n.idName)
														input(type="checkbox" name="hobby" id=n.idName)
														div(class="check-box fas")
														span #{n.txt}
									.input-area.input-area2
										label(for="email") 聯絡E-mail<br><span class="pwd-mark">(會員管理用，無填寫將帶入帳號填寫信箱，如需修改請至會員中心。)</span>
										.input-box
											input(class="input-sty" type="email" id="email" name="email" placeholder="請輸入有效的電子郵件")
										.check-box-area.register-agree-box.register-mailpaper-box
											label(for="mailPaper")
												input(type="checkbox" name="mailPaper" id="mailPaper" checked)
												div(class="check-box fas")
												span 訂閱電子報
									//- - const inputArea05={'type':'email','tit':'聯絡E-mail','idName':'email','placeholder':'請輸入有效的電子郵件','notReq':true,'isPsNoReq':'(會員管理用，無填寫將帶入帳號填寫信箱，如需修改請至會員中心。)'}
									//- +inputArea(inputArea05)
									- const inputArea06={'type':'text','tit':'聯絡電話','idName':'tel','placeholder':'請輸入有效的電話號碼','notReq':true}
									+inputArea(inputArea06)
					.register-btn-area
						.robet-box 機器人
						.btn.btn-submit 註冊為會員
							input(type="submit", value="送出")
		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		// var actLang = CookiesLang;//動態使用
		var lang = getCookie('CacheLang');//語系
		var reqTxt,emailTxt,equalToTxt;
		if(lang== 'zh'){
			reqTxt='必填';
			emailTxt='無效信箱';
			equalToTxt='密碼不相符';
		}else{
			reqTxt='Required';
			emailTxt='Not Valid';
			equalToTxt='Incorrect';
		}
		var validator = $("#registerForm").validate({
			rules:{
				checkPwd:{
					equalTo:"#pwd"
				}
			},
			messages:{
				account:{
					required: reqTxt,
					email: emailTxt
				},
				pwd:{
					required: reqTxt,
				},
				checkPwd:{
					equalTo: equalToTxt,
					required: reqTxt,
				},
				nickName:{
					required: reqTxt,	
				},
			},
			submitHandler: function (form) {
				var agreeCheck= $('#agree').is(':checked');
				if(agreeCheck){
					alert("完成");
					form.submit();
				}else{
					alert('請同意隱私權保護政策。')
				}
				
			}
		});
	});
