include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-top-area.page-top-area-g
			.main-cont
				-const breadList={'actPage':'會員註冊'}
				+breadBox(breadList)
		.page-wrap.page-gray-wrap
			.main-cont
					.login-area.register-area
						h2 您已完成會員註冊
						.register-cont
							.register-fine-txt
								.tit 註冊完成！
								.cont
									| 感謝您註冊成為 臺灣文學虛擬博物館 會員<br>
									| 系統已發送系統驗證信至您的信箱<br>
									| 請完成帳號驗證後，方能使用本網站完整功能<br>
									| 謝謝！
							.register-bot-btn
								a.send-btn.btn(href="/index") 回到首頁
								a.send-btn.btn(href="/Account/Login") 立即登入
		//-內容
		include includes/footer
