include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-top-area.page-top-area-g
			.main-cont
				-const breadList={'actPage':'重置密碼'}
				+breadBox(breadList)
		.page-wrap.page-gray-wrap
			.main-cont
				.login-area
					.member-name-box
						span 重置密碼
					.login-cont
						form#memberForm(action="###")
							- const inputArea02={'type':'password','tit':'新密碼','idName':'pwd','placeholder':'請輸入密碼','isPwd':true}
							+inputArea(inputArea02)
							- const inputArea03={'type':'password','tit':'確認密碼','idName':'checkPwd','placeholder':'請再次確認密碼','isMark':true}
							+inputArea(inputArea03)
							.btn-area
								.btn.btn-submit 確認送出
									input(type="submit", value="送出")
		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		var lang = getCookie('CacheLang');//語系
		var reqTxt,equalToTxt;
		if(lang== 'zh'){
			reqTxt='必填';
			equalToTxt='密碼不相符';
		}else{
			reqTxt='Required';
			equalToTxt='Incorrect';
		}
		var validator = $("#memberForm").validate({
			rules:{
				checkPwd:{
					equalTo:"#pwd"
				}
			},
			messages:{
				pwd:{
					required: reqTxt,
				},
				checkPwd:{
					equalTo: equalToTxt,
					required: reqTxt,
				},
			},
			submitHandler: function (form) {
				//- alert("完成");
				alertTxt('密碼已修改完成<br>請重新登入！');
				//- form.submit();
			}
		});
	});
