include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-top-area
			.main-cont
				-const breadList={'actPage':'全站搜尋'}
				+breadBox(breadList)
		.src-page-area
			.main-cont
				//- .src-tab-box
				//- 	.src-tab.act 關鍵字搜尋
				//- 	a(href="search_tag_list.html").src-tab 全站標籤搜尋
				.creat-src-box
					.creat-src
						input(type="text", name="" placeholder="搜尋...")
					.creat-src-btn
						i(class="fas fa-search")
						| 搜尋
				.src-key-box 標籤<span>臺灣</span>的搜尋結果如下
				.src-key-box.fz10 請切換以下不同單元，查詢您想要搜尋的結果。
				.src-area-box
					.src-area 臺灣文學史 (<span>23</span>)
					.src-area.act 文學踏查 (<span>34</span>)
					.src-area 主題平台 (<span>432</span>)
					.src-area 共創平台 (<span>1</span>)
				.src-area-sup-box
					.src-area-sup.act 作家行跡 (<span>23</span>)
					.src-area-sup 地圖故事 (<span>6</span>)
					.src-area-sup 主題之旅 (<span>20</span>)
		.page-wrap.page-gray-wrap
			.main-cont
				.page-tit 相關標籤
				.src-tag-list
					.gin-tag-box
						a(href="###") #臺灣文學
						a(href="###") #臺灣府城
						a(href="###") #臺灣NO.1
				.page-tit 搜尋結果
				.search-list
					- const srcImg01={"background": "url(img/default_src.jpg) no-repeat center center/contain"}
					- const srcLink01={'img':srcImg01,'tit':'多音交響的母語文學','txt':'隨著戰後1980年代政治的解嚴，以及文化主體意志的深化與高漲，將文學回歸本土文化或以母語表達的熱忱促成「母語文學」的興起。語言和文化、族群意識有著密不可分的關係，「母語文學」的興起除了展現各族群...'}
					+srcBox(srcLink01)
					- const srcImg02={"background": "url(img/article01.jpg) no-repeat center center/contain"}
					- const srcLink02={'img':srcImg02,'tit':'文化主體意志的深化與高漲','txt':'隨著戰後1980年代政治的解嚴，以及文化主體意志的深化與高漲，將文學回歸本土文化或以母語表達的熱忱促成「母語文學」的興起。語言和文化、族群意識有著密不可分的關係...'}
					+srcBox(srcLink02)
					- const srcImg03={"background": "url(img/his01.jpg) no-repeat center center/contain"}
					- const srcLink03={'img':srcImg03,'tit':'多音交響的母語文學','txt':'隨著戰後1980年代政治的解嚴，以及文化主體意志的深化與高漲，將文學回歸本土文化或以母語表達的熱忱促成「母語文學」的興起。語言和文化、族群意識有著密不可分的關係...'}
					+srcBox(srcLink03)
					- const srcImg04={"background": "url(img/art_banner.jpg) no-repeat center center/contain"}
					- const srcLink04={'img':srcImg04,'tit':'多音交響的母語文學','txt':'隨著戰後1980年代政治的解嚴，以及文化主體意志的深化與高漲，將文學回歸本土文化或以母語表達的熱忱促成「母語文學」的興起。語言和文化、族群意識有著密不可分的關係...'}
					+srcBox(srcLink04)
				+pagination
		//-內容
		include includes/footer
