include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-top-area
			.main-cont
				-const breadList={'actPage':'全站搜尋'}
				+breadBox(breadList)
		.src-page-area
			.main-cont
				.src-tab-box
					a(href="search_list.html").src-tab 關鍵字搜尋
					.src-tab.act 全站標籤搜尋
				.creat-src-box
					.creat-src
						input(type="text", name="" placeholder="搜尋...")
					.creat-src-btn
						i(class="fas fa-search")
						| 搜尋
				.src-key-box 標籤<span>臺灣</span>的搜尋結果如下
				.src-area-box
					.src-area.act 臺灣文學史 (<span>23</span>)
					.src-area 文學踏查 (<span>34</span>)
					.src-area 主題平台 (<span>432</span>)
					.src-area 共創平台 (<span>1</span>)
		.page-wrap.page-gray-wrap
			.main-cont
				.src-tag-list
					.gin-tag-box
						a(href="###") #臺灣文學
						a(href="###") #臺灣府城
						a(href="###") #臺灣NO.1
		//-內容
		include includes/footer