include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'actPage':'文學踏查 - 主題之旅'}
				+breadBox(breadList)
				-const subNavList=[{'name':'作家行跡','icon':'<i class="fal fa-books"></i>','link':'writer_list.html'},{'name':'故事地圖','icon':'<i class="fal fa-map-marked-alt"></i>','link':'writer_story_list.html'},{'name':'主題之旅','icon':'<i class="fal fa-map-signs"></i>'},{'name':'城市解謎1','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'},{'name':'城市解謎2','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'}]
				+subNav(subNavList)
		.page-wrap.inner-single-page
			.main-cont
				.theme-banner-area
					.swiper-container.theme-banner#themeBanner
						.swiper-wrapper
							.swiper-slide
								- const themeBannerImg01={"background": "url(img/theme_banner01.jpg) no-repeat center center/cover"}
								- const themeBanner01={'img':themeBannerImg01,'tit':'浪漫Duke帶你找到屬於你的浪漫'}
								+themeBanner(themeBanner01)
							.swiper-slide
								- const themeBannerImg02={"background": "url(img/theme_banner01.jpg) no-repeat center center/cover"}
								- const themeBanner02={'img':themeBannerImg02,'tit':'迷霧山谷，穿梭在雲林之間'}
								+themeBanner(themeBanner02)
						.swiper-button-prev#themeP
							i(class="fas fa-angle-left")
						.swiper-button-next#themeN
							i(class="fas fa-angle-right")
						.swiper-pagination#themeBannerPage
				.theme-list
					- const themeImg01={"background": "url(img/theme_img01.jpg) no-repeat center center/cover"}
					- const theme01={'img':themeImg01,'tit':'浪漫Duke帶你找到屬於你的浪漫','date':'2019/01/09'}
					+themeBox(theme01)
					- const themeImg02={"background": "url(img/theme_img02.jpg) no-repeat center center/cover"}
					- const theme02={'img':themeImg02,'tit':'迷霧山谷，穿梭在雲林之間','date':'2019/01/09'}
					+themeBox(theme02)
					- const themeImg03={"background": "url(img/theme_img03.jpg) no-repeat center center/cover"}
					- const theme03={'img':themeImg03,'tit':'迷霧山谷，穿梭在雲林之間','date':'2019/01/09'}
					+themeBox(theme03)
				+pagination
		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		var themeBanner = new Swiper('#themeBanner', {
			//- speed: 400,
			//- spaceBetween: 100
			//- autoHeight: true,
			navigation: {
				nextEl: '#themeN',
				prevEl: '#themeP',
			},
			pagination: {
				el: '#themeBannerPage',
				clickable: true,
			},
		});
	});
