include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'文學踏查 - 主題之旅','link':'theme_list.html'}],'actPage':'迷霧山谷，穿梭在雲林之間'}
				+breadBox(breadList)
				-const back={'name':'返回主題之旅','link':'theme_list.html'}
				+backPage(back)
				-const subNavList=[{'name':'作家行跡','icon':'<i class="fal fa-books"></i>','link':'writer_list.html'},{'name':'故事地圖','icon':'<i class="fal fa-map-marked-alt"></i>','link':'writer_story_list.html'},{'name':'主題之旅','icon':'<i class="fal fa-map-signs"></i>'},{'name':'城市解謎1','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'},{'name':'城市解謎2','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'}]
				+subNav(subNavList)
		.page-wrap.inner-single-page
			.main-cont
				.theme-banner-area
					.theme-banner-box
						h2.theme-banner-tit 迷霧山谷，穿梭在雲林之間
						.theme-banner-img(style="background: url(img/theme_banner01.jpg) no-repeat center center/cover")
				.theme-cont-area
					.route-btn-list
						a(href="theme_cont.html") 浮生半日遊
						a(href="theme_cont.html") 一日輕旅行
					p.theme-cont-txt 踏出鍋牛居，穿越葫蘆巷，走過蜿蜒的小徑，葉石濤直奔公會堂參與文學者大會的悸動，以及被叫進警署盤問羅織罪狀的驚恐，如今都已成為隱藏在府城巷弄間的人文景觀。一頭吃夢維生的獸，正俯伏等待下一位踏尋者，打開這塵封多年的府城瑣憶。
					.theme-cont-img
						img(src="img/route_map.jpg", alt="")
					.route-list
						.route-tag
							i(class="fas fa-map-marker-alt")
							span 路線<br>規劃
						.route-wrap
							- const routeImg01={"background": "url(img/route_img01.jpg) no-repeat center center/cover"}
							- const route01={'img':routeImg01,'idNum':'1','tit':'臺南州廳（國立臺灣文學館）','txt':'國立臺灣文學館館址在清代原為御史衙署用地，故這一帶舊名諧音牛屎埕。日治初期成為臺灣銀行宿舍，至1910年臺南廳長松木茂俊上陳總督府請建臺南廳舍，1915年完工，由總督府營繕課技師森山松之助設計，隔年臺南廳辦公室從原按察使銜分巡臺灣兵備道(今永福國小)移入新廳舍，迨1918年至1920年才逐漸增建兩翼。二戰期間遭戰火波及，馬薩頂以及衛塔等幾近全毀，僅存外牆獨矗荒廢了四年。戰後簡略修復後為空軍供應司令部使用，後來1969年原位在今建興國中的臺南市政府進駐，直至1997年遷至五期重劃區。隔年市政府將此處移交給文建會，自此開始臺灣文學館的籌劃，並於2003年正式開館，定名為國立臺灣文學館。國立臺灣文學館是臺灣首座國家級文學館，主要蒐集、整理、典藏與研究臺灣近代文學史料。'}
							+routeBox(route01)
							- const routeImg02={"background": "url(img/route_img02.jpg) no-repeat center center/cover"}
							- const route02={'img':routeImg02,'idNum':'2','tit':'消防署（臺南合同廳舍）','txt':'昭和5年(1930)為慶祝昭和天皇登基而興建御大典紀念塔，並在一旁設立對消防有功的營造商人住吉秀松的雕像。昭和12年(1937)在高塔兩側擴建合同廳舍。為當時臺南最高的建築，在臺南市消防史上也別具意義。'}
							+routeBox(route02)
							- const routeImg03={"background": "url(img/route_img03.jpg) no-repeat center center/cover"}
							- const route03={'img':routeImg03,'idNum':'3','tit':'太平境教會','txt':'於1865年創立之太平境教會是全臺最早設立的教會，英國宣教師馬雅各醫生在府城大西門外看西街租屋，前面當教堂，後面設醫館，與助手開始傳道與醫療，為創設之始。太平境命名來由據說是因教會前枋溪河道彎曲幅度大，常會有屍體積在曲流處造成人心惶惶，遂將此處命名為太平境，其也是少數以廟宇聯境名稱命名的西洋教堂。'}
							+routeBox(route03)
		.route-img-light-box#routeLightWrap(style="display:none;")
			.route-close-btn
				.close-btn#routeLightCloseBtn <i class="fas fa-times"></i>
			img(src="img/route_img_l.jpg", alt="")
			.route-img-light-name 臺南州廳（國立臺灣文學館）
		//-內容
		include includes/footer

script.
	$(document).ready(function(){
			//- var $infoBtn=$('.routeInfoBtn');
			//- var $info=$('.routeInfo');
			//- var $noteBtn=$('.routeNoteBtn');
			//- var $note=$('.routeNote');
			//- console.log($infoBtn,$info)
			$(document).on('click','.routeInfoBtn',function(){
				var $infoBtn=$(this);
				var $info=$(this).parent().parent().find('.routeInfo');
				var $noteBtn=$(this).parent().find('.routeNoteBtn');
				var $note=$(this).parent().parent().find('.routeNote');
				$infoBtn.addClass('act');
				$info.show();
				$noteBtn.removeClass('act');
				$note.hide();
			});
			$(document).on('click','.routeNoteBtn',function(){
				var $infoBtn=$(this).parent().find('.routeInfoBtn');
				var $info=$(this).parent().parent().find('.routeInfo');
				var $noteBtn=$(this);
				var $note=$(this).parent().parent().find('.routeNote');
				$infoBtn.removeClass('act');
				$info.hide();
				$noteBtn.addClass('act');
				$note.show();
			});
		//- var rotuteL=[1,2,3,4];
		//- //切換景點和筆記
		//- $.each(rotuteL,function(ind,val){
		//- 	var $infoBtn=$('#routeInfoBtn'+ind);
		//- 	var $info=$('#routeInfo'+ind);
		//- 	var $noteBtn=$('#routeNoteBtn'+ind);
		//- 	var $note=$('#routeNote'+ind);
		//- 	console.log($infoBtn,$info)
		//- 	$infoBtn.on('click',function(){
		//- 		$infoBtn.addClass('act');
		//- 		$info.show();
		//- 		$noteBtn.removeClass('act');
		//- 		$note.hide();
		//- 	});
		//- 	$noteBtn.on('click',function(){
		//- 		$infoBtn.removeClass('act');
		//- 		$info.hide();
		//- 		$noteBtn.addClass('act');
		//- 		$note.show();
		//- 	});
		//- });

		//點開景點圖片
		$('.route-img').on('click',function(){
			$('#routeLightWrap,#mask').fadeIn();
		});
		$('#routeLightCloseBtn').on('click',function(){
			$('#routeLightWrap,#mask').fadeOut();
		});
	});