include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'actPage':'文學踏查 - 主題之旅'}
				+breadBox(breadList)
				-const subNavList=[{'name':'作家行跡','icon':'<i class="fal fa-books"></i>','link':'writer_list.html'},{'name':'故事地圖','icon':'<i class="fal fa-map-marked-alt"></i>','link':'writer_story_list.html'},{'name':'主題之旅','icon':'<i class="fal fa-map-signs"></i>'},{'name':'城市解謎1','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'},{'name':'城市解謎2','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'}]
				+subNav(subNavList)
		.page-wrap.inner-single-page
			.main-cont
				.theme-banner-area
					.swiper-container.theme-banner#themeBanner
						.swiper-wrapper
							.swiper-slide
								- const themeBannerImg01={"background": "url(img/theme_banner01.jpg) no-repeat center center/cover"}
								- const themeBanner01={'img':themeBannerImg01,'tit':'浪漫Duke帶你找到屬於你的浪漫'}
								+themeBanner(themeBanner01)
							.swiper-slide
								- const themeBannerImg02={"background": "url(img/theme_banner01.jpg) no-repeat center center/cover"}
								- const themeBanner02={'img':themeBannerImg02,'tit':'迷霧山谷，穿梭在雲林之間'}
								+themeBanner(themeBanner02)
						.swiper-button-prev#themeP
							i(class="fas fa-angle-left")
						.swiper-button-next#themeN
							i(class="fas fa-angle-right")
						.swiper-pagination#themeBannerPage
				// 新增項目 - 第二階段
				.creat-article-tag-box.creat-article-tag-box2
					.creat-article-tag-tit
						div <i class="fas fa-tag"></i> 主題之旅代表標籤
						.creat-article-tag-more#moreTagBtn 顯示全部標籤
							i(class="far fa-angle-down")
					.creat-article-tag.gin-tag-box
						.article-all-tag#articleAllTagBox
							#articleAllInnerTagBox
								-const tagList=['大事記','政治','聯合文學','電影','白色恐怖','原住民','現代','政治','聯合文學','電影','白色恐怖']
									each n,i in tagList
										a(href="###") ##{n}
				// 新增項目 - 第二階段 END
				// 新增標籤 - 第二階段
				.theme-list
					- const themeImg01={"background": "url(img/theme_img01.jpg) no-repeat center center/cover"}
					- const theme01={'img':themeImg01,'tit':'浪漫Duke帶你找到屬於你的浪漫','date':'2019/01/09','hasTag':true}
					+themeBox(theme01)
					- const themeImg02={"background": "url(img/theme_img02.jpg) no-repeat center center/cover"}
					- const theme02={'img':themeImg02,'tit':'迷霧山谷，穿梭在雲林之間','date':'2019/01/09','hasTag':true}
					+themeBox(theme02)
					- const themeImg03={"background": "url(img/theme_img03.jpg) no-repeat center center/cover"}
					- const theme03={'img':themeImg03,'tit':'迷霧山谷，穿梭在雲林之間','date':'2019/01/09','hasTag':true}
					+themeBox(theme03)
				// 新增標籤 END - 第二階段
				+pagination
		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		var themeBanner = new Swiper('#themeBanner', {
			//- speed: 400,
			//- spaceBetween: 100
			//- autoHeight: true,
			navigation: {
				nextEl: '#themeN',
				prevEl: '#themeP',
			},
			pagination: {
				el: '#themeBannerPage',
				clickable: true,
			},
		});

		//如果超過這個高度才有更多鈕
		hideMoreBtn();
		//標籤打開 隱藏
		$('#moreTagBtn').on('click',function(){
			var tagOpen=$('#articleAllTagBox').hasClass('act-open');
			if(tagOpen){
				$('#articleAllTagBox').removeClass('act-open');
				$('#moreTagBtn').find('i').removeClass('fa-angle-up');
				$('#moreTagBtn').find('i').addClass('fa-angle-down');
			}else{
				$('#articleAllTagBox').addClass('act-open');
				$('#moreTagBtn').find('i').addClass('fa-angle-up');
				$('#moreTagBtn').find('i').removeClass('fa-angle-down');
			}
		});
	});
	$(window).resize(function () {
		hideMoreBtn();
	});
	//如果超過這個高度才有更多鈕
	function hideMoreBtn(){
		var tagsH = $('#articleAllInnerTagBox').outerHeight();
		if(tagsH < 32){
			$('#moreTagBtn').hide();
		}else{
			$('#moreTagBtn').show();
		}
	}
