include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-top-area
			.main-cont
				-const breadList={'actPage':'交通資訊'}
				+breadBox(breadList)
		.traffic-map-area <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.865385708875!2d120.20229745055804!3d22.991977084894767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e7662996cf771%3A0x4147c569083fbe49!2z5ZyL56uL6Ie654Gj5paH5a246aSoICjljp_oh7rljZflt57lu7Mp!5e0!3m2!1szh-TW!2stw!4v1603432874322!5m2!1szh-TW!2stw" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
		.page-wrap.page-gray-wrap
			.main-cont
				.page-tit 交通資訊
				.edit-area
					.edit-box
						.map-contant
							span 本館地址：臺南市中西區中正路1號
							span.m-box 電話：(06)221-7201
							span 傳真：(06)222-6115
						.traffic-map-img
							img(src="img/traffic_map.jpg", alt="臺灣文學虛擬博物館地圖")
						.traffic-list-area
							.traffic-list-icon
								.icon <i class="fad fa-car"></i>
								span 開車
							.traffic-list-box
								ol.traffic-list
									li 國道1→台南交流道(327K)→東門路→府前路→南門路→本館。
									li 國道1→永康交流道(319K)→中正北路→中正南路→公園路→本館。
									li 省道台1線：<br>
										| 北上者由省道1抵達台南市→大同路→開山路→本館，<br>
										| 南下者由省道1抵達台南市→小東路→北門路→中山路→本館。
									li 國道3：
										| 北上者可利用快速道路86接省道台1線，
										| 南下者可利用新化系統(346K)接國道8往西，往南銜接國道1，再由永康交流道或台南交流道參照前述路徑前往。
						.traffic-list-area
							.traffic-list-icon
								.icon <i class="fad fa-train"></i>
								span 火車
							.traffic-list-box
								ol.traffic-list
									li 由前站出口，或搭乘計程車約5分鐘車程，或沿中山路步行約15分鐘可達本館。
						.traffic-list-area
							.traffic-list-icon
								.icon <i class="fad fa-subway"></i>
								span 臺南高鐵站
							.traffic-list-box
								ol.traffic-list
									li 出台南站轉乘高鐵快捷公車「台南市政府」路線，約30~40分鐘車程，至建興國中(孔廟)站下車，下車後可沿南門路往孔廟方向步行約5分鐘。
									li 於台南站轉乘臺鐵沙崙支線，至台南火車站下車(參前述)。
						.traffic-list-area
							.traffic-list-icon
								.icon <i class="fad fa-bus"></i>
								span 公車
							.traffic-list-box
								ol.traffic-list
									li 搭乘1、2、6、7、10、11、88號公車至民生緣園站(台南文學館)或孔廟站下車。
									li 搭乘紅/藍線公車，至中山/民權路口下車，步行約5分鐘。


		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		//時間軸
		var historyTimelineSwiper = new Swiper('#historyTimelineSwiper', {
			//- speed: 400,
			//- spaceBetween: 100
			autoHeight: true,
			navigation: {
				nextEl: '#timeLineN',
				prevEl: '#timeLineP',
			},
		});
	});
