include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[{'name':'自己走走 - 主題路線','url':'travel_theme_list.html'}],'actName':'府城瑣憶 - 來趟輕鬆寫意的一日輕旅行'}
            +travelBread(bread)
            .travel-page-tit-area
                h2 府城瑣憶 - 來趟輕鬆寫意的一日輕旅行
        .travel-area.page-top-cover
            .travel-cont
                //- 代表標籤
                -const srcLink='travel_route_src_tag_list.html';
                +travelQuoteTagArea(srcLink)
                .travel-route-theme-list
                    -const travelRouteTheme01={'img':'travel_route01.png','tit':'女誡扇綺譚：臺南口袋名單精選！蘊含日式風情的老屋咖啡廳推薦','cont':'此路線為紀念日本作家佐藤春夫1920 年夏天走訪臺灣的意外之旅，以大小姐鬼魂傳說改創的小說作品為場景，走訪一趟時過百年的舊址，體會作家看臺...'};
                    +travelRouteThemeBox(travelRouteTheme01)
                    -const travelRouteTheme02={'img':'travel_route02.png','tit':'文學小封神：結局未必如人所願，但初心卻如此動人！面對人生的課題，你會如何','cont':'藉由「府城小封神」這條路線，讓我們回到文壇前輩許丙丁著作《小封神》的歷史場景，穿越時空詼諧來看待府城的民間信仰，了解赤崁園區附近廟...'};
                    +travelRouteThemeBox(travelRouteTheme02)
                    -const travelRouteTheme03={'img':'travel_route03.png','tit':'府城撞見鬼」這條路線絕對不辜負府城超多奇案、傳說眼花撩亂','cont':'「府城撞見鬼」這條路線絕對不辜負府城超多奇案、傳說眼花撩亂。這些奇聞八卦，是各時代作家的創作靈感。至少，府城三大奇案就一直...'};
                    +travelRouteThemeBox(travelRouteTheme03)
                .btn-area.last-btn-area
                    a(href="travel_theme_list.html").travel-m-btn <i class="far fa-chevron-left"></i> 返回主題列表
        include includes/footer_travel03

script(src="js/travel_moreTag.js") 
script.
    $(document).ready(function () {
        //=== 收藏文章 ===
        $(document).on('click','.icon-heart',function(){
            var hasOn=$(this).hasClass('on');
            hasOn ? $(this).removeClass('on') : $(this).addClass('on');
        });
    });