include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[{'name':'最新資訊','url':'travel_news_list.html'}],'actName':'建築導覽遊戲腳本徵選'}
            +travelBread(bread)
        .blog-tit-area
            img.bg-img(src="img/travel_news01.jpg", alt="")
            .cloud.cloud05
            .cloud.cloud06
            .blog-tit
                h2 建築導覽遊戲腳本徵選
                .travel-page-info
                    //- .info by
                    //-     span.art 文學小編
                    .info 2021.11.13
                    .info 358 次點閱
                    .info
                        .icon
                            img(src="img/icon_wh_collect.svg", alt="")
                        .txt 54
                    //- .info
                    //-     .icon
                    //-         img(src="img/icon_wh_comment.svg", alt="")
                    //-     .txt 11
                    //- .share-btn-box
                    //-     a(href="###")
                    //-         i(class="far fa-check")
                    //-         | 讚 <span>234</span>
        .travel-area
            .travel-cont.travel-detail-cont
                .travel-page-cont
                    .travel-page-txt-cont
                        .travel-tag-area
                            -const tagList=['文學','小說','自由戀愛']
                            each n in tagList
                                a(href="travel_news_src_tag_list.html") ##{n}
                        .travel-page-txt-banner
                            img(src="img/travel_news01.jpg", alt="")
                        .travel-page-txt
                            .edit-box.travel-edit-box
                                p.def 本徵選活動以「國立臺灣文學館(國定古蹟原臺南州廳)」為主題，運用原臺南州廳過往的歷史風華、建築美學、修復再利用作為創寫遊戲腳本的背景藍本，再以結合數位3D掃描、建模、AR等技術，開發智慧導覽應用程式的方式，向大眾徵求「遊戲故事腳本」，讓過去的原臺南州廳，也就是現在的國立臺灣文學館，得以用更加多元的面貌呈現在社會大眾面前，進而使其親近與感受「建築與文學」的生命力。
                                p.def 此次徵選將選出金、銀、銅獎及數名佳作，首獎獎金五萬元，作品將由專業廠商開發成數位遊戲，歡迎各方高手踴躍參加。
                    .travel-page-side
                        //電腦版
                        .travel-page-side-btn.pc-show
                            .travel-m-btn <i class="fas fa-heart"></i> 加入收藏
                            .travel-m-btn.act <i class="fas fa-heart"></i> 已加入收藏
                        .travel-page-tool.pc-show
                                //- .icon.i-heart
                                .icon.i-link
                                .icon.i-fb
                                .icon.i-line
                                .icon.i-thumb
                    .btn-area
                        a(href="travel_news_list.html").travel-m-btn <i class="far fa-chevron-left"></i> 返回最新資訊
                    // 手機版
                    .travel-page-tool.mb-fix-bot
                        .mb-list-area
                            .mb-icon-box
                                //- .icon.i-heart
                                .icon.i-link
                                .icon.i-fb
                                .icon.i-line
                                .icon.i-thumb
                        .mb-btn-box
                            .btn.w100
                                <i class="fas fa-heart"></i>
                                span 加入收藏
        include includes/footer_travel03