include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[],'actName':'線上解謎'}
            +travelBread(bread)
            .travel-page-tit-area
                h2 線上解謎
                .tit-sup 他、她、祂都解不開的謎，你能解開嗎？
        .travel-area.page-top-cover
            .travel-cont
                .travel-game-area
                    -const travelGame01={'img':'travel_game01.jpg','tit':'城市解謎—小封神2','cont':'「小封神藏寶圖」系列作品改編自臺南作家許丙丁的《小封神》，共設計三款遊戲互動，因應不同需求的活動方案。您可以分開遊玩，可看到三個獨立故事。但全部遊玩過一次後，便能發現故事其實緊密相扣，了解事件的前因後果。'};
                    +travelGameBox(travelGame01)
                    -const travelGame02={'img':'travel_game02.jpg','tit':'城市解謎—小封神1','cont':'「小封神藏寶圖」是以章回小說形式進行的城市解謎遊戲，以在地作家許丙丁的臺語神怪小說《小封神》為題材，結合臺南市區廟宇、古蹟地景為背景，將文學與地景以遊戲方式結合。遊戲中，玩家將扮演故事中的主角「呂善安」，在不同的地景中與各路神明、妖怪相遇，並解開「小封神藏寶圖」隱藏的秘密。'};
                    +travelGameBox(travelGame02)
                    -const travelGame03={'videoId':'LgjvaxeKen8','tit':'藏品3D掃瞄','cont':'國立臺灣文學館「數位遊戲開發暨藏品3D掃描、建模計畫」為「臺灣行卷—博物館示範計 畫」分項計畫之一，該計畫是以臺灣各地重要空間（含博物館典藏品）為基礎，透過專業研 究充實詮釋內涵與故事，轉化成為通俗易懂之故事或文字，再嘗試與觀眾個人情感記憶或生 命經驗連結，亦能活化文物。'};
                    +travelGameBox(travelGame03)
                    -const travelGame04={'img':'travel_game03.jpg','tit':'數位遊戲【夢獸之島】','cont':'本計畫以奇幻島嶼為概念，從葉石濤、張深切、龍瑛宗、林海音、姚一葦這五位作家取得靈感， 從臺文館的3D掃描藏品： 葉石濤的「藤椅」、張深切徒步旅行的「名人題字錄」、龍瑛宗的輪椅、林海音精心收藏的象偶、姚一葦渡海的皮箱設計成關卡道具，為第一人稱射擊VR遊戲。'};
                    +travelGameBox(travelGame04)
        include includes/footer_travel03