include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[],'actName':'家族走走'}
            +travelBread(bread)
            .travel-page-tit-area
                h2 家族走走
                .tit-sup 整個島嶼都是我們的文學館
                // v5 add
                .tit-sup-note <i class="fad fa-camera-retro"></i> 虛擬實境導覽
                // v5 add end
            -const museumPlace=[{'no':'2','name':'臺北市'},{'no':'17','name':'宜蘭'},{'no':'7','name':'臺中'},{'no':'9','name':'南投'},{'no':'11','name':'嘉義'},{'no':'14','name':'屏東'},{'no':'13','name':'高雄'},{'no':'12','name':'臺南'},{'no':'10','name':'雲林'},{'no':'18','name':'金門'},{'no':'8','name':'彰化'},{'no':'6','name':'苗栗'},{'no':'5','name':'新竹'},{'no':'4','name':'桃園'},{'no':'19','name':'花蓮'}];
            .travel-family-place-sel-box
                .tit 選擇縣市
                select.travel-sel#museumPlace(name="museumPlace")
                    each n,i in museumPlace
                        option(value=n.no) #{n.name}
            //- .travel-family-place-sel-box
            //-     .tit 選擇縣市
            //-     .travel-sel-box#museumCountryBox
            //-         .travel-sel#museumCountry 臺北市
            //-         .travel-sel-item-box#museumCountryItem
            //-             each n,i in museumPlace
            //-                 -const mNum=i+1;
            //-                 .item.museumCountryName(id='museumCountry'+mNum data-num=mNum) #{n}
        .travel-family-boder
            img(src="img/bg_family_map_top.png", alt="")
        .travel-area.travel-family-area
            .travel-cont
                .travel-family-map
                    img.taiwan(src="img/taiwan_map.png", alt="")
                    -const travelFamilySwArea01={'areaNum':'2','place':'臺北市','museums':[{'img':'museum02.svg','name':'臺灣文學基地'},{'img':'museum03.svg','name':'臺灣文學基地'}]}
                    +travelFamilySwArea(travelFamilySwArea01)
                    -const travelFamilySwArea02={'areaNum':'17','place':'宜蘭','museums':[{'img':'museum03.svg','name':'宜蘭文學館'},{'img':'museum03.svg','name':'宜蘭文學館'}]}
                    +travelFamilySwArea(travelFamilySwArea02)
                    -const travelFamilySwArea03={'areaNum':'7','place':'臺中','museums':[{'img':'museum04.svg','name':'國立中興大學圖書館-李昂文藏館'},{'img':'museum04.svg','name':'國立中興大學圖書館-李昂文藏館'}]}
                    +travelFamilySwArea(travelFamilySwArea03)
                    -const travelFamilySwArea04={'areaNum':'9','place':'南投','img':'museum05.svg','name':'南投縣文學資料館'}
                    +travelFamilyMuseumBox(travelFamilySwArea04)
                    -const travelFamilySwArea05={'areaNum':'11','place':'嘉義','img':'museum06.svg','name':'張文環文學館<br>(張文環故居)'}
                    +travelFamilyMuseumBox(travelFamilySwArea05)
                    -const travelFamilySwArea06={'areaNum':'14','place':'屏東','museums':[{'img':'museum07.svg','name':'屏東縣立圖書總館<br>屏東文學館'},{'img':'museum07.svg','name':'屏東縣立圖書總館<br>屏東文學館'}]}
                    +travelFamilySwArea(travelFamilySwArea06)
                    -const travelFamilySwArea07={'areaNum':'13','place':'高雄','museums':[{'img':'museum08.svg','name':'鍾理和紀念館'},{'img':'museum08.svg','name':'鍾理和紀念館'}]}
                    +travelFamilySwArea(travelFamilySwArea07)
                    -const travelFamilySwArea08={'areaNum':'12','place':'臺南','museums':[{'img':'museum09.svg','name':'葉石濤文學紀念館'},{'img':'museum09.svg','name':'葉石濤文學紀念館'}]}
                    +travelFamilySwArea(travelFamilySwArea08)
                    -const travelFamilySwArea09={'areaNum':'10','place':'雲林','img':'museum10.svg','name':'鄭豐喜紀念圖書館'}
                    +travelFamilyMuseumBox(travelFamilySwArea09)
                    -const travelFamilySwArea10={'areaNum':'18','place':'金門','img':'museum11.svg','name':'金門睿友文學館'}
                    +travelFamilyMuseumBox(travelFamilySwArea10)
                    -const travelFamilySwArea11={'areaNum':'8','place':'彰化','museums':[{'img':'museum12.svg','name':'賴和紀念館'},{'img':'museum12.svg','name':'賴和紀念館'}]}
                    +travelFamilySwArea(travelFamilySwArea11)
                    -const travelFamilySwArea12={'areaNum':'6','place':'苗栗','museums':[{'img':'museum13.svg','name':'詹冰文學故事館'},{'img':'museum13.svg','name':'詹冰文學故事館'}]}
                    +travelFamilySwArea(travelFamilySwArea12)
                    -const travelFamilySwArea13={'areaNum':'5','place':'新竹','museums':[{'img':'museum14.svg','name':'龍瑛宗文學館'},{'img':'museum14.svg','name':'龍瑛宗文學館'}]}
                    +travelFamilySwArea(travelFamilySwArea13)
                    -const travelFamilySwArea14={'areaNum':'4','place':'桃園','museums':[{'img':'museum01.svg','name':'鍾肇政文學生活園區'},{'img':'museum01.svg','name':'鍾肇政文學生活園區'}]}
                    +travelFamilySwArea(travelFamilySwArea14)
                    // == 2024/12/16 新增 ==
                    -const travelFamilySwArea15={'areaNum':'19','place':'花蓮','img':'museum39.svg','name':'楊牧館舍'}
                    +travelFamilyMuseumBox(travelFamilySwArea15)
                    // == 2024/12/16 新增 end ==
        .travel-family-boder
            img(src="img/bg_family_map_bot.png", alt="")
        include includes/footer_travel03

script(src="js/travel_fmailySw.js") 
//- script.
    //- //== dom ==
    //- //- var actCountry = 1;//給RWD 手機時顯示使用當前的地區館舍
    //- $(document).ready(function () {
    //-     //=== 官舍sw ===
    //-     $('.museum-sw-box').each(function(ind,val){
    //-         var museumNum=$(val).data('num');
    //-         //- console.log(museumNum);
    //-         if(museumNum != undefined){
    //-             museumSw(museumNum);
    //-         }
    //-     });

    //-     //=== 讀取的館舍狀態 ===
    //-     //== dom ==
    //-     //- var windowW = $(window).width();
    //-     //- if (windowW < 768) {
    //-     //-     reMbMuseum(actCountry);
    //-     //- }
    //-     //=== 手機切換地區 ===
    //-     //== dom ==
    //-     //- $('#museumCountryBox').on('click',function(){
    //-     //-     var $mItem = $('#museumCountryItem');
    //-     //-     var mItemShow = $mItem.is(':visible');
    //-     //-     mItemShow ? $mItem.slideUp() : $mItem.slideDown();
    //-     //- });
    //-     //- $('.museumCountryName').on('click',function(){
    //-     //-     var countryNum = $(this).data('num');
    //-     //-     var countryTxt = $(this).html();
    //-     //-     actCountry = countryNum;
    //-     //-     $('#museumCountry').html(countryTxt);
    //-     //-     reMbMuseum(actCountry);
    //-     //- });
    //-     //== select ==
    //-     $('#museumPlace').on('change',function(){
    //-         reMbMuseum();
    //-         //- museumSw(actVal);
    //-     });
    //- });
    //- //== select ==
    //- $(window).on('load',function(){
    //-     reMbMuseum();
    //- });
    //- $(window).resize(function(){
    //-     var windowW = $(window).width();
    //-     if (windowW < 768) {
    //-         //== dom ==
    //-         //- reMbMuseum(actCountry);
    //-         //== select ==
    //-         reMbMuseum();
    //-     }else{
    //-         $('.travel-family-museum-box').show();
    //-         $('.travel-family-museum-box').removeClass('open');
    //-     }
    //- });

    //- //=== Ｒ至手機時選擇的項目和sw開啟 ===
    //- //== dom ==
    //- //- function reMbMuseum(num){
    //- //-     $('.travel-family-museum-box').removeClass('open');
    //- //-     $('.museumArea'+num).addClass('open');
    //- //- }
    //- //== select ==
    //- function reMbMuseum(){
    //-     var actVal = $('#museumPlace').val();
    //-     $('.travel-family-museum-box').removeClass('open');
    //-     $('.museumArea'+actVal).addClass('open');
    //-     //- console.log(actVal);
    //-     //- $('.travel-family-museum-box').hide();
    //-     //- $('.museumArea'+actVal).show();
    //- }

    //- function museumSw(num){
    //-     new Swiper('#travelFamilySw'+num, {
    //-         spaceBetween: 0,
    //-         navigation: {
    //-         	nextEl: '#familySwNext'+num,
    //-         	prevEl: '#familySwPrev'+num,
    //-         },
    //-     });
    //- }