include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[],'actName':'最新資訊'}
            +travelBread(bread)
            .travel-page-tit-area
                h2 最新資訊
                .tit-sup 快速掌握臺灣文學最新資訊動態
        .travel-area.page-top-cover
            .travel-cont
                //- 代表標籤
                -const srcLink='travel_news_src_tag_list.html';
                +travelQuoteTagArea(srcLink)
                .travel-news-type-area
                    .travel-news-type-box
                        .tit 消息分類
                        select#newsType.travel-sel(name="newsType")
                            option(value="1") 全部
                            option(value="2") 媒體消息
                            option(value="3") 其他
                .travel-news-list
                    -const travelNews01={'img':'travel_news01.jpg','tit':'臺灣字造 Made by Literature — 2022國際','txt':'本館將在2022臺北國際書展辦理「戰後臺灣人文出版史」主題展館，與當代的文學出版社及本館將在2022臺北國際書展辦理「戰後臺灣人文出版史」主題展館，與當代的文學出版社及本館將在2022臺北國際書展辦理「戰後臺灣人文出版史」主題展館，與當代的文學出版社及'}
                    +travelNewsBox(travelNews01)
                    -const travelNews02={'img':'travel_news02.jpg','tit':'建築導覽遊戲腳本徵選','txt':'本徵選活動以「國立臺灣文學館(國定古蹟原臺南州廳)」為主題，運用原臺南州廳過往的歷史...'}
                    +travelNewsBox(travelNews02)
                    -const travelNews03={'img':'travel_news03.jpg','tit':'走進創作現場──李獻璋與臺灣民間文學','txt':'從小到大，飯後睡前都耳熟能詳的民間故事，是誰創作的？是從哪裡來的？你認識臺灣重要的...'}
                    +travelNewsBox(travelNews03)
                    +travelNewsBox(travelNews02)
                    +travelNewsBox(travelNews03)
                    +travelNewsBox(travelNews01)
                +travelPaginationArea
        include includes/footer_travel03

script(src="js/travel_moreTag.js") 
script.
    $(document).ready(function () {
        //=== 收藏文章 ===
        $(document).on('click','.icon-heart',function(){
            var hasOn=$(this).hasClass('on');
            hasOn ? $(this).removeClass('on') : $(this).addClass('on');
        });
    });