include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[{'name':'主題路線','url':'###'}],'actName':'自己走走 - 主題路線'}
            +travelBread(bread)
            .travel-page-tit-area
                h2  主題路線
                .tit-sup 挑選您愛的景點，享受喧嘩之外的寧靜之旅
        .travel-area
            .travel-cont
        include includes/footer_travel03

script.
    $(document).ready(function () {
        var travelPageSwiper = new Swiper('#travelPageSwiper', {
            slidesPerView: 5,
            spaceBetween: 20,
            //- initialSlide: 2,
            breakpoints: {
                1024: {
            		slidesPerView: 4,
            		spaceBetween: 20,
            	},
            	768: {
            		slidesPerView: 3,
            		spaceBetween: 10,
            	},
            	480: {
            		slidesPerView: 2,
            		spaceBetween: 10,
            	},
            },
            navigation: {
            	nextEl: '#travelPageNext',
            	prevEl: '#travelPagePrev',
            },
            //- pagination: {
            //- 	el: '#ExPage',
            //- 	clickable: true,
            //- },
        });    
    });