include includes/travel_mixin
<!DOCTYPE html>
html
    style.
        body{
            margin: 0;
        }
        .travel-bg{
            width: 600px;
            margin: 0 auto;
            background: #FFF8E6;
        }
        .header{
            padding: 20px;
            border-bottom: 5px solid #BFC88F;
            position: relative;
        }
        .header span{
            font-size: 15px;
            margin-left: 5px;
            display: inline-block;
        }
        .header .tit{
            width: 375px;
        }
        /*.header .date{
            text-align: right;
            position: absolute;
            bottom: 20px;
            right: 20px;
        }*/
        .main-area{
            padding: 50px 30px;
        }
        .letter-tit{
            font-size: 24px;
            color: #51423D;
            font-weight: 500;
            padding-left: 10px;
            border-left: 9px solid #51423D;
            margin: 0 0 40px;
            transition: .2s;
            white-space: pre-line;
        }
        a{
            text-decoration: none;
        }
        a.letter-tit{
            display: block;
            transition: .2s;
            text-decoration: none;
        }
        a.letter-tit:hover{
            opacity: 0.8;
        }
        .letter-p{
            font-size: 16px;
            color: #666;
            line-height: 1.5;
            margin: 0 0 40px;
            display: block;
            white-space: pre-line;
        }
        a.letter-p{
            display: block;
            transition: .2s;
            text-decoration: none;
        }
        a.letter-p:hover{
            opacity: 0.8;
        }
        .btn-area{
            margin: 0 0 40px;
            text-align: right;
        }
        .btn-area a{
            color: #fff;
            padding: 10px 20px;
            border-radius: 25px;
            background: #51423D;
            margin-right: 10px;
            display: inline-block;
            cursor: pointer;
            transition: .2s;
            text-decoration: none;
        }
        .btn-area a:hover{
            background: #3c3431;
        }
        .btn-area a:last-child{
            margin-right: 0;
        }
        .img-txt-box{
            margin: 0 0 40px
        }
        a.img-txt-box{
            display: block;
            transition: .2s;
            text-decoration: none;
        }
        a.img-txt-box:hover{
            opacity: 0.8;
        }
        .img-txt-img{
            text-align: center;
        }
        .img-txt-img img{
            max-width: 100%;
            display: inline-block;
        }
        .img-txt-box .txt{
            font-size: 13px;
            color: #999;
            margin: 5px 0 0;
            white-space: pre-line;
        }
        .tit-txt-box{
            margin: 0 0 40px;
        }
        a.tit-txt-box{
            display: block;
            transition: .2s;
            text-decoration: none;
        }
        a.tit-txt-box:hover{
            opacity: 0.8;
        }
        .tit-txt-box .tit{
            font-size: 18px;
            color: #000;
            font-weight: 500;
            text-align: center;
            margin: 0 0 15px;
            white-space: pre-line;
        }
        .tit-txt-box .cont{
            font-size: 16px;
            color: #666;
            line-height: 1.5;
            white-space: pre-line;
        }
        .img-list{
            margin: 0 0 40px;
        }
        .img-list .item{
            margin: 0 0 10px;
        }
        .img-list .item .icon{
            max-width: 30px;
            margin-right: 10px;
            display: inline-block;
            vertical-align: middle;
        }
        .img-list .item .icon img{
            max-width: 30px;
            max-height: 30px;
            display: inline-block;
            vertical-align: middle;
        }
        .img-list .item .txt{
            font-size: 16px;
            color: #B0BD75;
            font-weight: 500;
            display: inline-block;
            vertical-align: middle;
            transition: .2s;
            text-decoration: none;
            white-space: pre-line;
        }
        .img-list .item a.txt:hover{
            color: #97a265;
        }
        .block-tit-box{
            /*min-height: 160px;*/
            margin: 0 0 40px;
            position: relative;
        }
        a.block-tit-box{
            display: block;
            transition: .2s;
            text-decoration: none;
        }
        a.block-tit-box:hover{
            opacity: 0.8;
        }
        .block-tit-box .cont{
            font-size: 18px;
            color: #000;
            width: 100%;
            text-align: center;
            font-weight: 500;
            padding: 0 20px;
            border-left: 1px solid #D9D9D9;
            border-right: 1px solid #D9D9D9;
            box-sizing: border-box;
            white-space: pre-line;
            /*position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 2;*/
        }

        .block-tit-top{
            width: 160px;
            height: 60px;
            border-top: 1px solid #D9D9D9;
            border-left: 1px solid #D9D9D9;
            box-sizing: border-box;
            /*position: absolute;
            top: 0;
            left: 0;
            z-index: 1;*/
        }
        .block-tit-bot-box{
            height: 60px;
            text-align: right;
        }
        .block-tit-bot{
            width: 160px;
            height: 60px;
            border-bottom: 1px solid #D9D9D9;
            border-right: 1px solid #D9D9D9;
            box-sizing: border-box;
            display: inline-block;
            /*position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;*/
        }

        /*.block-tit-box:before{
            content: '';
            display: block;
            width: 160px;
            height: 90px;
            border-top: 1px solid #D9D9D9;
            border-left: 1px solid #D9D9D9;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        .block-tit-box:after{
            content: '';
            display: block;
            width: 160px;
            height: 90px;
            border-bottom: 1px solid #D9D9D9;
            border-right: 1px solid #D9D9D9;
            box-sizing: border-box;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
        }*/

        .article-area{
            padding: 0 25px 25px;
            text-align: center;
            border: 1px solid #D9D9D9;
            border-radius: 20px;
            margin: 60px 0 50px;
        }
        
        .article-tit-box{
            height: 27px;
            text-align: center;
            margin: 0 0 55px;
            position: relative;
            border-bottom: 1px solid #D9D9D9;
        }
        .article-tit-box .tit{
            font-size: 20px;
            line-height: 24px;
            color: #fff;
            padding: 15px 25px;
            border-radius: 50px;
            background: #51423D;
            text-align: center;
            font-weight: 500;
            display: inline-block;
            position: relative;
            z-index: 2;
        }

        .article-tit{
            font-size: 20px;
            line-height: 24px;
            color: #fff;
            padding: 15px 25px;
            border-radius: 50px;
            background: #51423D;
            text-align: center;
            font-weight: 500;
            display: inline-block;
            transform: translateY(-30px);
        }
        .article-box{
            text-align: left;
            padding: 0 0 30px;
            margin: 0 0 30px;
            border-bottom: 1px solid #D9D9D9;
            display: block;
            transition: .2s;
            text-decoration: none;
        }
        a.article-box:hover{
            opacity: 0.8;
        }
        .article-box:last-child{
            border-bottom: none;
            padding: 0;
            margin: 0;
        }
        .article-box .img{
            margin: 0 0 10px;
        }
        .article-box .img img{
            width: 100%;
        }
        .article-box .date{
            font-size: 14px;
            color: #999;
            margin: 0 0 5px;
        }
        .article-box .tit{
            font-size: 18px;
            color: #51423D;
            font-weight: 500;
            margin: 0 0 10px;
            white-space: pre-line;
        }
        .article-box .cont{
            font-size: 16px;
            line-height: 1.5;
            color: #666;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            white-space: pre-line;
        }
        .footer-btn{
            text-align: center;
            margin: 0 0 50px;
        }
        .footer-btn a{
            width: 36px;
            margin: 0 10px;
            display: inline-block;
            transition: .2s;
        }
        .footer-btn a:hover{
            opacity: 0.8;
        }
        .footer-btn a img{
            width: 100%;
        }
        .footer-logo{
            margin: 0 0 20px;
            text-align: center;
        }
        .footer-logo a{
            display: inline-block;
        }
        .footer-travel-logo{
            margin: 0 0 40px;
            text-align: center;
        }
        .footer-travel-logo a{
            display: inline-block;
        }
        .bottom-info{
            font-size: 16px;
            color: #666;
            line-height: 1.5;
            margin: 0 0 50px;
            white-space: pre-line;
        }
        .copyright{
            font-size: 18px;
            color: #fff;
            padding: 15px;
            text-align: center;
            background: #B0BD75;
        }
        .cancle-btn{
            font-size: 16px;
            color: #B0BD75;
            font-weight: 500;
            margin: 0 0 20px;
            text-decoration: underline;
            display: inline-block;
            transition: .2s;
        }
        .cancle-btn:hover{
            color: #97a265;
        }
        .mail{
            font-size: 16px;
            color: #B0BD75;
            margin: 0 0 20px;
        }
        .note{
            font-size: 16px;
            color: #E93131;
            line-height: 1.5;
        }
    body
        .travel-bg
            .header
                img(src="img/go_logo.svg", alt="")
                span.tit 會員專屬電子報
                span.date 2022/06/07
            .main-area
                .letter-tit 呂珮綾：時代的夾層，一粒臺灣現代詩的煉金石一一林亨泰《靈魂の產聲》
                p.letter-p 1949年，國民黨政府全面敗退來臺。同年，臺灣進行幣制改革，開始發行新幣。時代正急急地變遷，但也正是那年：一本極度不合時宜，由民間文藝團體「銀鈴會」所發行的日文詩集，悄悄地出刊了。這本《靈魂の產聲》是詩人林亨泰的首部詩集。
                .btn-area
                    a(href="###") 前往參展
                .img-txt-box
                    .img-txt-img
                        img(src="img/letter01.jpg", alt="")
                    .txt 1949年，一本極度不合時宜，由民間文藝團體「銀鈴會」所發行的日文詩集，悄悄地出刊了。
                .tit-txt-box
                    .tit 【聽見「現代主義」的產聲】
                    .cont 1949年，國民黨政府全面敗退來臺。同年，臺灣進行幣制改革，開始發行新幣。時代正急急地變遷，但也正是那年：一本極度不合時宜，由民間文藝團體「銀鈴會」所發行的日文詩集，悄悄地出刊了。這本《靈魂の產聲》是詩人林亨泰的首部詩集。七年後，林亨泰參加了由紀弦1956年發起的「現代派詩人第一屆年會」九人籌備委員會，同樣跟上了這波風潮。但早在現代派之前，所謂「現代」已經悄悄地發出一道啼聲了。
                .img-list
                    .item
                        .icon
                            img(src="img/icon_worksheet_book.svg", alt="")
                        .txt 現在主義學習單(適合大學、大專研讀)
                    .item
                        .icon
                            img(src="img/icon_worksheet_book.svg", alt="")
                        a(href="###").txt 活動相關
                // 更新區塊
                .block-tit-box
                    .block-tit-top
                    .cont 赤崁樓文昌閣 - 光行者的靈魂旅程
                    .block-tit-bot-box
                        .block-tit-bot
                // 新標題
                .article-tit-box
                    .tit 活動月曆
                a(href="###").article-box
                    .img
                        img(src="img/travel_news01.jpg", alt="")
                    .date 2022/04/01 - 2022/09/01
                    .tit 噤聲的密室——白恐文學讀心術
                    .cont 臺灣曾經歷長達43年的白色恐怖，恐怖氛圍下島民自我審查，即使身體自由，也無法斷開心靈的鎖鏈。於是整座島嶼像是無法逃脫的密室，為求自保，島民自訂了遊戲規則：「沉默」。
                .article-area
                    .article-tit 活動月曆
                    a(href="###").article-box
                        .img
                            img(src="img/travel_news01.jpg", alt="")
                        .date 2022/04/01 - 2022/09/01
                        .tit 噤聲的密室——白恐文學讀心術
                        .cont 臺灣曾經歷長達43年的白色恐怖，恐怖氛圍下島民自我審查，即使身體自由，也無法斷開心靈的鎖鏈。於是整座島嶼像是無法逃脫的密室，為求自保，島民自訂了遊戲規則：「沉默」。
                    a(href="###").article-box
                        .img
                            img(src="img/travel_news02.jpg", alt="")
                        .date 2022/04/01 - 2022/09/01
                        .tit 噤聲的密室——白恐文學讀心術
                        .cont 臺灣曾經歷長達43年的白色恐怖，恐怖氛圍下島民自我審查，即使身體自由，也無法斷開心靈的鎖鏈。於是整座島嶼像是無法逃脫的密室，為求自保，島民自訂了遊戲規則：「沉默」。
                .article-area
                    .article-tit 最新資訊
                    a(href="###").article-box
                        .img
                            img(src="img/travel_news01.jpg", alt="")
                        .tit 噤聲的密室——白恐文學讀心術
                        .cont 臺灣曾經歷長達43年的白色恐怖，恐怖氛圍下島民自我審查，即使身體自由，也無法斷開心靈的鎖鏈。於是整座島嶼像是無法逃脫的密室，為求自保，島民自訂了遊戲規則：「沉默」。
                    a(href="###").article-box
                        .img
                            img(src="img/travel_news02.jpg", alt="")
                        .tit 噤聲的密室——白恐文學讀心術
                        .cont 臺灣曾經歷長達43年的白色恐怖，恐怖氛圍下島民自我審查，即使身體自由，也無法斷開心靈的鎖鏈。於是整座島嶼像是無法逃脫的密室，為求自保，島民自訂了遊戲規則：「沉默」。
                .article-area
                    .article-tit 路線文章
                    a(href="###").article-box
                        .img
                            img(src="img/travel_route01.png", alt="")
                        .tit 噤聲的密室——白恐文學讀心術
                        .cont 臺灣曾經歷長達43年的白色恐怖，恐怖氛圍下島民自我審查，即使身體自由，也無法斷開心靈的鎖鏈。於是整座島嶼像是無法逃脫的密室，為求自保，島民自訂了遊戲規則：「沉默」。
                    a(href="###").article-box
                        .img
                            img(src="img/travel_route02.png", alt="")
                        .tit 噤聲的密室——白恐文學讀心術
                        .cont 臺灣曾經歷長達43年的白色恐怖，恐怖氛圍下島民自我審查，即使身體自由，也無法斷開心靈的鎖鏈。於是整座島嶼像是無法逃脫的密室，為求自保，島民自訂了遊戲規則：「沉默」。
                .footer-btn
                    a(href="###")
                        img(src="img/icon_letter_fb.svg", alt="")
                    a(href="###")
                        img(src="img/icon_letter_yt.svg", alt="")
                .footer-logo
                    a(href="###")
                        img(src="img/letter_logo.svg", alt="")
                .footer-travel-logo
                    a(href="###")
                        img(src="img/go_logo.svg", alt="")
                .bottom-info 底部資訊底部資訊底部資訊底部資訊底部資訊底部資訊底部資訊底部資訊底部資訊底部資訊底部資訊底部資訊底部資訊底部資訊底部資訊底部資訊底部資訊底部資訊自行輸入。
            .copyright © 2022 literature, Inc.
            .main-area
                a(href="###").cancle-btn 取消訂閱
                .mail 網站客服 tlvm_system@gmail.com
                .note 此信件為系統轉發，請勿直接回信，如不想收到相關資訊，請與臺文館服務人員聯絡及反應，謝謝！
