include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[{'name':'部落格','url':'travel_blog_list.html'}],'actName':'可讀·性—臺灣性別文學變裝特展'}
            +travelBread(bread)
        .blog-tit-area
            img.bg-img(src="img/blog01.jpg", alt="")
            .cloud.cloud05
            .cloud.cloud06
            .blog-tit
                h2 可讀·性—臺灣性別文學變裝特展
                .travel-page-info
                    .info by
                        span.art 文學小編
                    .info 2021.11.13
                    .info 358 次點閱
                    .info
                        .icon
                            img(src="img/icon_wh_collect.svg", alt="")
                        .txt 54
                    //- .info
                    //-     .icon
                    //-         img(src="img/icon_wh_comment.svg", alt="")
                    //-     .txt 11
                    //- .share-btn-box
                    //-     a(href="###")
                    //-         i(class="far fa-check")
                    //-         | 讚 <span>234</span>
        .travel-area
            .travel-cont.travel-detail-cont
                .travel-page-cont
                    .travel-page-txt-cont
                        .travel-page-txt.travel-blog-txt
                            // 標題
                            .tit 標題標題標題標題標題標題
                            // 內文
                            p 城郊的田野與土壤使人前仆後繼地誤入，虛構的、橫跨東西半球的土地連結跟隨著植物的竄生意象而成型，於是如同滿佈眼前的玉米植株一般，屬於臺灣華僑集體的歸鄉潛意識便在炎炎夏日中破出地表。八零年代外地文學帶有的重層疏離感：「外國與本國」間的隔閡、與其連帶的「城區與鄉間」間的隔閡，便清楚地顯現在這篇「政治寓言」之中。
                            // 圖片置左
                            .blog-img
                                img(src="img/blog01.jpg", alt="")
                                .note-box
                                    .note 書影，圖源https://reurl.cc/XWLMN7
                            // 連結
                            a(href="###" target="_blank").link-box 書影 原書連結
                            // 圖片置中
                            .blog-img.center
                                img(src="img/blog03.jpg", alt="")
                                .note-box
                                    .note 書影，圖源https://reurl.cc/XWLMN7
                            // 引用
                            .quote-box
                                .cont 「當我一步步離開公路走向幽深，玉米葉摩搓的聲音繼續在我耳邊嘈切，奇怪的是，雖然酒意不見了，我的血液卻加倍澎湃起來……」
                            // 圖片置右
                            .blog-img.right
                                img(src="img/blog04.jpg", alt="")
                                .note-box
                                    a(href="###" target="_blank").note 書影，圖源https://reurl.cc/XWLMN7
                            p(style="font-size: 14px;") 城郊的田野與土壤使人前仆後繼地誤入，虛構的、橫跨東西半球的土地連結跟隨著植物的竄生意象而成型，於是如同滿佈眼前的玉米植株一般，屬於臺灣華僑集體的歸鄉潛意識便在炎炎夏日中破出地表。八零年代外地文學帶有的重層疏離感：「外國與本國」間的隔閡、與其連帶的「城區與鄉間」間的隔閡，便清楚地顯現在這篇「政治寓言」之中。
                        .travel-route-article-area
                            .travel-route-article-box
                                .tit 撰寫作者
                                .route-article
                                    .icon
                                        img(src="img/default_member.svg", alt="")
                                    .name 劉雅婷
                                .route-article-cont 大家好，我是再臺灣土生土長的雅婷，熱衷於探索臺灣，維持身心靈的健康快樂。
                            .travel-route-article-box
                                .tit 相關分類
                                .travel-tag-area
                                    a(href="###") #美食之旅
                    .travel-page-side
                        .travel-page-side-box
                            .travel-page-tit 體驗主題路線
                            .travel-theme-side-area
                                a(href="travel_cont.html").travel-theme-side-box
                                    img(src="img/t_page_banner.jpg", alt="")
                                    .tit 砂糖橘詹冰淇淋：椪柑的清甜如小鎮生活的滋潤清爽，路上處處可見的詹冰詩作
                                a(href="travel_cont.html").travel-theme-side-box
                                    img(src="img/travel_theme01.jpg", alt="")
                                    .tit 樟之細路：走走步道、悠遊苗栗大湖小鎮—老官道...
                        // 電腦版
                        .travel-page-side-btn.pc-show
                            a(href="travel_blog_edit.html").travel-m-btn.travel-orange-btn <i class="fas fa-plus"></i> 撰寫文章
                            .travel-m-btn <i class="fas fa-heart"></i> 加入收藏
                            .travel-m-btn.act <i class="fas fa-heart"></i> 已加入收藏
                        .travel-page-tool.pc-show
                            //- .icon.i-heart
                            .icon.i-link
                            .icon.i-fb
                            .icon.i-line
                            .icon.i-thumb
                    .btn-area
                        a(href="travel_blog_list.html").travel-m-btn <i class="far fa-chevron-left"></i> 返回部落格
                    // 手機版
                    .travel-page-tool.mb-fix-bot
                        .mb-list-area
                            .mb-icon-box
                                //- .icon.i-heart
                                .icon.i-link
                                .icon.i-fb
                                .icon.i-line
                                .icon.i-thumb
                        .mb-btn-box
                            .btn.w50
                                <i class="fas fa-heart"></i>
                                span 加入收藏
                            a(href="travel_blog_edit.html").btn.w50.travel-m-btn.travel-orange-btn <i class="fas fa-plus"></i> 撰寫文章
        .travel-area.travel-pagebg02
            .travel-cont
                .travel-page-more-cont
                    .tit 猜你應該會喜歡的內容
                    -const linkTo='travel_route_cont.html';
                    -const tagTo="travel_route_src_tag_list.html";
                    -const travelTheme01={'img':'travel02.png','date':'2020.11.20','tit':'置身典雅的臺灣文學館，捕捉幸福的最佳地點','tagList':['歷史古蹟','文學創作','臺南景點']};
                    -const travelTheme02={'img':'travel03.png','date':'2020.10.20','tit':'文學力 —— 書寫 LÁN 臺灣常設展','tagList':['活動講座']};
                    -const travelTheme03={'img':'travel04.png','date':'2020.11.20','tit':'浪漫臺三線．214公里的踏查之旅 ─ 前往梨之鄉','tagList':['歷史古蹟','文學創作']};
                    .travel-morelike-sw-area
                        .swiper-containe.travel-morelike-sw#travelMoreSwiper
                            .swiper-wrapper
                                .swiper-slide
                                    +travelThemeBox(travelTheme01,linkTo,tagTo)
                                .swiper-slide
                                    +travelThemeBox(travelTheme02,linkTo,tagTo)
                                .swiper-slide
                                    +travelThemeBox(travelTheme03,linkTo,tagTo)
                    //- .travel-theme-area
                    //-     -const linkTo='travel_blog_cont.html'
                    //-     -const tagTo="###";
                    //-     -const travelTheme01={'img':'travel02.png','date':'2020.11.20','tit':'置身典雅的臺灣文學館，捕捉幸福的最佳地點','tagList':['歷史古蹟','文學創作','臺南景點']};
                    //-     +travelThemeBox(travelTheme01,linkTo,tagTo)
                    //-     -const travelTheme02={'img':'travel03.png','date':'2020.10.20','tit':'文學力 —— 書寫 LÁN 臺灣常設展','tagList':['活動講座']};
                    //-     +travelThemeBox(travelTheme02,linkTo,tagTo)
                    //-     -const travelTheme03={'img':'travel04.png','date':'2020.11.20','tit':'浪漫臺三線．214公里的踏查之旅 ─ 前往梨之鄉','tagList':['歷史古蹟','文學創作']};
                    //-     +travelThemeBox(travelTheme03,linkTo,tagTo)
                .travel-page-cont
                    .travel-page-txt-cont
                        .travel-page-tit 評論
                        .travel-page-common-area
                            .travel-page-common-user
                                .user-img
                                    img(src="img/default_member.svg", alt="")
                                .travel-page-common-cont
                                    //  未登入
                                    .travel-page-common-note(style="display:none") 您需要<a href="login_page.html">登入</a>才能留言。如尚未成為會員，請先<a href="register.html">註冊</a>。
                                    //  登入後
                                    //- .page-common-star-box
                                    //-     -const starNum=[1,2,3,4,5];
                                    //-     each n in starNum
                                    //-         .star
                                    //-             input(type="checkbox" id="star"+n).star-input
                                    //-             .star-c.fas
                                    .travel-page-common-input
                                        input(type="text" placeholder="留言...")
                                        .sumbit
                                            img(src="img/brown_arrow_r.svg", alt="")
                                    .travel-page-robot-box 機器人驗證Box
                            -const pageCommonReq01={'img':'icon_t_user.svg','name':'雅婷','cont':'是一個非常棒的地方，會想去看看～','date':'2021/10/10'};
                            +pageCommonReq(pageCommonReq01)
                            -const pageCommonReq02={'img':'icon_t_user.svg','name':'雯雯','cont':'居然是我的家鄉，等假期去附近走走：）','date':'2021/10/10'};
                            +pageCommonReq(pageCommonReq02)
                            -const pageCommonReq03={'isCover':true,'img':'icon_t_user.svg','name':'美華','date':'2021/10/10'};
                            +pageCommonReq(pageCommonReq03)
                    .travel-page-recommon
                        -const travelRecommon02={'tit':'活動月曆','sup':'各大館舍、實體展覽推薦。','img':'bg_go02.png','link':'###'}
                        +travelRecommon(travelRecommon02)
        include includes/footer_travel02
script.
    var travelMoreSwiper;
    $(document).ready(function () {
        //== 手機猜你喜歡區塊 ==
        travelMoreArea();

        //== 內文br重置 ==
        $('.travel-blog-txt').find('p').each(function(ind,val){
            var textCont=$(val).text();
            var strList = textCont.split('\n');
            var textContChange = strList.join('<br>');
            $(val).html(textContChange);
        });
    });

    $(window).resize(function(){
        //== 手機猜你喜歡區塊 ==
        travelMoreArea();
    });

    //== 手機猜你喜歡區塊 ==
    function travelMoreArea(){
        var windowW=$(window).width();
        if(windowW > 767){
            //== 電腦版不需要sw，如果有啟動要取消 ==
            if(!!travelMoreSwiper){
                travelMoreSwiper.destroy();
            }
        }else{
            //== 如果沒有啟動sw在執行 ==
            if( !travelMoreSwiper || travelMoreSwiper.destroyed == true){
                travelMoreSwiper = new Swiper('#travelMoreSwiper', {
                    slidesPerView: 1,
                    spaceBetween: 20,
                    initialSlide: 1
                });
            }
        }
    }