include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[],'actName':'自己走走 - 主題路線'}
            +travelBread(bread)
            .travel-page-tit-area
                h2 主題路線
                .tit-sup 挑選您愛的景點，享受喧嘩之外的寧靜之旅
        .travel-banner-area.travel-theme-banner-sw-area
            .travel-banner-cont.travel-banner-arrow.travel-theme-banner-sw-cont
                .swiper-containe.travel-banner.travel-theme-banner-sw#travelSwiper
                    .swiper-wrapper
                        .swiper-slide
                            a(href="travel_route_list.html").travel-theme-banner-sw-img
                                img(src="img/t_page_banner.jpg", alt="")
                                .tit-box
                                    .tit 與老樹綠蔭相伴，台北最自在的文學角落1
                        .swiper-slide
                            a(href="travel_route_list.html").travel-theme-banner-sw-img
                                img(src="img/treval_banner.png", alt="")
                                .tit-box
                                    .tit 與老樹綠蔭相伴，台北最自在的文學角落2
                    .swiper-pagination#bookPage
                .swiper-button-prev#bookPrev
                .swiper-button-next#bookNext
        .travel-area
            .travel-cont
                .travel-theme-cube-list
                    -const travelThemeCube01={'img':'theme_cube01.png','date':'2020.10.20','tit':'府城瑣憶 - 來趟輕鬆寫意的一日輕旅行'}
                    +travelThemeCubeBox(travelThemeCube01)
                    -const travelThemeCube02={'img':'theme_cube02.png','date':'2020.10.20','tit':'與老樹綠蔭相伴，臺北最自在的文學角落'}
                    +travelThemeCubeBox(travelThemeCube02)
                    -const travelThemeCube03={'img':'theme_cube03.png','date':'2020.10.20','tit':'置身典雅的臺灣文學館，捕捉幸福的最佳地點'}
                    +travelThemeCubeBox(travelThemeCube03)
                    -const travelThemeCube04={'img':'theme_cube04.png','date':'2020.10.20','tit':'踏尋小封神 - 半日識神人'}
                    +travelThemeCubeBox(travelThemeCube04)
                    -const travelThemeCube05={'img':'theme_cube05.png','date':'2020.10.20','tit':'邂逅一段愛情，在八田與一及八田外代樹所凝視的烏及八田外代樹所凝視的烏'}
                    +travelThemeCubeBox(travelThemeCube05)
                    -const travelThemeCube06={'img':'theme_cube06.png','date':'2020.10.20','tit':'南方有佳餚'}
                    +travelThemeCubeBox(travelThemeCube06)
                +travelPaginationArea
        include includes/footer_travel03
script.
    $(document).ready(function () {
       var travelSwiper = new Swiper('#travelSwiper', {
            slidesPerView: 1,
            spaceBetween: 0,
            //- initialSlide: 2,
            //- breakpoints: {
            //- 	1200: {
            //- 		slidesPerView: 5,
            //- 		spaceBetween: 30,
            //- 	},
            //- 	768: {
            //- 		slidesPerView: 4,
            //- 		spaceBetween: 20,
            //- 	},
            //- 	600: {
            //- 		slidesPerView: 3,
            //- 		spaceBetween: 20,
            //- 	},
            //- 	480: {
            //- 		slidesPerView: 2,
            //- 		spaceBetween: 20,
            //- 	},
            //- },
            navigation: {
            	nextEl: '#bookNext',
            	prevEl: '#bookPrev',
            },
            pagination: {
            	el: '#bookPage',
            	clickable: true,
            },
        });
    });