include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        //- .travel-area
        //-     .travel-search-area
        //-         input(type="text" placeholder="Hi, Sandy  大家都在搜主題路線")
        //-         .travel-search
        //-             img(src="img/icon_search.svg", alt="")
        .travel-banner-area
            .travel-banner-cont.travel-banner-arrow
                .book-top
                    img(src="img/book_cover_top.png", alt="")
                .book-bottom
                    img(src="img/book_cover_bottom.png", alt="")
                .swiper-containe.travel-banner#travelSwiper
                    .swiper-wrapper
                        .swiper-slide
                            a(href="###").travel-banner-img
                                img(src="img/treval_banner.png", alt="")
                        .swiper-slide
                            a(href="###").travel-banner-img
                                img(src="img/treval_banner.png", alt="")
                    .swiper-pagination#bookPage
                .swiper-button-prev#bookPrev
                .swiper-button-next#bookNext
        .travel-area.travel-bg01
            .bg-pattern.pattern01
            .bg-pattern.pattern02
            section.travel-cont.travel-cont-box
                .travel-tit
                    span 還不知道怎麼做嗎？別擔心
                    h2 推薦你來體驗
                .travel-recommon-area
                    -const travelRecommon01={'tit':'自己走走','sup':'各種主題散步路線，一手掌握。','img':'bg_go01.png','link':'travel_theme_list.html'}
                    +travelRecommon(travelRecommon01)
                    -const travelRecommon02={'tit':'活動月曆','sup':'各大館舍、實體展覽推薦。','img':'bg_go02.png','link':'travel_event_map.html'}
                    +travelRecommon(travelRecommon02)
                    -const travelRecommon03={'tit':'家族走走','sup':'各大館舍、實體展覽推薦。','img':'bg_go03.png','link':'travel_family_list.html'}
                    +travelRecommon(travelRecommon03)
        .travel-area.travel-bg02
            .cloud.cloud01
            .cloud.cloud02
            section.travel-cont.travel-cont-box
                .travel-tit-box
                    .travel-tit
                        .butterfly01
                        .butterfly02
                        span 掌握HOT消息
                        h2 最新資訊
                .travel-theme-banner
                    .travel-theme-tab 最新資訊
                    a(href="travel_news_cont.html").travel-theme-banner-img
                        img(src="img/travel01.png", alt="")
                    .travel-theme-banner-cont
                        a(href="travel_news_cont.html").travel-theme-txt
                            .date 2020.11.20
                            .tit 砂糖橘詹冰淇淋：椪柑的清甜如小鎮生活的滋潤清爽，路上處處可見的詹冰詩作
                            .txt 砂糖橘詹冰淇淋：椪柑的清甜如小鎮生活的滋潤清爽，路上處處可見的詹冰詩作。詹冰的詩像是生活裡的小故事、或是一個剎那的即景，簡單生動，像卓蘭一樣。他說滿開的〈櫻花〉...
                        .travel-tag-area
                            a(href="travel_news_src_tag_list.html") #歷史古蹟 
                            a(href="travel_news_src_tag_list.html") #文學創作
                            a(href="travel_news_src_tag_list.html") #一日遊卓蘭 
                .travel-theme-area
                    -const linkTo01='travel_news_cont.html';
                    -const tagTo01="travel_news_src_tag_list.html";
                    -const travelTheme01_1={'hasTag': true,'img':'travel02.png','date':'2020.11.20','tit':'置身典雅的臺灣文學館，捕捉幸福的最佳地點','tagList':['歷史古蹟','文學創作','臺南景點']};
                    +travelThemeBox(travelTheme01_1,linkTo01,tagTo01)
                    -const travelTheme02_1={'hasTag': true,'img':'travel03.png','date':'2020.10.20','tit':'文學力 —— 書寫 LÁN 臺灣常設展','tagList':['活動講座']};
                    +travelThemeBox(travelTheme02_1,linkTo01,tagTo01)
                    -const travelTheme03_1={'hasTag': true,'img':'travel04.png','date':'2020.11.20','tit':'浪漫臺三線．214公里的踏查之旅 ─ 前往梨之鄉','tagList':['歷史古蹟','文學創作']};
                    +travelThemeBox(travelTheme03_1,linkTo01,tagTo01)
                .travel-theme-more
                    a(href="travel_news_list.html") 
                        span 觀看更多內容
                        img(src="img/brown_arrow_r.svg", alt="")
        .travel-new-bg-bottom
        .travel-area.travel-bg02
            .cloud.cloud01
            .cloud.cloud02
            section.travel-cont.travel-cont-box
                .travel-tit-box
                    .travel-tit
                        .butterfly01
                        .butterfly02
                        span 尋找靈感
                        h2 更多的精選內容
                .travel-theme-banner
                    //- .travel-theme-tab 自己走走
                    a(href="travel_route_cont.html").travel-theme-banner-img
                        img(src="img/travel01.png", alt="")
                    .travel-theme-banner-cont
                        a(href="travel_route_cont.html").travel-theme-txt
                            .date 2020.11.20
                            .tit 砂糖橘詹冰淇淋：椪柑的清甜如小鎮生活的滋潤清爽，路上處處可見的詹冰詩作
                            .txt 砂糖橘詹冰淇淋：椪柑的清甜如小鎮生活的滋潤清爽，路上處處可見的詹冰詩作。詹冰的詩像是生活裡的小故事、或是一個剎那的即景，簡單生動，像卓蘭一樣。他說滿開的〈櫻花〉...
                        .travel-tag-area
                            a(href="travel_route_src_tag_list.html") #歷史古蹟 
                            a(href="travel_route_src_tag_list.html") #文學創作
                            a(href="travel_route_src_tag_list.html") #一日遊卓蘭 
                .travel-theme-area
                    -const linkTo02='travel_route_cont.html';
                    -const tagTo02="travel_route_src_tag_list.html";
                    -const travelTheme01={'img':'travel02.png','date':'2020.11.20','tit':'置身典雅的臺灣文學館，捕捉幸福的最佳地點','tagList':['歷史古蹟','文學創作','臺南景點']};
                    +travelThemeBox(travelTheme01,linkTo02,tagTo02)
                    -const travelTheme02={'img':'travel03.png','date':'2020.10.20','tit':'文學力 —— 書寫 LÁN 臺灣常設展','tagList':['活動講座']};
                    +travelThemeBox(travelTheme02,linkTo02,tagTo02)
                    -const travelTheme03={'img':'travel04.png','date':'2020.11.20','tit':'浪漫臺三線．214公里的踏查之旅 ─ 前往梨之鄉','tagList':['歷史古蹟','文學創作']};
                    +travelThemeBox(travelTheme03,linkTo02,tagTo02)
                .travel-theme-more
                    a(href="travel_theme_list.html") 
                        span 觀看更多內容
                        img(src="img/brown_arrow_r.svg", alt="")
        .travel-area.travel-bg03
            .cloud.cloud03
            .cloud.cloud04
            section.travel-cont
                .travel-tit-box
                    .travel-tit
                        span 關於我們
                        h2 全國文學地景網    
                .travel-about 以「臺灣文學連結生活」為主軸，將作家或作品與在地生活的連結，從生活的面向如飲食、交通、環境等，設定以目標消費者感興趣的話題與主。  
                .travel-about-btn-area
                    a(href="###").travel-m-btn
                        span 了解全國文學地景網
                        <i class="fal fa-long-arrow-right"></i>
                    a(href="###").travel-m-btn
                        span 了解臺灣文學館
                        <i class="fal fa-long-arrow-right"></i>
        include includes/footer_travel
script.
    $(document).ready(function () {
        var travelSwiper = new Swiper('#travelSwiper', {
            slidesPerView: 1,
            spaceBetween: 0,
            //- initialSlide: 2,
            //- breakpoints: {
            //- 	1200: {
            //- 		slidesPerView: 5,
            //- 		spaceBetween: 30,
            //- 	},
            //- 	768: {
            //- 		slidesPerView: 4,
            //- 		spaceBetween: 20,
            //- 	},
            //- 	600: {
            //- 		slidesPerView: 3,
            //- 		spaceBetween: 20,
            //- 	},
            //- 	480: {
            //- 		slidesPerView: 2,
            //- 		spaceBetween: 20,
            //- 	},
            //- },
            navigation: {
            	nextEl: '#bookNext',
            	prevEl: '#bookPrev',
            },
            pagination: {
            	el: '#bookPage',
            	clickable: true,
            },
        });
    });