include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[],'actName':'部落格'}
            +travelBread(bread)
            .travel-page-tit-area
                h2 部落格
                .tit-sup 用筆紀錄、寫下自己的文學
        .travel-area.page-top-cover
            .travel-cont
                .travel-news-type-area.blog-type-area
                    .travel-news-type-box
                        .tit 部落格分類
                        select#newsType.travel-sel(name="newsType")
                            option(value="1") 全部
                            option(value="2") 美食之旅
                            option(value="3") 其他
                    a(href="travel_blog_edit.html").travel-m-btn.travel-orange-btn 撰寫文章 <i class="fas fa-plus"></i>
                .travel-blog-list
                    .blog-sizer
                    .blog-gutter-sizer
                    -const travelBlog01={'img':'travel_news02.jpg','tit':'可讀·性—臺灣性別文學變裝特展','txt':'變裝就是打破性別的傳統束縛，每個人都可以有自由選擇自己的人生、走自己的路，穿自己喜愛的衣裳，愛自己愛的人。而變裝如同情慾，更是流動而多元的。我們社會當中有一百個人，就有一百種服裝與姿態，就有一百種情慾的模樣。'}
                    +travelBlogBox(travelBlog01)
                    -const travelBlog02={'img':'blog02.jpg','tit':'臺文館「臺灣字造」系列活動熱鬧開跑','txt':'變裝就是打破性別的傳統束縛，每個人都可以有自由選擇自己的人生、走自己的路，穿自己喜愛的衣裳，愛自己愛的人。而變裝如同情慾，更是流動而多元的。我們社會當中有一百個人，就有一百種服裝與姿態，就有一百種情慾的模樣。'}
                    +travelBlogBox(travelBlog02)
                    -const travelBlog03={'img':'blog04.jpg','tit':'5/28【閱讀地方，書寫風土】最終場！線上聽：楊双子「道道點心都是一個時代」','txt':'實體書策展在國立臺灣文學館藝文商店、各獨立書店展出，每  2  週更換一次書單，讓每間參與書店的選書都能被看見。同時搭配  10  場次相關主題的實體與線上講座、作者對談活動，讓生根地方的風土文學能量更加廣闊的發散與傳遞。'}
                    +travelBlogBox(travelBlog03)
                    -const travelBlog04={'img':'blog01.jpg','tit':'可讀·性—臺灣性別文學變裝特展','txt':'變裝就是打破性別的傳統束縛，每個人都可以有自由選擇自己的人生、走自己的路，穿自己喜愛的衣裳，愛自己愛的人。而變裝如同情慾，更是流動而多元的。我們社會當中有一百個人，就有一百種服裝與姿態，就有一百種情慾的模樣。'}
                    +travelBlogBox(travelBlog04)
                    -const travelBlog05={'img':'blog03.jpg','tit':'臺文館「臺灣字造」系列活動熱鬧開跑','txt':'變裝就是打破性別的傳統束縛，每個人都可以有自由選擇自己的人生、走自己的路，穿自己喜愛的衣裳，愛自己愛的人。而變裝如同情慾，更是流動而多元的。我們社會當中有一百個人，就有一百種服裝與姿態，就有一百種情慾的模樣。'}
                    +travelBlogBox(travelBlog05)
                    -const travelBlog06={'img':'blog05.jpg','tit':'5/28【閱讀地方，書寫風土】最終場！線上聽：楊双子「道道點心都是一個時代」','txt':'實體書策展在國立臺灣文學館藝文商店、各獨立書店展出，每  2  週更換一次書單，讓每間參與書店的選書都能被看見。同時搭配  10  場次相關主題的實體與線上講座、作者對談活動，讓生根地方的風土文學能量更加廣闊的發散與傳遞。'}
                    +travelBlogBox(travelBlog06)
        include includes/footer_travel03

<script src="js/masonry.pkgd.min.js"></script>
script.
    $(document).ready(function () {
        //=== 收藏文章 ===
        $(document).on('click','.icon-heart',function(){
            var hasOn=$(this).hasClass('on');
            hasOn ? $(this).removeClass('on') : $(this).addClass('on');
        });
    });
    $(window).on('load',function () {
        //- console.log('findDone');
        $('.travel-blog-list').masonry({
            // options...
            itemSelector: '.travel-blog-box',//流瀑物件
            columnWidth: '.blog-sizer',//抓取寬度
            gutter: '.blog-gutter-sizer',//物件間隔
            horizontalOrder: true,//是否照順序橫排
            //- percentPosition: true,
        });
    });