include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[{'name':'活動月曆','url':'travel_event_map.html'},{'name':'活動月曆列表','url':'travel_event_list.html'}],'actName':'臺北展館臺灣文學基地國際書展 戰後臺灣人文出版史特展'}
            +travelBread(bread)
        .blog-tit-area
            img.bg-img(src="img/blog01.jpg", alt="")
            .cloud.cloud05
            .cloud.cloud06
            .blog-tit
                h2 臺北展館臺灣文學基地國際書展<br>戰後臺灣人文出版史特展
                .travel-page-info
                    //- .info 2021.11.13
                    .info 358 次點閱
                    .info
                        .icon
                            img(src="img/icon_wh_collect.svg", alt="")
                        .txt 54
                    //- .info
                    //-     .icon
                    //-         img(src="img/icon_wh_comment.svg", alt="")
                    //-     .txt 11
                    //- .share-btn-box
                    //-     a(href="###")
                    //-         i(class="far fa-check")
                    //-         | 讚 <span>234</span>
        .travel-area.travel-event-area
            .travel-cont
                .travel-page-cont
                    .travel-page-txt-cont
                        .travel-tag-area
                            -const tagList=['文學','小說','自由戀愛']
                            each n in tagList
                                a(href="travel_event_src_tag_list.html") ##{n}
                        .edit-box.travel-edit-box
                            p.def 抵達苗栗後，公車就在出火車站後在右手邊的便利商店旁。班次如果不確定的話，也可以現場問一下櫃台的人。車子都蠻準時出發的，切記不要遲到了。搭乘5656公車前往大湖。
                            p.def 到大湖之後，再轉5655公車往卓蘭。5655公車班次較少，請務必先上網確認時間了。
                            p.def 本徵選活動以「國立臺灣文學館(國定古蹟原臺南州廳)」為主題，運用原臺南州廳過往的歷史風華、建築美學、修復再利用作為創寫遊戲腳本的背景藍本，再以結合數位3D掃描、建模、AR等技術，開發智慧導覽應用程式的方式，向大眾徵求「遊戲故事腳本」，讓過去的原臺南州廳，也就是現在的國立臺灣文學館，得以用更加多元的面貌呈現在社會大眾面前，進而使其親近與感受「建築與文學」的生命力。
                            img(src="img/blog01.jpg", alt="")
                    .travel-page-side
                        .travel-page-side-box
                            .travel-page-tit 活動時間
                            .travel-side-date-box
                                .side-date
                                    .year 2022
                                    .date.s-date 02/10
                                .side-date
                                    .year 2022
                                    .date 02/20
                        // 電腦版
                        .travel-page-side-btn.pc-show
                            .travel-m-btn <i class="fas fa-heart"></i> 加入收藏
                            .travel-m-btn.act <i class="fas fa-heart"></i> 已加入收藏
                            a(href="###" target="_blank").travel-m-btn 報名活動
                            a(href="###" target="_blank").travel-m-btn 線上回饋
                        .travel-page-tool.pc-show
                            //- .icon.i-heart
                            .icon.i-link
                            .icon.i-fb
                            .icon.i-line
                            .icon.i-thumb
                    .btn-area
                        a(href="travel_event_list.html").travel-m-btn <i class="far fa-chevron-left"></i> 返回活動列表
                    // 手機版
                    .travel-page-tool.mb-fix-bot
                        .mb-list-area
                            .mb-icon-box
                                //- .icon.i-heart
                                .icon.i-link
                                .icon.i-fb
                                .icon.i-line
                                .icon.i-thumb
                        .mb-btn-box
                            .btn
                                <i class="fas fa-heart"></i>
                                span 加入收藏
                            a(href="###" target="_blank").btn
                                span 報名活動
                            a(href="###" target="_blank").btn
                                span 線上回饋
        include includes/footer_travel03