include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[],'actName':'筆尖上的地圖'}
            +travelBread(bread)
            .travel-page-tit-area
                .tit-sup-up 關於
                h2  筆尖上的地圖
        .travel-area.page-top-cover
            .travel-cont
                .travel-about-area
                    .edit-box.travel-edit-box
                        p.def 本站為文化部「科技．人文．友善體驗-博物館數位導覽示範計畫」的執行成果 ，其主要核心以科技導入藝術、人文與歷史資產之保存與展示，延續其生命滲 透力，同時將科技深化在地社群文化，扎根智能城市發展，期望利用科技整合 人文經濟的跨域與創新知識體系，結合本館各項文學資源，提升民眾與文學愛 好者更便利之智慧文學館體驗。
                        p.def 「航向世界」的入口圖示，是本站的核心意念。機能具展示、研究以及共創服務，內容包括：虛擬實境、臺灣文學史、文學踏查、數位3D、主題平台、共創平台六個區域。各個區域皆由臺文館結合專家團隊共同打造而成，並與時俱進，持續新增資料。也歡迎使用者回饋意見，一起打造「航向世界」的船。
                        p.def 本以下說明部分區域的使用方式及閱讀建議：虛擬實境──以「臺灣文學的內在世界常設展」、以專業典藏修護室以及典藏庫房工作區為展示內容，使用者可使用手機附加VR載體，體會虛擬實境之感，亦能720度旋轉觀看，點選單一物件，即可看見說明內容；臺灣文學史──分時期與主題介紹臺灣文學史的發展，每一個時期備有導讀及大事記，利用游標移動時間軸，可閱讀該時期的事件內容，點選標籤字詞，亦可獲得相關的資訊。共創平台，將持續發展與使用者的對話並回應本站的內容。本站期待以「維基精神（wiki spirit）」，創發更多與使用者互動的機制，在這虛擬世界裡一起參與文學的進程。
                        p.def 合作團隊：<br>國立中興大學：由臺灣文學與跨國文化研究所特聘教授邱貴芬帶領研究團隊，開發具有Timeline閱讀機能的新編臺灣文學史。撰寫導讀的學者專家：明清漢語古典文學時期／廖振富教授；殖民地時期：漢文古典文學時期／施淑教授；殖民地時期：漢文新文學／施淑教授；殖民地時期：日文新文學／施淑教授；重建與反共時期／范銘如教授；現代主義文學時期／邱貴芬教授；鄉土文學時期／邱貴芬教授：反建制時期／陳芷凡副教授；後鄉土文學時期／范銘如教授。 邱教授同時也是開發「作家主題平台」的原創者。團隊主持人另有：詹閔旭助理教授，共同主持人：林餘佐博士候選人、金儒農博士；助理：黃瓊慧小姐、洪千媚小姐、李如恩小姐、蔡岱叡先生、陳嘉樺先生、顧曼齡小姐。
                        p.def
                            | 愛迪斯數位科技股份有限公司：負責開發建置「數位3D」平台，內容包括臺文館典藏品3D掃描成果、數位線上遊戲。<br><br>
                            | 聖傑國際數位科技有限公司：建置「作家主題平台」，負責匯入、更新資料。<br><br>
                            | 其他內容則由本館團隊合作而成。<br><br>
                            | 2019.08
        include includes/footer_travel03