include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[],'actName':'全站搜尋'}
            +travelBread(bread)
            .travel-page-tit-area
                h2 全站搜尋
        .travel-area.page-top-cover
            .travel-cont
                .travel-search-key-area
                    .travel-search-key
                        input(type="text" id="searchKey" name="searchKey" placeholder="請輸入關鍵字")
                        .search-submit 搜尋 <i class="fas fa-long-arrow-right"></i>
                    .travel-search-key-txt 標籤<span>文學</span>的搜尋結果如下
                //- 代表標籤
                //- -const srcLink='travel_event_src_tag_list.html';
                //- +travelQuoteTagArea(srcLink)
                //- 相關標籤
                .travel-src-tab-box
                    .tab.act 自己走走(10)
                    .tab 最新資訊(6)
                    .tab 活動月曆(12)
                    .tab 部落格(2)
                .travel-quote-tag-area
                    .travel-quote-tag-tit
                        .tit 相關標籤
                    .travel-tag-area
                        -const tagList=['文學','小說','自由戀愛','貓狗文學','葉石濤','文學主義','性別文學','人文主義','大海']
                        each n in tagList
                            a(href="###") ##{n}
                //- .travel-search-list
                .travel-route-theme-list.travel-route-theme-src-list
                    .travel-page-tit 搜尋結果
                    -const goLink='travel_event_cont.html';
                    -const travelRouteTheme01={'img':'travel_news01.jpg','tit':'女誡扇綺譚：臺南口袋名單精選！蘊含日式風情的老屋咖啡廳推薦','cont':'此路線為紀念日本作家佐藤春夫1920 年夏天走訪臺灣的意外之旅，以大小姐鬼魂傳說改創的小說作品為場景，走訪一趟時過百年的舊址，體會作家看臺...'};
                    +travelRouteSrcTagBox(goLink,srcLink,travelRouteTheme01)
                    -const travelRouteTheme02={'img':'travel_news02.jpg','tit':'文學小封神：結局未必如人所願，但初心卻如此動人！面對人生的課題，你會如何','cont':'藉由「府城小封神」這條路線，讓我們回到文壇前輩許丙丁著作《小封神》的歷史場景，穿越時空詼諧來看待府城的民間信仰，了解赤崁園區附近廟...'};
                    +travelRouteSrcTagBox(goLink,srcLink,travelRouteTheme02)
                    -const travelRouteTheme03={'img':'travel_news03.jpg','tit':'府城撞見鬼」這條路線絕對不辜負府城超多奇案、傳說眼花撩亂','cont':'「府城撞見鬼」這條路線絕對不辜負府城超多奇案、傳說眼花撩亂。這些奇聞八卦，是各時代作家的創作靈感。至少，府城三大奇案就一直...'};
                    +travelRouteSrcTagBox(goLink,srcLink,travelRouteTheme03)
                +travelPaginationArea
        include includes/footer_travel03