include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[],'actName':'新增文章'}
            +travelBread(bread)
        .travel-area
            .travel-cont
                .travel-page-tit-area.travel-blog-edit-tit-area
                    h2 撰寫部落格文章
                form#blogForm(action="travel_blog_list.html") 
                    .travel-blog-edit-cont
                        .travel-blog-edit-txt-cont
                            .blog-edit-box
                                .blog-edit-tit
                                    label(for="tit") 文章標題
                                    span.note <i class="fas fa-exclamation-circle"></i> 建議字數為20個中文內
                                .blog-input-box
                                    input(type="text" id="tit" name="tit" class="required" placeholder="文章標題").blog-input-sty
                            .blog-edit-box
                                .blog-edit-tit
                                    label(for="des") 文章簡述
                                    span.note <i class="fas fa-exclamation-circle"></i> 將顯示於部落格列表頁
                                .blog-input-box
                                    input(type="text" id="des" name="des" class="required" placeholder="文章簡述").blog-input-sty
                            .blog-edit-box#blogTypeBox
                                .blog-edit-tit
                                    label 選擇分類
                                .blog-edit-check-box
                                    //- label(for="blogType1").blog-edit-check
                                    //-     input.required(type="checkbox" name="blogType" id="blogType1" value="1")
                                    //-     div(class="check-box fas")
                                    //-     span 美食之旅
                                    //- label(for="blogType2").blog-edit-check
                                    //-     input.required(type="checkbox" name="blogType" id="blogType2" value="2")
                                    //-     div(class="check-box fas")
                                    //-     span 文學走踏
                                    -const blogTypeList=['美食之旅','文學走踏','輕旅行','心情敘事']
                                    each n,i in blogTypeList
                                        label(for="blogType"+(i+1)).blog-edit-check
                                            input(type="checkbox" name="blogType" id="blogType"+(i+1) value=(i+1))
                                            //- 後端需要name不能用套件判斷
                                            //- input.required(type="checkbox" name="blogType" id="blogType"+(i+1) value=(i+1))
                                            div(class="check-box fas")
                                            span #{n}
                            .blog-edit-box
                                .blog-edit-tit
                                    label(for="banner") 上傳封面圖
                                    span.note <i class="fas fa-exclamation-circle"></i> 建議尺寸 800 x 350以上
                                .blog-edit-img
                                    input(type="file" name="banner" id="banner" class="required")
                                    //- img#bannerImg(src="", alt="")
                                    .preview-box
                            #blogSortArea
                                //- 段落標題
                                .blog-edit-box(data-nonum="2")
                                    .blog-edit-tit.blog-edit-sort-tit
                                        label(for="blogTit") 段落標題
                                        .sort-box
                                            .icon.sort <i class="fas fa-bars"></i>
                                            .icon.del <i class="fas fa-times"></i>
                                    .blog-input-box
                                        input(type="text" id="blogTit" name="blogTit" class="required" placeholder="段落標題").blog-input-sty
                                //- 段落
                                .blog-edit-box(data-nonum="6")
                                    .blog-edit-tit.blog-edit-sort-tit
                                        label(for="blogCont") 段落
                                        .sort-box
                                            .icon.sort <i class="fas fa-bars"></i>
                                            .icon.del <i class="fas fa-times"></i>
                                    .blog-input-box
                                        textarea#blogCont.blog-edit-textarea(name="blogCont" class="required" placeholder="段落內容...")
                                        .blog-edit-sel-box
                                            .tit 字級
                                            select.travel-sel#blogContSize(name="blogContSize")
                                                -const blogContSize=['14px','16px','18px','20px'];
                                                each n,i in blogContSize
                                                    option(value=i+1) #{n}
                                //- 連結
                                .blog-edit-box(data-nonum="12")
                                    .blog-edit-tit.blog-edit-sort-tit
                                        label(for="linkTxt") 連結
                                        .sort-box
                                            .icon.sort <i class="fas fa-bars"></i>
                                            .icon.del <i class="fas fa-times"></i>
                                    .blog-input-box
                                        input(type="text" id="linkTxt" name="linkTxt" class="required" placeholder="輸入文字").blog-input-sty
                                        input(type="text" id="link" name="link" class="required" placeholder="輸入連結 ex: https://xxx.com.tw").blog-input-sty
                                //- 插入圖片
                                .blog-edit-box(data-nonum="9")
                                    .blog-edit-tit.blog-edit-sort-tit
                                        label(for="blogImg") 插入圖片
                                        .sort-box
                                            .icon.sort <i class="fas fa-bars"></i>
                                            .icon.del <i class="fas fa-times"></i>
                                    .blog-edit-img
                                        input(type="file" name="blogImg" id="blogImg" class="required")
                                        //- img#bannerImg(src="", alt="")
                                    .blog-input-box
                                        input(type="text" id="blogImgLinkTxt" name="blogImgLinkTxt" placeholder="輸入圖片說明").blog-input-sty
                                        input(type="text" id="blogImgLink" name="blogImgLink" placeholder="輸入連結 ex: https://xxx.com.tw").blog-input-sty
                                    .blog-edit-sel-box
                                        .note-box
                                            span.note <i class="fas fa-exclamation-circle"></i> 如圖檔寬度大於730px，將以滿版呈現
                                            span.note <i class="fas fa-exclamation-circle"></i> 圖檔僅支援png、jpg、gif等格式
                                        select.travel-sel.travel-sel-place#blogImgPlace(name="blogImgPlace")
                                            -const blogImgPlace=['置左','置中','置右'];
                                            each n,i in blogImgPlace
                                                option(value=i+1) #{n}
                                //- 引用
                                .blog-edit-box(data-nonum="13")
                                    .blog-edit-tit.blog-edit-sort-tit
                                        label(for="blogQuote") 引用
                                        .sort-box
                                            .icon.sort <i class="fas fa-bars"></i>
                                            .icon.del <i class="fas fa-times"></i>
                                    .blog-input-box
                                        textarea#blogQuote.blog-edit-textarea(name="blogQuote" class="required" placeholder="引用內容...")
                        .travel-blog-edit-side
                            .blog-edit-tit 文章工具
                            .blog-edit-btn-area
                                -const blogEditBtn01={'btnId':'addTitBtn','img':'icon_tit.svg','txt':'插入標題'}
                                +blogEditBtn(blogEditBtn01)
                                -const blogEditBtn02={'btnId':'addPartBtn','img':'icon_p.svg','txt':'插入段落'}
                                +blogEditBtn(blogEditBtn02)
                                -const blogEditBtn03={'btnId':'addImgBtn','img':'icon_img.svg','txt':'插入圖片'}
                                +blogEditBtn(blogEditBtn03)
                                -const blogEditBtn04={'btnId':'addLinkBtn','img':'icon_url.svg','txt':'插入連結'}
                                +blogEditBtn(blogEditBtn04)
                                -const blogEditBtn05={'btnId':'addQuoteBtn','img':'icon_quote.svg','txt':'插入引用'}
                                +blogEditBtn(blogEditBtn05)
                                .blog-edit-btn.blog-edit-cancle-btn.mb-btn
                                    <i class="fas fa-long-arrow-left"></i>
                                    span 取消返回
                            .blog-edit-cancle-btn.pc-btn
                                <i class="fas fa-long-arrow-left"></i>
                                span 取消返回
                        .btn-area
                            //- a(href="travel_blog_list.html").travel-m-btn <i class="far fa-chevron-left"></i> 返回部落格
                            .robet-box 機器人驗證Box
                            .travel-m-btn.travel-orange-btn.blog-submit-btn 確認新增文章 <i class="fas fa-plus"></i>
                                //- input(type="submit")


        include includes/footer_travel03

<script src="js/Sortable.min.js"></script>
<script src="js/travel_blogEdit.js"></script>
//- script.
    //- $(document).ready(function () {
    //-     //== 上頁返回 ==
    //-     $('.blog-edit-cancle-btn').on('click',function(){
    //-         history.back();
    //-     });
    //-     // var actLang = CookiesLang;//動態使用
    //-     var lang = getCookie('CacheLang');//語系
    //-     var reqTxt;
    //-     lang == 'zh' ? reqTxt= '必填' : reqTxt= '必填';//Required
    //-     //== 必填中英 ==
    //-     $.extend($.validator.messages, {
    //-         required: reqTxt,
    //-     });
    //-     var validator = $("#blogForm").validate({
    //-         //- messages:{
    //-         //-     account:{
    //-         //-         required: reqTxt,
    //-         //-     },
    //-         //-     pwd:{
    //-         //-         required: reqTxt,
    //-         //-     },
    //-         //- },
    //-         submitHandler: function (form) {
    //-             alert("完成");
    //-             form.submit();
    //-         }
    //-     });
    //-     //=== 上傳預覽圖片 ===
    //-     //- $("#banner").on('change',function () {
    //-     //-     readURL(this,'bannerImg');
    //-     //- });
    //-     changeImg('#banner','bannerPreview');
    //-     changeImg('#blogImg','blogImgPreview');
    //-     //=== 排序功能 ===
    //-     new Sortable(blogSortArea, {
    //-         handle: '.sort', // handle's class
    //-         animation: 150
    //-     });

    //-     //=== 編輯功能 ===
    //-     var lang = getCookie('CacheLang');//語系
    //-     //= 排序盒子 =
    //-     var $sortArea=$('#blogSortArea');
    //-     //= 編輯流水號 =
    //-     var noNum = 1;
    //-     //= 編輯時已設欄位，取得最後流水號 =
    //-     var noNumList = [];
    //-     $('#blogSortArea').find('.blog-edit-box').each(function (ind, val) {
    //-         var useNum = $(val).data('nonum');
    //-         noNumList.push(useNum);
    //-     });
    //-     noNumList.sort(function (a, b) {
    //-         return b - a;
    //-     });
    //-     noNum = noNumList[0] + 1;

    //-     //= 標題 =
    //-     $('#addTitBtn').on('click',function(){
    //-         //預作語系
    //-         var tit,note;
    //-         lang== 'zh' ? tit= '段落標題' : tit= '段落標題';
    //-         lang== 'zh' ? note= '請輸入標題' : note= '請輸入標題';
    //-         var titId='blogTit'+noNum;
    //-         var titDom='<div class="blog-edit-box" data-nonum="'+noNum+'">'+
    //-             '<div class="blog-edit-tit blog-edit-sort-tit">'+
    //-             '<label for="'+titId+'">'+tit+'</label>'+
    //-             '<div class="sort-box">'+
    //-             '<div class="icon sort"><i class="fas fa-bars"></i></div>'+
    //-             '<div class="icon del"><i class="fas fa-times"></i></div>'+
    //-             '</div></div>'+
    //-             '<div class="blog-input-box">'+
    //-             '<input class="required blog-input-sty" type="text" id="'+titId+'" name="'+titId+'" placeholder="'+note+'">'+
    //-             '</div></div>';
    //-         $sortArea.append(titDom);
    //-         noNum++;
    //-     });
    //-     //= 段落 =
    //-     $('#addPartBtn').on('click',function(){
    //-         //預作語系
    //-         var tit,note,sizeTxt;
    //-         lang == 'zh' ? tit= '段落' : tit= '段落';
    //-         lang == 'zh' ? note= '段落內容...' : note= '段落內容...';
    //-         lang == 'zh' ? sizeTxt= '字級' : sizeTxt= '字級';
    //-         var partId='blogCont'+noNum;
    //-         var partSizeId='blogContSize'+noNum;
    //-         var partDom='<div class="blog-edit-box" data-nonum="'+noNum+'">'+
    //-             '<div class="blog-edit-tit blog-edit-sort-tit">'+
    //-             '<label for="'+partId+'">'+tit+'</label>'+
    //-             '<div class="sort-box"><div class="icon sort"><i class="fas fa-bars"></i></div>'+
    //-             '<div class="icon del"><i class="fas fa-times"></i></div>'+
    //-             '</div></div>'+
    //-             '<div class="blog-input-box">'+
    //-             '<textarea class="blog-edit-textarea required" id="'+partId+'" name="'+partId+'" placeholder="'+note+'"></textarea>'+
    //-             '<div class="blog-edit-sel-box">'+
    //-             '<div class="tit">'+sizeTxt+'</div>'+
    //-             '<select class="travel-sel" id="'+partSizeId+'" name="'+partSizeId+'"><option value="1">14px</option><option value="2">16px</option><option value="3">18px</option><option value="4">20px</option></select>'+
    //-             '</div></div></div>';
    //-         $sortArea.append(partDom);
    //-         noNum++;
    //-     });
    //-     //= 圖片 =
    //-     $('#addImgBtn').on('click',function(){
    //-         //預作語系
    //-         var tit,imgLinkTxt,imgLink,leftTxt,centerTxt,rightTxt,noteOne,noteTwo;
    //-         lang== 'zh' ? tit= '插入圖片' : tit= '插入圖片';
    //-         lang== 'zh' ? imgLinkTxt= '輸入圖片說明' : imgLinkTxt= '輸入圖片說明';
    //-         lang== 'zh' ? imgLink= '輸入連結 ex: https://xxx.com.tw' : imgLink= '輸入連結 ex: https://xxx.com.tw';
    //-         lang== 'zh' ? leftTxt= '置左' : leftTxt= '置左';
    //-         lang== 'zh' ? centerTxt= '置中' : centerTxt= '置中';
    //-         lang== 'zh' ? rightTxt= '置右' : rightTxt= '置右';
    //-         lang== 'zh' ? noteOne= '如圖檔寬度大於730px，將以滿版呈現' : noteOne= '如圖檔寬度大於730px，將以滿版呈現';
    //-         lang== 'zh' ? noteTwo= '圖檔僅支援png、jpg、gif等格式' : noteTwo= '圖檔僅支援png、jpg、gif等格式';
    //-         var imgId='blogImg'+noNum;
    //-         var imgIdLink='blogImgLink'+noNum;
    //-         var imgIdLinkTxt='blogImgLinkTxt'+noNum;
    //-         var imgPlaceId='blogImgPlace'+noNum;
    //-         var imgDom='<div class="blog-edit-box" data-nonum="'+noNum+'">'+
    //-             '<div class="blog-edit-tit blog-edit-sort-tit">'+
    //-             '<label for="'+imgId+'">'+tit+'</label>'+
    //-             '<div class="sort-box"><div class="icon sort"><i class="fas fa-bars"></i></div><div class="icon del"><i class="fas fa-times"></i></div>'+
    //-             '</div></div>'+
    //-             '<div class="blog-edit-img">'+
    //-             '<input class="required" type="file" name="'+imgId+'" id="'+imgId+'"></div>'+
    //-             '<div class="blog-input-box">'+
    //-             '<input class="blog-input-sty" type="text" id="'+imgIdLinkTxt+'" name="'+imgIdLinkTxt+'" placeholder="'+imgLinkTxt+'">'+
    //-             '<input class="blog-input-sty" type="text" id="'+imgIdLink+'" name="'+imgIdLink+'" placeholder="'+imgLink+'"></div>'+
    //-             '<div class="blog-edit-sel-box">'+
    //-             '<div class="note-box"><span class="note"><i class="fas fa-exclamation-circle"></i> '+noteOne+'</span><span class="note"><i class="fas fa-exclamation-circle"></i> '+noteTwo+'</span></div>'+
    //-             '<select class="travel-sel travel-sel-place" id="'+imgPlaceId+'" name="'+imgPlaceId+'"><option value="1">'+leftTxt+'</option><option value="2">'+centerTxt+'</option><option value="3">'+rightTxt+'</option></select>'+
    //-             '</div></div>';
    //-         $sortArea.append(imgDom);
    //-         noNum++;
    //-         //綁圖片預覽功能
    //-         changeImg('#'+imgId,imgId+'Preview');
    //-     });
    //-     //= 連結 =
    //-     $('#addLinkBtn').on('click',function(){
    //-         //預作語系
    //-         var tit,note,noteLink;
    //-         lang== 'zh' ? tit= '連結' : tit= '連結';
    //-         lang== 'zh' ? note= '輸入文字' : note= '輸入文字';
    //-         lang== 'zh' ? noteLink= '輸入連結 ex: https://xxx.com.tw' : noteLink= '輸入連結 ex: https://xxx.com.tw';
    //-         var linkTxtId='linkTxt'+noNum;
    //-         var linkId='link'+noNum;
    //-         var linkDom='<div class="blog-edit-box" data-nonum="'+noNum+'">'+
    //-             '<div class="blog-edit-tit blog-edit-sort-tit">'+
    //-             '<label for="'+linkTxtId+'">'+tit+'</label>'+
    //-             '<div class="sort-box"><div class="icon sort"><i class="fas fa-bars"></i></div><div class="icon del"><i class="fas fa-times"></i></div>'+
    //-             '</div></div>'+
    //-             '<div class="blog-input-box">'+
    //-             '<input class="required blog-input-sty" type="text" id="'+linkTxtId+'" name="'+linkTxtId+'" placeholder="'+note+'">'+
    //-             '<input class="required blog-input-sty" type="text" id="'+linkId+'" name="'+linkId+'" placeholder="'+noteLink+'">'+
    //-             '</div></div>';
    //-         $sortArea.append(linkDom);
    //-         noNum++;
    //-     });
    //-     //= 引用 =
    //-     $('#addQuoteBtn').on('click',function(){
    //-         //預作語系
    //-         var tit,note;
    //-         lang== 'zh' ? tit= '引用' : tit= '引用';
    //-         lang== 'zh' ? note= '引用內容...' : note= '引用內容...';
    //-         var quoteId='blogQuote'+noNum;
    //-         var quoteDom='<div class="blog-edit-box" data-nonum="'+noNum+'">'+
    //-             '<div class="blog-edit-tit blog-edit-sort-tit">'+
    //-             '<label for="'+quoteId+'">'+tit+'</label>'+
    //-             '<div class="sort-box"><div class="icon sort"><i class="fas fa-bars"></i></div><div class="icon del"><i class="fas fa-times"></i></div>'+
    //-             '</div></div>'+
    //-             '<div class="blog-input-box">'+
    //-             '<textarea class="blog-edit-textarea required" id="'+quoteId+'" name="'+quoteId+'" placeholder="'+note+'"></textarea>'+
    //-             '</div></div>';
    //-         $sortArea.append(quoteDom);
    //-         noNum++;
    //-     });

    //-     //= 刪除 =
    //-     $(document).on('click','.del',function(){
    //-         $(this).parent().parent().parent().remove();
    //-     });
    //- });
    //- //=== 上傳圖片 ===
    //- function changeImg(id,pImg){
    //-     $(id).on('change',function () {
    //-         readURL(this,pImg);
    //-     });
    //- }
    //- //=== 圖片預覽 ===
    //- function readURL(input,previewImg) {
    //-     if (input.files && input.files[0]) {
    //-         var reader = new FileReader();
    //-         reader.onload = function (e) {
    //-             var previewImgDom='<img src="" id="'+previewImg+'">';//圖片img
    //-             $(input).parent().append(previewImgDom);
    //-             var $previewImg=$('#'+previewImg);//圖片dom
    //-             //- console.log(e.target.result);
    //-             $previewImg.attr('src', e.target.result);
    //-         }
    //-         reader.readAsDataURL(input.files[0]);
    //-     }else{
    //-         $(input).parent().find('img').remove();
    //-     }
    //- }