include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[],'actName':'一起走走 - 活動月曆'}
            +travelBread(bread)
            .travel-page-tit-area
                h2 活動月曆
                .tit-sup 掌握全臺展館最新活動消息就在這裡
            -const eventPlace=['基隆','臺北','新北','桃園','新竹','苗栗','臺中','彰化','南投','雲林','嘉義','臺南','高雄','屏東','臺東','花蓮','宜蘭','金門','澎湖','小琉球','馬祖','蘭嶼','綠島'];
            .travel-family-place-sel-box
                .tit 選擇縣市
                //- select.travel-sel#eventPlace(name="eventPlace")
                //-     option(value="12") 臺南
                select.travel-sel#eventPlace(name="eventPlace")
                    each n,i in eventPlace
                        option(value=i+1) #{n}
        .travel-family-boder
            img(src="img/bg_family_map_top.png", alt="")
        .travel-area.travel-family-area
            .travel-cont.travel-event-map-cont
                .travel-event-more-area
                    each n,i in eventPlace
                        +travelEventListArea(n,i+1)
                .travel-family-map.travel-event-map
                    img.taiwan(src="img/event_taiwan.svg", alt="")
                    //- each n,i in eventPlace
                    //-     +travelEventListArea(n,i+1)
                    //- .travel-event-list-area
                    //-     .event-tit#eventTit <span>臺南</span> / 相關活動
                    //-     .travel-event-list
                    //-         -const travelEventList01={'hasTag':true,'date':'2022/06/02 - 2022/06/30','tit':'飽讀食書－－臺灣珍味文學展'}
                    //-         +travelEventListBox(travelEventList01)
                    //-         -const travelEventList02={'date':'2022/06/12 - 2022/06/20','tit':'2022 最新展覽資訊，請參考臺文館最新活動資訊'}
                    //-         +travelEventListBox(travelEventList02)
                    //-         -const travelEventList03={'date':'2022/09/01 - 2022/09/08','tit':'《一起去地球吧！》國立臺灣文學館裝置藝術特展'}
                    //-         +travelEventListBox(travelEventList03)
                    //-     .travel-about-btn-area
                    //-         a(href="travel_event_list.html").travel-m-btn
                    //-             span 查看更多資訊
                    //-             <i class="fal fa-long-arrow-right"></i>
                    //- .eline.edot1.eline1
                    //- each n,i in eventPlace
                    .event-dot-box.len02.edot1
                        .tit.etit(data-edot="1") 基隆
                    .event-dot-box.len01.edot2
                        .tit.etit(data-edot="2") 臺北
                    .event-dot-box.len01.edot3
                        .tit.etit(data-edot="3") 新北
                    .event-dot-box.len03.edot4
                        .tit.etit(data-edot="4") 桃園
                    .event-dot-box.len01.edot5
                        .tit.etit(data-edot="5") 新竹
                    .event-dot-box.len01.edot6
                        .tit.etit(data-edot="6") 苗栗
                    .event-dot-box.len02.edot7
                        .tit.etit(data-edot="7") 臺中
                    .event-dot-box.len01.edot8
                        .tit.etit(data-edot="8") 彰化
                    .event-dot-box.len02.edot9
                        .tit.etit(data-edot="9") 南投
                    .event-dot-box.len02.edot10
                        .tit.etit(data-edot="10") 雲林
                    .event-dot-box.len02.edot11
                        .tit.etit(data-edot="11") 嘉義
                    .event-dot-box.len01.edot12
                        .tit.etit(data-edot="12") 臺南
                    .event-dot-box.len02.edot13
                        .tit.etit(data-edot="13") 高雄
                    .event-dot-box.len02.edot14
                        .tit.etit(data-edot="14") 屏東
                    .event-dot-box.len02.edot15
                        .tit.etit(data-edot="15") 臺東
                    .event-dot-box.len02.edot16
                        .tit.etit(data-edot="16") 花蓮
                    .event-dot-box.len02.edot17
                        .tit.etit(data-edot="17") 宜蘭
                    .event-dot-box.len02.edot18
                        .tit.etit(data-edot="18") 金門
                    .event-dot-box.len02.edot19
                        .tit.etit(data-edot="19") 澎湖
                    .event-dot-box.len02.edot20
                        .tit.etit(data-edot="20") 小琉球
                    .event-dot-box.len02.edot21
                        .tit.etit(data-edot="21") 馬祖
                    .event-dot-box.len02.edot22
                        .tit.etit(data-edot="22") 蘭嶼
                    .event-dot-box.len02.edot23
                        .tit.etit(data-edot="23") 綠島
        .travel-family-boder
            img(src="img/bg_family_map_bot.png", alt="")
        include includes/footer_travel03
script.
    $(document).ready(function(){
        //== 因為手機有下拉單要讓下拉單再對的點選地 ==
        $('placeClick').on('click',function(){
            var thisPlaceId=$(this).attr('pacleid');
            $('.travel-event-list-area').removeClass('act');
            $('#eventArea'+thisPlaceId).addClass('act');
            $('#eventPlace').find('option[value="'+thisPlaceId+'"]').prop('selected', 'selected');
        });
        //== 先開啟台南 ==
        $('#eventArea12').addClass('act');
        $('#eventPlace').find('option[value="12"]').prop('selected', 'selected');
        $('.edot12').addClass('act');
        //== select ==
        $('#eventPlace').on('change',function(){
            reMbEvent();
        });
        //== 點選狀態 ==
        $('.etit').on('click',function(){
            var eventId=$(this).data('edot');
            $('.travel-event-list-area').removeClass('act');
            $('#eventArea'+eventId).addClass('act');
            //= 地標狀態 =
            $('.event-dot-box').removeClass('act');
            $('.edot'+eventId).addClass('act');
            //= 變更手機的act狀態 =
            $('#eventPlace').find('option[value="'+eventId+'"]').prop('selected', 'selected');
        });
    });
    $(window).on('load',function(){
        reMbEvent();
    });
    $(window).resize(function(){
        var windowW = $(window).width();
        if (windowW < 768) {
            //== select ==
            reMbEvent();
        }
    });

    function reMbEvent(){
        var actPlace=$('#eventPlace').val();
        //- console.log(actPlace);
        $('.travel-event-list-area').removeClass('act');
        $('#eventArea'+actPlace).addClass('act');
        //= 地標狀態 =
        $('.event-dot-box').removeClass('act');
        $('.edot'+actPlace).addClass('act');
    }