include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[],'actName':'學習單'}
            +travelBread(bread)
            .travel-page-tit-area
                h2 學習單
                .tit-sup 學習、歷程、多元評量、實作學習等教學理念
        .travel-area.page-top-cover
            .travel-cont
                .travel-news-type-area
                    .travel-news-type-box
                        .tit 更多資源
                        a.more-link(href="https://learn.nmtl.gov.tw/home/zh-tw" target="_blank") 文學五金行 <i class="fas fa-external-link-alt"></i>
                .worksheet-area
                    -const worksheet01={'tit':'綜觀臺灣70年代之文學歷史學習單','cont':'臺灣鄉土文學論戰（1977年-1978年）是一場從1970年代初期開始，關於臺灣文學之寫作方向和路線的探討，特別是在1977年4月至1978年1月之間，關於這個議題的討論，更是達到了前所未有的高潮，一般稱之為「鄉土文學論戰」。','list':['臺南府城-浮生半日遊之一日輕旅行','高雄愛情碼頭雙人行','家族旅遊屏東二天一夜好選擇']};
                    +worksheetBox(worksheet01)
                    -const worksheet02={'tit':'文學欣賞：文壇冬青樹─林海音','cont':'學習活動重點：以林海音的生命經歷為主軸，輔以其文學作品、文學活動、文化事業，呈顯林海音對臺灣文壇的影響，也間接展現臺灣文壇成行的經過。','list':['臺南府城-浮生半日遊之一日輕旅行','高雄愛情碼頭雙人行','家族旅遊屏東二天一夜好選擇']};
                    +worksheetBox(worksheet02)
                    -const worksheet03={'tit':'教育部現代公民核心能力課程計畫 -文學與人生','cont':'臺灣鄉土文學論戰（1977年-1978年）是一場從1970年代初期開始，關於臺灣文學之寫作方向和路線的探討，特別是在1977年4月至1978年1月之間，關於這個議題的討論，更是達到了前所未有的高潮，一般稱之為「鄉土文學論戰」。','list':['家族旅遊屏東二天一夜好選擇','臺南府城-浮生半日遊之一日輕旅行','文學之旅有你有我，從旅途中獲得...','吾島走踏，日夜無眠，臺南府城之....']};
                    +worksheetBox(worksheet03)
                    //- -const worksheet04={'tit':'','cont':'','list':['']};
                    //- +worksheetBox(worksheet04)
        include includes/footer_travel03