include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        -const RoutePopup01={'id':'routePopup1','img':'tpage01.png','tit':'存仁藥局舊址','address':'卓蘭鎮民族路民生路口的綠色建築','cont':'這是詹冰開設的藥局，據在地耆老的說法，此棟在市場內的綠色的磁磚外牆至今無改，當時，這是鎮上最大的藥局，也是鎮上唯一具有藥劑師資格的藥師所開設的西藥房。詹冰在此執業多年，已成為鎮民心中的共同回憶。 此處建築依舊，但已不復往昔風光，藥局在歇業多年後，一樓店面租給店家，現在靜立市場一隅。依據立詩社創辦人之一的陳千'};
        +travelRoutePopup(RoutePopup01)
        -const RoutePopup02={'id':'routePopup2','img':'tpage02.png','tit':'詹冰故居','address':'卓蘭鎮新厝里仁愛路22號','cont':'此處是詹冰的老家，詹冰是詩人的筆名，他的本名是詹益川。畢業於台中一中、在中學時代已有文學啟蒙，前往日本留學後一度希望就讀文學科，但後來還是順應父親的期望，於日本明治藥專畢業、取得藥劑師資格後，返鄉執業。除了開藥局，具備藥師資格的他，同時也擔任國中的理化老師，任教多年，許'};
        +travelRoutePopup(RoutePopup02)
        -const RoutePopup03={'id':'routePopup3','img':'tpage03.png','tit':'峨崙廟','address':'苗栗縣卓蘭鎮中正路81巷10號','cont':'峨崙廟是卓蘭當地信仰中心，此地聚居客家人口，廟內主祀三山國王。古廟建於道光年間，歷史悠久，更有廟內古鐘被耆老從他處尋回的美談，許多傳說足見古廟與鎮民生活息息相關，是在地人的共同記憶。 在詹冰的〈峨崙廟〉詩作裡，也有提到「我在童年摸過的龍珠龍柱／我在童年騎過的兩座石獅／我在童'};
        +travelRoutePopup(RoutePopup03)
        -const RoutePopup04={'id':'routePopup4','img':'tpage04.png','tit':'卓蘭鎮椪柑果園','address':'苗栗縣卓蘭鎮中正路81巷10號','cont':'太太捧著一個椪柑說： 「好美的一個椪柑──可是，那位中醫師教我不要吃水果──。」 我看她充滿食慾的眼睛，覺得怪可憐。 我就說：偷偷吃一點嘛，醫生也不曉得──。 我覺得我像是伊甸園裡的一條蛇。 於是，太太就開始吃椪柑。 一會兒。整個椪柑都吃掉了。 我意外地說：「全部都吃掉了嗎？」 太'};
        +travelRoutePopup(RoutePopup04)
        .travel-area
            -const bread={'links':[{'name':'自己走走 - 主題路線','url':'###'},{'name':'府城瑣憶 - 來趟輕鬆寫意的一日輕旅行','url':'###'}],'actName':'府城瑣憶 - 來趟輕鬆寫意的一日輕旅行'}
            +travelBread(bread)
            .travel-page-tit-area
                h2 砂糖橘詹冰淇淋：椪柑的清甜如小鎮生活的滋潤清爽，路上處處可見的詹冰詩作
                .travel-page-info
                    .info by
                        span.art 文學小編
                    .info 2021.11.13
                    .info 358 次點閱
                    .info
                        .icon
                            img(src="img/icon_info_collect.svg", alt="")
                        .txt 54
                    .info
                        .icon
                            img(src="img/icon_comment.svg", alt="")
                        .txt 11
                    //- .share-btn-box
                    //-     a(href="###")
                    //-         i(class="far fa-check")
                    //-         | 讚 <span>234</span>
        .travel-page-main-banner#tMainBanner
            img(src="img/t_page_banner.jpg", alt="")
        .travel-page-banner-area
            .travel-banner-cont.travel-banner-arrow
                .swiper-containe.travel-page-banner#travelPageSwiper
                    .swiper-wrapper
                        .swiper-slide
                            .travel-page-img.act
                                img(src="img/t_page_banner.jpg", alt="")
                        .swiper-slide
                            .travel-page-img
                                img(src="img/tpage01.png", alt="")
                        .swiper-slide
                            .travel-page-img
                                img(src="img/tpage02.png", alt="")
                        .swiper-slide
                            .travel-page-img
                                img(src="img/tpage03.png", alt="")
                        .swiper-slide
                            .travel-page-img
                                img(src="img/tpage04.png", alt="")
                        .swiper-slide
                            .travel-page-img
                                img(src="img/tpage01.png", alt="")
                .swiper-button-prev#travelPagePrev
                .swiper-button-next#travelPageNext
        .travel-area
            .travel-cont
                .travel-page-cont
                    .travel-page-txt-cont
                        .travel-page-tit 主題介紹
                        .travel-page-txt
                            .edit-box.travel-edit-box
                                p.def 苗栗卓蘭是水果之鄉，也是詩人詹冰的故鄉。卓蘭四季盛產不同的水果，遊客到此不免來趟採果之旅，小鎮上也有詩人留下的許多童詩，展現了生活裡可愛又生動的一面。
                                p.def 詹冰的詩像是生活裡的小故事、或是一個剎那的即景，簡單生動，像卓蘭一樣。他說滿開的〈櫻花〉：「現在是笑的極點。其證據是，正在滴下美麗的淚珠…。」也將觀察到的生態摘引入詩（〈山路上的螞蟻〉）：
                                p.def 小鎮留有他豐富生活足跡，他在卓蘭國中當了25年的理化教師，有藥師執照的他，開了當時鎮上最大的存仁藥局（也是當年鎮上唯一由專門藥師執業的藥局），此處更是笠詩社的誕生地──詹冰邀請了預計籌備詩刊的文友們來此討論、因而此處也成了《笠》詩刊創社之所在。他的故居至今仍維持完好，安靜的院落留有生活的痕跡，在水果之鄉生活的詩人夫妻，感情甜蜜動人，詹冰曾寫下的《椪柑》一詩，就是他看著太太「充滿食慾的眼睛」，慫恿被中醫禁口的太太偷吃水果，兩人的互動溫馨可愛，吃完一整個椪柑的太太，還賴皮說，醫生只說不要吃酸的水果。跟水果一樣甜蜜的情感，或許也是詹冰的創作原動力。
                                p.def 如今，鎮上已開幕的詹冰故事館煥然一新，它前身為卓蘭國小的日式宿舍，此刻已修整為紀念詹冰的文學園地，裡面有滿滿的故事，以全新的面貌迎接遊人，訴說小鎮詩人的文學軌跡。鎮上的信仰中心峨崙廟，也有著詹冰詩作的立牌，寫著「我在童年摸過的龍珠龍柱…（略）…到現在都不改變」，廟宇紀錄了歷史，詩人卻留下了情意，來峨崙廟拜神，「老妻要祈求一家平安子孫幸福，我只求老妻好好愛我」。在卓蘭小鎮唯一要擔心的就是路人被閃瞎了眼吧！
                                p.def 在出發前往果園採果之前，卓蘭小鎮正是最好的休憩點，果園四季開放，椪柑的清甜一如小鎮生活的滋潤清爽，來鎮上整備時別忘了在小鎮散步繞一繞—─路上處處可見的詹冰詩作，語言平易又充滿生活感，更沒有艱澀，詩人的現世生活幸福完滿，因此揮灑了無盡的童趣與愛吧！
                        .travel-route-area
                            -const travelRoute01={'id':'route1','img':'tpage01.png','tit':'存仁藥局舊址','address':'卓蘭鎮民族路民生路口的綠色建築','cont':'台灣文藝102期陳千武口述資料，談及籌備笠詩社之緣起，稱詹冰家一樓是藥局、眾人前往二樓的客廳開會，比對詹冰在卓蘭的故居（僅一樓）與存...'};
                            +travelRouteBox(travelRoute01)
                            -const travelRoute02={'id':'route2','img':'tpage02.png','tit':'詹冰故居','address':'卓蘭鎮新厝里仁愛路22號','cont':'詹冰故居，詩人在鎮上生活的地方，此處並未開放參觀。'};
                            +travelRouteBox(travelRoute02)
                            -const travelRoute03={'id':'route3','img':'tpage03.png','tit':'峨崙廟','address':'苗栗縣卓蘭鎮中正路81巷10號','cont':'街上詹冰〈峨崙廟〉詩作立牌，峨崙廟廟口。'};
                            +travelRouteBox(travelRoute03)
                            -const travelRoute04={'id':'route4','img':'tpage04.png','tit':'卓蘭鎮椪柑果園','address':'苗栗縣卓蘭鎮','cont':'卓蘭柑橘類從民國五十年開始經濟栽培，卓蘭所產柑桔以椪柑為主，採收期為11月至12月。'};
                            +travelRouteBox(travelRoute04)
                        .route-map-area#routeMap
                        .travel-route-article-area
                            .travel-route-article-box
                                .tit 撰寫作者
                                .route-article
                                    .icon
                                        img(src="img/default_member.svg", alt="")
                                    .name 文學小編
                                .route-article-cont 以「台灣文學連結生活」為主軸，將作家或作品與在地生活的連結
                            .travel-route-article-box
                                .tit 相關標籤
                                .travel-tag-area
                                    a(href="###") #歷史古蹟 
                                    a(href="###") #文學創作
                                    a(href="###") #一日遊卓蘭 
                    .travel-page-side
                        .travel-page-side-box
                            .travel-page-tit 路線評分
                            .travel-page-score-total
                                //- .icon <i class="fas fa-star"></i>
                                .icon
                                    img(src="img/icon_star.svg", alt="")
                                .score 4.3 分
                        .travel-page-side-box.routelist
                            .travel-page-tit 周邊地景
                            .travel-side-route-area
                                -const routeList=[{'id':'routeSide1','name':'存仁藥局舊址'},{'id':'routeSide2','name':'詹冰故居'},{'id':'routeSide3','name':'峨崙廟'},{'id':'routeSide4','name':'卓蘭鎮椪柑果園'}];
                                each n in routeList
                                    +travelSideRouteBox(n)
                        .travel-page-side-btn
                            .travel-m-btn <i class="fas fa-map-marked-alt"></i> 下載GPX地圖
                        .travel-page-tool
                            //- .icon.i-heart
                            .icon.i-link
                            .icon.i-fb
                            .icon.i-line
                            .icon.i-thumb
                    .btn-area
                        a(href="###").travel-m-btn <i class="far fa-chevron-left"></i> 返回路線列表
        .travel-area.travel-pagebg02
            .travel-cont
                .travel-page-cont
                    .travel-page-txt-cont
                        .travel-page-tit 評論
                        .travel-page-common-area
                            .travel-page-common-user
                                .user-img
                                    img(src="img/default_member.svg", alt="")
                                .travel-page-common-cont
                                    //  未登入
                                    .travel-page-common-note(style="display:none") 您需要<a href="login_page.html">登入</a>才能留言。如尚未成為會員，請先<a href="register.html">註冊</a>。
                                    //  登入後
                                    .page-common-star-box
                                        -const starNum=[1,2,3,4,5];
                                        each n in starNum
                                            .star
                                                input(type="checkbox" id="star"+n).star-input
                                                .star-c.fas
                                    .travel-page-common-input
                                        input(type="text" placeholder="留言...")
                                        .sumbit
                                            img(src="img/brown_arrow_r.svg", alt="")
                                    .travel-page-robot-box 機器人驗證Box
                            -const pageCommonReq01={'img':'icon_t_user.svg','name':'雅婷','cont':'是一個非常棒的地方，會想去看看～','date':'2021/10/10'};
                            +pageCommonReq(pageCommonReq01)
                            -const pageCommonReq02={'img':'icon_t_user.svg','name':'雯雯','cont':'居然是我的家鄉，等假期去附近走走：）','date':'2021/10/10'};
                            +pageCommonReq(pageCommonReq02)
                    .travel-page-recommon
                        -const travelRecommon02={'tit':'活動月曆','sup':'各大館舍、實體展覽推薦。','img':'bg_go02.png','link':'###'}
                        +travelRecommon(travelRecommon02)
                .travel-page-more-cont
                    .tit 猜你應該會喜歡的內容
                    .travel-theme-area
                        -const travelTheme01={'img':'travel02.png','date':'2020.11.20','tit':'置身典雅的台灣文學館，捕捉幸福的最佳地點','tagList':['歷史古蹟','文學創作','台南景點']};
                        +travelThemeBox(travelTheme01)
                        -const travelTheme02={'img':'travel03.png','date':'2020.10.20','tit':'文學力 —— 書寫 LÁN 臺灣常設展','tagList':['活動講座']};
                        +travelThemeBox(travelTheme02)
                        -const travelTheme03={'img':'travel04.png','date':'2020.11.20','tit':'浪漫台三線．214公里的踏查之旅 ─ 前往梨之鄉','tagList':['歷史古蹟','文學創作']};
                        +travelThemeBox(travelTheme03)
        include includes/footer_travel02

link(href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css" rel="stylesheet")
script(src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-language/v1.0.0/mapbox-gl-language.js')
script(src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js")
script.
    mapboxgl.accessToken = 'pk.eyJ1IjoidHJ1ZXN1biIsImEiOiJja25nMDBzbmUwamZpMnhtZXlzNXM2YnFqIn0.F2UM5EyLSGmv_lbwkO_4LA';
    var map,popup;
    $(document).ready(function () {
        var travelPageSwiper = new Swiper('#travelPageSwiper', {
            slidesPerView: 5,
            spaceBetween: 20,
            //- initialSlide: 2,
            breakpoints: {
                1024: {
            		slidesPerView: 4,
            		spaceBetween: 20,
            	},
            	768: {
            		slidesPerView: 3,
            		spaceBetween: 10,
            	},
            	480: {
            		slidesPerView: 2,
            		spaceBetween: 10,
            	},
            },
            navigation: {
            	nextEl: '#travelPageNext',
            	prevEl: '#travelPagePrev',
            },
            //- pagination: {
            //- 	el: '#ExPage',
            //- 	clickable: true,
            //- },
        });
        //=== 點選banner換圖 ===
        $('.travel-page-img').on('click',function(){
            $('.travel-page-img').removeClass('act');
            $(this).addClass('act');
            var actImgLink=$(this).find('img').attr('src');
            $('#tMainBanner').find('img').attr('src',actImgLink);
        });
        //- $('.travel-footer-area').addClass('bg2');
        //=== 星星評分 ===
        var starList=[
            {'btn':'#star1','list':['#star1']},
            {'btn':'#star2','list':['#star1','#star2']},
            {'btn':'#star3','list':['#star1','#star2','#star3']},
            {'btn':'#star4','list':['#star1','#star2','#star3','#star4']},
            {'btn':'#star5','list':['#star1','#star2','#star3','#star4','#star5']}
        ];
        $.each(starList,function(ind,val){
            var $btn=$(val.btn);
            $btn.on('click',function(){
                $('.star-input').prop('checked', false);
                $.each(val.list,function(ind,val){
                    $(val).prop('checked', true);
                });
            });
        });

        //=== 景點popup ===
        var routeL=$('.travel-route-area').find('.travel-route-box').length;
        var routeList=[];
        for(var i = 1; i < routeL+1; i++) {
            //- printf("%d ", i);
            routeList.push(i);
        }
        $.each(routeList,function(ind,val){
            $('#route'+val).on('click',function(){
                $('#routePopup'+val).fadeIn(300);
                $('#mask').fadeIn(300);
                $('#routePopup'+val).find('.route-popup-cont').mCustomScrollbar();//內容滾輪
                bgTravelFix();
            });
            $('#routeSide'+val).on('click',function(){
                $('#routePopup'+val).fadeIn(300);
                $('#mask').fadeIn(300);
                $('#routePopup'+val).find('.route-popup-cont').mCustomScrollbar();//內容滾輪
                bgTravelFix();
            });
        })
        //== 關閉時消除滾輪 ==
        $('.route-popup-close').on('click',function(){
            $('.travel-route-popup-area,#mask').fadeOut(300);
            $('.route-popup-cont').mCustomScrollbar("destroy");
            bgTravelUnFix();
        });

        //=== 地圖路徑圖 ===
        $.ajaxSetup({
            async: false,
            crossDomain: true,
            //- beforeSend: function (xhr, options) {
            //-     options.url = apiDomain + options.url;
            //-     console.log('== see ==')
            //- }
        });
        var points = [];
        var startEndPoint = [];
        var mapData=[];
        $.get('../route/route1.gpx', function (data) {
            console.log(data);
            $(data).find("trkpt").each(function () {
                var lat = $(this).attr("lat");
                var lon = $(this).attr("lon");
                //- var p = new google.maps.LatLng(lat, lon);
                points.push([lon,lat]);
                //- bounds.extend(p);
            });
            console.log(points);
            console.log(points[0]);
            //== 起點和終點 ==
            startEndPoint.push(points[0]);
            startEndPoint.push(points[points.length-1]);
            console.log(startEndPoint);
            var pointSize=[15, 27];
            $.each(startEndPoint,function(ind,val){
                var startOrEnd,pointImg,pointTxt,lon,lat;
                !ind ? startOrEnd = 'start' : startOrEnd = 'end';
                !ind ? pointImg = 'img/icon_start.svg' : pointImg = 'img/icon_end.svg';
                !ind ? pointTxt = '起點' : pointTxt = '終點';
                //- console.log(val);
                //- console.log(pointTxt);
                //- console.log(lon);
                mapData.push({
                    'id': startOrEnd,//可以補點點的ID但不能補其他參數
                    'type': 'Feature',
                    'properties': { 'iconSize': pointSize, 'iconUrl': pointImg, pointTxt },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [Number(val[0]), Number(val[1])]
                    }
                });
            });
            //- console.log(mapData);
        });
        
        //== 地圖設定 ==
        //- console.log('==???==');
        //- console.log(points[0]);
        map = new mapboxgl.Map({
            container: 'routeMap',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: points[0],
            //- center: [-122.486052, 37.830348],
            zoom: 13
        });

        map.on('load', () => {
            //= 路徑 =
            map.addSource('route', {
                'type': 'geojson',
                'data': {
                    'type': 'Feature',
                    'properties': {},
                    'geometry': {
                        'type': 'LineString',
                        'coordinates': points,
                        //- 'coordinates': [
                        //-     [-122.483696, 37.833818],
                        //-     [-122.483482, 37.833174],
                        //-     [-122.483396, 37.8327],
                        //-     [-122.483568, 37.832056],
                        //-     [-122.48404, 37.831141],
                        //-     [-122.48404, 37.830497],
                        //-     [-122.483482, 37.82992],
                        //-     [-122.483568, 37.829548],
                        //-     [-122.48507, 37.829446],
                        //-     [-122.4861, 37.828802],
                        //-     [-122.486958, 37.82931],
                        //-     [-122.487001, 37.830802],
                        //-     [-122.487516, 37.831683],
                        //-     [-122.488031, 37.832158],
                        //-     [-122.488889, 37.832971],
                        //-     [-122.489876, 37.832632],
                        //-     [-122.490434, 37.832937],
                        //-     [-122.49125, 37.832429],
                        //-     [-122.491636, 37.832564],
                        //-     [-122.492237, 37.833378],
                        //-     [-122.493782, 37.833683]
                        //- ]
                    }
                }
            });
            map.addLayer({
                'id': 'routeLine',//也可以是route，只是同名會搞混，所以分開命名
                'type': 'line',
                'source': 'route',
                'layout': {
                    'line-join': 'round',
                    'line-cap': 'round'
                },
                'paint': {
                    'line-color': '#f35959',//f35959
                    'line-width': 3
                }
            });
            //= 起終點 和 打點資料 =
            map.addSource('point', {
                'type': 'geojson',
                'data': {
                    'type': 'FeatureCollection',
                    //- 'themeId': mapThemeKey,
                    'themeName': '起終點',//葉石濤大事紀
                    'features': mapData
                }
            });
            map.addLayer({
                'id': 'pointMark',
                'type': 'circle',
                'source': 'point',//點資料來源
                'paint': {
                    'circle-color': 'transparent',//#4264fb
                    'circle-radius': 6,
                    'circle-stroke-width': 2,
                    'circle-stroke-color': 'transparent' ,//#fff transparent
                },
                //- 'layout': {
                //-     // 'symbol-placement': 'point',
                //-     // 'icon-image': 'marker',
                //-     // 'icon-size': 1,
                //-     // 'icon-anchor': 'bottom',
                //-     // 'icon-allow-overlap': true,
                //- }
            });

            //=== 客製化點圖標 ===
            setMark(mapData, 'startEndPoint');
        });
        
        //=== 地圖功能區 ===
        // Center the map on the coordinates of any clicked symbol from the 'symbols' layer.
        /**** 滑鼠移過出現popup  ****/
        // Create a popup, but don't add it to the map yet.
        popup = new mapboxgl.Popup({
            closeButton: false,
            closeOnClick: false
        });
        //=== 點點hover ===
        hoverPopup('pointMark');
        //=== 增加控制地圖縮放 ===
        map.addControl(new mapboxgl.NavigationControl());
        //=== 地圖設置語系 (預設全地圖語系)===
        //- var lang = CookiesLang;
        //- lang == 'zh' ? mapLanguage = "zh-Hant" : mapLanguage = "en";
        var mapboxLanguage = new MapboxLanguage({
            defaultLanguage: 'zh-Hant' //'en'
        });
        map.addControl(mapboxLanguage);
    });
    //=== hover popup 功能 ===
    function hoverPopup(layerMarkId) {
        map.on('mouseenter', layerMarkId, function (e) {
            // Change the cursor style as a UI indicator.
            map.getCanvas().style.cursor = 'pointer';

            var coordinates = e.features[0].geometry.coordinates.slice();
            //- var dataName = e.features[0].source;
            //- var dataIsHisType = e.features[0].properties.isSlope;
            // console.log(dataIsHisType);//找不到得會變成 undefined
            var description = e.features[0].properties.pointTxt;

            // var description = e.features[0].properties.description;

            // Ensure that if the map is zoomed out such that multiple
            // copies of the feature are visible, the popup appears
            // over the copy being pointed to.
            while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
            }

            // Populate the popup and set its coordinates
            // based on the feature found.
            popup.setLngLat(coordinates).setHTML(description).addTo(map);
        });

        map.on('mouseleave', layerMarkId, function (e) { //places要對應 map.addSource的參數
            map.getCanvas().style.cursor = '';
            popup.remove();
        });
    }
    //=== 客製化點設置(圖標)  ===
    function setMark(data, markName) {
        // Add markers to the map.
        for (const marker of data) {
            // Create a DOM element for each marker.
            const el = document.createElement('div');
            const iconurl = marker.properties.iconUrl;
            const width = marker.properties.iconSize[0];
            const height = marker.properties.iconSize[1];
            el.className = markName;//'marker'
            el.style.backgroundImage = `url(${iconurl})`;
            el.style.width = `${width}px`;
            el.style.height = `${height}px`;
            el.style.backgroundSize = '100%';
            el.style.backgroundRepeat = 'no-repeat';

            //- el.addEventListener('click', () => {
            //- 	window.alert(marker.properties.message);
            //- });

            // Add markers to the map.
            new mapboxgl.Marker(el)
                .setLngLat(marker.geometry.coordinates)
                .addTo(map);
        }
    }
    function bgTravelFix() {
        $('body').css({'overflow':'hidden'});
        //- scTop = $(document).scrollTop();
        //- $('body').css({ 'top': -scTop, 'position': 'fixed', 'width': '100%' });
    }
    function bgTravelUnFix() {
        $('body').removeAttr('style');
        //- $('html,body').animate({ scrollTop: scTop }, 0);
    }