include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[{'name':'活動月曆','url':'travel_event_map.html'}],'actName':'活動月曆列表'}
            +travelBread(bread)
            .travel-page-tit-area
                h2 活動月曆
                .tit-sup 掌握全臺展館最新活動消息就在這裡
        .travel-area.page-top-cover
            .travel-cont
                //- 代表標籤
                -const srcLink='travel_event_src_tag_list.html';
                +travelQuoteTagArea(srcLink)
                .travel-news-type-area.travel-event-type-area
                    .travel-news-type-box
                        .tit 活動縣市
                        select#eventCountry.travel-sel(name="eventCountry")
                            option(value="1") 全部
                            option(value="2") 臺南
                            option(value="3") 臺北
                    .travel-news-type-box
                        .tit 活動狀態
                        select#eventStatu.travel-sel(name="eventStatu")
                            option(value="1") 全部
                            option(value="2") 當天活動
                            option(value="3") 近期活動
                            option(value="4") 已結束
                    .travel-news-type-box
                        .tit 活動分類
                        select#eventType.travel-sel(name="eventType")
                            option(value="1") 全部
                            option(value="2") 地景活動
                            option(value="3") 館舍活動
                .travel-event-area
                    -const travelEvent01={'img':'travel_route01.png','tit':'女誡扇綺譚：臺南口袋名單精選！蘊含日式風情的老屋咖啡廳推薦','cont':'此路線為紀念日本作家佐藤春夫1920 年夏天走訪臺灣的意外之旅，以大小姐鬼魂傳說改創的小說作品為場景，走訪一趟時過百年的舊址，體會作家看臺...'};
                    +travelEventBox(travelEvent01)
                    -const travelEvent02={'img':'travel_route02.png','tit':'文學小封神：結局未必如人所願，但初心卻如此動人！面對人生的課題，你會如何','cont':'藉由「府城小封神」這條路線，讓我們回到文壇前輩許丙丁著作《小封神》的歷史場景，穿越時空詼諧來看待府城的民間信仰，了解赤崁園區附近廟...'};
                    +travelEventBox(travelEvent02)
                    -const travelEvent03={'img':'travel_route03.png','tit':'府城撞見鬼」這條路線絕對不辜負府城超多奇案、傳說眼花撩亂','cont':'「府城撞見鬼」這條路線絕對不辜負府城超多奇案、傳說眼花撩亂。這些奇聞八卦，是各時代作家的創作靈感。至少，府城三大奇案就一直...'};
                    +travelEventBox(travelEvent03)
                +travelPaginationArea
                .btn-area.last-btn-area
                    a(href="travel_event_map.html").travel-m-btn <i class="far fa-chevron-left"></i> 返回活動月曆
        include includes/footer_travel03

script(src="js/travel_moreTag.js") 
script.
    $(document).ready(function () {
        //=== 收藏文章 ===
        $(document).on('click','.icon-heart',function(){
            var hasOn=$(this).hasClass('on');
            hasOn ? $(this).removeClass('on') : $(this).addClass('on');
        });
    });
//- $(document).ready(function () {
//-     //如果超過這個高度才有更多鈕
//-     hideMoreBtn();
//-     //標籤打開 隱藏
//-     var $moreTagBtn = $('#travelQuoteTagMoreBtn');
//-     var $allTagBox = $('#travelQuoteAllTagBox');
//-     $moreTagBtn.on('click', function () {
//-         var tagOpen = $allTagBox.hasClass('act-open');
//-         if (tagOpen) {
//-             $allTagBox.removeClass('act-open');
//-             $moreTagBtn.find('i').removeClass('fa-arrow-up');
//-             $moreTagBtn.find('i').addClass('fa-arrow-down');
//-             //- var itag = 0;
//-             //- $('.tagshow').each(function (e) {
//-             //-     if (itag > 19) {
//-             //-         $(this).hide();
//-             //-     } else
//-             //-         $(this).show();
//-             //-     itag++;
//-             //- });
//-         } else {
//-             $allTagBox.addClass('act-open');
//-             $moreTagBtn.find('i').addClass('fa-arrow-up');
//-             $moreTagBtn.find('i').removeClass('fa-arrow-down');
//-             //- $('.tagshow').each(function (e) {
//-             //-     $(this).show();
//-             //- });
//-         }
//-     });

//-     //=== 收藏文章 ===
//-     $(document).on('click','.icon-heart',function(){
//-         var hasOn=$(this).hasClass('on');
//-         hasOn ? $(this).removeClass('on') : $(this).addClass('on');
//-     });
//- });

//- $(window).resize(function () {
//-     hideMoreBtn();
//- });

//- //如果超過這個高度才有更多鈕
//- function hideMoreBtn() {
//-     var tagsH = $('#travelQuoteAllInnerTagBox').outerHeight();
//-     if (tagsH < 43) {
//-         $('#travelQuoteTagMoreBtn').hide();
//-     } else {
//-         $('#travelQuoteTagMoreBtn').show();
//-     }
//- }