include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'文學踏查 - 作家平台','link':'writer_list.html'}],'actPage':'葉石濤'}
				+breadBox(breadList)
				-const back={'name':'返回作家平台','link':'writer_list.html'}
				+backPage(back)
				-const subNavList=[{'name':'作家平台','icon':'<i class="fal fa-books"></i>','link':'writer_list.html','act':true},{'name':'故事地圖','icon':'<i class="fal fa-map-marked-alt"></i>','link':'writer_story_list.html'},{'name':'主題之旅','icon':'<i class="fal fa-map-signs"></i>','link':'theme_list.html'}]
				+subNav(subNavList)
		.page-writer-bread-area
			.main-cont
				-const writerBread={'links':[],'act':'著作資料'}
				+writerBread(writerBread)
		.page-wrap.page-gray-wrap
			.main-cont
				.writer-track-tit
					h3 著作資料
				.writer-track-tab-area
					.tab.act 分類一
					span ・
					.tab 分類二
					span ・
					.tab 分類三
				.writer-track-book-area
					.writer-track-book-cont
						-const trackBookUrl='writer_book_cont.html';
						-const TrackBook1={'img':'book1.jpg','tit':'台灣鄉土作家論集'}
						+writerTrackBookBox(TrackBook1,trackBookUrl)
						-const TrackBook2={'img':'book2.jpg','tit':'葉石濤集'}
						+writerTrackBookBox(TrackBook2,trackBookUrl)
						-const TrackBook3={'img':'book3.jpg','tit':'台灣文學的回顧'}
						+writerTrackBookBox(TrackBook3,trackBookUrl)
						-const TrackBook4={'img':'book4.jpg','tit':'紅鞋子'}
						+writerTrackBookBox(TrackBook4,trackBookUrl)
						-const TrackBook5={'img':'book5.jpg','tit':'台灣文學入門'}
						+writerTrackBookBox(TrackBook5,trackBookUrl)
						-const TrackBook6={'img':'book13.jpg','tit':'葫蘆巷春夢'}
						+writerTrackBookBox(TrackBook6,trackBookUrl)
						-const TrackBook7={'img':'book14.jpg','tit':'黃水仙花'}
						+writerTrackBookBox(TrackBook7,trackBookUrl)
						-const TrackBook8={'img':'book15.jpg','tit':'臺灣文學的困境'}
						+writerTrackBookBox(TrackBook8,trackBookUrl)
						-const TrackBook9={'img':'book16.jpg','tit':'賺食世家'}
						+writerTrackBookBox(TrackBook9,trackBookUrl)
						-const TrackBook10={'img':'book17.jpg','tit':'噶瑪蘭的柑子'}
						+writerTrackBookBox(TrackBook10,trackBookUrl)
				.writer-track-back
					a(href="writer_cont_v5.html") <i class="fas fa-chevron-left"></i> 返回作家
		//-內容
		include includes/footer