include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'文學踏查 - 作家平台','link':'writer_list.html'}],'actPage':'葉石濤'}
				+breadBox(breadList)
				-const back={'name':'返回作家平台','link':'writer_list.html'}
				+backPage(back)
				-const subNavList=[{'name':'作家平台','icon':'<i class="fal fa-books"></i>','link':'writer_list.html','act':true},{'name':'故事地圖','icon':'<i class="fal fa-map-marked-alt"></i>','link':'writer_story_list.html'},{'name':'主題之旅','icon':'<i class="fal fa-map-signs"></i>','link':'theme_list.html'}]
				+subNav(subNavList)
		.page-writer-bread-area
			.main-cont
				-const writerBread={'links':[{'link':'writer_book_list.html','txt':'著作資料'}],'act':'台灣鄉土作家論集'}
				+writerBread(writerBread)
		.page-wrap.page-gray-wrap
			.main-cont
				.writer-track-tit
					h3 著作資料
				.writer-book-area
					.writer-book-img-box
						.writer-book-img
							img(src="img/book1.jpg", alt="")
						.writer-book-name.img#imgTitle 台灣鄉土作家論集
					.writer-book-cont
						.writer-book-name-box
							h4.writer-book-name.tit 台灣鄉土作家論集
						.cont
							.edit-box
								p 文學評論集，葉石濤著。1979年3月，由台北遠景出版社出版。這本集子是從作者最早的蘭開版《葉石濤評論集》(1968) 脫胎而來，加上1973年三信版的《葉石濤作家論集》中新增的作品及之後的新作，可以說是彙集了作者1965年到1979年以前，所有重要的作家論、作品論，以及台灣文學史論述之大成，也是葉石濤戰後30多年間、重要台灣文學發言的總集合。總共有28篇作品，有8篇台灣文學史論，有8篇7家作家論，其餘為作品論。
								p 本集的台灣文學史論述，以〈台灣的鄉土文學〉揭開序幕。1965年的台灣文學，尚掩蓋在反共文學的煙霧中時，葉石濤在這篇文章中首先表示，台灣的新文學自賴和以降，自成一個文學發展的體系，台灣作家個個像受難的使徒背著沉重的十字架，像唐‧吉訶德一樣揮矛迎向風車挑戰，就是為了建立自己的文學。從戰前、戰中到戰後，台灣作家從鄉土這唯一統一的主題，已然連成一脈，發願在有生之年寫成一部台灣鄉土文學史。1967年，則發表了另一篇〈兩年來的省籍作家及其小說〉，主要是以《台灣文藝》以及1965年鍾肇政主編出版的兩套叢書：「本省籍作家作品選集」(文壇社) 及「台灣省青年作家叢書」(幼獅書店) 各10冊上面的作家作品資料，補充他的台灣鄉土文學史論。1968年，他又發表了〈一年來的省籍作家及其作品──兼論省籍作家的特質〉，仍然可以視為前者的補充論述，比較特別的是，本篇以「紀錄性」(documentry)、「地域性」(regionalism)、「觀念」(idea) 三種趨勢，做為他分析台灣作家作品之後，歸納出來的特質。他說，作家應自由創作，忠實地批評時代政治、社會和既成道德秩序。敏銳地捕捉居住地域的環境變遷情形。表現透過觀念的處理而重塑的鄉土。「我們的文學必須富於民族靈魂和鄉土色彩。」是作者第一次這麼具體地表述他的台灣文學本質論。
								p 至於更為確定的台灣文學史觀表述，應是1977年發表的〈台灣鄉土文學史導論〉，這篇文章藉南非白人女作家N‧歌蒂瑪(Nadina Gordimer)為現代非洲文學下定義的模式──所謂非洲的作品就是非洲人寫的作品，以及在非洲土地上，在精神及心理層面上跟非洲人有共通經驗的作品，絕不受語言膚色制約。因此，台灣鄉土文學就是不分族群的台灣人所寫的文學，也是具台灣共通生活經驗、歷史的文學。葉石濤說：「台灣的鄉土文學應該是以『台灣為中心』寫出來的作品；……它應該是站在台灣的立場上來透視整個世界的作品。儘管……作家可以自由地寫出任何他們感興趣及喜愛的事物，但是他們應具有根深蒂固的『台灣意識』，否則台灣鄉土文學豈不成為某種『流亡文學』？」。所謂「台灣意識」，就是跟廣大人民生活息息相關的事物反映出來的意識，就是台灣人民長期是外來殖民統治壓迫的共通經驗，「一定是『反帝、反封建』的共通經驗以及篳路藍縷以啟山林的，跟大自然搏鬥的共通紀錄，而絕不是站在統治者意識上所寫出來的，背叛廣大人民意願的任何作品。」
								p 「台灣意識」台灣文學論的出現，使得他的、述作台灣鄉土文學史的願望，已具體成型，也確立了他自己的台灣文學史觀。這篇論述，也一舉釐清了台灣文學一直含混不清的外貌，促發70年代的鄉土文學定義的爭論。
								p 作家論的部分，分別討論了張文環、吳濁流、鍾理和、鍾肇政、林海音、黃娟、季季7家，可以說開啟了台灣文學作家學術評論的先河。作品論方面，則討論了張文環《在地上爬的人》、吳濁流〈幕後的支配者〉、鍾肇政的《輪迴》、《沉淪》、《中元的構圖》、黃靈芝的〈蟹〉、鄭清文的《校園裡的椰子樹》，李喬的兩本書(《飄然曠野》與《戀歌》)、七等生的小說(〈放生鼠〉、〈精神病患〉、〈昨夜在鹿鎮〉)、《僵局》和林懷民的〈安德烈‧紀德的冬天〉、〈逝者〉。
								p 本書可以視為葉石濤80年代文學史巨著《台灣文學史綱》的奠基之作。
								p 文學評論集，葉石濤著。1979年3月，由台北遠景出版社出版。這本集子是從作者最早的蘭開版《葉石濤評論集》(1968) 脫胎而來，加上1973年三信版的《葉石濤作家論集》中新增的作品及之後的新作，可以說是彙集了作者1965年到1979年以前，所有重要的作家論、作品論，以及台灣文學史論述之大成，也是葉石濤戰後30多年間、重要台灣文學發言的總集合。總共有28篇作品，有8篇台灣文學史論，有8篇7家作家論，其餘為作品論。
								p 本集的台灣文學史論述，以〈台灣的鄉土文學〉揭開序幕。1965年的台灣文學，尚掩蓋在反共文學的煙霧中時，葉石濤在這篇文章中首先表示，台灣的新文學自賴和以降，自成一個文學發展的體系，台灣作家個個像受難的使徒背著沉重的十字架，像唐‧吉訶德一樣揮矛迎向風車挑戰，就是為了建立自己的文學。從戰前、戰中到戰後，台灣作家從鄉土這唯一統一的主題，已然連成一脈，發願在有生之年寫成一部台灣鄉土文學史。1967年，則發表了另一篇〈兩年來的省籍作家及其小說〉，主要是以《台灣文藝》以及1965年鍾肇政主編出版的兩套叢書：「本省籍作家作品選集」(文壇社) 及「台灣省青年作家叢書」(幼獅書店) 各10冊上面的作家作品資料，補充他的台灣鄉土文學史論。1968年，他又發表了〈一年來的省籍作家及其作品──兼論省籍作家的特質〉，仍然可以視為前者的補充論述，比較特別的是，本篇以「紀錄性」(documentry)、「地域性」(regionalism)、「觀念」(idea) 三種趨勢，做為他分析台灣作家作品之後，歸納出來的特質。他說，作家應自由創作，忠實地批評時代政治、社會和既成道德秩序。敏銳地捕捉居住地域的環境變遷情形。表現透過觀念的處理而重塑的鄉土。「我們的文學必須富於民族靈魂和鄉土色彩。」是作者第一次這麼具體地表述他的台灣文學本質論。
				.writer-track-back
					a(href="writer_book_list.html") <i class="fas fa-chevron-left"></i> 返回列表
		//-內容
		include includes/footer
script.
	$(document).ready(function(){
		$(window).scroll(function () {
			//- var windowScrollNum = $(window).scrollTop();
			var windowScrollNum = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
			windowScrollNum > 300 ? $('#imgTitle').fadeIn(): $('#imgTitle').fadeOut();
		});
	});