include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'文學踏查 - 作家行跡','link':'writer_list.html'}],'actPage':'標籤搜尋'}
				+breadBox(breadList)
				-const subNavList=[{'name':'作家行跡','icon':'<i class="fal fa-books"></i>'},{'name':'故事地圖','icon':'<i class="fal fa-map-marked-alt"></i>','link':'writer_story_list.html'},{'name':'主題之旅','icon':'<i class="fal fa-map-signs"></i>','link':'theme_list.html'},{'name':'城市解謎1','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'},{'name':'城市解謎2','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'}]
				+subNav(subNavList)
		.page-wrap
			.main-cont
				.page-group
					.page-cont
						.writer-src-tag-tit 包含<span>“臺灣文學”</span>的標籤結果，共<span>15</span>筆資料。
						.writer-src-tag-list
							- const writerSrcTagInfo01={'img':'tag_src_default.jpg','tit':'葉石濤大事記 > <span>1965年求學</span>','txt':'辭教職，就讀省立台南師專特師科。'}
							+writerSrcTagBox(writerSrcTagInfo01)
							- const writerSrcTagInfo02={'img':'tag_src_img01.jpg','tit':'葉石濤大事記 > <span>1946年發表</span>','txt':'發表〈幻想〉、〈偷玻璃的人〉、〈江湖藝人〉、〈關於香菸〉、〈夢與謊言〉等作品於《中華日報》（龍瑛宗主編）日文版文藝欄。'}
							+writerSrcTagBox(writerSrcTagInfo02)
							- const writerSrcTagInfo03={'img':'tag_src_img02.jpg','tit':'葉石濤大事記 > <span>1946年發表</span>','txt':'發表〈幻想〉、〈偷玻璃的人〉、〈江湖藝人〉、〈關於香菸〉、〈夢與謊言〉等作品於《中華日報》（龍瑛宗主編）日文版文藝欄。'}
							+writerSrcTagBox(writerSrcTagInfo03)
							- const writerSrcTagInfo04={'img':'tag_src_img03.jpg','tit':'葉石濤大事記 > <span>1946年發表</span>','txt':'發表〈幻想〉、〈偷玻璃的人〉、〈江湖藝人〉、〈關於香菸〉、〈夢與謊言〉等作品於《中華日報》（龍瑛宗主編）日文版文藝欄。'}
							+writerSrcTagBox(writerSrcTagInfo04)
						+pagination
					.page-side
						.side-tag-box.side-fixed
							.creat-article-tag-tit
								div 代表標籤
								.creat-article-tag-more#moreTagBtn 顯示全部標籤
									i(class="far fa-angle-down")
							.creat-article-tag.gin-tag-box
								.article-all-tag#articleAllTagBox
									#articleAllInnerTagBox
										-const tagList=['大事記','政治','聯合文學','電影','白色恐怖','原住民','現代','政治','聯合文學','電影','白色恐怖','政治','聯合文學','電影','白色恐怖']
											each n,i in tagList
												a(href="###") ##{n}
		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		//如果超過這個高度才有更多鈕
		hideMoreBtn();
		//標籤打開 隱藏
		var $moreTagBtn=$('#moreTagBtn');
		var $allTagBox=$('#articleAllTagBox');
		$moreTagBtn.on('click',function(){
			var tagOpen=$allTagBox.hasClass('act-open');
			if(tagOpen){
				$allTagBox.removeClass('act-open');
				$moreTagBtn.find('i').removeClass('fa-angle-up');
				$moreTagBtn.find('i').addClass('fa-angle-down');
			}else{
				$allTagBox.addClass('act-open');
				$moreTagBtn.find('i').addClass('fa-angle-up');
				$moreTagBtn.find('i').removeClass('fa-angle-down');
				sideScrollBtn();
			}
		});
	});
	$(window).resize(function () {
		hideMoreBtn();
	});

	//如果超過這個高度才有更多鈕
	function hideMoreBtn(){
		var tagsH = $('#articleAllInnerTagBox').outerHeight();
		if(tagsH < 156){
			$('#moreTagBtn').hide();
		}else{
			$('#moreTagBtn').show();
		}
	}

	function sideScrollBtn(){
		//內頁側邊卡住
		var fixData = {
			'topNav': '#navArea',//上方nav
			'sideNav': '.side-fixed',//側邊nav
			'pageCont': '.page-cont',//內容高
			'footer': 'footer',//底部footer
			'topMargin': 10,//側邊nav固定上面距離
			'bottomMargin': 80,//側邊nav固定下面距離
			'sideContW': '.page-side'//側邊side寬度
		};
		scrollNAvFix(fixData);
	}

