include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		.imgzoom-area#imgzoomArea
			.close#zoomImgClose <i class="fas fa-times"></i>
			.imgzoom-box
				img#zoomImg(src="img/w_story01.jpg", alt="")
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'文學踏查 - 作家平台','link':'writer_list.html'}],'actPage':'葉石濤'}
				+breadBox(breadList)
				-const back={'name':'返回作家平台','link':'writer_list.html'}
				+backPage(back)
				-const subNavList=[{'name':'作家平台','icon':'<i class="fal fa-books"></i>','link':'writer_list.html','act':true},{'name':'故事地圖','icon':'<i class="fal fa-map-marked-alt"></i>','link':'writer_story_list.html'},{'name':'主題之旅','icon':'<i class="fal fa-map-signs"></i>','link':'theme_list.html'}]
				+subNav(subNavList)
		.page-writer-bread-area
			.main-cont
				//- -const writerBread={'links':[{'link':'','txt':''}],'act':'大事紀'}
				-const writerBread={'links':[],'act':'大事紀'}
				+writerBread(writerBread)
		.page-wrap.page-gray-wrap
			.main-cont
				.writer-track-tit
					h3 大事紀
				.writer-track-year-area
					.writer-track-year-cont
						-const trackYear1={'year':'1925','img':'w_story01.jpg','txt':'生於台南白金町。','note':'','tags':[]};
						+writerTrackYearBox(trackYear1,true)
						-const trackYear2={'year':'1932','img':'','txt':'就讀台南末廣公學校（今進學國小）。','note':'','tags':[]};
						+writerTrackYearBox(trackYear2,true)
						-const trackYear3={'year':'1938','img':'w_story02.jpg','txt':'就讀台南州立第二中學校（五年制）（今台南一中）。','note':'葉石濤中學時期。（葉松齡提供）','tags':[]};
						+writerTrackYearBox(trackYear3,true)
						-const trackYear4={'year':'1940','img':'','txt':'第一篇小說〈媽祖祭〉投稿至《台灣文學》（張文環主編），獲選佳作，但未刊登。','note':'','tags':['日文小說']};
						+writerTrackYearBox(trackYear4,true)
						-const trackYear5={'year':'1940','img':'','txt':'第二篇小說〈征臺譚〉投稿《文藝臺灣》（西川滿主編》，未獲刊登。','note':'','tags':['日文小說']};
						+writerTrackYearBox(trackYear5,true)
						-const trackYear6={'year':'1943','img':'w_story03.jpg','txt':'第三篇小說〈林君寄來的信》刊於《文藝臺灣》第5卷第6期。','note':'','tags':['日文小說']};
						+writerTrackYearBox(trackYear6,true)
						-const trackYear7={'year':'1943','img':'w_story04.jpg','txt':'受西川滿之邀，任「文藝台灣社」助理編輯。','note':'國立臺灣文學館館藏','tags':[]};
						+writerTrackYearBox(trackYear7,true)
						-const trackYear8={'year':'1943','img':'','txt':'小說〈春怨－－獻給吾師〉刊於《文藝台灣》第6卷第3期。','note':'','tags':['日文小說']};
						+writerTrackYearBox(trackYear8,true)
						-const trackYear9={'year':'1943','img':'','txt':'小說〈拂曉〉獲《台灣藝術》徵文比賽二等賞，刊於該刊2月號。','note':'','tags':['日文小說']};
						+writerTrackYearBox(trackYear9,true)
						-const trackYear10={'year':'1944','img':'','txt':'辭職。回台南任寶公學校（今立人國小）代課教員。','note':'','tags':['日文小說']};
						+writerTrackYearBox(trackYear10,true)
						-const trackYear11={'year':'1944','img':'','txt':'短篇小說〈美機敗走〉刊於《台灣文藝》第1卷第6號。','note':'','tags':['短篇小說']};
						+writerTrackYearBox(trackYear11,true)
						-const trackYear12={'year':'1945','img':'','txt':'2月入伍。8月退伍後回任寶公學校代課教員。','note':'','tags':[]};
						+writerTrackYearBox(trackYear12,true)
						-const trackYear13={'year':'1945','img':'','txt':'開始練習中文，嘗試中文創作','note':'','tags':[]};
						+writerTrackYearBox(trackYear13,true)
						-const trackYear14={'year':'1946','img':'','txt':'發表〈幻想〉、〈偷玻璃的人〉、〈江湖藝人〉、〈關於香菸〉、〈夢與謊言〉等作品於《中華日報》（龍瑛宗主編）日文版文藝欄。','note':'','tags':['日文小說']};
						+writerTrackYearBox(trackYear14,true)
						-const trackYear15={'year':'1946','img':'','txt':'長篇小說《熱蘭遮城陷落記》參加《中華日報》徵文比賽，未獲選，原稿散佚。','note':'','tags':['長篇小說']};
						+writerTrackYearBox(trackYear15,true)
				.writer-track-back
					a(href="writer_cont_v5.html") <i class="fas fa-chevron-left"></i> 返回作家
		//-內容
		include includes/footer
script.
	$(document).ready(function(){
		//- $('#imgzoomArea').hide();
		$(document).on('click','.imgZoom',(e)=>{
			const imgUrl=$(e.target).closest('.imgZoom').find('img').attr('src');
			console.log($(e.target));
			console.log(imgUrl);
			$('#zoomImg').attr('src',imgUrl);
			$('#imgzoomArea').fadeIn();
			//- $('#imgzoomArea').removeAttr('style');
			$('#imgzoomArea').css({'display':'flex'});
			bgFix();
		});
		$('#imgzoomArea').on('click',(e)=>{
			$('#imgzoomArea').fadeOut();
			$('#zoomImg').attr('src','');
			bgUnFix();
		});
		// 點擊圖片時阻止事件冒泡，避免觸發關閉操作
		$('#zoomImg').on('click', function(event) {
			event.stopPropagation();
		});
	});