include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'文學踏查 - 作家行跡','link':'writer_list.html'}],'actPage':'葉石濤大事記'}
				+breadBox(breadList)
				-const back={'name':'返回作家行跡','link':'writer_list.html'}
				+backPage(back)
				-const subNavList=[{'name':'作家行跡','icon':'<i class="fal fa-books"></i>'},{'name':'故事地圖','icon':'<i class="fal fa-map-marked-alt"></i>','link':'writer_story_list.html'},{'name':'主題之旅','icon':'<i class="fal fa-map-signs"></i>','link':'theme_list.html'},{'name':'城市解謎1','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'},{'name':'城市解謎2','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'}]
				+subNav(subNavList)
		.page-wrap.track-wrap
			.main-cont
				h2.map-area-tit <i class="fas fa-map-marker-alt"></i> 葉石濤大事記
				.map-tag-box
					.map-tag-btn#moreMapTagBtn <i class="fad fa-arrow-to-top"></i> <span>展開</span>
					.map-enevt-cont-box
						.map-enevt-cont#mapEventBox
							.map-event#eventTag1
								-const evenList=['1941發表','1941發表','1941發表','1941發表','1941發表'];
								each n in evenList
									.t-even #{n}
							.map-event#eventTag2
								-const evenList2=['1943發表','1942發表','1945發表'];
								each n in evenList2
									.t-even #{n}
					.map-all-tag#allMapTagBox
						-const tagList=['生平事蹟','作品文學','就學過程','葉石濤全集','散文'];
						each n in tagList
							.tag #{n}
				#MapArea.map-area-box(style="width: 100%;")
					
		//-內容
		include includes/footer

script(type="text/javascript" src="js/storymap/storymap.js")
//- script(type="text/javascript" src="js/storymap/VCO.StoryMap.js")

//- CORE
script(type="text/javascript" src="js/storymap/core/VCO.js")
script(type="text/javascript" src="js/storymap/core/VCO.Util.js")
script(type="text/javascript" src="js/storymap/data/VCO.Data.js")
script(type="text/javascript" src="js/storymap/core/VCO.Class.js")
script(type="text/javascript" src="js/storymap/core/VCO.Events.js")
script(type="text/javascript" src="js/storymap/core/VCO.Browser.js")
script(type="text/javascript" src="js/storymap/core/VCO.Load.js")

//- LANGUAGE
script(type="text/javascript" src="js/storymap/language/VCO.Language.js")

//- LIBRARY
script(type="text/javascript" src="js/storymap/library/VCO.Emoji.js")

//- ANIMATION
script(type="text/javascript" src="js/storymap/animation/VCO.Ease.js")
script(type="text/javascript" src="js/storymap/animation/VCO.Animate.js")

//- DOM
script(type="text/javascript" src="js/storymap/dom/VCO.Point.js")
script(type="text/javascript" src="js/storymap/dom/VCO.DomMixins.js")
script(type="text/javascript" src="js/storymap/dom/VCO.Dom.js")
script(type="text/javascript" src="js/storymap/dom/VCO.DomUtil.js")
script(type="text/javascript" src="js/storymap/dom/VCO.DomEvent.js")

//- UI
script(type="text/javascript" src="js/storymap/ui/VCO.Draggable.js")
script(type="text/javascript" src="js/storymap/ui/VCO.Swipable.js")
script(type="text/javascript" src="js/storymap/ui/VCO.MenuBar.js")
script(type="text/javascript" src="js/storymap/ui/VCO.Message.js")

//- MEDIA
script(type="text/javascript" src="js/storymap/media/VCO.MediaType.js")
script(type="text/javascript" src="js/storymap/media/VCO.Media.js")

//- MEDIA TYPES
script(type="text/javascript" src="js/storymap/media/types/VCO.Media.Blockquote.js")
script(type="text/javascript" src="js/storymap/media/types/VCO.Media.Flickr.js")
script(type="text/javascript" src="js/storymap/media/types/VCO.Media.Instagram.js")
script(type="text/javascript" src="js/storymap/media/types/VCO.Media.Profile.js")
script(type="text/javascript" src="js/storymap/media/types/VCO.Media.GoogleDoc.js")
script(type="text/javascript" src="js/storymap/media/types/VCO.Media.GooglePlus.js")
script(type="text/javascript" src="js/storymap/media/types/VCO.Media.IFrame.js")
script(type="text/javascript" src="js/storymap/media/types/VCO.Media.Image.js")
script(type="text/javascript" src="js/storymap/media/types/VCO.Media.SoundCloud.js")
script(type="text/javascript" src="js/storymap/media/types/VCO.Media.Storify.js")
script(type="text/javascript" src="js/storymap/media/types/VCO.Media.Text.js")
script(type="text/javascript" src="js/storymap/media/types/VCO.Media.Twitter.js")
script(type="text/javascript" src="js/storymap/media/types/VCO.Media.Vimeo.js")
script(type="text/javascript" src="js/storymap/media/types/VCO.Media.DailyMotion.js")
script(type="text/javascript" src="js/storymap/media/types/VCO.Media.Vine.js")
script(type="text/javascript" src="js/storymap/media/types/VCO.Media.Website.js")
script(type="text/javascript" src="js/storymap/media/types/VCO.Media.Wikipedia.js")
script(type="text/javascript" src="js/storymap/media/types/VCO.Media.YouTube.js")
script(type="text/javascript" src="js/storymap/media/types/VCO.Media.Slider.js")

//- STORYSLIDER
script(type="text/javascript" src="js/storymap/slider/VCO.Slide.js")
script(type="text/javascript" src="js/storymap/slider/VCO.SlideNav.js")
script(type="text/javascript" src="js/storymap/slider/VCO.StorySlider.js")

//- LEAFLET
//- LEAFLET SRC
//- Leaflet Core
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/Leaflet.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/core/Util.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/core/Class.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/core/Events.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/core/Browser.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geometry/Point.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geometry/Bounds.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geometry/Transformation.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/dom/DomUtil.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geo/LatLng.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geo/LatLngBounds.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geo/projection/Projection.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geo/projection/Projection.SphericalMercator.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geo/projection/Projection.LonLat.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geo/crs/CRS.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geo/crs/CRS.Simple.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geo/crs/CRS.EPSG3857.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geo/crs/CRS.EPSG4326.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/map/Map.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/dom/DomEvent.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/dom/Draggable.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/core/Handler.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/control/Control.js")

//- Additonal Projections EPSG:3395 projection (used by some map providers).
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geo/projection/Projection.Mercator.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geo/crs/CRS.EPSG3395.js")

//- TileLayerWMS WMS tile layer.
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/tile/TileLayer.js")

//- TileLayerCanvas Tile layer made from canvases (for custom drawing purposes)
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/tile/TileLayer.Canvas.js")

//- ImageOverlay Used to display an image over a particular rectangular area of the map.
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/ImageOverlay.js")

//- Marker Markers to put on the map.
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/marker/Icon.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/marker/Icon.Default.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/marker/Marker.js")

//- DivIcon Lightweight div-based icon for markers.
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/marker/DivIcon.js")

//- Popup Used to display the map popup (used mostly for binding HTML data to markers and paths on click).
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/Popup.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/marker/Marker.Popup.js")

//- LayerGroup Allows grouping several layers to handle them as one.
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/LayerGroup.js")

//- FeatureGroup Extends LayerGroup with mouse events and bindPopup method shared between layers.
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/FeatureGroup.js")

//- Path Vector rendering core (SVG-powered), enables overlaying the map with SVG paths.
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/Path.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/Path.SVG.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/Path.Popup.js")

//- PathVML VML fallback for vector rendering core (IE 6-8)
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/Path.VML.js")

//- Path Canvas fallback for vector rendering core (makes it work on Android 2+)
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/canvas/Path.Canvas.js")

//- Polyline Polyline overlays.
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geometry/LineUtil.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/Polyline.js")

//- Polygon Polygon overlays
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/geometry/PolyUtil.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/Polygon.js")

//- MultiPoly MultiPolygon and MultyPolyline layers.
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/MultiPoly.js")

//- Rectangle
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/Rectangle.js")

//- Circle
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/Circle.js")

//- CircleMarker
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/CircleMarker.js")

//- VectorsCanvas Canvas fallback for vector layers (polygons, polylines, circles, circlemarkers)
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/canvas/Polyline.Canvas.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/canvas/Polygon.Canvas.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/canvas/Circle.Canvas.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/vector/canvas/CircleMarker.Canvas.js")

//- GeoJSON GeoJSON layer, parses the data and adds corresponding layers above.
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/GeoJSON.js")

//- MapDrag Makes the map draggable (by mouse or touch).
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/map/handler/Map.Drag.js")

//- MouseZoom Scroll wheel zoom and double click zoom on the map.
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/map/handler/Map.DoubleClickZoom.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/map/handler/Map.ScrollWheelZoom.js")

//- TouchZoom Enables smooth touch zoom / tap / longhold / doubletap on iOS, IE10, Android
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/dom/DomEvent.DoubleTap.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/dom/DomEvent.Pointer.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/map/handler/Map.TouchZoom.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/map/handler/Map.Tap.js")

//- BoxZoom Enables zooming to bounding box by shift-dragging the map.
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/map/handler/Map.BoxZoom.js")

//- Keyboard Enables keyboard pan/zoom when the map is focused.
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/map/handler/Map.Keyboard.js")

//- ControlZoom Basic zoom control with two buttons (zoom in / zoom out).
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/control/Control.Zoom.js")

//- ControlAttrib Attribution control.
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/control/Control.Attribution.js")

//- ControlScale Scale control.
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/control/Control.Scale.js")

//- ControlLayers Layer Switcher control.
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/control/Control.Layers.js")

//- AnimationPan Core panning animation support.
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/dom/PosAnimation.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/map/anim/Map.PanAnimation.js")

//- AnimationTimer Timer-based pan animation fallback for browsers that don\'t support CSS3 transitions.
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/dom/PosAnimation.Timer.js")

//- AnimationZoom Smooth zooming animation. Works only on browsers that support CSS3 Transitions.
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/map/anim/Map.ZoomAnimation.js")
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/layer/tile/TileLayer.Anim.js")

//- Geolocation Adds Map#locate method and related events to make geolocation easier.'
script(type="text/javascript" src="js/storymap/map/leaflet/leaflet-src/map/ext/Map.Geolocation.js")

//- LEAFLET EXTENTIONS
script(type="text/javascript" src="js/storymap/map/leaflet/extentions/VCO.Leaflet.TileLayer.Zoomify.js")
script(type="text/javascript" src="js/storymap/map/leaflet/extentions/VCO.Leaflet.MiniMap.js")

//- TILES
//- "map/tile/VCO.TileLayer.Mapbox.js"; NOT READY YET
script(type="text/javascript" src="js/storymap/map/tile/VCO.TileLayer.Stamen.js")

//- MAP
script(type="text/javascript" src="js/storymap/map/VCO.MapMarker.js")
script(type="text/javascript" src="js/storymap/map/VCO.Map.js")

//- LEAFLET IMPLIMENTATION
script(type="text/javascript" src="js/storymap/map/leaflet/VCO.MapMarker.Leaflet.js")
script(type="text/javascript" src="js/storymap/map/leaflet/VCO.Map.Leaflet.js")

script(type="text/javascript" src="js/storymap/VCO.StoryMap.js")

//- 地圖資料 js
script(type="text/javascript" src="js/story_cont.js")

//- script.
//- 	$(document).ready(function(){
//- 		var mapSwiper = new Swiper('#mapSwiper', {
//- 			//- speed: 400,
//- 			//- spaceBetween: 100
//- 			//- autoHeight: true,
//- 			navigation: {
//- 				nextEl: '#mapN',
//- 				prevEl: '#mapP',
//- 			},
//- 		});
//- 		//- 標籤開合
//- 		var $moreMapTagBtn=$('#moreMapTagBtn');
//- 		var $MapTagBox=$('#allMapTagBox');
//- 		$moreMapTagBtn.on('click',function(){
//- 			var tagOpen=$MapTagBox.hasClass('open');
//- 			// fa-arrow-to-top
//- 			if(tagOpen){
//- 				$MapTagBox.removeClass('open');
//- 				$moreMapTagBtn.find('i').removeClass('fa-arrow-to-bottom');
//- 				$moreMapTagBtn.find('i').addClass('fa-arrow-to-top');
//- 				$moreMapTagBtn.find('span').html('展開');
//- 			}else{
//- 				$MapTagBox.addClass('open');
//- 				$moreMapTagBtn.find('i').addClass('fa-arrow-to-bottom');
//- 				$moreMapTagBtn.find('i').removeClass('fa-arrow-to-top');
//- 				$moreMapTagBtn.find('span').html('收合');
//- 			}
//- 		});
//- 		//標籤打開事件
//- 		$('#allMapTagBox').find('.tag').each(function(ind,item){
//- 			$(this).on('click',function(){
//- 				var indEvent=ind+1;
//- 				var $eventTagBox=$('#eventTag'+indEvent);
//- 				var eventTagBoxShow=$eventTagBox.is(':visible');
//- 				if(eventTagBoxShow){
//- 					$('.tag').removeClass('act');
//- 					$('.map-event').hide();
//- 					$('#mapEventBox').hide();
//- 				}else{
//- 					//標籤ACT
//- 					$('.tag').removeClass('act');
//- 					$(this).addClass('act');
//- 					//事件開起(不一定都有事件??如果沒有要關起來)
//- 					if($eventTagBox.length){
//- 						$('.map-event').hide();
//- 						$('#mapEventBox').show();
//- 						$eventTagBox.show();
//- 					}else{
//- 						$('.map-event').hide();
//- 						$('#mapEventBox').hide();
//- 					}
//- 				}
//- 			});
//- 		});
//- 		//地圖goto
//- 		$(document).on('click','#mapGo',function(){
//- 			storymap.goTo(1);
//- 		});
//- 		//地圖事件
//- 		var storymap_data ={
//- 			storymap: {
//- 				slides:[
//- 					{
//- 						type: "overview",//第一則導覽才需要加
//- 						date: "1790-2010",
//- 						background:{//可以單獨加背景
//- 							color: "#005C9A",
//- 						},
//- 						text: {
//- 							headline: "葉石濤的一生",
//- 							text: "<p>文學創作超過60年，出版書籍超過100本。已出版作品有百餘種，橫跨日治時代及戰後兩個世代。</p><div id='mapGo' class='map-go-btn'>葉石濤大事記<div>"
//- 						},
//- 						media: {
//- 							url: "img/writer01.jpg",
//- 							credit: "資料來源：國立臺灣文學館館藏",
//- 							//- caption: "Mean US_Mean_Center_of_Population_1790-2010"
//- 						}
//- 					},
//- 					{// required; array of slide objects (see below)
//- 						//=== 官網增加 ===
//- 						background:{//可以單獨加背景
//- 							color: "#005C9A",
//- 							//- opacity: 0.8,
//- 							//- url:''
//- 						},
//- 						data:'',
//- 						//=== 官網增加 END===
//- 						location: {// required for all slides except "overview" slide
//- 							//=== 官網增加 ===
//- 							//- custom_icon: true,
//- 							//- icon:"/Demo/Content/images/Storymap/residencelamontagne-hi.png",
//- 							//- icon: "http://maps.gstatic.com/intl/en_us/mapfiles/ms/micons/blue-pushpin.png",
//- 							icon: "img/icon_map.png",
//- 							acticon: "img/icon_map_act.png",
//- 							iconSize: [35,35],
//- 							zoom: 17,
//- 							lat: 25.033493,// latitude of point on map
//- 							lon: 121.564101,// longitude of point on map
//- 							line: true
//- 						},
//- 						text: {// optional if media present
//- 							date: "2020/12/12",
//- 							headline: "1925年出生",//string
//- 							text: '<p>生於台南白金町。</p>', //string may contain HTML markup
//- 							maptxt: '生於台南白金町。',
//- 							id: 1073,
//- 						},
//- 						media: {// optional if text present
//- 							url: "img/w_story01.jpg",// url for featured media
//- 							//- caption: "看我ㄓㄜ這 我是哪裡？",// string optional; brief explanation of media content
//- 							credit: "資料來源：葉松齡提供",// optional; creator of media content
//- 						}
//- 					},
//- 					{// required; array of slide objects (see below)
//- 						background:{//可以單獨加背景
//- 							color: "#005C9A",
//- 							//- opacity: 0.8,
//- 							//- url:''
//- 						},
//- 						location: {// required for all slides except "overview" slide
//- 							//=== 官網增加 ===
//- 							//- icon:"/Demo/Content/images/Storymap/residencelamontagne-hi.png",
//- 							//- name: "?????????",
//- 							icon: "img/icon_map.png",
//- 							acticon: "img/icon_map_act.png",
//- 							iconSize: [35,35],
//- 							zoom: 17,
//- 							//=== 官網增加 END===
//- 							lat: 25.033493,// latitude of point on map
//- 							lon: 121.570101, // longitude of point on map
//- 							line: true
//- 						},
//- 						text: {// optional if media present
//- 							headline: "1925年出生",//string
//- 							text: '<p>吳濁流著，原名《胡志明》，以日文書寫。<br />「胡志明」原本是主角的名稱，後來因為越南戰後的革命領袖也叫胡志明，為避免被誤會，主角改為胡太明，書名改為《亞細亞的孤兒》。</p><div class="his-timeline-tag-box"><a href="###">#臺灣文學</a><a href="###">#文化</a><a href="###">#臺灣</a></div>', //string may contain HTML markup
//- 							maptxt: '備註備註備註備註備註',
//- 							id: 1073,
//- 						},
//- 						media: {// optional if text present
//- 							url: "img/his05.jpg",// url for featured media
//- 							//- caption: "看我ㄓㄜ這 我是哪裡？",// string optional; brief explanation of media content
//- 							credit: "資料來源：國立臺灣文學館館藏",// optional; creator of media content
//- 						}
//- 					},
//- 					{// required; array of slide objects (see below)
//- 						//=== 官網增加 ===
//- 						background:{//可以單獨加背景
//- 							color: "#005C9A",
//- 							opacity: 0.8,
//- 							url:''
//- 						},
//- 						location: {// required for all slides except "overview" slide
//- 							icon:"img/icon_map.png",
//- 							acticon: "img/icon_map_act.png",
//- 							iconSize:[35,35],
//- 							zoom: 17,
//- 							//=== 官網增加 END===
//- 							lat: 22.692992,// latitude of point on map
//- 							lon: 121.018111, // longitude of point on map
//- 							line: true
//- 						},
//- 						text: {// optional if media present
//- 							headline: "知本洗溫泉",//string
//- 							text: '<p>吳濁流著，原名《胡志明》，以日文書寫。<br />「胡志明」原本是主角的名稱，後來因為越南戰後的革命領袖也叫胡志明，為避免被誤會，主角改為胡太明，書名改為《亞細亞的孤兒》。</p><div class="his-timeline-tag-box"><a href="###">#臺灣文學</a><a href="###">#文化</a><a href="###">#臺灣</a></div>', //string may contain HTML markup
//- 							maptxt: '吳濁流著，原名《胡志明》，以日文書寫。<br />「胡志明」原本是主角的名稱，後來因為越南戰後的革命領袖也叫胡志明，為避免被誤會，主角改為胡太明，書名改為《亞細亞的孤兒》。',
//- 						},
//- 						media: {// optional if text present
//- 							url: "img/his05.jpg",// url for featured media
//- 							//- caption: "看我ㄓㄜ這 我是哪裡？",// string optional; brief explanation of media content
//- 							credit: "資料來源：國立臺灣文學館館藏",// optional; creator of media content
//- 						}
//- 					}
//- 				]
//- 			}
//- 		}
//- 		var storymap_options = {
//- 			map_type: "osm:standard",// required
//- 			language: "zh-tw",
//- 			map_as_image: false,// required
//- 			map_subdomains: "",// optional
//- 			use_custom_markers: true,//是否使用自定義圖片 如果使用 VCO.MapMarker.Leaflet.js 可以詳細設定
//- 			map_popup: true,//開啟地圖 popup
//- 			//開啟地圖 popup 請至 VCO.MapMarker.Leaflet.js 裡面加入使用
//- 			calculate_zoom: false//預設會是true 會自動幫忙縮放 詳細解釋下面：
//- 			//calculate_zoom是可選的。StoryMapJS將為您的每張幻燈片計算最佳縮放級別，以使上一個和下一個地圖點均可見。
//- 			//如果要控制每個幻燈片的縮放級別，請將calculate_zoom選項設置為false，然後確保zoom為每個幻燈片設置屬性。
//- 			// zoom 設定在每個資料中的 location 裡
//- 			//- "line_color": "#005C9A", //"#DA0000" OK
//- 		};

//- 		var storymap = new VCO.StoryMap('MapArea', storymap_data, storymap_options);

//- 		window.onresize = function(event) {
//- 			storymap.updateDisplay(); // this isn't automatic
//- 		}

//- 		var _depId = getLinkVal('id');//_depId == 123
//- 	});
//- 	//取得網址參數
//- 	function getLinkVal(name) {
//- 		var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
//- 		var r = window.location.search.substr(1).match(reg);
//- 		if (r != null) return decodeURI(r[2]); return null;
//- 	}
