include includes/mixin
<!DOCTYPE html>
html(class="js csstransforms csstransforms3d")
	//- include includes/header
	head
		meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		//- 設定給手機device用
		meta(name="viewport", content="width=device-width,initial-scale=1.0, user-scalable=no")
		meta(name="title" content="臺灣文學虛擬博物館")
		meta(name="description" content="科技、人文、友善體驗")
		meta(name="Copyright" content="© 2024")
		//- FB分享設定
		meta(property="og:title" content="臺灣文學虛擬博物館")
		meta(property="og:site_name" content="科技、人文、友善體驗")
		meta(property="og:url" content="自定義分享連結的網址")
		meta(property="og:description" content="科技、人文、友善體驗")
		meta(property="og:image" content="呈現的圖片至少要1200x630")
		meta(property="og:type" content="website")
		//- https://developers.facebook.com/tools/debug (Facebook測試的og屬性的地方)
		title 臺灣文學虛擬博物館
		//- 頁籤icon
		link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
		//- JS
		//- script(src="js/jquery-1.11.0.min.js")
		//- script(src="js/jquery-3.1.1.min.js")
		//- 驗證
		//- script(src="js/jquery.validate.min.js")
		//- script(src="js/additional-methods.min.js")
		//- script(src="js/messages_zh_TW.js")
		//- 輪播swiper
		//- script(src="js/swiper.min.js")
		//- 自定義滾輪
		//- script(src="js/jquery.mCustomScrollbar.concat.min.js")
		//- 日期選擇器
		//- script(src="js/datepicker.min.js")
		//- script(src="js/i18n/datepicker.en.js")
		//- script(src="js/i18n/datepicker.zh.js")
		//- 共用ＪＳ
		//- script(src="js/common.js")

		//-時間軸
		//- script(type="text/javascript" src="js/timeline/timeline-min.js")
		//- link(rel="stylesheet" href="css/timeline/timeline.css")

		//- CSS
		//- FONT文字
		link(rel="stylesheet", href="css/all.min.css")
		//- 漢堡CSS https://jonsuh.com/hamburgers/
		//- link(rel="stylesheet", href="css/hamburgers.min.css")
		//- 滾輪自定義
		//- link(rel="stylesheet", href="css/jquery.mCustomScrollbar.min.css")
		//- swiper
		//- link(rel="stylesheet", href="css/swiper.min.css")
		//- 日期選取器
		//- link(rel="stylesheet", href="css/datepicker.min.css")

		//- 地圖css
		//- link(rel="stylesheet" href="css/storymap/storymap.css")

		link(rel="stylesheet", href="css/sty.css?v2")
	body
		h1.ht 臺灣文學虛擬博物館
		section.book-area
			.book-loading#bookLoding
				span Loading...
			a(href="writer_book_online_list.html").book-home <i class="fas fa-books"></i> 返回列表
			<div id="canvas" style="display: none;">
				.zoom-btn#zoomBtn <i class="fas fa-expand-alt"></i> 放大
				//- <div class="zoom-icon zoom-icon-in"></div>

				<div class="magazine-viewport">
					<div class="container">
						<div class="magazine" id="magazine">
							//- Next button
							<div ignore="1" id="nextBtn" class="next-button book-btn">
								<i class="fas fa-caret-right"></i>
							</div>
							//- Previous button
							<div ignore="1" id="preBtn" class="previous-button book-btn">
								<i class="fas fa-caret-left"></i>
							</div>
							//- <div id="fristImg">
							//- 	<div class="gradient"></div>
							//- 	<img src="img/1.jpg">
							//- </div>
							//- <div>
							//- 	<div class="gradient"></div>
							//- 	<img src="img/2.jpg">
							//- </div>
							//- <div>
							//- 	<div class="gradient"></div>
							//- 	<img src="img/3.jpg">
							//- </div>
							//- <div>
							//- 	<div class="gradient"></div>
							//- 	<img src="img/4.jpg">
							//- </div>
							//- <div>
							//- 	<div class="gradient"></div>
							//- 	<img src="img/5.jpg">
							//- </div>
							//- <div>
							//- 	<div class="gradient"></div>
							//- 	<img src="img/6.jpg">
							//- </div>
							//- <div>
							//- 	<div class="gradient"></div>
							//- 	<img src="img/7.jpg">
							//- </div>
							//- <div>
							//- 	<div class="gradient"></div>
							//- 	<img src="img/8.jpg">
							//- </div>
						</div>
					</div>
				</div>
				<div id="testBox"></div>

				//- Thumbnails
				//- <div class="thumbnails" style="height: 115.117px; display: block;">
				//- 	<div style="margin-top: 7.55859px;">
				<div class="thumbnails">
					<div>
						<ul id="thumbnailsBox">
							//- <li class="current">
							//- 	<img src="img/1.jpg" width="38" height="50" class="page-1">
							//- 	//- <span>1</span>
							//- </li>
							//- <li>
							//- 	<img src="img/2.jpg" width="38" height="50" class="page-2">
							//- 	<img src="img/3.jpg" width="38" height="50" class="page-3">
							//- 	//- <span>2-3</span>
							//- </li>
							//- <li>
							//- 	<img src="img/4.jpg" width="38" height="50" class="page-4">
							//- 	<img src="img/5.jpg" width="38" height="50" class="page-5">
							//- </li>
							//- <li>
							//- 	<img src="img/6.jpg" width="38" height="50" class="page-6">
							//- 	<img src="img/7.jpg" width="38" height="50" class="page-7">
							//- </li>
							//- <li>
							//- 	<img src="img/8.jpg" width="38" height="50" class="page-8">
							//- </li>
						</ul>
					</div>
				</div>
			</div>

script(src="js/book/jquery.min.1.7.js")
link(href="js/book/magazine.css" rel="stylesheet" type="text/css")
//- 好像不需要font-awesome.min.css
link(rel="stylesheet" href="js/book/font-awesome.min.css")
//- turn.js 和 zoom.min.js 順序必須要在jquery.min.1.7.js之下
script(src="js/book/turn.js")
script(src="js/book/zoom.min.js")
script(src="js/book/magazinePdf.js")
script(src="js/book/hash.js")
//- 翻書本功能
script.
	//= pdf檔案位置 =
	const pdfUrl = 'js/book/test.pdf';
script(src="js/book/turnBookPdf.js")
//- pdf轉img主要功能 需要 pdf.min.js 和 pdf.worker.min.js
//- (只有 pdf.min.js 時會報錯說找不到 pdf.worker.min.js) 在 cdn 直接搜尋時有收尋到，一起載下來
script(src="js/book/pdf.min.js")
//- script.
	//- $(document).ready(function() {
	//- 	const pdfUrl = 'js/book/test.pdf';
	//- 	convertPdfToImage(pdfUrl);
	//- });
	// 定義函數，將pdf轉成圖片
	//- let imgList=[];
	//- async function convertPdfToImage(pdfUrl) {
	//- 	const pdf = await pdfjsLib.getDocument(pdfUrl).promise;
	//- 	const canvas = document.createElement('canvas');
	//- 	const context = canvas.getContext('2d');
		
	//- 	// 循環遍歷每一頁pdf，轉成圖片
	//- 	for (let i = 1; i <= pdf._pdfInfo.numPages; i++) {
	//- 		// 獲取pdf頁
	//- 		const page = await pdf.getPage(i);

	//- 		// 獲取頁面的尺寸(scale大一點的話，會比較清楚)
	//- 		const viewport = page.getViewport({ scale: 1 });

	//- 		// 設置canvas的尺寸
	//- 		canvas.width = viewport.width;
	//- 		canvas.height = viewport.height;

	//- 		// 將pdf頁渲染到canvas上
	//- 		await page.render({ canvasContext: context, viewport: viewport }).promise;

	//- 		// 將canvas轉成圖片，並添加到頁面上
	//- 		const img = document.createElement('img');
	//- 		img.src = canvas.toDataURL('image/png');
	//- 		//- const box = document.getElementByClass ("magazine");
	//- 		//- document.body.appendChild(img);
	//- 		//- console.log(img.src);
	//- 		const imgSrc = canvas.toDataURL('image/png');
	//- 		imgList.push(imgSrc);
	//- 		//- console.log(imgList);

			
	//- 		const box = document.getElementById("magazine");
	//- 		//- console.log(i);
	//- 		//- const imgItem=`<div><div class="gradient"></div>`+img.outerHTML+`</div>`;
	//- 		let imgItem;
	//- 		if(i == 1){
	//- 			imgItem=`<div id="fristImg"><div class="gradient"></div>`+img.outerHTML+`</div>`;
	//- 		}else{
	//- 			imgItem=`<div><div class="gradient"></div>`+img.outerHTML+`</div>`;
	//- 		}
	//- 		$('#magazine').append(imgItem);
	//- 		//- box.appendChild(imgItem);
	//- 	}
	//- 	//=== 放入li頁碼點選 ===
	//- 	// 你的動態陣列
	//- 	//- const array = [1, 2, 3, 4, 5, 6]; // 這個是示範，實際應根據情況變化
		
	//- 	// 獲取要插入的父容器
	//- 	const box = $('#thumbnailsBox');
		
	//- 	let index = 0;
	//- 	let groupSize = 1; // 初始分組大小
	//- 	while (index < imgList.length) {
	//- 		// 創建外層div
	//- 		const li = $('<li></li>');
	//- 		//- console.log('===',index);
	//- 		// 將當前分組的元素插入div
	//- 		for (let i = 0; i < groupSize && index < imgList.length; i++) {
	//- 			//- const span = $('<span></span>').text(array[index]);
	//- 			//= 因為頁碼由 1 開始讀取，所以 class 要改為 index+1 =
	//- 			const imgDom=`<img src="`+imgList[index]+`" width="38" height="50" class="page-`+(index+1)+`">`;
	//- 			li.append(imgDom);
	//- 			index++;
	//- 		}

	//- 		// 將生成的li附加到box中
	//- 		box.append(li);
			
	//- 		// 更新下一組的大小為2
	//- 		groupSize = 2;
	//- 	}
	//- }

//- script.
	//- $(document).ready(function() {
	//- 	loadApp();
	//- 	//- yepnope({
	//- 	//- 	test: Modernizr.csstransforms,
	//- 	//- 	yep: ['js/book/turn.js'],
	//- 	//- 	nope: ['js/book/turn.html4.min.js'],
	//- 	//- 	both: ['js/book/zoom.min.js', 'js/book/magazine.js', 'js/book/magazine.css'],
	//- 	//- 	complete: loadApp
	//- 	//- });
	//- 	//=== 鍵盤翻頁和放大關閉 ===
	//- 	// Using arrow keys to turn the page
	//- 	$(document).keydown(function (e) {

	//- 		var previous = 37, next = 39, esc = 27;

	//- 		switch (e.keyCode) {
	//- 			case previous:

	//- 				// left arrow
	//- 				$('.magazine').turn('previous');
	//- 				e.preventDefault();

	//- 				break;
	//- 			case next:

	//- 				//right arrow
	//- 				$('.magazine').turn('next');
	//- 				e.preventDefault();

	//- 				break;
	//- 			case esc:

	//- 				$('.magazine-viewport').zoom('zoomOut');
	//- 				e.preventDefault();

	//- 				break;
	//- 		}
	//- 	});
		
	//- 	//=== 網址頁數 ===
	//- 	// URIs - Format #/page/1 
	//- 	Hash.on('^page\/([0-9]*)$', {
	//- 		yep: function (path, parts) {
	//- 			var page = parts[1];

	//- 			if (page !== undefined) {
	//- 				if ($('.magazine').turn('is'))
	//- 					$('.magazine').turn('page', page);
	//- 			}

	//- 		},
	//- 		nop: function (path) {

	//- 			if ($('.magazine').turn('is'))
	//- 				$('.magazine').turn('page', 1);
	//- 		}
	//- 	});

	//- 	//=== 小圖頁碼 ===
	//- 	// Events for thumbnails
	//- 	$('.thumbnails').click(function (event) {

	//- 		var page;

	//- 		if (event.target && (page = /page-([0-9]+)/.exec($(event.target).attr('class')))) {

	//- 			$('.magazine').turn('page', page[1]);
	//- 		}
	//- 	});

	//- 	$('.thumbnails li').
	//- 		bind($.mouseEvents.over, function () {

	//- 			$(this).addClass('thumb-hover');

	//- 		}).bind($.mouseEvents.out, function () {

	//- 			$(this).removeClass('thumb-hover');

	//- 		});

	//- 	if ($.isTouch) {

	//- 		$('.thumbnails').
	//- 		addClass('thumbanils-touch').
	//- 		bind($.mouseEvents.move, function (event) {
	//- 			event.preventDefault();
	//- 		});

	//- 	} else {

	//- 		$('.thumbnails ul').mouseover(function () {

	//- 			$('.thumbnails').addClass('thumbnails-hover');

	//- 		}).mousedown(function () {

	//- 			return false;

	//- 		}).mouseout(function () {

	//- 			$('.thumbnails').removeClass('thumbnails-hover');

	//- 		});

	//- 	}

	//- 	// Regions
	//- 	if ($.isTouch) {
	//- 		$('.magazine').bind('touchstart', regionClick);
	//- 	} else {
	//- 		$('.magazine').click(regionClick);
	//- 	}

	//- 	// Events for the next button(下一頁按鈕)
	//- 	$('#nextBtn').on('click',(e)=>{
	//- 		$('.magazine').turn('next');
	//- 	});

	//- 	// Events for the next button(上一頁按鈕)
	//- 	$('#preBtn').on('click',(e)=>{
	//- 		$('.magazine').turn('previous');
	//- 	});
		
	//- 	//=== 放大縮小 ===
	//- 	// Zoom icon
	//- 	let zoomSwitch = true;
	//- 	$('#zoomBtn').on('click',(e)=>{
	//- 		if(zoomSwitch){
	//- 			$('.magazine-viewport').zoom('zoomIn');
	//- 			zoomSwitch = false;
	//- 		}else{
	//- 			$('.magazine-viewport').zoom('zoomOut');
	//- 			zoomSwitch = true;
	//- 		}
	//- 	});

	//- 	//- $('#canvas').hide();
	//- });
	//- //=== resize ===
	//- $(window).resize(function () {
	//- 	resizeViewport();
	//- }).bind('orientationchange', function () {
	//- 	resizeViewport();
	//- });
	//- //=== 主要功能 ===
	//- function loadApp() {
	//- 	//-   window.page_image_path = 'https://literature.sds.com.tw/storage/ReadingTranslation/pages/487/%page'
	//- 	window.page_image_path="img/";

	//- 	$('#canvas').fadeIn(1000);

	//- 	const imgW = $('#fristImg').find('img').width();
	//- 	const imgH = $('#fristImg').find('img').height();
	//- 	//- console.log(imgW, imgH);
	//- 	var flipbook = $('.magazine');

	//- 	// Check if the CSS was already loaded

	//- 	if (flipbook.width() == 0 || flipbook.height() == 0) {
	//- 		setTimeout(loadApp, 10);
	//- 		return;
	//- 	}

	//- 	// Create the flipbook

	//- 	flipbook.turn({
	//- 		direction: "ltr",

	//- 		// Magazine width

	//- 		width: imgW * 2,//2400,

	//- 		// Magazine height

	//- 		height: imgH,//1695,

	//- 		// Duration in millisecond

	//- 		duration: 1000,

	//- 		// Hardware acceleration

	//- 		acceleration: !isChrome(),

	//- 		// Enables gradients

	//- 		gradients: true,

	//- 		// Auto center this flipbook

	//- 		autoCenter: true,

	//- 		// Elevation from the edge of the flipbook when turning a page

	//- 		elevation: 50,

	//- 		// The number of pages

	//- 		// pages: 6,//頁數本來在這，在 missing 功能，利用頁數去讀圖片

	//- 		// Events

	//- 		when: {
	//- 			turning: function (event, page, view) {

	//- 				var book = $(this),
	//- 				currentPage = book.turn('page'),
	//- 				pages = book.turn('pages');

	//- 				// Update the current URI

	//- 				Hash.go('page/' + page).update();

	//- 				// Show and hide navigation buttons

	//- 				disableControls(page);


	//- 				$('.thumbnails .page-' + currentPage).
	//- 				parent().
	//- 				removeClass('current');

	//- 				$('.thumbnails .page-' + page).
	//- 				parent().
	//- 				addClass('current');
	//- 			},

	//- 			turned: function (event, page, view) {

	//- 				disableControls(page);

	//- 				$(this).turn('center');

	//- 				if (page == 1) {
	//- 					$(this).turn('peel', 'br');
	//- 				}

	//- 			},

	//- 			missing: function (event, pages) {

	//- 				// Add pages that aren't in the magazine
	//- 				//不需要動態加入，直接放在dom上
	//- 				// for (var i = 0; i < pages.length; i++)
	//- 				//   addPage(pages[i], $(this));

	//- 			}
	//- 		}

	//- 	});

	//- 	// Zoom.js
	//- 	$('.magazine-viewport').zoom({
	//- 		flipbook: $('.magazine'),

	//- 		max: function () {

	//- 			return largeMagazineWidth() / $('.magazine').width();

	//- 		},

	//- 		when: {

	//- 			swipeLeft: function () {

	//- 				$(this).zoom('flipbook').turn('next');

	//- 			},

	//- 			swipeRight: function () {

	//- 				$(this).zoom('flipbook').turn('previous');

	//- 			},

	//- 			resize: function (event, scale, page, pageElement) {

	//- 				if (scale == 1)
	//- 					loadSmallPage(page, pageElement);
	//- 				else
	//- 					loadLargePage(page, pageElement);

	//- 			},

	//- 			zoomIn: function () {

	//- 				$('.thumbnails').hide();
	//- 				$('.made').hide();
	//- 				$('.magazine').removeClass('animated').addClass('zoom-in');
	//- 				//- $('.zoom-icon').removeClass('zoom-icon-in').addClass('zoom-icon-out');
	//- 				$('#zoomBtn').html('<i class="fas fa-compress-alt"></i> 縮小');

	//- 				if (!window.escTip && !$.isTouch) {
	//- 					escTip = true;

	//- 					$('<div />', { 'class': 'exit-message' }).
	//- 						html('<div>點擊 ESC 離開</div>').
	//- 						appendTo($('body')).
	//- 						delay(2000).
	//- 						animate({ opacity: 0 }, 500, function () {
	//- 							$(this).remove();
	//- 						});
	//- 				}
	//- 			},

	//- 			zoomOut: function () {

	//- 				$('.exit-message').hide();
	//- 				$('.thumbnails').fadeIn();
	//- 				$('.made').fadeIn();
	//- 				//- $('.zoom-icon').removeClass('zoom-icon-out').addClass('zoom-icon-in');
	//- 				$('#zoomBtn').html('<i class="fas fa-expand-alt"></i> 放大');

	//- 				setTimeout(function () {
	//- 					$('.magazine').addClass('animated').removeClass('zoom-in');
	//- 					resizeViewport();
	//- 				}, 0);

	//- 			}
	//- 		}
	//- 	});

	//- 	// Zoom event(本藏)

	//- 	// if ($.isTouch)
	//- 	//   $('.magazine-viewport').bind('zoom.doubleTap', zoomTo);
	//- 	// else
	//- 	//   $('.magazine-viewport').bind('zoom.tap', zoomTo);


	//- 	resizeViewport();

	//- 	$('.magazine').addClass('animated');
	//- }