include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'actPage':'文學踏查 - 作家平台'}
				+breadBox(breadList)
				-const subNavList=[{'name':'作家平台','icon':'<i class="fal fa-books"></i>','link':'writer_list.html','act':true},{'name':'故事地圖','icon':'<i class="fal fa-map-marked-alt"></i>','link':'writer_story_list.html'},{'name':'主題之旅','icon':'<i class="fal fa-map-signs"></i>','link':'theme_list.html'},{'name':'城市解謎1','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'},{'name':'城市解謎2','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'}]
				+subNav(subNavList)
		.page-wrap
			.main-cont
				// --- v5 add ---
				.writer-src-area
					.writer-src-box
						.tit 搜尋作家
						select.writer-sel#writerSel(name="writerSel")
							option(value="") 全部作家
							option(value="") 葉石濤
							option(value="") 李潼
						.text-src
							input(type="text" placeholder="請輸入關鍵字")
							.icon-src-btn
								img(src="img/icon_src.svg", alt="")
					a(href="###" target="_blank").mg-btn
						img(src="img/icon_earth.svg", alt="")
						span 地理資訊平台
				// --- v5 add end ---
				.page-group
					.page-cont
						.writer-list
							- const writerImg01={"background": "url(img/writer01.jpg) no-repeat center center/cover"}
							- const writerInfo01={'isColl': true,'img':writerImg01,'tit':'葉石濤大事記','txt':'葉石濤，出身台灣台南市白金町。台灣當代文學作家，創作以小說與評論為主，散文及翻譯為輔。葉石濤橫跨日治與戰後兩個世代，小學前曾接受兩年漢文私塾教育，畢業於臺南州立第二中學校，歷任日本作家西川滿主持之《文藝台灣》的助理編輯。'}
							+writerBox(writerInfo01)
							- const writerImg02={"background": "url(img/writer02.jpg) no-repeat center center/cover"}
							- const writerInfo02={'isColl': true,'img':writerImg02,'tit':'李潼大事記','txt':'李潼，本名賴西安，台灣已故知名兒童文學作家及作詞人。生於花蓮，定居宜蘭縣羅東鎮。空中行政專科學校畢業。1978年開始寫作，文體類別包含兒童文學、散文、小說、新詩、歌詞等，另外還有相關劇本、文學評論和報導文學的創作，不過最知名的還是兒童文學、少年小說的作品。','isRight':true}
							+writerBox(writerInfo02)
							- const writerImg03={"background": "url(img/writer03.jpg) no-repeat center center/cover"}
							- const writerInfo03={'isColl': true,'img':writerImg03,'tit':'鍾肇政足跡地圖','txt':'鍾肇政，台灣小說作家，為台灣客家人，生於日治時期臺灣新竹州大溪郡龍潭庄字九座寮。在台尊稱其為台灣文學之母，與賴和相互輝映。 鍾肇政曾任國民小學教...'}
							+writerBox(writerInfo03)
					.page-side
						.side-tag-box.side-fixed
							.creat-article-tag-tit
								div 代表標籤
								.creat-article-tag-more#moreTagBtn 顯示全部標籤
									i(class="far fa-angle-down")
							.creat-article-tag.gin-tag-box
								.article-all-tag#articleAllTagBox
									#articleAllInnerTagBox
										-const tagList=['大事記','政治','聯合文學','電影','白色恐怖','原住民','現代','政治','聯合文學','電影','白色恐怖','政治','聯合文學','電影','白色恐怖']
											each n,i in tagList
												a(href="writer_src_tag_list.html") ##{n}
		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		//如果超過這個高度才有更多鈕
		hideMoreBtn();
		//標籤打開 隱藏
		var $moreTagBtn=$('#moreTagBtn');
		var $allTagBox=$('#articleAllTagBox');
		$moreTagBtn.on('click',function(){
			var tagOpen=$allTagBox.hasClass('act-open');
			if(tagOpen){
				$allTagBox.removeClass('act-open');
				$moreTagBtn.find('i').removeClass('fa-angle-up');
				$moreTagBtn.find('i').addClass('fa-angle-down');
				//- sideScrollBtn();
			}else{
				$allTagBox.addClass('act-open');
				$moreTagBtn.find('i').addClass('fa-angle-up');
				$moreTagBtn.find('i').removeClass('fa-angle-down');
				sideScrollBtn();
			}
		});
	});
	$(window).resize(function () {
		hideMoreBtn();
	});

	//如果超過這個高度才有更多鈕
	function hideMoreBtn(){
		var tagsH = $('#articleAllInnerTagBox').outerHeight();
		if(tagsH < 156){
			$('#moreTagBtn').hide();
		}else{
			$('#moreTagBtn').show();
		}
	}
	

	function sideScrollBtn(){
		console.log('123')
		//內頁側邊卡住
		var fixData = {
			'topNav': 'nav',//上方nav (#navArea)
			'sideNav': '.side-fixed',//側邊nav
			'pageCont': '.page-cont',//內容高
			'footer': 'footer',//底部footer
			'topMargin': 10,//側邊nav固定上面距離
			'bottomMargin': 80,//側邊nav固定下面距離
			'sideContW': '.page-side'//側邊side寬度
		};
		scrollNAvFix(fixData);
	}
