include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'文學踏查 - 故事地圖','link':'writer_story_list.html'}],'actPage':'亞細亞的孤兒'}
				+breadBox(breadList)
				-const back={'name':'返回故事地圖','link':'writer_story_list.html'}
				+backPage(back)
				-const subNavList=[{'name':'作家行跡','icon':'<i class="fal fa-books"></i>','link':'writer_list.html'},{'name':'故事地圖','icon':'<i class="fal fa-map-marked-alt"></i>'},{'name':'主題之旅','icon':'<i class="fal fa-map-signs"></i>','link':'theme_list.html'},{'name':'實境解謎','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'}]
				+subNav(subNavList)
		.page-wrap
			h2.map-area-tit <i class="fas fa-map-marker-alt"></i> 亞細亞的孤兒
			.map-area
				.main-cont
					.map-cont
						.swiper-container.map-swiper#mapSwiper
							.swiper-wrapper
								.swiper-slide
									- const mapInfoBox01={'img':'book_story.jpg','note':'資料來源：國立臺灣文學館館藏','tit':'ORPHAN OF ASIA','txt':'吳濁流著，原名《胡志明》，以日文書寫。「胡志明」原本是主角的名稱，後來因為越南戰後的革命領袖也叫胡志明，為避免被誤會，主角改為胡太明，書名改為《亞細亞的孤兒》。'}
									+mapInfoBox(mapInfoBox01)
								.swiper-slide
									- const mapInfoBox02={'img':'book_story.jpg','note':'資料來源：國立臺灣文學館館藏','tit':'苦楝花開的時節','txt':'和暖的春天太陽照射在背上，胡太明被爺爺牽著手，一面數著腳下的石子，一面爬上通往後山的小徑。小徑的兩旁是雜木林，幾隻不知名的小鳥在樹枝間跳來跳去，「吱吱」地叫著。卵石鋪成傾斜的山路，向永無止境地伸延著。'}
									+mapInfoBox(mapInfoBox02)
						.swiper-button-prev#mapP
							i(class="fas fa-angle-left")
						.swiper-button-next#mapN
							i(class="fas fa-angle-right")
					.map-tag-box
						.map-tag-btn#moreMapTagBtn <i class="fad fa-arrow-to-top"></i> <span>展開</span>
						.map-enevt-cont-box
							.map-enevt-cont#mapEventBox
								.map-event#eventTag1
									-const evenList=['1941發表','1941發表','1941發表','1941發表','1941發表'];
									each n in evenList
										.t-even #{n}
								.map-event#eventTag2
									-const evenList2=['1943發表','1942發表','1945發表'];
									each n in evenList2
										.t-even #{n}
						.map-all-tag#allMapTagBox
							-const tagList=['生平事蹟','作品文學','就學過程','葉石濤全集','散文'];
							each n in tagList
								.tag #{n}
		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		var mapSwiper = new Swiper('#mapSwiper', {
			//- speed: 400,
			//- spaceBetween: 100
			//- autoHeight: true,
			navigation: {
				nextEl: '#mapN',
				prevEl: '#mapP',
			},
		});
		//- 標籤開合
		var $moreMapTagBtn=$('#moreMapTagBtn');
		var $MapTagBox=$('#allMapTagBox');
		$moreMapTagBtn.on('click',function(){
			var tagOpen=$MapTagBox.hasClass('open');
			// fa-arrow-to-top
			if(tagOpen){
				$MapTagBox.removeClass('open');
				$moreMapTagBtn.find('i').removeClass('fa-arrow-to-bottom');
				$moreMapTagBtn.find('i').addClass('fa-arrow-to-top');
				$moreMapTagBtn.find('span').html('展開');
			}else{
				$MapTagBox.addClass('open');
				$moreMapTagBtn.find('i').addClass('fa-arrow-to-bottom');
				$moreMapTagBtn.find('i').removeClass('fa-arrow-to-top');
				$moreMapTagBtn.find('span').html('收合');
			}
		});
		//標籤打開事件
		$('#allMapTagBox').find('.tag').each(function(ind,item){
			$(this).on('click',function(){
				var indEvent=ind+1;
				var $eventTagBox=$('#eventTag'+indEvent);
				var eventTagBoxShow=$eventTagBox.is(':visible');
				if(eventTagBoxShow){
					$('.tag').removeClass('act');
					$('.map-event').hide();
					$('#mapEventBox').hide();
				}else{
					//標籤ACT
					$('.tag').removeClass('act');
					$(this).addClass('act');
					//事件開起(不一定都有事件??如果沒有要關起來)
					if($eventTagBox.length){
						$('.map-event').hide();
						$('#mapEventBox').show();
						$eventTagBox.show();
					}else{
						$('.map-event').hide();
						$('#mapEventBox').hide();
					}
				}
			});
		});
	});
