include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		.writer-track-video-light-area#writerVideoArea
			.track-video-play-cont
				.close#writerVideoClose <i class="fas fa-times"></i>
				.track-video-play-box
					<i class="fas fa-sync-alt"></i>
					iframe#writerVideo(src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
				.track-video-play-info
					.tit#writerVideoTit -
					.note#writerVideoNote -
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'文學踏查 - 作家平台','link':'writer_list.html'}],'actPage':'葉石濤'}
				+breadBox(breadList)
				-const back={'name':'返回作家平台','link':'writer_list.html'}
				+backPage(back)
				-const subNavList=[{'name':'作家平台','icon':'<i class="fal fa-books"></i>','link':'writer_list.html','act':true},{'name':'故事地圖','icon':'<i class="fal fa-map-marked-alt"></i>','link':'writer_story_list.html'},{'name':'主題之旅','icon':'<i class="fal fa-map-signs"></i>','link':'theme_list.html'}]
				+subNav(subNavList)
		//- .page-wrap.track-wrap
		.page-wrap.inner-single-page.nohide
			.main-cont
				.writer-track-info-area#trackCont1
					.writer-track-info-img
						img(src="img/writer01.jpg", alt="")
					.writer-track-info-cont
						h2 葉石濤大事紀
						.cont 葉石濤（1925-2008），出生於台南，1960年代移居高雄。日治時期就讀中學即發表日文小說，在台灣文壇上展露文采。戰後因政局轉變，以精讀《紅樓夢》作為學習中文的方式，1950年代因「知匪不報」的莫須有罪名被判刑，中斷寫作與工作，為求生計，在四處轉換教職之際，也從事翻譯。1960年中期復出後筆耕不輟，尤以撰寫台灣文學史論為要，影響至今，《台灣文學史綱》即為代表作。葉石濤的小說關注台灣族群議題、歷 ...
				.writer-track-nav-area#writerTrackNavArea
					.writer-track-nav-cont
						.writer-track-nav-mb-sel#writerTrackNavMbSel
							span 作者簡介
							.arr <i class="fas fa-chevron-down"></i>
						.writer-track-nav-list#writerTrackNavList
							-const trackNav=[{'txt':'作者簡介','id':'trackNav1'},{'txt':'地理標記','id':'trackNav2'},{'txt':'大事紀','id':'trackNav3'},{'txt':'著作資料','id':'trackNav4'},{'txt':'線上閱讀','id':'trackNav5'},{'txt':'簡報集錦','id':'trackNav6'},{'txt':'作者聲影','id':'trackNav7'},{'txt':'外譯作品','id':'trackNav8'},{'txt':'評論資料','id':'trackNav9'},{'txt':'計畫緣起','id':'trackNav10'}];
							each i in trackNav
								if i.act
									.track-nav.act(id=i.id) #{i.txt}
								else
									.track-nav(id=i.id) #{i.txt}
					.coll-heart-box
						//- .collect-btn <i class="fas fa-heart"></i> 加入收藏
						.collect-tag <i class="fas fa-heart"></i> 66
						.collect-btn.on <i class="fas fa-heart"></i> 已加入收藏
				.writer-track-tit#trackCont2
					h3 地理標記
				.writer-track-map-area
					//- 各作者主題
					.map-theme-area#mapThemeBox
						//- <div class="map-theme-note">＊請勾選至多三項，將於下方地圖展示所有勾選項目之行跡分布</div>
						//- <div class="map-theme-box act" id="storyNameBtn1"><div class="img"><img src="img/writer01.jpg" alt=""></div><div class="name">葉石濤大事記</div></div>
						//- <div class="map-theme-box" id="storyNameBtn1"><div class="img"><img src="img/writer01.jpg" alt=""></div><div class="name">葉石濤大事記</div></div>
						//- <div class="map-theme-btn" id="mapThemeBtn"><i class="fas fa-check-circle"></i> 送出</div>
					//- 選擇的作者主題
					.them-btn-area
						.them-btn-box#themBtnBox
							//- <div class="them-btn" data-mapkey="1" id="themBtn1">葉石濤大事記</div>
							//- <span>*可切換主題查看事紀行跡</span>
					//- 地圖
					.map-area-box#MapArea
						.map-box
							//- 主地圖
							.map#map
							//- 事件群組
							.map-event-side-area#mapEventSideArea
								.map-event-side-tit 事件群組
								.map-event-side-box
						//- 側邊內容
						.story-cont-box-bg#storyContBoxBg
							.story-cont-box#storyContBox
								.story-cont#storyCont
									.story-theme-tit#themTit -
									.story-theme-img-box#themeImg
										.story-theme-img
											img(src="img/w_story01.jpg" alt="")
										.story-theme-img-note -
									.story-theme-cont#themCont -
									.story-theme-tag-box#themTag
							.story-arr-box
								.arr.arr-l#preBtn
									<i class="fas fa-chevron-left"></i>
								.arr.arr-r#nextBtn
									<i class="fas fa-chevron-right"></i>

				.writer-track-tit#trackCont3
					h3 大事紀
				.writer-track-year-area
					.writer-track-year-cont
						-const trackYear1={'year':'1925','img':'w_story01.jpg','txt':'生於台南白金町。','note':'','tags':[]};
						+writerTrackYearBox(trackYear1)
						-const trackYear2={'year':'1932','img':'','txt':'就讀台南末廣公學校（今進學國小）。','note':'','tags':[]};
						+writerTrackYearBox(trackYear2)
						-const trackYear3={'year':'1938','img':'w_story02.jpg','txt':'就讀台南州立第二中學校（五年制）（今台南一中）。','note':'葉石濤中學時期。（葉松齡提供）','tags':[]};
						+writerTrackYearBox(trackYear3)
						-const trackYear4={'year':'1940','img':'','txt':'第一篇小說〈媽祖祭〉投稿至《台灣文學》（張文環主編），獲選佳作，但未刊登。','note':'','tags':['日文小說']};
						+writerTrackYearBox(trackYear4)
						-const trackYear5={'year':'1940','img':'','txt':'第二篇小說〈征臺譚〉投稿《文藝臺灣》（西川滿主編》，未獲刊登。','note':'','tags':['日文小說']};
						+writerTrackYearBox(trackYear5)
						-const trackYear6={'year':'1943','img':'w_story03.jpg','txt':'第三篇小說〈林君寄來的信》刊於《文藝臺灣》第5卷第6期。','note':'','tags':['日文小說']};
						+writerTrackYearBox(trackYear6)
						-const trackYear7={'year':'1943','img':'w_story04.jpg','txt':'受西川滿之邀，任「文藝台灣社」助理編輯。','note':'國立臺灣文學館館藏','tags':[]};
						+writerTrackYearBox(trackYear7)
						-const trackYear8={'year':'1943','img':'','txt':'小說〈春怨－－獻給吾師〉刊於《文藝台灣》第6卷第3期。','note':'','tags':['日文小說']};
						+writerTrackYearBox(trackYear8)
						-const trackYear9={'year':'1943','img':'','txt':'小說〈拂曉〉獲《台灣藝術》徵文比賽二等賞，刊於該刊2月號。','note':'','tags':['日文小說']};
						+writerTrackYearBox(trackYear9)
						-const trackYear10={'year':'1944','img':'','txt':'辭職。回台南任寶公學校（今立人國小）代課教員。','note':'','tags':['日文小說']};
						+writerTrackYearBox(trackYear10)
					.writer-track-year-more
						a(href="writer_events_list.html") 
							span 看更多事紀... 
							<i class="fas fa-long-arrow-right"></i>

				.writer-track-tit#trackCont4
					//- 內頁
					h3 著作資料
				.writer-track-tab-area
					.tab.act 分類一
					span ・
					.tab 分類二
					span ・
					.tab 分類三
				.writer-track-book-area
					a(href="writer_book_list.html").writer-track-more-book 瀏覽更多...
					.writer-track-book-cont
						-const trackBookUrl='writer_book_cont.html';
						-const TrackBook1={'img':'book1.jpg','tit':'台灣鄉土作家論集'}
						+writerTrackBookBox(TrackBook1,trackBookUrl)
						-const TrackBook2={'img':'book2.jpg','tit':'葉石濤集'}
						+writerTrackBookBox(TrackBook2,trackBookUrl)
						-const TrackBook3={'img':'book3.jpg','tit':'台灣文學的回顧'}
						+writerTrackBookBox(TrackBook3,trackBookUrl)
						-const TrackBook4={'img':'book4.jpg','tit':'紅鞋子'}
						+writerTrackBookBox(TrackBook4,trackBookUrl)
						-const TrackBook5={'img':'book5.jpg','tit':'台灣文學入門'}
						+writerTrackBookBox(TrackBook5,trackBookUrl)

				.writer-track-tit#trackCont5
					//- PDF
					h3 線上閱讀
				.writer-track-book-area
					a(href="writer_book_online_list.html").writer-track-more-book 瀏覽更多...
					.writer-track-book-cont
						-const trackBookUrl2='writer_book_online_cont.html';
						-const TrackBook6={'img':'book6.jpg','tit':'一個台灣老朽作家的五年代','cont':'兩個文學家的世界陳之藩與葉石濤特展成大揭幕'}
						+writerTrackBookOnlineBox(TrackBook6,trackBookUrl2)
						-const TrackBook7={'img':'book7.jpg','tit':'紅顏薄命'}
						+writerTrackBookOnlineBox(TrackBook7,trackBookUrl2)
						-const TrackBook8={'img':'book8.jpg','tit':'葉石濤全集','cont':'兩個文學家的世界陳之藩與葉石濤特展成大揭幕'}
						+writerTrackBookOnlineBox(TrackBook8,trackBookUrl2)
						-const TrackBook9={'img':'book9.jpg','tit':'府城記事簿：葉石濤隨筆 選集'}
						+writerTrackBookOnlineBox(TrackBook9,trackBookUrl2)
						-const TrackBook10={'img':'book10.jpg','tit':'沒有土地，哪有文學'}
						+writerTrackBookOnlineBox(TrackBook10,trackBookUrl2)
				
				.writer-track-tit#trackCont6
					//- 另開分頁圖片
					h3 簡報集錦
				.writer-track-book-area
					a(href="writer_book_clipping_list.html").writer-track-more-book 瀏覽更多...
					.writer-track-book-cont
						+writerTrackImgBox(TrackBook6)
						+writerTrackImgBox(TrackBook7)
						+writerTrackImgBox(TrackBook8)
						+writerTrackImgBox(TrackBook9)
						+writerTrackImgBox(TrackBook10)

				.writer-track-tit#trackCont7
					h3 作者聲影
				.writer-track-video-area
					a(href="writer_video_list.html").writer-track-more-book.video 瀏覽更多...
					.writer-track-video-cont
						// - add 外連 -
						-const trackVideo={'tit':'這間厝彼个人（第二季） 葉石濤','note':'簡述簡述簡述簡述'};
						+writerTrackVideoBoxUrl(trackVideo)
						// - add 外連 end -
						-const trackVideo1={'videoId':'U_rWZK_8vUY','tit':'這間厝彼个人（第二季） 葉石濤','note':'簡述簡述簡述簡述'};
						+writerTrackVideoBox(trackVideo1)
						-const trackVideo2={'videoId':'4Ql6YwCTAko','tit':'以多元藝術作傳 紀錄片《台灣男子葉石濤》描繪文學家故事｜20220621 公視晚間新聞','note':''};
						+writerTrackVideoBox(trackVideo2)
						-const trackVideo3={'videoId':'nRKJBpFFsuI','tit':'第二屆葉石濤短篇小說文學獎得獎影片','note':''};
						+writerTrackVideoBox(trackVideo3)
						//- -const trackVideo4={'videoId':'4Ql6YwCTAko','tit':'這間厝彼个人（第二季） 葉石濤','note':''};
						//- +writerTrackVideoBox(trackVideo4)

				.writer-track-tit#trackCont8
					//- 內頁
					h3 外譯作品
				.writer-track-tab-area
					.tab.act 韓譯
					span ・
					.tab 英譯
					span ・
					.tab 越南譯
				.writer-track-book-area
					a(href="writer_book_translate_list.html").writer-track-more-book 瀏覽更多...
					.writer-track-book-cont
						-const trackBookUrl3='writer_book_translate_cont.html';
						-const TrackBook11={'img':'book11.jpg','tit':'목어소리《木魚聲：台灣現代小說選2》','cont':''}
						+writerTrackBookBox(TrackBook11,trackBookUrl3)
						-const TrackBook12={'img':'book12.jpg','tit':'臺灣文學史(韓文版)｜國家文化記憶庫2.0'}
						+writerTrackBookBox(TrackBook12,trackBookUrl3)
						+writerTrackBookBox(TrackBook11,trackBookUrl3)
						+writerTrackBookBox(TrackBook12,trackBookUrl3)
						+writerTrackBookBox(TrackBook11,trackBookUrl3)

				.writer-track-tit#trackCont9
					//- 內頁
					h3 評論資料
				.writer-track-tab-area
					.tab.act 分類一
					span ・
					.tab 分類二
					span ・
					.tab 分類三
				.writer-track-book-area
					a(href="writer_book_comment_list.html").writer-track-more-book 瀏覽更多...
					.writer-track-book-cont
						-const trackBookUrl4='writer_book_comment_cont.html';
						+writerTrackBookBox(TrackBook11,trackBookUrl4)
						+writerTrackBookBox(TrackBook12,trackBookUrl4)
						+writerTrackBookBox(TrackBook11,trackBookUrl4)
						+writerTrackBookBox(TrackBook12,trackBookUrl4)
						+writerTrackBookBox(TrackBook11,trackBookUrl4)

				.writer-track-tit#trackCont10
					h3 計畫緣起
				.writer-track-plan-area
					.edit-box
						p(style="font-size: 20px;") 葉石濤文學紀念館歡慶11周年 「不完美的旅程」特展開幕
						p 葉石濤文學紀念館今（2023）年迎接11周年館慶，本次館慶活動特別規劃「不完美的旅程」葉石濤文學影音國際交流特展，於今(18)日開幕。集結6國6位藝術家，以葉石濤作品為靈感創作出，共9件結合文學與影音的藝術作品，為「葉老」作品重新提供另一種國際交流的新視野。開幕現場更安排兩場座談活動，分別邀請文學家彭瑞金與葉石濤之子葉松齡，分享關於葉老的文學觀與其「不朽的靈魂」，同時也邀請作家鄭炯明談「死亡的思考」，與民眾分享文學家與藝術家對生死課題的詮釋方式。
						p 臺南市文化局介紹，本次6位參與創作藝術家，分別為Beat Kuert(瑞士籍)、Ruben Sensetus(西班牙籍)、Rowan Chanen(澳洲籍)、Jean-Pol Franqueil(法國籍)、Mette Juul(丹麥籍)與本國籍作家鄭烱明。他們共同以葉老作品《不完美的旅程》為發想，連結文學家與藝術家同樣關注的生死課題，嘗試用藝術作品表達出「人生的不完美似乎也是一種生命旅程的必經之路。」
						p 策展人許萍芬說，葉石濤於散文集中《不完美的旅程》寫道「我之選擇走上寫作之路是自己心甘情願，不敢有絲毫怨言，但總覺得我的生涯旅程充滿荊棘，並不完美。」雖說葉老一生無緣周遊世界各國遊歷，但他的創作精神仍能與國際藝術家們相互呼應。
						p 文化局長謝仕淵表示，為感念葉石濤一生為臺灣文學奉獻的精神，結合文學、藝術與歷史作為核心理念，於市定古蹟原山林事務所成立葉石濤文學紀念館，這不僅是全國第一個由公部門設立的文學作家紀念館，也是本市首處古蹟活化再生的成功案例。今年更新一樓常設展，以「府城之星(1925-1950)」、「白色之網(1951-1966)」和「舊城之月(1967-2008)」呈現葉石濤生平三個不同時期的故事，亦有中、英、日、臺文的雲端多媒體導覽QR code。成立迄今已榮獲義大利A’ Design Award、臺灣金點設計獎及德國iF設計獎等大、小設計獎項，串連成為本市文學地景，再現葉石濤筆下的臺南城市風景，也便於國際旅客認識「臺灣男子」葉石濤之於臺灣文學的重要性。

						

				//- .map-theme-area#mapThemeBox
					.map-theme-box.act
						.img
							img(src="img/writer01.jpg", alt="")
						.name 葉石濤大事記
					.map-theme-box
						.img
							img(src="img/writer02.jpg", alt="")
						.name 李潼大事記
					.map-theme-btn#mapThemeBtn <i class="fas fa-check-circle"></i> 送出
				//- h2.map-area-tit <i class="fas fa-map-marker-alt"></i> 葉石濤大事記
				//- //- .map-tag-box
				//- //- 	.map-tag-btn#moreMapTagBtn <i class="fad fa-arrow-to-top"></i> <span>展開</span>
				//- //- 	.map-enevt-cont-box
				//- //- 		.map-enevt-cont#mapEventBox
				//- //- 			.map-event#eventsTag1
				//- //- 				-const evenList=['1941發表','1941發表','1941發表','1941發表','1941發表'];
				//- //- 				each n in evenList
				//- //- 					.t-even #{n}
				//- //- 			.map-event#eventsTag2
				//- //- 				-const evenList2=['1943發表','1942發表','1945發表'];
				//- //- 				each n in evenList2
				//- //- 					.t-even #{n}
				//- //- 	.map-all-tag#allMapTagBox
				//- //- 		-const tagList=[{'id':'1','name':'生平事蹟'},{'id':'2','name':'作品文學'},{'id':'3','name':'就學過程'},{'id':'4','name':'葉石濤全集'},{'id':'5','name':'散文'}];
				//- //- 		each n in tagList
				//- //- 			.tag(data-tagid=n.id) #{n.name}
				//- #MapArea.map-area-box
				//- 	.map-box
				//- 		#map.map
				//- 		.map-tag-box
				//- 			.map-tag-btn#moreMapTagBtn <i class="fad fa-arrow-to-top"></i> <span>展開</span>
				//- 			.map-enevt-cont-box
				//- 				.map-enevt-cont#mapEventBox
				//- 					.map-event#eventsTag1
				//- 						-const evenList=['1941發表','1941發表','1941發表','1941發表','1941發表'];
				//- 						each n in evenList
				//- 							.t-even #{n}
				//- 					.map-event#eventsTag2
				//- 						-const evenList2=['1943發表','1942發表','1945發表'];
				//- 						each n in evenList2
				//- 							.t-even #{n}
				//- 			.map-all-tag#allMapTagBox
				//- 				-const tagList=[{'id':'1','name':'生平事蹟'},{'id':'2','name':'作品文學'},{'id':'3','name':'就學過程'},{'id':'4','name':'葉石濤全集'},{'id':'5','name':'散文'}];
				//- 				each n in tagList
				//- 					.tag(data-tagid=n.id) #{n.name}
				//- 	.story-cont-box-bg
				//- 		#storyContBox.story-cont-box
				//- 			#storyCover.story-cover
				//- 			#storyCont.story-cont
				//- 				#themTit.story-theme-tit 1947年發表
				//- 				#themeImg.story-theme-img-box
				//- 					.story-theme-img
				//- 						img(src="img/w_story01.jpg", alt="")
				//- 					.story-theme-img-note 資料來源：台灣文學館館藏
				//- 				#themCont.story-theme-cont 撰寫長篇小說《殖民地的人們》，未發表，原稿散佚。
				//- 				#themTag.story-theme-tag-box
				//- 					.tagBtn #長篇小說
				//- 					.tagBtn #出生
				//- 		.story-arr-box
				//- 			.arr <i class="fas fa-chevron-left"></i>
				//- 			.arr <i class="fas fa-chevron-right"></i>
		//-內容
		include includes/footer

script(type="text/javascript" src="js/writerContFun.js")

script(src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js")
script(src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-language/v1.0.0/mapbox-gl-language.js")
link(rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css")
script(type="text/javascript" src="js/story_map.js")

//- script.
//- 	let scrollBtnContList=[];
//- 	$(document).ready(function(){
//- 		var mapEvent = getLinkVal('Eventid');
//- 		if(mapEvent){
//- 			slideTo('trackCont2');
//- 		}

//- 		$('#writerTrackNavMbSel').on('click',(e)=>{
//- 			const $navList=$('#writerTrackNavList');
//- 			const navShow=$navList.is(':visible');
//- 			navShow ? $navList.slideUp() : $navList.slideDown();
//- 		});
//- 		$('.track-nav').each((ind,val)=>{
//- 			const btn = $(val).attr('id');
//- 			const btnId = btn.replace('trackNav', '');
//- 			const cont = 'trackCont'+btnId;
//- 			scrollBtnContList.unshift({'btn':btn,'cont':cont});
//- 		});

//- 		//=== nav點擊滑動 ===
//- 		//- $('#track-nav')
//- 		//- var scrollBtnContList = ['trackNav10','trackNav9','trackNav8','trackNav7','trackNav6','trackNav5','trackNav4','trackNav3', 'trackNav2', 'trackNav1'];
//- 		$.each(scrollBtnContList,(ind,val)=>{
//- 			const $btn = $('#'+val.btn);
//- 			//- console.log(val.btn,val.cont)
//- 			$btn.on('click',(e)=>{
//- 				console.log(val.btn,val.cont)
//- 				slideTo(val.cont);
//- 				const windowW = $(window).width();
//- 				if(windowW <= 1024 ){
//- 					$('#writerTrackNavList').slideUp();
//- 				}
//- 			});
//- 		});
		
//- 		//=== 著作列表項目 更多按鈕 ===
//- 		bookVideoMore();

//- 		//=== 開關 video ===
//- 		$('.videoOpen').on('click',(e)=>{
//- 			const videoId = $(e.currentTarget).data('videoid');
//- 			const videoTit = $(e.currentTarget).next().text();
//- 			const videoNote = $(e.currentTarget).next().next().text();

//- 			const videoUrl='https://www.youtube.com/embed/'+videoId;
//- 			$('#writerVideo').attr('src',videoUrl);
//- 			$('#writerVideoTit').html(videoTit);
//- 			$('#writerVideoNote').html(videoNote);
//- 			$('#writerVideoArea').fadeIn(300);
//- 			bgFix();
//- 		});
//- 		$('#writerVideoClose,#writerVideoArea').on('click',(e)=>{
//- 			$('#writerVideoArea').fadeOut(300);
//- 			$('#writerVideo').attr('src','');
//- 			bgUnFix();
//- 		});
//- 		// 點擊圖片時阻止事件冒泡，避免觸發關閉操作
//- 		$('#writerVideoTit,#writerVideoNote').on('click', function(event) {
//- 			event.stopPropagation();
//- 		});

//- 		//- $('#storyContBox').mCustomScrollbar();

//- 		//- var lang = getCookie('CacheLang');
//- 		//- //- $(document).on('click', '.tagBtn', function () {
//- 		//- //- 	var tagId = $(this).data('tagid');
//- 		//- //- 	tagSrcPage(tagId);
//- 		//- //- });

//- 		//- var $moreMapTagBtn = $('#moreMapTagBtn');
//- 		//- var $MapTagBox = $('#allMapTagBox');

//- 		//- var tagOpen = false;
//- 		//- $moreMapTagBtn.on('click', function () {
//- 		//- 	var tabBtnTxt;
//- 		//- 	if (tagOpen) {
//- 		//- 		$MapTagBox.removeClass('open');
//- 		//- 		$moreMapTagBtn.find('i').removeClass('fa-arrow-to-bottom');
//- 		//- 		$moreMapTagBtn.find('i').addClass('fa-arrow-to-top');
//- 		//- 		lang == 'zh' ? tabBtnTxt = '展開' : tabBtnTxt = 'More';
//- 		//- 		$moreMapTagBtn.find('span').html(tabBtnTxt);

//- 		//- 		$('.map-all-tag').mCustomScrollbar("destroy");
//- 		//- 		tagOpen = false;
//- 		//- 	} else {
//- 		//- 		$MapTagBox.addClass('open');
//- 		//- 		$moreMapTagBtn.find('i').addClass('fa-arrow-to-bottom');
//- 		//- 		$moreMapTagBtn.find('i').removeClass('fa-arrow-to-top');
//- 		//- 		lang == 'zh' ? tabBtnTxt = '收合' : tabBtnTxt = 'Close';
//- 		//- 		$moreMapTagBtn.find('span').html(tabBtnTxt);

//- 		//- 		$('.map-all-tag').mCustomScrollbar();
//- 		//- 		tagOpen = true;
//- 		//- 	}
//- 		//- });

//- 		//- $(document).on('click', '.tag', function () {
//- 		//- 	var indEvent = $(this).data('tagid');
//- 		//- 	var $eventTagBox = $('#eventsTag' + indEvent);
//- 		//- 	var eventTagBoxShow = $eventTagBox.is(':visible');
//- 		//- 	if (eventTagBoxShow) {
//- 		//- 		$('.tag').removeClass('act');
//- 		//- 		$('.map-event').hide();
//- 		//- 		$('#mapEventBox').hide();
//- 		//- 	} else {
//- 		//- 		$('.tag').removeClass('act');
//- 		//- 		$(this).addClass('act');
//- 		//- 		if ($eventTagBox.length) {
//- 		//- 			$('.map-event').hide();
//- 		//- 			$('#mapEventBox').show();
//- 		//- 			$eventTagBox.show();
//- 		//- 		} else {
//- 		//- 			$('.map-event').hide();
//- 		//- 			$('#mapEventBox').hide();
//- 		//- 		}
//- 		//- 	}
//- 		//- });
//- 	});
//- 	$(window).resize(function () {
//- 		const windowW = $(window).width();
//- 		console.log(windowW);
//- 		if(windowW <= 1024 ){
//- 			$('.track-nav').removeClass('act');
//- 		}else{
//- 			const $navList = $('#writerTrackNavList');
//- 			$('#writerTrackNavList').removeAttr('style');
//- 		}

//- 		//=== 著作列表項目 更多按鈕 ===
//- 		bookVideoMore();
//- 	});
//- 	$(window).scroll(function () {
//- 		var windowScrollNum = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
//- 		//=== 滾動到第一個 要出現側邊 ===
//- 		//- var areaFirstH = $('#indCont1').offset().top - 20;
//- 		//- if (windowScrollNum > areaFirstH) {
//- 		//- 	$("#sideActArea").addClass('on');
//- 		//- } else {
//- 		//- 	$("#sideActArea").removeClass('on');
//- 		//- }
//- 		const navH = $('#navFixBox').outerHeight();
//- 		const navWriterH = $('#writerTrackNavArea').outerHeight();
//- 		const actH = navH + navWriterH + 20;

//- 		//== 滑到最底部時的話面上的高度 ==
//- 		const pageH = $('body').height();
//- 		const windowH = $(window).height();
//- 		const lastH = pageH - windowH - 10;
//- 		//- console.log(lastH);
//- 		//=== 滾動距離側邊act ===
//- 		//- var scrollList = ['trackCont10','trackCont9','trackCont8','trackCont7','trackCont6','trackCont5','trackCont4','trackCont3', 'trackCont2', 'trackCont1'];
//- 		$.each(scrollBtnContList, function (ind, val) {
//- 			var areaH = $('#' + val.cont).offset().top - actH;//自己的上方高度(-10多一點距離滾到這才會上act)
//- 			//- console.log(ind);
//- 			//- console.log(val);
//- 			//- console.log('windowScrollNum',windowScrollNum);
//- 			//- console.log('areaH',areaH);
//- 			if (windowScrollNum < areaH) {
//- 				//- console.log('= 來1 =');
//- 				//=== div從最下面的元素開始比較，如果滾動距離還小於自己的話，要在array的下一個加上狀態 ===
//- 				//=== 因為超過自己會下在自己但還是在上一個的區域，所以要上在下一個上 ===
//- 				//=== 滾動距離沒有超過 標題2，所以狀態要下在標題1  ===
//- 				//ex:
//- 				//=== 1 === (超過這)
//- 				//= cont 1 =
//- 				//=== 2 === (上滾大於這，不大於上一個，act會在這，但還沒超過 所以要下下一個[array已倒序])
//- 				//= cont 2 =
//- 				// console.log('=== item ===',scrollList[ind+1]);
//- 				if (scrollBtnContList[ind + 1]) {//超過第一個之前會找不到下一個(array)，所以要過濾
//- 					var actId = scrollBtnContList[ind + 1]['cont'].replace('trackCont', '');
//- 					reSetSideAct(actId);
//- 					//- console.log('1',actId);

//- 				} else {
//- 					console.log('不到dom第一個高度');
//- 					//還沒到第一個要移除狀態
//- 					//- $('#actDotBox').find('.dot').removeClass('act');
//- 				}
//- 				//最後一個不夠到達時，計算高度，就下狀態(是array第一個，dom最後一個)
//- 				if (windowScrollNum > lastH) {
//- 					//- console.log('= 來3 =');
//- 					const actId = scrollBtnContList[0]['cont'].replace('trackCont', '');
//- 					//- console.log('111',actId);
//- 					reSetSideAct(actId);
//- 				}
//- 			} else if (windowScrollNum > areaH && ind == 0) {
//- 				//- console.log('= 來2 =');
//- 				//= 如果超過，又剛好是第一個，就直接下在自己，因為沒有下一個了 =
//- 				var actId = val['cont'].replace('trackCont', '');
//- 				reSetSideAct(actId);
//- 				//- console.log('2',actId);
//- 			} 
//- 			//- else if (windowScrollNum > lastH) {//最後一個不夠到達時，計算高度，就下狀態
//- 			//- 	//- console.log('= 來3 =');
//- 			//- 	const actId = scrollList[0].replace('trackCont', '');
//- 			//- 	//- console.log('111',actId);
//- 			//- 	reSetSideAct(actId);
//- 			//- }
//- 			//- console.log('-------');
//- 		});
//- 	});
//- 	//=== 狀態重置 ===
//- 	function reSetSideAct(num) {
//- 		var $actDot = $('#trackNav' + num);
//- 		//- var actTit = $('#indTit' + num).html();
//- 		//- console.log(actTit);
//- 		//- $('#sideActTit').html(actTit);
//- 		const windowW = $(window).width();
//- 		if(windowW > 1024 ){
//- 			$('#writerTrackNavList').find('.track-nav').removeClass('act');
//- 			$actDot.addClass('act');
//- 		}
//- 		//= 下拉單文字 =
//- 		const actTxt = $actDot.html();
//- 		$('#writerTrackNavMbSel span').html(actTxt);
//- 	}

//- 	//=== 點擊滑動 ===
//- 	const slideTo=(cont)=> {
//- 		const navH = $('#navFixBox').outerHeight();
//- 		const navWriterH = $('#writerTrackNavArea').outerHeight();
//- 		const actH = navH + navWriterH + 15;
//- 		$('html,body').stop().animate({ scrollTop: ($('#' + cont).offset().top) - actH }, 'slow');
//- 	}

//- 	//=== 書本項目列表按鈕和顯示數量 ===
//- 	const bookVideoMore=()=>{
//- 		const windowW = $(window).width();
//- 		$('.writer-track-more-book').hide();
//- 		$('.writer-track-book-cont').each((ind,val)=>{
//- 			const $itemEq3=$(val).children('.writer-track-book-box').eq(3);
//- 			const $itemEq4=$(val).children('.writer-track-book-box').eq(4);
//- 			if(windowW <= 768){
//- 				$itemEq3 && $itemEq3.hide();
//- 				$itemEq4 && $itemEq4.hide();
//- 				const num = $(val).find('.writer-track-book-box:visible').length;
//- 				num == 3 && $(val).parent().children('.writer-track-more-book').show();
//- 			}else{
//- 				$itemEq3 && $itemEq3.show();
//- 				$itemEq4 && $itemEq4.show();
//- 				const num = $(val).find('.writer-track-book-box:visible').length;
//- 				num == 5 && $(val).parent().children('.writer-track-more-book').show();
//- 				num < 5 && $(val).parent().children('.writer-track-more-book').hide();
//- 			}
//- 		});
//- 		//= 作者聲影 =
//- 		const $videoCont = $('.writer-track-video-cont');
//- 		const $itemViedoEq2 = $videoCont.children('.writer-track-video-box').eq(2);
//- 		const $itemViedoEq3 = $videoCont.children('.writer-track-video-box').eq(3);
//- 		if(windowW <= 768){
//- 			$itemViedoEq2 && $itemViedoEq2.hide();
//- 			$itemViedoEq3 && $itemViedoEq3.hide();
//- 			const num = $videoCont.find('.writer-track-video-box:visible').length;
//- 			num == 2 && $videoCont.parent().children('.writer-track-more-book').show();
//- 		}else{
//- 			$itemViedoEq2 && $itemViedoEq2.show();
//- 			$itemViedoEq3 && $itemViedoEq3.show();
//- 			const num = $videoCont.find('.writer-track-video-box:visible').length;
//- 			num == 4 && $videoCont.parent().children('.writer-track-more-book').show();
//- 			num < 4 && $videoCont.parent().children('.writer-track-more-book').hide();
//- 		}
//- 	}