include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		.writer-track-video-light-area#writerVideoArea
			.track-video-play-cont
				.close#writerVideoClose <i class="fas fa-times"></i>
				.track-video-play-box
					<i class="fas fa-sync-alt"></i>
					iframe#writerVideo(src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
				.track-video-play-info
					.tit#writerVideoTit -
					.note#writerVideoNote -
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'文學踏查 - 作家平台','link':'writer_list.html'}],'actPage':'葉石濤'}
				+breadBox(breadList)
				-const back={'name':'返回作家平台','link':'writer_list.html'}
				+backPage(back)
				-const subNavList=[{'name':'作家平台','icon':'<i class="fal fa-books"></i>','link':'writer_list.html','act':true},{'name':'故事地圖','icon':'<i class="fal fa-map-marked-alt"></i>','link':'writer_story_list.html'},{'name':'主題之旅','icon':'<i class="fal fa-map-signs"></i>','link':'theme_list.html'}]
				+subNav(subNavList)
		.page-writer-bread-area
			.main-cont
				-const writerBread={'links':[],'act':'作者聲影'}
				+writerBread(writerBread)
		.page-wrap.page-gray-wrap
			.main-cont
				.writer-track-tit
					h3 作者聲影
				.writer-track-video-area
					.writer-track-video-cont
						-const trackVideo1={'videoId':'U_rWZK_8vUY','tit':'這間厝彼个人（第二季） 葉石濤','note':'簡述簡述簡述簡述'};
						+writerTrackVideoBox(trackVideo1)
						-const trackVideo2={'videoId':'4Ql6YwCTAko','tit':'以多元藝術作傳 紀錄片《台灣男子葉石濤》描繪文學家故事｜20220621 公視晚間新聞','note':''};
						+writerTrackVideoBox(trackVideo2)
						-const trackVideo3={'videoId':'nRKJBpFFsuI','tit':'第二屆葉石濤短篇小說文學獎得獎影片','note':''};
						+writerTrackVideoBox(trackVideo3)
						-const trackVideo4={'videoId':'4Ql6YwCTAko','tit':'這間厝彼个人（第二季） 葉石濤','note':''};
						+writerTrackVideoBox(trackVideo4)
						+writerTrackVideoBox(trackVideo1)
						+writerTrackVideoBox(trackVideo2)
						+writerTrackVideoBox(trackVideo3)
						+writerTrackVideoBox(trackVideo4)
				.writer-track-back
					a(href="writer_cont_v5.html") <i class="fas fa-chevron-left"></i> 返回作家
		//-內容
		include includes/footer
script.
	$(document).ready((e)=>{
		//=== 開關 video ===
		$('.videoOpen').on('click',(e)=>{
			const videoId = $(e.currentTarget).data('videoid');
			const videoTit = $(e.currentTarget).next().text();
			const videoNote = $(e.currentTarget).next().next().text();

			const videoUrl='https://www.youtube.com/embed/'+videoId;
			$('#writerVideo').attr('src',videoUrl);
			$('#writerVideoTit').html(videoTit);
			$('#writerVideoNote').html(videoNote);
			$('#writerVideoArea').fadeIn(300);
			bgFix();
		});
		$('#writerVideoClose,#writerVideoArea').on('click',(e)=>{
			$('#writerVideoArea').fadeOut(300);
			$('#writerVideo').attr('src','');
			bgUnFix();
		});
		// 點擊圖片時阻止事件冒泡，避免觸發關閉操作
		$('#writerVideoTit,#writerVideoNote').on('click', function(event) {
			event.stopPropagation();
		});
	});