include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'文學踏查 - 作家平台','link':'writer_list.html'}],'actPage':'葉石濤'}
				+breadBox(breadList)
				-const back={'name':'返回作家平台','link':'writer_list.html'}
				+backPage(back)
				-const subNavList=[{'name':'作家平台','icon':'<i class="fal fa-books"></i>','link':'writer_list.html','act':true},{'name':'故事地圖','icon':'<i class="fal fa-map-marked-alt"></i>','link':'writer_story_list.html'},{'name':'主題之旅','icon':'<i class="fal fa-map-signs"></i>','link':'theme_list.html'}]
				+subNav(subNavList)
		.page-writer-bread-area
			.main-cont
				-const writerBread={'links':[],'act':'外譯作品'}
				+writerBread(writerBread)
		.page-wrap.page-gray-wrap
			.main-cont
				.writer-track-tit
					h3 外譯作品
				.writer-track-tab-area
					.tab.act 韓譯
					span ・
					.tab 英譯
					span ・
					.tab 越南譯
				.writer-track-book-area
					.writer-track-book-cont
						-const trackBookUrl3='writer_book_translate_cont.html';
						-const TrackBook11={'img':'book11.jpg','tit':'목어소리《木魚聲：台灣現代小說選2》','cont':''}
						+writerTrackBookBox(TrackBook11,trackBookUrl3)
						-const TrackBook12={'img':'book12.jpg','tit':'臺灣文學史(韓文版)｜國家文化記憶庫2.0'}
						+writerTrackBookBox(TrackBook12,trackBookUrl3)
						+writerTrackBookBox(TrackBook11,trackBookUrl3)
						+writerTrackBookBox(TrackBook12,trackBookUrl3)
						+writerTrackBookBox(TrackBook11,trackBookUrl3)
						+writerTrackBookBox(TrackBook12,trackBookUrl3)
						+writerTrackBookBox(TrackBook11,trackBookUrl3)
						+writerTrackBookBox(TrackBook12,trackBookUrl3)
				.writer-track-back
					a(href="writer_cont_v5.html") <i class="fas fa-chevron-left"></i> 返回作家
		//-內容
		include includes/footer