include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'actPage':'文學踏查 - 故事地圖'}
				+breadBox(breadList)
				-const subNavList=[{'name':'作家行跡','icon':'<i class="fal fa-books"></i>','link':'writer_list.html'},{'name':'故事地圖','icon':'<i class="fal fa-map-marked-alt"></i>'},{'name':'主題之旅','icon':'<i class="fal fa-map-signs"></i>','link':'theme_list.html'},{'name':'城市解謎1','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'},{'name':'城市解謎2','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'}]
				+subNav(subNavList)
		.page-wrap
			.main-cont
				.page-group
					.page-cont
						.writer-list
							- const writerImg01={"background": "url(img/book_story.jpg) no-repeat center center/cover"}
							- const writerInfo01={'img':writerImg01,'tit':'亞細亞的孤兒','txt':'吳濁流著，原名《胡志明》，以日文書寫。「胡志明」原本是主角的名稱，後來因為越南戰後的革命領袖也叫胡志明，為避免被誤會，主角改為胡太明，書名改為《亞細亞的孤兒》。'}
							+writerStoryBox(writerInfo01)
							- const writerImg02={"background": "url(img/book_story.jpg) no-repeat center center/cover"}
							- const writerInfo02={'img':writerImg02,'tit':'亞細亞的孤兒','txt':'李潼，本名賴西安，台灣已故知名兒童文學作家及作詞人。生於花蓮，定居宜蘭縣羅東鎮。空中行政專科學校畢業。1978年開始寫作，文體類別包含兒童文學、散文、小說、新詩、歌詞等，另外還有相關劇本、文學評論和報導文學的創作，不過最知名的還是兒童文學、少年小說的作品。','isRight':true}
							+writerStoryBox(writerInfo02)
					.page-side
						.side-tag-box.side-fixed
							.creat-article-tag-tit
								div 代表標籤
								.creat-article-tag-more#moreTagBtn 顯示全部標籤
									i(class="far fa-angle-down")
							.creat-article-tag.gin-tag-box
								.article-all-tag#articleAllTagBox
									#articleAllInnerTagBox
										-const tagList=['大事記','政治','聯合文學','電影','白色恐怖','原住民','現代','政治','聯合文學','電影','白色恐怖','政治','聯合文學','電影','白色恐怖']
											each n,i in tagList
												a(href="writer_story_src_tag_list.html") ##{n}
		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		//如果超過這個高度才有更多鈕
		hideMoreBtn();
		//標籤打開 隱藏
		var $moreTagBtn=$('#moreTagBtn');
		var $allTagBox=$('#articleAllTagBox');
		$moreTagBtn.on('click',function(){
			var tagOpen=$allTagBox.hasClass('act-open');
			if(tagOpen){
				$allTagBox.removeClass('act-open');
				$moreTagBtn.find('i').removeClass('fa-angle-up');
				$moreTagBtn.find('i').addClass('fa-angle-down');
				//- sideScrollBtn();
			}else{
				$allTagBox.addClass('act-open');
				$moreTagBtn.find('i').addClass('fa-angle-up');
				$moreTagBtn.find('i').removeClass('fa-angle-down');
				sideScrollBtn();
			}
		});
	});
	$(window).resize(function () {
		hideMoreBtn();
	});

	//如果超過這個高度才有更多鈕
	function hideMoreBtn(){
		var tagsH = $('#articleAllInnerTagBox').outerHeight();
		if(tagsH < 156){
			$('#moreTagBtn').hide();
		}else{
			$('#moreTagBtn').show();
		}
	}

	function sideScrollBtn(){
		console.log('123')
		//內頁側邊卡住
		var fixData = {
			'topNav': '#navArea',//上方nav
			'sideNav': '.side-fixed',//側邊nav
			'pageCont': '.page-cont',//內容高
			'footer': 'footer',//底部footer
			'topMargin': 10,//側邊nav固定上面距離
			'bottomMargin': 80,//側邊nav固定下面距離
			'sideContW': '.page-side'//側邊side寬度
		};
		scrollNAvFix(fixData);
	}
