include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'文學踏查 - 作家平台','link':'writer_list.html'}],'actPage':'葉石濤'}
				+breadBox(breadList)
				-const back={'name':'返回作家平台','link':'writer_list.html'}
				+backPage(back)
				-const subNavList=[{'name':'作家平台','icon':'<i class="fal fa-books"></i>','link':'writer_list.html','act':true},{'name':'故事地圖','icon':'<i class="fal fa-map-marked-alt"></i>','link':'writer_story_list.html'},{'name':'主題之旅','icon':'<i class="fal fa-map-signs"></i>','link':'theme_list.html'}]
				+subNav(subNavList)
		.page-writer-bread-area
			.main-cont
				-const writerBread={'links':[],'act':'線上閱讀'}
				+writerBread(writerBread)
		.page-wrap.page-gray-wrap
			.main-cont
				.writer-track-tit
					h3 線上閱讀
				.writer-track-book-area
					.writer-track-book-cont
						-const trackBookUrl2='writer_book_online_cont.html';
						-const TrackBook6={'img':'book6.jpg','tit':'一個台灣老朽作家的五年代','cont':'兩個文學家的世界陳之藩與葉石濤特展成大揭幕'}
						+writerTrackBookOnlineBox(TrackBook6,trackBookUrl2)
						-const TrackBook7={'img':'book7.jpg','tit':'紅顏薄命'}
						+writerTrackBookOnlineBox(TrackBook7,trackBookUrl2)
						-const TrackBook8={'img':'book8.jpg','tit':'葉石濤全集','cont':'兩個文學家的世界陳之藩與葉石濤特展成大揭幕'}
						+writerTrackBookOnlineBox(TrackBook8,trackBookUrl2)
						-const TrackBook9={'img':'book9.jpg','tit':'府城記事簿：葉石濤隨筆 選集'}
						+writerTrackBookOnlineBox(TrackBook9,trackBookUrl2)
						-const TrackBook10={'img':'book10.jpg','tit':'沒有土地，哪有文學'}
						+writerTrackBookOnlineBox(TrackBook10,trackBookUrl2)
				.writer-track-back
					a(href="writer_cont_v5.html") <i class="fas fa-chevron-left"></i> 返回作家
		//-內容
		include includes/footer