include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'actPage':'文學踏查 - 作家平台'}
				+breadBox(breadList)
				-const subNavList=[{'name':'作家平台','icon':'<i class="fal fa-books"></i>','link':'writer_list.html','act':true},{'name':'故事地圖','icon':'<i class="fal fa-map-marked-alt"></i>','link':'writer_story_list.html'},{'name':'主題之旅','icon':'<i class="fal fa-map-signs"></i>','link':'theme_list.html'}]
				+subNav(subNavList)
		.src-page-area
			.main-cont
				//- .src-tab-box
				//- 	.src-tab.act 關鍵字搜尋
				//- 	a(href="search_tag_list.html").src-tab 全站標籤搜尋
				
				//- .creat-src-box
				//- 	.creat-src
				//- 		input(type="text", name="" placeholder="搜尋...")
				//- 	.creat-src-btn
				//- 		i(class="fas fa-search")
				//- 		| 搜尋
				.writer-src-box.src
					.tit 搜尋作家
					select.writer-sel#writerSel(name="writerSel")
						option(value="") 全部作家
						option(value="" selected) 葉石濤
						option(value="") 李潼
					.text-src
						input(type="text" placeholder="請輸入關鍵字" value="台灣文學史")
					.creat-src-btn
						i(class="fas fa-search")
						| 搜尋
				.src-key-box 標籤<span>台灣文學史</span>的搜尋結果如下
				.src-key-box.fz10 請切換以下不同單元，查詢您想要搜尋的結果。
				.src-area-box
					.src-area 大事紀 (<span>23</span>)
					.src-area.act 著作資料 (<span>34</span>)
					.src-area 線上閱讀 (<span>432</span>)
					//- .src-area 簡報集錦 (<span>1</span>)
					//- .src-area 作者聲影 (<span>1</span>)
					.src-area 外譯作品 (<span>1</span>)
					.src-area 評論資料 (<span>1</span>)
		.page-wrap.page-gray-wrap
			.main-cont
				.page-tit 搜尋結果
				.search-list
					- const srcImg01={"background": "url(img/default_src.jpg) no-repeat center center/contain"}
					- const srcLink01={'img':srcImg01,'tit':'多音交響的母語文學','txt':'隨著戰後1980年代政治的解嚴，以及文化主體意志的深化與高漲，將文學回歸本土文化或以母語表達的熱忱促成「母語文學」的興起。語言和文化、族群意識有著密不可分的關係，「母語文學」的興起除了展現各族群...'}
					+srcWriterBox(srcLink01)
					- const srcImg02={"background": "url(img/article01.jpg) no-repeat center center/contain"}
					- const srcLink02={'img':srcImg02,'tit':'文化主體意志的深化與高漲','txt':'隨著戰後1980年代政治的解嚴，以及文化主體意志的深化與高漲，將文學回歸本土文化或以母語表達的熱忱促成「母語文學」的興起。語言和文化、族群意識有著密不可分的關係...'}
					+srcWriterBox(srcLink02)
					- const srcImg03={"background": "url(img/his01.jpg) no-repeat center center/contain"}
					- const srcLink03={'img':srcImg03,'tit':'多音交響的母語文學','txt':'隨著戰後1980年代政治的解嚴，以及文化主體意志的深化與高漲，將文學回歸本土文化或以母語表達的熱忱促成「母語文學」的興起。語言和文化、族群意識有著密不可分的關係...'}
					+srcWriterBox(srcLink03)
					- const srcImg04={"background": "url(img/art_banner.jpg) no-repeat center center/contain"}
					- const srcLink04={'img':srcImg04,'tit':'多音交響的母語文學','txt':'隨著戰後1980年代政治的解嚴，以及文化主體意志的深化與高漲，將文學回歸本土文化或以母語表達的熱忱促成「母語文學」的興起。語言和文化、族群意識有著密不可分的關係...'}
					+srcWriterBox(srcLink04)
				+pagination
		//-內容
		include includes/footer
