include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'文學踏查 - 作家行跡','link':'writer_list.html'}],'actPage':'葉石濤大事記'}
				+breadBox(breadList)
				-const back={'name':'返回作家行跡','link':'writer_list.html'}
				+backPage(back)
				-const subNavList=[{'name':'作家行跡','icon':'<i class="fal fa-books"></i>'},{'name':'故事地圖','icon':'<i class="fal fa-map-marked-alt"></i>','link':'writer_story_list.html'},{'name':'主題之旅','icon':'<i class="fal fa-map-signs"></i>','link':'theme_list.html'},{'name':'城市解謎1','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'},{'name':'城市解謎2','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'}]
				+subNav(subNavList)
		.page-wrap.track-wrap
			.main-cont
				.map-theme-area
					.map-theme-box.act
						.img
							img(src="img/writer01.jpg", alt="")
						.name 葉石濤大事記
					.map-theme-box
						.img
							img(src="img/writer02.jpg", alt="")
						.name 李潼大事記
					.map-theme-btn <i class="fas fa-check-circle"></i>
				h2.map-area-tit <i class="fas fa-map-marker-alt"></i> 葉石濤大事記
				//- .map-tag-box
				//- 	.map-tag-btn#moreMapTagBtn <i class="fad fa-arrow-to-top"></i> <span>展開</span>
				//- 	.map-enevt-cont-box
				//- 		.map-enevt-cont#mapEventBox
				//- 			.map-event#eventsTag1
				//- 				-const evenList=['1941發表','1941發表','1941發表','1941發表','1941發表'];
				//- 				each n in evenList
				//- 					.t-even #{n}
				//- 			.map-event#eventsTag2
				//- 				-const evenList2=['1943發表','1942發表','1945發表'];
				//- 				each n in evenList2
				//- 					.t-even #{n}
				//- 	.map-all-tag#allMapTagBox
				//- 		-const tagList=[{'id':'1','name':'生平事蹟'},{'id':'2','name':'作品文學'},{'id':'3','name':'就學過程'},{'id':'4','name':'葉石濤全集'},{'id':'5','name':'散文'}];
				//- 		each n in tagList
				//- 			.tag(data-tagid=n.id) #{n.name}
				#MapArea.map-area-box
					.map-box
						#map.map
						.map-tag-box
							.map-tag-btn#moreMapTagBtn <i class="fad fa-arrow-to-top"></i> <span>展開</span>
							.map-enevt-cont-box
								.map-enevt-cont#mapEventBox
									.map-event#eventsTag1
										-const evenList=['1941發表','1941發表','1941發表','1941發表','1941發表'];
										each n in evenList
											.t-even #{n}
									.map-event#eventsTag2
										-const evenList2=['1943發表','1942發表','1945發表'];
										each n in evenList2
											.t-even #{n}
							.map-all-tag#allMapTagBox
								-const tagList=[{'id':'1','name':'生平事蹟'},{'id':'2','name':'作品文學'},{'id':'3','name':'就學過程'},{'id':'4','name':'葉石濤全集'},{'id':'5','name':'散文'}];
								each n in tagList
									.tag(data-tagid=n.id) #{n.name}
					.story-cont-box-bg
						#storyContBox.story-cont-box
							#storyCover.story-cover
							#storyCont.story-cont
								#themTit.story-theme-tit 1947年發表
								#themeImg.story-theme-img-box
									.story-theme-img
										img(src="img/w_story01.jpg", alt="")
									.story-theme-img-note 資料來源：台灣文學館館藏
								#themCont.story-theme-cont 撰寫長篇小說《殖民地的人們》，未發表，原稿散佚。
								#themTag.story-theme-tag-box
									.tagBtn #長篇小說
									.tagBtn #出生
						.story-arr-box
							.arr <i class="fas fa-chevron-left"></i>
							.arr <i class="fas fa-chevron-right"></i>
		//-內容
		include includes/footer

//- script(type="text/javascript" src="js/storymap/storymap.js")
script.
	$(document).ready(function(){
		$('#storyContBox').mCustomScrollbar();

		var lang = getCookie('CacheLang');
		//- $(document).on('click', '.tagBtn', function () {
		//- 	var tagId = $(this).data('tagid');
		//- 	tagSrcPage(tagId);
		//- });

		var $moreMapTagBtn = $('#moreMapTagBtn');
		var $MapTagBox = $('#allMapTagBox');

		var tagOpen = false;
		$moreMapTagBtn.on('click', function () {
			var tabBtnTxt;
			if (tagOpen) {
				$MapTagBox.removeClass('open');
				$moreMapTagBtn.find('i').removeClass('fa-arrow-to-bottom');
				$moreMapTagBtn.find('i').addClass('fa-arrow-to-top');
				lang == 'zh' ? tabBtnTxt = '展開' : tabBtnTxt = 'More';
				$moreMapTagBtn.find('span').html(tabBtnTxt);

				$('.map-all-tag').mCustomScrollbar("destroy");
				tagOpen = false;
			} else {
				$MapTagBox.addClass('open');
				$moreMapTagBtn.find('i').addClass('fa-arrow-to-bottom');
				$moreMapTagBtn.find('i').removeClass('fa-arrow-to-top');
				lang == 'zh' ? tabBtnTxt = '收合' : tabBtnTxt = 'Close';
				$moreMapTagBtn.find('span').html(tabBtnTxt);

				$('.map-all-tag').mCustomScrollbar();
				tagOpen = true;
			}
		});

		$(document).on('click', '.tag', function () {
			var indEvent = $(this).data('tagid');
			var $eventTagBox = $('#eventsTag' + indEvent);
			var eventTagBoxShow = $eventTagBox.is(':visible');
			if (eventTagBoxShow) {
				$('.tag').removeClass('act');
				$('.map-event').hide();
				$('#mapEventBox').hide();
			} else {
				$('.tag').removeClass('act');
				$(this).addClass('act');
				if ($eventTagBox.length) {
					$('.map-event').hide();
					$('#mapEventBox').show();
					$eventTagBox.show();
				} else {
					$('.map-event').hide();
					$('#mapEventBox').hide();
				}
			}
		});
	});