include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'文學踏查 - 作家行跡','link':'writer_list.html'}],'actPage':'葉石濤大事記'}
				+breadBox(breadList)
				-const back={'name':'返回作家行跡','link':'writer_list.html'}
				+backPage(back)
				-const subNavList=[{'name':'作家行跡','icon':'<i class="fal fa-books"></i>'},{'name':'故事地圖','icon':'<i class="fal fa-map-marked-alt"></i>','link':'writer_story_list.html'},{'name':'主題之旅','icon':'<i class="fal fa-map-signs"></i>','link':'theme_list.html'}]
				+subNav(subNavList)
		.page-wrap
			h2.map-area-tit <i class="fas fa-map-marker-alt"></i> 葉石濤大事記
			.map-area
				.main-cont
					.map-cont
						.swiper-container.map-swiper#mapSwiper
							.swiper-wrapper
								.swiper-slide
									- const mapInfoBox01={'img':'map_img01.jpg','note':'資料來源：國立臺灣文學館館藏','tit':'1925年出生','txt':'葉石濤（1925年11月1日－2008年12月11日），出身台灣台南市白金町（打銀街）。台灣當代文學作家。'}
									+mapInfoBox(mapInfoBox01)
								.swiper-slide
									- const mapInfoBox02={'img':'writer01.jpg','note':'資料來源：國立臺灣文學館館藏','tit':'1955年發表','txt':'葉石濤（1925年11月1日－2008年12月11日），出身台灣台南市白金町（打銀街）。台灣當代文學作家。'}
									+mapInfoBox(mapInfoBox02)
						.swiper-button-prev#mapP
							i(class="fas fa-angle-left")
						.swiper-button-next#mapN
							i(class="fas fa-angle-right")
					.map-tag-box
						.map-tag-btn#moreMapTagBtn <i class="fad fa-arrow-to-top"></i> <span>展開</span>
						.map-enevt-cont-box
							.map-enevt-cont#mapEventBox
								.map-event#eventTag1
									-const evenList=['1941發表','1941發表','1941發表','1941發表','1941發表'];
									each n in evenList
										.t-even #{n}
								.map-event#eventTag2
									-const evenList2=['1943發表','1942發表','1945發表'];
									each n in evenList2
										.t-even #{n}
						.map-all-tag#allMapTagBox
							-const tagList=['生平事蹟','作品文學','就學過程','葉石濤全集','散文'];
							each n in tagList
								.tag #{n}
		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		var mapSwiper = new Swiper('#mapSwiper', {
			//- speed: 400,
			//- spaceBetween: 100
			//- autoHeight: true,
			navigation: {
				nextEl: '#mapN',
				prevEl: '#mapP',
			},
		});
		//- 標籤開合
		var $moreMapTagBtn=$('#moreMapTagBtn');
		var $MapTagBox=$('#allMapTagBox');
		$moreMapTagBtn.on('click',function(){
			var tagOpen=$MapTagBox.hasClass('open');
			// fa-arrow-to-top
			if(tagOpen){
				$MapTagBox.removeClass('open');
				$moreMapTagBtn.find('i').removeClass('fa-arrow-to-bottom');
				$moreMapTagBtn.find('i').addClass('fa-arrow-to-top');
				$moreMapTagBtn.find('span').html('展開');
			}else{
				$MapTagBox.addClass('open');
				$moreMapTagBtn.find('i').addClass('fa-arrow-to-bottom');
				$moreMapTagBtn.find('i').removeClass('fa-arrow-to-top');
				$moreMapTagBtn.find('span').html('收合');
			}
		});
		//標籤打開事件
		$('#allMapTagBox').find('.tag').each(function(ind,item){
			$(this).on('click',function(){
				var indEvent=ind+1;
				var $eventTagBox=$('#eventTag'+indEvent);
				var eventTagBoxShow=$eventTagBox.is(':visible');
				if(eventTagBoxShow){
					$('.tag').removeClass('act');
					$('.map-event').hide();
					$('#mapEventBox').hide();
				}else{
					//標籤ACT
					$('.tag').removeClass('act');
					$(this).addClass('act');
					//事件開起(不一定都有事件??如果沒有要關起來)
					if($eventTagBox.length){
						$('.map-event').hide();
						$('#mapEventBox').show();
						$eventTagBox.show();
					}else{
						$('.map-event').hide();
						$('#mapEventBox').hide();
					}
				}
			});
		});
	});
