footer
    .main-cont
        .footer-logo
            .f-logo
                img(src="img/logo_his.svg", alt="")
            .f-logo-txt 700 No. 1, Zhongzheng Road, West Central District, Tainan City
        .footer-info-area
            .footer-info
                .qrcode-cont
                    .qrcode
                        img(src="img/qrcode.jpg", alt="")
                    .qr-info
                        span
                            i(class="far fa-phone-rotary") （06）221-7201
                        span
                            i(class="far fa-phone-office") （06）222-6115
                        span
                            i(class="far fa-envelope") info@tlvm.com.tw
                .web-link-cont
                    .web-link-box
                        a(href="###") About Us
                        a(href="###") Traffic
                        a(href="###") Contact Us
                        a(href="###") Privacy and Security
                        a(href="###") Questionnaire
                    .copyright © 2020 VIRTUAL MUSEUM OF TAIWAN LITERATURE
            .web-info-box
                .web-info
                    span Visits
                    span 5915
                .web-info
                    span Updated
                    span 2020/05/30
    .gotop#goTop
        i(class="fas fa-arrow-up")
        span TOP