//-var mailData={tit:'我是標題',cont:'我是內文',date:'2020/03/26'};
mixin mailBox(mailData)
    .mail-box
        if mailData.new
            .mail-tag new
        .mail-tit= mailData.tit
        .mail-txt= mailData.cont
            .mail-date= mailData.date

//- 首頁標題 index 
mixin indexTit(Data)
    .ind-tit-box
        h2 #{Data.tit}
        .ind-en-tit(class=`${ Data.isF ? "ind-en-tit2" : ""}`)
            span #{Data.titEn}
            a(href=Data.moreLink) More

//- var breadList={'linkList':[{'name':'ABC','link':'123.html'}],'actPage':'共創平台'}
mixin breadBox(Data)
    .bread-box
        a(href="index_en.html") Index
        span /
        if Data.linkList
            each n,i in Data.linkList
                a(href=n.link) #{n.name}
                span /
        .act-page #{Data.actPage}

//- const subNavList=[{'name':'共創平台','icon':'<i>','link':'index.html'}]
mixin subNav(Data)
    .page-nav-area
        each n,i in Data
            if !n.link
                .page-nav-box.act !{n.icon} #{n.name}
            else
                a(href=n.link).page-nav-box !{n.icon} #{n.name}
//- 共創平台文章
//- const creatArtImg01={"background": "url(img/.jpg) no-repeat center center/cover"};
//- const creatArt01={'img':creatArtImg01,'date':'2019/01/03','tit':'鄭清鴻：那一年，他們用文學環島──張深切與「臺灣文藝聯盟」的故事','txt':'2007年，單車環島電影《練習曲》上映後，臺灣掀起一波「環島熱」，不管是搭火車、開車、騎機車...','maker':'鄭清鴻'}
mixin creatArt(Data)
    .creat-article-box
        a.creat-article-img(style=Data.img href="create_platform_cont_en.html")
            img(src="img/art_list01.jpg", alt="")
        .creat-article-cont
            .date #{Data.date}
            a(href="create_platform_cont_en.html").tit #{Data.tit}
            a.cont(href="create_platform_cont_en.html")
                p #{Data.txt}
            .tag-box.gin-tag-box
                a.tag(href="###") #literature
                a.tag(href="###") #female
                a.tag(href="###") #music
        .share-btn-area
            .share-btn-box
                .sbtn
                    i(class="far fa-check")
                    | like <span>234</span>
                .sbtn Share
            .maker ——— #{Data.maker}

//- 頁碼
mixin pagination
    .pagination-area
        a(href="###").lim-btn <i class="far fa-arrow-to-left"></i>
        a(href="###").pre-btn <i class="far fa-arrow-left"></i>
        .page-box
            a(href="###").act 1
            a(href="###") 2
            a(href="###") 3
            a(href="###") 4
            a(href="###") 5
        a(href="###").next-btn <i class="far fa-arrow-right"></i>
        a(href="###").lim-btn <i class="far fa-arrow-to-right"></i>

//- 返回上一頁
mixin backPage(data)
    a(href=data.link).back-btn <i class="far fa-angle-left"></i> #{data.name}

//- 回覆輸入匡
mixin replyEnter(data)
    form(action="###")
        .reply-enter-tit !{data.tit}
        textarea#reply.reply-sty(name="reply" maxlength="1000" placeholder="請輸入內容...")
        .reply-enter-btn-box
            .enter-note 字數限制1000字元
            .enter-btn-box
                .cancel-btn#cancelReply 取消
                .submit-btn 確認送出
                    input(type="submit")

//- 臺灣文學史 內頁swiper
//- const hisImg01={"background": "url(img/his_timeline01.png) no-repeat center center/cover"};
//- const hisTime01={'img':hisImg01,'date':'1063/01/01','tit':'陳第來臺，撰〈東番記〉 ','txt':'陳第隨沈有容來臺，〈東番記〉為最早實地踏查平埔族人生活之文獻。'}
mixin historyTimeLine(data)
    .his-timeline-swiper-cont
        .his-timeline-img-box
            .his-timeline-img(style=data.img)
                img(src="img/his_timeline01.png", alt="")
            .his-timeline-img-txt 沈有容《閩海贈言》
        .his-timeline-cont
            .his-timeline-txt
                .date #{data.date}
                a(href="###").tit #{data.tit}
                .txt #{data.txt}
            .his-timeline-tag-box
                a(href="###") #臺灣文學
                a(href="###") #文化
                a(href="###") #臺灣

//- 臺灣文學史 時間區塊
//- const hisTimeImg01={"background": "url(img/his01.png) no-repeat center center/cover"};
//- const hisTimeTime01={'img':hisImg01,'date':'1603 - 1895','tit':'陳第來臺，撰〈東番記〉'}
mixin historyTimeBox(data)
    a(href="history_cont.html").literary-box
        .literary-img(style=data.img)
            img(src="img/his01.jpg", alt="")
        .literary-tit
            span.tit #{data.tit}
            span.date #{data.date}
//- 臺灣文學史 時間扁區塊
mixin historyTimeHBox(data)
    a(href="history_cont.html").literary-box
        .literary-img(style=data.img)
        .literary-tit
            span.tit #{data.tit}
            span.date #{data.date}
//- 推薦文章
//- const recomLinkImg01={"background": "url(img/his01.png) no-repeat center center/cover"};
//- const recomLink01={'img':recomLinkImg01,'tit':'台灣當代影像：持攝影機的男人－劉吶鷗'}
mixin recomLinkBox(data)
    a(href="###").recom-link-box
        .recom-img(style=data.img)
            img(src="img/recom_img01.png", alt="")
        .recom-cont
            .recom-tit #{data.tit}
            .recom-txt Rather than describing them as accessories, in a sense, they can be regarded as witnessing the development and evolution of Taiwan’s literary world with writers, especially the owners of jewelry...

//- input輸入匡
//- const inputArea01={'type':'text','tit':'主題標題：','idName':'title','placeholder':'請輸入標題','notReq':ture,'isMark':ture}
mixin inputArea(data)
    .input-area.input-area2
        label(for=data.idName) #{data.tit}
            if data.isMark
                span(class="mark") *
        .input-box
            input.input-sty(type=data.type id=data.idName name=data.idName placeholder=data.placeholder class=`${ data.notReq ? '':'required'}`)

//- 搜尋關鍵字列表框框
//- const srcImg01={"background": "url(img/his01.png) no-repeat center center/contain"}
//- const srcLink01={'img':srcImg01,'tit':'多音交響的母語文學','txt':'隨著戰後1980年代政治的解嚴，以及文化主體意志的深化與高漲，將文學回歸本土文化或以母語表達的熱忱促成「母語文學」的興起。語言和文化、族群意識有著密不可分的關係，「母語文學」的興起除了展現各族群...'}
mixin srcBox(data)
    .search-box
        a.search-img(href="###" style=data.img)
            img(src="img/default_src.jpg" alt="無圖片")
        .search-cont
            a(href="###").tit #{data.tit}
            a(href="###").cont #{data.txt}
            .gin-tag-box
                a(href="###") #文學
                a(href="###") #女性
                a(href="###") #音樂

//- 作家行跡列表
//- .writer-img-box(style="background: url(img/writer01.jpg) no-repeat center center/cover")
//- const writerImg01={"background": "url(img/writer01.jpg) no-repeat center center/cover"}
//- const writerInfo01={'img':srcImg01,'tit':'葉石濤大事記','txt':'葉石濤，出身台灣台南市白金町。台灣當代文學作家，創作以小說與評論為主，散文及翻譯為輔。葉石濤橫跨日治與戰後兩個世代，小學前曾接受兩年漢文私塾教育，畢業於臺南州立第二中學校，歷任日本作家西川滿主持之《文藝台灣》的助理編輯。'}
mixin writerBox(data)
    .writer-cont(class=`${ data.isRight ? 'writer-cont-right':''}`)
        .writer-img
            a(href="writer_cont.html" style=data.img).writer-img-box
                img(src="img/writer01.jpg", alt="")
        .writer-info
            h3 #{data.tit}
            .writer-txt
                p #{data.txt}

//- 作家行跡 標籤收尋項目
//- const writerSrcTagInfo01={'img':'tag_src_default.jpg','tit':'葉石濤大事記 > <span>1965年求學</span>','txt':'辭教職，就讀省立台南師專特師科。'}
mixin writerSrcTagBox(data)
    .writer-src-tag-box
        a(href="###").writer-src-tag-img
            img(src="img/"+`${data.img}`, alt="")
        .writer-src-tag-cont
            a(href="###").tit !{data.tit}
            a(href="###").cont #{data.txt}
            .gin-tag-box
                a(href="###") #文學
                a(href="###") #女性
                a(href="###").act #臺灣文學
                a(href="###") #音樂

//- 地圖內頁 詳細資訊
//- const mapInfoBox01={'img':'map_img01.jpg','note':'資料來源：國立臺灣文學館館藏','tit':'1925年出生','txt':'葉石濤（1925年11月1日－2008年12月11日），出身台灣台南市白金町（打銀街）。台灣當代文學作家。'}
mixin mapInfoBox(data)
    .map-info
        .mpa-tit #{data.tit}
        .map-img
            img(src="img/"+`${data.img}`, alt="")
            .note #{data.note}
        p #{data.txt}
        .gin-tag-box
            a.tag(href="###") #文學
            a.tag(href="###") #女性
            a.tag(href="###") #音樂

//- 文學展示列表
//- const exImg01={"background": "url(img/writer01.jpg) no-repeat center center/cover"}
//- const exInfo01={'img':exImg01,'tit':'逆旅．一九四九：臺灣戰後移民文學展','txt':'這個展覽，獻給1949年以為只是暫時退守的外省軍士、眷屬，以及他們的後代，還有與他們共同生活七十年的所有族群。展名「逆旅」有兩層意思。一是當...'}
mixin exListBox(data)
    .exhibition-box
        a(href="exhibition_cont_en.html" style=data.img).exhibition-img
            img(src="img/ex_img01.jpg", alt="")
        .exhibition-cont
            a(href="exhibition_cont_en.html").tit #{data.tit}
            .cont
                a(href="exhibition_cont_en.html").txt #{data.txt}
                .share-btn-box
                    a(href="###")
                        i(class="far fa-check")
                        | like <span>234</span>
                    a(href="###") Share

//- 文學展示 swiper
//- const exBannerImg01={"background": "url(img/liter01.jpg) no-repeat center center/cover"}
//- const exBannerInfo01={'img':exBannerImg01,'tit':'小露台、大觀園韓良露捐贈展'}
mixin exBannerBox(data)
    a(href="exhibition_cont.html").ind-exhibition-box
        .ind-exhibition-img(style="background: url(img/liter01.jpg) no-repeat center center/cover")
            img(src="img/liter01.jpg", alt="")
        .ind-exhibition-txt #{data.tit}

//-展覽分區A
//- const exPartAImg01={"background": "url(img/writer01.jpg) no-repeat center center/cover"}
//- const exPartAInfo01={'img':exPartAImg01,'tit':'前言'}
mixin exPartABox(data)
    a(href="exhibition_article_cont_en.html").exhibition-part-a-box
        .exhibition-part-a-tit #{data.tit}
        .exhibition-part-a-img(style=data.img)
            img(src="img/excont_img01.jpg", alt="")

//-展覽分區B
//- const exPartBImg01={"background": "url(img/writer01.jpg) no-repeat center center/cover"}
//- const exPartBInfo01={'img':exPartAImg01,'tit':'前言','txt':'與其形容它們是配件，在某種意義上，它們算是與作家一同見證了臺灣文壇的發展與演進，特別是首飾的擁有人——作家胡品清，她對臺法之間的學術貢獻，以及文學作品的翻譯與指導，所','date':'2019/01/01'}
mixin exPartBBox(data)
    a(href="exhibition_article_cont_en.html").exhibition-part-b-box
        .exhibition-part-b-img(style=data.img)
            img(src="img/excont_img01.jpg", alt="")
        .exhibition-part-b-cont
            .tit #{data.tit}
            .cont
                p #{data.txt}
            .date #{data.date}
    
//- 文學展示 內頁圖片swiper
//- const exArtImg01={"background": "url(img/liter01.jpg) no-repeat center center/cover"}
//- const exArtInfo01={'img':exArtImg01,'imgUrl':'img/liter01.jpg','tit':'小露台、大觀園韓良露捐贈展'}
mixin exArtSwiperBox(data)
    .exArt-img-box
        .exArt-img(style=data.img)
            img(src=data.imgUrl alt="")
        .exArt-txt #{data.tit}