.nav-area#navArea
    .nav-info-area
        .nav-slogn tech．humanity．friendly
        .nav-user-area
            .nav-user#loginBox
                .login-user
                    span.mbno-600 
                    a(href="member.html") 周子瑜
                    | ,Hello
                .log-btn.logout-btn#loginOut LogOut
            .login-btn-box#unLoginBox(style="display:none;")
                a(href="register.html").log-btn.regis-btn Register
                a(href="login_page.html").log-btn Login
            a(href="###" target="_blank").log-btn.fb-btn
                i(class="fab fa-facebook-f")
            .lang-sel-box
                select#lang.lang-sel(name="lang")
                    option(value="zh") 繁中
                    option(value="en" selected) English
    nav
        h2.ht
            span 臺灣文學虛擬博物館 導航列
        a(href="index.html").logo
            img(src="img/logo.svg", alt="臺灣文學虛擬博物館")
        .nav-cont
            .nav-item.en#navItem
                -const nav=[{'name':'Virtual Reality','enName':'','link':'###'}, {'name':'Literary History','enName':'','link':'history_list.html'}, {'id':'navLiteraryBtn','name':'Literary Tour','enName':'','subNav':[{'name':'Writer\'s history','enName':'','link':'writer_list.html'},{'name':'Story map','enName':'','link':'writer_story_list.html'},{'name':'Theme tour','enName':'','link':'theme_list.html'},{'name':'Real Escape','enName':'','link':'###'}]}, {'name':'Digital 3D','enName':'','link':'http://211.75.82.187/WS/3dmodel.php','isOut':true}, {'id':'navThemeBtn','name':'Theme Platform','enName':'','link':'###','subNav':[{'name':'Writer\'s platform','enName':'','link':'https://literature.sds.com.tw/','isOut':true},{'name':'Literary Exhibition','enName':'','link':'exhibition_list.html'},{'name':'Virtual Reality(laiho)','enName':'','link':'###'}]}, {'id':'navMakerBtn','name':'Maker Space','enName':'','subNav':[{'name':'Maker Articles','enName':'','link':'create_platform.html'},{'name':'Forum','enName':'','link':'create_qa_list.html'}]}, {'name':'Collecting Literature','enName':'','link':'###'} ]; //-n 是值 i 是KEY
                each n,i in nav
                    //- 如果有子項目才會使用
                    if !n.subNav
                        a.n-item(href=n.link id=n.id)
                            span #{n.name}
                            span.en #{n.enName}
                    else
                        .n-item(id=n.id opSupNav)
                            span #{n.name}
                            span.en #{n.enName}
                            .n-nav-sup
                                each val,i in n.subNav
                                    a(href=val.link)
                                        span #{val.name}
                                        span.en #{val.enName}
            .src-box
                input.input-src(type="text" placeholder="Search...")
                .src-btn
                    i(class="fas fa-search")
            //- 漢堡
            button(class="hamburger hamburger--squeeze" type="button" id="hamBtn")
                span(class="hamburger-box")
                    span(class="hamburger-inner")
    .sub-nav-list
        //- 文學踏查
        .nav-sup#navLiteraryList
            -const subN01=[{'name':'作家行跡','enName':'Writer‘s history','link':'writer_list.html'},{'name':'故事地圖','enName':'Story map','link':'###'},{'name':'主題之旅','enName':'Theme tour','link':'###'},{'name':'實境解謎','enName':'Real Escape','link':'###'}];
            each n,i in subN01
                a(href=n.link)
                    span #{n.name}
                    span.en #{n.enName}
        //- 主題平台
        .nav-sup#navThemeList
            -const subN02=[{'name':'作家平台','enName':'Writer‘s platform','link':'###'},{'name':'文學展示','enName':'Literary Exhibition','link':'exhibition_list_en.html'},{'name':'虛擬實境','enName':'Virtual Reality(laiho)','link':'###'}];
            each n,i in subN02
                a(href=n.link)
                    span #{n.name}
                    span.en #{n.enName}
        //- 共創平台
        .nav-sup#navMakerList
            -const subN03=[{'name':'共創文章','enName':'Maker Articles','link':'create_platform_en.html'},{'name':'交流討論','enName':'Forum','link':'create_qa_list.html'}];
            each n,i in subN03
                a(href=n.link)
                    span #{n.name}
                    span.en #{n.enName}
#fixNav
//-lightbox 範圍
.mask#mask
.light-txt-wrap#lightTxtWrap
    .light-txt-cont
        .light-txt#lightTxt 訊息
        .btn#lightTxtClose 確定
        
        