﻿@model DataAccess.Domain.Travel.TravelEventMap

@{
    Layout = "~/Views/Shared/_TravelLayout.cshtml";
}

<div class="travel-area">
    <div class="travel-bread-area">
        <a href="@Url.Action("Travel")">首頁</a> / <span>一起走走 - 活動月曆</span>
    </div>
    <div class="travel-page-tit-area">
        <h2>活動月曆</h2>
        <div class="tit-sup">掌握全臺展館最新活動消息就在這裡</div>
    </div>
    <div class="travel-family-place-sel-box">
        <div class="tit">選擇縣市</div>
        <select class="travel-sel" id="eventPlace" name="eventPlace">
            @if (Model != null && Model.AllusedMaps != null && Model.AllusedMaps.Count > 0)
            {
                foreach (var area in Model.AllusedMaps)
                {
            <option value="@area.Aid">@area.Name</option>
                }
            }
        </select>
    </div>
</div>
<div class="travel-family-boder"><img src="~/img/bg_family_map_top.png" alt="" /></div>
<div class="travel-area travel-family-area">
    <div class="travel-cont travel-event-map-cont">
        <div class="travel-event-more-area">
            @if (Model != null && Model.AllusedMaps != null && Model.AllusedMaps.Count > 0)
            {
                foreach (var map in Model.AllusedMaps)
                {
                    <div class="travel-event-list-area" id="eventArea@(map.Aid)">
                        <div class="event-tit"><span>@map.Name</span> / 相關活動</div>
                        <div class="travel-event-list">
                            @if (Model.Data != null && Model.Data.Count > 0)
                            {
                                foreach (var data in Model.Data)
                                {
                                    if (data.Aid == map.Aid)
                                    {
                                        <a class="list-box @(data.theSameDate ? "act" : "")" href="@Url.Action("TravelEventCont", "Travel", new { Eid = data.Eid })">
                                            <div class="date">@data.Startdate.ToString("yyyy/MM/dd") - @(data.Enddate.HasValue ? data.Enddate.Value.ToString("yyyy/MM/dd"):"")</div>
                                            <div class="tit">@data.Title</div>
                                        </a>
                                    }
                                }
                            }
                        </div>
                        <div class="travel-about-btn-area">
                        <a class="travel-m-btn" href="@Url.Action("TravelEventList")">
                            <span>查看更多資訊</span><i class="fal fa-long-arrow-right"></i></a></div>
                    </div>
                }
            }
          </div>
        <div class="travel-family-map travel-event-map">
            <img class="taiwan" src="~/img/event_taiwan.svg" alt="" />
            @if (Model != null && Model.AllusedMaps != null && Model.AllusedMaps.Count > 0)
            {
                foreach (var area in Model.AllusedMaps)
                {
                    if (area.Name == "基隆")
                    {
                        <div class="event-dot-box len02 edot@(area.Aid)">
                            <div class="tit etit" data-edot="@area.Aid">基隆</div>
                        </div>
                    }
                    else if (area.Name == "臺北")
                    {
                        <div class="event-dot-box len01 edot@(area.Aid)">
                            <div class="tit etit" data-edot="@(area.Aid)">臺北</div>
                        </div>
                    }
                    else if (area.Name == "新北")
                    {
                        <div class="event-dot-box len01 edot@(area.Aid)">
                            <div class="tit etit" data-edot="@(area.Aid)">新北</div>
                        </div>
                    }
                    else if (area.Name == "桃園")
                    {
                        <div class="event-dot-box len03 edot@(area.Aid)">
                            <div class="tit etit" data-edot="@(area.Aid)">桃園</div>
                        </div>
                    }
                    else if (area.Name == "新竹")
                    {
                        <div class="event-dot-box len01 edot@(area.Aid)">
                            <div class="tit etit" data-edot="@(area.Aid)">新竹</div>
                        </div>
                    }
                    else if (area.Name == "苗栗")
                    {
                        <div class="event-dot-box len01 edot@(area.Aid)">
                            <div class="tit etit" data-edot="@(area.Aid)">苗栗</div>
                        </div>
                    }
                    else if (area.Name == "臺中")
                    {
                        <div class="event-dot-box len02 edot@(area.Aid)">
                            <div class="tit etit" data-edot="@(area.Aid)">臺中</div>
                        </div>
                    }
                    else if (area.Name == "彰化")
                    {
                        <div class="event-dot-box len01 edot@(area.Aid)">
                            <div class="tit etit" data-edot="@(area.Aid)">彰化</div>
                        </div>
                    }
                    else if (area.Name == "南投")
                    {
                        <div class="event-dot-box len02 edot@(area.Aid)">
                            <div class="tit etit" data-edot="@(area.Aid)">南投</div>
                        </div>
                    }
                    else if (area.Name == "雲林")
                    {
                        <div class="event-dot-box len02 edot@(area.Aid)">
                            <div class="tit etit" data-edot="@(area.Aid)">雲林</div>
                        </div>
                    }
                    else if (area.Name == "嘉義")
                    {
                        <div class="event-dot-box len02 edot@(area.Aid)">
                            <div class="tit etit" data-edot="@(area.Aid)">嘉義</div>
                        </div>
                    }
                    else if (area.Name == "臺南")
                    {
                        <div class="event-dot-box len01 edot@(area.Aid)">
                            <div class="tit etit" data-edot="@(area.Aid)">臺南</div>
                        </div>
                    }
                    else if (area.Name == "高雄")
                    {
                        <div class="event-dot-box len02 edot@(area.Aid)">
                            <div class="tit etit" data-edot="@(area.Aid)">高雄</div>
                        </div>
                    }
                    else if (area.Name == "屏東")
                    {
                        <div class="event-dot-box len02 edot@(area.Aid)">
                            <div class="tit etit" data-edot="@(area.Aid)">屏東</div>
                        </div>
                    }
                    else if (area.Name == "臺東")
                    {
                        <div class="event-dot-box len02 edot@(area.Aid)">
                            <div class="tit etit" data-edot="@(area.Aid)">臺東</div>
                        </div>
                    }
                    else if (area.Name == "花蓮")
                    {
                        <div class="event-dot-box len02 edot@(area.Aid)">
                            <div class="tit etit" data-edot="@(area.Aid)">花蓮</div>
                        </div>
                    }
                    else if (area.Name == "宜蘭")
                    {
                        <div class="event-dot-box len02 edot@(area.Aid)">
                            <div class="tit etit" data-edot="@(area.Aid)">宜蘭</div>
                        </div>
                    }
                    else if (area.Name == "金門")
                    {
                        <div class="event-dot-box len02 edot@(area.Aid)">
                            <div class="tit etit" data-edot="@(area.Aid)">金門</div>
                        </div>
                    }
                    else if (area.Name == "澎湖")
                    {
                        <div class="event-dot-box len02 edot@(area.Aid)">
                            <div class="tit etit" data-edot="@(area.Aid)">澎湖</div>
                        </div>
                    }
                    else if (area.Name == "小琉球")
                    {
                        <div class="event-dot-box len02 edot@(area.Aid)">
                            <div class="tit etit" data-edot="@(area.Aid)">小琉球</div>
                        </div>
                    }
                    else if (area.Name == "馬祖")
                    {
                        <div class="event-dot-box len02 edot@(area.Aid)">
                            <div class="tit etit" data-edot="@(area.Aid)">馬祖</div>
                        </div>
                    }
                    else if (area.Name == "蘭嶼")
                    {
                        <div class="event-dot-box len02 edot@(area.Aid)">
                            <div class="tit etit" data-edot="@(area.Aid)">蘭嶼</div>
                        </div>
                    }
                    else if (area.Name == "綠島")
                    {
                        <div class="event-dot-box len02 edot@(area.Aid)">
                            <div class="tit etit" data-edot="@(area.Aid)">綠島</div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>
<div class="travel-family-boder"><img src="~/img/bg_family_map_bot.png" alt="" /></div>
<script>
  $(document).ready(function(){
      //== 因為手機有下拉單要讓下拉單再對的點選地 ==
      $('placeClick').on('click',function(){
          var thisPlaceId=$(this).attr('pacleid');
          $('.travel-event-list-area').removeClass('act');
          $('#eventArea'+thisPlaceId).addClass('act');
          $('#eventPlace').find('option[value="'+thisPlaceId+'"]').prop('selected', 'selected');
      });
      //== 先開啟台南 ==
      $('#eventArea12').addClass('act');
      $('#eventPlace').find('option[value="12"]').prop('selected', 'selected');
      $('.edot12').addClass('act');
      //== select ==
      $('#eventPlace').on('change',function(){
          reMbEvent();
      });
      //== 點選狀態 ==
      $('.etit').on('click',function(){
          var eventId=$(this).data('edot');
          $('.travel-event-list-area').removeClass('act');
          $('#eventArea'+eventId).addClass('act');
          //= 地標狀態 =
          $('.event-dot-box').removeClass('act');
          $('.edot'+eventId).addClass('act');
          //= 變更手機的act狀態 =
          $('#eventPlace').find('option[value="'+eventId+'"]').prop('selected', 'selected');
      });
  });
  $(window).load(function(){
      reMbEvent();
  });
  $(window).resize(function(){
      var windowW = $(window).width();
      if (windowW < 768) {
          //== select ==
          reMbEvent();
      }
  });

  function reMbEvent(){
      var actPlace=$('#eventPlace').val();
      //- console.log(actPlace);
      $('.travel-event-list-area').removeClass('act');
      $('#eventArea'+actPlace).addClass('act');
      //= 地標狀態 =
      $('.event-dot-box').removeClass('act');
      $('.edot'+actPlace).addClass('act');
  }
</script>