﻿@model List<DataAccess.Domain.Travel.TravelGameList>

@{
    Layout = "~/Views/Shared/_TravelLayout.cshtml";
}

<div class="travel-area">
    <div class="travel-bread-area"><a href="@Url.Action("Travel")">首頁</a> / <span>線上解謎</span></div>
    <div class="travel-page-tit-area">
        <h2>線上解謎</h2>
        <div class="tit-sup">他、她、祂都解不開的謎，你能解開嗎？</div>
    </div>
</div>
<div class="travel-area page-top-cover">
    <div class="travel-cont">
        <div class="travel-game-area">
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
            <div class="travel-game-box">
                @if (item.Kind == 1 || item.Kind == 3)
                {
                    <a class="img-area" href="@(item.Kind == 1 ? @item.Url : @item.Gameurl)" target="_blank" rel="noopener noreferrer"><img src="@item.Pic" alt="" /></a>
                }
                else if (item.Kind == 2)
                {
                    <div class="video-area">
                        <iframe src="https://www.youtube.com/embed/@(item.Video)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
                    </div>
                }
                <div class="travel-download-btn-cont">
                    <div class="tit">@item.Name</div>
                    <div class="cont">@Html.Raw(item.Desc)</div>
                    @if (item.Pdf != null && item.Pdf.Length > 0)
                    {
                        <div class="btn-box"><a class="btn" href="@item.Pdf">@item.Pdf.Substring(item.Pdf.LastIndexOf("/") + 1) <i class="fas fa-arrow-to-bottom"></i></a></div>
                    }
                </div>
            </div>
                }
            }
        </div>
    </div>
</div>
