﻿@using VirtualMuseum.Controllers.Base
@using System.Web.Configuration
@using System.Text.RegularExpressions
@model DataAccess.Domain.Travel.TravelBlogCont

@{
    string UrlDomain = WebConfigurationManager.AppSettings["apiDomain"];
    if (UrlDomain.ToCharArray()[UrlDomain.Length - 1] == '/')
    {
        UrlDomain = UrlDomain.Substring(0, UrlDomain.Length - 1);
    }

    string lang = "zh";
    if (Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")
    {
        lang = "zh";
    }
    else
    {
        lang = "en";
    }

    BaseController controller = ViewContext.Controller as BaseController;
    if (controller == null)
    {
        throw new ApplicationException("Controller 必須繼承自 MyControllerBase.");
    }

    Layout = "~/Views/Shared/_TravelLayout.cshtml";
}
@section SeoRender{
    @{
        <meta property="og:title" content="@Model.Title" />
        <meta property="og:description" content="@(Regex.Replace(Model.Describe, "<.*?>", String.Empty))" />
        <meta property="og:image" content="@(UrlDomain+(Model.BGPic==null||Model.BGPic.Length <=0?"/img/default_src.jpg":Model.BGPic))" />
        <meta property="og:url" content="@(UrlDomain+Url.Action("TravelBlogCont", "Travel", new { Blogid=Model.Blogid, lang=lang }))" />
        <meta property="fb:app_id" content="@(WebConfigurationManager.AppSettings["Facebook_appId"])" />
    }
}

<div class="travel-area">
    <div class="travel-bread-area">
        <a href="@Url.Action("Travel")">首頁</a> / <a href="@Url.Action("TravelBlogList")">部落格</a> / <span>@Model.Title</span>
    </div>
</div>
<div class="blog-tit-area">
    <img class="bg-img" src="@Model.BGPic" alt="" />
    <div class="cloud cloud05"></div>
    <div class="cloud cloud06"></div>
    <div class="blog-tit">
        <h2>@Model.Title</h2>
        <div class="travel-page-info">
            <div class="info">by<span class="art">文學小編</span></div>
            <div class="info">@Model.Createtime.ToString("yyyy.MM.dd")</div>
            <div class="info">@Model.Click 次點閱</div>
            <div class="info">
                <div class="icon"><img src="~/img/icon_wh_collect.svg" alt="" /></div>
                <div class="txt">@Model.Subscribes</div>
            </div>
        </div>
    </div>
</div>
<div class="travel-area">
    <div class="travel-cont travel-detail-cont">
        <div class="travel-page-cont">
            <div class="travel-page-txt-cont">
                <div class="travel-page-txt travel-blog-txt">
                    @if (Model != null && Model.Additions != null && Model.Additions.Count > 0)
                    {
                        foreach (var add in Model.Additions)
                        {
                            if (add.Type == "blogTit")
                            {
                                foreach (var item in Model.blogsTit)
                                {
                                    if (item.Typeid == add.Typeid)
                                    {
                                        <!-- 標題-->
                                        <div class="tit">@item.Title</div>
                                        break;
                                    }
                                }
                            }
                            if (add.Type == "blogCont")
                            {
                                foreach (var item in Model.blogsCont)
                                {
                                    if (add.Typeid == item.Typeid)
                                    {
                                        <!-- 內文-->
                                        <p style="font-size:@(item.Font);">@item.Content</p>
                                        break;
                                    }
                                }
                            }
                            if (add.Type == "blogImg")
                            {
                                foreach (var item in Model.blogsImg)
                                {
                                    if (add.Typeid == item.Typeid)
                                    {
                                        if (item.Layout == 1)
                                        {
                                            <!-- 圖片置左-->
                                            <div class="blog-img">
                                                <img src="@item.Pic" alt="" />
                                                <div class="note-box">
                                                    @if (item.Link != null && item.Link.Length > 0)
                                                    {
                                                        <a class="note" href="@item.Link" target="_blank">@(item.LinkTxt)@(item.Link)</a>
                                                    }
                                                    else
                                                    {
                                                        <div class="note">@(item.LinkTxt)</div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                        else if (item.Layout == 2)
                                        {
                                            <!-- 圖片置中-->
                                            <div class="blog-img center">
                                                <img src="@item.Pic" alt="" />
                                                <div class="note-box">
                                                    @if (item.Link != null && item.Link.Length > 0)
                                                    {
                                                        <a class="note" href="@item.Link" target="_blank">@(item.LinkTxt)@(item.Link)</a>
                                                    }
                                                    else
                                                    {
                                                        <div class="note">@(item.LinkTxt)</div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                        else if (item.Layout == 3)
                                        {
                                            <!-- 圖片置右-->
                                            <div class="blog-img right">
                                                <img src="@item.Pic" alt="" />
                                                <div class="note-box">
                                                    @if (item.Link != null && item.Link.Length > 0)
                                                    {
                                                        <a class="note" href="@item.Link" target="_blank">@(item.LinkTxt)@(item.Link)</a>
                                                    }
                                                    else
                                                    {
                                                        <div class="note">@(item.LinkTxt)</div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                        break;
                                    }
                                }
                            }
                            if (add.Type == "linkTxt")
                            {
                                foreach (var item in Model.blogsLink)
                                {
                                    if (add.Typeid == item.Typeid)
                                    {
                                        <!-- 連結--><a class="link-box" href="@(item.Link)" target="_blank">@item.LinkTxt</a>
                                        break;
                                    }
                                }
                            }
                            if (add.Type == "blogQuote")
                            {
                                foreach (var item in Model.blogsQuote)
                                {
                                    if (add.Typeid == item.Typeid)
                                    {
                                        <!-- 引用-->
                                        <div class="quote-box">
                                            <div class="cont">@item.Content</div>
                                        </div>
                                        break;
                                    }
                                }
                            }
                        }
                    }
                </div>
                <div class="travel-route-article-area">
                    <div class="travel-route-article-box">
                        <div class="tit">撰寫作者</div>
                        <div class="route-article">
                            <div class="icon"><img src="@(Model.Source == "Facebook" ? "https://graph.facebook.com/"+Model.thirdId+"/picture?type=square" : Model.Source == "Google" ? "/img/default_member.svg" : "/img/default_member.svg")" alt="" /></div>
                            <div class="name">@Model.Nickname</div>
                        </div>
                        <div class="route-article-cont">@Model.UserDesc</div>
                    </div>
                    <div class="travel-route-article-box">
                        <div class="tit">相關分類</div>
                        <div class="travel-tag-area">
                            @if (Model != null && Model.Types != null && Model.Types.Count > 0)
                            {
                                foreach (var type in Model.Types)
                                {
                                    <a href="@Url.Action("TravelBlogList", "Travel", new { type = type.Tid })">#@(type.Tname)</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="travel-page-side">
                <div class="travel-page-side-box">
                    <div class="travel-page-tit">體驗主題路線</div>
                    <div class="travel-theme-side-area">
                        @if (Model != null && Model.RecommandRoutes != null && Model.RecommandRoutes.Count > 0)
                        {
                            foreach (var recommand in Model.RecommandRoutes)
                            {
                                <a class="travel-theme-side-box" href="@Url.Action("TravelRouteCont", "Travel", new { Routeid = recommand.Routeid })">
                                    <img src="@recommand.Pic" alt="" />
                                    <div class="tit">@recommand.Name</div>
                                </a>
                            }
                        }
                    </div>
                </div>
                <!-- 電腦版-->
                <div class="travel-page-side-btn pc-show">
                    <a class="travel-m-btn travel-orange-btn" href="@Url.Action("TravelBlogEdit")"><i class="fas fa-plus"></i> 撰寫文章</a>
                    @if (Model.mySubscribe == 1)
                    {
                        <div id="btnSubscribe" blogid="@Model.Blogid" class="travel-m-btn act"><i class="fas fa-heart"></i> 已加入收藏</div>
                    }
                    else
                    {
                        <div id="btnSubscribe" blogid="@Model.Blogid" class="travel-m-btn"><i class="fas fa-heart"></i> 加入收藏</div>
                    }
                </div>
                <div class="travel-page-tool pc-show">
                    <div class="icon i-link" onclick="javascript:copyUrl();"></div>
                    <div class="icon i-fb" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('@(UrlDomain+Url.Action("TravelBlogCont", "Travel", new { Blogid = Model.Blogid }))'),'facebook-share-dialog','width=626,height=436'); return false;"></div>
                    <div class="icon i-line" onclick="window.open('https://social-plugins.line.me/lineit/share?url='+encodeURIComponent('@(UrlDomain+Url.Action("TravelBlogCont", "Travel", new { Blogid = Model.Blogid }))'),'line-share-dialog','width=626,height=436'); return false;"></div>
                    <div class="icon i-thumb" onclick="window.open('https://www.facebook.com/plugins/like.php?href='+encodeURIComponent('@(UrlDomain+Url.Action("TravelBlogCont", "Travel", new { Blogid = Model.Blogid }))'),'facebook-like-dialog','width=626,height=436'); return false;"></div>
                </div>
            </div>
            <div class="btn-area">
                <a class="travel-m-btn" href="@Url.Action("TravelBlogList")">
                    <i class="far fa-chevron-left"></i> 返回部落格
                </a>
            </div>
            <!-- 手機版-->
            <div class="travel-page-tool mb-fix-bot">
                <div class="mb-list-area">
                    <div class="mb-icon-box">
                        <div class="icon i-link" onclick="javascript:copyUrl();"></div>
                        <div class="icon i-fb" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('@(UrlDomain+Url.Action("TravelBlogCont", "Travel", new { Blogid = Model.Blogid }))'),'facebook-share-dialog','width=626,height=436'); return false;"></div>
                        <div class="icon i-line" onclick="window.open('https://social-plugins.line.me/lineit/share?url='+encodeURIComponent('@(UrlDomain+Url.Action("TravelBlogCont", "Travel", new { Blogid = Model.Blogid }))'),'line-share-dialog','width=626,height=436'); return false;"></div>
                        <div class="icon i-thumb" onclick="window.open('https://www.facebook.com/plugins/like.php?href='+encodeURIComponent('@(UrlDomain+Url.Action("TravelBlogCont", "Travel", new { Blogid = Model.Blogid }))'),'facebook-like-dialog','width=626,height=436'); return false;"></div>
                    </div>
                </div>
                <div class="mb-btn-box">
                    <div id="btnSubscribe1" blogid="@Model.Blogid" class="btn w50 @(Model.mySubscribe == 1 ? "act" : "")">
                        <i class="fas fa-heart"></i>
                        <span>@(Model.mySubscribe == 1 ? "已加入收藏" : "加入收藏")</span>
                    </div>
                    <a class="btn w50 travel-m-btn travel-orange-btn" href="@Url.Action("TravelBlogEdit")"><i class="fas fa-plus"></i> 撰寫文章</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="travel-area travel-pagebg02">
    <div class="travel-cont">
        <div class="travel-page-more-cont">
            <div class="tit">猜你應該會喜歡的內容</div>
            <div class="travel-morelike-sw-area">
                <div class="swiper-containe travel-morelike-sw" id="travelMoreSwiper">
                    <div class="swiper-wrapper">
                        @if (Model != null && Model.YouLikeRoutes != null && Model.YouLikeRoutes.Count > 0)
                        {
                            foreach (var item in Model.YouLikeRoutes)
                            {
                                <div class="swiper-slide">
                                    <div class="travel-theme-box">
                                        <a class="travel-theme" href="@Url.Action("TravelBlogCont", "Travel", new { Blogid = item.Blogid })">
                                            <div class="travel-theme-box-img"><img src="@item.BGPic" alt="" /></div>
                                            <div class="travel-theme-txt">
                                                <div class="date">@item.Createtime.ToString("yyyy.MM.dd")</div>
                                                <div class="tit">@item.Title</div>
                                            </div>
                                        </a>
                                        <div class="travel-tag-area">
                                            @if (item.BlogTypes != null && item.BlogTypes.Count > 0)
                                            {
                                                foreach (var type in item.BlogTypes)
                                                {
                                                    <a href="@Url.Action("TravelBlogList", "Travel", new { type = type.Tid })">#@(type.Tname)</a>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="travel-page-cont">
            <div class="travel-page-txt-cont">
                <div class="travel-page-tit">評論</div>
                <div class="travel-page-common-area">
                    @if (controller.User.Identity.Name == null || controller.User.Identity.Name.Length <= 0)
                    {
                <div class="travel-page-common-user unlog">
                    <div class="user-img"><img src="@(Response.Cookies["Login_Pic"] != null && Response.Cookies["Login_Pic"].Value != null && Response.Cookies["Login_Pic"].Value.Length > 0 ? Response.Cookies["Login_Pic"].Value : "/img/default_member.svg")" alt="" /></div>
                    <div class="travel-page-common-cont">
                        <!--  未登入-->
                        <div class="travel-page-common-note">您需要<a href="@Url.Action("Login", "Account")">登入</a>才能留言。如尚未成為會員，請先<a href="@Url.Action("Register", "Account")">註冊</a>。</div>
                    </div>
                </div>
                    }
                    else
                    {
                <div class="travel-page-common-user">
                    <div class="user-img"><img src="@(Response.Cookies["Login_Pic"] != null && Response.Cookies["Login_Pic"].Value != null && Response.Cookies["Login_Pic"].Value.Length > 0 ? Response.Cookies["Login_Pic"].Value : "/img/default_member.svg")" alt="" /></div>
                    <div class="travel-page-common-cont">
                        <form id="askForm" method="post" action="@Url.Action("QAReply")">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="Blogid" id="Blogid" value="@Model.Blogid" />
                            <!--  登入後-->
                            <div class="travel-page-common-input">
                                <input name="sendMsg" id="sendMsg" type="text" placeholder="留言..." />
                                <div class="sumbit"><img src="~/img/brown_arrow_r.svg" alt="" /></div>
                            </div>
                            <input type="hidden" value="" id="recaptcha" name="recaptcha" />
                            <div class="travel-page-robot-box">
                                <div id="html_element"></div>
                                <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
                                        async defer>
                                </script>
                            </div>
                        </form>
                    </div>
                </div>
                }

                    @if (Model != null && Model.Messages != null && Model.Messages.Count > 0)
    {
        foreach (var mess in Model.Messages)
        {
                <div class="travel-page-common-user req">
                    <div class="user-img"><img src="~/img/icon_t_user.svg" alt="" /></div>
                    <div class="travel-page-common-cont">
                        <div class="page-common-req">
                            <div class="info">
                                <div class="name-box">
                                    <div class="name">@mess.NickName</div>
                                </div>
                                <div class="cont">
                                    @if (mess.Display == 1)
                    {
                        @mess.Editor
    }
    else
    {
                <div class="reply-alert">此內容可能違反規定或涉嫌洗版，已將內容屏蔽</div>
}
                                </div>
                            </div>
                            <div class="date">@mess.Createtime.ToString("yyyy/MM/dd")</div>
                        </div>
                    </div>
                </div>
}
}
                </div>
                </div>
                <div class="travel-page-recommon">
                    <a class="travel-recommon-cont" href="@Url.Action("TravelEventMap")">
                        <div class="travel-recommon-box">
                            <div class="travel-recommon-tit">
                                <h3>活動月曆</h3><span>各大館舍、實體展覽推薦。</span>
                                <div class="icon"><img src="~/img/wh_arrow_r.svg" alt="" /></div>
                            </div><img class="bg" src="~/img/bg_go02.png" alt="" />
                        </div>
                    </a>
                </div>
                </div>
    </div>
</div>
<script>
    var onloadCallback = function () {
        grecaptcha.render('html_element', {
            'sitekey': '@(WebConfigurationManager.AppSettings["Recaptcha_siteKey"])',
            callback: token => {
                $("#recaptcha").val(token);
                //console.log(token);
                //grecaptcha.reset();
            }
        });
    };

    var travelMoreSwiper;
    $(document).ready(function () {
        //=== 星星評分 ===
        var starList = [
            { 'btn': '#star1', 'list': ['#star1'] },
            { 'btn': '#star2', 'list': ['#star1', '#star2'] },
            { 'btn': '#star3', 'list': ['#star1', '#star2', '#star3'] },
            { 'btn': '#star4', 'list': ['#star1', '#star2', '#star3', '#star4'] },
            { 'btn': '#star5', 'list': ['#star1', '#star2', '#star3', '#star4', '#star5'] }
        ];
        $.each(starList, function (ind, val) {
            var $btn = $(val.btn);
            $btn.on('click', function () {
                $('.star-input').prop('checked', false);
                $.each(val.list, function (ind, val) {
                    $(val).prop('checked', true);
                });
            });
        });

        //== 手機猜你喜歡區塊 ==
        travelMoreArea();

        //== 內文br重置 ==
        $('.travel-blog-txt').find('p').each(function(ind,val){
            var textCont=$(val).text();
            var strList = textCont.split('\n');
            var textContChange = strList.join('<br>');
            $(val).html(textContChange);
        });

        $("#btnSubscribe").on('click', function () {
            //var hasOn = $(this).hasClass('on');
            //hasOn ? $(this).removeClass('on') : $(this).addClass('on');
            setSubscribe($("#btnSubscribe").attr("blogid"));
        });

        $("#btnSubscribe1").on('click', function () {
            //var hasOn = $(this).hasClass('on');
            //hasOn ? $(this).removeClass('on') : $(this).addClass('on');
            setSubscribe($("#btnSubscribe1").attr("blogid"));
        });

        $('.sumbit').on('click', function (e) {
                var validator = $("#askForm").validate({
                    messages: {
                        sendMsg: {
                            required: "請填寫",
                        },
                    },
                    submitHandler: function (form) {
                        form.submit();
                    }
                });

                if ($("#askForm").find("#sendMsg").val().length > 200) {
                    alertTxt('@GlobalRes.Site_message2');
                    return;
                } else
                    $("#askForm").submit();
        });

    @if (ViewBag.QAResponse != null)
    {
        if (ViewBag.QAResponse == 0 || ViewBag.QAResponse == -1 || ViewBag.QAResponse == -2)
        {
        <Text>
            alertTxt('@GlobalRes.Site_message3');
        </Text>
        }
        else if (ViewBag.QAResponse == -4)
        {
        <Text>
            alertTxt('@GlobalRes.Site_message4');
        </Text>
        }
        else if (ViewBag.QAResponse == -21)
        {
        <Text>
            alertTxt('@GlobalRes.Site_message5');
        </Text>
        }
        else if (ViewBag.QAResponse == -3)
        {
        <Text>
            alertTxt("@GlobalRes.Site_message1");
            setTimeout(function () {
                top.location.href = '@Url.Action("Login", "Account")';
            }, 1000);
        </Text>
        }
        else
        {
        <Text>
            alertTxt('@GlobalRes.Site_message6');
        </Text>
            }
        }
    });

    $(window).resize(function () {
        //== 手機猜你喜歡區塊 ==
        travelMoreArea();
    });

    //== 手機猜你喜歡區塊 ==
    function travelMoreArea() {
        var windowW = $(window).width();
        if (windowW > 767) {
            //== 電腦版不需要sw，如果有啟動要取消 ==
            if (!!travelMoreSwiper) {
                travelMoreSwiper.destroy();
            }
        } else {
            //== 如果沒有啟動sw在執行 ==
            if (!travelMoreSwiper || travelMoreSwiper.destroyed == true) {
                travelMoreSwiper = new Swiper('#travelMoreSwiper', {
                    slidesPerView: 1,
                    spaceBetween: 20,
                    initialSlide: 1
                });
            }
        }
    }

    function copyUrl() {
        navigator.clipboard.writeText('@(UrlDomain+Url.Action("TravelBlogCont", "Travel", new { Blogid = Model.Blogid }))');
    }

    function setSubscribe(Blogid) {
        var headers = {};
        var data = {};
        data.Blogid = Blogid;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("TravelBlogSubscribe")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                if (result["Code"] == 1) {
                    //成功
                    if ($("#btnSubscribe").attr("blogid") == result["Message"]) {
                        var hason = $("#btnSubscribe").hasClass('act');
                        if (hason) {
                            $("#btnSubscribe").removeClass("act");
                            $("#btnSubscribe").html("<i class=\"fas fa-heart\"></i> 加入收藏");
                        } else {
                            $("#btnSubscribe").addClass("act");
                            $("#btnSubscribe").html("<i class=\"fas fa-heart\"></i> 已加入收藏");
                        }
                    }
                    if ($("#btnSubscribe1").attr("blogid") == result["Message"]) {
                        var hason = $("#btnSubscribe1").hasClass("act");
                        if (hason) {
                            $("#btnSubscribe1").removeClass("act");
                            $("#btnSubscribe1").html("<i class=\"fas fa-heart\"></i><span>加入收藏</span>");
                        } else {
                            $("#btnSubscribe1").addClass("act");
                            $("#btnSubscribe1").html("<i class=\"fas fa-heart\"></i><span>已加入收藏</span>");
                        }
                    }
                } else {
                    //失敗
                    alertTxt("您需要登入才能收藏。如尚未成為會員請先註冊");
                }
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }
</script>