﻿@using System.Text.RegularExpressions
@model DataAccess.Domain.Travel.TravelNewsSrcTagList

@{
    Layout = "~/Views/Shared/_TravelLayout.cshtml";
}

<div class="travel-area">
    <div class="travel-bread-area">
        <a href="@Url.Action("Travel")">首頁</a> / <span>最新資訊標籤結果</span>
    </div>
    <div class="travel-page-tit-area">
        <h2>最新資訊標籤結果</h2>
        <div class="tit-sup">包含“<span>@Model.Tagname</span>”的標籤結果，共<span>@Model.Amount</span>筆資料。</div>
    </div>
</div>
<div class="travel-area page-top-cover">
    <div class="travel-cont">
        <div class="travel-quote-tag-area">
            <div class="travel-quote-tag-tit">
                <div class="tit">代表標籤</div>
                <div class="more-btn" id="travelQuoteTagMoreBtn"><i class="fas fa-arrow-down"></i> 顯示全部標籤</div>
            </div>
            <div class="travel-quote-tag-cont" id="travelQuoteAllTagBox">
                <div class="travel-tag-area" id="travelQuoteAllInnerTagBox">
                    @if (Model != null && Model.AllTags != null && Model.AllTags.Count > 0)
                    {
                        foreach (var item in Model.AllTags)
                        {
                            <a href="@Url.Action("TravelNewsSrcTagList", "Travel", new { Tagid = item.Tagid })">#@(item.Tagname)</a>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="travel-route-theme-list travel-route-theme-src-list">
            @if (Model != null && Model.news != null && Model.news.Count > 0)
            {
                foreach (var item in Model.news)
                {
                    <div class="travel-route-theme-box travel-src-tag">
                        <a class="travel-route-theme-img" href="@Url.Action("TravelNewsCont", "Travel", new { Nid = item.Nid })">
                            <img src="@item.Pic" alt="" />
                        </a>
                        <div class="travel-route-theme-cont">
                            <div class="travel-src-tag-top">
                                <div class="travel-route-theme-date">
                                    <div class="date">@item.Createtime.ToString("yyyy.MM.dd")</div>
                                </div><a class="travel-route-theme-txt" href="@Url.Action("TravelNewsCont", "Travel", new { Nid = item.Nid })">
                                    <div class="tit">@item.Name</div>
                                    <div class="cont">@Html.Raw(@Regex.Replace(item.Content, "<.*?>", String.Empty))</div>
                                </a>
                            </div>
                            <div class="travel-tag-area">
                                @if (item.Tags != null && item.Tags.Count > 0)
                                {
                                    foreach (var tag in item.Tags)
                                    {
                                        <a class="@(tag.Owned ? "act" : "")" href="@Url.Action("TravelNewsSrcTagList", "Travel", new { Tagid = tag.Tid })">#@(tag.Name)</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        @if (Model != null && Model.news != null && Model.news.Count > 0)
        {
            <div class="travel-pagination-area">
                <a href="javascript:getPage(1)"><i class="fas fa-angle-double-left"></i></a>
                <a href="javascript:getPage(@Model.news.PageNumber > 1 ? @Model.news.PageNumber - 1 : @Model.news.PageNumber)"><i class="fas fa-angle-left"></i></a>
                @for (int i = (Model.news.PageNumber % 5); i <= (Model.news.PageCount > 5 ? (Model.news.PageNumber % 5) * 5 : Model.news.PageCount); i++)
                {
                    if (Model.news.PageNumber == i)
                    {
                        <a class="num act" href="javascript:getPage(@i)">@i</a>
                    }
                    else
                    {
                        <a class="num" href="javascript:getPage(@i)">@i</a>
                    }

                }
                <a href="javascript:getPage(@Model.news.PageNumber==@Model.news.PageCount?@Model.news.PageNumber:@Model.news.PageNumber+1)"><i class="fas fa-angle-right"></i></a>
                <a href="javascript:getPage(@Model.news.PageCount)">
                    <i class="fas fa-angle-double-right"></i>
                </a>
            </div>
        }
    </div>
</div>
<script src="~/js/travel_moreTag.js"></script>
<script>
   function getPage(page) {
       var headers = {};
       var data = {};
       data.Tagid = @(Model.Tagid);
       data.page = page;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("TravelNewsSrcTagListPage")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                //alert(result["PageNumber"]);
                $(".travel-route-theme-src-list").empty();

                for (var i = 0; i < result["Lists"].length; i++) {
                    var str = '<div class="travel-route-theme-box travel-src-tag"><a class="travel-route-theme-img" href="/Travel/TravelNewsCont?Nid=' + result["Lists"][i]["Nid"] + '"><img src="' + result["Lists"][i]["Pic"] + '" alt="" /></a><div class="travel-route-theme-cont"><div class="travel-src-tag-top"><div class="travel-route-theme-date"><div class="date">' + result["Lists"][i]["Createtime"] + '</div></div><a class="travel-route-theme-txt" href="/Travel/TravelNewsCont?Nid=' + result["Lists"][i]["Nid"] + '"><div class="tit">' + result["Lists"][i]["Name"] + '</div><div class="cont">' + jQuery('<p>' + result["Lists"][i]["Content"] + '</p>').text() + '</div></a></div><div class="travel-tag-area">';
                    for (var ii = 0; ii < result["Lists"][i]["Tags"].length; ii++) {
                        if (result["Lists"][i]["Tags"][ii]["owned"]) {
                            str += '<a class= "act" href="/Travel/TravelNewsSrcTagList?Tagid=' + result["Lists"][i]["Tags"][ii]["tid"] + '">#' + result["Lists"][i]["Tags"][ii]["tagName"] + '</a>';
                        } else {
                            str += '<a href="/Travel/TravelNewsSrcTagList?Tagid=' + result["Lists"][i]["Tags"][ii]["tagid"] + '">#' + result["Lists"][i]["Tags"][ii]["tagName"] + '</a>';
                        }
                    }
                    str += '</div></div></div>';
                    $(".travel-route-theme-src-list").append(str);
                }

                $('.travel-pagination-area').empty();

                $('.travel-pagination-area').append('<a href="javascript:getPage(1)"><i class="fas fa-angle-double-left"></i></a>');
                $('.travel-pagination-area').append('<a href="javascript:getPage(' + (result["PageNumber"] > 1 ? result["PageNumber"] - 1 : result["PageNumber"]) + ')"><i class="fas fa-angle-left"></i></a>');

                var pageMin = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 1;
                var pageMax = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 5;

                if (parseInt(result["PageCount"]) < pageMax)
                    pageMax = parseInt(result["PageCount"]);
                for (var i = pageMin; i <= pageMax; i++) {
                    if (result["PageNumber"] == i) {
                        $('.travel-pagination-area').append('<a href="javascript:getPage(' + i + ')" class="num act">' + i + '</a>');
                    }
                    else {
                        $('.travel-pagination-area').append('<a href="javascript:getPage(' + i + ')" class="num">' + i + '</a>');
                    }
                }

                $('.travel-pagination-area').append('<a href="javascript:getPage(' + (result["PageNumber"] == result["PageCount"] ? result["PageNumber"] : result["PageNumber"] + 1) + ')"><i class="fas fa-angle-right"></i></a>');
                $('.travel-pagination-area').append('<a href="javascript:getPage(' + result["PageCount"] + ')"><i class="fas fa-angle-double-right"></i></a>');
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }
</script>