﻿@using System.Web.Configuration
@using System.Text.RegularExpressions
@model DataAccess.Domain.Travel.TravelNewsList

@{
    string UrlDomain = WebConfigurationManager.AppSettings["apiDomain"];
    string lang = "zh";
    if (Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")
    {
        lang = "zh";
    }
    else
    {
        lang = "en";
    }
    Layout = "~/Views/Shared/_TravelLayout.cshtml";
}

<div class="travel-area">
    <div class="travel-bread-area"><a href="@Url.Action("Travel")">首頁</a> / <span>最新資訊</span></div>
    <div class="travel-page-tit-area">
        <h2>最新資訊</h2>
        <div class="tit-sup">快速掌握臺灣文學最新資訊動態</div>
    </div>
</div>

<form action="@Url.Action("TravelNewsList")" method="POST" id="form">
    <input type="hidden" name="type" id="type" value="" />
    <input type="hidden" name="page" id="page" value="1" />
</form>

<div class="travel-area page-top-cover">
    <div class="travel-cont">
        <div class="travel-quote-tag-area">
            <div class="travel-quote-tag-tit">
                <div class="tit">代表標籤</div>
                <div class="more-btn" id="travelQuoteTagMoreBtn">
                    <i class="fas fa-arrow-down"></i> 顯示全部標籤
                </div>
            </div>
            <div class="travel-quote-tag-cont" id="travelQuoteAllTagBox">
                <div class="travel-tag-area" id="travelQuoteAllInnerTagBox">
                    @if (Model != null && Model.AllTags != null && Model.AllTags.Count > 0)
                    {
                        foreach (var item in Model.AllTags)
                        {
                            <a href="@Url.Action("TravelNewsSrcTagList", "Travel", new { Tagid = item.Tagid })">#@(item.Tagname)</a>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="travel-news-type-area">
            <div class="travel-news-type-box">
                <div class="tit">消息分類</div>
                <select class="travel-sel" id="newsType" name="newsType">
                    <option value="all" @(ViewBag.type == "all" ? "selected" : "")>全部</option>
                    @if (Model != null && Model.AllNewsTypes != null && Model.AllNewsTypes.Count > 0)
                    {
                        foreach (var item in Model.AllNewsTypes)
                        {
                            <option value="@item.Tid" @(ViewBag.type == string.Format("{0}", item.Tid) ? "selected" : "")>@item.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="travel-news-list">
            @if (Model != null && Model.news != null && Model.news.Count > 0)
            {
                foreach (var item in Model.news)
                {
                    <div class="travel-news-box">
                        <div class="travel-theme-tab">@item.Typename</div>
                        <a class="travel-news-img" href="@Url.Action("TravelNewsCont", "Travel", new { Nid = item.Nid })">
                            <img src="@item.Pic" alt="" />
                        </a>
                        <div class="travel-news-date">
                            <div class="date">@item.Createtime.ToString("yyyy.MM.dd")</div>
                            <div nid="@item.Nid" class="icon icon-heart @(item.mySubscribe == 1 ? "on" : "")"></div>
                        </div><a class="travel-theme-txt" href="@Url.Action("TravelNewsCont", "Travel", new { Nid = item.Nid })">
                            <div class="tit">@item.Title</div>
                            <div class="txt">
                                @Html.Raw(@Regex.Replace(item.Content, "<.*?>", String.Empty))
                            </div>
                        </a>
                        <div class="travel-tag-area">
                            @if (item.Tags != null && item.Tags.Count > 0)
                            {
                                foreach (var tag in item.Tags)
                                {
                                    <a href="@Url.Action("TravelNewsSrcTagList", "Travel", new { Tagid = tag.Tid })">#@(tag.Name)</a>
                                }
                            }
                        </div>
                        <div class="travel-page-info">
                            <div class="info">@item.Clicks 次點閱</div>
                            <div class="info">
                                <div class="icon"><img src="~/img/icon_info_collect.svg" alt="" /></div>
                                <div class="txt">@item.Subscribes</div>
                            </div>
                            <div class="share-btn-box">
                                <iframe src="https://www.facebook.com/plugins/like.php?href=@(HttpUtility.UrlEncode(UrlDomain+Url.Action("TravelNewsCont", "Travel", new { Nid = item.Nid, lang=lang })))&width=112&layout=button_count&action=like&size=small&share=true&height=46&appId=@(WebConfigurationManager.AppSettings["Facebook_appId"])" width="112" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                <!--
                                <a class="sbtn" href="###">
                                    <i class="far fa-check"></i>讚
                                    <span>234</span>
                                </a><a class="sbtn" href="###">分享</a>
                                -->
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        @if (Model != null && Model.news != null && Model.news.Count > 0)
        {
            <div class="travel-pagination-area">
                <a href="javascript:getPage(1)"><i class="fas fa-angle-double-left"></i></a>
                <a href="javascript:getPage(@Model.news.PageNumber > 1 ? @Model.news.PageNumber - 1 : @Model.news.PageNumber)"><i class="fas fa-angle-left"></i></a>
                @for (int i = (Model.news.PageNumber % 5); i <= (Model.news.PageCount > 5 ? (Model.news.PageNumber % 5) * 5 : Model.news.PageCount); i++)
                {
                    if (Model.news.PageNumber == i)
                    {
                        <a class="num act" href="javascript:getPage(@i)">@i</a>
                    }
                    else
                    {
                        <a class="num" href="javascript:getPage(@i)">@i</a>
                    }

                }
                <a href="javascript:getPage(@Model.news.PageNumber==@Model.news.PageCount?@Model.news.PageNumber:@Model.news.PageNumber+1)"><i class="fas fa-angle-right"></i></a>
                <a href="javascript:getPage(@Model.news.PageCount)">
                    <i class="fas fa-angle-double-right"></i>
                </a>
            </div>
        }
    </div>
</div>
<script src="~/js/travel_moreTag.js"></script>
<script>
    $(document).ready(function () {
        //=== 蒐藏文章 ===
        $(document).on('click', '.icon-heart', function () {
            //var hasOn = $(this).hasClass('on');
            //hasOn ? $(this).removeClass('on') : $(this).addClass('on');
            setSubscribe($(this).attr("nid"));
        });

        $("#newsType").change(function () {
            $("#form").find("#type").val($("#newsType").val());
            $("#form").submit();
        });
    });

    function setSubscribe(Nid) {
        var headers = {};
        var data = {};
        data.Nid = Nid;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("TravelNewsSubscribe")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                if (result["Code"] == 1) {
                    //成功
                    $(".icon-heart").each(function () {
                        if ($(this).attr("nid") == result["Message"]) {
                            var hason = $(this).hasClass('on');
                            if (hason) {
                                $(this).removeClass("on");
                            } else {
                                $(this).addClass("on");
                            }
                        }
                    });
                } else {
                    //失敗
                    alertTxt("您需要登入才能收藏。如尚未成為會員請先註冊");
                }
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }

   function getPage(page) {
       var headers = {};
       var data = {};
       data.type = $("#newsType").val();
       data.page = page;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("TravelNewsListPage")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                //alert(result["PageNumber"]);
                $(".travel-news-list").empty();

                for (var i = 0; i < result["Lists"].length; i++) {
                    var str = '<div class="travel-news-box"><div class="travel-theme-tab">' + result["Lists"][i]["Typename"] + '</div><a class="travel-news-img" href="/Travel/TravelNewsCont?Nid=' + result["Lists"][i]["Nid"] + '"><img src = "' + result["Lists"][i]["Pic"] + '" alt="" /></a><div class="travel-news-date"><div class="date">' + result["Lists"][i]["Createtime"] + '</div>';
                    if (result["Lists"][i]["mySubscribe"] == 1) {
                        str += '<div nid="' + result["Lists"][i]["Nid"] + '" class="icon icon-heart on"></div>';
                    } else {
                        str += '<div nid="' + result["Lists"][i]["Nid"] + '" class="icon icon-heart"></div>';
                    }
                    str += '</div><a class="travel-theme-txt" href="/Travel/TravelNewsCont?Nid=' + result["Lists"][i]["Nid"] + '"><div class="tit" >' + result["Lists"][i]["Title"] + '</div><div class="txt">' + jQuery('<p>' + result["Lists"][i]["Content"] + '</p>').text() + '</div></a><div class="travel-tag-area">';
                    for (var ii = 0; ii < result["Lists"][i]["Tags"].length; ii++) {
                        str += '<a href="/Travel/TravelNewsSrcTagList?Tagid=' + result["Lists"][i]["Tags"][ii]["tagid"] + '">#' + result["Lists"][i]["Tags"][ii]["tagName"] + '</a>';
                    }
                    str += '</div><div class="travel-page-info"><div class="info">' + result["Lists"][i]["Clicks"] + ' 次點閱</div><div class="info"><div class="icon"><img src="/img/icon_info_collect.svg" alt="" /></div><div class="txt">' + result["Lists"][i]["Subscribes"] + '</div></div><div class="share-btn-box"><iframe src="https://www.facebook.com/plugins/like.php?href=' + encodeURIComponent('@(UrlDomain+lang)/Travel/TravelNewsCont?Nid=' + result["Lists"][i]["Nid"]) + '&width=112&layout=button_count&action=like&size=small&share=true&height=46&appId=@(WebConfigurationManager.AppSettings["Facebook_appId"])" width="112" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe></div></div></div>';
                    $(".travel-news-list").append(str);
                }

                $('.travel-pagination-area').empty();

                $('.travel-pagination-area').append('<a href="javascript:getPage(1)"><i class="fas fa-angle-double-left"></i></a>');
                $('.travel-pagination-area').append('<a href="javascript:getPage(' + (result["PageNumber"] > 1 ? result["PageNumber"] - 1 : result["PageNumber"]) + ')"><i class="fas fa-angle-left"></i></a>');

                var pageMin = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 1;
                var pageMax = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 5;

                if (parseInt(result["PageCount"]) < pageMax)
                    pageMax = parseInt(result["PageCount"]);
                for (var i = pageMin; i <= pageMax; i++) {
                    if (result["PageNumber"] == i) {
                        $('.travel-pagination-area').append('<a href="javascript:getPage(' + i + ')" class="num act">' + i + '</a>');
                    }
                    else {
                        $('.travel-pagination-area').append('<a href="javascript:getPage(' + i + ')" class="num">' + i + '</a>');
                    }
                }

                $('.travel-pagination-area').append('<a href="javascript:getPage(' + (result["PageNumber"] == result["PageCount"] ? result["PageNumber"] : result["PageNumber"] + 1) + ')"><i class="fas fa-angle-right"></i></a>');
                $('.travel-pagination-area').append('<a href="javascript:getPage(' + result["PageCount"] + ')"><i class="fas fa-angle-double-right"></i></a>');
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }
</script>
