﻿@using System.Web.Configuration
@using System.Text.RegularExpressions
@model DataAccess.Domain.Travel.TravelEventCont

@{
    string UrlDomain = WebConfigurationManager.AppSettings["apiDomain"];
    if (UrlDomain.ToCharArray()[UrlDomain.Length - 1] == '/')
    {
        UrlDomain = UrlDomain.Substring(0, UrlDomain.Length - 1);
    }

    string lang = "zh";
    if (Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")
    {
        lang = "zh";
    }
    else
    {
        lang = "en";
    }

    Layout = "~/Views/Shared/_TravelLayout.cshtml";
}
@section SeoRender{
    @{
        <meta property="og:title" content="@Model.Title" />
        <meta property="og:description" content="@(Regex.Replace(Model.Content, "<.*?>", String.Empty))" />
        <meta property="og:image" content="@(UrlDomain+(Model.Pic==null||Model.Pic.Length <=0?"/img/default_src.jpg":Model.Pic))" />
        <meta property="og:url" content="@(UrlDomain+Url.Action("TravelEventCont", "Travel", new { Nid=Model.Eid, lang=lang }))" />
        <meta property="fb:app_id" content="@(WebConfigurationManager.AppSettings["Facebook_appId"])" />
    }
}
<div class="travel-area">
    <div class="travel-bread-area">
        <a href="@Url.Action("Travel")">首頁</a> / <a href="@Url.Action("TravelEventMap")">活動月曆</a> / <a href="@Url.Action("TravelEventList")">活動月曆列表</a> / <span>@Model.Title</span>
    </div>
</div>
<div class="blog-tit-area">
    <img class="bg-img" src="@Model.Pic" alt="" />
    <div class="cloud cloud05"></div>
    <div class="cloud cloud06"></div>
    <div class="blog-tit">
        <h2>@Model.Title</h2>
        <div class="travel-page-info">
            <div class="info">@Model.Click 次點閱</div>
            <div class="info">
                <div class="icon"><img src="~/img/icon_wh_collect.svg" alt="" /></div>
                <div class="txt">@Model.Subscribes</div>
            </div>
        </div>
    </div>
</div>
<div class="travel-area travel-event-area">
    <div class="travel-cont">
        <div class="travel-page-cont">
            <div class="travel-page-txt-cont">
                <div class="travel-tag-area">
                    @if (Model != null && Model.Tags != null && Model.Tags.Count > 0)
                    {
                        foreach (var tag in Model.Tags)
                        {
                            <a href="@Url.Action("TravelEventSrcTagList", "Travel", new { Tagid = tag.Tagid })">#@(tag.Tagname)</a>
                        }
                    }
                </div>
                <div class="edit-box travel-edit-box">
                    @Html.Raw(Model.Content)
                </div>
            </div>
            <div class="travel-page-side">
                <div class="travel-page-side-box">
                    <div class="travel-page-tit">活動時間</div>
                    <div class="travel-side-date-box">
                        <div class="year">@Model.Startdate.ToString("yyyy")</div>
                        <div class="date s-date">@Model.Startdate.ToString("MM/dd")</div>
                        <div class="date">@(Model.Enddate.HasValue ? Model.Enddate.Value.ToString("MM/dd") : "--/--")</div>
                    </div>
                </div>
                <!-- 電腦版-->
                <div class="travel-page-side-btn pc-show">
                    @if (Model.mySubscribe == 1)
                    {
                        <div id="btnSubscribe" eid="@Model.Eid" class="travel-m-btn act"><i class="fas fa-heart"></i> 已加入收藏</div>
                    }
                    else
                    {
                        <div id="btnSubscribe" eid="@Model.Eid" class="travel-m-btn"><i class="fas fa-heart"></i> 加入收藏</div>
                    }
                    @if (Model.Applylink != null && Model.Applylink.Length > 0)
                    {
                        <a class="travel-m-btn" href="@Model.Applylink" target="_blank">報名活動</a>
                    }
                    @if (Model.Reportlink != null && Model.Reportlink.Length > 0)
                    {
                        <a class="travel-m-btn" href="@Model.Reportlink" target="_blank">線上回饋</a>
                    }
                </div>
                <div class="travel-page-tool pc-show">
                    <div class="icon i-link" onclick="javascript:copyUrl();"></div>
                    <div class="icon i-fb" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('@(UrlDomain+Url.Action("TravelEventCont", "Travel", new { Eid = Model.Eid }))'),'facebook-share-dialog','width=626,height=436'); return false;"></div>
                    <div class="icon i-line" onclick="window.open('https://social-plugins.line.me/lineit/share?url='+encodeURIComponent('@(UrlDomain+Url.Action("TravelEventCont", "Travel", new { Eid = Model.Eid }))'),'line-share-dialog','width=626,height=436'); return false;"></div>
                    <div class="icon i-thumb" onclick="window.open('https://www.facebook.com/plugins/like.php?href='+encodeURIComponent('@(UrlDomain+Url.Action("TravelEventCont", "Travel", new { Eid = Model.Eid }))'),'facebook-like-dialog','width=626,height=436'); return false;"></div>
                </div>
            </div>
            <div class="btn-area">
                <a class="travel-m-btn" href="@Url.Action("TravelEventList")">
                    <i class="far fa-chevron-left"></i> 返回活動列表
                </a>
            </div>
            <!-- 手機版-->
            <div class="travel-page-tool mb-fix-bot">
                <div class="mb-list-area">
                    <div class="mb-icon-box">
                        <div class="icon i-link" onclick="javascript:copyUrl();"></div>
                        <div class="icon i-fb" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('@(UrlDomain+Url.Action("TravelEventCont", "Travel", new { Eid = Model.Eid }))'),'facebook-share-dialog','width=626,height=436'); return false;"></div>
                        <div class="icon i-line" onclick="window.open('https://social-plugins.line.me/lineit/share?url='+encodeURIComponent('@(UrlDomain+Url.Action("TravelEventCont", "Travel", new { Eid = Model.Eid }))'),'line-share-dialog','width=626,height=436'); return false;"></div>
                        <div class="icon i-thumb" onclick="window.open('https://www.facebook.com/plugins/like.php?href='+encodeURIComponent('@(UrlDomain+Url.Action("TravelEventCont", "Travel", new { Eid = Model.Eid }))'),'facebook-like-dialog','width=626,height=436'); return false;"></div>
                    </div>
                </div>
                <div class="mb-btn-box">
                    <div id="btnSubscribe1" eid="@Model.Eid" class="btn @((Model.Applylink != null && Model.Applylink.Length > 0) || (Model.Reportlink != null && Model.Reportlink.Length > 0) ? "" : "w100") @(Model.mySubscribe == 1 ? "act" : "")">
                        <i class="fas fa-heart"></i><span>@(Model.mySubscribe == 1 ? "已加入收藏" : "加入收藏")</span>
                    </div>
                    @if (Model.Applylink != null && Model.Applylink.Length > 0)
                    {
                        <a class="btn" href="@Model.Applylink" target="_blank"><span>報名活動</span></a>
                    }
                    @if (Model.Reportlink != null && Model.Reportlink.Length > 0)
                    {
                        <a class="btn" href="@Model.Reportlink" target="_blank"><span>線上回饋</span></a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#btnSubscribe").on('click', function () {
            //var hasOn = $(this).hasClass('on');
            //hasOn ? $(this).removeClass('on') : $(this).addClass('on');
            setSubscribe($("#btnSubscribe").attr("eid"));
        });

        $("#btnSubscribe1").on('click', function () {
            //var hasOn = $(this).hasClass('on');
            //hasOn ? $(this).removeClass('on') : $(this).addClass('on');
            setSubscribe($("#btnSubscribe1").attr("eid"));
        });
    });

    function copyUrl() {
        navigator.clipboard.writeText('@(UrlDomain+Url.Action("TravelEventCont", "Travel", new { Eid = Model.Eid }))');
    }

    function setSubscribe(Eid) {
        var headers = {};
        var data = {};
        data.Eid = Eid;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("TravelEventSubscribe")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                if (result["Code"] == 1) {
                    //成功
                    if ($("#btnSubscribe").attr("eid") == result["Message"]) {
                        var hason = $("#btnSubscribe").hasClass('act');
                        if (hason) {
                            $("#btnSubscribe").removeClass("act");
                            $("#btnSubscribe").html("<i class=\"fas fa-heart\"></i> 加入收藏");
                        } else {
                            $("#btnSubscribe").addClass("act");
                            $("#btnSubscribe").html("<i class=\"fas fa-heart\"></i> 已加入收藏");
                        }
                    }
                    if ($("#btnSubscribe1").attr("eid") == result["Message"]) {
                        var hason = $("#btnSubscribe1").hasClass("act");
                        if (hason) {
                            $("#btnSubscribe1").removeClass("act");
                            $("#btnSubscribe1").html("<i class=\"fas fa-heart\"></i><span>加入收藏</span>");
                        } else {
                            $("#btnSubscribe1").addClass("act");
                            $("#btnSubscribe1").html("<i class=\"fas fa-heart\"></i><span>已加入收藏</span>");
                        }
                    }
                } else {
                    //失敗
                    alertTxt("您需要登入才能收藏。如尚未成為會員請先註冊");
                }
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }
</script>