﻿@model List<DataAccess.Domain.Travel.TravelWorksheetList>

@{
    Layout = "~/Views/Shared/_TravelLayout.cshtml";
}
<div class="page">
    <div class="travel-area">
        <div class="travel-bread-area">
            <a href="@Url.Action("Travel")">首頁</a> / <span>學習單</span>
        </div>
        <div class="travel-page-tit-area">
            <h2>學習單</h2>
            <div class="tit-sup">學習、歷程、多元評量、實作學習等教學理念</div>
        </div>
    </div>
    <div class="travel-area page-top-cover">
        <div class="travel-cont">
            <div class="travel-news-type-area">
                <div class="travel-news-type-box">
                    <div class="tit">更多資源</div><a class="more-link" href="https://learn.nmtl.gov.tw/home/zh-tw" target="_blank">文學五金行 <i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
            <div class="worksheet-area">
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <div class="worksheet-box">
                            <div class="travel-download-btn-cont">
                                <div class="tit">@item.Name</div>
                                <div class="cont">@Html.Raw(item.Desc)</div>
                                @if (item != null && item.Pdf != null && item.Pdf.Length > 0)
                                {
                                    <div class="btn-box"><a class="btn" href="@item.Pdf">下載學習單 <i class="fas fa-arrow-to-bottom"></i></a></div>
                                }
                            </div>
                            <div class="about-worksheet-link-area">
                                <div class="icon-tit">
                                    <div class="icon"><img src="~/img/icon_worksheet_book.svg" alt="" /></div>
                                </div>
                                <div class="tit">相關文章</div>
                                <ul class="about-worksheet-list">
                                    @if (item.routes != null && item.routes.Count > 0)
                                    {
                                        foreach (var route in item.routes)
                                        {
                                            <li><i class="fas fa-map-marker-alt"></i><a href="@Url.Action("TravelRouteCont", "Travel", new { Routeid = route.Routeid })">@route.Name</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
