﻿@model DataAccess.Domain.Travel.TravelFamilyList

@{
    Layout = "~/Views/Shared/_TravelLayout.cshtml";
}

<div class="travel-area">
    <div class="travel-bread-area">
        <a href="@Url.Action("Travel")">首頁</a> / <span>家族走走</span>
    </div>
    <div class="travel-page-tit-area">
        <h2>家族走走</h2>
        <div class="tit-sup">整個島嶼都是我們的文學館</div>
    </div>
    <div class="travel-family-place-sel-box">
        <div class="tit">選擇縣市</div>
        <select class="travel-sel" id="museumPlace" name="museumPlace">
            @if (Model != null && Model.AllusedMaps != null && Model.AllusedMaps.Count > 0)
            {
                foreach (var map in Model.AllusedMaps)
                {
                    <option value="@map.Aid">@map.Name</option>
                }
            }
        </select>
    </div>
</div>
<div class="travel-family-boder"><img src="~/img/bg_family_map_top.png" alt="" /></div>
<div class="travel-area travel-family-area">
    <div class="travel-cont">
        <div class="travel-family-map">
            <img class="taiwan" src="~/img/taiwan_map.png" alt="" />
            @if (Model != null && Model.AllusedMaps != null && Model.AllusedMaps.Count > 0)
            {
                foreach (var map in Model.AllusedMaps)
                {
                    <div class="museum-dot museum-dot@(map.Aid)"></div>
                    <div class="museum-line museum-line@(map.Aid)"></div>
                    if (map.familys != null && map.familys.Count == 1)
                    {
                        <div class="travel-family-museum-box museumArea@(map.Aid)">
                            <div class="travel-family-sw-box">
                                <div class="travel-family-sw-place">@map.Name</div>
                                <div class="swiper-containe travel-family-sw" id="travelFamilySw@(map.Aid)">
                                    <div class="swiper-wrapper">
                                        @if (map.familys != null && map.familys.Count > 0)
                                        {
                                            foreach (var item in map.familys)
                                            {
                                                <div class="swiper-slide">
                                                    <a class="museum-slide" href="@Url.Action("TravelFamilyCont", "Travel", new { Familyid = item.FamilyId })">
                                                        <div class="museum-slide-img-box">
                                                            <div class="museum-slide-img"><img src="@item.Pic" alt="" /></div>
                                                        </div>
                                                        <div class="travel-family-sw-museum">@item.Name</div>
                                                    </a>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else if (map.familys != null && map.familys.Count > 1)
                    {
                        <div class="travel-family-museum-box museum-sw-box museumArea@(map.Aid)" data-num="@(map.Aid)">
                            <div class="travel-family-sw-box">
                                <div class="travel-family-sw-place">@map.Name</div>
                                <div class="swiper-containe travel-family-sw" id="travelFamilySw@(map.Aid)">
                                    <div class="swiper-wrapper">
                                        @if (map.familys != null && map.familys.Count > 0)
                                        {
                                            foreach (var item in map.familys)
                                            {
                                                <div class="swiper-slide">
                                                    <a class="museum-slide" href="@Url.Action("TravelFamilyCont", "Travel", new { Familyid = item.FamilyId })">
                                                        <div class="museum-slide-img-box">
                                                            <div class="museum-slide-img"><img src="@item.Pic" alt="" /></div>
                                                        </div>
                                                        <div class="travel-family-sw-museum">@item.Name</div>
                                                    </a>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="swiper-button-prev" id="familySwPrev@(map.Aid)"><i class="fas fa-caret-left"></i></div>
                                <div class="swiper-button-next" id="familySwNext@(map.Aid)"><i class="fas fa-caret-right"></i></div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>
<div class="travel-family-boder"><img src="~/img/bg_family_map_bot.png" alt="" /></div>
<script src="~/js/travel_fmailySw.js"></script>
