﻿@using VirtualMuseum.Controllers.Base
@using System.Web.Configuration
@model DataAccess.Domain.Travel.TravelBlogEdit

@{
    BaseController controller = ViewContext.Controller as BaseController;
    if (controller == null)
    {
        throw new ApplicationException("Controller 必須繼承自 MyControllerBase.");
    }

    Layout = "~/Views/Shared/_TravelLayout.cshtml";
}

<div class="travel-area">
    <div class="travel-bread-area">
        <a href="@Url.Action("Travel")">首頁</a> / <span>新增文章</span>
    </div>
</div>
<div class="travel-area">
    <div class="travel-cont">
        <div class="travel-page-tit-area travel-blog-edit-tit-area">
            <h2>撰寫部落格文章</h2>
        </div>
        <form id="form" action="@Url.Action("EditTravelBlog")" method="post">
            @*防偽造*@
            @Html.AntiForgeryToken()
            <div class="travel-blog-edit-cont">
                <div class="travel-blog-edit-txt-cont">
                    <input type="hidden" id="Blogid" name="Blogid" value="@Model.Cont.Blogid"/>
                    <div class="blog-edit-box">
                        <div class="blog-edit-tit">
                            <label for="tit">文章標題</label><span class="note"><i class="fas fa-exclamation-circle"></i> 建議字數為20個中文內</span>
                        </div>
                        <div class="blog-input-box">
                            <input class="required blog-input-sty" type="text" id="tit" name="tit" placeholder="文章標題" value="@Model.Cont.Title" />
                        </div>
                    </div>
                    <div class="blog-edit-box">
                        <div class="blog-edit-tit">
                            <label for="des">文章簡述</label><span class="note"><i class="fas fa-exclamation-circle"></i> 將顯示於部落格列表頁</span>
                        </div>
                        <div class="blog-input-box">
                            <input class="required blog-input-sty" type="text" id="des" name="des" placeholder="文章簡述" value="@Model.Cont.Describe" />
                        </div>
                    </div>
                    <div class="blog-edit-box">
                        <div class="blog-edit-tit">
                            <label for="blogType">選擇分類</label>
                        </div>
                        <div class="blog-edit-check-box">
                            @if (Model != null && Model.AllTypes != null && Model.AllTypes.Count > 0)
                            {
                                foreach (var item in Model.AllTypes)
                                {
                                    <label class="blog-edit-check" for="blogType@(item.Name)">
                                        <input type="checkbox" name="blogType@(item.Tid)" id="blogType@(item.Name)" value="@item.Tid" @(item.Owned ? "checked" : "") />
                                        <div class="check-box fas"></div><span>@item.Name</span>
                                    </label>
                                }
                            }
                        </div>
                    </div>
                    <div class="blog-edit-box">
                        <div class="blog-edit-tit">
                            <label for="banner">上傳封面圖</label><span class="note"><i class="fas fa-exclamation-circle"></i> 建議尺寸 800 x 350以上</span>
                        </div>
                        <div class="blog-edit-img">
                            <input class="@(Model.Cont.BGPic != null && Model.Cont.BGPic.Length > 0 ? "" : "required")" type="file" name="banner" id="banner" />
                            @if (Model.Cont.BGPic != null && Model.Cont.BGPic.Length > 0)
                            {
                                <img src="@Model.Cont.BGPic" id="bannerPreview" alt="" />
                            }
                        </div>
                    </div>
                    <div id="file_content">

                    </div>
                    <div id="blogSortArea">
                        @if (Model != null && Model.Cont.Additions != null && Model.Cont.Additions.Count > 0)
                        {
                            foreach (var add in Model.Cont.Additions)
                            {
                                if (add.Type == "blogTit")
                                {
                                    for (int i = 0; i < Model.Cont.blogsTit.Count; i++)
                                    {
                                        if (Model.Cont.blogsTit[i].Typeid == add.Typeid)
                                        {
                                            <!-- 標題-->
                                            <div class="blog-edit-box" data-nonum="2">
                                                <div class="blog-edit-tit blog-edit-sort-tit">
                                                    <label for="oldblogTit@(Model.Cont.blogsTit[i].Typeid)">段落標題</label>
                                                    <div class="sort-box">
                                                        <div class="icon sort"><i class="fas fa-bars"></i></div>
                                                        <div class="icon del"><i class="fas fa-times"></i></div>
                                                    </div>
                                                </div>
                                                <div class="blog-input-box">
                                                    <input class="required blog-input-sty" type="text" id="oldblogTit@(Model.Cont.blogsTit[i].Typeid)" name="oldblogTit@(Model.Cont.blogsTit[i].Typeid)" placeholder="段落標題" value="@Model.Cont.blogsTit[i].Title" />
                                                </div>
                                            </div>
                                            break;
                                        }
                                    }
                                }
                                if (add.Type == "blogCont")
                                {
                                    for (int i = 0; i < Model.Cont.blogsCont.Count; i++)
                                    {
                                        if (add.Typeid == Model.Cont.blogsCont[i].Typeid)
                                        {
                                            <!-- 內文-->
                                            <div class="blog-edit-box" data-nonum="6">
                                                <div class="blog-edit-tit blog-edit-sort-tit">
                                                    <label for="oldblogCont@(Model.Cont.blogsCont[i].Typeid)">段落</label>
                                                    <div class="sort-box">
                                                        <div class="icon sort"><i class="fas fa-bars"></i></div>
                                                        <div class="icon del"><i class="fas fa-times"></i></div>
                                                    </div>
                                                </div>
                                                <div class="blog-input-box">
                                                    <textarea class="blog-edit-textarea required" id="oldblogCont@(Model.Cont.blogsCont[i].Typeid)" name="oldblogCont@(Model.Cont.blogsCont[i].Typeid)" placeholder="段落內容...">@Model.Cont.blogsCont[i].Content</textarea>
                                                    <div class="blog-edit-sel-box">
                                                        <div class="tit">字級</div>
                                                        <select class="travel-sel" id="oldblogContSize@(Model.Cont.blogsCont[i].Typeid)" name="oldblogContSize@(Model.Cont.blogsCont[i].Typeid)">
                                                            <option value="1" @(Model.Cont.blogsCont[i].Font == "14px" ? "selected" : "")>14px</option>
                                                            <option value="2" @(Model.Cont.blogsCont[i].Font == "16px" ? "selected" : "")>16px</option>
                                                            <option value="3" @(Model.Cont.blogsCont[i].Font == "18px" ? "selected" : "")>18px</option>
                                                            <option value="4" @(Model.Cont.blogsCont[i].Font == "20px" ? "selected" : "")>20px</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            break;
                                        }
                                    }
                                }
                                if (add.Type == "blogImg")
                                {
                                    for (int i = 0; i < Model.Cont.blogsImg.Count; i++)
                                    {
                                        if (add.Typeid == Model.Cont.blogsImg[i].Typeid)
                                        {
                                            <div class="blog-edit-box" data-nonum="9">
                                                <div class="blog-edit-tit blog-edit-sort-tit">
                                                    <label for="oldblogImg@(Model.Cont.blogsImg[i].Typeid)">插入圖片</label>
                                                    <div class="sort-box">
                                                        <div class="icon sort"><i class="fas fa-bars"></i></div>
                                                        <div class="icon del"><i class="fas fa-times"></i></div>
                                                    </div>
                                                </div>
                                                <div class="blog-edit-img">
                                                    <input type="file" name="oldblogImg@(Model.Cont.blogsImg[i].Typeid)" id="oldblogImg@(Model.Cont.blogsImg[i].Typeid)" style="width:0px;height:0px;" />
                                                    <img src="@Model.Cont.blogsImg[i].Pic" alt=""/>
                                                </div>
                                                <div class="blog-input-box">                                                    
                                                    <input class="blog-input-sty" type="text" id="oldblogImgLinkTxt@(Model.Cont.blogsImg[i].Typeid)" name="oldblogImgLinkTxt@(Model.Cont.blogsImg[i].Typeid)" placeholder="輸入圖片說明" value="@Model.Cont.blogsImg[i].LinkTxt" />
                                                    <input class="blog-input-sty" type="text" id="oldblogImgLink@(Model.Cont.blogsImg[i].Typeid)" name="oldblogImgLink@(Model.Cont.blogsImg[i].Typeid)" placeholder="輸入連結 ex: https://xxx.com.tw" value="@Model.Cont.blogsImg[i].Link" />
                                                </div>
                                                <div class="blog-edit-sel-box">
                                                    <div class="note-box"><span class="note"><i class="fas fa-exclamation-circle"></i> 如圖檔寬度大於730px，將以滿版呈現</span><span class="note"><i class="fas fa-exclamation-circle"></i> 圖檔僅支援png、jpg、gif等格式</span></div>
                                                    <select class="travel-sel travel-sel-place" id="oldblogImgPlace@(Model.Cont.blogsImg[i].Typeid)" name="oldblogImgPlace@(Model.Cont.blogsImg[i].Typeid)">
                                                        <option value="1" @(Model.Cont.blogsImg[i].Layout == 1 ? "selected" : "")>置左</option>
                                                        <option value="2" @(Model.Cont.blogsImg[i].Layout == 2 ? "selected" : "")>置中</option>
                                                        <option value="3" @(Model.Cont.blogsImg[i].Layout == 3 ? "selected" : "")>置右</option>
                                                    </select>
                                                </div>
                                            </div>
                                            break;
                                        }
                                    }
                                }
                                if (add.Type == "linkTxt")
                                {
                                    for (int i = 0; i < Model.Cont.blogsLink.Count; i++)
                                    {
                                        if (add.Typeid == Model.Cont.blogsLink[i].Typeid)
                                        {
                                            <!-- 連結-->
                                            <div class="blog-edit-box" data-nonum="12">
                                                <div class="blog-edit-tit blog-edit-sort-tit">
                                                    <label for="oldlinkTxt@(Model.Cont.blogsLink[i].Typeid)">連結</label>
                                                    <div class="sort-box">
                                                        <div class="icon sort"><i class="fas fa-bars"></i></div>
                                                        <div class="icon del"><i class="fas fa-times"></i></div>
                                                    </div>
                                                </div>
                                                <div class="blog-input-box">
                                                    <input class="required blog-input-sty" type="text" id="oldlinkTxt@(Model.Cont.blogsLink[i].Typeid)" name="oldlinkTxt@(Model.Cont.blogsLink[i].Typeid)" placeholder="輸入文字" value="@Model.Cont.blogsLink[i].LinkTxt" />
                                                    <input class="required blog-input-sty" type="text" id="oldlink@(Model.Cont.blogsLink[i].Typeid)" name="oldlink@(Model.Cont.blogsLink[i].Typeid)" placeholder="輸入連結 ex: https://xxx.com.tw" value="@Model.Cont.blogsLink[i].Link" />
                                                </div>
                                            </div>
                                            break;
                                        }
                                    }
                                }
                                if (add.Type == "blogQuote")
                                {
                                    for (int i = 0; i < Model.Cont.blogsQuote.Count; i++)
                                    {
                                        if (add.Typeid == Model.Cont.blogsQuote[i].Typeid)
                                        {
                                            <!-- 引用-->
                                            <div class="blog-edit-box" data-nonum="13">
                                                <div class="blog-edit-tit blog-edit-sort-tit">
                                                    <label for="oldblogQuote@(Model.Cont.blogsQuote[i].Typeid)">引用</label>
                                                    <div class="sort-box">
                                                        <div class="icon sort"><i class="fas fa-bars"></i></div>
                                                        <div class="icon del"><i class="fas fa-times"></i></div>
                                                    </div>
                                                </div>
                                                <div class="blog-input-box">
                                                    <textarea class="blog-edit-textarea required" id="oldblogQuote@(Model.Cont.blogsQuote[i].Typeid)" name="oldblogQuote@(Model.Cont.blogsQuote[i].Typeid)" placeholder="引用內容...">@Model.Cont.blogsQuote[i].Content</textarea>
                                                </div>
                                            </div>
                                            break;
                                        }
                                    }
                                }
                            }
                        }
                    </div>
                </div>
                <div class="travel-blog-edit-side">
                    <div class="blog-edit-tit">文章工具</div>
                    <div class="blog-edit-btn-area">
                        <div class="blog-edit-btn" id="addTitBtn">
                            <div class="icon"><img src="~/img/icon_tit.svg" alt="" /></div><span>插入標題</span>
                        </div>
                        <div class="blog-edit-btn" id="addPartBtn">
                            <div class="icon"><img src="~/img/icon_p.svg" alt="" /></div><span>插入段落</span>
                        </div>
                        <div class="blog-edit-btn" id="addImgBtn">
                            <div class="icon"><img src="~/img/icon_img.svg" alt="" /></div><span>插入圖片</span>
                        </div>
                        <div class="blog-edit-btn" id="addLinkBtn">
                            <div class="icon"><img src="~/img/icon_url.svg" alt="" /></div><span>插入連結</span>
                        </div>
                        <div class="blog-edit-btn" id="addQuoteBtn">
                            <div class="icon"><img src="~/img/icon_quote.svg" alt="" /></div><span>插入引用</span>
                        </div>
                        <div class="blog-edit-btn blog-edit-cancle-btn mb-btn"><i class="fas fa-long-arrow-left"></i><span>取消返回</span></div>
                    </div>
                    <div class="blog-edit-cancle-btn pc-btn"><i class="fas fa-long-arrow-left"></i><span>取消返回</span></div>
                </div>
                <div class="btn-area">
                    <input type="hidden" value="" id="recaptcha" name="recaptcha" />
                    <div class="robet-box">
                        <div id="html_element"></div>
                        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
                                async defer>
                        </script>
                    </div>
                    <div class="travel-m-btn travel-orange-btn blog-submit-btn">
                        確認新增文章 <i class="fas fa-plus"></i>
                        <!--<input type="submit" />-->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/js/Sortable.min.js"></script>
<script src="~/js/travel_blogEdit.js"></script>
<script>
    var filesCount = 0;
    var indexCount = 0;

    var onloadCallback = function () {
        grecaptcha.render('html_element', {
            'sitekey': '@(WebConfigurationManager.AppSettings["Recaptcha_siteKey"])',
            callback: token => {
                $("#recaptcha").val(token);
                //console.log(token);
                //grecaptcha.reset();
            }
        });
    };
    $(function () {
        //尚未登入無法發表文章
        @if (controller.User.Identity.Name == null || controller.User.Identity.Name.Length <= 0)
        {
            <Text>
        alertTxt("您需要登入才能發文。如尚未成為會員請先註冊");
        $("#lightTxtClose").click(function () {
            top.location.href = "/Travel/Travel";
        });
            </Text>
        }

        var message = '@ViewBag.Error';
        if (message == "完成") {
            alertTxt("完成");
            $("#lightTxtClose").click(function () {
                top.location.href = "@Url.Action("TravelBlogList")";
            });
        } else if (message == "-21") {
            alertTxt('@GlobalRes.Site_message5');
            $("#lightTxtClose").click(function () {
                top.location.href = "@Url.Action("TravelBlogList")";
            });
        } else if (message.length > 0) {
            alertTxt('@ViewBag.Error');
        } else {
            var validator = $("#form").validate({
                submitHandler: function (form) {
                    //resetForm();
                    form.submit();
                }
            });
        }

        $('.blog-submit-btn').click(function () {
            var inputs = document.querySelectorAll('input[type=file]');
            filesCount = inputs.length;
            indexCount = 0;

            if (filesCount <= 0) {
                $("#form").submit();
            } else {
                for (var i = 0; i < inputs.length; i++) {
                    let file = inputs[i].files[0];
                    getBase64(file, inputs[i].name);
                }
            }
        });

        $('.blog-edit-cancle-btn').click(function () {
            top.location.href = '@Url.Action("TravelBlogList")';
        });
    });

    function getBase64(file, name) {
        try {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                console.log(reader.result);
                if (name == "banner") {
                    document.getElementById('bannerPreview').src = reader.result;
                }

                var input = document.createElement('input');
                input.type = "hidden";
                input.name = "input_" + name;
                input.id = "input_" + name;
                input.value = reader.result;
                document.getElementById('file_content').appendChild(input);
                indexCount++;

                if (indexCount == filesCount) {
                    $("#form").submit();
                }
            };
            reader.onerror = function (error) {
                console.log('Error: ', error);
                var input = document.createElement('input');
                input.type = "hidden";
                input.name = "input_" + name;
                input.id = "input_" + name;
                input.value = "";
                document.getElementById('file_content').appendChild(input);
                indexCount++;

                if (indexCount == filesCount) {
                    $("#form").submit();
                }
            };
        } catch (e) {
            var input = document.createElement('input');
            input.type = "hidden";
            input.name = "input_" + name;
            input.id = "input_" + name;
            input.value = "";
            document.getElementById('file_content').appendChild(input);
            indexCount++;

            if (indexCount == filesCount) {
                $("#form").submit();
            }
        }
    }
</script>