﻿@using System.Text.RegularExpressions
@model DataAccess.Domain.Travel.Travel

@{
    Layout = "~/Views/Shared/_TravelLayout.cshtml";
}
<div class="page">
    <div class="travel-banner-area">
        <div class="travel-banner-cont travel-banner-arrow">
            <div class="book-top"><img src="~/img/book_cover_top.png" alt="" /></div>
            <div class="book-bottom"><img src="~/img/book_cover_bottom.png" alt="" /></div>
            <div class="swiper-containe
                    travel-banner" id="travelSwiper">
                <div class="swiper-wrapper">
                    @if (Model != null && Model.banner != null && Model.banner.Count > 0)
                    {
                        foreach (var item in Model.banner)
                        {
                            <div class="swiper-slide"><a class="travel-banner-img" href="@item.Url"><img src="@item.Pic" alt="" /></a></div>
                        }
                    }
                </div>
                <div class="swiper-pagination" id="bookPage"></div>
            </div>
            <div class="swiper-button-prev" id="bookPrev"></div>
            <div class="swiper-button-next" id="bookNext"></div>
        </div>
    </div>

    <div class="travel-area travel-bg01">
        <div class="bg-pattern pattern01"></div>
        <div class="bg-pattern pattern02"></div>
        <section class="travel-cont
                travel-cont-box">
            <div class="travel-tit">
                <span>還不知道怎麼做嗎？別擔心</span>
                <h2>推薦你來體驗</h2>
            </div>
            <div class="travel-recommon-area">
                <a class="travel-recommon-cont" href="@Url.Action("TravelThemeList")">
                    <div class="travel-recommon-box">
                        <div class="travel-recommon-tit">
                            <h3>自己走走</h3><span>各種主題散步路線，一手掌握。</span>
                            <div class="icon"><img src="~/img/wh_arrow_r.svg" alt="" /></div>
                        </div><img class="bg" src="~/img/bg_go01.png" alt="" />
                    </div>
                </a><a class="travel-recommon-cont" href="@Url.Action("TravelEventMap")">
                    <div class="travel-recommon-box">
                        <div class="travel-recommon-tit">
                            <h3>活動月曆</h3><span>各大館舍、實體展覽推薦。</span>
                            <div class="icon"><img src="~/img/wh_arrow_r.svg" alt="" /></div>
                        </div><img class="bg" src="~/img/bg_go02.png" alt="" />
                    </div>
                </a><a class="travel-recommon-cont" href="@Url.Action("TravelFamilyList")">
                    <div class="travel-recommon-box">
                        <div class="travel-recommon-tit">
                            <h3>家族走走</h3><span>各大館舍、實體展覽推薦。</span>
                            <div class="icon"><img src="~/img/wh_arrow_r.svg" alt="" /></div>
                        </div><img class="bg" src="~/img/bg_go03.png" alt="" />
                    </div>
                </a>
            </div>
        </section>
    </div>
    <div class="travel-area travel-bg02">
        <div class="cloud cloud01"></div>
        <div class="cloud cloud02"></div>
        <section class="travel-cont
                travel-cont-box">
            <div class="travel-tit-box">
                <div class="travel-tit">
                    <div class="butterfly01"></div>
                    <div class="butterfly02"></div><span>掌握HOT消息</span>
                    <h2>最新資訊</h2>
                </div>
            </div>
            @if (Model != null && Model.news != null && Model.news.Count > 0)
            {
                <div class="travel-theme-banner">
                    <div class="travel-theme-tab">最新資訊</div>
                    <a class="travel-theme-banner-img" href="@Url.Action("TravelNewsCont", "Travel", new { Nid = @Model.news[0].Nid })">
                        <img src="@Model.news[0].Pic" alt="" />
                    </a>
                    <div class="travel-theme-banner-cont">
                        <a class="travel-theme-txt" href="@Url.Action("TravelNewsCont", "Travel", new { Nid = @Model.news[0].Nid })">
                            <div class="date">@Model.news[0].Createtime.ToString("yyyy.MM.dd")</div>
                            <div class="tit">@Model.news[0].Title</div>
                            <div class="txt">
                                @Html.Raw(@Regex.Replace(Model.news[0].Content, @"<[^>]*(>|$)|&nbsp;|&zwnj;|&raquo;|&laquo;|&rarr;|&mdash;", String.Empty))
                            </div>
                        </a>
                        @if (Model.news[0].Tags.Count > 0)
                        {
                            <div class="travel-tag-area">
                                @foreach (var item in Model.news[0].Tags)
                                {
                                    <a href="@Url.Action("TravelNewsSrcTagList", "Travel", new { Tagid = item.Tagid })">#@item.Tagname </a>
                                }
                            </div>
                        }
                    </div>
                </div>
            }
            @if (Model != null && Model.news != null && Model.news.Count > 1)
            {
                <div class="travel-theme-area">
                    @for (int i = 1; i < Model.news.Count; i++)
                    {
                        <div class="travel-theme-box">
                            <div class="travel-theme-tab">最新資訊</div>
                            <a class="travel-theme" href="@Url.Action("TravelNewsCont", "Travel", new { Nid = @Model.news[i].Nid })">
                                <div class="travel-theme-box-img">
                                    <img src="@Model.news[i].Pic" alt="" />
                                </div>
                                <div class="travel-theme-txt">
                                    <div class="date">@Model.news[i].Createtime.ToString("yyyy.MM.dd")</div>
                                    <div class="tit">@Model.news[i].Title</div>
                                </div>
                            </a>
                            @if (Model.news[i].Tags.Count > 0)
                            {
                                <div class="travel-tag-area">
                                    @foreach (var item in Model.news[i].Tags)
                                    {
                                        <a href="@Url.Action("TravelNewsSrcTagList", "Travel", new { Tagid = item.Tagid })">#@item.Tagname</a>
                                    }
                                </div>
                            }
                        </div>
                    }
                </div>
            }
            <div class="travel-theme-more">
                <a href="@Url.Action("TravelNewsList")">
                    <span>觀看更多內容</span><img src="~/img/brown_arrow_r.svg" alt="" />
                </a>
            </div>
        </section>
    </div>
    <div class="travel-new-bg-bottom"></div>
    <div class="travel-area travel-bg02">
        <div class="cloud cloud01"></div>
        <div class="cloud
                cloud02"></div>
        <section class="travel-cont travel-cont-box">
            <div class="travel-tit-box">
                <div class="travel-tit">
                    <div class="butterfly01"></div>
                    <div class="butterfly02"></div><span>尋找靈感</span>
                    <h2>更多的精選內容</h2>
                </div>
            </div>
            @if (Model != null && Model.routes != null && Model.routes.Count > 0)
            {
                <div class="travel-theme-banner">
                    <a class="travel-theme-banner-img" href="@Url.Action("TravelRouteCont", "Travel", new { Routeid = @Model.routes[0].Routeid })">
                        <img src="@Model.routes[0].Pic" alt="" />
                    </a>
                    <div class="travel-theme-banner-cont">
                        <a class="travel-theme-txt" href="@Url.Action("TravelRouteCont", "Travel", new { Routeid = @Model.routes[0].Routeid })">
                            <div class="date">@Model.routes[0].Createtime.ToString("yyyy.MM.dd")</div>
                            <div class="tit">@Model.routes[0].Title</div>
                            <div class="txt">
                                @Html.Raw(@Regex.Replace(Model.routes[0].Content, @"<[^>]*(>|$)|&nbsp;|&zwnj;|&raquo;|&laquo;|&rarr;|&mdash;", String.Empty))
                            </div>
                        </a>
                        @if (Model.routes[0].Tags.Count > 0)
                        {
                            <div class="travel-tag-area">
                                @foreach (var item in Model.routes[0].Tags)
                                {
                                    <a href="@Url.Action("TravelRouteSrcTagList", "Travel", new { Tagid = @item.Tagid })">#@item.Tagname </a>
                                }
                            </div>
                        }
                    </div>
                </div>
            }
            @if (Model != null && Model.routes != null && Model.routes.Count > 1)
            {
                <div class="travel-theme-area">
                    @for (int i = 1; i < Model.routes.Count; i++)
                    {
                        <div class="travel-theme-box">
                            <a class="travel-theme" href="@Url.Action("TravelRouteCont", "Travel", new { Routeid = @Model.routes[i].Routeid })">
                                <div class="travel-theme-box-img">
                                    <img src="@Model.routes[i].Pic" alt="" />
                                </div>
                                <div class="travel-theme-txt">
                                    <div class="date">@Model.routes[i].Createtime.ToString("yyyy.MM.dd")</div>
                                    <div class="tit">@Model.routes[i].Title</div>
                                </div>
                            </a>
                            @if (Model.routes[i].Tags.Count > 0)
                            {
                                <div class="travel-tag-area">
                                    @foreach (var item in Model.routes[i].Tags)
                                    {
                                        <a href="@Url.Action("TravelRouteSrcTagList", "Travel", new { Tagid = @item.Tagid })">#@item.Tagname</a>
                                    }
                                </div>
                            }
                        </div>
                    }
                </div>
            }
            <div class="travel-theme-more">
                <a href="@Url.Action("TravelThemeList")">
                    <span>觀看更多內容</span><img src="~/img/brown_arrow_r.svg" alt="" />
                </a>
            </div>
        </section>
    </div>
    <div class="travel-area travel-bg03">
        <div class="cloud cloud03"></div>
        <div class="cloud cloud04"></div>
        <section class="travel-cont">
            <div class="travel-tit-box">
                <div class="travel-tit">
                    <span>關於我們</span>
                    <h2>
                        全國文學地景網
                    </h2>
                </div>
            </div>
            <div class="travel-about">
                以「臺灣文學連結生活」為主軸，將作家或作品與在地生活的連結，從生活的面向如飲食、交通、環境等，設定以目標消費者感興趣的話題與主。
            </div>
            <div class="travel-about-btn-area">
                <a class="travel-m-btn" href="https://nmtl.daoyidh.com/zh-tw/main/litvr?title=CARDlh">
                    <span>了解臺灣文學主題平台</span><i class="fal
                            fa-long-arrow-right"></i>
                </a><a class="travel-m-btn" href="https://www.nmtl.gov.tw">
                    <span>了解臺灣文學館</span><i class="fal
                            fa-long-arrow-right"></i>
                </a>
            </div>
        </section>
    </div>
</div>
<script>
    $(document).ready(function () {
        var travelSwiper = new Swiper('#travelSwiper', {
            slidesPerView: 1,
            spaceBetween: 0,
            //- initialSlide: 2,
            //- breakpoints: {
            //- 	1200: {
            //- 		slidesPerView: 5,
            //- 		spaceBetween: 30,
            //- 	},
            //- 	768: {
            //- 		slidesPerView: 4,
            //- 		spaceBetween: 20,
            //- 	},
            //- 	600: {
            //- 		slidesPerView: 3,
            //- 		spaceBetween: 20,
            //- 	},
            //- 	480: {
            //- 		slidesPerView: 2,
            //- 		spaceBetween: 20,
            //- 	},
            //- },
            navigation: {
                nextEl: '#bookNext',
                prevEl: '#bookPrev',
            },
            pagination: {
                el: '#bookPage',
                clickable: true,
            },
        });
    });
</script>
