﻿@using VirtualMuseum.Controllers.Base
@using System.Web.Configuration
@model DataAccess.Domain.Travel.TravelBlogList

@{
    string UrlDomain = WebConfigurationManager.AppSettings["apiDomain"];
    string lang = "zh";
    if (Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")
    {
        lang = "zh";
    }
    else
    {
        lang = "en";
    }
    BaseController controller = ViewContext.Controller as BaseController;
    if (controller == null)
    {
        throw new ApplicationException("Controller 必須繼承自 MyControllerBase.");
    }

    Layout = "~/Views/Shared/_TravelLayout.cshtml";
}

<form action="@Url.Action("TravelBlogList")" method="POST" id="form">
    <input type="hidden" name="type" id="type" value="" />
</form>

<div class="travel-area">
    <div class="travel-bread-area">
        <a href="@Url.Action("Travel")">首頁</a> / <span>部落格</span>
    </div>
    <div class="travel-page-tit-area">
        <h2>部落格</h2>
        <div class="tit-sup">用筆紀錄、寫下自己的文學</div>
    </div>
</div>
<div class="travel-area page-top-cover">
    <div class="travel-cont">
        <div class="travel-news-type-area blog-type-area">
            <div class="travel-news-type-box">
                <div class="tit">部落格分類</div>
                <select class="travel-sel" id="newsType" name="newsType">
                    <option value="all">全部</option>
                    @if (Model != null && Model.AllTypes != null && Model.AllTypes.Count > 0)
                    {
                        foreach (var type in Model.AllTypes)
                        {
                            <option value="@type.Tid" @(ViewBag.type == string.Format("{0}", type.Tid) ? "selected" : "")>@type.Name</option>
                        }
                    }
                </select>
            </div><a class="travel-m-btn travel-orange-btn" href="@Url.Action("TravelBlogEdit")">撰寫文章 <i class="fas fa-plus"></i></a>
        </div>
        <div class="travel-blog-list">
            <div class="blog-sizer"></div>
            <div class="blog-gutter-sizer"></div>
            @if (Model != null && Model.blogs != null && Model.blogs.Count > 0)
            {
                foreach (var blog in Model.blogs)
                {
                    <div class="travel-blog-box">
                        <a class="travel-blog-img" href="@Url.Action("TravelBlogCont", "Travel", new { Blogid = blog.Blogid })">
                        <img src="@blog.BGPic" alt="" /></a>
                        <div class="travel-blog-date">
                            <div class="date">@blog.Createtime.ToString("yyyy.MM.dd")</div>
                            <div class="name-box">
                                <div class="name">by <span>@blog.Nickname</span></div>
                                <div blogid="@blog.Blogid" class="icon icon-heart @(blog.mySubscribe == 1 ? "on" : "")"></div>
                            </div>
                        </div><a class="travel-theme-txt" href="@Url.Action("TravelBlogCont", "Travel", new { Blogid = blog.Blogid })">
                            <div class="tit">@blog.Title</div>
                            <div class="txt">@blog.Describe</div>
                        </a>
                        <div class="travel-page-info">
                            <div class="info">@blog.Click 次點閱</div>
                            <div class="info">
                                <div class="icon"><img src="~/img/icon_info_collect.svg" alt="" /></div>
                                <div class="txt">@blog.Subscribes</div>
                            </div>
                            <div class="share-btn-box">
                                <iframe src="https://www.facebook.com/plugins/like.php?href=@(HttpUtility.UrlEncode(UrlDomain+Url.Action("TravelBlogCont", "Travel", new { Blogid = blog.Blogid, lang=lang })))&width=112&layout=button_count&action=like&size=small&share=true&height=46&appId=@(WebConfigurationManager.AppSettings["Facebook_appId"])" width="112" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                <!--
    <a class="sbtn" href="###">
        <i class="far fa-check"></i>讚 <span>234</span>
        </a>
    <a class="sbtn" href="###">分享</a>
        -->
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<script src="~/js/masonry.pkgd.min.js"></script>
<script>
    $(document).ready(function () {
        //=== 收藏文章 ===
        $(document).on('click', '.icon-heart', function () {
            //var hasOn = $(this).hasClass('on');
            //hasOn ? $(this).removeClass('on') : $(this).addClass('on');
            setSubscribe($(this).attr("blogid"));
        });

        $("#newsType").change(function () {
            $("#form").find("#type").val($("#newsType").val());
            $("#form").submit();
        });
    });
    $(window).on('load', function () {
        //- console.log('findDone');
        $('.travel-blog-list').masonry({
            // options...
            itemSelector: '.travel-blog-box',//流瀑物件
            columnWidth: '.blog-sizer',//抓取寬度
            gutter: '.blog-gutter-sizer',//物件間隔
            horizontalOrder: true,//是否照順序橫排
            //- percentPosition: true,
        });
    });

    function setSubscribe(Blogid) {
        var headers = {};
        var data = {};
        data.Blogid = Blogid;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("TravelBlogSubscribe")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                if (result["Code"] == 1) {
                    //成功
                    $(".icon-heart").each(function () {
                        if ($(this).attr("blogid") == result["Message"]) {
                            var hason = $(this).hasClass('on');
                            if (hason) {
                                $(this).removeClass("on");
                            } else {
                                $(this).addClass("on");
                            }
                        }
                    });
                } else {
                    //失敗
                    alertTxt("您需要登入才能收藏。如尚未成為會員請先註冊");
                }
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }
</script>
