﻿@using VirtualMuseum.Controllers.Base
@using System.Web.Configuration
@using System.Text.RegularExpressions
@model DataAccess.Domain.Travel.TravelRouteCont

@{
    string UrlDomain = WebConfigurationManager.AppSettings["apiDomain"];
    if (UrlDomain.ToCharArray()[UrlDomain.Length - 1] == '/')
    {
        UrlDomain = UrlDomain.Substring(0, UrlDomain.Length - 1);
    }

    string lang = "zh";
    if (Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")
    {
        lang = "zh";
    }
    else
    {
        lang = "en";
    }

    BaseController controller = ViewContext.Controller as BaseController;
    if (controller == null)
    {
        throw new ApplicationException("Controller 必須繼承自 MyControllerBase.");
    }

    Layout = "~/Views/Shared/_TravelLayout.cshtml";
}

@section SeoRender{
    @{
        <meta property="og:title" content="@Model.Name" />
        <meta property="og:description" content="@(Regex.Replace(Model.Content, "<.*?>", String.Empty))" />
        <meta property="og:image" content="@(UrlDomain+(Model.Pics==null||Model.Pics.Count<=0?"/img/default_src.jpg":Model.Pics[0]))" />
        <meta property="og:url" content="@(UrlDomain+Url.Action("TravelRouteCont", "Travel", new { Routeid=Model.Routeid, lang=lang }))" />
        <meta property="fb:app_id" content="@(WebConfigurationManager.AppSettings["Facebook_appId"])" />
    }
}

@if (Model != null && Model.Attracts != null && Model.Attracts.Count > 0)
{
    for (int i = 0; i < Model.Attracts.Count; i++)
    {
        <div class="travel-route-popup-area" id="routePopup@(i + 1)">
            <div class="route-popup-close"></div>
            <div class="route-popup-img"><img src="@(Model.Attracts[i].Pic)" alt="" /></div>
            <div class="route-popup-cont">
                <div class="tit">
                    <div class="icon"><img src="~/img/icon_place.svg" alt="" /></div><span>@(Model.Attracts[i].Name)</span>
                </div>
                <div class="address">地址：@(Model.Attracts[i].Address)</div>
                <div class="cont">@Html.Raw(Model.Attracts[i].Content)</div>
                <div class="about">地景相關出版品/文宣品：@Html.Raw(Model.Attracts[i].AdLink)</div>
                <div class="data-from">資料出處：@Html.Raw(Model.Attracts[i].DataLink)</div>
            </div>
        </div>
    }
}

<div class="travel-area">
    <div class="travel-bread-area">
        <a href="@Url.Action("Travel")">首頁</a> / <a href="@Url.Action("TravelThemeList")">自己走走 - 主題路線</a> / <a href="@Url.Action("TravelRouteList", "Travel", new { Selfid = Model.Selfid })">@Model.SelfName</a> / <span>@Model.Name</span>
    </div>
    <div class="travel-page-tit-area">
        <h2>@Model.Name</h2>
        <div class="travel-page-info">
            <div class="info">by<span class="art">文學小編</span></div>
            <div class="info">@Model.Createtime.ToString("yyyy.MM.dd")</div>
            <div class="info">@Model.Click 次點閱</div>
            <div class="info">
                <div class="icon"><img src="~/img/icon_info_collect.svg" alt="" /></div>
                <div class="txt">@Model.Subscribes</div>
            </div>
            <div class="info">
                <div class="icon"><img src="~/img/icon_comment.svg" alt="" /></div>
                <div class="txt">@Model.MessageAmount</div>
            </div>
        </div>
    </div>
</div>
@if (Model != null && Model.Pics != null && Model.Pics.Count > 0)
{
    <div class="travel-page-main-banner" id="tMainBanner"><img src="@(Model.Pics[0])" alt="" /></div>
}
<div class="travel-page-banner-area">
    <div class="travel-banner-cont travel-banner-arrow">
        <div class="swiper-containe travel-page-banner" id="travelPageSwiper">
            <div class="swiper-wrapper">
                @if (Model != null && Model.Pics != null && Model.Pics.Count > 0)
                {
                    for (int i = 0; i < Model.Pics.Count; i++)
                    {
                        <div class="swiper-slide">
                            <div class="travel-page-img act"><img src="@(Model.Pics[i])" alt="" /></div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="swiper-button-prev" id="travelPagePrev"></div>
        <div class="swiper-button-next" id="travelPageNext"></div>
    </div>
</div>
<div class="travel-area">
    <div class="travel-cont travel-detail-cont">
        <div class="travel-page-cont">
            <div class="travel-page-txt-cont">
                <div class="travel-page-tit">主題介紹</div>
                <div class="travel-page-txt">
                    <div class="edit-box travel-edit-box">
                        @Html.Raw(Model.Content)
                    </div>
                </div>
                <div class="travel-route-area">
                    @if (Model != null && Model.Attracts != null && Model.Attracts.Count > 0)
                    {
                        for (int i = 0; i < Model.Attracts.Count; i++)
                        {
                            <div class="travel-route-box">
                                <div class="icon-scale" id="route@(i + 1)"></div>
                                <div class="travel-route-img"><img src="@(Model.Attracts[i].Pic)" alt="" /></div>
                                <div class="travel-route-cont">
                                    <div class="tit">@(Model.Attracts[i].Name)</div>
                                    <div class="address">@(Model.Attracts[i].Address)</div>
                                    <div class="cont">@Html.Raw(@Regex.Replace(Model.Attracts[i].Content, "<.*?>", String.Empty))</div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="travel-route-article-area">
                    <div class="travel-route-article-box">
                        <div class="tit">撰寫作者</div>
                        <div class="route-article">
                            <div class="icon"><img src="~/img/default_member.svg" alt="" /></div>
                            <div class="name">文學小編</div>
                        </div>
                        <div class="route-article-cont">以「臺灣文學連結生活」為主軸，將作家或作品與在地生活的連結</div>
                    </div>
                    <div class="travel-route-article-box">
                        <div class="tit">相關標籤</div>
                        <div class="travel-tag-area">
                            @if (Model != null && Model.Tags != null && Model.Tags.Count > 0)
                            {
                                foreach (var tag in Model.Tags)
                                {
                                    <a href="@Url.Action("TravelRouteSrcTagList", "Travel", new { Tagid = tag.Tagid })">#@(tag.Tagname) </a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="travel-page-side">
                <div class="travel-page-side-box">
                    <div class="travel-page-tit">路線評分</div>
                    <div class="travel-page-score-total">
                        <div class="icon"><img src="~/img/icon_star.svg" alt="" /></div>
                        <div class="score">@Model.Points 分</div>
                    </div>
                </div>
                <div class="travel-page-side-box">
                    <div class="travel-page-tit">推薦主題路線</div>
                    <div class="travel-theme-side-area">
                        @if (Model != null && Model.RecommandRoutes != null && Model.RecommandRoutes.Count > 0)
                        {
                            foreach (var item in Model.RecommandRoutes)
                            {
                                <a class="travel-theme-side-box" href="@Url.Action("TravelRouteCont", "Travel", new { Routeid = item.Routeid })">
                                    <img src="@item.Pic" alt="" />
                                    <div class="tit">@item.Name</div>
                                </a>
                            }
                        }
                    </div>
                </div>
                <!-- 電腦版-->
                <div class="travel-page-side-btn pc-show">
                    @if (Model.mySubscribe == 0)
                    {
                        <div id="btnSubscribe" routeid="@Model.Routeid" class="travel-m-btn"><i class="fas fa-heart"></i> 加入收藏</div>
                    }
                    else
                    {
                        <div id="btnSubscribe" routeid="@Model.Routeid" class="travel-m-btn act">
                            <i class="fas fa-heart"></i> 已加入收藏
                        </div>
                    }
                    @if (Model.GoogleMap != null && Model.GoogleMap.Length > 0)
                    {
                        <a class="travel-m-btn" href="@Model.GoogleMap" target="_blank">Google 地圖</a>
                    }
                    @if (Model != null && Model.Buttons != null && Model.Buttons.Count > 0)
                    {
                        foreach (var item in Model.Buttons)
                        {
                            <div class="travel-m-btn" onclick="window.open('@item.Pdf', '下載');  ">@item.Name</div>
                        }
                    }
                </div>
                <div class="travel-page-tool pc-show">
                    <div class="icon i-link" onclick="javascript:copyUrl();"></div>
                    <div class="icon i-fb" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('@(UrlDomain+Url.Action("TravelRouteCont", "Travel", new { Routeid = Model.Routeid }))'),'facebook-share-dialog','width=626,height=436'); return false;"></div>
                    <div class="icon i-line" onclick="window.open('https://social-plugins.line.me/lineit/share?url='+encodeURIComponent('@(UrlDomain+Url.Action("TravelRouteCont", "Travel", new { Routeid = Model.Routeid }))'),'line-share-dialog','width=626,height=436'); return false;"></div>
                    <div class="icon i-thumb" onclick="window.open('https://www.facebook.com/plugins/like.php?href='+encodeURIComponent('@(UrlDomain+Url.Action("TravelRouteCont", "Travel", new { Routeid = Model.Routeid }))'),'facebook-like-dialog','width=626,height=436'); return false;"></div>
                </div>
            </div>
            <div class="btn-area"><a class="travel-m-btn" href="@Url.Action("TravelRouteList", "Travel", new { Selfid = Model.Selfid })"><i class="far fa-chevron-left"></i> 返回路線列表</a></div>
            <!-- 手機版-->
            <div class="travel-page-tool mb-fix-bot">
                <div class="mb-list-area">
                    <div class="mb-icon-box">
                        <div class="icon i-link" onclick="javascript:copyUrl();"></div>
                        <div class="icon i-fb" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('@(UrlDomain+Url.Action("TravelRouteCont", "Travel", new { Routeid = Model.Routeid }))'),'facebook-share-dialog','width=626,height=436'); return false;"></div>
                        <div class="icon i-line" onclick="window.open('https://social-plugins.line.me/lineit/share?url='+encodeURIComponent('@(UrlDomain+Url.Action("TravelRouteCont", "Travel", new { Routeid = Model.Routeid }))'),'line-share-dialog','width=626,height=436'); return false;"></div>
                        <div class="icon i-thumb" onclick="window.open('https://www.facebook.com/plugins/like.php?href='+encodeURIComponent('@(UrlDomain+Url.Action("TravelRouteCont", "Travel", new { Routeid = Model.Routeid }))'),'facebook-like-dialog','width=626,height=436'); return false;"></div>
                    </div>
                    <div class="mb-list-box" id="mbList">
                        <div class="mb-list">
                            @if (Model != null && Model.Buttons != null && Model.Buttons.Count > 0)
                            {
                                foreach (var item in Model.Buttons)
                                {
                                    <a class="btn" href="@item.Pdf">@item.Name</a>
                                }
                            }
                            <div class="btn close" id="mbListClose">關閉</div>
                        </div>
                    </div>
                </div>
                <div class="mb-btn-box">
                    @if (Model.mySubscribe == 0)
                    {
                        <div id="btnSubscribe1" routeid="@Model.Routeid" class="btn"><i class="fas fa-heart"></i><span>加入收藏</span></div>
                    }
                    else
                    {
                        <div id="btnSubscribe1" routeid="@Model.Routeid" class="btn act"><i class="fas fa-heart"></i><span>已加入收藏</span></div>
                    }
                    @if (Model.GoogleMap != null && Model.GoogleMap.Length > 0)
                    {
                        <a class="btn" href="@Model.GoogleMap" target="_blank"><span>Google地圖</span></a>
                    }
                    <div class="btn" id="mbListOpen"><span>學習清單</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="travel-area travel-pagebg02">
    <div class="travel-cont">
        <div class="travel-page-more-cont">
            <div class="tit">猜你應該會喜歡的內容</div>
            <div class="travel-morelike-sw-area">
                <div class="swiper-containe travel-morelike-sw" id="travelMoreSwiper">
                    <div class="swiper-wrapper">
                        @if (Model != null && Model.YouLikeRoutes != null && Model.YouLikeRoutes.Count > 0)
                        {
                            foreach (var item in Model.YouLikeRoutes)
                            {
                                <div class="swiper-slide">
                                    <div class="travel-theme-box">
                                        <a class="travel-theme" href="@Url.Action("TravelRouteCont", "Travel", new { Routeid = item.Routeid })">
                                            <div class="travel-theme-box-img"><img src="@item.Pic" alt="" /></div>
                                            <div class="travel-theme-txt">
                                                <div class="date">@item.Createtime.ToString("yyyy.MM.dd")</div>
                                                <div class="tit">@item.Name</div>
                                            </div>
                                        </a>
                                        <div class="travel-tag-area">
                                            @if (item.Tags != null && item.Tags.Count > 0)
                                            {
                                                foreach (var tag in item.Tags)
                                                {
                                                    <a href="@Url.Action("TravelRouteSrcTagList", "Travel", new { Tagid = tag.Tagid })">#@(tag.Tagname)</a>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="travel-page-cont">
            <div class="travel-page-txt-cont">
                <div class="travel-page-tit">評論</div>
                <div class="travel-page-common-area">
                    <div class="travel-page-common-user @(controller.User.Identity.Name == null || controller.User.Identity.Name.Length <= 0 ? "unlog" : "")">
                        <div class="user-img"><img src="@(Response.Cookies["Login_Pic"] != null && Response.Cookies["Login_Pic"].Value != null && Response.Cookies["Login_Pic"].Value.Length > 0 ? Response.Cookies["Login_Pic"].Value : "/img/default_member.svg")" alt="" /></div>
                        <div class="travel-page-common-cont">
                            @if (controller.User.Identity.Name == null || controller.User.Identity.Name.Length <= 0)
                            {
                                <!--  未登入-->
                                <div class="travel-page-common-note">您需要<a href="@Url.Action("Login", "Account")">登入</a>才能留言。如尚未成為會員，請先<a href="@Url.Action("Register", "Account")">註冊</a>。</div>
                            }
                            else
                            {
                                <form id="askForm" method="post" action="@Url.Action("QAReply2")">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="Routeid" id="Routeid" value="@Model.Routeid" />
                                    <!--  登入後-->
                                    <div class="page-common-star-box">
                                        <div class="star">
                                            <input class="star-input" type="checkbox" id="star1" name="star" value="1" />
                                            <div class="star-c fas"></div>
                                        </div>
                                        <div class="star">
                                            <input class="star-input" type="checkbox" id="star2" name="star" value="2" />
                                            <div class="star-c fas"></div>
                                        </div>
                                        <div class="star">
                                            <input class="star-input" type="checkbox" id="star3" name="star" value="3" />
                                            <div class="star-c fas"></div>
                                        </div>
                                        <div class="star">
                                            <input class="star-input" type="checkbox" id="star4" name="star" value="4" />
                                            <div class="star-c fas"></div>
                                        </div>
                                        <div class="star">
                                            <input class="star-input" type="checkbox" id="star5" name="star" value="5" />
                                            <div class="star-c fas"></div>
                                        </div>
                                    </div>
                                    <div class="travel-page-common-input">
                                        <input name="sendMsg" id="sendMsg" type="text" placeholder="留言..." />
                                        <div class="sumbit"><img src="~/img/brown_arrow_r.svg" alt="" /></div>
                                    </div>
                                    <input type="hidden" value="" id="recaptcha" name="recaptcha" />
                                    <div class="travel-page-robot-box">
                                        <div id="html_element"></div>
                                        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
                                                async defer>
                                        </script>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                    @if (Model != null && Model.Messages != null && Model.Messages.Count > 0)
                    {
                        foreach (var mess in Model.Messages)
                        {
                            <div class="travel-page-common-user req">
                                <div class="user-img"><img src="~/img/icon_t_user.svg" alt="" /></div>
                                <div class="travel-page-common-cont">
                                    <div class="page-common-req">
                                        <div class="info">
                                            <div class="name-box">
                                                <div class="name">@mess.NickName</div>
                                                <input type="hidden" value="@mess.Score" id="hiddenScore" />
                                                <div class="star-box">
                                                    @for (int i = 0; i < 5; i++)
                                                    {
                                                        if (mess.Score > i)
                                                        {
                                                            <i class="fas fa-star on"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="fas fa-star"></i>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <div class="cont">
                                                @if (mess.Display == 1)
                                                {
                                                    @mess.Editor
                                                }
                                                else
                                                {
                                                    <div class="reply-alert">此內容可能違反規定或涉嫌洗版，已將內容屏蔽</div>
                                                }
                                            </div>
                                        </div>
                                        <div class="date">@mess.Createtime.ToString("yyyy/MM/dd")</div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="travel-page-recommon">
                <a class="travel-recommon-cont" href="@Url.Action("TravelEventMap")">
                    <div class="travel-recommon-box">
                        <div class="travel-recommon-tit">
                            <h3>活動月曆</h3><span>各大館舍、實體展覽推薦。</span>
                            <div class="icon"><img src="~/img/wh_arrow_r.svg" alt="" /></div>
                        </div><img class="bg" src="~/img/bg_go02.png" alt="" />
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    var onloadCallback = function () {
        grecaptcha.render('html_element', {
            'sitekey': '@(WebConfigurationManager.AppSettings["Recaptcha_siteKey"])',
            callback: token => {
                $("#recaptcha").val(token);
                //console.log(token);
                //grecaptcha.reset();
            }
        });
    };
    var travelMoreSwiper;
    $(document).ready(function () {
        var travelPageSwiper = new Swiper('#travelPageSwiper', {
            slidesPerView: 5,
            spaceBetween: 20,
            //- initialSlide: 2,
            breakpoints: {
                1024: {
                    slidesPerView: 4,
                    spaceBetween: 20,
                },
                768: {
                    slidesPerView: 3,
                    spaceBetween: 10,
                },
                480: {
                    slidesPerView: 2,
                    spaceBetween: 10,
                },
            },
            navigation: {
                nextEl: '#travelPageNext',
                prevEl: '#travelPagePrev',
            },
            //- pagination: {
            //- 	el: '#ExPage',
            //- 	clickable: true,
            //- },
        });
        //=== 點選banner換圖 ===
        $('.travel-page-img').on('click', function () {
            $('.travel-page-img').removeClass('act');
            $(this).addClass('act');
            var actImgLink = $(this).find('img').attr('src');
            $('#tMainBanner').find('img').attr('src', actImgLink);
        });
        //- $('.travel-footer-area').addClass('bg2');
        //=== 星星評分 ===
        var starList = [
            { 'btn': '#star1', 'list': ['#star1'] },
            { 'btn': '#star2', 'list': ['#star1', '#star2'] },
            { 'btn': '#star3', 'list': ['#star1', '#star2', '#star3'] },
            { 'btn': '#star4', 'list': ['#star1', '#star2', '#star3', '#star4'] },
            { 'btn': '#star5', 'list': ['#star1', '#star2', '#star3', '#star4', '#star5'] }
        ];
        $.each(starList, function (ind, val) {
            var $btn = $(val.btn);
            $btn.on('click', function () {
                $('.star-input').prop('checked', false);
                $.each(val.list, function (ind, val) {
                    $(val).prop('checked', true);
                });
            });
        });

        //=== 景點popup ===
        var routeL = $('.travel-route-area').find('.travel-route-box').length;
        var routeList = [];
        for (var i = 1; i < routeL + 1; i++) {
            //- printf("%d ", i);
            routeList.push(i);
        }
        $.each(routeList, function (ind, val) {
            $('#route' + val).on('click', function () {
                $('#routePopup' + val).fadeIn(300);
                $('#mask').fadeIn(300);
                $('#routePopup' + val).find('.route-popup-cont').mCustomScrollbar();//內容滾輪
                bgTravelFix();
            });
            //- $('#routeSide'+val).on('click',function(){
            //-     $('#routePopup'+val).fadeIn(300);
            //-     $('#mask').fadeIn(300);
            //-     $('#routePopup'+val).find('.route-popup-cont').mCustomScrollbar();//內容滾輪
            //-     bgTravelFix();
            //- });
        })
        //== 關閉時消除滾輪 ==
        $('#mask,.route-popup-close').on('click', function () {
            $('.travel-route-popup-area,#mask').fadeOut(300);
            $('.route-popup-cont').mCustomScrollbar("destroy");
            bgTravelUnFix();
        });

        //== 手機學習單開啟 ==
        $('#mbListOpen').on('click', function () {
            $(this).addClass('act');
            $('#mbList').slideDown();
        });
        $('#mbListClose').on('click', function () {
            $('#mbListOpen').removeClass('act');
            $('#mbList').slideUp();
        });

        //== 手機猜你喜歡區塊 ==
        travelMoreArea();

        $("#btnSubscribe").on('click', function () {
            //var hasOn = $(this).hasClass('on');
            //hasOn ? $(this).removeClass('on') : $(this).addClass('on');
            setSubscribe($("#btnSubscribe").attr("routeid"));
        });

        $("#btnSubscribe1").on('click', function () {
            //var hasOn = $(this).hasClass('on');
            //hasOn ? $(this).removeClass('on') : $(this).addClass('on');
            setSubscribe($("#btnSubscribe1").attr("routeid"));
        });

        $('.sumbit').on('click', function (e) {
                var validator = $("#askForm").validate({
                    messages: {
                        sendMsg: {
                            required: "請填寫",
                        },
                    },
                    submitHandler: function (form) {
                        form.submit();
                    }
                });

                if ($("#askForm").find("#sendMsg").val().length > 200) {
                    alertTxt('@GlobalRes.Site_message2');
                    return;
                } else
                    $("#askForm").submit();
        });

    @if (ViewBag.QAResponse != null)
    {
        if (ViewBag.QAResponse == 0 || ViewBag.QAResponse == -1 || ViewBag.QAResponse == -2)
        {
        <Text>
            alertTxt('@GlobalRes.Site_message3');
        </Text>
        }
        else if (ViewBag.QAResponse == -4)
        {
        <Text>
            alertTxt('@GlobalRes.Site_message4');
        </Text>
        }
        else if (ViewBag.QAResponse == -21)
        {
        <Text>
            alertTxt('@GlobalRes.Site_message5');
        </Text>
        }
        else if (ViewBag.QAResponse == -3)
        {
        <Text>
            alertTxt("@GlobalRes.Site_message1");
            setTimeout(function () {
                top.location.href = '@Url.Action("Login", "Account")';
            }, 1000);
        </Text>
        }
        else
        {
        <Text>
            alertTxt('@GlobalRes.Site_message6');
        </Text>
            }
        }
    });

    $(window).resize(function () {
        //== 手機猜你喜歡區塊 ==
        travelMoreArea();
    });

    function bgTravelFix() {
        $('body').css({ 'overflow': 'hidden' });
        //- scTop = $(document).scrollTop();
        //- $('body').css({ 'top': -scTop, 'position': 'fixed', 'width': '100%' });
    }
    function bgTravelUnFix() {
        $('body').removeAttr('style');
        //- $('html,body').animate({ scrollTop: scTop }, 0);
    }

    //== 手機猜你喜歡區塊 ==
    function travelMoreArea() {
        var windowW = $(window).width();
        if (windowW > 767) {
            //== 電腦版不需要sw，如果有啟動要取消 ==
            if (!!travelMoreSwiper) {
                travelMoreSwiper.destroy();
            }
        } else {
            //== 如果沒有啟動sw在執行 ==
            if (!travelMoreSwiper || travelMoreSwiper.destroyed == true) {
                travelMoreSwiper = new Swiper('#travelMoreSwiper', {
                    slidesPerView: 1,
                    spaceBetween: 20,
                    initialSlide: 1
                });
            }
        }
    }

    function copyUrl() {
        navigator.clipboard.writeText('@(UrlDomain+Url.Action("TravelRouteCont", "Travel", new { Routeid = Model.Routeid }))');
    }

    function setSubscribe(Routeid) {
        var headers = {};
        var data = {};
        data.Routeid = Routeid;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("TravelRouteSubscribe")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                if (result["Code"] == 1) {
                    //成功
                    if ($("#btnSubscribe").attr("routeid") == result["Message"]) {
                        var hason = $("#btnSubscribe").hasClass('act');
                        if (hason) {
                            $("#btnSubscribe").removeClass("act");
                            $("#btnSubscribe").html("<i class=\"fas fa-heart\"></i> 加入收藏");
                        } else {
                            $("#btnSubscribe").addClass("act");
                            $("#btnSubscribe").html("<i class=\"fas fa-heart\"></i> 已加入收藏");
                        }
                    }
                    if ($("#btnSubscribe1").attr("routeid") == result["Message"]) {
                        var hason = $("#btnSubscribe1").hasClass("act");
                        if (hason) {
                            $("#btnSubscribe1").removeClass("act");
                            $("#btnSubscribe1").html("<i class=\"fas fa-heart\"></i><span>加入收藏</span>");
                        } else {
                            $("#btnSubscribe1").addClass("act");
                            $("#btnSubscribe1").html("<i class=\"fas fa-heart\"></i><span>已加入收藏</span>");
                        }
                    }
                } else {
                    //失敗
                    alertTxt("您需要登入才能收藏。如尚未成為會員請先註冊");
                }
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }
</script>
