﻿@model DataAccess.Domain.Travel.TravelFamilyCont

@{
    Layout = "~/Views/Shared/_TravelLayout.cshtml";
}

<div class="travel-area">
    <div class="travel-bread-area">
        <a href="@Url.Action("Travel")">首頁</a> / <a href="@Url.Action("TravelFamilyList")">家族走走</a> / <span>@Model.AName - @Model.FName</span>
    </div>
    <div class="travel-page-tit-area">
        <div class="tit-sup-up">@Model.AName</div>
        <h2>@Model.FName</h2>
    </div>
</div>
<div class="museum-cont-tit-box"><img src="@Model.FPic" alt="" /></div>
<div class="travel-area">
    <div class="travel-cont">
        <div class="travel-page-cont">
            <div class="travel-page-txt-cont">
                <div class="travel-page-tit">歷史沿革</div>
                <div class="travel-page-outlink-area">
                    @if (Model.LinkName != null && Model.LinkName.Length > 0)
                    {
                        <a class="link" href="@Model.Link" target="_blank"><i class="fas fa-link"></i> <span>@Model.LinkName</span></a>
                    }
                    @if (Model != null && Model.links != null && Model.links.Count > 0)
                    {
                        foreach (var link in Model.links)
                        {
                            if (link.outLinkName != null && link.outLinkName.Length > 0)
                            {
                                <a class="link" href="@link.outLink" target="_blank"><i class="fas fa-link"></i> <span>@link.outLinkName</span></a>
                            }
                        }
                    }
                </div>
                <div class="travel-page-txt">
                    <div class="edit-box travel-edit-box">
                @Html.Raw(Model.Content)
                    </div>
                </div>
                @if (Model != null && Model.routes != null && Model.routes.Count > 0)
                {
                    <div class="travel-page-tit">路線文章</div>
                    <div class="travel-page-recommon-list">
                        @foreach (var route in Model.routes)
                        {
                            <div class="item">
                                <div class="icon"><img src="~/img/icon_doc.svg" alt="" /></div><a target="_blank" href="@Url.Action("TravelRouteCont", "Travel", new { Routeid = route.Routeid })">@route.Name</a>
                            </div>
                        }
                    </div>
                }
                </div>
            <div class="travel-page-side">
                <div class="travel-page-side-box">
                    @if (Model != null && Model.others != null && Model.others.Count > 0)
                    {
                        <div class="travel-page-tit">@(Model.others[0].AName)其他館舍</div>
                        <div class="recommon-museum-area">
                            @foreach (var data in Model.others)
                            {
                                <a class="recommon-museum-box" href="@Url.Action("TravelFamilyCont", "Travel", new { Familyid = data.Familyid })">
                                    <div class="recommon-museum-img"><img src="@data.FPic" alt="" /></div>
                                    <div class="recommon-museum-name">@data.FName</div>
                                </a>
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="btn-area"><a class="travel-m-btn" href="@Url.Action("TravelFamilyList")"><i class="far fa-chevron-left"></i> 返回家族走走</a></div>
        </div>
    </div>
</div>
