﻿@using System.Web.Configuration
@using System.Text.RegularExpressions
@model DataAccess.Domain.Travel.TravelSearchListDomainModel

@{
    string UrlDomain = WebConfigurationManager.AppSettings["apiDomain"];
    if (UrlDomain.ToCharArray()[UrlDomain.Length - 1] == '/')
    {
        UrlDomain = UrlDomain.Substring(0, UrlDomain.Length - 1);
    }

    string lang = "zh";
    if (Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")
    {
        lang = "zh";
    }
    else
    {
        lang = "en";
    }

    Layout = "~/Views/Shared/_TravelLayout.cshtml";

    int pageMin = 0;
    int pageMax = 0;
    if (Model.datas != null && Model.datas.Count > 0)
    {
        pageMin = (((Model.datas.PageNumber / 5 <= 0 ? 1 : ((Model.datas.PageNumber % 5 > 0) ? (Model.datas.PageNumber / 5 + 1) : Model.datas.PageNumber / 5)) - 1) * 5) + 1;
        pageMax = (((Model.datas.PageNumber / 5 <= 0 ? 1 : ((Model.datas.PageNumber % 5 > 0) ? (Model.datas.PageNumber / 5 + 1) : Model.datas.PageNumber / 5)) - 1) * 5) + 5;

        if (Model.datas.PageCount < pageMax)
        {
            pageMax = Model.datas.PageCount;
        }
    }
}

<div class="travel-area">
    <div class="travel-bread-area">
        <a href="@Url.Action("Travel")">首頁</a> / <span>全站搜尋</span>
    </div>
    <div class="travel-page-tit-area">
        <h2>全站搜尋</h2>
    </div>
</div>
<div class="travel-area page-top-cover">
    <div class="travel-cont">
        <div class="travel-search-key-area">
            <div class="travel-search-key">
                <input type="text" id="searchKey" name="searchKey" placeholder="請輸入關鍵字" />
                <div class="search-submit">搜尋 <i class="fas fa-long-arrow-right"></i></div>
            </div>
            <div class="travel-search-key-txt">@(Model.Kind == "4" ? "分類" : "標籤")<span id="taghere">@Model.Key</span>的搜尋結果如下</div>
        </div>
        <div class="travel-src-tab-box">
            <div kind="1" class="tab @(Model.Kind=="1"?"act":"")">自己走走@(Model.count1 > -1 ? "(" + @Model.count1 + ")" : "")</div>
            <div kind="2" class="tab @(Model.Kind=="2"?"act":"")">最新資訊@(Model.count2 > -1 ? "(" + @Model.count2 + ")" : "")</div>
            <div kind="3" class="tab @(Model.Kind=="3"?"act":"")">活動月曆@(Model.count3 > -1 ? "(" + @Model.count3 + ")" : "")</div>
            <div kind="4" class="tab @(Model.Kind=="4"?"act":"")">部落格@(Model.count4 > -1 ? "(" + @Model.count4 + ")" : "")</div>
        </div>
        <div class="travel-quote-tag-area">
            <div class="travel-quote-tag-tit">
                <div class="tit">相關@(Model.Kind == "4" ? "分類" : "標籤")</div>
            </div>
            <div class="travel-tag-area">
                @if (Model != null && Model.tags != null && Model.tags.Count > 0)
                {
                    foreach (var tag in Model.tags)
                    {
                        if (Model.Kind == "1")
                        {
                            <a href="@Url.Action("TravelRouteSrcTagList", "Travel", new { Tagid=tag.Tagid})">#@(tag.Name)</a>
                        }
                        else if (Model.Kind == "2")
                        {
                            <a href="@Url.Action("TravelNewsSrcTagList", "Travel", new { Tagid=tag.Tagid})">#@(tag.Name)</a>
                        }
                        else if (Model.Kind == "3")
                        {
                            <a href="@Url.Action("TravelEventSrcTagList", "Travel", new { Tagid=tag.Tagid})">#@(tag.Name)</a>
                        }
                        else if (Model.Kind == "4")
                        {
                            <a href="@Url.Action("TravelBlogList", "Travel", new { type=tag.Tagid})">#@(tag.Name)</a>
                        }
                    }
                }
            </div>
        </div>
        <div class="travel-route-theme-list travel-route-theme-src-list">
            <div class="travel-page-tit">搜尋結果</div>
            @if (Model != null && Model.datas != null && Model.datas.Count > 0)
            {
                foreach (var item in Model.datas)
                {
                    string contUrl = string.Empty;
                    if (Model.Kind == "1")
                    {
                        contUrl = Url.Action("TravelRouteCont", "Travel", new { Routeid = item.Id });
                    }
                    else if (Model.Kind == "2")
                    {
                        contUrl = Url.Action("TravelNewsCont", "Travel", new { Nid = item.Id });
                    }
                    else if (Model.Kind == "3")
                    {
                        contUrl = Url.Action("TravelEventCont", "Travel", new { Eid = item.Id });
                    }
                    else if (Model.Kind == "4")
                    {
                        contUrl = Url.Action("TravelBlogCont", "Travel", new { Blogid = item.Id });
                    }
                    <div class="travel-route-theme-box travel-src-tag">
                        <a class="travel-route-theme-img" href="@contUrl">
                            <img src="@item.Pic" alt="" />
                        </a>
                        <div class="travel-route-theme-cont">
                            <div class="travel-src-tag-top">
                                <div class="travel-route-theme-date">
                                    <div class="date">@item.Createtime.ToString("yyyy.MM.dd")</div>
                                </div><a class="travel-route-theme-txt" href="@contUrl">
                                    <div class="tit">@item.Title</div>
                                    <div class="cont">@Html.Raw(@Regex.Replace(item.Content, "<.*?>", String.Empty))</div>
                                </a>
                            </div>
                            <div class="travel-tag-area">
                                @if (item.tags != null && item.tags.Count > 0)
                                {
                                    foreach (var tag in item.tags)
                                    {
                                        if (Model.Kind == "1")
                                        {
                                            <a href="@Url.Action("TravelRouteSrcTagList", "Travel", new { Tagid = tag.Tagid })">#@(tag.Name)</a>
                                        }
                                        else if (Model.Kind == "2")
                                        {
                                            <a href="@Url.Action("TravelNewsSrcTagList", "Travel", new { Tagid = tag.Tagid })">#@(tag.Name)</a>
                                        }
                                        else if (Model.Kind == "3")
                                        {
                                            <a href="@Url.Action("TravelEventSrcTagList", "Travel", new { Tagid = tag.Tagid })">#@(tag.Name)</a>
                                        }
                                        else if (Model.Kind == "4")
                                        {
                                            <a href="@Url.Action("TravelBlogList", "Travel", new { type = tag.Tagid })">#@(tag.Name)</a>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        @if (Model != null && Model.datas != null && Model.datas.Count > 0)
        {
            <div class="travel-pagination-area">
                <a href="javascript:getPage(1)"><i class="fas fa-angle-double-left"></i></a>
                <a href="javascript:getPage(@Model.datas.PageNumber > 1 ? @Model.datas.PageNumber - 1 : @Model.datas.PageNumber)"><i class="fas fa-angle-left"></i></a>
                @for (int i = pageMin; i <= pageMax; i++)
                {
                    if (Model.datas.PageNumber == i)
                    {
                        <a class="num act" href="javascript:getPage(@i)">@i</a>
                    }
                    else
                    {
                        <a class="num" href="javascript:getPage(@i)">@i</a>
                    }

                }
                <a href="javascript:getPage(@Model.datas.PageNumber==@Model.datas.PageCount?@Model.datas.PageNumber:@Model.datas.PageNumber+1)"><i class="fas fa-angle-right"></i></a>
                <a href="javascript:getPage(@Model.datas.PageCount)">
                    <i class="fas fa-angle-double-right"></i>
                </a>
            </div>
        }
    </div>
</div>
<div class="footer-top-cover"></div>
<script src="~/js/travel_moreTag.js"></script>
<script>
    $(document).ready(function () {
        $(".tab").on("click", function (e) {
            var tempkey = $("#searchKey").val();
            if (tempkey.length <= 0)
                tempkey = $('#taghere').html();
            kind = $(this).attr("kind");

            if (tempkey) {
                var Lang = getCookie("CacheLang");
                top.location.href = "/" + Lang + "/Travel/TravelSearch?userKeyWord=" + encodeURIComponent(tempkey)
                    + "&kind=" + kind;
                /*
                $("#globalsearchform").find("#keyWord").val(tempkey);
                $("#globalsearchform").find("#kind").val(kind);
                $("#globalsearchform").submit();
                */
            } else
                alertTxt(@((Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")? Html.Raw("'請輸入關鍵字'"): Html.Raw("'Please enter search keywords.'")));
        });

        $(".search-submit").on("click", function (e) {
            var tempkey = $("#searchKey").val();
            //if (tempkey.length <= 0)
            //    tempkey = $('#taghere').html();

            if (tempkey) {
                var Lang = getCookie("CacheLang");
                top.location.href = "/" + Lang +  "/Travel/TravelSearch?userKeyWord=" + encodeURIComponent(tempkey);
                /*
                $("#globalsearchform").find("#keyWord").val(tempkey);
                $("#globalsearchform").submit();
                */
            } else
                alertTxt(@((Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")? Html.Raw("'請輸入關鍵字'"): Html.Raw("'Please enter search keywords.'")));
        });
    });

    function getPage(page) {
        var Lang = getCookie("CacheLang");
        top.location.href = "/" + Lang + "/Travel/TravelSearch?userKeyWord=" + encodeURIComponent('@Model.Key')
            + "&kind=" + '@Model.Kind' + "&page=" + page;
    }
</script>