﻿@model VirtualMuseum.Models.Home.AboutViewModel

@{
    Layout = "~/Views/Shared/_TravelLayout.cshtml";
}

<div class="travel-area">
    <div class="travel-bread-area"><a href="@Url.Action("Travel")">首頁</a> / <span>文學LET'S GO</span></div>
    <div class="travel-page-tit-area">
        <div class="tit-sup-up">關於</div>
        <h2> 文學LET'S GO</h2>
    </div>
</div>
<div class="travel-area page-top-cover">
    <div class="travel-cont">
        <div class="travel-about-area">
            <div class="edit-box travel-edit-box">
                @Html.Raw(Model.editor)
            </div>
        </div>
    </div>
</div>
<div class="footer-top-cover"></div>
