﻿@model DataAccess.Domain.Travel.TravelThemeList

@{
    Layout = "~/Views/Shared/_TravelLayout.cshtml";
}

<div class="travel-area">
    <div class="travel-bread-area"><a href="@Url.Action("Travel")">首頁</a> / <span>自己走走 - 主題路線</span></div>
    <div class="travel-page-tit-area">
        <h2>主題路線</h2>
        <div class="tit-sup">挑選您愛的景點，享受喧嘩之外的寧靜之旅</div>
    </div>
</div>
<div class="travel-banner-area travel-theme-banner-sw-area @(Model.banners == null || Model.banners.Count <= 0 ? "off" : "")">
    <div class="travel-banner-cont travel-banner-arrow travel-theme-banner-sw-cont">
        <div class="swiper-containe travel-banner travel-theme-banner-sw" id="travelSwiper">
            <div class="swiper-wrapper">
                @if (Model != null && Model.banners != null && Model.banners.Count > 0)
                {
                    foreach (var item in Model.banners)
                    {
                        <div class="swiper-slide">
                            <a class="travel-theme-banner-sw-img"
                               href="@Url.Action("TravelRouteList", "Travel", new { Selfid = item.Selfid })">
                                <img src="@item.Pic" alt="@item.Title" />
                                <div class="tit-box">
                                    <div class="tit">@item.Title</div>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
            <div class="swiper-pagination" id="bookPage"></div>
        </div>
        <div class="swiper-button-prev" id="bookPrev"></div>
        <div class="swiper-button-next" id="bookNext"></div>
    </div>
</div>
<div class="travel-area">
    <div class="travel-cont">
        <div class="travel-theme-cube-list">
            @if (Model != null && Model.themes != null && Model.themes.Count > 0)
            {
                foreach (var item in Model.themes)
                {
                    <a class="travel-theme-cube-box" href="@Url.Action("TravelRouteList", "Travel", new { Selfid = item.Selfid })">
                        <div class="travel-theme-cube-img">
                            <div class="img"><img src="@item.Pic" alt="" /></div>
                        </div>
                        <div class="travel-theme-cube-cont">
                            <div class="date">@item.Createtime.ToString("yyyy.MM.dd")</div>
                            <h3 class="tit">@item.Title</h3>
                        </div>
                    </a>
                }
            }
        </div>
        @if (Model != null && Model.themes != null && Model.themes.Count > 0)
        {
    <div class="travel-pagination-area">
        <a href="javascript:getPage(1)"><i class="fas fa-angle-double-left"></i></a>
        <a href="javascript:getPage(@Model.themes.PageNumber > 1 ? @Model.themes.PageNumber - 1 : @Model.themes.PageNumber)"><i class="fas fa-angle-left"></i></a>
        @for (int i = (Model.themes.PageNumber % 5); i <= (Model.themes.PageCount > 5 ? (Model.themes.PageNumber % 5) * 5 : Model.themes.PageCount); i++)
        {
            if (Model.themes.PageNumber == i)
            {
                <a class="num act" href="javascript:getPage(@i)">@i</a>
            }
            else
            {
                <a class="num" href="javascript:getPage(@i)">@i</a>
            }

        }
        <a href="javascript:getPage(@Model.themes.PageNumber==@Model.themes.PageCount?@Model.themes.PageNumber:@Model.themes.PageNumber+1)"><i class="fas fa-angle-right"></i></a>
        <a href="javascript:getPage(@Model.themes.PageCount)">
            <i class="fas fa-angle-double-right"></i>
        </a>
    </div>
        }
    </div>
</div>
<script>
        $(document).ready(function () {
   var travelSwiper = new Swiper('#travelSwiper', {
        slidesPerView: 1,
        spaceBetween: 0,
        //- initialSlide: 2,
        //- breakpoints: {
        //- 	1200: {
        //- 		slidesPerView: 5,
        //- 		spaceBetween: 30,
        //- 	},
        //- 	768: {
        //- 		slidesPerView: 4,
        //- 		spaceBetween: 20,
        //- 	},
        //- 	600: {
        //- 		slidesPerView: 3,
        //- 		spaceBetween: 20,
        //- 	},
        //- 	480: {
        //- 		slidesPerView: 2,
        //- 		spaceBetween: 20,
        //- 	},
        //- },
        navigation: {
        	nextEl: '#bookNext',
        	prevEl: '#bookPrev',
        },
        pagination: {
        	el: '#bookPage',
        	clickable: true,
        },
    });
        });

   function getPage(page) {
        var headers = {};
        var data = {};
        data.page = page;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("TravelThemeListPage")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                //alert(result["PageNumber"]);
                $(".travel-theme-cube-list").empty();

                for (var i = 0; i < result["Lists"].length; i++) {
                    var str = '<a class="travel-theme-cube-box" href="/Travel/TravelRouteList?Selfid=' + result["Lists"][i]["Selfid"] + '"><div class="travel-theme-cube-img"><div class="img"><img src="' + result["Lists"][i]["Pic"] + '" alt="" /></div></div><div class="travel-theme-cube-cont"><div class="date">' + result["Lists"][i]["Createtime"] + '</div><h3 class="tit">' + result["Lists"][i]["Title"] + '</h3></div></a>';
                    $(".travel-theme-cube-list").append(str);
                }

                $('.travel-pagination-area').empty();

                $('.travel-pagination-area').append('<a href="javascript:getPage(1)"><i class="fas fa-angle-double-left"></i></a>');
                $('.travel-pagination-area').append('<a href="javascript:getPage(' + (result["PageNumber"] > 1 ? result["PageNumber"] - 1 : result["PageNumber"]) + ')"><i class="fas fa-angle-left"></i></a>');

                var pageMin = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 1;
                var pageMax = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 5;

                if (parseInt(result["PageCount"]) < pageMax)
                    pageMax = parseInt(result["PageCount"]);
                for (var i = pageMin; i <= pageMax; i++) {
                    if (result["PageNumber"] == i) {
                        $('.travel-pagination-area').append('<a href="javascript:getPage(' + i + ')" class="num act">' + i + '</a>');
                    }
                    else {
                        $('.travel-pagination-area').append('<a href="javascript:getPage(' + i + ')" class="num">' + i + '</a>');
                    }
                }

                $('.travel-pagination-area').append('<a href="javascript:getPage(' + (result["PageNumber"] == result["PageCount"] ? result["PageNumber"] : result["PageNumber"] + 1) + ')"><i class="fas fa-angle-right"></i></a>');
                $('.travel-pagination-area').append('<a href="javascript:getPage(' + result["PageCount"] + ')"><i class="fas fa-angle-double-right"></i></a>');
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }
</script>