﻿@model VirtualMuseum.Models.Home.AboutViewModel

@{
    Layout = "~/Views/Shared/_TravelLayout.cshtml";
}

<div class="travel-area">
    <div class="travel-bread-area"><a href="@Url.Action("Travel")">首頁</a> / <span>行銷合作</span></div>
    <div class="travel-page-tit-area">
        <h2> 行銷合作</h2>
    </div>
</div>
<div class="travel-area page-top-cover">
    <div class="travel-cont">
        <div class="travel-about-area">
            <div class="edit-box travel-edit-box">
                @Html.Raw(Model.editor)
            </div>
        </div>
    </div>
</div>
