﻿@using System.Web.Configuration
@using System.Text.RegularExpressions
@model DataAccess.Domain.Travel.TravelEventList

@{
    string UrlDomain = WebConfigurationManager.AppSettings["apiDomain"];
    string lang = "zh";
    if (Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")
    {
        lang = "zh";
    }
    else
    {
        lang = "en";
    }
    Layout = "~/Views/Shared/_TravelLayout.cshtml";
}

<form action="@Url.Action("TravelEventList")" method="POST" id="form">
    <input type="hidden" name="Country" id="Country" value="" />
    <input type="hidden" name="Statu" id="Statu" value="" />
    <input type="hidden" name="Type" id="Type" value="" />
    <input type="hidden" name="page" id="page" value="1" />
</form>

<div class="travel-area">
    <div class="travel-bread-area">
        <a href="@Url.Action("Travel")">首頁</a> / <a href="@Url.Action("TravelEventMap")">活動月曆</a> / <span>活動月曆列表</span>
    </div>
    <div class="travel-page-tit-area">
        <h2>活動月曆</h2>
        <div class="tit-sup">掌握全臺展館最新活動消息就在這裡</div>
    </div>
</div>
<div class="travel-area page-top-cover">
    <div class="travel-cont">
        <div class="travel-quote-tag-area">
            <div class="travel-quote-tag-tit">
                <div class="tit">代表標籤</div>
                <div class="more-btn" id="travelQuoteTagMoreBtn"><i class="fas fa-arrow-down"></i> 顯示全部標籤</div>
            </div>
            <div class="travel-quote-tag-cont" id="travelQuoteAllTagBox">
                <div class="travel-tag-area" id="travelQuoteAllInnerTagBox">
                    @if (Model != null && Model.AllTags != null && Model.AllTags.Count > 0)
                    {
                        foreach (var tag in Model.AllTags)
                        {
                            <a href="@Url.Action("TravelEventSrcTagList", "Travel", new { Tagid = tag.Tagid })">#@(tag.Tagname)</a>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="travel-news-type-area travel-event-type-area">
            <div class="travel-news-type-box">
                <div class="tit">活動縣市</div>
                <select class="travel-sel" id="eventCountry" name="eventCountry">
                    <option value="all">全部</option>
                    @if (Model != null && Model.AllAreas != null && Model.AllAreas.Count > 0)
                    {
                        foreach (var area in Model.AllAreas)
                        {
                            <option value="@area.Aid" @(ViewBag.eventCountry != null && ViewBag.eventCountry == string.Format("{0}", area.Aid) ? "selected" : "")>@area.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="travel-news-type-box">
                <div class="tit">活動狀態</div>
                <select class="travel-sel" id="eventStatu" name="eventStatu">
                    <option value="all">全部</option>
                    <option value="1" @(ViewBag.eventStatu != null && ViewBag.eventStatu == "1" ? "selected" : "")>當天活動</option>
                    <option value="2" @(ViewBag.eventStatu != null && ViewBag.eventStatu == "2" ? "selected" : "")>近期活動</option>
                    <option value="3" @(ViewBag.eventStatu != null && ViewBag.eventStatu == "3" ? "selected" : "")>已結束</option>
                </select>
            </div>
            <div class="travel-news-type-box">
                <div class="tit">活動分類</div>
                <select class="travel-sel" id="eventType" name="eventType">
                    <option value="all">全部</option>
                    @if (Model != null && Model.AllEventTypes != null && Model.AllEventTypes.Count > 0)
                    {
                        foreach (var type in Model.AllEventTypes)
                        {
                            <option value="@type.Tid" @(ViewBag.eventType != null && ViewBag.eventType == string.Format("{0}", type.Tid) ? "selected" : "")>@type.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="travel-event-area">
            @if (Model != null && Model.events != null && Model.events.Count > 0)
            {
                foreach (var item in Model.events)
                {
                    <div class="travel-event-box">
                        <div class="travel-event-date">
                            <div class="year">@item.Startdate.ToString("yyyy")</div>
                            <div class="date s-date">@item.Startdate.ToString("MM/dd")</div>
                            <div class="date">@(item.Enddate.HasValue ? item.Enddate.Value.ToString("MM/dd") : "--/--")</div>
                        </div>
                        <div class="travel-route-theme-box">
                            <a class="travel-route-theme-img" href="@Url.Action("TravelEventCont", "Travel", new { Eid = item.Eid })">
                                <img src="@item.Pic" alt="" />
                            </a>
                            <div class="travel-route-theme-cont">
                                <div class="travel-event-theme-txt">
                                    <div class="travel-route-theme-icon-box">
                                        <div eid="@item.Eid" class="icon icon-heart @(item.mySubscribe == 1 ? "on" : "")"></div>
                                    </div><a class="travel-route-theme-txt" href="@Url.Action("TravelEventCont", "Travel", new { Eid = item.Eid })">
                                        <div class="tit">@item.Title</div>
                                        <div class="cont">@Html.Raw(@Regex.Replace(item.Content, "<.*?>", String.Empty))</div>
                                    </a>
                                </div>
                                <div class="travel-tag-area">
                                    @if (item.Tags != null)
                                    {
                                        foreach (var tag in item.Tags)
                                        {
                                            <a href="@Url.Action("TravelEventSrcTagList", "Travel", new { Tagid = tag.Tid })">#@(tag.Name)</a>
                                        }
                                    }
                                </div>
                                <div class="travel-page-info">
                                    <div class="info">@item.Click 次點閱</div>
                                    <div class="info">

                                        <div class="icon"><img src="~/img/icon_info_collect.svg" alt="" /></div>
                                        <div class="txt">@item.Subscribes</div>
                                    </div>
                                    <div class="share-btn-box">
                                        <iframe src="https://www.facebook.com/plugins/like.php?href=@(HttpUtility.UrlEncode(UrlDomain+Url.Action("TravelEventCont", "Travel", new { Eid = item.Eid, lang=lang })))&width=112&layout=button_count&action=like&size=small&share=true&height=46&appId=@(WebConfigurationManager.AppSettings["Facebook_appId"])" width="112" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                        <!--
                                        <a class="sbtn" href="###">
                                            <i class="far fa-check"></i>讚 <span>234</span>
                                        </a><a class="sbtn" href="###">分享</a>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        @if (Model != null && Model.events != null && Model.events.Count > 0)
        {
            <div class="travel-pagination-area">
                <a href="javascript:getPage(1)"><i class="fas fa-angle-double-left"></i></a>
                <a href="javascript:getPage(@Model.events.PageNumber > 1 ? @Model.events.PageNumber - 1 : @Model.events.PageNumber)"><i class="fas fa-angle-left"></i></a>
                @for (int i = (Model.events.PageNumber % 5); i <= (Model.events.PageCount > 5 ? (Model.events.PageNumber % 5) * 5 : Model.events.PageCount); i++)
                {
                    if (Model.events.PageNumber == i)
                    {
                        <a class="num act" href="javascript:getPage(@i)">@i</a>
                    }
                    else
                    {
                        <a class="num" href="javascript:getPage(@i)">@i</a>
                    }

                }
                <a href="javascript:getPage(@Model.events.PageNumber==@Model.events.PageCount?@Model.events.PageNumber:@Model.events.PageNumber+1)"><i class="fas fa-angle-right"></i></a>
                <a href="javascript:getPage(@Model.events.PageCount)">
                    <i class="fas fa-angle-double-right"></i>
                </a>
            </div>
        }
        <div class="btn-area last-btn-area">
            <a class="travel-m-btn" href="@Url.Action("TravelEventMap")">
                <i class="far fa-chevron-left"></i> 返回活動月曆
            </a>
        </div>
    </div>
</div>
<script src="~/js/travel_moreTag.js"></script>
<script>
    $(document).ready(function () {
      //=== 收藏文章 ===
      $(document).on('click','.icon-heart',function(){
          //var hasOn=$(this).hasClass('on');
          //hasOn ? $(this).removeClass('on') : $(this).addClass('on');
          setSubscribe($(this).attr("eid"));
      });
        $("#eventCountry").change(function () {
            $("#form").find("#Country").val($("#eventCountry").val());
            $("#form").find("#Statu").val($("#eventStatu").val());
            $("#form").find("#Type").val($("#eventType").val());
            $("#form").submit();
        });
        $("#eventStatu").change(function () {
            $("#form").find("#Country").val($("#eventCountry").val());
            $("#form").find("#Statu").val($("#eventStatu").val());
            $("#form").find("#Type").val($("#eventType").val());
            $("#form").submit();
        });
        $("#eventType").change(function () {
            $("#form").find("#Country").val($("#eventCountry").val());
            $("#form").find("#Statu").val($("#eventStatu").val());
            $("#form").find("#Type").val($("#eventType").val());
            $("#form").submit();
        });
    });

    function setSubscribe(Eid) {
        var headers = {};
        var data = {};
        data.Eid = Eid;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("TravelEventSubscribe")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                if (result["Code"] == 1) {
                    //成功
                    $(".icon-heart").each(function () {
                        if ($(this).attr("eid") == result["Message"]) {
                            var hason = $(this).hasClass('on');
                            if (hason) {
                                $(this).removeClass("on");
                            } else {
                                $(this).addClass("on");
                            }
                        }
                    });
                } else {
                    //失敗
                    alertTxt("您需要登入才能收藏。如尚未成為會員請先註冊");
                }
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }

   function getPage(page) {
       var headers = {};
       var data = {};
       data.Country = $("#eventCountry").val();
       data.Statu = $("#eventStatu").val();
       data.Type = $("#eventType").val();
       data.page = page;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("TravelEventListPage")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                //alert(result["PageNumber"]);
                $(".travel-event-area").empty();

                for (var i = 0; i < result["Lists"].length; i++) {
                    var str = '<div class="travel-event-box"><div class="travel-event-date"><div class="year">' +
                        result["Lists"][i]["StartYear"] + '</div><div class="date s-date">' +
                        result["Lists"][i]["StartMonth"] + '/' + result["Lists"][i]["StartDay"] + '</div>';
                    if (result["Lists"][i]["EndMonth"].length > 0 && result["Lists"][i]["EndDay"].length > 0) {
                        str += '<div class="date">' + result["Lists"][i]["EndMonth"] + '/' + result["Lists"][i]["EndDay"] + '</div>';
                    } else {
                        str += '<div class="date">--/--</div>';
                    }
                    str += '</div><div class="travel-route-theme-box"><a class="travel-route-theme-img" href="/Travel/TravelEventCont?Eid=' +
                        result["Lists"][i]["Eid"] + '"><img src="' + result["Lists"][i]["Pic"] + '" alt="" /></a><div class="travel-route-theme-cont">' +
                        '<div class="travel-event-theme-txt"><div class="travel-route-theme-icon-box">' +
                        '<div eid="' + result["Lists"][i]["Eid"] + '" class="icon icon-heart ';
                    if (result["Lists"][i]["mySubscribe"] == 1) {
                        str += 'on"></div>';
                    } else {
                        str += '"></div>';
                    }
                    str += '</div><a class="travel-route-theme-txt" href="/Travel/TravelEventCont?Eid=' +
                        result["Lists"][i]["Eid"] + '"><div class="tit">' + result["Lists"][i]["Title"] + '</div>' +
                        '<div class="cont">' + jQuery('<p>' + result["Lists"][i]["Content"] + '</p>').text() + '</div></a></div><div class="travel-tag-area">';
                    for (var ii = 0; ii < result["Lists"][i]["Tags"].length; ii++) {
                        str += '<a href="/Travel/TravelEventSrcTagList?Tagid=' + result["Lists"][i]["Tags"][ii]["tagid"] + '">#' + result["Lists"][i]["Tags"][ii]["tagName"] + '</a>';
                    }
                    str += '</div><div class="travel-page-info"><div class="info">' + result["Lists"][i]["Click"] + ' 次點閱</div>' +
                           '<div class="info"><div class="icon"><img src="/img/icon_info_collect.svg" alt="" /></div><div class="txt">' + result["Lists"][i]["Subscribes"] + '</div>' +
                           '</div><div class="share-btn-box"><iframe src="https://www.facebook.com/plugins/like.php?href=' + encodeURIComponent('@(UrlDomain+lang)/Travel/TravelEventCont?Eid=' + result["Lists"][i]["Eid"]) + '&width=112&layout=button_count&action=like&size=small&share=true&height=46&appId=@(WebConfigurationManager.AppSettings["Facebook_appId"])" width="112" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe></div></div></div></div></div>';
                    $(".travel-event-area").append(str);
                }

                $('.travel-pagination-area').empty();

                $('.travel-pagination-area').append('<a href="javascript:getPage(1)"><i class="fas fa-angle-double-left"></i></a>');
                $('.travel-pagination-area').append('<a href="javascript:getPage(' + (result["PageNumber"] > 1 ? result["PageNumber"] - 1 : result["PageNumber"]) + ')"><i class="fas fa-angle-left"></i></a>');

                var pageMin = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 1;
                var pageMax = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 5;

                if (parseInt(result["PageCount"]) < pageMax)
                    pageMax = parseInt(result["PageCount"]);
                for (var i = pageMin; i <= pageMax; i++) {
                    if (result["PageNumber"] == i) {
                        $('.travel-pagination-area').append('<a href="javascript:getPage(' + i + ')" class="num act">' + i + '</a>');
                    }
                    else {
                        $('.travel-pagination-area').append('<a href="javascript:getPage(' + i + ')" class="num">' + i + '</a>');
                    }
                }

                $('.travel-pagination-area').append('<a href="javascript:getPage(' + (result["PageNumber"] == result["PageCount"] ? result["PageNumber"] : result["PageNumber"] + 1) + ')"><i class="fas fa-angle-right"></i></a>');
                $('.travel-pagination-area').append('<a href="javascript:getPage(' + result["PageCount"] + ')"><i class="fas fa-angle-double-right"></i></a>');
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }
</script>