﻿@using System.Web.Configuration
@using System.Text.RegularExpressions
@model DataAccess.Domain.Travel.TravelRouteList

@{
    string UrlDomain = WebConfigurationManager.AppSettings["apiDomain"];
    string lang = "zh";
    if (Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")
    {
        lang = "zh";
    }
    else
    {
        lang = "en";
    }
    Layout = "~/Views/Shared/_TravelLayout.cshtml";
}

<div class="travel-area">
    <div class="travel-bread-area">
        <a href="@Url.Action("Travel")">首頁</a> / <a href="@Url.Action("TravelThemeList")">
            自己走走 -
            主題路線
        </a> / <span>@Model.Title</span>
    </div>
    <div class="travel-page-tit-area">
        <h2>@Model.Title</h2>
    </div>
</div>
<div class="travel-area page-top-cover">
    <div class="travel-cont">
        <div class="travel-quote-tag-area">
            <div class="travel-quote-tag-tit">
                <div class="tit">代表標籤</div>
                <div class="more-btn" id="travelQuoteTagMoreBtn">
                    <i class="fas fa-arrow-down"></i> 顯示全部標籤
                </div>
            </div>
            <div class="travel-quote-tag-cont" id="travelQuoteAllTagBox">
                <div class="travel-tag-area" id="travelQuoteAllInnerTagBox">
                    @if (Model != null && Model.AllTags != null && Model.AllTags.Count > 0)
                    {
                        foreach (var item in Model.AllTags)
                        {
                            <a href="@Url.Action("TravelRouteSrcTagList", "Travel", new { Tagid=item.Tagid })">#@(item.Tagname)</a>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="travel-route-theme-list">
            @if (Model != null && Model.routes != null && Model.routes.Count > 0)
            {
                foreach (var item in Model.routes)
                {
                    <div class="travel-route-theme-box">
                        <a class="travel-route-theme-img"
                           href="@Url.Action("TravelRouteCont", "Travel", new { Routeid = item.Routeid })">
                            <img src="@item.Pic" alt="" />
                        </a>
                        <div class="travel-route-theme-cont">
                            <div class="travel-route-theme-date">
                                <div class="date">@item.Createtime.ToString("yyyy.MM.dd")</div>
                                <div class="travel-route-theme-icon-area">
                                    <div class="travel-route-theme-icon-box">
                                        <div class="icon">
                                            <img src="~/img/icon_star.svg" alt="" />
                                        </div>
                                        <sapn>@(item.Points.ToString("0.0"))</sapn>
                                    </div>
                                    <div class="travel-route-theme-icon-box">
                                        <div routeid="@item.Routeid" class="icon icon-heart @(item.mySubscribe == 1 ? "on" : "")"></div>
                                    </div>
                                </div>
                            </div><a class="travel-route-theme-txt" href="@Url.Action("TravelRouteCont", "Travel", new { Routeid = item.Routeid })">
                                <div class="tit">@item.Name</div>
                                <div class="cont">
                                    @Html.Raw(@Regex.Replace(item.Content, "<.*?>", String.Empty))
                                </div>
                            </a>
                            <div class="travel-tag-area">
                                @if (item.Tags != null && item.Tags.Count > 0)
                                {
                                    foreach (var tag in item.Tags)
                                    {
                                        <a href="@Url.Action("TravelRouteSrcTagList", "Travel", new { Tagid = tag.Tid })">#@(tag.Name)</a>
                                    }
                                }
                            </div>
                            <div class="travel-page-info">
                                <div class="info">@(item.Clicks) 次點閱</div>
                                <div class="info">
                                    <div class="icon"><img src="~/img/icon_info_collect.svg" alt="" /></div>
                                    <div class="txt">@item.Subscribes</div>
                                </div>
                                <div class="share-btn-box">
                                    <iframe src="https://www.facebook.com/plugins/like.php?href=@(HttpUtility.UrlEncode(UrlDomain+Url.Action("TravelRouteCont", "Travel", new { Routeid = item.Routeid, lang=lang })))&width=112&layout=button_count&action=like&size=small&share=true&height=46&appId=@(WebConfigurationManager.AppSettings["Facebook_appId"])" width="112" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                    <!--
                                    <a class="sbtn" href="###">
                                        <i class="far fa-check"></i>讚
                                        <span>234</span>
                                    </a><a class="sbtn" href="###">分享</a>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="btn-area last-btn-area">
            <a class="travel-m-btn" href="@Url.Action("TravelThemeList")">
                <i class="far fa-chevron-left"></i> 返回主題列表
            </a>
        </div>
    </div>
</div>
<script src="~/js/travel_moreTag.js"></script>
<script>
    $(document).ready(function () {
        //=== 蒐藏文章 ===
        $(document).on('click', '.icon-heart', function () {
            //var hasOn = $(this).hasClass('on');
            //hasOn ? $(this).removeClass('on') : $(this).addClass('on');
            setSubscribe($(this).attr("routeid"));
        });
    });

    function setSubscribe(Routeid) {
        var headers = {};
        var data = {};
        data.Routeid = Routeid;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("TravelRouteSubscribe")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                if (result["Code"] == 1) {
                    //成功
                    $(".icon-heart").each(function () {
                        if ($(this).attr("routeid") == result["Message"]) {
                            var hason = $(this).hasClass('on');
                            if (hason) {
                                $(this).removeClass("on");
                            } else {
                                $(this).addClass("on");
                            }
                        }
                    });
                } else {
                    //失敗
                    alertTxt("您需要登入才能收藏。如尚未成為會員請先註冊");
                }
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }
</script>
