﻿@using VirtualMuseum.Controllers.Base
@model DataAccess.Domain.Theme.ThemeContDomainModel

@{
    long NowRouteid = 0;

    if (Model.routes != null)
    {
        for (int i = 0; i < Model.routes.Count; i++)
        {
            if (Model.routes[i].attrs != null)
            {
                NowRouteid = Model.routes[i].Routeid;
                break;
            }
        }
    }

    BaseController controller = ViewContext.Controller as BaseController;
    if (controller == null)
    {
        throw new ApplicationException("Controller 必須繼承自 MyControllerBase.");
    }
    var Link3 = controller.Link3;
    var Link4 = controller.Link4;
}

<div class="page-tab-area">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index", "Home")">@GlobalRes.Writer_ihead1</a><span>/</span><a href="@Url.Action("ThemeList", "Writer")">@GlobalRes.Writer_ihead3</a><span>/</span>
            <div class="act-page">@Model.Name</div>
        </div><a class="back-btn" href="@Url.Action("ThemeList", "Writer")"><i class="far fa-angle-left"></i> @GlobalRes.Writer_back1</a>
        <div class="page-nav-area">
            <a class="page-nav-box" href="@Url.Action("WriterList", "Writer")"><i class="fal fa-books"></i> @GlobalRes.Writer_head1</a><a class="page-nav-box" href="@Url.Action("WriterStoryList", "Writer")"><i class="fal fa-map-marked-alt"></i> @GlobalRes.Writer_head2</a>
            <div class="page-nav-box act"><a class="page-nav-box" href="@Url.Action("ThemeList", "Writer")"><i class="fal fa-map-signs"></i> @(GlobalRes.Writer_head3)</a></div>
            @if (Link3.Split(new char[] { '|' })[1] == "1")
            {
                <a class="page-nav-box" target="_blank" href="@(Link3.Split(new char[] { '|' })[0])"><i class="fas fa-vr-cardboard"></i>@Html.Raw(Link3.Split(new char[] { '|' })[2])</a>
            } 
            @if (Link4.Split(new char[] { '|' })[1] == "1")
            {
                <a class="page-nav-box" target="_blank" href="@(Link4.Split(new char[] { '|' })[0])"><i class="fas fa-vr-cardboard"></i>@Html.Raw(Link4.Split(new char[] { '|' })[2])</a>
            } 
        </div>
    </div>
</div>
<div class="page-wrap inner-single-page">
    <div class="main-cont">
        <div class="theme-banner-area">
            <div class="theme-banner-box">
                <h2 class="theme-banner-tit">@Model.Name</h2>
                <div class="theme-banner-img" style="background-image: url(@(Model.Pic==null||Model.Pic.Length<=0?"/img/default_src.jpg":Model.Pic))">
                    <!-- <img src="" /> -->
                </div>
            </div>
        </div>
        <div class="theme-cont-area">
            @if (Model.routes != null && @Model.routes.Count > 0)
            {
                <div class="route-btn-list">
                    @foreach (var d in Model.routes)
                    {
                        <a href="javascript:goCont1(@d.Themeid, @d.Routeid)">@d.Name</a>
                    }
                </div>
                foreach (var d in Model.routes)
                {
                    if (d.Routeid == NowRouteid)
                    {
                <!-- 新增標籤 - 第二階段--><div class="theme-tag-list">
    @foreach (var a in d.tags)
    {
        <a href="javascript:getTag(@a.Tagid)">#@((Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")? a.Name_tw : a.Name_en)</a>
    }
</div><!-- 新增標籤 END - 第二階段-->
                        <p class="theme-cont-txt">@Html.Raw(d.Intro)</p>
                        <div class="theme-cont-img" style="background-image: url(@(d.Pic2==null||d.Pic2.Length <=0?"/img/default_src.jpg":d.Pic2))">
                            <!-- <img src="" alt="" /> -->
                        </div>
                        <div class="route-list">
                            <div class="route-tag"><i class="fas fa-map-marker-alt"></i><span>@Html.Raw(GlobalRes.Theme_route)</span></div>
                            <div class="route-wrap">
                                @for (int i = 0; i < d.attrs.Count; i++)
                                {
                                    <div class="rotute-box">
                                        <div class="route-tit">@d.attrs[i].Name</div>
                                        <div class="route-img" style="background:url(@(d.attrs[i].Pic1 == null || d.attrs[i].Pic1.Length<=0?"/img/default_src.jpg":d.attrs[i].Pic1)) no-repeat center center/cover;" onclick="openPic('@d.attrs[i].Pic1','@d.attrs[i].Name')"></div>
                                        <div class="route-cont">
                                            <div class="route-txt routeInfo">
                                                <p>@Html.Raw(d.attrs[i].Intro)</p>
                                            </div>
                                            <div class="route-txt routeNote" style="display:none;">
                                                <p>@Html.Raw(d.attrs[i].Note == null || d.attrs[i].Note.Length <= 0 ? "無" : d.attrs[i].Note)</p>
                                            </div>
                                            <div class="route-tab-box">
                                                <div class="route-tab routeInfoBtn act">@GlobalRes.Theme_intro</div>
                                                <div class="route-tab routeNoteBtn">@GlobalRes.Theme_note</div>
                                            </div>
                                        </div>
                                        <div class="route-img-sub"></div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>
<div class="route-img-light-box" id="routeLightWrap" style="display:none;">
    <div class="route-close-btn">
        <div class="close-btn" id="routeLightCloseBtn"><i class="fas fa-times"></i></div>
    </div><img src="img/route_img_l.jpg" alt="" />
    <div class="route-img-light-name">臺南州廳（國立臺灣文學館）</div>
</div>

<form id="cont1" method="post" action="@Url.Action("ThemeCont", "Writer")">
    <input type="hidden" id="Themeid" name="Themeid" value="" />
    <input type="hidden" id="Routeid" name="Routeid" value="" />
</form>
<form id="getTag" action="@Url.Action("ThemeSrcTagList", "Writer")" method="post">
    <input type="hidden" name="Tagid" id="Tagid" value="" />
</form>
<script>
    function getTag(Tagid) {
        $("#getTag").find("#Tagid").val(Tagid);
        $("#getTag").submit();
    }
    function goCont1(themeid, routeid) {
        //$('#cont1').find('#Themeid').val(themeid);
        //$('#cont1').find('#Routeid').val(routeid);
        //$('#cont1').submit();
        var Lang = getCookie("CacheLang");
        top.location.href = "/" + Lang + "/Writer/ThemeCont?Themeid=" + themeid + "&Routeid=" + routeid;
    }
    $(document).ready(function () {
        /*
            var rotuteL=[1,2,3,4];
            //切換景點和筆記
            $.each(rotuteL,function(ind,val){
                var $infoBtn=$('#routeInfoBtn'+ind);
                var $info=$('#routeInfo'+ind);
                var $noteBtn=$('#routeNoteBtn'+ind);
                var $note=$('#routeNote'+ind);
                console.log($infoBtn,$info)
                $infoBtn.on('click',function(){
                    $infoBtn.addClass('act');
                    $info.show();
                    $noteBtn.removeClass('act');
                    $note.hide();
                });
                $noteBtn.on('click',function(){
                    $infoBtn.removeClass('act');
                    $info.hide();
                    $noteBtn.addClass('act');
                    $note.show();
                });
            });*/

        $(document).on('click', '.routeInfoBtn', function () {
            var $infoBtn = $(this);
            var $info = $(this).parent().parent().find('.routeInfo');
            var $noteBtn = $(this).parent().find('.routeNoteBtn');
            var $note = $(this).parent().parent().find('.routeNote');
            $infoBtn.addClass('act');
            $info.show();
            $noteBtn.removeClass('act');
            $note.hide();
        });
        $(document).on('click', '.routeNoteBtn', function () {
            var $infoBtn = $(this).parent().find('.routeInfoBtn');
            var $info = $(this).parent().parent().find('.routeInfo');
            var $noteBtn = $(this);
            var $note = $(this).parent().parent().find('.routeNote');
            $infoBtn.removeClass('act');
            $info.hide();
            $noteBtn.addClass('act');
            $note.show();
        });

        //點開景點圖片
        //$('.route-img').on('click', function () {
        //    $('#routeLightWrap,#mask').fadeIn();
        //});
        $('#routeLightCloseBtn').on('click', function () {
            $('#routeLightWrap,#mask').fadeOut();
        });
    });

    function openPic(pic, name) {
        if (pic == null || pic.length <= 0)
            pic = "/img/default_src.jpg";
        $('.route-img-light-box').find("img").attr('src', pic);
        $('.route-img-light-name').html(name);
        $('#routeLightWrap,#mask').fadeIn();
    }
</script>