﻿@using VirtualMuseum.Controllers.Base

@model DataAccess.Domain.Theme.ThemeListDomainModel

@{
    ViewBag.Action = "ThemeList";

    BaseController controller = ViewContext.Controller as BaseController;
    if (controller == null)
    {
        throw new ApplicationException("Controller 必須繼承自 MyControllerBase.");
    }
    var Link3 = controller.Link3;
    var Link4 = controller.Link4;
}

<div class="page-tab-area">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index", "Home")">@GlobalRes.Writer_ihead1</a><span>/</span>
            <div class="act-page">@GlobalRes.Writer_ihead3</div>
        </div>
        <div class="page-nav-area">
            <a class="page-nav-box" href="@Url.Action("WriterList", "Writer")"><i class="fal fa-books"></i> @GlobalRes.Writer_head1</a><a class="page-nav-box" href="@Url.Action("WriterStoryList", "Writer")"><i class="fal fa-map-marked-alt"></i> @GlobalRes.Writer_head2</a>
            <div class="page-nav-box act"><a class="page-nav-box" href="@Url.Action("ThemeList", "Writer")"><i class="fal fa-map-signs"></i> @(GlobalRes.Writer_head3)</a></div>
            @if (Link3.Split(new char[] { '|' })[1] == "1")
            {
                <a class="page-nav-box" target="_blank" href="@(Link3.Split(new char[] { '|' })[0])"><i class="fas fa-vr-cardboard"></i>@Html.Raw(Link3.Split(new char[] { '|' })[2])</a>
            }
            @if (Link4.Split(new char[] { '|' })[1] == "1")
            {
                <a class="page-nav-box" target="_blank" href="@(Link4.Split(new char[] { '|' })[0])"><i class="fas fa-vr-cardboard"></i>@Html.Raw(Link4.Split(new char[] { '|' })[2])</a>
            }
        </div>
    </div>
</div>
<div class="page-wrap inner-single-page">
    <div class="main-cont">
        <div class="theme-banner-area">
            <div class="swiper-container theme-banner" id="themeBanner">
                <div class="swiper-wrapper">
                    @if (Model.banners != null && Model.banners.Count > 0)
                    {
                        foreach (var d in Model.banners)
                        {
                            <div class="swiper-slide">
                                <a class="theme-banner-box" href="javascript:goCont2(@d.Themeid)">
                                    <div class="theme-banner-tit">@d.Name</div>
                                    <div class="theme-banner-img" style="background:url(@(d.Pic==null||d.Pic.Length<=0?"/img/default_src.jpg":d.Pic)) no-repeat center center/cover;">
                                        <img src="@(d.Pic==null||d.Pic.Length<=0?"/img/default_src.jpg":d.Pic)">
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
                <div class="swiper-button-prev" id="themeP"><i class="fas fa-angle-left"></i></div>
                <div class="swiper-button-next" id="themeN"><i class="fas fa-angle-right"></i></div>
                <div class="swiper-pagination" id="themeBannerPage"></div>
            </div>
        </div>
        <div class="creat-article-tag-box creat-article-tag-box2">
            <div class="creat-article-tag-tit">
                <div><i class="fas fa-tag"></i>@GlobalRes.Theme_Tag</div>
                <div class="creat-article-tag-more" id="moreTagBtn">@GlobalRes.Create_showtag<i class="far fa-angle-down"></i></div>
            </div>
            <div class="creat-article-tag gin-tag-box">
                <div class="article-all-tag" id="articleAllTagBox">
                    <div id="articleAllInnerTagBox">
                        @if (Model.allTags != null && Model.allTags.Count > 0)
                        {
                            for (int i = 0; i < Model.allTags.Count; i++)
                            {
                                if (i > 19)
                                {
                                    if (Model.allTags[i].Count >= 21)
                                    {
                                        <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow" style="display: none; font-size: 160%; font-weight: 600;">#@Model.allTags[i].Name_tw</a>
                                    }
                                    else if (Model.allTags[i].Count <= 20 && Model.allTags[i].Count >= 16)
                                    {
                                        <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow" style="display: none; font-size: 140%;">#@Model.allTags[i].Name_tw</a>
                                    }
                                    else if (Model.allTags[i].Count <= 15 && Model.allTags[i].Count >= 11)
                                    {
                                        <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow" style="display: none; font-size: 130%;">#@Model.allTags[i].Name_tw</a>
                                    }
                                    else if (Model.allTags[i].Count <= 10 && Model.allTags[i].Count >= 6)
                                    {
                                        <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow" style="display: none; font-size: 120%;">#@Model.allTags[i].Name_tw</a>
                                    }
                                    else
                                    {
                                        <a href="javascript:getTag(@Model.allTags[i].Tagid)" style="display:none;" class="tagshow">#@Model.allTags[i].Name_tw</a>
                                    }
                                }
                                else
                                {
                                    if (Model.allTags[i].Count >= 21)
                                    {
                                        <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow" style="font-size: 160%; font-weight: 600;">#@Model.allTags[i].Name_tw</a>
                                    }
                                    else if (Model.allTags[i].Count <= 20 && Model.allTags[i].Count >= 16)
                                    {
                                        <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow" style="font-size: 140%;">#@Model.allTags[i].Name_tw</a>
                                    }
                                    else if (Model.allTags[i].Count <= 15 && Model.allTags[i].Count >= 11)
                                    {
                                        <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow" style="font-size: 130%;">#@Model.allTags[i].Name_tw</a>
                                    }
                                    else if (Model.allTags[i].Count <= 10 && Model.allTags[i].Count >= 6)
                                    {
                                        <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow" style="font-size: 120%;">#@Model.allTags[i].Name_tw</a>
                                    }
                                    else
                                    {
                                        <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow">#@Model.allTags[i].Name_tw</a>
                                    }
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="theme-list">
            @if (Model.page != null)
            {
                foreach (var item in Model.page)
                {
                    <div class="theme-box">
                        <div class="theme-img" style="background:url(@(item.Pic==null||item.Pic.Length<=0?"/img/default_src.jpg":item.Pic)) no-repeat center center/cover;"><img src="@(item.Pic==null||item.Pic.Length<=0?"/img/default_src.jpg":item.Pic)" alt="" /></div>
                        <div class="theme-info">
                            <div class="date">@item.Createtime.ToString("yyyy/MM/dd")</div>
                            <div class="tit">@item.Name</div>
                            <div class="route-btn-list">
                                @if (item.routes != null && item.routes.Count > 0)
                                {
                                    for (int i = 0; i < item.routes.Count; i++)
                                    {
                                        <a href="javascript:goCont1(@item.Themeid,@item.routes[i].Routeid)">@item.routes[i].Name</a>
                                    }
                                }
                            </div>
                            <div class="theme-tag">
                                @if (item.tags != null && item.tags.Count > 0)
                                {
                                    foreach (var a in item.tags)
                                    {
                                <a href="javascript:getTag(@a.Tagid)">#@((Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")? a.Name_tw : a.Name_en)</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        @if (Model.page != null && Model.page.Count > 0)
        {
            <div class="pagination-area">
                <a class="lim-btn" href="javascript:getPage(1)">
                    <i class="far fa-arrow-to-left"></i>
                </a>
                <a class="pre-btn" href="javascript:getPage(@Model.page.PageNumber > 1 ? @Model.page.PageNumber - 1 : @Model.page.PageNumber)">
                    <i class="far fa-arrow-left"></i>
                </a>

                @for (int i = (Model.page.PageNumber % 5); i <= (Model.page.PageCount > 5 ? (Model.page.PageNumber % 5) * 5 : Model.page.PageCount); i++)
                {
                    if (Model.page.PageNumber == i)
                    {
                        <a href="javascript:getPage(@i)" class="act">@i</a>
                    }
                    else
                    {
                        <a href="javascript:getPage(@i)">@i</a>
                    }
                }

                <a class="next-btn" href="javascript:getPage(@Model.page.PageNumber==@Model.page.PageCount?@Model.page.PageNumber:@Model.page.PageNumber+1)">
                    <i class="far fa-arrow-right"></i>
                </a>
                <a class="lim-btn" href="javascript:getPage(@Model.page.PageCount)">
                    <i class="far fa-arrow-to-right"></i>
                </a>
            </div>
        }
    </div>
</div>
<form id="cont1" method="post" action="@Url.Action("ThemeCont", "Writer")">
    <input type="hidden" id="Themeid" name="Themeid" value="" />
    <input type="hidden" id="Routeid" name="Routeid" value="" />
</form>
<form id="cont2" method="post" action="@Url.Action("ThemeCont", "Writer")">
    <input type="hidden" id="Themeid" name="Themeid" value="" />
</form>
<form id="getTag" action="@Url.Action("ThemeSrcTagList", "Writer")" method="post">
    <input type="hidden" name="Tagid" id="Tagid" value="" />
</form>
<script>
    function getTag(Tagid) {
        $("#getTag").find("#Tagid").val(Tagid);
        $("#getTag").submit();
    }
    function goCont1(themeid, routeid) {
        //$('#cont1').find('#Themeid').val(themeid);
        //$('#cont1').find('#Routeid').val(routeid);
        //$('#cont1').submit();
        var Lang = getCookie("CacheLang");
        top.location.href = "/" + Lang + "/Writer/ThemeCont?Themeid=" + themeid + "&Routeid=" + routeid;
    }
    function goCont2(themeid) {
        //$('#cont2').find('#Themeid').val(themeid);
        //$('#cont2').submit();
        var Lang = getCookie("CacheLang");
        top.location.href = "/" + Lang + "/Writer/ThemeCont?Themeid=" + themeid;
    }
$(document).ready(function(){
  	var themeBanner = new Swiper('#themeBanner', {
  		//- speed: 400,
  		//- spaceBetween: 100
  		autoHeight: true,
  		navigation: {
  			nextEl: '#themeN',
  			prevEl: '#themeP',
  		},
  		pagination: {
  			el: '#themeBannerPage',
  			clickable: true,
  		},
  	});
});

    $(document).ready(function () {
        //如果超過這個高度才有更多鈕
        hideMoreBtn();
        //標籤打開 隱藏
        var $moreTagBtn = $('#moreTagBtn');
        var $allTagBox = $('#articleAllTagBox');
        $moreTagBtn.on('click', function () {
            var tagOpen = $allTagBox.hasClass('act-open');
            if (tagOpen) {
                $allTagBox.removeClass('act-open');
                $moreTagBtn.find('i').removeClass('fa-angle-up');
                $moreTagBtn.find('i').addClass('fa-angle-down');
                var itag = 0;
                $('.tagshow').each(function (e) {
                    if (itag > 19) {
                        $(this).hide();
                    } else
                        $(this).show();
                    itag++;
                });
            } else {
                $allTagBox.addClass('act-open');
                $moreTagBtn.find('i').addClass('fa-angle-up');
                $moreTagBtn.find('i').removeClass('fa-angle-down');
                sideScrollBtn();
                $('.tagshow').each(function (e) {
                    $(this).show();
                });
            }
        });
    });

    $(window).resize(function () {
        hideMoreBtn();
    });

    //如果超過這個高度才有更多鈕
    function hideMoreBtn() {
        var tagsH = $('#articleAllInnerTagBox').outerHeight();
        if (tagsH < 32) {
            $('#moreTagBtn').hide();
        } else {
            $('#moreTagBtn').show();
        }
    }

    function sideScrollBtn() {
        //內頁側邊卡住
        var fixData = {
            'topNav': '#navArea',//上方nav
            'sideNav': '.side-fixed',//側邊nav
            'pageCont': '.page-cont',//內容高
            'footer': 'footer',//底部footer
            'topMargin': 10,//側邊nav固定上面距離
            'bottomMargin': 80,//側邊nav固定下面距離
            'sideContW': '.page-side'//側邊side寬度
        };
        scrollNAvFix(fixData);
    }

    function getPage(page) {
        var headers = {};
        var data = {};
        data.action = "@ViewBag.Action";
        data.key = "";
        data.page = page;
        var Lang = getCookie("CacheLang");

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("getPage")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                //alert(result["PageNumber"]);
                $(".theme-list").empty();

                for (var i = 0; i < result["Lists"].length; i++) {
                    var str = '<div class="theme-box">' +
                        '<div class="theme-img" style="background:url(' + (result["Lists"][i]["Pic"] == null || result["Lists"][i]["Pic"].length <= 0 ? "/img/default_src.jpg" : result["Lists"][i]["Pic"]) + ') no-repeat center center/cover;"><img src="' + (result["Lists"][i]["Pic"] == null || result["Lists"][i]["Pic"].length <= 0 ? "/img/default_src.jpg" : result["Lists"][i]["Pic"]) + '" alt="" /></div>' +
                        '<div class="theme-info"><div class="date">' + result["Lists"][i]["Createtime"] + '</div>' +
                        '<div class="tit">' + result["Lists"][i]["Name"] + '</div>' +
                        '<div class="route-btn-list">';

                    if (result["Lists"][i]["routes"] != null && result["Lists"][i]["routes"].length > 0) {
                        for (var ii = 0; ii < result["Lists"][i]["routes"].length; ii++) {
                            str += '<a href="javascript:goCont1(' + result["Lists"][i]["Themeid"]+','+result["Lists"][i]["routes"][ii]["Routeid"]+')">' + result["Lists"][i]["routes"][ii]["Name"] + '</a>';
                        }
                    }
                    str += '</div><div class="theme-tag">';

                    if (result["Lists"][i]["tags"] != null && result["Lists"][i]["tags"].length > 0) {
                        for (var ii = 0; ii < result["Lists"][i]["tags"].length; ii++) {
                            str += '<a href="javascript:getTag(' + result["Lists"][i]["Tagid"] + ')">#' + Lang == "zh" ? result["Lists"][i]["Name_tw"] : result["Lists"][i]["Name_en"]+'</a>';
                        }
                    }

                    str += '</div></div ></div >';

                    $(".theme-list").append(str);
                }

                $('.pagination-area').empty();
                $('.pagination-area').append('<a class="lim-btn" href="javascript:getPage(1)"><i class="far fa-arrow-to-left"></i></a>');
                $('.pagination-area').append('<a class="pre-btn" href="javascript:getPage(' + (result["PageNumber"] > 1 ? result["PageNumber"] - 1 : result["PageNumber"]) + ')"><i class="far fa-arrow-left"></i></a>');

                var pageMin = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 1;
                var pageMax = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 5;

                if (parseInt(result["PageCount"]) < pageMax)
                    pageMax = parseInt(result["PageCount"]);
                for (var i = pageMin; i <= pageMax; i++) {
                    if (result["PageNumber"] == i) {
                        $('.pagination-area').append('<a href="javascript:getPage(' + i + ')" class="act">' + i + '</a>');
                    }
                    else {
                        $('.pagination-area').append('<a href="javascript:getPage(' + i + ')">' + i + '</a>');
                    }
                }

                $('.pagination-area').append('<a class="next-btn" href="javascript:getPage(' + (result["PageNumber"] == result["PageCount"] ? result["PageNumber"] : result["PageNumber"] + 1) + ')"><i class="far fa-arrow-right"></i></a>');
                $('.pagination-area').append('<a class="lim-btn" href="javascript:getPage(' + result["PageCount"] + ')"><i class="far fa-arrow-to-right"></i></a>');
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }
</script>
