﻿@using VirtualMuseum.Controllers.Base
@model DataAccess.Domain.Writer.WriterContDomainModel

@{
    BaseController controller = ViewContext.Controller as BaseController;
    if (controller == null)
    {
        throw new ApplicationException("Controller 必須繼承自 MyControllerBase.");
    }
    var Link3 = controller.Link3;
    var Link4 = controller.Link4;
}

<div class="page-tab-area">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index", "Home")">@GlobalRes.Writer_ihead1</a><span>/</span><a href="@Url.Action("WriterList", "Writer")">@GlobalRes.Writer_ihead2</a><span>/</span>
            <div class="act-page">@Model.writertrack.Subject_tw</div>
        </div><a class="back-btn" href="@Url.Action("WriterList", "Writer")"><i class="far fa-angle-left"></i> @GlobalRes.Writer_back2</a>
        <div class="page-nav-area">
            <a class="page-nav-box act" href="@Url.Action("WriterList", "Writer")"><i class="fal fa-books"></i> @(GlobalRes.Writer_head1)</a>
            <a class="page-nav-box" href="@Url.Action("WriterStoryList", "Writer")"><i class="fal fa-map-marked-alt"></i> @GlobalRes.Writer_head2</a>
            <a class="page-nav-box" href="@Url.Action("ThemeList", "Writer")"><i class="fal fa-map-signs"></i> @GlobalRes.Writer_head3</a>
            @if (Link3.Split(new char[] { '|' })[1] == "1")
            {
                <a class="page-nav-box" target="_blank" href="@(Link3.Split(new char[] { '|' })[0])"><i class="fas fa-vr-cardboard"></i>@Html.Raw(Link3.Split(new char[] { '|' })[2])</a>
            }
            @if (Link4.Split(new char[] { '|' })[1] == "1")
            {
                <a class="page-nav-box" target="_blank" href="@(Link4.Split(new char[] { '|' })[0])"><i class="fas fa-vr-cardboard"></i>@Html.Raw(Link4.Split(new char[] { '|' })[2])</a>
            }
        </div>
    </div>
</div>
<div class="page-wrap track-wrap">
    <div class="main-cont">
        <div class="map-theme-area" id="mapThemeBox">
            <!-- <div class="map-theme-box act">
                <div class="img"><img src="img/writer01.jpg" alt="" /></div>
                <div class="name">葉石濤大事記</div>
            </div>
            <div class="map-theme-box">
                <div class="img"><img src="img/writer02.jpg" alt="" /></div>
                <div class="name">李潼大事記</div>
            </div>
            <div class="map-theme-btn"><i class="fas fa-check-circle"></i></div> -->
        </div>
        <h2 class="map-area-tit" id="them"><i class="fas fa-map-marker-alt"></i> <span>@Model.writertrack.Subject_tw</span></h2>
        <div class="map-area-box" id="MapArea">
            <div class="map-box">
                <div class="map" id="map"></div>
                <div class="map-tag-box">
                    <div class="map-tag-btn" id="moreMapTagBtn"><i class="fad fa-arrow-to-top"></i> <span>@GlobalRes.Writer_expand</span></div>
                    <div class="map-enevt-cont-box">
                        <div class="map-enevt-cont" id="mapEventBox">
                            @if (Model.groups != null && Model.groups.Count > 0)
                            {
                                for (int i = 0; i < Model.groups.Count; i++)
                                {
                                    if (Model.groups[i].events != null && Model.groups[i].events.Count > 0)
                                    {
                                        <div class="map-event" id="eventTag@(i+1)">
                                            @foreach (var k in Model.groups[i].events)
                                            {
                                                <div class="t-even">@k.Name_tw</div>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        //<div class="map-event" id="eventTag@(i+1)"></div>
                                    }
                                }
                            }
                        </div>
                    </div>
                    <div class="map-all-tag" id="allMapTagBox">
                        @if (Model.groups != null && Model.groups.Count > 0)
                        {
                            for (int i = 0; i < Model.groups.Count; i++)
                            {
                                <div class="tag">@Model.groups[i].Title_tw</div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="story-cont-box-bg">
                <div class="story-cont-box" id="storyContBox">
                    <div class="story-cover-btn">
                        <span><i class="fas fa-list-ul" id="storyCoverBtn"></i></span>
                    </div>
                    <div class="story-cover" id="storyCover"></div>
                    <div class="story-cont" id="storyCont" style="display:none;">
                        <div class="story-theme-tit" id="themTit">-</div>
                        <div class="story-theme-img-box" id="themeImg">
                            <div class="story-theme-img"><img src="img/w_story01.jpg" alt="" /></div>
                            <div class="story-theme-img-note">-</div>
                        </div>
                        <div class="story-theme-cont" id="themCont">-</div>
                        <div class="story-theme-tag-box" id="themTag">
                            <!-- <div class="tagBtn">#長篇小說</div>
                            <div class="tagBtn">#出生</div> -->
                        </div>
                    </div>
                </div>
                <div class="story-arr-box">
                    <div class="arr" id="preBtn"><i class="fas fa-chevron-left"></i></div>
                    <div class="arr" id="nextBtn"><i class="fas fa-chevron-right"></i></div>
                </div>
            </div>
        </div>
        <!-- <div class="map-area-box" id="MapArea" style="width: 100%;"></div> -->
    </div>
</div>
<form id="getTag" action="@Url.Action("WriterSrcTagList", "Writer")" method="post">
    <input type="hidden" name="Tagid" id="Tagid" value="" />
</form>

<script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" />

<script>
    function getTag(Tagid) {
        $("#getTag").find("#Tagid").val(Tagid);
        $("#getTag").submit();
    }

    $(document).ready(function () {
        //var mapSwiper = new Swiper('#mapSwiper', {
            //- speed: 400,
            //- spaceBetween: 100
            //- autoHeight: true,
            //navigation: {
                //nextEl: '#mapN',
                //prevEl: '#mapP',
            //},
        //});
        //- 標籤開合
        //var $moreMapTagBtn = $('#moreMapTagBtn');
        //var $MapTagBox = $('#allMapTagBox');
        //$moreMapTagBtn.on('click', function () {
        //    var tagOpen = $MapTagBox.hasClass('open');
        //    // fa-arrow-to-top
        //    if (tagOpen) {
        //        $MapTagBox.removeClass('open');
        //        $moreMapTagBtn.find('i').removeClass('fa-arrow-to-bottom');
        //        $moreMapTagBtn.find('i').addClass('fa-arrow-to-top');
        //        $moreMapTagBtn.find('span').html('展開');
        //    } else {
        //        $MapTagBox.addClass('open');
        //        $moreMapTagBtn.find('i').addClass('fa-arrow-to-bottom');
        //        $moreMapTagBtn.find('i').removeClass('fa-arrow-to-top');
        //        $moreMapTagBtn.find('span').html('收合');
        //    }
        //});
        //標籤打開事件
        //$('#allMapTagBox').find('.tag').each(function (ind, item) {
        //    $(this).on('click', function () {
        //        var indEvent = ind + 1;
        //        var $eventTagBox = $('#eventTag' + indEvent);
        //        var eventTagBoxShow = $eventTagBox.is(':visible');
        //        if (eventTagBoxShow) {
        //            $('.tag').removeClass('act');
        //            $('.map-event').hide();
        //            $('#mapEventBox').hide();
        //        } else {
        //            //標籤ACT
        //            $('.tag').removeClass('act');
        //            $(this).addClass('act');
        //            //事件開起(不一定都有事件??如果沒有要關起來)
        //            if ($eventTagBox.length) {
        //                $('.map-event').hide();
        //                $('#mapEventBox').show();
        //                $eventTagBox.show();
        //            } else {
        //                $('.map-event').hide();
        //                $('#mapEventBox').hide();
        //            }
        //        }
        //    });
        //});
    });
</script>

<script type="text/javascript" src="~/js/story_map.js"></script>
