﻿@using VirtualMuseum.Controllers.Base
@model DataAccess.Domain.Writer.WriterListDomainModel

@{
    BaseController controller = ViewContext.Controller as BaseController;
    if (controller == null)
    {
        throw new ApplicationException("Controller 必須繼承自 MyControllerBase.");
    }
    var Link3 = controller.Link3;
    var Link4 = controller.Link4;
}

<div class="page-tab-area">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index", "Home")">@GlobalRes.Writer_ihead1</a><span>/</span>
            <div class="act-page">@GlobalRes.Writer_ihead5</div>
        </div>
        <div class="page-nav-area">
            <a class="page-nav-box" href="@Url.Action("WriterList", "Writer")"><i class="fal fa-books"></i> @GlobalRes.Writer_head1</a>
            <div class="page-nav-box act"><a class="page-nav-box" href="@Url.Action("WriterStoryList", "Writer")"><i class="fal fa-map-marked-alt"></i> @(GlobalRes.Writer_head2)</a></div><a class="page-nav-box" href="@Url.Action("ThemeList", "Writer")"><i class="fal fa-map-signs"></i> @GlobalRes.Writer_head3</a>
            @if (Link3.Split(new char[] { '|' })[1] == "1")
            {
                <a class="page-nav-box" target="_blank" href="@(Link3.Split(new char[] { '|' })[0])"><i class="fas fa-vr-cardboard"></i>@Html.Raw(Link3.Split(new char[] { '|' })[2])</a>
            }
            @if (Link4.Split(new char[] { '|' })[1] == "1")
            {
                <a class="page-nav-box" target="_blank" href="@(Link4.Split(new char[] { '|' })[0])"><i class="fas fa-vr-cardboard"></i>@Html.Raw(Link4.Split(new char[] { '|' })[2])</a>
            }
        </div>
    </div>
</div>
<div class="page-wrap">
    <div class="main-cont">
        <div class="page-group">
            <div class="page-cont">
                <div class="writer-list">
                    @if (Model.datas != null && Model.datas.Count > 0)
                    {
                        for (int i = 0; i < Model.datas.Count; i++)
                        {
                            if (i % 2 == 0)
                            {
                                <div class="writer-cont">
                                    <div class="writer-img">
                                        <a class="writer-img-box" href="javascript:getData('@Model.datas[i].Wid')" style="background-image:url(@(Model.datas[i].Pic_tw==null||Model.datas[i].Pic_tw.Length<=0?"/img/default_src.jpg":Model.datas[i].Pic_tw));"><img src="@(Model.datas[i].Pic_tw==null||Model.datas[i].Pic_tw.Length<=0?"/img/default_src.jpg":Model.datas[i].Pic_tw)" alt="" /></a>
                                    </div>
                                    <div class="writer-info">
                                        <h3>@Model.datas[i].Subject_tw</h3>
                                        <div class="writer-txt">
                                            <p>@((Model.datas[i].events != null && Model.datas[i].events.Count> 0)?@Html.Raw(Model.datas[i].events[0].Content_tw): @Html.Raw(""))</p>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="writer-cont writer-cont-right">
                                    <div class="writer-img"><a class="writer-img-box" href="javascript:getData('@Model.datas[i].Wid')" style="background-image:url(@(Model.datas[i].Pic_tw==null||Model.datas[i].Pic_tw.Length<=0?"/img/default_src.jpg":Model.datas[i].Pic_tw));"><img src="@(Model.datas[i].Pic_tw==null||Model.datas[i].Pic_tw.Length<=0?"/img/default_src.jpg":Model.datas[i].Pic_tw)" alt="" /></a></div>
                                    <div class="writer-info">
                                        <h3>@Model.datas[i].Subject_tw</h3>
                                        <div class="writer-txt">
                                            <p>@((Model.datas[i].events != null && Model.datas[i].events.Count> 0)?@Html.Raw(Model.datas[i].events[0].Content_tw): @Html.Raw(""))</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
            <div class="page-side">
                <div class="side-tag-box">
                    <div class="creat-article-tag-tit">
                        <div>@GlobalRes.Writer_tag</div>
                        <div class="creat-article-tag-more" id="moreTagBtn">@GlobalRes.Writer_showtag<i class="far fa-angle-down"></i></div>
                    </div>
                    <div class="creat-article-tag gin-tag-box">
                        <div class="article-all-tag" id="articleAllTagBox">
                            <div id="articleAllInnerTagBox">
                                @if (Model.allTags.Count > 0)
                                {
                                    for (int i = 0; i < Model.allTags.Count; i++)
                                    {
                                        if (i > 19)
                                        {
                                            if (Model.allTags[i].Count >= 21)
                                            {
                                                <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow" style="display: none; font-size: 160%; font-weight: 600;">#@Model.allTags[i].Name_tw</a>
                                            }
                                            else if (Model.allTags[i].Count <= 20 && Model.allTags[i].Count >= 16)
                                            {
                                                <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow" style="display: none; font-size: 140%;">#@Model.allTags[i].Name_tw</a>
                                            }
                                            else if (Model.allTags[i].Count <= 15 && Model.allTags[i].Count >= 11)
                                            {
                                                <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow" style="display: none; font-size: 130%;">#@Model.allTags[i].Name_tw</a>
                                            }
                                            else if (Model.allTags[i].Count <= 10 && Model.allTags[i].Count >= 6)
                                            {
                                                <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow" style="display: none; font-size: 120%;">#@Model.allTags[i].Name_tw</a>
                                            }
                                            else
                                            {
                                                <a href="javascript:getTag(@Model.allTags[i].Tagid)" style="display:none;" class="tagshow">#@Model.allTags[i].Name_tw</a>
                                            }
                                        }
                                        else
                                        {
                                            if (Model.allTags[i].Count >= 21)
                                            {
                                                <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow" style="font-size: 160%; font-weight: 600;">#@Model.allTags[i].Name_tw</a>
                                            }
                                            else if (Model.allTags[i].Count <= 20 && Model.allTags[i].Count >= 16)
                                            {
                                                <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow" style="font-size: 140%;">#@Model.allTags[i].Name_tw</a>
                                            }
                                            else if (Model.allTags[i].Count <= 15 && Model.allTags[i].Count >= 11)
                                            {
                                                <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow" style="font-size: 130%;">#@Model.allTags[i].Name_tw</a>
                                            }
                                            else if (Model.allTags[i].Count <= 10 && Model.allTags[i].Count >= 6)
                                            {
                                                <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow" style="font-size: 120%;">#@Model.allTags[i].Name_tw</a>
                                            }
                                            else
                                            {
                                                <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow">#@Model.allTags[i].Name_tw</a>
                                            }
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="getCont" action="@Url.Action("WriterStoryCont")" method="post">
    <input type="hidden" name="Wid" id="Wid" value="" />
</form>
<form id="getTag" action="@Url.Action("WriterStorySrcTagList", "Writer")" method="post">
    <input type="hidden" name="Tagid" id="Tagid" value="" />
</form>

<script>
    function getData(Wid) {
        //$("#getCont").find("#Wid").val(Wid);
        //$("#getCont").submit();
        var Lang = getCookie("CacheLang");
        top.location.href = "/" + Lang + "/Writer/WriterStoryCont?Wid=" + Wid;
    }
    function getTag(Tagid) {
        $("#getTag").find("#Tagid").val(Tagid);
        $("#getTag").submit();
    }
    $(document).ready(function () {
        //如果超過這個高度才有更多鈕
		hideMoreBtn();
        //標籤打開 隱藏
        var $moreTagBtn = $('#moreTagBtn');
        var $allTagBox = $('#articleAllTagBox');
        $moreTagBtn.on('click', function () {
            var tagOpen = $allTagBox.hasClass('act-open');
            if (tagOpen) {
                $allTagBox.removeClass('act-open');
                $moreTagBtn.find('i').removeClass('fa-angle-up');
                $moreTagBtn.find('i').addClass('fa-angle-down');
                //- sideScrollBtn();
                var itag = 0;
                $('.tagshow').each(function (e) {
                    if (itag > 19) {
                        $(this).hide();
                    } else
                        $(this).show();
                    itag++;
                });
            } else {
                $allTagBox.addClass('act-open');
                $moreTagBtn.find('i').addClass('fa-angle-up');
                $moreTagBtn.find('i').removeClass('fa-angle-down');
                sideScrollBtn();
                $('.tagshow').each(function (e) {
                    $(this).show();
                });
            }
        });
    });
    $(window).resize(function () {
		hideMoreBtn();
    });

	//如果超過這個高度才有更多鈕
	function hideMoreBtn(){
		var tagsH = $('#articleAllInnerTagBox').outerHeight();
		if(tagsH < 156){
			$('#moreTagBtn').hide();
		}else{
			$('#moreTagBtn').show();
		}
	}

    function sideScrollBtn() {
        console.log('123')
        //內頁側邊卡住
        var fixData = {
            'topNav': '#navArea',//上方nav
            'sideNav': '.side-fixed',//側邊nav
            'pageCont': '.page-cont',//內容高
            'footer': 'footer',//底部footer
            'topMargin': 10,//側邊nav固定上面距離
            'bottomMargin': 80,//側邊nav固定下面距離
            'sideContW': '.page-side'//側邊side寬度
        };
        scrollNAvFix(fixData);
    }
</script>
