﻿@using System.Web.Configuration

@{

}

<div class="page-tab-area">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index", "Home")">@GlobalRes.Create_ihead1</a><span>/</span><a href="@Url.Action("CreateQAList", "Create")">@GlobalRes.Create_ihead3</a><span>/</span>
            <div class="act-page">@GlobalRes.Create_startTalk</div>
        </div><a class="back-btn" href="@Url.Action("CreateQAList", "Create")"><i class="far fa-angle-left"></i> @GlobalRes.Create_back2</a>
        <div class="page-nav-area">
            <a class="page-nav-box" href="@Url.Action("CreatePlatform", "Create")"><i class="fal fa-pencil-alt"></i> @GlobalRes.Create_head1</a>
            <div class="page-nav-box act"><a class="page-nav-box" href="@Url.Action("CreateQAList")"><i class="fas fa-comments"></i> @(GlobalRes.Create_head2)</a></div>
        </div>
    </div>
</div>
<div class="page-wrap">
    <div class="main-cont">
        <div class="page-group">
            <div class="page-cont">
                <form id="setForm" action="@Url.Action("QACreate", "Create")" method="post">
                    @Html.AntiForgeryToken()
                    <div class="create-reply-tit">
                        <div class="input-area">
                            <label for="title">@GlobalRes.QA_topic：</label>
                            <div class="input-box">
                                <input class="input-sty required" type="text" id="title" name="title" placeholder="@GlobalRes.QA_subject2" />
                            </div>
                        </div>
                    </div>
                    <div class="create-reply-box">
                        <div class="reply-enter-tit">@GlobalRes.QA_content：</div>
                        <div class="textarea-box">
                            <textarea class="reply-sty required" id="reply" name="reply" maxlength="1000" placeholder="@GlobalRes.Site_message7"></textarea>
                        </div>
                        <div class="reply-enter-btn-box">
                            <div class="enter-note">@GlobalRes.QA_contentlimit</div>
                            <input type="hidden" value="" id="recaptcha" name="recaptcha" />
                            <div class="robet-box">
                                <div id="html_element"></div>
                                <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
                                        async defer>
                                </script>
                            </div>
                            <div class="enter-btn-box">
                                <div class="cancel-btn" id="cancelReply">@GlobalRes.QA_cancel</div>
                                <div class="submit-btn">
                                    @GlobalRes.QA_send
                                    <input type="submit" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="page-side">
                @Html.Raw(GlobalRes.QA_notice)
            </div>
        </div>
    </div>
</div>
<script>
        var onloadCallback = function () {
            grecaptcha.render('html_element', {
                'sitekey': '@(WebConfigurationManager.AppSettings["Recaptcha_siteKey"])',
                callback: token => {
                    $("#recaptcha").val(token);
                    //console.log(token);
                    //grecaptcha.reset();
                }
            });
        };
        $(document).ready(function () {
            var lang = getCookie('CacheLang');
            var reqTxt;
            lang == 'zh' ? reqTxt = '必填' : reqTxt = 'Required';

        $('#cancelReply').on('click', function (e) {
            top.location.href = '@Url.Action("CreateQAList", "Create")';
        });
            var validator = $("#setForm").validate({
                messages: {
                    title: {
                        required: reqTxt,
                    },
                    reply: {
                        required: reqTxt,
                    },
                },
                rules: {
                    title: {
                        maxlength: 50,
                    },
                },
            submitHandler: function (form) {
                if ($("#setForm").find("#reply").val().length > 1000) {
                    alertTxt('@GlobalRes.Site_message2');
                    return;
                } else
                    form.submit();
            }
        });

    @if (ViewBag.QAResponse != null)
    {
        if (ViewBag.QAResponse == 0 || ViewBag.QAResponse == -1 || ViewBag.QAResponse == -2)
        {
        <Text>
            alertTxt('@GlobalRes.Site_message3');
        </Text>
        }
        else if (ViewBag.QAResponse == -4)
        {
        <Text>
            alertTxt('@GlobalRes.Site_message4');
        </Text>
        }
        else if (ViewBag.QAResponse == -3)
        {
        <Text>
            alertTxt("@GlobalRes.Site_message1");

            setTimeout(function() {
                top.location.href = '@Url.Action("Login", "Account")';
            }, 1000);
        </Text>
        }
        else if (ViewBag.QAResponse == -21)
        {
        <Text>
            alertTxt("@GlobalRes.Site_message5");
        </Text>
        }
        else
        {
        <Text>
            alertTxt('@GlobalRes.Site_message6');
            setTimeout(function() {
                top.location.href = '@Url.Action("CreateQAList", "Create")';
            }, 1000);
        </Text>
            }
        }
    });
</script>