﻿@using System.Web.Configuration

@model DataAccess.Domain.Create.CreatePlatformDomainModel

@{
    ViewBag.Action = "CreatePlatform";
    string UrlDomain = WebConfigurationManager.AppSettings["apiDomain"];
    string lang = "zh";
    if (Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")
    {
        lang = "zh";
    }
    else
    {
        lang = "en";
    }
}
<div class="page-tab-area">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index", "Home")">@GlobalRes.Create_ihead1</a><span>/</span>
            <div class="act-page">@GlobalRes.Create_ihead2</div>
        </div>
        <div class="page-nav-area">
            <a class="page-nav-box act" href="@Url.Action("CreatePlatform", "Create")"><i class="fal fa-pencil-alt"></i> @(GlobalRes.Create_head1)</a><a class="page-nav-box" href="@Url.Action("CreateQAList")"><i class="fas fa-comments"></i> @GlobalRes.Create_head2</a>
        </div>
    </div>
</div>
<div class="article-banner-area">
    <div class="main-cont">
        <!-- 搜尋框框先隱藏 -->
        <!-- <div class="creat-src-box">
            <div class="creat-src">
                <input id="searchkey" type="text" name="" placeholder="@GlobalRes.Create_search" value="@ViewBag.Key"/>
            </div>
            <div class="creat-src-btn"><i class="fas fa-search"></i>@GlobalRes.Create_search_btn</div>
        </div> -->
        <div class="article-banner-cont">
            @if (Model.creates != null && Model.creates.Count > 0)
            {
                <a class="article-banner-img" href="@Url.Action("CreatePlatformCont", "Create", new { Createid = Model.creates[0].Createid })" style="background: url(@(Model.creates[0].Pic_tw==null||Model.creates[0].Pic_tw.Length<=0?"/img/default_src.jpg":Model.creates[0].Pic_tw)) no-repeat center center/cover"><img src="@(Model.creates[0].Pic_tw==null||Model.creates[0].Pic_tw.Length<=0?"/img/default_src.jpg":Model.creates[0].Pic_tw)" alt="" /></a>
                <div class="article-banner-box">
                    <div class="article-banner-info">
                        <div class="date">@(Model.creates[0].Createtime.ToString("yyyy/MM/dd"))</div>
                        <a class="tit" href="@Url.Action("CreatePlatformCont", "Create", new { Createid = Model.creates[0].Createid })">@(Model.creates[0].Title_tw)</a>
                        <a class="cont" href="@Url.Action("CreatePlatformCont", "Create", new { Createid = Model.creates[0].Createid })">
                            <p>@Html.Raw(Model.creates[0].Content_tw)</p>
                        </a>
                    </div>
                    <div class="article-banner-tag-box">
                        <div class="article-banner-tag gin-tag-box">
                            @if (Model.creates[0].tags != null)
                            {
                                foreach (var tag in Model.creates[0].tags)
                                {
                                    <a href="javascript:getTag(@tag.Tagid)">#(@tag.Name_tw)</a>
                                }
                            }
                        </div>
                        <div class="article-banner-share share-btn-box">
                            <iframe src="https://www.facebook.com/plugins/like.php?href=@(HttpUtility.UrlEncode(UrlDomain+Url.Action("CreatePlatformCont", "Create", new { Createid = Model.creates[0].Createid, lang=lang })))&width=112&layout=button_count&action=like&size=small&share=true&height=46&appId=@(WebConfigurationManager.AppSettings["Facebook_appId"])" width="112" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="creat-article-list-area">
    <div class="main-cont">
        <div class="creat-article-tag-box">
            <div class="creat-article-tag-tit">
                <div><i class="fas fa-tag"></i>@GlobalRes.Create_tag2</div>
                <div class="creat-article-tag-more" id="moreTagBtn">@GlobalRes.Create_showtag<i class="far fa-angle-down"></i></div>
            </div>
            <div class="creat-article-tag gin-tag-box">
                <div class="article-all-tag" id="articleAllTagBox">
                    <div id="articleAllInnerTagBox">
                        @if (Model.tags != null)
                        {
                            for (int i = 0; i < Model.tags.Count; i++)
                            {
                                if (i > 19)
                                {
                                    if (Model.tags[i].Count >= 21)
                                    {
                                        <a href="javascript:getTag(@Model.tags[i].Tagid)" class="tagshow" style="display: none; font-size: 160%; font-weight: 600;">#@Model.tags[i].Name_tw</a>
                                    }
                                    else if (Model.tags[i].Count <= 20 && Model.tags[i].Count >= 16)
                                    {
                                        <a href="javascript:getTag(@Model.tags[i].Tagid)" class="tagshow" style="display: none; font-size: 140%;">#@Model.tags[i].Name_tw</a>
                                    }
                                    else if (Model.tags[i].Count <= 15 && Model.tags[i].Count >= 11)
                                    {
                                        <a href="javascript:getTag(@Model.tags[i].Tagid)" class="tagshow" style="display: none; font-size: 130%;">#@Model.tags[i].Name_tw</a>
                                    }
                                    else if (Model.tags[i].Count <= 10 && Model.tags[i].Count >= 6)
                                    {
                                        <a href="javascript:getTag(@Model.tags[i].Tagid)" class="tagshow" style="display: none; font-size: 120%;">#@Model.tags[i].Name_tw</a>
                                    }
                                    else
                                    {
                                        <a href="javascript:getTag(@Model.tags[i].Tagid)" style="display:none;" class="tagshow">#@Model.tags[i].Name_tw</a>
                                    }
                                }
                                else
                                {
                                    if (Model.tags[i].Count >= 21)
                                    {
                                        <a href="javascript:getTag(@Model.tags[i].Tagid)" class="tagshow" style="font-size: 160%; font-weight: 600;">#@Model.tags[i].Name_tw</a>
                                    }
                                    else if (Model.tags[i].Count <= 20 && Model.tags[i].Count >= 16)
                                    {
                                        <a href="javascript:getTag(@Model.tags[i].Tagid)" class="tagshow" style="font-size: 140%;">#@Model.tags[i].Name_tw</a>
                                    }
                                    else if (Model.tags[i].Count <= 15 && Model.tags[i].Count >= 11)
                                    {
                                        <a href="javascript:getTag(@Model.tags[i].Tagid)" class="tagshow" style="font-size: 130%;">#@Model.tags[i].Name_tw</a>
                                    }
                                    else if (Model.tags[i].Count <= 10 && Model.tags[i].Count >= 6)
                                    {
                                        <a href="javascript:getTag(@Model.tags[i].Tagid)" class="tagshow" style="font-size: 120%;">#@Model.tags[i].Name_tw</a>
                                    }
                                    else
                                    {
                                        <a href="javascript:getTag(@Model.tags[i].Tagid)" class="tagshow">#@Model.tags[i].Name_tw</a>
                                    }
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="creat-article-list">
            @if (Model.creates != null)
            {
                for (int i = 1; i < Model.creates.Count; i++)
                {
                    <div class="creat-article-box">
                        <a class="creat-article-img" style="background:url(@(Model.creates[i].Pic_tw==null||Model.creates[i].Pic_tw.Length<=0?"/img/default_src.jpg":Model.creates[i].Pic_tw)) no-repeat center center/cover;" href="@Url.Action("CreatePlatformCont", "Create", new { Createid = Model.creates[i].Createid })"><img src="@(Model.creates[i].Pic_tw==null||Model.creates[i].Pic_tw.Length<=0?"/img/default_src.jpg":Model.creates[i].Pic_tw)" alt="" /></a>
                        <div class="creat-article-cont">
                            <div class="date">@(Model.creates[i].Createtime.ToString("yyyy/MM/dd"))</div>
                            <a class="tit" href="@Url.Action("CreatePlatformCont", "Create", new { Createid = Model.creates[i].Createid })">@(Model.creates[i].Title_tw)</a>
                            <a class="cont" href="@Url.Action("CreatePlatformCont", "Create", new { Createid = Model.creates[i].Createid })">
                                <p>@Html.Raw(Model.creates[i].Content_tw)</p>
                            </a>
                            <div class="tag-box gin-tag-box">
                                @if (Model.creates[i].tags != null)
                                {
                                    foreach (var tag in Model.creates[i].tags)
                                    {
                                        <a class="tag" href="javascript:getTag(@tag.Tagid)">#@(tag.Name_tw)</a>
                                    }
                                }
                            </div>
                        </div>
                        <div class="share-btn-area">
                            <div class="share-btn-box">
                                <iframe src="https://www.facebook.com/plugins/like.php?href=@(HttpUtility.UrlEncode(UrlDomain+Url.Action("CreatePlatformCont", "Create", new { Createid = Model.creates[i].Createid, lang=lang })))&width=112&layout=button_count&action=like&size=small&share=true&height=46&appId=@(WebConfigurationManager.AppSettings["Facebook_appId"])" width="112" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                            </div>
                            <div class="maker">——— @(Model.creates[i].Author_tw)</div>
                        </div>
                    </div>
                }
            }
        </div>
        @if (Model.creates != null && Model.creates.Count > 0)
        {
            <div class="pagination-area">
                <a class="lim-btn" href="javascript:getPage(1)">
                    <i class="far fa-arrow-to-left"></i>
                </a>
                <a class="pre-btn" href="javascript:getPage(@Model.creates.PageNumber > 1 ? @Model.creates.PageNumber - 1 : @Model.creates.PageNumber)">
                    <i class="far fa-arrow-left"></i>
                </a>

                @for (int i = (Model.creates.PageNumber % 5); i <= (Model.creates.PageCount > 5 ? (Model.creates.PageNumber % 5) * 5 : Model.creates.PageCount); i++)
                {
                    if (Model.creates.PageNumber == i)
                    {
                        <a href="javascript:getPage(@i)" class="act">@i</a>
                    }
                    else
                    {
                        <a href="javascript:getPage(@i)">@i</a>
                    }
                }

                <a class="next-btn" href="javascript:getPage(@Model.creates.PageNumber==@Model.creates.PageCount?@Model.creates.PageNumber:@Model.creates.PageNumber+1)">
                    <i class="far fa-arrow-right"></i>
                </a>
                <a class="lim-btn" href="javascript:getPage(@Model.creates.PageCount)">
                    <i class="far fa-arrow-to-right"></i>
                </a>
            </div>
        }
    </div>
</div>

<form id="searchform" action="@Url.Action("searchPage")" method="post">
    <input type="hidden" name="action" value="@ViewBag.Action" />
    <input type="hidden" name="userKeyWord" id="keyWord" value="@ViewBag.Key" />
</form>
<form id="getTag" action="@Url.Action("CreateSrcTagList", "Create")" method="post">
    <input type="hidden" name="Tagid" id="Tagid" value="" />
</form>
<script>
            function getTag(Tagid) {
                $("#getTag").find("#Tagid").val(Tagid);
                $("#getTag").submit();
            }
    $(document).ready(function () {
        $(".creat-src-btn").on("click", function (e) {
            var key = $("#searchkey").val();

            if (key) {
                $("#searchform").find("#keyWord").val(key);
                $("#searchform").submit();
            } else
                alertTxt(@((Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")? Html.Raw("'請輸入關鍵字'"): Html.Raw("'Please enter search keywords.'")));
        });
        //如果超過這個高度才有更多鈕
        hideMoreBtn();
        //標籤打開 隱藏
        $('#moreTagBtn').on('click', function () {
            var tagOpen = $('#articleAllTagBox').hasClass('act-open');
            if (tagOpen) {
                $('#articleAllTagBox').removeClass('act-open');
                $('#moreTagBtn').find('i').removeClass('fa-angle-up');
                $('#moreTagBtn').find('i').addClass('fa-angle-down');
                var itag = 0;
                $('.tagshow').each(function (e) {
                    if (itag > 19) {
                        $(this).hide();
                    } else
                        $(this).show();
                    itag++;
                });
            } else {
                $('#articleAllTagBox').addClass('act-open');
                $('#moreTagBtn').find('i').addClass('fa-angle-up');
                $('#moreTagBtn').find('i').removeClass('fa-angle-down');
                sideScrollBtn();
                $('.tagshow').each(function (e) {
                    $(this).show();
                });
            }
        });
    });

    $(window).resize(function () {
		hideMoreBtn();
	});

	//如果超過這個高度才有更多鈕
	function hideMoreBtn(){
		var tagsH = $('#articleAllInnerTagBox').outerHeight();
		if(tagsH < 32){
			$('#moreTagBtn').hide();
		}else{
			$('#moreTagBtn').show();
		}
	}

    function sideScrollBtn() {
        //內頁側邊卡住
        var fixData = {
            'topNav': '#navArea',//上方nav
            'sideNav': '.side-fixed',//側邊nav
            'pageCont': '.page-cont',//內容高
            'footer': 'footer',//底部footer
            'topMargin': 10,//側邊nav固定上面距離
            'bottomMargin': 80,//側邊nav固定下面距離
            'sideContW': '.page-side'//側邊side寬度
        };
        scrollNAvFix(fixData);
    }

    var globalkeyword = "@ViewBag.Key";

    function getPage(page) {
        var headers = {};
        var data = {};
        data.action = "@ViewBag.Action";
        data.key = globalkeyword;
        data.page = page;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("getPage")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                //alert(result["PageNumber"]);
                $(".creat-article-list").empty();
                $(".article-banner-cont").empty();

                for (var i = 0; i < result["Lists"].length; i++) {
                    if (i == 0) {
                        var str = '<a class="article-banner-img" href="/Create/CreatePlatformCont?Createid=' + result["Lists"][i]["Createid"] + '" style="background: url(' + (result["Lists"][i]["Pic_tw"] == null || result["Lists"][i]["Pic_tw"].length <= 0 ? "/img/default_src.jpg" : result["Lists"][i]["Pic_tw"]) + ') no-repeat center center/cover"><img src="' + (result["Lists"][i]["Pic_tw"] == null || result["Lists"][i]["Pic_tw"].length <= 0 ? "/img/default_src.jpg" : result["Lists"][i]["Pic_tw"]) + '" alt="" /></a>' +
                            '<div class="article-banner-box"><div class="article-banner-info">' +
                            '<div class="date">' + result["Lists"][i]["Createtime"] + '</div>' +
                            '<a class="tit" href="/Create/CreatePlatformCont?Createid=' + result["Lists"][i]["Createid"] + '">' + result["Lists"][i]["Title_tw"] + '</a>' +
                            '<a class="cont" href="/Create/CreatePlatformCont?Createid=' + result["Lists"][i]["Createid"] + '"><p>' + result["Lists"][i]["Content_tw"] + '</p></a></div>' +
                            '<div class="article-banner-tag-box"><div class="article-banner-tag gin-tag-box">';
                        if (result["Lists"][i]["tags"] != null) {
                            for (var k = 0; k < result["Lists"][i]["tags"].length; k++) {
                                str += '<a href="javascript:getTag(' + result["Lists"][i]["tags"][k]["tagid"]+')">#' + result["Lists"][i]["tags"][k]["tagName"]+'</a>';
                            }
                        }
                        str += '</div><div class="article-banner-share share-btn-box">'+
                            '<iframe src="https://www.facebook.com/plugins/like.php?href=' + encodeURIComponent(('@(UrlDomain)/Create/CreatePlatformCont?lang=@(lang)&Createid=' + result["Lists"][i]["Createid"])) + '&width=112&layout=button_count&action=like&size=small&share=true&height=46&appId=@(WebConfigurationManager.AppSettings["Facebook_appId"])" width="112" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>'+
                            '</div></div></div>';

                        $(".article-banner-cont").append(str);
                    } else {
                        var str = '<div class="creat-article-box">' +
                            '<a class="creat-article-img" style="background:url(' + (result["Lists"][i]["Pic_tw"] == null || result["Lists"][i]["Pic_tw"].length <= 0 ? "/img/default_src.jpg" : result["Lists"][i]["Pic_tw"]) + ') no-repeat center center/cover;" href="/Create/CreatePlatformCont?Createid=' + result["Lists"][i]["Createid"] + '"><img src="' + (result["Lists"][i]["Pic_tw"] == null || result["Lists"][i]["Pic_tw"].length <= 0 ? "/img/default_src.jpg" : result["Lists"][i]["Pic_tw"]) + '" alt="" /></a>' +
                            '<div class="creat-article-cont">' +
                            '<div class="date">' + result["Lists"][i]["Createtime"] + '</div>' +
                            '<a class="tit" href="/Create/CreatePlatformCont?Createid=' + result["Lists"][i]["Createid"] + '">' + result["Lists"][i]["Title_tw"] + '</a>' +
                            '<a class="cont" href="/Create/CreatePlatformCont?Createid=' + result["Lists"][i]["Createid"] + '"><p>' + result["Lists"][i]["Content_tw"] +
                            '</p></a><div class="tag-box gin-tag-box">';
                        if (result["Lists"][i]["tags"] != null) {
                            for (var k = 0; k < result["Lists"][i]["tags"].length; k++) {
                                str += '<a class="tag" href="javascript:getTag(' + result["Lists"][i]["tags"][k]["tagid"] +')">#' + result["Lists"][i]["tags"][k]["tagName"]+'</a>';
                            }
                        }
                        str += '</div></div><div class="share-btn-area"><div class="share-btn-box">' +
                            '<iframe src="https://www.facebook.com/plugins/like.php?href=' + encodeURIComponent(('@(UrlDomain)/Create/CreatePlatformCont?lang=@(lang)&Createid=' + result["Lists"][i]["Createid"])) + '&width=112&layout=button_count&action=like&size=small&share=true&height=46&appId=@(WebConfigurationManager.AppSettings["Facebook_appId"])" width="112" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>' +
                            '</div>' +
                            '<div class="maker">——— ' + result["Lists"][i]["Author_tw"] + '</div>' +
                            '</div></div>';
                        $(".creat-article-list").append(str);
                    }
                }

                $('.pagination-area').empty();
                $('.pagination-area').append('<a class="lim-btn" href="javascript:getPage(1)"><i class="far fa-arrow-to-left"></i></a>');
                $('.pagination-area').append('<a class="pre-btn" href="javascript:getPage(' + (result["PageNumber"] > 1 ? result["PageNumber"] - 1 : result["PageNumber"]) + ')"><i class="far fa-arrow-left"></i></a>');

                var pageMin = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 1;
                var pageMax = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 5;

                if (parseInt(result["PageCount"]) < pageMax)
                    pageMax = parseInt(result["PageCount"]);
                for (var i = pageMin; i <= pageMax; i++) {
                    if (result["PageNumber"] == i) {
                        $('.pagination-area').append('<a href="javascript:getPage(' + i + ')" class="act">' + i + '</a>');
                    }
                    else {
                        $('.pagination-area').append('<a href="javascript:getPage(' + i + ')">' + i + '</a>');
                    }
                }

                $('.pagination-area').append('<a class="next-btn" href="javascript:getPage(' + (result["PageNumber"] == result["PageCount"] ? result["PageNumber"] : result["PageNumber"] + 1) + ')"><i class="far fa-arrow-right"></i></a>');
                $('.pagination-area').append('<a class="lim-btn" href="javascript:getPage(' + result["PageCount"] + ')"><i class="far fa-arrow-to-right"></i></a>');
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }
</script>
