﻿@using VirtualMuseum.Controllers.Base
@using System.Web.Configuration

@model DataAccess.Domain.Create.MessagePageDomainModel
@{
    BaseController controller = ViewContext.Controller as BaseController;
    if (controller == null)
    {
        throw new ApplicationException("Controller 必須繼承自 MyControllerBase.");
    }
}

<div class="page-tab-area">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index", "Home")">@GlobalRes.Create_ihead1</a><span>/</span><a href="@Url.Action("CreatePlatform", "Create")">@GlobalRes.Create_ihead2</a><span>/</span>
            <div class="act-page">@GlobalRes.Create_ihead5</div>
        </div><a class="back-btn" href="@Url.Action("CreateQAList")"><i class="far fa-angle-left"></i> @GlobalRes.QA_back1</a>
        <div class="page-nav-area">
            <a class="page-nav-box" href="@Url.Action("CreatePlatform", "Create")"><i class="fal fa-pencil-alt"></i> @GlobalRes.Create_head1</a>
            <div class="page-nav-box act"><a class="page-nav-box" href="@Url.Action("CreateQAList")"><i class="fas fa-comments"></i> @(GlobalRes.Create_head2)</a></div>
        </div>
    </div>
</div>
<div class="page-wrap">
    <div class="main-cont">
        <div class="page-group">
            <div class="page-cont">
                <div class="communicate-cont-area">
                    <h2>@Model.Title</h2>
                    <div class="communicate-maker-box">
                        <div class="maker-box">
                            <div class="maker-photo"><img src="@(Model.HeadPic==null||Model.HeadPic.Length<=0?"/img/default_src.jpg":Model.HeadPic)" alt="" /></div>
                            <div class="maker-name">@GlobalRes.QA_ask<span>@Model.NickName</span>@GlobalRes.QA_say2：</div>
                        </div>
                        <div class="comm-info-box">
                            <div class="comm-msg"><i class="fas fa-comments-alt"></i> @GlobalRes.QA_already<span>@Model.replys.Count</span>@GlobalRes.QA_already_end</div>
                            <div class="comm-time"><i class="fas fa-clock"></i> @GlobalRes.QA_date：<span>@Model.Createtime.ToString("yyyy/MM/dd HH:mm:ss")</span></div>
                        </div>
                    </div>
                    <div class="communicate-cont">
                        <div class="communicate-txt-box">
                            <p>
                                @Html.Raw(Model.Editor)
                            </p>
                        </div>
                        @if (Model.admin_replys != null && Model.admin_replys.Count > 0)
                        {
                            foreach (var d in Model.admin_replys)
                            {
                                <div class="admin-reply-box reply-article">
                                    <div><i class="far fa-reply-all"></i> <span class="reply-name">@GlobalRes.Site_admin</span>@GlobalRes.QA_say2：</div>
                                    <p>@Html.Raw(d.Data)</p>
                                </div>
                            }
                        }
                        <div class="communicate-reply-enter-box" id="replyBox">
                            <form id="replyForm" action="@Url.Action("QAReply", "Create")" method="post">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="Qid" id="Qid" value="@Model.Qid" />
                                <div class="reply-enter-tit"><i class="fas fa-reply"></i> @GlobalRes.QA_replytopic：</div>
                                <div class="textarea-box">
                                    <textarea class="reply-sty required" id="reply" name="reply" maxlength="1000" placeholder="@GlobalRes.Site_message7"></textarea>
                                </div>
                                <div class="reply-enter-btn-box">
                                    <div class="enter-note">@GlobalRes.QA_contentlimit</div>
                                    <input type="hidden" value="" id="recaptcha" name="recaptcha" />
                                    <div class="robet-box">
                                        <div id="html_element"></div>
                                        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
                                                async defer>
                                        </script>
                                    </div>
                                    <div class="enter-btn-box">
                                        <div class="cancel-btn" id="cancelReply">@GlobalRes.QA_cancel</div>
                                        <div class="submit-btn">
                                            @GlobalRes.QA_send
                                            <input type="submit" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        @if (Model.replys != null && Model.replys.Count > 0)
                        {
                            foreach (var d in Model.replys)
                            {
                                <div class="communicate-reply-box">
                                    <div class="reply-info-box">
                                        <div><i class="fas fa-reply"></i><span class="reply-name">@d.NickName</span>@GlobalRes.QA_say1：</div>
                                        <div class="reply-time"><i class="fas fa-clock"></i> @GlobalRes.QA_Replydate：<span>@d.Createtime.ToString("yyyy/MM/dd HH:mm:ss")</span></div>
                                    </div>
                                    <div class="reply-txt">
                                        @if (d.Display == 1)
                                        {
                                            <p>@Html.Raw(d.Data)</p>
                                        }
                                        else
                                        {
                                            <div class="reply-alert">@GlobalRes.QA_illegal</div>
                                        }
                                    </div>
                                    @if (d.reply != null)
                                    {
                                        <div class="admin-reply-box">
                                            <div><i class="far fa-reply-all"></i> <span class="reply-name">@GlobalRes.Site_admin</span>@GlobalRes.QA_say2：</div>
                                            <p>@Html.Raw(d.reply.Data)</p>
                                        </div>
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="page-side">
                <div class="communicate-btn-cont side-fixed">
                    <div class="communicate-btn communicate-btn2" id="replyBtn"><i class="fas fa-comments-alt"></i> @GlobalRes.QA_leavemessage</div><a class="communicate-btn" href="@Url.Action("CreateQA", "Create")"><i class="fas fa-comment-exclamation"></i> @GlobalRes.QA_discuss</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var onloadCallback = function () {
        grecaptcha.render('html_element', {
            'sitekey': '@(WebConfigurationManager.AppSettings["Recaptcha_siteKey"])',
            callback: token => {
                $("#recaptcha").val(token);
                //console.log(token);
                //grecaptcha.reset();
            }
        });
    };
    $(document).ready(function () {
        var lang = getCookie('CacheLang');
        var reqTxt;
        lang == 'zh' ? reqTxt = '必填' : reqTxt = 'Required';

        //回應輸入匡 打開 隱藏
        var $replyBox = $('#replyBox');
        $('#replyBtn').on('click', function () {
            var replyBoxS = $('#replyBox').is(':visible');
            @if (controller.User.Identity.Name == null || controller.User.Identity.Name.Length <= 0)
                {
                <Text>
            alertTxt("@GlobalRes.Site_message1");
                </Text>
                } else {
                <Text>
            if (replyBoxS) {
                $replyBox.hide();
            } else {
                $replyBox.show();
            }
                </Text>
                }
        });
        var validator = $("#replyForm").validate({
            messages: {
                reply: {
                    required: reqTxt,
                },
            },
            submitHandler: function (form) {
                if ($("#replyForm").find("#reply").val().length > 1000) {
                    alertTxt('@GlobalRes.Site_message2');
                    return;
                } else
                    form.submit();
            }
        });

        $('#cancelReply').on('click', function () {
            $replyBox.hide();
        });

    @if (ViewBag.QAResponse != null)
    {
        if (ViewBag.QAResponse == 0 || ViewBag.QAResponse == -1 || ViewBag.QAResponse == -2)
        {
        <Text>
        alertTxt('@GlobalRes.Site_message3');
        </Text>
        }
        else if (ViewBag.QAResponse == -4)
        {
        <Text>
        alertTxt('@GlobalRes.Site_message4');
        </Text>
        }
        else if (ViewBag.QAResponse == -21)
        {
        <Text>
        alertTxt('@GlobalRes.Site_message5');
        </Text>
        }
        else if (ViewBag.QAResponse == -3)
        {
        <Text>
        alertTxt("@GlobalRes.Site_message1");
        setTimeout(function () {
            top.location.href = '@Url.Action("Login", "Account")';
        }, 1000);
        </Text>
        }
        else
        {
        <Text>
        alertTxt('@GlobalRes.Site_message6');
        </Text>
            }
        }
    });
</script>