﻿@using PagedList

@model PagedList.IPagedList<DataAccess.Domain.Create.MessagePageDomainModel>

@{
    ViewBag.Action = "CreateQAList";
}

<div class="page-tab-area">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index", "Home")">@GlobalRes.Create_ihead1</a><span>/</span><a href="@Url.Action("CreatePlatform", "Create")">@GlobalRes.Create_ihead2</a><span>/</span>
            <div class="act-page">@GlobalRes.Create_ihead4</div>
        </div>
        <div class="page-nav-area">
            <a class="page-nav-box" href="@Url.Action("CreatePlatform", "Create")"><i class="fal fa-pencil-alt"></i> @GlobalRes.Create_head1</a>
            <div class="page-nav-box act"><a class="page-nav-box" href="@Url.Action("CreateQAList")"><i class="fas fa-comments"></i> @(GlobalRes.Create_head2)</a></div>
        </div>
    </div>
</div>
<div class="page-wrap">
    <div class="main-cont">
        <div class="page-group">
            <div class="page-cont">
                <ul class="communicate-list">
                    <li class="tit">
                        <div class="list">
                            <div>@GlobalRes.QA_subject</div>
                            <div><i class="fas fa-comment-dots"></i>@GlobalRes.QA_publishtime</div>
                            <div><i class="fas fa-clock"></i> @GlobalRes.QA_lastreply</div>
                            <div><i class="fas fa-comments-alt"></i> @GlobalRes.QA_replynum</div>
                        </div>
                    </li>
                    @if (Model != null && Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <li>
                                <a class="list" href="@(item.Display == 1 ? "javascript:getData(" + item.Qid + ")":"javascript:showtxt()")">
                                    <div>
                                        <i class="fas fa-pen-square"></i>
                                        <div class="tit-cont">@item.Title</div>
                                    </div>
                                    <div>
                                        <div class="mb-tit"><i class="fas fa-comment-dots"></i>@GlobalRes.QA_publishtime</div><span>@item.NickName</span><span class="date">@item.Createtime.ToString("yyyy/MM/dd HH:mm:ss")</span>
                                    </div>
                                    @if (item.replys != null && item.replys.Count > 0)
                                    {
                                        <div>
                                            <div class="mb-tit"><i class="fas fa-clock"></i> @GlobalRes.QA_lastreply</div><span>@item.replys[0].NickName</span><span class="date">@item.replys[0].Createtime.ToString("yyyy/MM/dd HH:mm:ss")</span>
                                        </div>
                                        <div>
                                            <div class="mb-tit"><i class="fas fa-comments-alt"></i> @GlobalRes.QA_replynum</div>@item.replys.Count
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <div class="mb-tit"><i class="fas fa-clock"></i> @GlobalRes.QA_lastreply</div><span></span><span class="date"></span>
                                        </div>
                                        <div>
                                            <div class="mb-tit"><i class="fas fa-comments-alt"></i> @GlobalRes.QA_replynum</div>
                                        </div>
                                    }
                                </a>
                            </li>
                        }
                    }
                </ul>
                @if (Model != null && Model.Count > 0)
                {
                    <div class="pagination-area">
                        <a class="lim-btn" href="javascript:getPage(1)">
                            <i class="far fa-arrow-to-left"></i>
                        </a>
                        <a class="pre-btn" href="javascript:getPage(@Model.PageNumber > 1 ? @Model.PageNumber - 1 : @Model.PageNumber)">
                            <i class="far fa-arrow-left"></i>
                        </a>

                        @for (int i = (Model.PageNumber % 5); i <= (Model.PageCount > 5 ? (Model.PageNumber % 5) * 5 : Model.PageCount); i++)
                        {
                            if (Model.PageNumber == i)
                            {
                                <a href="javascript:getPage(@i)" class="act">@i</a>
                            }
                            else
                            {
                                <a href="javascript:getPage(@i)">@i</a>
                            }
                        }

                        <a class="next-btn" href="javascript:getPage(@Model.PageNumber==@Model.PageCount?@Model.PageNumber:@Model.PageNumber+1)">
                            <i class="far fa-arrow-right"></i>
                        </a>
                        <a class="lim-btn" href="javascript:getPage(@Model.PageCount)">
                            <i class="far fa-arrow-to-right"></i>
                        </a>
                    </div>
                }
            </div>
            <div class="page-side">
                <div class="communicate-btn-cont side-fixed">
                    <a class="communicate-btn" href="@Url.Action("CreateQA", "Create")"><i class="fas fa-comment-exclamation"></i> @GlobalRes.QA_starttalk</a>
                   
                </div>
            </div>
        </div>
    </div>
</div>

<form id="getCont" action="@Url.Action("CreateQACont", "Create")" method="post">
    <input type="hidden" name="Qid" id="Qid" value="" />
</form>

<script>
    var globalkeyword = "@ViewBag.Key";

    function showtxt() {
        alertTxt('@(GlobalRes.QA_illegal)');
    }

    function getData(Qid) {
        //$("#getCont").find("#Qid").val(Qid);
        //$("#getCont").submit();
        var Lang = getCookie("CacheLang");
        top.location.href = "/" + Lang +"/Create/CreateQACont?Qid=" + Qid;
    }

    function getPage(page) {
        var headers = {};
        var data = {};
        data.action = "@ViewBag.Action";
        data.key = "";
        data.page = page;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("getPage")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                //alert(result["PageNumber"]);
                $(".communicate-list").empty();
                $(".communicate-list").append('<li class="tit"><div class= "list" ><div>@(GlobalRes.QA_subject)</div>'+
                    '<div><i class="fas fa-comment-dots"></i>@(GlobalRes.QA_publishtime)</div >'+
                    '<div><i class="fas fa-clock"></i> @(GlobalRes.QA_lastreply)</div>'+
                    '<div><i class="fas fa-comments-alt"></i> @(GlobalRes.QA_replynum)</div></div ></li>');

                for (var i = 0; i < result["Lists"].length; i++) {

                    var str = '<li><a class="list" href="javascript:getData(' + result["Lists"][i]["Qid"] + ')"><div><i class="fas fa-pen-square"></i>'+
                            '<div class="tit-cont">' + result["Lists"][i]["Title"]+'</div></div><div>'+
                        '<div class="mb-tit"><i class="fas fa-comment-dots">' +
                            '</i > @(GlobalRes.QA_publishtime)</div > <span>' + result["Lists"][i]["NickName"]+'</span>' +
                        '<span class="date">' + result["Lists"][i]["Createtime"] + '</span></div>';
                    if (result["Lists"][i]["replys"] != null && result["Lists"][i]["replys"].length > 0) {
                        str += '<div><div class="mb-tit"><i class="fas fa-clock"></i> @(GlobalRes.QA_lastreply)</div>' +
                            '<span>' + result["Lists"][i]["replys"][0]["nickname"]+'</span>' +
                            '<span class="date">' + result["Lists"][i]["replys"][0]["createtime"]+'</span>'+
                            '</div><div><div class="mb-tit"><i class="fas fa-comments-alt"></i>' +
                            ' @(GlobalRes.QA_replynum)</div >' + result["Lists"][i]["replys"].length + '</div>';
                    } else {
                        str += '<div><div class="mb-tit"><i class="fas fa-clock"></i> @(GlobalRes.QA_lastreply)</div>' +
                            '<span></span>' +
                            '<span class="date"></span>' +
                            '</div><div><div class="mb-tit"><i class="fas fa-comments-alt"></i>' +
                            ' @(GlobalRes.QA_replynum)</div ></div>';
                    }
                    str += '</a></li>';

                    $(".communicate-list").append(str);
                }

                $('.pagination-area').empty();
                $('.pagination-area').append('<a class="lim-btn" href="javascript:getPage(1)"><i class="far fa-arrow-to-left"></i></a>');
                $('.pagination-area').append('<a class="pre-btn" href="javascript:getPage(' + (result["PageNumber"] > 1 ? result["PageNumber"] - 1 : result["PageNumber"]) + ')"><i class="far fa-arrow-left"></i></a>');

                var pageMin = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 1;
                var pageMax = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 5;

                if (parseInt(result["PageCount"]) < pageMax)
                    pageMax = parseInt(result["PageCount"]);
                for (var i = pageMin; i <= pageMax; i++) {
                    if (result["PageNumber"] == i) {
                        $('.pagination-area').append('<a href="javascript:getPage(' + i + ')" class="act">' + i + '</a>');
                    }
                    else {
                        $('.pagination-area').append('<a href="javascript:getPage(' + i + ')">' + i + '</a>');
                    }
                }

                $('.pagination-area').append('<a class="next-btn" href="javascript:getPage(' + (result["PageNumber"] == result["PageCount"] ? result["PageNumber"] : result["PageNumber"] + 1) + ')"><i class="far fa-arrow-right"></i></a>');
                $('.pagination-area').append('<a class="lim-btn" href="javascript:getPage(' + result["PageCount"] + ')"><i class="far fa-arrow-to-right"></i></a>');
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }
</script>