﻿@using VirtualMuseum.Controllers.Base
@using System.Text.RegularExpressions
@using System.Web.Configuration

@model DataAccess.Domain.Create.CreatePlatformContDomainModel
@{
    string UrlDomain = WebConfigurationManager.AppSettings["apiDomain"];
    string lang = null;

    if (Request.Params["lang"] != null && Request.Params["lang"].Length > 0)
    {
        if (Request.Params["lang"] == "en")
        {
            Model.page.Author_tw = Model.page.Author_en;
            Model.page.Content_tw = Model.page.Content_en;
            Model.page.Pic_tw = Model.page.Pic_en;
            Model.page.Title_tw = Model.page.Title_en;
            Response.Cookies["CacheLang"].Value = Request.Params["lang"];
        }
        lang = Request.Params["lang"];
    }
    else
    {
        if (Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")
        {
            lang = "zh";
        }
        else
        {
            lang = "en";
        }
    }
    string Content = "";
    var regstr = Regex.Replace(Model.page.Content_tw, "<.*?>", String.Empty);
    if (Model.page.Content_tw != null && Model.page.Content_tw.Length > 0)
    {
        Content = regstr.Substring(0, regstr.Length > 200 ? 200 : regstr.Length) + (regstr.Length > 200 ? " ..." : "");
    }

    BaseController controller = ViewContext.Controller as BaseController;
    if (controller == null)
    {
        throw new ApplicationException("Controller 必須繼承自 MyControllerBase.");
    }
}

@section SeoRender{
    @{
        <meta property="og:title" content="@Model.page.Title_tw" />
        <meta property="og:description" content="@Content" />
        <meta property="og:image" content="@(UrlDomain+(Model.page.Pic_tw==null||Model.page.Pic_tw.Length<=0?"/img/default_src.jpg":Model.page.Pic_tw))" />
        <meta property="og:url" content="@(UrlDomain+Url.Action("CreatePlatformCont", "Create", new { Createid=Model.page.Createid, lang=lang }))" />
        <meta property="fb:app_id" content="@(WebConfigurationManager.AppSettings["Facebook_appId"])" />
    }
}
<div class="page-tab-area">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index", "Home")">@GlobalRes.Create_ihead1</a><span>/</span>
            <div class="act-page">@GlobalRes.Create_ihead2</div>
        </div><a class="back-btn" href="@Url.Action("CreatePlatform", "Create")"><i class="far fa-angle-left"></i> @GlobalRes.Create_back1</a>
        <div class="page-nav-area">
            <div class="page-nav-box act"><a class="page-nav-box" href="@Url.Action("CreatePlatform", "Create")"><i class="fal fa-pencil-alt"></i> @(GlobalRes.Create_head1)</a></div><a class="page-nav-box" href="@Url.Action("CreateQAList")"><i class="fas fa-comments"></i> @GlobalRes.Create_head2</a>
        </div>
    </div>
</div>
<div class="inner-single-page article-cont-area">
    <div class="main-cont">
        <div class="article-cont-banner" style="background: url(@(Model.page.Pic_tw==null||Model.page.Pic_tw.Length<=0?"/img/default_src.jpg":Model.page.Pic_tw)) no-repeat center center/cover">
            <h2>@Model.page.Title_tw</h2>
        </div>
        <div class="article-cont-info">
            <div class="article-maker">
                <div class="name">@GlobalRes.Create_author：<span>@Model.page.Author_tw</span></div>
                <div class="date">@Model.page.Createtime.ToString("yyyy/MM/dd")</div>
            </div>
            <div class="article-share">
                <div class="num">@GlobalRes.Create_visits：<span>@Model.Counter</span></div>
                <div class="article-banner-share share-btn-box">
                    <iframe src="https://www.facebook.com/plugins/like.php?href=@(HttpUtility.UrlEncode(UrlDomain+Url.Action("CreatePlatformCont", "Create", new { Createid = Model.page.Createid, lang=lang })))&width=112&layout=button_count&action=like&size=small&share=true&height=46&appId=@(WebConfigurationManager.AppSettings["Facebook_appId"])" width="112" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
            </div>
        </div>
        <div class="edit-area">
            <div class="edit-box">
                @Html.Raw(Model.page.Content_tw)
            </div>
            <div class="btn-area"><a class="btn" href="@Url.Action("CreatePlatform", "Create")"><i class="far fa-angle-left"></i> <span>@GlobalRes.Create_back1</span></a></div>
            <div class="article-share edit-share">
                <div class="num">@GlobalRes.Create_visits：<span>@Model.Counter</span></div>
                <div class="article-banner-share share-btn-box">
                    <iframe src="https://www.facebook.com/plugins/like.php?href=@(HttpUtility.UrlEncode(UrlDomain+Url.Action("CreatePlatformCont", "Create", new { Createid = Model.page.Createid, lang=lang })))&width=112&layout=button_count&action=like&size=small&share=true&height=46&appId=@(WebConfigurationManager.AppSettings["Facebook_appId"])" width="112" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
            </div>
        </div>
        <div class="more-article-link-area">
            <div class="more-article-link-box">
                <div class="more-article-link-tit">@GlobalRes.Create_recommand</div>
                <div class="recom-link">
                    @if (Model.others != null && Model.others.Count > 0)
                    {
                        foreach (var item in Model.others)
                        {
                            <a class="recom-link-box" href="@Url.Action("CreatePlatformCont", "Create", new { Createid=item.Createid })">
                                <div class="recom-img" style="background:url(@(item.Pic_tw==null||item.Pic_tw.Length<=0?"/img/default_src.jpg":item.Pic_tw)) no-repeat center center/cover;"><img src="@(item.Pic_tw==null||item.Pic_tw.Length<=0?"/img/default_src.jpg":item.Pic_tw)" alt="" /></div>
                                <div class="recom-cont">
                                    <div class="recom-tit">@item.Title_tw－@item.Author_tw</div>
                                    <div class="recom-txt">@item.Content_tw</div>
                                </div>
                            </a>
                        }
                    }
                </div>
            </div>
            <div class="more-article-link-box">
                <div class="more-article-link-tit">@GlobalRes.Create_tag</div>
                <div class="more-tag">
                    @if (Model.page.tags != null && Model.page.tags.Count > 0)
                    {
                        foreach (var tag in Model.page.tags)
                        {
                            <a href="javascript:getTag(@tag.Tagid)">#@tag.Name_tw</a>
                        }
                    }
                </div>
                <div class="more-article-link-tit">@GlobalRes.Create_message1</div>
                <div class="send-msg-nulog" @(controller.User.Identity.Name == null || controller.User.Identity.Name.Length <= 0 ? "" : "style=display:none;")>@GlobalRes.Create_login1<a href="@Url.Action("Login", "Account")">@GlobalRes.Create_login2</a>@GlobalRes.Create_login3<a href="@Url.Action("Register", "Account")">@GlobalRes.Create_login4</a>。</div>
                @if (controller.User.Identity.Name != null && controller.User.Identity.Name.Length > 0)
                {
                    <form id="askForm" method="post" action="@Url.Action("QAReply2", "Create")">
                        @Html.AntiForgeryToken()
                        <div class="send-msg-box">
                            <input type="hidden" name="Createid" id="Createid" value="@Model.page.Createid" />
                            <div class="textarea-box">
                                <textarea class="send-msgs-sty required" id="sendMsg" name="sendMsg" placeholder="@GlobalRes.Create_message3"></textarea>
                            </div>
                            <input type="hidden" value="" id="recaptcha" name="recaptcha" />
                            <div class="robet-box">
                                <div id="html_element"></div>
                                <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
                                        async defer>
                                </script>
                            </div>
                            <div class="send-btn-area">
                                <div class="send-btn btn">@GlobalRes.Create_send_btn</div>
                            </div>
                        </div>
                    </form>
                }
                @if (Model.replys != null && Model.replys.Count > 0)
                {
                    <div class="more-article-link-tit">@GlobalRes.Create_message2</div>
                    <div class="article-msg-box">

                        @foreach (var d in Model.replys)
                        {
                            <div class="article-msg">
                                <div class="user-img" style="background: url(@(d.HeadPic==null||d.HeadPic.Length<=0?"/img/default_src.jpg":d.HeadPic)) no-repeat center center/cover"></div>
                                <div class="user-box">
                                    <div class="user-name">@d.NickName</div>
                                    <div class="user-info">
                                        <div class="acc">@d.Account</div>
                                        <div class="date">@d.Createtime.ToString("yyyy/MM/dd")</div>
                                    </div>
                                </div>
                                <div class="article-msg-cont">
                                    <div class="cont">
                                        @if (d.Display == 1)
                                        {
                                            @Html.Raw(d.Data)
                                        }
                                        else
                                        {
                                            <div class="reply-alert">@GlobalRes.Create_invalid</div>
                                        }
                                    </div>
                                </div>
                            </div>
                            if (d.reply != null)
                            {
                                <div class="article-msg editer-article-msg">
                                    <div class="user-box">
                                        <div class="user-info">
                                            <div class="date">@d.reply.Createtime.ToString("yyyy/MM/dd")</div>
                                            <div class="acc">@d.reply.NickName</div>
                                        </div>
                                    </div>
                                    <div class="user-img editer-img"></div>
                                    <div class="article-msg-cont">
                                        <div class="cont">@d.reply.Data</div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<form id="getTag" action="@Url.Action("CreateSrcTagList", "Create")" method="post">
    <input type="hidden" name="Tagid" id="Tagid" value="" />
</form>
<script>
    var onloadCallback = function () {
        grecaptcha.render('html_element', {
            'sitekey': '@(WebConfigurationManager.AppSettings["Recaptcha_siteKey"])',
            callback: token => {
                $("#recaptcha").val(token);
                //console.log(token);
                //grecaptcha.reset();
            }
        });
    };
    function getTag(Tagid) {
        $("#getTag").find("#Tagid").val(Tagid);
        $("#getTag").submit();
    }
    $(document).ready(function () {
        var lang = getCookie('CacheLang');
        var reqTxt;
        lang == 'zh' ? reqTxt = '必填' : reqTxt = 'Required';

            $('.send-btn').on('click', function (e) {
                var validator = $("#askForm").validate({
                    messages: {
                        sendMsg: {
                            required: reqTxt,
                        },
                    },
                    submitHandler: function (form) {
                        form.submit();
                    }
                });

                if ($("#askForm").find("#sendMsg").val().length > 200) {
                    alertTxt('@GlobalRes.Site_message2');
                    return;
                } else
                    $("#askForm").submit();
            });

    @if (ViewBag.QAResponse != null)
    {
        if (ViewBag.QAResponse == 0 || ViewBag.QAResponse == -1 || ViewBag.QAResponse == -2)
        {
        <Text>
            alertTxt('@GlobalRes.Site_message3');
        </Text>
        }
        else if (ViewBag.QAResponse == -4)
        {
        <Text>
            alertTxt('@GlobalRes.Site_message4');
        </Text>
        }
        else if (ViewBag.QAResponse == -21)
        {
        <Text>
            alertTxt('@GlobalRes.Site_message5');
        </Text>
        }
        else if (ViewBag.QAResponse == -3)
        {
        <Text>
            alertTxt("@GlobalRes.Site_message1");
            setTimeout(function () {
                top.location.href = '@Url.Action("Login", "Account")';
            }, 1000);
        </Text>
        }
        else
        {
        <Text>
            alertTxt('@GlobalRes.Site_message6');
        </Text>
            }
        }

    @if (Request.Params["lang"] != null && Request.Params["lang"].Length > 0)
    {
        <Text>
            top.location.href = "@Url.Action("CreatePlatformCont", "Create", new { Createid = Model.page.Createid })";
        </Text>
    }
        });
</script>