﻿@model VirtualMuseum.Models.Home.AboutViewModel

@{

}

<div class="page-top-area">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index", "Home")">@GlobalRes.About_ihead1</a><span>/</span>
            <div class="act-page">@GlobalRes.About_ihead2</div>
        </div>
    </div>
</div>
<div class="inner-single-page">
    <div class="main-cont">
        <div class="page-tit">@GlobalRes.About_ihead3</div>
        <div class="edit-area">
            <div class="edit-box">
                @Html.Raw(Model.editor)
            </div>
        </div>
    </div>
</div>
