﻿@model VirtualMuseum.Models.Home.IndexViewModel
@{ }

<div class="banner-area">
    <div class="banner-cont">
        <div class="banner-info">
            <div class="banner-tit">@GlobalRes._Index_Intro1</div>
            <div class="banner-sup-tit">@GlobalRes._Index_Intro2</div>
            @Html.Raw(GlobalRes._Index_Intro3)
            <a class="banner-btn" href="@Url.Action("About")">@GlobalRes._Index_More2</a>
        </div>
    </div>
</div>
<div class="word-cloud-area cn" id="wordCloudArea">
    <div class="word-cloud-box" id="wordCloudBox"></div>
</div>
<div class="main-area">
    <div class="main-cont">
        <div id="indArea01">
            <div class="ind-tit-box">
                <h2>臺灣文學史</h2>
                <div class="ind-en-tit ind-en-tit2"><span>Literary History</span><a href="@Url.Action("HistoryList", "History")">@GlobalRes._Index_More</a></div>
            </div>
            <div class="swiper-container literary-banner" id="LiteraryBanner">
                <div class="swiper-wrapper">
                    @foreach (var d in Model.intros)
                    {
                        <div class="swiper-slide">
                            <a class="literary-box" href="javascript:goCont3(@d.LIid,2)">
                                <div class="literary-img" style="background:url('@(d.LIPic_tw==null||d.LIPic_tw.Length<=0?"/img/default_src.jpg":d.LIPic_tw)') no-repeat center center/cover;"><img src="@(d.LIPic_tw==null||d.LIPic_tw.Length<=0?"/img/default_src.jpg":d.LIPic_tw)" alt="" /></div>
                                <div class="literary-tit"><span class="tit">@d.LIName_tw</span><span class="date">@d.LIStart - @d.LIEnd</span></div>
                            </a>
                        </div>
                    }
                </div>
                <div class="swiper-pagination" id="LiteraryPage"></div>
            </div>
        </div>
        <div id="indArea02">
            <div class="ind-tit-box">
                <h2>作家行跡</h2>
                <div class="ind-en-tit"><span>Author’s literary-tracks</span><a href="@Url.Action("WriterList", "Writer")">@GlobalRes._Index_More</a></div>
            </div>
            <div class="ind-writer-area">
                @if (Model.writers.Count > 0)
                {
                    <div class="writer-cont">
                        <div class="writer-img"><a class="writer-img-box" href="javascript:getData(@Model.writers[0].Wid)" style="background: url('@(Model.writers[0].Pic_tw==null||Model.writers[0].Pic_tw.Length<=0?"/img/default_src.jpg":Model.writers[0].Pic_tw)') no-repeat center center/cover;"><img src="@(Model.writers[0].Pic_tw==null||Model.writers[0].Pic_tw.Length<=0?"/img/default_src.jpg":Model.writers[0].Pic_tw)" alt="" /></a></div>
                        <div class="writer-info">
                            <h3>@Model.writers[0].Subject_tw</h3>
                            <div class="writer-txt">
                                <p>@(Model.writers[0].events.Count>0? Html.Raw(Model.writers[0].events[0].Content_tw): Html.Raw(""))</p>
                            </div>
                        </div>
                    </div>
                    if (Model.writers.Count > 1)
                    {
                        <div class="writer-cont writer-cont-right">
                            <div class="writer-img"><a class="writer-img-box" href="javascript:getData(@Model.writers[1].Wid)" style="background: url('@(Model.writers[1].Pic_tw==null||Model.writers[1].Pic_tw.Length<=0?"/img/default_src.jpg":Model.writers[1].Pic_tw)') no-repeat center center/cover;"><img src="@(Model.writers[1].Pic_tw==null||Model.writers[1].Pic_tw.Length<=0?"/img/default_src.jpg":Model.writers[1].Pic_tw)" alt="" /></a></div>
                            <div class="writer-info">
                                <h3>@Model.writers[1].Subject_tw</h3>
                                <div class="writer-txt">
                                    <p>@(Model.writers[1].events.Count>0? Html.Raw(Model.writers[1].events[0].Content_tw): Html.Raw(""))</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div id="indArea03">
            <div class="ind-tit-box">
                <h2>主題之旅</h2>
                <div class="ind-en-tit"><span>Theme tour</span><a href="@Url.Action("ThemeList", "Writer")">@GlobalRes._Index_More</a></div>
            </div>
            <div class="ind-theme-area">
                @foreach (var d in Model.themetours)
                {
                    <a class="ind-theme-box" href="javascript:goCont2(@d.Themeid)">
                        <div class="ind-theme-img" style="background: url('@(d.Pic==null||d.Pic.Length<=0?"/img/default_src.jpg":d.Pic)') no-repeat center center/cover"><img src="@(d.Pic==null||d.Pic.Length<=0?"/img/default_src.jpg":d.Pic)" alt="" /></div>
                        <div class="ind-theme-txt">
                            <h3>@d.Name</h3>
                            @(d.routes.Count>0? Html.Raw(d.routes[0].Intro): Html.Raw(""))
                        </div>
                    </a>
                }
            </div>
        </div>
        <div id="indArea04">
            <div class="ind-tit-box">
                <h2>文學展示</h2>
                <div class="ind-en-tit"><span>Literary Panorama</span><a href="@Url.Action("ExhibitionList", "Theme")">@GlobalRes._Index_More</a></div>
            </div>
        </div>
    </div>
    <div class="ind-exhibition-area" id="indAreaSwiper04">
        <div class="swiper-container exhibition-banner" id="ExhibitionBanner">
            <div class="swiper-wrapper">
                @foreach (var d in Model.literarys)
                {
                    <div class="swiper-slide">
                        <a class="ind-exhibition-box" href="@(d.Layout==1?Url.Action("ExhibitionCont1","Theme",new {LLid=d.LLid }):Url.Action("ExhibitionCont2","Theme",new {LLid=d.LLid }))">
                            <div class="ind-exhibition-img" style="background: url('@(d.Pic3==null||d.Pic3.Length<=0?"/img/default_src.jpg":d.Pic3)') no-repeat center center/cover;"><img src="@(d.Pic3==null||d.Pic3.Length<=0?"/img/default_src.jpg":d.Pic3)" alt="" /></div>
                            <div class="ind-exhibition-txt">@d.Title_tw</div>
                        </a>
                    </div>
                }
            </div>
            <div class="swiper-pagination" id="ExhibitionPage"></div>
        </div>
    </div>
</div>

<form id="getCont" action="@Url.Action("WriterCont", "Writer")" method="post">
    <input type="hidden" name="Wid" id="Wid" value="" />
</form>
<form id="cont2" method="post" action="@Url.Action("ThemeCont", "Writer")">
    <input type="hidden" id="Themeid" name="Themeid" value="" />
</form>
<form id="cont3" action="@Url.Action("HistoryCont", "History")" method="post">
    <input type="hidden" id="Id" name="Id" value="" />
    <input type="hidden" id="Kind" name="Kind" value="" />
</form>
<script>
    function goCont2(themeid) {
        //$('#cont2').find('#Themeid').val(themeid);
        //$('#cont2').submit();
        var Lang = getCookie("CacheLang");
        top.location.href = "/" + Lang + "/Writer/ThemeCont?Themeid=" + themeid;
    }
    function goCont3(LIid, Kind) {
        //$('#cont3').find("#Id").val(LIid);
        //$('#cont3').find("#Kind").val(Kind);
        //$('#cont3').submit();
        var Lang = getCookie("CacheLang");
        top.location.href = "/" + Lang + "/History/HistoryCont?Id=" + LIid + "&Kind=" + Kind;
    }
    function getData(Wid) {
        //$("#getCont").find("#Wid").val(Wid);
        //$("#getCont").submit();
        var Lang = getCookie("CacheLang");
        top.location.href = "/" + Lang + "/Writer/WriterCont?Wid=" + Wid;
    }
</script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400&display=swap" rel="stylesheet">
<script src="~/js/wordcloud2.js"></script>
<script src="~/js/wordcloudfun.js"></script>