﻿@{

}

<div class="error-page">
    <div class="main-cont">
        <div class="error-info">
            <div class="error-num">404</div>
            <div class="error-txt">您所尋找的網頁不存在！</div>
            <div class="error-en">Page Not Found!</div>
        </div>
    </div>
</div>
<div class="error-page2">
    <div class="main-cont">
        <div class="turn-page-info"><span>將於 3 秒後自動導回首頁...  或直接</span><a class="btn" href="@Url.Action("Index", "Home")">回到首頁</a></div>
        <div class="turn-page-info"><span>You'll be redirected to the homepage in 3 seconds.. or click</span><a class="btn" href="@Url.Action("Index", "Home")">Back Home</a></div>
    </div>
</div>
<script>
    window.onload = function () {
        setTimeout(function () {
            top.location.href = "@Url.Action("Index", "Home")";
		}, 3000);
    };
</script>
