﻿@{

}

<div class="page-top-area page-top-area-g">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index")">首頁</a><span>/</span>
            <div class="act-page">會員註冊</div>
        </div>
    </div>
</div>
<div class="page-wrap page-gray-wrap">
    <div class="main-cont">
        <form action="@Url.Action("RegisterProcess")" method="post" id="registerForm">
            @*防偽造*@
            @Html.AntiForgeryToken()
            <div class="login-area register-area">
                <h2>臺灣文學虛擬博物館 會員註冊</h2>
                <div class="register-cont">
                    <div class="register-tit">
                        <div class="tit">請填寫會員資料</div>
                        <div class="note">*號為必填項目</div>
                    </div>
                    <div class="form-column-box">
                        <div class="form-column2">
                            <div class="input-area input-area2">
                                <label for="account">
                                    帳號<span class="mark">*</span>
                                </label>
                                <div class="input-box">
                                    <input class="input-sty required" type="email" id="account" name="account" placeholder="請輸入電子郵件" />
                                </div>
                            </div>
                            <div class="input-area input-area2">
                                <label for="pwd">
                                    密碼<span class="mark">*</span><span class="pwd-mark">(最少5個英數組合字元)</span>
                                </label>
                                <div class="input-box">
                                    <input class="input-sty required pwdV pwdV2 pwdVL" type="password" id="pwd" name="pwd" placeholder="請輸入密碼" />
                                </div>
                            </div>
                            <div class="input-area input-area2">
                                <label for="checkPwd">
                                    確認密碼<span class="mark">*</span>
                                </label>
                                <div class="input-box">
                                    <input class="input-sty required" type="password" id="checkPwd" name="checkPwd" placeholder="請再次確認密碼" />
                                </div>
                            </div>
                            <div class="check-box-area register-agree-box">
                                <label for="agree">
                                    <input type="checkbox" name="agree" id="agree" checked="checked" />
                                    <div class="check-box fas"></div><span>勾選即表示您同意接受<a class="link" id="rPrivacyBtn">隱私權保護政策</a></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-column2">
                            <div class="input-area input-area2">
                                <label for="nickName">
                                    暱稱<span class="mark">*</span>
                                </label>
                                <div class="input-box">
                                    <input class="input-sty required" type="text" id="nickName" name="nickName" placeholder="請輸入暱稱" />
                                </div>
                            </div>
                            <div class="input-area input-area2">
                                <label for="sex">性別</label>
                                <div class="input-box">
                                    <select class="sel-sty" id="sex" name="sex">
                                        <option value="male">男</option>
                                        <option value="female">女</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-area input-area2">
                                <label for="email">
                                    聯絡E-mail
                                </label>
                                <div class="input-box">
                                    <input class="input-sty" type="email" id="email" name="email" placeholder="請輸入有效的電子郵件" />
                                </div>
                            </div>
                            <div class="input-area input-area2">
                                <label for="tel">
                                    聯絡電話
                                </label>
                                <div class="input-box">
                                    <input class="input-sty" type="text" id="tel" name="tel" placeholder="請輸入有效的電話號碼" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="register-btn-area">
                <div class="robet-box">機器人</div>
                <div class="btn btn-submit">
                    註冊為會員
                    <input type="submit" value="送出" />
                </div>
            </div>
        </form>
    </div>
</div>
<script>$(document).ready(function(){
  	var validator = $("#registerForm").validate({
  		rules:{
  			checkPwd:{
  				equalTo:"#pwd"
  			}
  		},
  		messages:{
  			checkPwd:{
  				equalTo:"密碼不相符"
  			},
  		},
  		submitHandler: function (form) {
  			var agreeCheck= $('#agree').is(':checked');
  			if(agreeCheck){
  				alert("完成");
  				form.submit();
  			}else{
  				alert('請同意隱私權保護政策。')
  			}

  		}
  	});
});
</script>