﻿@model VirtualMuseum.Models.Home.SearchListPageViewModel
@{
    ViewBag.Action = "SearchList";
}

<div class="page-top-area">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index", "Home")">@GlobalRes.SearchList_ihead1</a><span>/</span>
            <div class="act-page">@GlobalRes.SearchList_ihead2</div>
        </div>
    </div>
</div>
<div class="src-page-area">
    <div class="main-cont">
        <div class="creat-src-box">
            <div class="creat-src">
                <input id="searchkey" type="text" name="" placeholder="@GlobalRes.SearchList_search" value="" />
            </div>
            <div class="creat-src-btn"><i class="fas fa-search"></i>@GlobalRes.SearchList_searchbtn</div>
        </div>
        @if (Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")
        {
            <div class="src-key-box">標籤<span id="taghere">@ViewBag.GlobalKey</span>的搜尋結果如下</div>
        }
        else
        {
            <div class="src-key-box">The search results for <span id="taghere">@ViewBag.GlobalKey</span> are as follows</div>
        }
        <div class="src-area-box">
            <div kind="1.1" class="src-area @(ViewBag.GlobalKind=="1.1"||ViewBag.GlobalKind=="1.2"?"act":"")">@GlobalRes.SearchList_kind1 (<span>@Model.count1</span>)</div>
            <div kind="2.1" class="src-area @(ViewBag.GlobalKind=="2.1"||ViewBag.GlobalKind=="2.2"||ViewBag.GlobalKind=="2.3"?"act":"")">@GlobalRes.SearchList_kind2 (<span>@Model.count2</span>)</div>
            <div kind="3" class="src-area @(ViewBag.GlobalKind=="3"?"act":"")">@GlobalRes.SearchList_kind3 (<span>@Model.count3</span>)</div>
            <div kind="4" class="src-area @(ViewBag.GlobalKind=="4"?"act":"")">@GlobalRes.SearchList_kind4 (<span>@Model.count4</span>)</div>
        </div>
        @if (ViewBag.GlobalKind == "2.1" || ViewBag.GlobalKind == "2.2" || ViewBag.GlobalKind == "2.3")
        {
            <div class="src-area-sup-box">
                <div kind="2.1" class="src-area-sup @(ViewBag.GlobalKind=="2.1"?"act":"")">@GlobalRes.SearchList_kind2_1 (<span>@Model.count2_1</span>)</div>
                <div kind="2.2" class="src-area-sup @(ViewBag.GlobalKind=="2.2"?"act":"")">@GlobalRes.SearchList_kind2_2 (<span>@Model.count2_2</span>)</div>
                <div kind="2.3" class="src-area-sup @(ViewBag.GlobalKind=="2.3"?"act":"")">@GlobalRes.SearchList_kind2_3 (<span>@Model.count2_3</span>)</div>
            </div>
        }
        @if (ViewBag.GlobalKind == "1.1" || ViewBag.GlobalKind == "1.2")
        {
            <div class="src-area-sup-box">
                <div kind="1.1" class="src-area-sup @(ViewBag.GlobalKind=="1.1"?"act":"")">@GlobalRes.SearchList_kind1_1 (<span>@Model.count1_1</span>)</div>
                <div kind="1.2" class="src-area-sup @(ViewBag.GlobalKind=="1.2"?"act":"")">@GlobalRes.SearchList_kind1_2 (<span>@Model.count1_2</span>)</div>
            </div>
        }
    </div>
</div>
<div class="page-wrap page-gray-wrap">
    <div class="main-cont">
        @if (Model.Kind == "1.1" || Model.Kind == "1.2" || Model.Kind == "2.1" || Model.Kind == "2.2" || Model.Kind == "2.3" || Model.Kind == "3" || Model.Kind == "4")
        {
            <div class="page-tit">@GlobalRes.SearchList_relatetag</div>
            <div class="src-tag-list">
                <div class="gin-tag-box">
                    @if (Model.tags != null && Model.tags.Count > 0)
                    {
                        foreach (var d in Model.tags)
                        {
                            if (d.Count >= 21)
                            {
                                <a href="javascript:getTag(@d.Tagid,@Model.Kind)" style="font-size: 160%; font-weight: 600;">#@d.Name_tw</a>
                            }
                            else if (d.Count <= 20 && d.Count >= 16)
                            {
                                <a href="javascript:getTag(@d.Tagid,@Model.Kind)" style="font-size: 140%;">#@d.Name_tw</a>
                            }
                            else if (d.Count <= 15 && d.Count >= 11)
                            {
                                <a href="javascript:getTag(@d.Tagid,@Model.Kind)" style="font-size: 130%;">#@d.Name_tw</a>
                            }
                            else if (d.Count <= 10 && d.Count >= 6)
                            {
                                <a href="javascript:getTag(@d.Tagid,@Model.Kind)" style="font-size: 120%;">#@d.Name_tw</a>
                            }
                            else
                            {
                                <a href="javascript:getTag(@d.Tagid,@Model.Kind)" class="tagshow">#@d.Name_tw</a>
                            }
                        }
                    }
                </div>
            </div>
        }
        <div class="page-tit">@GlobalRes.SearchList_result</div>
        <div class="search-list">
            @if (Model.datas != null && Model.datas.Count > 0)
            {
                foreach (var d in Model.datas)
                {
                    if (Model.Kind == "1.1" || Model.Kind == "1.2")
                    {
                        <div class="search-box">
                            <a class="search-img" href="javascript:goHistory(@d.Id,1,@d.Id2)" style="background:url(@(d.Pic_tw == null || d.Pic_tw.Length <= 0 ? "/img/default_src.jpg" : d.Pic_tw)) no-repeat center center/contain;"><img src="@(d.Pic_tw == null || d.Pic_tw.Length <= 0 ? "/img/default_src.jpg" : d.Pic_tw)" alt="無圖片" /></a>
                            <div class="search-cont">
                                <a class="tit" href="javascript:goHistory(@d.Id,1,@d.Id2)">@d.Title_tw</a><a class="cont" href="javascript:goHistory(@d.Id,1,@d.Id2)">@Html.Raw(d.Content_tw)</a>
                                <div class="gin-tag-box">
                                    @if (d.tags != null && d.tags.Count > 0)
                                    {
                                        foreach (var dd in d.tags)
                                        {
                                            <a href="javascript:getTag(@(dd.Tagid),@Model.Kind)">#@dd.Name_tw</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    else if (Model.Kind == "2.1" || Model.Kind == "2.2" || Model.Kind == "2.3")
                    {
                        if (d.kind == "1")
                        {
                            <div class="search-box">
                                <a class="search-img" href="javascript:goWriterCont(@d.Id,@d.Id2)" style="background:url(@(d.Pic_tw == null || d.Pic_tw.Length <= 0 ? "/img/default_src.jpg" : d.Pic_tw)) no-repeat center center/contain;"><img src="@(d.Pic_tw == null || d.Pic_tw.Length <= 0 ? "/img/default_src.jpg" : d.Pic_tw)" alt="無圖片" /></a>
                                <div class="search-cont">
                                    <a class="tit" href="javascript:goWriterCont(@d.Id,@d.Id2)">@d.Title_tw</a><a class="cont" href="javascript:goWriterCont(@d.Id,@d.Id2)">@Html.Raw(d.Content_tw)</a>
                                    <div class="gin-tag-box">
                                        @if (d.tags != null && d.tags.Count > 0)
                                        {
                                            foreach (var dd in d.tags)
                                            {
                                                <a href="javascript:getTag(@(dd.Tagid),@Model.Kind)">#@dd.Name_tw</a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        else if (d.kind == "2")
                        {
                            <div class="search-box">
                                <a class="search-img" href="javascript:goWriterStoryCont(@d.Id,@d.Id2)" style="background:url(@(d.Pic_tw == null || d.Pic_tw.Length <= 0 ? "/img/default_src.jpg" : d.Pic_tw)) no-repeat center center/contain;"><img src="@(d.Pic_tw == null || d.Pic_tw.Length <= 0 ? "/img/default_src.jpg" : d.Pic_tw)" alt="無圖片" /></a>
                                <div class="search-cont">
                                    <a class="tit" href="javascript:goWriterStoryCont(@d.Id,@d.Id2)">@d.Title_tw</a><a class="cont" href="javascript:goWriterStoryCont(@d.Id,@d.Id2)">@Html.Raw(d.Content_tw)</a>
                                    <div class="gin-tag-box">
                                        @if (d.tags != null && d.tags.Count > 0)
                                        {
                                            foreach (var dd in d.tags)
                                            {
                                                <a href="javascript:getTag(@(dd.Tagid),@Model.Kind)">#@dd.Name_tw</a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        else if (d.kind == "3")
                        {
                            <div class="search-box">
                                <a class="search-img" href="javascript:goCont1(@d.Id, @d.Id2)" style="background:url(@(d.Pic_tw == null || d.Pic_tw.Length <= 0 ? "/img/default_src.jpg" : d.Pic_tw)) no-repeat center center/contain;"><img src="@(d.Pic_tw == null || d.Pic_tw.Length <= 0 ? "/img/default_src.jpg" : d.Pic_tw)" alt="無圖片" /></a>
                                <div class="search-cont">
                                    <a class="tit" href="javascript:goCont1(@d.Id, @d.Id2)">@d.Title_tw</a><a class="cont" href="javascript:goCont1(@d.Id, @d.Id2)">@Html.Raw(d.Content_tw)</a>
                                    <div class="gin-tag-box">
                                        @if (d.tags != null && d.tags.Count > 0)
                                        {
                                            foreach (var dd in d.tags)
                                            {
                                                <a href="javascript:getTag(@dd.Tagid, @Model.Kind)">#@dd.Name_tw</a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else if (Model.Kind == "3")
                    {
                        if (d.kind == "2")
                        {
                            <div class="search-box">
                                <a class="search-img" href="@Url.Action("ExhibitionCont1", "Theme", new { LLid = d.Id })" style="background:url(@(d.Pic_tw == null || d.Pic_tw.Length <= 0 ? "/img/default_src.jpg" : d.Pic_tw)) no-repeat center center/contain;"><img src="@(d.Pic_tw == null || d.Pic_tw.Length <= 0 ? "/img/default_src.jpg" : d.Pic_tw)" alt="無圖片" /></a>
                                <div class="search-cont">
                                    <a class="tit" href="@Url.Action("ExhibitionCont1", "Theme", new { LLid = d.Id })">@d.Title_tw</a><a class="cont" href="@Url.Action("ExhibitionArticleCont", "Theme", new { Exbid = d.Id })">@Html.Raw(d.Content_tw)</a>
                                    <div class="gin-tag-box">
                                        @if (d.tags != null && d.tags.Count > 0)
                                        {
                                            foreach (var dd in d.tags)
                                            {
                                                <a href="javascript:getTag(@dd.Tagid, @Model.Kind)">#@dd.Name_tw</a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        else if (d.kind == "1")
                        {
                            <div class="search-box">
                                <a class="search-img" href="@Url.Action("ExhibitionArticleCont", "Theme", new { Exbid = d.Id2 })" style="background:url(@(d.Pic_tw == null || d.Pic_tw.Length <= 0 ? "/img/default_src.jpg" : d.Pic_tw)) no-repeat center center/contain;"><img src="@(d.Pic_tw == null || d.Pic_tw.Length <= 0 ? "/img/default_src.jpg" : d.Pic_tw)" alt="無圖片" /></a>
                                <div class="search-cont">
                                    <a class="tit" href="@Url.Action("ExhibitionArticleCont", "Theme", new { Exbid = d.Id2 })">@d.Title_tw</a><a class="cont" href="@Url.Action("ExhibitionArticleCont", "Theme", new { Exbid = d.Id })">@Html.Raw(d.Content_tw)</a>
                                    <div class="gin-tag-box">
                                        @if (d.tags != null && d.tags.Count > 0)
                                        {
                                            foreach (var dd in d.tags)
                                            {
                                                <a href="javascript:getTag(@dd.Tagid, @Model.Kind)">#@dd.Name_tw</a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else if (Model.Kind == "4")
                    {
                        <div class="search-box">
                            <a class="search-img" href="@Url.Action("CreatePlatformCont", "Create", new { Createid = d.Id })" style="background:url(@(d.Pic_tw == null || d.Pic_tw.Length <= 0 ? "/img/default_src.jpg" : d.Pic_tw)) no-repeat center center/contain;"><img src="@(d.Pic_tw == null || d.Pic_tw.Length <= 0 ? "/img/default_src.jpg" : d.Pic_tw)" alt="無圖片" /></a>
                            <div class="search-cont">
                                <a class="tit" href="@Url.Action("CreatePlatformCont", "Create", new { Createid = d.Id })">@d.Title_tw</a><a class="cont" href="@Url.Action("CreatePlatformCont", "Create", new { Createid = d.Id })">@Html.Raw(d.Content_tw)</a>
                                <div class="gin-tag-box">
                                    @if (d.tags != null && d.tags.Count > 0)
                                    {
                                        foreach (var dd in d.tags)
                                        {
                                            <a href="javascript:getTag(@(dd.Tagid),@Model.Kind)">#@dd.Name_tw</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
        @if (Model.datas != null && Model.datas.Count > 0)
        {
    <div class="pagination-area">
        <a class="lim-btn" href="javascript:getPage(1)"><i class="far fa-arrow-to-left"></i></a>
        <a class="pre-btn" href="javascript:getPage(' + (@Model.PageNumber> 1 ? @Model.PageNumber - 1 : @Model.PageNumber) + ')"><i class="far fa-arrow-left"></i></a>
        
            @if (Model.PageCount < (((Model.PageNumber / 5 <= 0 ? 1 : ((Model.PageNumber % 5 > 0) ? (Model.PageNumber / 5 + 1) : Model.PageNumber / 5)) - 1) * 5) + 5)
            {
                for (int i = (((Model.PageNumber / 5 <= 0 ? 1 : ((Model.PageNumber % 5 > 0) ? (Model.PageNumber / 5 + 1) : Model.PageNumber / 5)) - 1) * 5) + 1; i <= Model.PageCount; i++)
                {
                    if (Model.PageNumber == i)
                    {
        <a href="javascript:getPage(@i)" class="act">@i</a>
                    }
                    else
                    {
        <a href="javascript:getPage(@i)">@i</a>
                    }
                }
            }
            else
            {
                for (int i = (((Model.PageNumber / 5 <= 0 ? 1 : ((Model.PageNumber % 5 > 0) ? (Model.PageNumber / 5 + 1) : Model.PageNumber / 5)) - 1) * 5) + 1; i <= (((Model.PageNumber / 5 <= 0 ? 1 : ((Model.PageNumber % 5 > 0) ? (Model.PageNumber / 5 + 1) : Model.PageNumber / 5)) - 1) * 5) + 5; i++)
                {
                    if (Model.PageNumber == i)
                    {
        <a href="javascript:getPage(@i)" class="act">@i</a>
                    }
                    else
                    {
        <a href="javascript:getPage(@i)">@i</a>
                    }
                }
            }

        <a class="next-btn" href="javascript:getPage(@(Model.PageNumber == Model.PageCount ? Model.PageNumber : Model.PageNumber + 1))"><i class="far fa-arrow-right"></i></a>
        <a class="lim-btn" href="javascript:getPage(@Model.PageCount)"><i class="far fa-arrow-to-right"></i></a>
    </div>
        }
    </div>
</div>
<form id="getTagSrc1_1" action="@Url.Action("HistorySrcTagList", "History")" method="post">
    <input type="hidden" name="Tagid" id="Tagid" value="" />
</form>
<form id="getTagSrc1_2" action="@Url.Action("HistorySrcTagList2", "History")" method="post">
    <input type="hidden" name="Tagid" id="Tagid" value="" />
</form>
<form id="getTagSrc2" action="@Url.Action("WriterSrcTagList", "Writer")" method="post">
    <input type="hidden" name="Tagid" id="Tagid" value="" />
</form>
<form id="getTagSrc3" action="@Url.Action("WriterStorySrcTagList", "Writer")" method="post">
    <input type="hidden" name="Tagid" id="Tagid" value="" />
</form>
<form id="getTagSrc4" action="@Url.Action("CreateSrcTagList", "Create")" method="post">
    <input type="hidden" name="Tagid" id="Tagid" value="" />
</form>
<form id="getTagSrc5" action="@Url.Action("ThemeSrcTagList", "Writer")" method="post">
    <input type="hidden" name="Tagid" id="Tagid" value="" />
</form>
<form id="getTagSrc6" action="@Url.Action("ExhibitionSrcTagList", "Theme")" method="post">
    <input type="hidden" name="Tagid" id="Tagid" value="" />
</form>
<form id="goHistory" method="post" action="@Url.Action("HistoryCont", "History")">
    <input type="hidden" id="Id" name="Id" value="" />
    <input type="hidden" id="Kind" name="Kind" value="" />
</form>
<form id="goWriterCont" action="@Url.Action("WriterCont", "Writer")" method="post">
    <input type="hidden" name="Wid" id="Wid" value="" />
</form>
<form id="goWriterStoryCont" action="@Url.Action("WriterStoryCont", "Writer")" method="post">
    <input type="hidden" name="Wid" id="Wid" value="" />
</form>
<form id="cont1" method="post" action="@Url.Action("ThemeCont", "Writer")">
    <input type="hidden" id="Themeid" name="Themeid" value="" />
    <input type="hidden" id="Routeid" name="Routeid" value="" />
</form>
<form id="cont2" method="post" action="@Url.Action("ThemeCont", "Writer")">
    <input type="hidden" id="Themeid" name="Themeid" value="" />
</form>
<script>
    function goCont1(themeid, routeid) {
        //$('#cont1').find('#Themeid').val(themeid);
        //$('#cont1').find('#Routeid').val(routeid);
        //$('#cont1').submit();
        var Lang = getCookie("CacheLang");
        top.location.href = "/" + Lang +"/Writer/ThemeCont?Themeid=" + themeid + "&Routeid=" + routeid;
    }
    function goCont2(themeid) {
        //$('#cont2').find('#Themeid').val(themeid);
        //$('#cont2').submit();
        var Lang = getCookie("CacheLang");
        top.location.href = "/" + Lang +"/Writer/ThemeCont?Themeid=" + themeid;
    }

    function goWriterCont(Wid,Eventid) {
        //$("#goWriterCont").find("#Wid").val(Wid);
        //$("#goWriterCont").submit();
        var Lang = getCookie("CacheLang");
        top.location.href = "/" + Lang + "/Writer/WriterCont?Wid=" + Wid + "&Eventid=" + Eventid;
    }

    function goWriterStoryCont(Wid, Eventid) {
        //$("#goWriterStoryCont").find("#Wid").val(Wid);
        //$("#goWriterStoryCont").submit();
        var Lang = getCookie("CacheLang");
        top.location.href = "/" + Lang + "/Writer/WriterStoryCont?Wid=" + Wid + "&Eventid=" + Eventid;
    }

    function goHistory(id, kind, id2) {
        //$("#goHistory").find("#Id").val(id);
        //$("#goHistory").find("#Kind").val(kind);
        //$("#goHistory").submit();
        var Lang = getCookie("CacheLang");
        top.location.href = "/" + Lang +  "/History/HistoryCont?Id=" + id + "&Kind=" + kind + "&LIid=" + id2;
    }

    function getTag(Tagid, kind) {
        if (kind == "1.1") {
            $("#getTagSrc1_1").find("#Tagid").val(Tagid);
            $("#getTagSrc1_1").submit();
        }
        if (kind == "1.2") {
            $("#getTagSrc1_2").find("#Tagid").val(Tagid);
            $("#getTagSrc1_2").submit();
        }
        if (kind == "2" || kind == "2.1") {
            $("#getTagSrc2").find("#Tagid").val(Tagid);
            $("#getTagSrc2").submit();
        }
        if (kind == "2.2") {
            $("#getTagSrc3").find("#Tagid").val(Tagid);
            $("#getTagSrc3").submit();
        }
        if (kind == "2.3") {
            $("#getTagSrc5").find("#Tagid").val(Tagid);
            $("#getTagSrc5").submit();
        }
        if (kind == "3") {
            $("#getTagSrc6").find("#Tagid").val(Tagid);
            $("#getTagSrc6").submit();
        }
        if (kind == "4") {
            $("#getTagSrc4").find("#Tagid").val(Tagid);
            $("#getTagSrc4").submit();
        }
    }

    $(document).ready(function () {
        $(".src-area").on("click", function (e) {
            var tempkey = $("#searchkey").val();
            if (tempkey.length <= 0)
                tempkey = $('#taghere').html();
            kind = $(this).attr("kind");

            if (tempkey) {
                var Lang = getCookie("CacheLang");
                top.location.href = "/" + Lang +  "/Home/SearchList?userKeyWord=" + encodeURIComponent(tempkey)
                    + "&kind=" + kind;
                /*
                $("#globalsearchform").find("#keyWord").val(tempkey);
                $("#globalsearchform").find("#kind").val(kind);
                $("#globalsearchform").submit();
                */
            } else
                alertTxt(@((Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")? Html.Raw("'請輸入關鍵字'"): Html.Raw("'Please enter search keywords.'")));
        });

        $(".src-area-sup").on("click", function (e) {
            var tempkey = $("#searchkey").val();
            if (tempkey.length <= 0)
                tempkey = $('#taghere').html();
            kind = $(this).attr("kind");

            if (tempkey) {
                var Lang = getCookie("CacheLang");
                top.location.href = "/" + Lang +  "/Home/SearchList?userKeyWord=" + encodeURIComponent(tempkey)
                    + "&kind=" + kind;
                /*
                $("#globalsearchform").find("#keyWord").val(tempkey);
                $("#globalsearchform").find("#kind").val(kind);
                $("#globalsearchform").submit();
                */
            } else
                alertTxt(@((Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")? Html.Raw("'請輸入關鍵字'"): Html.Raw("'Please enter search keywords.'")));
        });

        $(".creat-src-btn").on("click", function (e) {
            var tempkey = $("#searchkey").val();
            //if (tempkey.length <= 0)
            //    tempkey = $('#taghere').html();

            if (tempkey) {
                var Lang = getCookie("CacheLang");
                top.location.href = "/" + Lang +  "/Home/SearchList?userKeyWord=" + encodeURIComponent(tempkey);
                /*
                $("#globalsearchform").find("#keyWord").val(tempkey);
                $("#globalsearchform").submit();
                */
            } else
                alertTxt(@((Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")? Html.Raw("'請輸入關鍵字'"): Html.Raw("'Please enter search keywords.'")));
        });
    });

    function getPage(page) {
        var Lang = getCookie("CacheLang");
        top.location.href = "/" + Lang +  "/Home/SearchList?userKeyWord=" + encodeURIComponent('@ViewBag.GlobalKey')
            + "&kind=" + '@ViewBag.GlobalKind' + "&page=" + page;
    }
/*
    function getPage(page) {
        var headers = {};
        var data = {};

        data.userKeyWord = '@ViewBag.GlobalKey';
        data.kind = '@ViewBag.GlobalKind';
        data.page = page;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("SearchList2", "Home")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                //alert(result);
                //alert(result["PageNumber"]);
                $(".search-list").empty();

@if(Model.Kind == "1") {
    <Text>
                for (var i = 0; i < result["Lists"].length; i++) {
                    var str = '<div class="search-box">' +
                        '<a class="search-img" href="javascript:goHistory(' + result["Lists"][i]["Id"] + ',1,' + result["Lists"][i]["Id2"] +')" style="background:url(' + (result["Lists"][i]["Pic_tw"] == null || result["Lists"][i]["Pic_tw"].length <= 0 ? "/img/default_src.jpg" : result["Lists"][i]["Pic_tw"]) + ') no-repeat center center/contain;"><img src="' + (result["Lists"][i]["Pic_tw"] == null || result["Lists"][i]["Pic_tw"].length <= 0 ? "/img/default_src.jpg" : result["Lists"][i]["Pic_tw"]) + '" alt="無圖片" /></a>' +
                        '<div class="search-cont">' +
                        '<a class="tit" href="javascript:goHistory(' + result["Lists"][i]["Id"] + ',1,' + result["Lists"][i]["Id2"] + ')">' + result["Lists"][i]["Title_tw"] + '</a><a class="cont" href="javascript:goHistory(' + result["Lists"][i]["Id"] + ',1,' + result["Lists"][i]["Id2"] +')">' + result["Lists"][i]["Content_tw"] + '</a>' +
                        '<div class="gin-tag-box">';
                    if (result["Lists"][i]["tags"] != null && result["Lists"][i]["tags"].length > 0) {
                        for (var ii = 0; ii < result["Lists"][i]["tags"].length; ii++) {
                            str += '<a href="javascript:getTag(' + result["Lists"][i]["tags"][ii]["Tagid"] +',1)">#' + result["Lists"][i]["tags"][ii]["Name_tw"] + '</a>';
                        }
                    }
                    str += '</div></div></div>';
                    $(".search-list").append(str);
                }
    </Text>
} else if(Model.Kind == "2.1"|| Model.Kind == "2.2"|| Model.Kind == "2.3")
{
    <Text>
                for (var i = 0; i < result["Lists"].length; i++) {
                    if (result["Lists"][i]["kind"] == 1) {
                        var str = '<div class="search-box">' +
                            '<a class="search-img" href="javascript:goWriterCont(' + result["Lists"][i]["Id"] + ',' + result["Lists"][i]["Id2"] +')" style="background:url(' + (result["Lists"][i]["Pic_tw"] == null || result["Lists"][i]["Pic_tw"].length <= 0 ? "/img/default_src.jpg" : result["Lists"][i]["Pic_tw"]) + ') no-repeat center center/contain;"><img src="' + (result["Lists"][i]["Pic_tw"] == null || result["Lists"][i]["Pic_tw"].length <= 0 ? "/img/default_src.jpg" : result["Lists"][i]["Pic_tw"]) + '" alt="無圖片" /></a>' +
                            '<div class="search-cont">' +
                            '<a class="tit" href="javascript:goWriterCont(' + result["Lists"][i]["Id"] + ',' + result["Lists"][i]["Id2"] + ')">' + result["Lists"][i]["Title_tw"] + '</a><a class="cont" href="javascript:goWriterCont(' + result["Lists"][i]["Id"] + ',' + result["Lists"][i]["Id2"] +')">' + result["Lists"][i]["Content_tw"] + '</a>' +
                            '<div class="gin-tag-box">';
                        if (result["Lists"][i]["tags"] != null && result["Lists"][i]["tags"].length > 0) {
                            for (var ii = 0; ii < result["Lists"][i]["tags"].length; ii++) {
                                str += '<a href="javascript:getTag(' + result["Lists"][i]["tags"][ii]["Tagid"] + ',2)">#' + result["Lists"][i]["tags"][ii]["Name_tw"] + '</a>';
                            }
                        }
                        str += '</div></div></div>';
                        $(".search-list").append(str);
                    } else if (result["Lists"][i]["kind"] == 2) {
                        var str = '<div class="search-box">' +
                            '<a class="search-img" href="javascript:goWriterStoryCont(' + result["Lists"][i]["Id"] + ',' + result["Lists"][i]["Id2"] +')" style="background:url(' + (result["Lists"][i]["Pic_tw"] == null || result["Lists"][i]["Pic_tw"].length <= 0 ? "/img/default_src.jpg" : result["Lists"][i]["Pic_tw"]) + ') no-repeat center center/contain;"><img src="' + (result["Lists"][i]["Pic_tw"] == null || result["Lists"][i]["Pic_tw"].length <= 0 ? "/img/default_src.jpg" : result["Lists"][i]["Pic_tw"]) + '" alt="無圖片" /></a>' +
                            '<div class="search-cont">' +
                            '<a class="tit" href="javascript:goWriterStoryCont(' + result["Lists"][i]["Id"] + ',' + result["Lists"][i]["Id2"] + ')">' + result["Lists"][i]["Title_tw"] + '</a><a class="cont" href="javascript:goWriterStoryCont(' + result["Lists"][i]["Id"] + ',' + result["Lists"][i]["Id2"] +')">' + result["Lists"][i]["Content_tw"] + '</a>' +
                            '<div class="gin-tag-box">';
                        if (result["Lists"][i]["tags"] != null && result["Lists"][i]["tags"].length > 0) {
                            for (var ii = 0; ii < result["Lists"][i]["tags"].length; ii++) {
                                str += '<a href="javascript:getTag(' + result["Lists"][i]["tags"][ii]["Tagid"] + ',3)">#' + result["Lists"][i]["tags"][ii]["Name_tw"] + '</a>';
                            }
                        }
                        str += '</div></div></div>';
                        $(".search-list").append(str);
                    } else if (result["Lists"][i]["kind"] == 3) {
                        var str = '<div class="search-box">' +
                            '<a class="search-img" href="javascript:goCont1(' + result["Lists"][i]["Id"] + ',' + result["Lists"][i]["Id2"]+')" style="background:url(' + (result["Lists"][i]["Pic_tw"] == null || result["Lists"][i]["Pic_tw"].length <= 0 ? "/img/default_src.jpg" : result["Lists"][i]["Pic_tw"]) + ') no-repeat center center/contain;"><img src="' + (result["Lists"][i]["Pic_tw"] == null || result["Lists"][i]["Pic_tw"].length <= 0 ? "/img/default_src.jpg" : result["Lists"][i]["Pic_tw"]) + '" alt="無圖片" /></a>' +
                            '<div class="search-cont">' +
                            '<a class="tit" href="javascript:goCont1(' + result["Lists"][i]["Id"] + ',' + result["Lists"][i]["Id2"] + ')">' + result["Lists"][i]["Title_tw"] + '</a><a class="cont" href="javascript:goCont1(' + result["Lists"][i]["Id"] + ',' + result["Lists"][i]["Id2"] +')">' + result["Lists"][i]["Content_tw"] + '</a>' +
                            '<div class="gin-tag-box">';
                        if (result["Lists"][i]["tags"] != null && result["Lists"][i]["tags"].length > 0) {
                            for (var ii = 0; ii < result["Lists"][i]["tags"].length; ii++) {
                                str += '<a href="javascript:getTag(' + result["Lists"][i]["tags"][ii]["Tagid"] + ')">#' + result["Lists"][i]["tags"][ii]["Name_tw"] + '</a>';
                            }
                        }
                        str += '</div></div></div>';
                        $(".search-list").append(str);
                    }
                }
    </Text>
} else if(Model.Kind == "3")
{
    <Text>
                for (var i = 0; i < result["Lists"].length; i++) {
                    var str = '';
                    if (result["Lists"][i]["kind"] == 1) {
                        str = '<div class="search-box">' +
                            '<a class="search-img" href="/Theme/ExhibitionArticleCont?Exbid=' + result["Lists"][i]["Id"] + '" style="background:url(' + (result["Lists"][i]["Pic_tw"] == null || result["Lists"][i]["Pic_tw"].length <= 0 ? "/img/default_src.jpg" : result["Lists"][i]["Pic_tw"]) + ') no-repeat center center/contain;"><img src="' + (result["Lists"][i]["Pic_tw"] == null || result["Lists"][i]["Pic_tw"].length <= 0 ? "/img/default_src.jpg" : result["Lists"][i]["Pic_tw"]) + '" alt="無圖片" /></a>' +
                            '<div class="search-cont">' +
                            '<a class="tit" href="/Theme/ExhibitionArticleCont?Exbid=' + result["Lists"][i]["Id"] + '">' + result["Lists"][i]["Title_tw"] + '</a><a class="cont" href="/Theme/ExhibitionArticleCont?Exbid=' + result["Lists"][i]["Id"] + '">' + result["Lists"][i]["Content_tw"] + '</a>' +
                            '<div class="gin-tag-box">';
                    } else if (result["Lists"][i]["kind"] == 2) {
                        str = '<div class="search-box">' +
                            '<a class="search-img" href="/Theme/ExhibitionCont1?LLid=' + result["Lists"][i]["Id"] + '" style="background:url(' + (result["Lists"][i]["Pic_tw"] == null || result["Lists"][i]["Pic_tw"].length <= 0 ? "/img/default_src.jpg" : result["Lists"][i]["Pic_tw"]) + ') no-repeat center center/contain;"><img src="' + (result["Lists"][i]["Pic_tw"] == null || result["Lists"][i]["Pic_tw"].length <= 0 ? "/img/default_src.jpg" : result["Lists"][i]["Pic_tw"]) + '" alt="無圖片" /></a>' +
                            '<div class="search-cont">' +
                            '<a class="tit" href="/Theme/ExhibitionCont1?LLid=' + result["Lists"][i]["Id"] + '">' + result["Lists"][i]["Title_tw"] + '</a><a class="cont" href="/Theme/ExhibitionCont1?LLid=' + result["Lists"][i]["Id"] + '">' + result["Lists"][i]["Content_tw"] + '</a>' +
                            '<div class="gin-tag-box">';
                    }
                    if (result["Lists"][i]["tags"] != null && result["Lists"][i]["tags"].length > 0) {
                        for (var ii = 0; ii < result["Lists"][i]["tags"].length; ii++) {
                            str += '<a href="javascript:getTag(' + result["Lists"][i]["tags"][ii]["Tagid"] + ')">#' + result["Lists"][i]["tags"][ii]["Name_tw"] + '</a>';
                        }
                    }
                    str += '</div></div></div>';
                    $(".search-list").append(str);
                }
    </Text>
}
else if(Model.Kind == "4")
{
    <Text>
                for (var i = 0; i < result["Lists"].length; i++) {
                    var str = '<div class="search-box">' +
                        '<a class="search-img" href="/Create/CreatePlatformCont?Createid=' + result["Lists"][i]["Id"]+'" style="background:url(' + (result["Lists"][i]["Pic_tw"] == null || result["Lists"][i]["Pic_tw"].length <= 0 ? "/img/default_src.jpg" : result["Lists"][i]["Pic_tw"]) + ') no-repeat center center/contain;"><img src="' + (result["Lists"][i]["Pic_tw"] == null || result["Lists"][i]["Pic_tw"].length <= 0 ? "/img/default_src.jpg" : result["Lists"][i]["Pic_tw"]) + '" alt="無圖片" /></a>' +
                        '<div class="search-cont">' +
                        '<a class="tit" href="/Create/CreatePlatformCont?Createid=' + result["Lists"][i]["Id"] + '">' + result["Lists"][i]["Title_tw"] + '</a><a class="cont" href="/Create/CreatePlatformCont?Createid=' + result["Lists"][i]["Id"] +'">' + result["Lists"][i]["Content_tw"] + '</a>' +
                        '<div class="gin-tag-box">';
                    if (result["Lists"][i]["tags"] != null && result["Lists"][i]["tags"].length > 0) {
                        for (var ii = 0; ii < result["Lists"][i]["tags"].length; ii++) {
                            str += '<a href="javascript:getTag(' + result["Lists"][i]["tags"][ii]["Tagid"] +',4)">#' + result["Lists"][i]["tags"][ii]["Name_tw"] + '</a>';
                        }
                    }
                    str += '</div></div></div>';
                    $(".search-list").append(str);
                }
    </Text>
}

                $('.pagination-area').empty();
                $('.pagination-area').append('<a class="lim-btn" href="javascript:getPage(1)"><i class="far fa-arrow-to-left"></i></a>');
                $('.pagination-area').append('<a class="pre-btn" href="javascript:getPage(' + (result["PageNumber"] > 1 ? result["PageNumber"] - 1 : result["PageNumber"]) + ')"><i class="far fa-arrow-left"></i></a>');

                var pageMin = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5)+1) : parseInt(result["PageNumber"] / 5))) - 1) * 5)+1;
                var pageMax = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 5;

                if (parseInt(result["PageCount"]) < pageMax)
                    pageMax = parseInt(result["PageCount"]);
                for (var i = pageMin; i <= pageMax; i++) {
                    if (result["PageNumber"] == i) {
                        $('.pagination-area').append('<a href="javascript:getPage(' + i + ')" class="act">' + i + '</a>');
                    }
                    else {
                        $('.pagination-area').append('<a href="javascript:getPage(' + i + ')">' + i + '</a>');
                    }
                }

                $('.pagination-area').append('<a class="next-btn" href="javascript:getPage(' + (result["PageNumber"] == result["PageCount"] ? result["PageNumber"] : result["PageNumber"] + 1) + ')"><i class="far fa-arrow-right"></i></a>');
                $('.pagination-area').append('<a class="lim-btn" href="javascript:getPage(' + result["PageCount"] + ')"><i class="far fa-arrow-to-right"></i></a>');
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }
*/
</script>
