﻿@model DataAccess.Domain.SetTrafficDomainModel
@{

}

<div class="page-top-area">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index", "Home")">@GlobalRes.Traffic_ihead1</a><span>/</span>
            <div class="act-page">@GlobalRes.Traffic_ihead2</div>
        </div>
    </div>
</div>
<div class="traffic-map-area"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.865385708875!2d120.20229745055804!3d22.991977084894767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e7662996cf771%3A0x4147c569083fbe49!2z5ZyL56uL6Ie654Gj5paH5a246aSoICjljp_oh7rljZflt57lu7Mp!5e0!3m2!1szh-TW!2stw!4v1603432874322!5m2!1szh-TW!2stw" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
<div class="page-wrap page-gray-wrap">
    <div class="main-cont">
        <div class="page-tit">@GlobalRes.Traffic_ihead2</div>
        <div class="edit-area">
            <div class="edit-box">
                @Html.Raw(Model.Content_tw)
            </div>
        </div>
    </div>
</div>
<script>$(document).ready(function(){
  	//時間軸
  	var historyTimelineSwiper = new Swiper('#historyTimelineSwiper', {
  		//- speed: 400,
  		//- spaceBetween: 100
  		autoHeight: true,
  		navigation: {
  			nextEl: '#timeLineN',
  			prevEl: '#timeLineP',
  		},
  	});
  });</script>