﻿@model DataAccess.Domain.Writer.SearchTagDomainModel4

@{
    ViewBag.Action = "HistorySrcTagList2";
}

<div class="page-tab-area">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index", "Home")">@GlobalRes.History_ihead1</a><span>/</span><a href="@Url.Action("HistoryList", "History")">@GlobalRes.History_ihead2</a><span>/</span>
            <div class="act-page">@GlobalRes.TagSearch_result</div>
        </div>
    </div>
</div>
<div class="page-wrap">
    <div class="main-cont">
        <div class="page-group">
            <div class="page-cont">
                @if (Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")
                {
                    <div class="writer-src-tag-tit">包含<span>“@Model.Name_tw”</span>的標籤結果，共<span>@Model.Count</span>筆資料。</div>
                }
                else
                {
                    <div class="writer-src-tag-tit"><span>@Model.Count</span> data including the label result of <span>“@Model.Name_tw”</span>.</div>
                }
                <div class="writer-src-tag-list">
                    @if (Model.datas != null && Model.datas.Count > 0)
                    {
                        foreach (var d in Model.datas)
                        {
                            <div class="writer-src-tag-box">
                                <a class="writer-src-tag-img" href="javascript:getCont(@d.Lid,@d.LIid)"><img src="@(d.Pic_tw == null||d.Pic_tw.Length<=0?"/img/default_src.jpg":d.Pic_tw)" alt="" /></a>
                                <div class="writer-src-tag-cont">
                                    <a class="tit" href="javascript:getCont(@d.Lid,@d.LIid)"><span>@d.Title_tw</span></a><a class="cont" href="javascript:getCont(@d.Lid,@d.LIid)">@Html.Raw(d.Content_tw)</a>
                                    <div class="gin-tag-box">
                                        @if (d.ownTags != null && d.ownTags.Count > 0)
                                        {
                                            foreach (var tag in d.ownTags)
                                            {
                                                if (tag.Tagid == Model.Tagid)
                                                {
                                                    <a class="act" href="javascript:getTag(@tag.Tagid)">#@tag.Name_tw</a>
                                                }
                                                else
                                                {
                                                    <a href="javascript:getTag(@tag.Tagid)">#@tag.Name_tw</a>
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                @if (Model.datas != null && Model.datas.Count > 0)
                {
                    <div class="pagination-area">
                        <a class="lim-btn" href="javascript:getPage(1)">
                            <i class="far fa-arrow-to-left"></i>
                        </a>
                        <a class="pre-btn" href="javascript:getPage(@Model.datas.PageNumber > 1 ? @Model.datas.PageNumber - 1 : @Model.datas.PageNumber)">
                            <i class="far fa-arrow-left"></i>
                        </a>

                        @for (int i = (Model.datas.PageNumber % 5); i <= (Model.datas.PageCount > 5 ? (Model.datas.PageNumber % 5) * 5 : Model.datas.PageCount); i++)
                        {
                            if (Model.datas.PageNumber == i)
                            {
                                <a href="javascript:getPage(@i)" class="act">@i</a>
                            }
                            else
                            {
                                <a href="javascript:getPage(@i)">@i</a>
                            }
                        }

                        <a class="next-btn" href="javascript:getPage(@Model.datas.PageNumber==@Model.datas.PageCount?@Model.datas.PageNumber:@Model.datas.PageNumber+1)">
                            <i class="far fa-arrow-right"></i>
                        </a>
                        <a class="lim-btn" href="javascript:getPage(@Model.datas.PageCount)">
                            <i class="far fa-arrow-to-right"></i>
                        </a>
                    </div>
                }
            </div>
            <div class="page-side">
                <div class="side-tag-box side-fixed">
                    <div class="creat-article-tag-tit">
                        <div>@GlobalRes.Create_tag2</div>
                        <div class="creat-article-tag-more" id="moreTagBtn">@GlobalRes.Create_showtag<i class="far fa-angle-down"></i></div>
                    </div>
                    <div class="creat-article-tag gin-tag-box">
                        <div class="article-all-tag" id="articleAllTagBox">
                            @if (Model.allTags != null && Model.allTags.Count > 0)
                            {
                                for (int i = 0; i < Model.allTags.Count; i++)
                                {
                                    if (i > 19)
                                    {
                                        <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow" style="display:none;">#@(Model.allTags[i].Name_tw)</a>
                                    }
                                    else
                                    {
                                        <a href="javascript:getTag(@Model.allTags[i].Tagid)" class="tagshow">#@(Model.allTags[i].Name_tw)</a>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form id="getTag" action="@Url.Action("HistorySrcTagList2", "History")" method="post">
    <input type="hidden" name="Tagid" id="Tagid" value="" />
</form>
<form id="getCont" action="@Url.Action("HistoryCont", "History")" method="post">
    <input type="hidden" id="Id" name="Id" value="" />
    <input type="hidden" id="Kind" name="Kind" value="" />
</form>

<script>
    function getTag(Tagid) {
        $("#getTag").find("#Tagid").val(Tagid);
        $("#getTag").submit();
    }
    function getCont(Lid, LIid) {
        //$("#getCont").find("#Id").val(LIid);
        //$("#getCont").find("#Kind").val(2);
        //$("#getCont").submit();
        var Lang = getCookie("CacheLang");
        top.location.href = "/" + Lang + "/History/HistoryCont?Id=" + Lid + "&Kind=1&LIid=" + LIid;
    }
    $(document).ready(function () {
  	//標籤打開 隱藏
  	var $moreTagBtn=$('#moreTagBtn');
  	var $allTagBox=$('#articleAllTagBox');
  	$moreTagBtn.on('click',function(){
  		var tagOpen=$allTagBox.hasClass('act-open');
            if (tagOpen) {
                $allTagBox.removeClass('act-open');
                $moreTagBtn.find('i').removeClass('fa-angle-up');
                $moreTagBtn.find('i').addClass('fa-angle-down');
                var itag = 0;
                $('.tagshow').each(function (e) {
                    if (itag > 19) {
                        $(this).hide();
                    } else
                        $(this).show();
                    itag++;
                });
            } else {
                $allTagBox.addClass('act-open');
                $moreTagBtn.find('i').addClass('fa-angle-up');
                $moreTagBtn.find('i').removeClass('fa-angle-down');
                sideScrollBtn();
                $('.tagshow').each(function (e) {
                    $(this).show();
                });
            }
  	});
  });

  function sideScrollBtn(){
  	//內頁側邊卡住
  	var fixData = {
  		'topNav': '#navArea',//上方nav
  		'sideNav': '.side-fixed',//側邊nav
  		'pageCont': '.page-cont',//內容高
  		'footer': 'footer',//底部footer
  		'topMargin': 10,//側邊nav固定上面距離
  		'bottomMargin': 80,//側邊nav固定下面距離
  		'sideContW': '.page-side'//側邊side寬度
  	};
  	scrollNAvFix(fixData);
    }
    var globalkeyword = "@ViewBag.Key";
    var NowTagid = "@Model.Tagid";

    function getPage(page) {
        var headers = {};
        var data = {};
        data.action = "@ViewBag.Action";
        data.key = "@Model.Tagid";
        data.page = page;

        $.ajax({
            type: "POST",
            data: data,
            headers: headers,
            url: '@Url.Action("getPage")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                //alert(result["PageNumber"]);
                $(".writer-src-tag-list").empty();

                for (var i = 0; i < result["Lists"].length; i++) {
                    var str = '<div class="writer-src-tag-box">' +
                        '<a class="writer-src-tag-img" href="javascript:getCont(' + result["Lists"][i]["Lid"] + ',' + result["Lists"][i]["LIid"] + ')"><img src="' + (result["Lists"][i]["Pic_tw"] == null || result["Lists"][i]["Pic_tw"].length <= 0 ? "/img/default_src.jpg" : result["Lists"][i]["Pic_tw"]) + '" alt="" /></a>' +
                        '<div class="writer-src-tag-cont">' +
                        '<a class="tit" href="javascript:getCont(' + result["Lists"][i]["Lid"] + ',' + result["Lists"][i]["LIid"] + ')"><span>' + result["Lists"][i]["Title_tw"] + '</span></a><a class="cont" href="javascript:getCont(' + result["Lists"][i]["Lid"] + ',' + result["Lists"][i]["LIid"] +')">' + result["Lists"][i]["Content_tw"]+'</a>'+
                              '<div class="gin-tag-box">';
                    if (result["Lists"][i]["ownTags"] != null) {
                        for (var k = 0; k < result["Lists"][i]["ownTags"].length; k++) {
                            if (NowTagid == result["Lists"][i]["ownTags"][k]["Tagid"]) {
                                str += '<a class="act" href="javascript:getTag(' + result["Lists"][i]["ownTags"][k]["Tagid"] + ')">#' + result["Lists"][i]["ownTags"][k]["Name_tw"] + '</a>';
                            } else {
                                str += '<a href="javascript:getTag(' + result["Lists"][i]["ownTags"][k]["Tagid"] + ')">#' + result["Lists"][i]["ownTags"][k]["Name_tw"] + '</a>';
                            }
                        }
                    }
                    str += '</div></div></div>';

                    $(".writer-src-tag-list").append(str);
                }

                $('.pagination-area').empty();
                $('.pagination-area').append('<a class="lim-btn" href="javascript:getPage(1)"><i class="far fa-arrow-to-left"></i></a>');
                $('.pagination-area').append('<a class="pre-btn" href="javascript:getPage(' + (result["PageNumber"] > 1 ? result["PageNumber"] - 1 : result["PageNumber"]) + ')"><i class="far fa-arrow-left"></i></a>');

                var pageMin = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 1;
                var pageMax = (((parseInt(result["PageNumber"] / 5) <= 0 ? 1 : ((result["PageNumber"] % 5 > 0) ? (parseInt(result["PageNumber"] / 5) + 1) : parseInt(result["PageNumber"] / 5))) - 1) * 5) + 5;

                if (parseInt(result["PageCount"]) < pageMax)
                    pageMax = parseInt(result["PageCount"]);
                for (var i = pageMin; i <= pageMax; i++) {
                    if (result["PageNumber"] == i) {
                        $('.pagination-area').append('<a href="javascript:getPage(' + i + ')" class="act">' + i + '</a>');
                    }
                    else {
                        $('.pagination-area').append('<a href="javascript:getPage(' + i + ')">' + i + '</a>');
                    }
                }

                $('.pagination-area').append('<a class="next-btn" href="javascript:getPage(' + (result["PageNumber"] == result["PageCount"] ? result["PageNumber"] : result["PageNumber"] + 1) + ')"><i class="far fa-arrow-right"></i></a>');
                $('.pagination-area').append('<a class="lim-btn" href="javascript:getPage(' + result["PageCount"] + ')"><i class="far fa-arrow-to-right"></i></a>');
            },
            error: function (xhr, ajaxOption, thrownError) {
                alert(xhr.responseText);
            }
        });
    }

</script>