﻿@model DataAccess.Domain.History.HistoryDomainModel

@{
    ViewBag.Action = "HistoryList";
}

<div class="page-top-area">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index", "Home")">@GlobalRes.History_ihead1</a><span>/</span>
            <div class="act-page">@GlobalRes.History_ihead2</div>
        </div>
    </div>
</div>
<div class="inner-single-page">
    <div class="main-cont">
        <!-- 搜尋框框先隱藏 -->
        <!-- <div class="creat-src-box">
            <div class="creat-src">
                <input id="searchkey" type="text" name="" placeholder="@GlobalRes.History_search" value="@ViewBag.Key" />
            </div>
            <div class="creat-src-btn"><i class="fas fa-search"></i>@GlobalRes.History_search_btn</div>
        </div> -->
        <div class="history-timeline-area">
            <div id="timelineArea" style="width: 100%; height: 600px"></div>
        </div>
        <div class="creat-article-tag-box creat-article-tag-box2">
            <div class="creat-article-tag-tit">
                <div class="creat-article-change">
                    <div id="timeTit">
                        <i class="fas fa-tag"></i> <span>@GlobalRes.History_Tag</span>
                    </div>
                    <div class="unact" id="timeTit2">
                        <i class="fas fa-tag"></i> <span>@GlobalRes.History_Tag2</span>
                    </div>
                </div>
                <div class="creat-article-tag-more" id="moreTagBtn">@GlobalRes.Create_showtag<i class="far fa-angle-down"></i></div>
            </div>
            <div class="creat-article-tag gin-tag-box">
                <div class="article-all-tag" id="articleAllTagBox">
                    <div id="articleAllInnerTagBox">
                        @if (Model.allTags1 != null && Model.allTags1.Count > 0)
                        {
                            for (int i = 0; i < Model.allTags1.Count; i++)
                            {
                                if (i > 19)
                                {
                                    if (Model.allTags1[i].Count >= 21)
                                    {
                                        <a href="javascript:getTag1(@Model.allTags1[i].Tagid)" class="tagshow" style="display: none; font-size: 160%; font-weight: 600;">#@Model.allTags1[i].Name_tw</a>
                                    }
                                    else if (Model.allTags1[i].Count <= 20 && Model.allTags1[i].Count >= 16)
                                    {
                                        <a href="javascript:getTag1(@Model.allTags1[i].Tagid)" class="tagshow" style="display: none; font-size: 140%;">#@Model.allTags1[i].Name_tw</a>
                                    }
                                    else if (Model.allTags1[i].Count <= 15 && Model.allTags1[i].Count >= 11)
                                    {
                                        <a href="javascript:getTag1(@Model.allTags1[i].Tagid)" class="tagshow" style="display: none; font-size: 130%;">#@Model.allTags1[i].Name_tw</a>
                                    }
                                    else if (Model.allTags1[i].Count <= 10 && Model.allTags1[i].Count >= 6)
                                    {
                                        <a href="javascript:getTag1(@Model.allTags1[i].Tagid)" class="tagshow" style="display: none; font-size: 120%;">#@Model.allTags1[i].Name_tw</a>
                                    }
                                    else
                                    {
                                        <a href="javascript:getTag1(@Model.allTags1[i].Tagid)" style="display:none;" class="tagshow">#@Model.allTags1[i].Name_tw</a>
                                    }
                                }
                                else
                                {
                                    if (Model.allTags1[i].Count >= 21)
                                    {
                                        <a href="javascript:getTag1(@Model.allTags1[i].Tagid)" class="tagshow" style="font-size: 160%; font-weight: 600;">#@Model.allTags1[i].Name_tw</a>
                                    }
                                    else if (Model.allTags1[i].Count <= 20 && Model.allTags1[i].Count >= 16)
                                    {
                                        <a href="javascript:getTag1(@Model.allTags1[i].Tagid)" class="tagshow" style="font-size: 140%;">#@Model.allTags1[i].Name_tw</a>
                                    }
                                    else if (Model.allTags1[i].Count <= 15 && Model.allTags1[i].Count >= 11)
                                    {
                                        <a href="javascript:getTag1(@Model.allTags1[i].Tagid)" class="tagshow" style="font-size: 130%;">#@Model.allTags1[i].Name_tw</a>
                                    }
                                    else if (Model.allTags1[i].Count <= 10 && Model.allTags1[i].Count >= 6)
                                    {
                                        <a href="javascript:getTag1(@Model.allTags1[i].Tagid)" class="tagshow" style="font-size: 120%;">#@Model.allTags1[i].Name_tw</a>
                                    }
                                    else
                                    {
                                        <a href="javascript:getTag1(@Model.allTags1[i].Tagid)" class="tagshow">#@Model.allTags1[i].Name_tw</a>
                                    }
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="history-timeline-list">
            @if (Model.part2 != null && Model.part2.Count > 0)
            {
                foreach (var d in Model.part2)
                {
                    <div class="literary-box-cube">
                        <a class="literary-img-area" href="javascript:goCont(@d.LIid,2)">
                            <div class="literary-img" style="background:url(@(d.Pic_tw==null||d.Pic_tw.Length<=0?"/img/default_src.jpg":d.Pic_tw)) no-repeat center center/cover;"><img src="@(d.Pic_tw==null||d.Pic_tw.Length<=0?"/img/default_src.jpg":d.Pic_tw)" alt="" /></div>
                            <div class="literary-tit"><span class="tit">@d.Name_tw</span><span class="date">@d.Start - @d.End</span></div>
                        </a>
                        <div class="literary-tag">
                            @if (d.tags != null && d.tags.Count > 0)
                            {
                                foreach (var a in d.tags)
                                {
                                    <a href="javascript:getTag2(@a.Tagid)">#@((Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")? a.Name_tw : a.Name_en)</a>
                                }
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

<form id="goCont" method="post" action="@Url.Action("HistoryCont", "History")">
    <input type="hidden" id="Id" name="Id" value="" />
    <input type="hidden" id="Kind" name="Kind" value="" />
</form>
<form id="searchform" action="@Url.Action("searchPage", "History")" method="post">
    <input type="hidden" name="action" value="@ViewBag.Action" />
    <input type="hidden" name="userKeyWord" id="keyWord" value="@ViewBag.Key" />
</form>
<form id="getTagSrc1_1" action="@Url.Action("HistorySrcTagList", "History")" method="post">
    <input type="hidden" name="Tagid" id="Tagid" value="" />
</form>
<form id="getTagSrc1_2" action="@Url.Action("HistorySrcTagList2", "History")" method="post">
    <input type="hidden" name="Tagid" id="Tagid" value="" />
</form>
<script>
    var allTags1 = '';
    var allTags2 = '';

    @if(Model.allTags1 != null && Model.allTags1.Count > 0)
    {
        for (int i = 0; i < Model.allTags1.Count; i++)
        {
            if (i > 19)
            {
                if (Model.allTags1[i].Count >= 21)
                {
                    <Text>
    allTags1 += '<a href="javascript:getTag1(@Model.allTags1[i].Tagid)" class="tagshow" style="display: none; font-size: 160%; font-weight: 600;">#@Model.allTags1[i].Name_tw</a>';
    </Text>
                }
                else if (Model.allTags1[i].Count <= 20 && Model.allTags1[i].Count >= 16)
                {
                    <Text>
    allTags1 += '<a href="javascript:getTag1(@Model.allTags1[i].Tagid)" class="tagshow" style="display: none; font-size: 140%;">#@Model.allTags1[i].Name_tw</a>';
    </Text>
                }
                else if (Model.allTags1[i].Count <= 15 && Model.allTags1[i].Count >= 11)
                {
                    <Text>
    allTags1 += '<a href="javascript:getTag1(@Model.allTags1[i].Tagid)" class="tagshow" style="display: none; font-size: 130%;">#@Model.allTags1[i].Name_tw</a>';
    </Text>
                }
                else if (Model.allTags1[i].Count <= 10 && Model.allTags1[i].Count >= 6)
                {
                    <Text>
    allTags1 += '<a href="javascript:getTag1(@Model.allTags1[i].Tagid)" class="tagshow" style="display: none; font-size: 120%;">#@Model.allTags1[i].Name_tw</a>';
    </Text>
                }
                else
                {
                    <Text>
    allTags1 += '<a href="javascript:getTag1(@Model.allTags1[i].Tagid)" style="display:none;" class="tagshow">#@Model.allTags1[i].Name_tw</a>';
    </Text>
                }
            }
            else
            {
                if (Model.allTags1[i].Count >= 21)
                {
                    <Text>
    allTags1 += '<a href="javascript:getTag1(@Model.allTags1[i].Tagid)" class="tagshow" style="font-size: 160%; font-weight: 600;">#@Model.allTags1[i].Name_tw</a>';
    </Text>
                }
                else if (Model.allTags1[i].Count <= 20 && Model.allTags1[i].Count >= 16)
                {
                    <Text>
    allTags1 += '<a href="javascript:getTag1(@Model.allTags1[i].Tagid)" class="tagshow" style="font-size: 140%;">#@Model.allTags1[i].Name_tw</a>';
    </Text>
                }
                else if (Model.allTags1[i].Count <= 15 && Model.allTags1[i].Count >= 11)
                {
                    <Text>
    allTags1 += '<a href="javascript:getTag1(@Model.allTags1[i].Tagid)" class="tagshow" style="font-size: 130%;">#@Model.allTags1[i].Name_tw</a>';
    </Text>
                }
                else if (Model.allTags1[i].Count <= 10 && Model.allTags1[i].Count >= 6)
                {
                    <Text>
    allTags1 += '<a href="javascript:getTag1(@Model.allTags1[i].Tagid)" class="tagshow" style="font-size: 120%;">#@Model.allTags1[i].Name_tw</a>';
    </Text>
                }
                else
                {
                    <Text>
    allTags1 += '<a href="javascript:getTag1(@Model.allTags1[i].Tagid)" class="tagshow">#@Model.allTags1[i].Name_tw</a>';
    </Text>
                }
            }
        }
    }

    @if(Model.allTags2 != null && Model.allTags2.Count > 0)
    {
        for (int i = 0; i < Model.allTags2.Count; i++)
        {
            if (i > 19)
            {
                if (Model.allTags2[i].Count >= 21)
                {
                    <Text>
    allTags2 += '<a href="javascript:getTag2(@Model.allTags2[i].Tagid)" class="tagshow" style="display: none; font-size: 160%; font-weight: 600;">#@Model.allTags2[i].Name_tw</a>';
    </Text>
                }
                else if (Model.allTags2[i].Count <= 20 && Model.allTags2[i].Count >= 16)
                {
                    <Text>
    allTags2 += '<a href="javascript:getTag2(@Model.allTags2[i].Tagid)" class="tagshow" style="display: none; font-size: 140%;">#@Model.allTags2[i].Name_tw</a>';
    </Text>
                }
                else if (Model.allTags2[i].Count <= 15 && Model.allTags2[i].Count >= 11)
                {
                    <Text>
    allTags2 += '<a href="javascript:getTag2(@Model.allTags2[i].Tagid)" class="tagshow" style="display: none; font-size: 130%;">#@Model.allTags2[i].Name_tw</a>';
    </Text>
                }
                else if (Model.allTags2[i].Count <= 10 && Model.allTags2[i].Count >= 6)
                {
                    <Text>
    allTags2 += '<a href="javascript:getTag2(@Model.allTags2[i].Tagid)" class="tagshow" style="display: none; font-size: 120%;">#@Model.allTags2[i].Name_tw</a>';
    </Text>
                }
                else
                {
                    <Text>
    allTags2 += '<a href="javascript:getTag2(@Model.allTags2[i].Tagid)" style="display:none;" class="tagshow">#@Model.allTags2[i].Name_tw</a>';
    </Text>
                }
            }
            else
            {
                if (Model.allTags2[i].Count >= 21)
                {
                    <Text>
    allTags2 += '<a href="javascript:getTag2(@Model.allTags2[i].Tagid)" class="tagshow" style="font-size: 160%; font-weight: 600;">#@Model.allTags2[i].Name_tw</a>';
    </Text>
                }
                else if (Model.allTags2[i].Count <= 20 && Model.allTags2[i].Count >= 16)
                {
                    <Text>
    allTags2 += '<a href="javascript:getTag2(@Model.allTags2[i].Tagid)" class="tagshow" style="font-size: 140%;">#@Model.allTags2[i].Name_tw</a>';
    </Text>
                }
                else if (Model.allTags2[i].Count <= 15 && Model.allTags2[i].Count >= 11)
                {
                    <Text>
    allTags2 += '<a href="javascript:getTag2(@Model.allTags2[i].Tagid)" class="tagshow" style="font-size: 130%;">#@Model.allTags2[i].Name_tw</a>';
    </Text>
                }
                else if (Model.allTags2[i].Count <= 10 && Model.allTags2[i].Count >= 6)
                {
                    <Text>
    allTags2 += '<a href="javascript:getTag2(@Model.allTags2[i].Tagid)" class="tagshow" style="font-size: 120%;">#@Model.allTags2[i].Name_tw</a>';
    </Text>
                }
                else
                {
                    <Text>
    allTags2 += '<a href="javascript:getTag2(@Model.allTags2[i].Tagid)" class="tagshow">#@Model.allTags2[i].Name_tw</a>';
    </Text>
                }
            }
        }
    }

    $(document).ready(function () {
        $("#timeTit").on("click", function (e) {
            $("#timeTit").removeClass("unact");
            $("#timeTit2").addClass("unact");
            $("#articleAllInnerTagBox").html(allTags1);
            var $moreTagBtn = $('#moreTagBtn');
            var $allTagBox = $('#articleAllTagBox');
            $allTagBox.removeClass('act-open');
            $moreTagBtn.find('i').removeClass('fa-angle-up');
            $moreTagBtn.find('i').addClass('fa-angle-down');
            var itag = 0;
            $('.tagshow').each(function (e) {
                if (itag > 19) {
                    $(this).hide();
                } else
                    $(this).show();
                itag++;
            });
        });
        $("#timeTit2").on("click", function (e) {
            $("#timeTit2").removeClass("unact");
            $("#timeTit").addClass("unact");
            $("#articleAllInnerTagBox").html(allTags2);
            var $moreTagBtn = $('#moreTagBtn');
            var $allTagBox = $('#articleAllTagBox');
            $allTagBox.removeClass('act-open');
            $moreTagBtn.find('i').removeClass('fa-angle-up');
            $moreTagBtn.find('i').addClass('fa-angle-down');
            var itag = 0;
            $('.tagshow').each(function (e) {
                if (itag > 19) {
                    $(this).hide();
                } else
                    $(this).show();
                itag++;
            });
        });

        $(".creat-src-btn").on("click", function (e) {
            var key = $("#searchkey").val();

            if (key) {
                $("#searchform").find("#keyWord").val(key);
                $("#searchform").submit();
            } else
                alertTxt(@((Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")? Html.Raw("'請輸入關鍵字'"): Html.Raw("'Please enter search keywords.'")));
        });
    });

    $(document).ready(function () {
        //如果超過這個高度才有更多鈕
        hideMoreBtn();
        //標籤打開 隱藏
        var $moreTagBtn = $('#moreTagBtn');
        var $allTagBox = $('#articleAllTagBox');
        $moreTagBtn.on('click', function () {
            var tagOpen = $allTagBox.hasClass('act-open');
            if (tagOpen) {
                $allTagBox.removeClass('act-open');
                $moreTagBtn.find('i').removeClass('fa-angle-up');
                $moreTagBtn.find('i').addClass('fa-angle-down');
                var itag = 0;
                $('.tagshow').each(function (e) {
                    if (itag > 19) {
                        $(this).hide();
                    } else
                        $(this).show();
                    itag++;
                });
            } else {
                $allTagBox.addClass('act-open');
                $moreTagBtn.find('i').addClass('fa-angle-up');
                $moreTagBtn.find('i').removeClass('fa-angle-down');
                sideScrollBtn();
                $('.tagshow').each(function (e) {
                    $(this).show();
                });
            }
        });
    });

    $(window).resize(function () {
        hideMoreBtn();
    });

    //如果超過這個高度才有更多鈕
    function hideMoreBtn() {
        var tagsH = $('#articleAllInnerTagBox').outerHeight();
        if (tagsH < 32) {
            $('#moreTagBtn').hide();
        } else {
            $('#moreTagBtn').show();
        }
    }

    function sideScrollBtn() {
        //內頁側邊卡住
        var fixData = {
            'topNav': '#navArea',//上方nav
            'sideNav': '.side-fixed',//側邊nav
            'pageCont': '.page-cont',//內容高
            'footer': 'footer',//底部footer
            'topMargin': 10,//側邊nav固定上面距離
            'bottomMargin': 80,//側邊nav固定下面距離
            'sideContW': '.page-side'//側邊side寬度
        };
        scrollNAvFix(fixData);
    }

    function getTag1(Tagid) {
        $("#getTagSrc1_1").find("#Tagid").val(Tagid);
        $("#getTagSrc1_1").submit();
    }

    function getTag2(Tagid) {
        $("#getTagSrc1_2").find("#Tagid").val(Tagid);
        $("#getTagSrc1_2").submit();
    }

    function goCont(Id, Kind) {
        //$('#goCont').find("#Id").val(Id);
        //$('#goCont').find("#Kind").val(Kind);
        //$('#goCont').submit();
        var Lang = getCookie("CacheLang");

        top.location.href = "/" + Lang+ "/History/HistoryCont?Id=" + Id + "&Kind=" + Kind;
    }
</script>
<script src="~/js/timeline_list.js"></script>