﻿@model DataAccess.Domain.History.Book_ExdReaderContent

@{

}
<div class="page-top-area">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index", "Home")">@GlobalRes.History_ihead1</a><span>/</span>
            <div class="act-page">@(Model.Kind == 1? GlobalRes.History_authorlist : GlobalRes.History_extendreader)</div>
        </div>
    </div>
</div>
<div class="inner-single-page">
    <div class="main-cont">
        <h2 class="page-tit">@Model.Name_tw</h2>
        <div class="edit-area">
            <div class="edit-box">
                @Html.Raw(Model.Content_tw)
            </div>
        </div>
    </div>
</div>
<script>$(document).ready(function(){
  	//時間軸
  	var historyTimelineSwiper = new Swiper('#historyTimelineSwiper', {
  		//- speed: 400,
  		//- spaceBetween: 100
  		autoHeight: true,
  		navigation: {
  			nextEl: '#timeLineN',
  			prevEl: '#timeLineP',
  		},
  	});
  	//時區導論
  	var historyTimeSwiper = new Swiper('#historyTimeSwiper', {
  		//- speed: 400,
  		//- spaceBetween: 100
  		slidesPerView: 4,
  		//- spaceBetween: 0,
  		loop: true,
  		autoHeight: true,
  		breakpoints: {
  			768: {
  				slidesPerView: 3
  			},
  			600: {
  				slidesPerView: 2
  			},
  			414: {
  				slidesPerView: 1
  			},
  		},
  		navigation: {
  			nextEl: '#hisTimeN',
  			prevEl: '#hisTimeP',
  		},
  	});
  });</script>
