﻿@model DataAccess.Domain.History.HistoryDomainModel

@{
    int changeIndexOfPage = -1, changeTimeIndexOfPage = -1;

    if (Model.part1 != null && Model.part1.Count > 0)
    {
        for (int i = 0; i < Model.part1.Count; i++)
        {
            if (Model.NowLid != 0 && Model.part1[i].Lid == Model.NowLid)
            {
                changeIndexOfPage = i;
                break;
            }
        }
    }

    if (Model.part2 != null && Model.part2.Count > 0)
    {
        for (int i = 0; i < Model.part2.Count; i++)
        {
            if (Model.part2[i].LIid == Model.NowLIid)
            {
                ViewBag.TimeName = Model.part2[i].Name_tw;
                changeTimeIndexOfPage = i;
                break;
            }
        }
    }

    ViewBag.Action = "HistoryCont";
}

<div class="page-top-area">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index", "Home")">@GlobalRes.History_ihead1</a><span>/</span><a href="@Url.Action("HistoryList", "History")">@GlobalRes.History_ihead2</a><span>/</span>
            <div class="act-page">@ViewBag.TimeName</div>
        </div>
    </div>
</div>
<div class="inner-single-page">
    <div class="main-cont">
        <!-- 搜尋框框先隱藏 -->
        <!-- <div class="creat-src-box">
            <div class="creat-src">
                <input id="searchkey" type="text" name="" placeholder="@GlobalRes.History_search" value="@ViewBag.Key" />
            </div>
            <div class="creat-src-btn"><i class="fas fa-search"></i>@GlobalRes.History_search_btn</div>
        </div> -->
        <div class="history-timeline-area">
            <div class="history-timeline-tit-box">
                <h2>@ViewBag.TimeName</h2><a class="back-btn" href="@Url.Action("HistoryList", "History")"><i class="far fa-angle-left"></i> @GlobalRes.History_back1</a>
            </div>
            <div class="history-timeline-area">
                <div id="timelineArea" style="width: 100%; height: 600px"></div>
            </div>
            <div class="history-time-swiper-box">
                <div class="swiper-container history-time-swiper" id="historyTimeSwiper">
                    <div class="swiper-wrapper">
                        @if (Model.part2 != null && Model.part2.Count > 0)
                        {
                            foreach (var d in Model.part2)
                            {
                                <div class="swiper-slide @(d.Content_tw!=null?"act":"")">
                                    <a class="literary-box" href="javascript:goCont(@d.LIid,2)">
                                        <div class="literary-img" style="background:url(@(d.Pic_tw==null||d.Pic_tw.Length<=0?"/img/default_src.jpg":d.Pic_tw)) no-repeat center center/cover;"></div>
                                        <div class="literary-tit"><span class="tit">@d.Name_tw</span><span class="date">@d.Start - @d.End</span></div>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="swiper-button-prev" id="hisTimeP"><i class="fas fa-angle-left"></i></div>
                <div class="swiper-button-next" id="hisTimeN"><i class="fas fa-angle-right"></i></div>
            </div>
            @if (Model.part2 != null && Model.part2.Count > 0)
            {
                foreach (var d in Model.part2)
                {
                    if (d.Content_tw != null)
                    {

                        <div class="history-tit">
                            <h3 class="page-tit">@d.Name_tw</h3>
                            @if (d.Pdf_url != null && d.Pdf_url.Length > 0)
                            {
                                <a class="down-btn" href="@d.Pdf_url" target="_blank"><i class="fad fa-file-pdf"></i> @(d.Pdf_url.Substring(d.Pdf_url.LastIndexOf("/")+1))</a>
                            }
                        </div>
                        <div class="history-tag-list">
                            @if (d.tags != null && d.tags.Count > 0)
                            {
                                foreach (var a in d.tags)
                                {
                                    <a href="javascript:getTag(@a.Tagid)">#@((Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")? a.Name_tw : a.Name_en)</a>
                                }
                            }
                        </div>
                        <div class="edit-area">
                            <div class="edit-box">
                                @Html.Raw(d.Content_tw)
                            </div>
                            <div class="btn-area"><a class="btn" href="@Url.Action("HistoryList", "History")"><i class="far fa-angle-left"></i> <span>@GlobalRes.History_back1</span></a></div>
                        </div>
                        <div class="more-article-link-area">
                            <div class="more-article-link-box">
                                <div class="more-article-link-tit">@GlobalRes.History_authorlist</div>
                                <div class="book-link">
                                    @if (d.books != null && d.books.Count > 0)
                                    {
                                        foreach (var book in d.books)
                                        {
                                            <a href="javascript:goPort(@book.Authorid)"><i class="fal fa-book"></i><span>@book.AuthorName @book.BookName（@book.publishtime）</span></a>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="more-article-link-box">
                                <div class="more-article-link-tit">@GlobalRes.History_extendreader</div>
                                <div class="more-link">
                                    @if (d.exdreaders != null && d.exdreaders.Count > 0)
                                    {
                                        foreach (var exd in d.exdreaders)
                                        {
                                            <a href="javascript:goMore(@exd.Exid, 2)">@exd.Title_tw</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>

<form id="goCont" method="post" action="@Url.Action("HistoryCont", "History")">
    <input type="hidden" id="Id" name="Id" value="" />
    <input type="hidden" id="Kind" name="Kind" value="" />
</form>
<form id="goMore" target="_blank" method="post" action="@Url.Action("HistoryMore", "History")">
    <input type="hidden" id="Id" name="Id" value="" />
    <input type="hidden" id="Kind" name="Kind" value="" />
</form>
<form id="goPort" target="_blank" method="post" action="@Url.Action("PortfolioList", "History")">
    <input type="hidden" id="Authorid" name="Authorid" value="" />
</form>
<form id="searchform" action="@Url.Action("searchPage", "History")" method="post">
    <input type="hidden" name="action" value="@ViewBag.Action" />
    <input type="hidden" name="userKeyWord" id="keyWord" value="@ViewBag.Key" />
</form>
<form id="getTag" action="@Url.Action("HistorySrcTagList2", "History")" method="post">
    <input type="hidden" name="Tagid" id="Tagid" value="" />
</form>
<script src="~/js/timeline_cont.js"></script>
<script>
    $(document).ready(function () {
        $(".creat-src-btn").on("click", function (e) {
            var key = $("#searchkey").val();

            if (key) {
                $("#searchform").find("#keyWord").val(key);
                $("#searchform").submit();
            } else
                alertTxt(@((Request.Cookies["CacheLang"] == null || Request.Cookies["CacheLang"].Value == "zh")? Html.Raw("'請輸入關鍵字'"): Html.Raw("'Please enter search keywords.'")));
        });

        //時區導論
        var historyTimeSwiper = new Swiper('#historyTimeSwiper', {
            //- speed: 400,
            //- spaceBetween: 100
            slidesPerView: 4,
            //- spaceBetween: 0,
            //loop: true,
            autoHeight: true,
            breakpoints: {
                768: {
                    slidesPerView: 3
                },
                600: {
                    slidesPerView: 2
                },
                414: {
                    slidesPerView: 1
                },
            },
            navigation: {
                nextEl: '#hisTimeN',
                prevEl: '#hisTimeP',
            },
        });

        var tgSlide = document.querySelectorAll('.swiper-slide');
        for(let i = 0; i < tgSlide.length; i++){
            var tgClassName = tgSlide[i].className;
            if( tgClassName === 'swiper-slide act'){
                historyTimeSwiper.slideTo(i);
            }
        }
    });
    function getTag(Tagid) {
        $("#getTag").find("#Tagid").val(Tagid);
        $("#getTag").submit();
    }
    function goCont(Id, Kind) {
        //$('#goCont').find("#Id").val(Id);
        //$('#goCont').find("#Kind").val(Kind);
        //$('#goCont').submit();
        var Lang = getCookie("CacheLang");
        top.location.href = "/" + Lang + "/History/HistoryCont?Id=" + Id + "&Kind=" + Kind;
    }
    function goMore(Id, Kind) {
        //$('#goMore').find("#Id").val(Id);
        //$('#goMore').find("#Kind").val(Kind);
        //$('#goMore').submit();
        //top.location.href = "/History/HistoryMore?Id=" + Id + "&Kind=" + Kind;
        var Lang = getCookie("CacheLang");
        window.open("/" + Lang + "/History/HistoryMore?Id=" + Id + "&Kind=" + Kind);
    }
    function goPort(Authorid) {
        //$('#goPort').find("#Authorid").val(Authorid);
        //$('#goPort').submit();
        //top.location.href = "/History/PortfolioList?Authorid=" + Authorid;
        var Lang = getCookie("CacheLang");
        window.open("/" + Lang + "/History/PortfolioList?Authorid=" + Authorid);
    }
</script>
