﻿@model DataAccess.Domain.History.Portfolio

@{

}

<div class="page-top-area">
    <div class="main-cont">
        <div class="bread-box">
            <a href="@Url.Action("Index", "Home")">@GlobalRes.Port_head1</a><span>/</span>
            <div class="act-page">@GlobalRes.Port_head2</div>
        </div>
    </div>
</div>
<div class="inner-single-page">
    <div class="main-cont">
        <div class="portfolio-tit-box">
            <div class="portfolio-img" style="background: url(@(Model.pic==null||Model.pic.Length<=0?"/img/default_src.jpg":Model.pic)) no-repeat center center/cover"></div>
            <div class="portfolio-info">
                <div class="tit">@GlobalRes.Port_Author</div>
                <div class="name">@Model.authorName</div>
            </div>
        </div>
        <div class="portfolio-list-box">
            <p>@Model.editor</p>
            <ul class="portfolio-list">
                <li class="tit">
                    <div><span>@GlobalRes.Port_Books</span></div>
                    <div>@GlobalRes.Port_Time</div>
                </li>
                @if (Model.books != null && Model.books.Count > 0)
                {
                    foreach (var d in Model.books)
                    {
                        <li>
                            <div><i class="fal fa-book"></i>@d.BookName</div>
                            <div>@d.publishtime</div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

    });
</script>